Repository KratosMultiphysics/Kratos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KratosMultiphysics/technical-committee, @KratosMultiphysics/mpi, @KratosMultiphysics/linearsolvers, @KratosMultiphysics/structural-mechanics, @KratosMultiphysics/fluid-maintainers, @KratosMultiphysics/cosimulation, @KratosMultiphysics/meshmoving, @KratosMultiphysics/dem, @KratosMultiphysics/optimization, @KratosMultiphysics/potential-flow-team, @KratosMultiphysics/chimera, @KratosMultiphysics/nurbs-breps, @KratosMultiphysics/hdf5-application, @KratosMultiphysics/uncertainty-quantification, @KratosMultiphysics/mpm

[StructuralMechanicsApplication] Better classification in header
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
Owners: @KratosMultiphysics/structural-mechanics

adding methods
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

Move to specifications utils
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python/add_variable_utils_to_python.cpp
  kratos/python/add_variable_utils_to_python.h
  kratos/tests/test_specifications_utilities.py
  kratos/tests/test_variable_utils.py
  kratos/utilities/specifications_utilities.cpp
  kratos/utilities/specifications_utilities.h
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Owners: @KratosMultiphysics/fluid-maintainers, @KratosMultiphysics/structural-mechanics, @KratosMultiphysics/technical-committee

Using parallel_utilities
  kratos/utilities/constraint_utilities.cpp
Owners: @KratosMultiphysics/technical-committee

adding operator== to ClosestPointsContainer
  applications/MappingApplication/custom_utilities/closest_points.cpp
  applications/MappingApplication/custom_utilities/closest_points.h
  todo
Owners: @KratosMultiphysics/cosimulation, @KratosMultiphysics/technical-committee

improve cpp-test runscripts
  applications/MappingApplication/tests/run_cpp_mpi_unit_tests.py
  applications/MappingApplication/tests/run_cpp_unit_tests.py
Owners: @KratosMultiphysics/cosimulation

adapted first test
  applications/MappingApplication/tests/cpp_tests/test_barycentric_mapper_aux_classes.cpp
Owners: @KratosMultiphysics/cosimulation

adding initialize
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

GetDofsListFromSpecifications
  kratos/elements/distance_calculation_element_simplex.h
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_specifications_utilities.py
  kratos/utilities/specifications_utilities.cpp
  kratos/utilities/specifications_utilities.h
Owners: @KratosMultiphysics/technical-committee

more tests adapted
  applications/MappingApplication/tests/cpp_tests/test_barycentric_mapper_aux_classes.cpp
Owners: @KratosMultiphysics/cosimulation

Exposed RK1 == ForwardEuler to interface
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/compressible_navier_stokes_explicit_solving_strategy_runge_kutta.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
  applications/FluidDynamicsApplication/tests/test_navier_stokes_compressible_explicit_solver.py
Owners: @KratosMultiphysics/fluid-maintainers

Implemented Edge length computation in higher dimensions
  applications/FluidDynamicsApplication/custom_processes/shock_capturing_entropy_viscosity_process.cpp
Owners: @KratosMultiphysics/fluid-maintainers

Broadcast does not work here as rank to broadcast is not known upfront
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_one_to_many.py
Owners: @KratosMultiphysics/cosimulation

Initialize() ok
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

Revert "Implemented Edge length computation in higher dimensions"
  applications/FluidDynamicsApplication/custom_processes/shock_capturing_entropy_viscosity_process.cpp
Owners: @KratosMultiphysics/fluid-maintainers

Fixed missing comma
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
Owners: @KratosMultiphysics/fluid-maintainers

adding load processes reading
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

Suggestions @pooyan-dadvand
  kratos/utilities/auxiliar_model_part_utilities.cpp
Owners: @KratosMultiphysics/technical-committee

complete initialize solStep
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

adding test for Line interpolation Local System
  applications/MappingApplication/tests/cpp_tests/test_barycentric_mapper_aux_classes.cpp
Owners: @KratosMultiphysics/cosimulation

removed wrongly commited file
  todo
Owners: @KratosMultiphysics/technical-committee

update loads ok
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

adding basic checks
  applications/MappingApplication/custom_mappers/barycentric_mapper.h
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.h
Owners: @KratosMultiphysics/cosimulation

tabulators
  applications/TopologyOptimizationApplication/CMakeLists.txt
  applications/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.cpp
  applications/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.h
  applications/TopologyOptimizationApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/TopologyOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TopologyOptimizationApplication/custom_python/add_custom_utilities_to_python.h
  applications/TopologyOptimizationApplication/custom_python/topology_optimization_python_application.cpp
  applications/TopologyOptimizationApplication/custom_strategies/custom_schemes/residualbased_incrementalupdate_static_simp_scheme.h
  applications/TopologyOptimizationApplication/custom_strategies/structure_adjoint_sensitivity_strategy.h
  applications/TopologyOptimizationApplication/custom_utilities/filter_function.h
  applications/TopologyOptimizationApplication/custom_utilities/io_utilities.h
  applications/TopologyOptimizationApplication/custom_utilities/structure_response_function_utilities.h
  applications/TopologyOptimizationApplication/custom_utilities/topology_filtering_utilities.h
  applications/TopologyOptimizationApplication/custom_utilities/topology_updating_utilities.h
  applications/TopologyOptimizationApplication/topology_optimization_application.cpp
  applications/TopologyOptimizationApplication/topology_optimization_application.h
Owners: none

last tabs
  applications/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.cpp
Owners: none

implementing solvesolutionstep
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

@rubenzorrilla suggestion
  kratos/includes/gid_io.h
Owners: @KratosMultiphysics/technical-committee

more code
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

DOFs list addition
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Owners: @KratosMultiphysics/technical-committee

fixes for mass_conseevation in MPI
  applications/FluidDynamicsApplication/custom_processes/mass_conservation_check_process.cpp
Owners: @KratosMultiphysics/fluid-maintainers

fix
  applications/MappingApplication/custom_utilities/mapper_interface_info.h
Owners: @KratosMultiphysics/cosimulation

almost fully working
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
  applications/MappingApplication/custom_mappers/barycentric_mapper.h
Owners: @KratosMultiphysics/cosimulation

updated test setup
  applications/MappingApplication/tests/test_patch_test_mappers.py
Owners: @KratosMultiphysics/cosimulation

missing input in test
  applications/MappingApplication/tests/test_barycentric_mapper.py
Owners: @KratosMultiphysics/cosimulation

adding some try/catch
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
Owners: @KratosMultiphysics/cosimulation

finished basic version
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

corrections
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

Update kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.cpp
Owners: @KratosMultiphysics/technical-committee

more code
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

more
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

.github/CODEOWNERS:

# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# IMPORTANT: the teams have to have at least write permission in Kratos, otherwise codeowners doesn't work!

/*                    @KratosMultiphysics/technical-committee
/kratos/              @KratosMultiphysics/technical-committee
/.github/             @KratosMultiphysics/technical-committee
/cmake_modules/       @KratosMultiphysics/technical-committee
/external_libraries/  @KratosMultiphysics/technical-committee
/scripts/             @KratosMultiphysics/technical-committee
/kratos/mpi           @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi

# Applications
/applications/TrilinosApplication/                     @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi
/applications/MetisApplication/                        @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi
/applications/LinearSolversApplication/                @KratosMultiphysics/technical-committee @KratosMultiphysics/linearsolvers
/applications/StructuralMechanicsApplication/          @KratosMultiphysics/structural-mechanics
/applications/ConstitutiveLawsApplication/             @KratosMultiphysics/structural-mechanics
/applications/ContactStructuralMechanicsApplication/   @KratosMultiphysics/structural-mechanics
/applications/FluidDynamicsApplication/                @KratosMultiphysics/fluid-maintainers
/applications/ConvectionDiffusionApplication           @KratosMultiphysics/fluid-maintainers
/applications/MappingApplication/                      @KratosMultiphysics/cosimulation
/applications/CoSimulationApplication/                 @KratosMultiphysics/cosimulation
/applications/MeshMovingApplication/                   @KratosMultiphysics/meshmoving
/applications/DEMApplication/                          @KratosMultiphysics/dem
/applications/SwimmingDEMApplication/                  @KratosMultiphysics/dem
/applications/ShapeOptimizationApplication/            @KratosMultiphysics/optimization
/applications/CompressiblePotentialFlowApplication/    @KratosMultiphysics/potential-flow-team
/applications/ChimeraApplication/                      @KratosMultiphysics/chimera
/applications/IgaApplication/                          @KratosMultiphysics/nurbs-breps
/applications/HDF5Application/                         @KratosMultiphysics/hdf5-application
/applications/MultilevelMonteCarloApplication/         @KratosMultiphysics/uncertainty-quantification 
/applications/ParticleMechanicsApplication/            @KratosMultiphysics/mpm
