Repository KratosMultiphysics/Kratos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KratosMultiphysics/technical-committee, @KratosMultiphysics/mpi, @KratosMultiphysics/linearsolvers, @KratosMultiphysics/structural-mechanics, @KratosMultiphysics/fluid-maintainers, @KratosMultiphysics/cosimulation, @KratosMultiphysics/meshmoving, @KratosMultiphysics/dem, @KratosMultiphysics/optimization, @KratosMultiphysics/potential-flow-team, @KratosMultiphysics/chimera, @KratosMultiphysics/nurbs-breps, @KratosMultiphysics/hdf5-application, @KratosMultiphysics/uncertainty-quantification, @KratosMultiphysics/mpm

remove includes
  applications/TopologyOptimizationApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/TopologyOptimizationApplication/custom_python/add_custom_strategies_to_python.h
  applications/TopologyOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TopologyOptimizationApplication/custom_python/add_custom_utilities_to_python.h
  applications/TopologyOptimizationApplication/custom_strategies/custom_schemes/residualbased_incrementalupdate_static_simp_scheme.h
  applications/TopologyOptimizationApplication/custom_strategies/structure_adjoint_sensitivity_strategy.h
  applications/TopologyOptimizationApplication/custom_utilities/filter_function.h
  applications/TopologyOptimizationApplication/custom_utilities/io_utilities.h
  applications/TopologyOptimizationApplication/custom_utilities/structure_response_function_utilities.h
  applications/TopologyOptimizationApplication/custom_utilities/topology_filtering_utilities.h
  applications/TopologyOptimizationApplication/custom_utilities/topology_updating_utilities.h
  applications/TopologyOptimizationApplication/topology_optimization_application.cpp
  applications/TopologyOptimizationApplication/topology_optimization_application.h
Owners: none

configure
  scripts/standard_configure.sh
Owners: @KratosMultiphysics/technical-committee

fix for data_comm
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_one_to_many.py
Owners: @KratosMultiphysics/cosimulation

advancing
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

Ups, fix
  kratos/utilities/constraint_utilities.cpp
Owners: @KratosMultiphysics/technical-committee

more arc length
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

@philbucher suggestions
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Owners: @KratosMultiphysics/technical-committee

minor error
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

Remove virtual
  kratos/geometries/geometry.h
Owners: @KratosMultiphysics/technical-committee

Missing const in explicit instantiation
  kratos/utilities/specifications_utilities.cpp
Owners: @KratosMultiphysics/technical-committee

details
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

[ContactStructuralMechanicsApplication] Update includes
  applications/ContactStructuralMechanicsApplication/custom_processes/master_slave_process.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/line_search_contact_strategy.h
Owners: @KratosMultiphysics/structural-mechanics

Update quadrilaterals
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/geometries/quadrilateral_interface_3d_4.h
Owners: @KratosMultiphysics/technical-committee

Update sphere
  kratos/geometries/sphere_3d_1.h
Owners: @KratosMultiphysics/technical-committee

Copy paste error
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
Owners: @KratosMultiphysics/technical-committee

Triangle update
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_2d_6.h
  kratos/geometries/triangle_3d_3.h
  kratos/geometries/triangle_3d_6.h
Owners: @KratosMultiphysics/technical-committee

started with approximations
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

Visibilitty warning
  kratos/utilities/specifications_utilities.cpp
Owners: @KratosMultiphysics/technical-committee

Revert undesired change
  kratos/tests/test_variable_utils.py
Owners: @KratosMultiphysics/technical-committee

Revert undesired change
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.h
Owners: @KratosMultiphysics/technical-committee

Final clean up
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  kratos/python_scripts/python_solver.py
Owners: @KratosMultiphysics/fluid-maintainers, @KratosMultiphysics/technical-committee

rename and add var
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
Owners: none

WIP superconvergent gradient
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.h
Owners: none

Remove unused test
  kratos/tests/cpp_tests/geometries/test_quadrilateral_2d_8.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_2d_3.cpp
Owners: @KratosMultiphysics/technical-committee

Deprecate old solvers and wrapper
  applications/RomApplication/python_scripts/convection_diffusion_stationary_rom_solver.py
  applications/RomApplication/python_scripts/convection_diffusion_transient_rom_solver.py
  applications/RomApplication/python_scripts/navier_stokes_solver_vmsmonolithic_rom.py
  applications/RomApplication/python_scripts/python_solvers_wrapper_rom.py
  applications/RomApplication/python_scripts/structural_mechanics_implicit_dynamic_rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_static_rom_solver.py
Owners: none

New generic ROM solver
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
  applications/RomApplication/python_scripts/rom_analysis.py
  applications/RomApplication/python_scripts/rom_solver.py
Owners: none

wall_distance and nut_utility
  applications/RANSApplication/custom_processes/ranschimera_wall_distance_calculation_process.cpp
  applications/RANSApplication/custom_utilities/rans_nut_utility.cpp
  applications/RANSApplication/python_scripts/formulations/rans_formulation.py
Owners: none

working surface approximation
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

adding copy ctors
  applications/MappingApplication/custom_utilities/closest_points.cpp
  applications/MappingApplication/custom_utilities/closest_points.h
  applications/MappingApplication/tests/cpp_tests/test_closest_points.cpp
Owners: @KratosMultiphysics/cosimulation

minor syntax fix
  applications/MappingApplication/tests/blade_mapping_test.py
  applications/MappingApplication/tests/test_barycentric_mapper.py
Owners: @KratosMultiphysics/cosimulation

minor style
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

adding PointsAreCollinear
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
Owners: @KratosMultiphysics/cosimulation

interpolation for tetra working
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

properly check for approximations
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

adding ref results
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLineSwitchedSides_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLineSwitchedSides_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLineSwitchedSides_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLineSwitchedSides_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLine_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLine_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLine_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsLine_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurfaceSwitchedSides_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurfaceSwitchedSides_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurfaceSwitchedSides_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurfaceSwitchedSides_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurface_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurface_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurface_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurface_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolumeSwitchedSides_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolumeSwitchedSides_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolumeSwitchedSides_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolumeSwitchedSides_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolume_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolume_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolume_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsVolume_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/balde_map_disp.json
  applications/MappingApplication/tests/result_files/barycentric/balde_map_force.json
  applications/MappingApplication/tests/result_files/barycentric/balde_map_force_conserv.json
Owners: @KratosMultiphysics/cosimulation

updated readme
  applications/MappingApplication/README.md
Owners: @KratosMultiphysics/cosimulation

updated tests
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurfaceSwitchedSides_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurfaceSwitchedSides_map_vector.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurface_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/barycentric/BasicTestsSurface_inverse_map_vector.json
  applications/MappingApplication/tests/test_barycentric_mapper.py
Owners: @KratosMultiphysics/cosimulation

skipping old tests for now
  applications/MappingApplication/tests/cpp_tests/test_barycentric_mapper_aux_classes.cpp
Owners: @KratosMultiphysics/cosimulation

creating arc_length_settings
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Owners: @KratosMultiphysics/structural-mechanics

optimizing OpenMP
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

.github/CODEOWNERS:

# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# IMPORTANT: the teams have to have at least write permission in Kratos, otherwise codeowners doesn't work!

/*                    @KratosMultiphysics/technical-committee
/kratos/              @KratosMultiphysics/technical-committee
/.github/             @KratosMultiphysics/technical-committee
/cmake_modules/       @KratosMultiphysics/technical-committee
/external_libraries/  @KratosMultiphysics/technical-committee
/scripts/             @KratosMultiphysics/technical-committee
/kratos/mpi           @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi

# Applications
/applications/TrilinosApplication/                     @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi
/applications/MetisApplication/                        @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi
/applications/LinearSolversApplication/                @KratosMultiphysics/technical-committee @KratosMultiphysics/linearsolvers
/applications/StructuralMechanicsApplication/          @KratosMultiphysics/structural-mechanics
/applications/ConstitutiveLawsApplication/             @KratosMultiphysics/structural-mechanics
/applications/ContactStructuralMechanicsApplication/   @KratosMultiphysics/structural-mechanics
/applications/FluidDynamicsApplication/                @KratosMultiphysics/fluid-maintainers
/applications/ConvectionDiffusionApplication           @KratosMultiphysics/fluid-maintainers
/applications/MappingApplication/                      @KratosMultiphysics/cosimulation
/applications/CoSimulationApplication/                 @KratosMultiphysics/cosimulation
/applications/MeshMovingApplication/                   @KratosMultiphysics/meshmoving
/applications/DEMApplication/                          @KratosMultiphysics/dem
/applications/SwimmingDEMApplication/                  @KratosMultiphysics/dem
/applications/ShapeOptimizationApplication/            @KratosMultiphysics/optimization
/applications/CompressiblePotentialFlowApplication/    @KratosMultiphysics/potential-flow-team
/applications/ChimeraApplication/                      @KratosMultiphysics/chimera
/applications/IgaApplication/                          @KratosMultiphysics/nurbs-breps
/applications/HDF5Application/                         @KratosMultiphysics/hdf5-application
/applications/MultilevelMonteCarloApplication/         @KratosMultiphysics/uncertainty-quantification 
/applications/ParticleMechanicsApplication/            @KratosMultiphysics/mpm
