Repository KratosMultiphysics/Kratos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KratosMultiphysics/technical-committee, @KratosMultiphysics/mpi, @KratosMultiphysics/linearsolvers, @KratosMultiphysics/structural-mechanics, @KratosMultiphysics/fluid-maintainers, @KratosMultiphysics/cosimulation, @KratosMultiphysics/meshmoving, @KratosMultiphysics/dem, @KratosMultiphysics/optimization, @KratosMultiphysics/potential-flow-team, @KratosMultiphysics/chimera, @KratosMultiphysics/nurbs-breps, @KratosMultiphysics/hdf5-application, @KratosMultiphysics/uncertainty-quantification, @KratosMultiphysics/mpm

Minor simplification
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
Owners: none

Minor simplification
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
Owners: none

update neighbors patch
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.h
Owners: none

Using isinstance
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
Owners: none

removing spaces SRRY
  kratos/python/add_strategies_to_python.cpp
Owners: @KratosMultiphysics/technical-committee

adding Ignasi and comment
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

destructor default
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

initialize in base class only
  kratos/solving_strategies/strategies/arc_length_strategy.h
Owners: @KratosMultiphysics/technical-committee

fixed compiler warnings
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

moved some tests to nightly
  applications/MappingApplication/tests/test_MappingApplication.py
  applications/MappingApplication/tests/test_MappingApplication_mpi.py
Owners: @KratosMultiphysics/cosimulation

moving unique_ptr
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

add total volume computation to geometry utilities
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
Owners: @KratosMultiphysics/optimization

add total_volume response function
  applications/ShapeOptimizationApplication/python_scripts/response_functions/total_volume.py
Owners: @KratosMultiphysics/optimization

expose to factory
  applications/ShapeOptimizationApplication/python_scripts/response_functions/response_function_factory.py
Owners: @KratosMultiphysics/optimization

fix for clang
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
Owners: @KratosMultiphysics/cosimulation

minor
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
Owners: @KratosMultiphysics/optimization

skip first iteration remeshing
  applications/ShapeOptimizationApplication/python_scripts/mesh_controllers/mesh_controller_with_solver.py
Owners: @KratosMultiphysics/optimization

Fix syntax
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
Owners: none

remove duplicated headers
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
Owners: @KratosMultiphysics/optimization

issue with self.optimization_utilities.ComputeMaxNormOfNodalVariable(g_a_variable)
  applications/ShapeOptimizationApplication/custom_python/shape_optimization_python_application.cpp
  applications/ShapeOptimizationApplication/python_scripts/algorithm_relaxed_gradient_projection.py
  applications/ShapeOptimizationApplication/python_scripts/data_logger_factory.py
  applications/ShapeOptimizationApplication/python_scripts/value_logger_relaxed_gradient_projection.py
  applications/ShapeOptimizationApplication/shape_optimization_application.cpp
  applications/ShapeOptimizationApplication/shape_optimization_application.h
Owners: @KratosMultiphysics/optimization

add test for derivatives
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/tests/cpp_tests/test_gradient_recovery_utilities.cpp
Owners: none

python exposure
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
Owners: @KratosMultiphysics/optimization

add test
  applications/ShapeOptimizationApplication/tests/total_volume/test_total_volume_response.py
Owners: @KratosMultiphysics/optimization

helper classes now get the data comm of the parent / owning coupled solver
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupling_operation.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_data_transfer_operator.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/convergence_accelerator_wrapper.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/convergence_criteria_wrapper.py
Owners: @KratosMultiphysics/cosimulation

adapting factories
  applications/CoSimulationApplication/python_scripts/factories/convergence_accelerator_factory.py
  applications/CoSimulationApplication/python_scripts/factories/coupling_operation_factory.py
  applications/CoSimulationApplication/python_scripts/factories/data_transfer_operator_factory.py
  applications/CoSimulationApplication/python_scripts/factories/helpers.py
Owners: @KratosMultiphysics/cosimulation

passing data comm
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
Owners: @KratosMultiphysics/cosimulation

adapting derived classes
  applications/CoSimulationApplication/python_scripts/coupling_operations/scaling.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_single_to_distributed.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/sum_distributed_to_single.py
Owners: @KratosMultiphysics/cosimulation

adapting tests
  applications/CoSimulationApplication/tests/test_convergence_accelerators.py
  applications/CoSimulationApplication/tests/test_coupling_operations.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
Owners: @KratosMultiphysics/cosimulation

bug fix
  applications/ShapeOptimizationApplication/python_scripts/algorithm_relaxed_gradient_projection.py
Owners: @KratosMultiphysics/optimization

change to geoemtry type check
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
Owners: @KratosMultiphysics/optimization

add maxx factor to fluid adjoint element
  applications/FluidDynamicsApplication/custom_elements/fluid_adjoint_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_adjoint_element.h
Owners: @KratosMultiphysics/fluid-maintainers

add mass factor to qsvms adjoints
  applications/FluidDynamicsApplication/custom_elements/data_containers/qs_vms/qs_vms_residual_derivatives.h
Owners: @KratosMultiphysics/fluid-maintainers

Fix fix syntax
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
Owners: none

fix derivative index
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
Owners: none

old version adaptation
  applications/ShapeOptimizationApplication/python_scripts/algorithm_relaxed_gradient_projection.py
Owners: @KratosMultiphysics/optimization

missing buffer step
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
Owners: none

bugfix - memory error
  kratos/modeler/connectivity_preserve_modeler.cpp
Owners: @KratosMultiphysics/technical-committee

runing version
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.h
  applications/ShapeOptimizationApplication/python_scripts/algorithm_relaxed_gradient_projection.py
Owners: @KratosMultiphysics/optimization

add laplacian
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.h
Owners: none

Fix order
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
Owners: @KratosMultiphysics/cosimulation

.github/CODEOWNERS:

# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# IMPORTANT: the teams have to have at least write permission in Kratos, otherwise codeowners doesn't work!

/*                    @KratosMultiphysics/technical-committee
/kratos/              @KratosMultiphysics/technical-committee
/.github/             @KratosMultiphysics/technical-committee
/cmake_modules/       @KratosMultiphysics/technical-committee
/external_libraries/  @KratosMultiphysics/technical-committee
/scripts/             @KratosMultiphysics/technical-committee
/kratos/mpi           @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi

# Applications
/applications/TrilinosApplication/                     @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi
/applications/MetisApplication/                        @KratosMultiphysics/technical-committee @KratosMultiphysics/mpi
/applications/LinearSolversApplication/                @KratosMultiphysics/technical-committee @KratosMultiphysics/linearsolvers
/applications/StructuralMechanicsApplication/          @KratosMultiphysics/structural-mechanics
/applications/ConstitutiveLawsApplication/             @KratosMultiphysics/structural-mechanics
/applications/ContactStructuralMechanicsApplication/   @KratosMultiphysics/structural-mechanics
/applications/FluidDynamicsApplication/                @KratosMultiphysics/fluid-maintainers
/applications/ConvectionDiffusionApplication           @KratosMultiphysics/fluid-maintainers
/applications/MappingApplication/                      @KratosMultiphysics/cosimulation
/applications/CoSimulationApplication/                 @KratosMultiphysics/cosimulation
/applications/MeshMovingApplication/                   @KratosMultiphysics/meshmoving
/applications/DEMApplication/                          @KratosMultiphysics/dem
/applications/SwimmingDEMApplication/                  @KratosMultiphysics/dem
/applications/ShapeOptimizationApplication/            @KratosMultiphysics/optimization
/applications/CompressiblePotentialFlowApplication/    @KratosMultiphysics/potential-flow-team
/applications/ChimeraApplication/                      @KratosMultiphysics/chimera
/applications/IgaApplication/                          @KratosMultiphysics/nurbs-breps
/applications/HDF5Application/                         @KratosMultiphysics/hdf5-application
/applications/MultilevelMonteCarloApplication/         @KratosMultiphysics/uncertainty-quantification 
/applications/ParticleMechanicsApplication/            @KratosMultiphysics/mpm
