Repository KratosMultiphysics/Kratos, pull requests merged in 2018-05, with the labels that each got.

#1986 [MappingApp] fix compilation after #1752
  applications/MappingApplication/mapping_application.cpp
Labels: applications, compilation, error, hotfix

#1985 [MetisApp] Fix Compilation after #1752
  applications/metis_application/custom_processes/metis_scalar_reorder_process.h
Labels: applications, compilation, error, hotfix

#1983 [StructuralMechanicsApplication] The "moment reactions" are called TORQUE => MOMENT_REACTION
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thin_nonlinear_dynamic_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_isotropic_linear_static_struct_scordelis_lo_roof_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_clamped_cylinder_orthotropic_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_pinched_cylinder_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_pinched_hemisphere_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_scordelis_lo_roof_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_clamped_cylinder_orthotropic_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_pinched_cylinder_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_pinched_hemisphere_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_scordelis_lo_roof_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_dynamic_struct_oscillating_plate_lumped_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_dynamic_struct_oscillating_plate_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_dynamic_unstruct_oscillating_plate_lumped_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_dynamic_unstruct_oscillating_plate_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_static_struct_hinged_cyl_roof_snapthrough_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_static_unstruct_hinged_cyl_roof_snapthrough_parameters.json
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
  applications/StructuralMechanicsApplication/tests/test_loading_conditions_line.py
  applications/StructuralMechanicsApplication/tests/test_loading_conditions_point.py
  applications/StructuralMechanicsApplication/tests/test_mass_calculation.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_cr_beam.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_shells.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_shells_orthotropic.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_shells_stress.py
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.py
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/sources/variables.cpp
Labels: applications, cleanup, typo

#1987 [Core] enhance compare process
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test_adjoint_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/mpi_cylinder_test_adjoint_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/mpi_cylinder_test_parameters.json
  kratos/python_interface/kratos_utilities.py
  kratos/python_scripts/compare_two_files_check_process.py
  kratos/python_scripts/compare_two_point_output_files_mpi_process.py
  kratos/python_scripts/compare_two_point_output_files_process.py
Labels: cleanup, duplicate, enhancement, test

#1976 Improvement of response functin interface
  applications/EigenSolversApplication/custom_solvers/eigensystem_solver.h
  applications/ShapeOptimizationApplication/python_scripts/analyzer_internal.py
  applications/ShapeOptimizationApplication/test_examples/04_Eigenfrequency_Maximization_3D_Cantilever/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_weighted_eigenfrequency_test/shape_change_results.json
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/eigenfrequency_response_function_utility.h
  applications/StructuralMechanicsApplication/python_scripts/structural_response.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
Labels: cleanup, enhancement

#1988 [Pybind] update required version Intel compiler
  external_libraries/pybind11/detail/common.h
Labels: compilation

#1990 Adding missing overrides
  applications/ShallowWaterApplication/custom_conditions/nothing_condition.hpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.hpp
  applications/ShallowWaterApplication/shallow_water_application.h
Labels: c++, cleanup, warning

#2004 [EigenSolversApp] Removing leftover boost python include
  applications/EigenSolversApplication/custom_python/eigen_solvers_python_application.cpp
Labels: applications, cleanup

#1942 using new matrix aliases, removing ublas.
  applications/ThermoMechanicalApplication/custom_elements/Poisson_3d.cpp
  applications/ThermoMechanicalApplication/custom_elements/Poisson_3d.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_2d.cpp
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_2d.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_3d.cpp
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_3d.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_3d_levelset.cpp
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_3d_levelset.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_diff_2d.cpp
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_diff_2d.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_diff_3d.cpp
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_diff_3d.h
  applications/ThermoMechanicalApplication/custom_elements/environment_contact.cpp
  applications/ThermoMechanicalApplication/custom_elements/environment_contact.h
  applications/ThermoMechanicalApplication/custom_elements/heat_contact_2d.cpp
  applications/ThermoMechanicalApplication/custom_elements/heat_contact_2d.h
  applications/ThermoMechanicalApplication/custom_elements/heat_contact_3d.cpp
  applications/ThermoMechanicalApplication/custom_elements/heat_contact_3d.h
  applications/ThermoMechanicalApplication/custom_elements/thermal_face2d.cpp
  applications/ThermoMechanicalApplication/custom_elements/thermal_face2d.h
  applications/ThermoMechanicalApplication/custom_elements/thermal_face3d.cpp
  applications/ThermoMechanicalApplication/custom_elements/thermal_face3d.h
  applications/ThermoMechanicalApplication/custom_utilities/biphasic_filling_utilities.h
  applications/ThermoMechanicalApplication/custom_utilities/estimate_time_step.h
  applications/ThermoMechanicalApplication/custom_utilities/particle_levelset_utilities.h
Labels: cleanup

#2005 Core/hotfix issue 1997
  applications/DamApplication/python_scripts/gid_dam_output_process.py
  applications/FluidDynamicsApplication/test_examples/cyl_bench/run_test.py
  applications/trilinos_application/custom_python/add_custom_utilities_to_python.cpp
  applications/trilinos_application/custom_utilities/trilinos_cutting_app.h
  applications/trilinos_application/python_scripts/gid_output_process_mpi.py
  applications/trilinos_application/python_scripts/trilinos_gid_output.py
  kratos/python/add_utilities_to_python.cpp
  kratos/python_scripts/gid_output.py
  kratos/python_scripts/gid_output_process.py
  kratos/utilities/cutting_utility.h
Labels: bug

#1948 [Core] Bugfix StructuredMeshGenerator
  kratos/processes/structured_mesh_generator_process.cpp
  kratos/tests/processes/test_structured_mesh_generator_process.cpp
Labels: bug, kratos core

#2021 [Core][Minor] Mortar additional check
  kratos/includes/mortar_classes.h
Labels: hotfix, kratos core

#2003 [Core] Replacing boost::hash_combine
  kratos/includes/key_hash.h
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
Labels: cleanup, external library, kratos core

#2025 [StructuralMechanics] Adding ShellToSolid process tests to correct suite
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_shell_to_solid_shell_process.cpp
Labels: applications, test

#1962 [Core] Strategies Improvements
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
  kratos/utilities/timer.h
Labels: cleanup, kratos core

#2034 [Core][Pybind11] Reverting deactivation ResidualBasedBDFCustomScheme
  kratos/python/add_strategies_to_python.cpp
Labels: c++, kratos core, python

#2036 Splitted some functions in TL element.
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.h
Labels: cleanup

#2001 [Core] Replacing std::unordered_map
  kratos/containers/pointer_hash_map_set.h
  kratos/includes/model_part.h
  kratos/processes/check_skin_process.h
  kratos/processes/tetrahedral_mesh_orientation_check.h
Labels: STL, c++, cleanup, external library, kratos core

#2051 [MeshMoving] Explicit mesh movement utility
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_fm_ale_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/tests/embedded_couette_test.py
  applications/MeshMovingApplication/CMakeLists.txt
  applications/MeshMovingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshMovingApplication/custom_utilities/explicit_mesh_moving_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/explicit_mesh_moving_utilities.h
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.h
  applications/MeshMovingApplication/tests/cpp_tests/test_explicit_mesh_movement_utility.cpp
  kratos/python/add_utilities_to_python.cpp
  kratos/spatial_containers/configures/node_configure.h
  kratos/spatial_containers/point_search.h
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: applications

#1909 [StructuralMechanics] Updating AnalysisStage Class
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/restart_tests.py
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
Labels: applications, enhancement

#2065 [ContactStructuralMechanicsApplication][Hotfix] Correcting analysis stage
  applications/ContactStructuralMechanicsApplication/custom_linear_solvers/mixedulm_linear_solver.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/tests/contact_structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: applications, hotfix

#1978 Added SolveSolutionStep() to EigenSolverStrategy
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_central_differences_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/harmonic_analysis_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/mechanical_explicit_strategy.hpp
Labels: applications, cleanup

#2078 Removing a few includes of line_2d.h.
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/StabilizedCFDApplication/stabilized_cfd_application.cpp
  applications/ThermoMechanicalApplication/thermo_mechanical_application.cpp
Labels: c++, cleanup

#2074 Adapting the harmonic analysis test to the new AnalysisStage structure
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
Labels: hotfix

#2079 Fix Rayleigh damping for the harmonic analysis
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/harmonic_analysis_strategy.hpp
Labels: bug, hotfix

#2089 [Core] removing compiler warning
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
Labels: cleanup, compilation, kratos core

#2087 Unlock window max size
  applications/DEM_application/custom_problemtype/DEMpack/C-DEMPack/kratos.gid/wizards/compressiontest/compressiontest_body.tcl
Labels: bug

#2076 [Core][Duplication] Adding deprecated message on line_2d.h
  kratos/geometries/line_2d.h
  kratos/includes/define.h
  kratos/sources/variables.cpp
Labels: duplicate, kratos core, warning

#2080 Remove wind turbine application
  applications/CMakeLists.txt
  applications/applications_interface.py
  applications/wind_turbine_application/CMakeLists.txt
  applications/wind_turbine_application/Makefile
  applications/wind_turbine_application/WindTurbineApplication.py
  applications/wind_turbine_application/custom_python/add_custom_strategies_to_python.cpp
  applications/wind_turbine_application/custom_python/add_custom_strategies_to_python.h
  applications/wind_turbine_application/custom_python/add_custom_utilities_to_python.cpp
  applications/wind_turbine_application/custom_python/add_custom_utilities_to_python.h
  applications/wind_turbine_application/custom_python/wind_turbine_python_application.cpp
  applications/wind_turbine_application/custom_utilities/wind_turbine_rotation_utilities.cpp
  applications/wind_turbine_application/custom_utilities/wind_turbine_rotation_utilities.h
  applications/wind_turbine_application/wind_turbine_application.cpp
  applications/wind_turbine_application/wind_turbine_application.h
Labels: applications, cleanup

#2088 [Core] removing unnecessary include in ConvergenceCriteria
  kratos/solving_strategies/convergencecriterias/convergence_criteria.h
Labels: cleanup, compilation, kratos core

#2060 [ContactStructuralMEchanicsApplication]Clean up table stream (transition PR)
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_components_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mesh_tying_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mortar_and_criteria.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  kratos/includes/table_stream.h
  kratos/includes/variables.h
  kratos/python/add_utilities_to_python.cpp
  kratos/sources/variables.cpp
  kratos/utilities/table_stream_utility.h
Labels: applications, cleanup

#2107 Cleaning unnecessary Execute()
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
Labels: applications, cleanup

#2073 [Core]Minor update VariableUtils
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: enhancement, kratos core

#2114 [StructuralMechanicsApplication] Using Logger for Structural Logo
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
Labels: applications, cleanup

#2106 [ParticleMechanicsApplication] Migration to .json and submodels
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/custom_utilities/mpm_boundary_rotation_utility.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_slip_boundary_process.py
  applications/ParticleMechanicsApplication/python_scripts/assign_gravity_to_particle_process.py
  applications/ParticleMechanicsApplication/python_scripts/conditions_python_utility.py
  applications/ParticleMechanicsApplication/python_scripts/mpm_gid_output_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
  applications/SolidMechanicsApplication/solid_mechanics_application.cpp
Labels: applications, enhancement

#2113 [StructuralMechanics] removing old membrane
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
Labels: applications, cleanup

#2090 Removing deprecated methods from math_utils.h
  kratos/utilities/math_utils.h
Labels: cleanup, deprecated, duplicate, kratos core

#2118 [ParticleMechanicsApplication] Including material point ID in variables for visualization
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
Labels: applications

#2112 [StructuralMechanics] Disabling Arc-Length
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_solver.py
Labels: applications, cleanup

#2124 Fluid/feature analysis tests
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_2d.mdpa
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_test_probe1_ref.dat
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_test_probe2_ref.dat
  applications/FluidDynamicsApplication/tests/fluid_analysis_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: python, test

#2131 [ParticleMechanics] Some clean up
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_processes/particle_erase_process.h
  applications/ParticleMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_residual_based_newton_raphson_strategy.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/custom_utilities/quad_binbased_fast_point_locator.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_slip_boundary_process.py
  applications/ParticleMechanicsApplication/python_scripts/assign_gravity_to_particle_process.py
  applications/ParticleMechanicsApplication/python_scripts/mpm_gid_output_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
  applications/ParticleMechanicsApplication/python_scripts/particle_solver.py
Labels: cleanup

#2127 Add dynamic mass sensitivity to TL element
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_total_lagrangian_element_matrices.cpp
  kratos/utilities/integration_utilities.h
Labels: applications, enhancement

#2091 [Core] ModelPart Check for nodes only if Variable was not added yet
  kratos/includes/model_part.h
  kratos/tests/sources/test_model_part.cpp
Labels: c++

#2138 [StructuralMechanicsApplication]Replace print for Logger
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: applications, test

#2139 [Hotfix][ContactStructuralMechanicsApplication]Missing holder for the processes
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
Labels: applications, hotfix

#2140 [MeshingApplication]Setting flags after remeshing
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_uniform_refine_utility.cpp
  applications/MeshingApplication/tests/run_cpp_unit_tests.py
  applications/MeshingApplication/tests/test_MeshingApplication.py
Labels: applications, cleanup, enhancement, external library, test

#2143 Remove unnecessary forward decl
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.h
Labels: applications, warning

#2108 [Core] Adding version check for intel compiler in Cmake
  CMakeLists.txt
Labels: compilation

#2117 [ContactStructuralMechanicsApplication] Custom Predict() for contact
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
Labels: applications, enhancement

#2144 Adding missing init
  kratos/templates/template_application/custom_python/test_python_application.cpp.in
Labels: Release

#2147 [Hotfix]Using correct new name for SurfaceConditions
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
Labels: applications, hotfix, typo

#2150 [ParticleMechanics] Minor changes and clean up
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/python_scripts/mpm_gid_output_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
Labels: applications, cleanup

#2100 [Core] Adding SkinDetectionProcess
  applications/StructuralMechanicsApplication/custom_processes/prism_neighbours_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/prism_neighbours_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  kratos/CMakeLists.txt
  kratos/processes/skin_detection_process.cpp
  kratos/processes/skin_detection_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/coarse_sphere.mdpa
  kratos/tests/test_KratosCore.py
  kratos/tests/test_skin_detection_process.py
Labels: enhancement, kratos core

#2133 [Core] Mortar utilities python export
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/coarse_sphere.mdpa
  kratos/tests/test_mortar_utilities.py
  kratos/utilities/mortar_utilities.h
Labels: enhancement, kratos core, python

#2157 [Hotfix][ContactStructuralMechanicsApplication]Replace PreStressMembraneElement3D4N
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_double_curvature_integration_quadrilateral.mdpa
Labels: applications, hotfix, test

#2148 Fixing problems in win in various apps
  applications/DamApplication/CMakeLists.txt
  applications/DamApplication/custom_constitutive/linear_elastic_2D_plane_strain_nodal.hpp
  applications/DamApplication/custom_constitutive/linear_elastic_2D_plane_stress_nodal.hpp
  applications/DamApplication/custom_constitutive/linear_elastic_3D_law_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_strain.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_strain_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_stress.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_stress_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_3D_law_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_plane_stress_2D_law.hpp
  applications/DamApplication/dam_application.h
  applications/DamApplication/dam_application_variables.h
  applications/MeshMovingApplication/CMakeLists.txt
  applications/PoromechanicsApplication/CMakeLists.txt
  applications/PoromechanicsApplication/poromechanics_application.h
Labels: Release

#2163 [StructuralMechanics][HOTFIX] corrected warning abt variable name change
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: hotfix, warning

#2167 Fixed error with base pointer holder type in trilinos application
  applications/trilinos_application/custom_python/add_trilinos_processes_to_python.cpp
Labels: error

#2164 Removing trilinos_solver.h (dead code).
  applications/trilinos_application/trilinos_application.cpp
  applications/trilinos_application/trilinos_solver.h
Labels: applications, cleanup

#2162 Core/removing boost python references
  kratos/CMakeLists.txt
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/python/add_logger_to_python.cpp
  kratos/python/add_memory_info_to_python.cpp
  kratos/python/matrix_python_interface.h
Labels: cleanup, python

#2172 [ContactStructuralMechanicsApplication][Hotfix]Changing PreStressMembraneElement
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/quadrilaterals_moving_nodes.mdpa
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/quadrilaterals_non_matching.mdpa
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_double_curvature_integration_triangle.mdpa
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_integration_several_triangles.mdpa
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_simple_curvature.mdpa
Labels: applications, hotfix, test

#2178 [Hotfix][Core]Minor correction in pre name
  kratos/processes/skin_detection_process.cpp
Labels: hotfix, kratos core

#2175 Bugfix in gid_output_process
  applications/ParticleMechanicsApplication/python_scripts/mpm_gid_output_process.py
  kratos/python_scripts/gid_output_process.py
Labels: applications, bug

#2187 [Core][Hotfix]Extending check of already existing search
  kratos/processes/simple_mortar_mapper_process.cpp
Labels: hotfix, kratos core

#2188 Fixing release for Poromechanics and Dam Applications
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pw_solver.py
Labels: bug

#2158 [Core] remove compiler warnings intel 858
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.h
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D4N.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shellq4_local_coordinate_system.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shellt3_local_coordinate_system.hpp
  kratos/containers/vector_component_adaptor.h
  kratos/includes/properties.h
Labels: c++, cleanup, compilation, warning

#2190 [Core]Using base methods for determinant and inverse of the geometry jacobian
  kratos/geometries/geometry.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/geometries/triangle_3d_6.h
Labels: Release, bug, cleanup, hotfix, kratos core

#2183 Fluid/feature adjoint analysis
  applications/AdjointFluidApplication/custom_schemes/adjoint_bossak_scheme.h
  applications/AdjointFluidApplication/python_scripts/adjoint_vmsmonolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_analysis.py
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_adjoint_test_probe1_ref.dat
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_adjoint_test_probe2_ref.dat
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_adjoint_test_probe3_ref.dat
  applications/FluidDynamicsApplication/tests/adjoint_fluid_test.py
  applications/FluidDynamicsApplication/tests/fluid_analysis_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: applications

#2153 Core/uniform def of resize and initialize
  applications/MultiScaleApplication/custom_strategies/builder_and_solvers/static_general_builder_and_solver.h
  applications/MultiScaleApplication/custom_strategies/strategies/arc_length_diss_nrg_strategy.h
  applications/MultiScaleApplication/custom_strategies/strategies/arc_length_riks_strategy.h
  applications/MultiScaleApplication/custom_strategies/strategies/arc_length_strategy.h
  applications/MultiScaleApplication/custom_strategies/strategies/displacement_control_strategy.h
  applications/MultiScaleApplication/custom_strategies/strategies/static_general_strategy.h
  applications/MultiScaleApplication/custom_strategies/strategies/static_general_strategy_krylov_newton.h
  applications/PODApplication/custom_strategies/residualbased_elimination_builder_and_solver_pod.h
  applications/PODApplication/custom_strategies/residualbased_elimination_builder_and_solver_pod_WithPressure.h
  applications/PODApplication/custom_strategies/residualbased_elimination_builder_and_solver_standard.h
  applications/PODApplication/custom_strategies/residualbased_elimination_builder_and_solver_standard_biggerlocalM.h
  applications/PODApplication/custom_strategies/residualbased_elimination_builder_and_solver_standard_biggerlocalM_NoP.h
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_residual_based_newton_raphson_strategy.hpp
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/gauss_seidel_linear_strategy.h
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_builder_and_solver/residualbased_block_builder_and_solver_with_mpc.h
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/formfinding_updated_reference_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/harmonic_analysis_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/residual_based_arc_length_strategy.hpp
  applications/ULFapplication/custom_strategies/builder_and_solvers/residualbased_elimination_quasiincompresible_builder_and_solver.h
  applications/ULFapplication/custom_strategies/strategies/modified_linear_strategy.h
  applications/ULFapplication/python_scripts/ulf_frac_strategy.py
  applications/ULFapplication/python_scripts/ulf_strategy_PGLASS.py
  applications/ULFapplication/python_scripts/ulf_strategy_python.py
  applications/ULFapplication/python_scripts/ulf_strategy_python_inc.py
  applications/ULFapplication/python_scripts/ulf_strategy_python_inc_rigid.py
  applications/incompressible_fluid_application/custom_strategies/builder_and_solvers/explicit_residualbased_builder.h
  applications/incompressible_fluid_application/custom_strategies/builder_and_solvers/pressure_splitting_builder_and_solver.h
  applications/incompressible_fluid_application/custom_strategies/builder_and_solvers/residualbased_elimination_discretelaplacian_builder_and_solver.h
  applications/incompressible_fluid_application/custom_strategies/builder_and_solvers/residualbased_elimination_discretelaplacian_builder_and_solver_flexiblefsi.h
  applications/incompressible_fluid_application/custom_strategies/strategies/newton_raphson_oss_strategy.h
  applications/incompressible_fluid_application/custom_strategies/strategies/newton_raphson_strategy.h
  applications/meshless_application/python_scripts/strategy_python.py
  applications/nurbs_application/python_scripts/strategy_python.py
  applications/pfem_2_application/python_scripts/strategy_python.py
  applications/pfem_2_application/python_scripts/strategy_python_nonlinear.py
  applications/structural_application/custom_strategies/builder_and_solvers/modal_analysis_builder_and_solver.h
  applications/structural_application/custom_strategies/builder_and_solvers/multiphase_builder_and_solver.h
  applications/structural_application/custom_strategies/strategies/residualbased_arc_length_strategy.h
  applications/structural_application/custom_strategies/strategies/residualbased_newton_raphson_line_search_strategy.h
  applications/structural_application/python_scripts/parallel_strategy_python.py
  applications/structural_application/python_scripts/strategy_python.py
  applications/structural_application/python_scripts/strategy_python_UL.py
  applications/structural_application/python_scripts/strategy_python_contact.py
  applications/structural_application/python_scripts/uzawa_contact_strategy.py
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  applications/trilinos_application/python_scripts/trilinos_contact_strategy.py
  applications/trilinos_application/python_scripts/trilinos_strategy_python.py
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_componentwise.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_slip.h
  kratos/solving_strategies/strategies/adaptive_residualbased_newton_raphson_strategy.h
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: applications, c++, kratos core

#2206 [Hotfix][Trilinos] Missing ProcessInfo in Trilinos B&S classes
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
Labels: error, hotfix

#2068 [Core] Base python solver
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_contact_structural.py
  applications/FSIapplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FSIapplication/python_scripts/trilinos_partitioned_fsi_base_solver.py
  applications/FSIapplication/tests/FSI_problem_emulator_test.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/tests/restart_tests.py
  kratos/python_scripts/python_solver.py
Labels: applications, enhancement, kratos core, python

#2201 [Core]Replacing int for std::size_t on SubModelPartUtility
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_utilities/uniform_refine_utility.cpp
  applications/MeshingApplication/custom_utilities/uniform_refine_utility.h
  kratos/tests/utilities/test_sub_model_parts_list_utility.cpp
  kratos/utilities/sub_model_parts_list_utility.cpp
  kratos/utilities/sub_model_parts_list_utility.h
Labels: cleanup, kratos core

#2216 minor cleaning gitignore
  .gitignore
Labels: cleanup

#2211 Removing structure model part from FSI solvers constructors
  applications/FSIapplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FSIapplication/python_scripts/partitioned_fsi_dirichlet_neumann_solver.py
Labels: After Release, applications, error, python

#2221 [Core]Modernizing ReplaceElementsAndConditionsProcess+test
  kratos/CMakeLists.txt
  kratos/includes/kratos_application.h
  kratos/processes/replace_elements_and_condition_process.cpp
  kratos/processes/replace_elements_and_condition_process.h
  kratos/sources/variables.cpp
  kratos/tests/processes/test_replace_elements_and_condition_process.cpp
Labels: cleanup, kratos core, test

#2234 Shallow water application: replacing ublas matrices and line 2d
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.hpp
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
  applications/ShallowWaterApplication/shallow_water_application.cpp
Labels: cleanup
