Repository KratosMultiphysics/Kratos, pull requests merged in 2018-02, with the labels that each got.

#1459 update in ContactMechanicsApp
  applications/ContactMechanicsApplication/CMakeLists.txt
  applications/ContactMechanicsApplication/contact_mechanics_application.cpp
  applications/ContactMechanicsApplication/contact_mechanics_application.h
  applications/ContactMechanicsApplication/custom_bounding/compound_noses_bounding_box.hpp
  applications/ContactMechanicsApplication/custom_conditions/EP_axisym_point_rigid_contact_penalty_2D_condition.hpp
  applications/ContactMechanicsApplication/custom_conditions/EP_point_rigid_contact_penalty_2D_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/EP_point_rigid_contact_penalty_2D_condition.hpp
  applications/ContactMechanicsApplication/custom_conditions/EP_point_rigid_contact_penalty_3D_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/EP_point_rigid_contact_penalty_3D_condition.hpp
  applications/ContactMechanicsApplication/custom_processes/parametric_wall_contact_search_process.hpp
  applications/PfemSolidMechanicsApplication/CMakeLists.txt
  applications/PfemSolidMechanicsApplication/custom_elements/small_displacement_U_W_wP_element.cpp
  applications/PfemSolidMechanicsApplication/custom_elements/updated_lagrangian_U_J_W_wP_element.cpp
  applications/PfemSolidMechanicsApplication/custom_elements/updated_lagrangian_U_J_W_wP_element.hpp
  applications/PfemSolidMechanicsApplication/custom_elements/updated_lagrangian_U_J_W_wP_stab_element.cpp
  applications/PfemSolidMechanicsApplication/custom_elements/updated_lagrangian_U_J_W_wP_stab_element.hpp
  applications/PfemSolidMechanicsApplication/custom_elements/updated_lagrangian_U_W_wP_element.cpp
  applications/PfemSolidMechanicsApplication/custom_problemtype/Kratos_Pfem_Solid_Mechanics_Application.gid/003_Kratos_Pfem_Solid_Mechanics_Application_var.json.bas
  applications/PfemSolidMechanicsApplication/custom_problemtype/Kratos_Pfem_Solid_Mechanics_Application.gid/Kratos_Pfem_Solid_Mechanics_Application.bas
  applications/PfemSolidMechanicsApplication/custom_problemtype/Kratos_Pfem_Solid_Mechanics_Application.gid/Kratos_Pfem_Solid_Mechanics_Application.cnd
  applications/PfemSolidMechanicsApplication/custom_problemtype/Kratos_Pfem_Solid_Mechanics_Application.gid/Kratos_Pfem_Solid_Mechanics_Application.mat
  applications/PfemSolidMechanicsApplication/custom_python/pfem_solid_mechanics_python_application.cpp
  applications/PfemSolidMechanicsApplication/custom_strategies/schemes/residual_based_U_W_bossak_scheme.hpp
  applications/PfemSolidMechanicsApplication/pfem_solid_mechanics_application.cpp
  applications/PfemSolidMechanicsApplication/pfem_solid_mechanics_application.h
  applications/PfemSolidMechanicsApplication/pfem_solid_mechanics_application_variables.cpp
  applications/PfemSolidMechanicsApplication/pfem_solid_mechanics_application_variables.h
  applications/PfemSolidMechanicsApplication/test_examples/oedometer_UJWwP/ProjectParameters.json
  applications/PfemSolidMechanicsApplication/test_examples/oedometer_UWwP/ProjectParameters.json
  applications/PfemSolidMechanicsApplication/test_examples/ss_UWwP/ProjectParameters.json
  kratos/includes/mat_variables.h
  kratos/python/add_mat_variables_to_python.cpp
  kratos/sources/mat_variables.cpp
Labels: applications

#1489 Feature fldyn embedded slip new implementation
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
  applications/FluidDynamicsApplication/custom_utilities/element_size_calculator.cpp
  applications/FluidDynamicsApplication/custom_utilities/element_size_calculator.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_utilities.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_fluid_element_data.cpp
Labels: applications, enhancement

#1493 Moving to initial configuaration and moving back to current
  applications/StructuralMechanicsApplication/custom_processes/total_structural_mass_process.cpp
Labels: applications, hotfix

#1339 Adding missing methods to VariableUtils
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: discussion, enhancement, kratos core

#1498 Cleaning of shape optimization process
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mesh_controller_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/algorithm_penalized_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithm_steepest_descent.py
  applications/ShapeOptimizationApplication/python_scripts/analyzer_base.py
  applications/ShapeOptimizationApplication/python_scripts/model_part_controller_factory.py
  applications/ShapeOptimizationApplication/python_scripts/optimizer_factory.py
  applications/ShapeOptimizationApplication/test_examples/01_Strain_Energy_Minimization_3D_Hook/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/01_Strain_Energy_Minimization_3D_Hook/run_optimization_with_mass_constraint.py
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/run_optimization_fine_mesh.py
  applications/ShapeOptimizationApplication/test_examples/03_multiple_local_minima/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/03_multiple_local_minima/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/04_vertex_morphing_tent/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/04_vertex_morphing_tent/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/05_mesh_independent_optimization_3D_Shell/run_optimization.py
Labels: cleanup

#1488 Adding missing macros loggers
  kratos/input_output/logger.h
Labels: hotfix, kratos core

#1499 Fluid/feature use constitutive laws
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_constitutive/bingham_3d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/bingham_3d_law.h
  applications/FluidDynamicsApplication/custom_constitutive/euler_2d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/euler_2d_law.h
  applications/FluidDynamicsApplication/custom_constitutive/euler_3d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/euler_3d_law.h
  applications/FluidDynamicsApplication/custom_constitutive/fluid_constitutive_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/fluid_constitutive_law.h
  applications/FluidDynamicsApplication/custom_constitutive/herschel_bulkey_3d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/herschel_bulkey_3d_law.h
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_2d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_2d_law.h
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_3d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_3d_law.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.h
  applications/FluidDynamicsApplication/custom_elements/symbolic_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.h
  applications/FluidDynamicsApplication/custom_utilities/qsvms_data.h
  applications/FluidDynamicsApplication/custom_utilities/symbolic_navier_stokes_data.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_fluid_element_data.cpp
Labels: Release 5.3, applications, cleanup

#1495 Adding strategies CPP test
  kratos/tests/strategies/strategies/test_strategies.cpp
  kratos/tests/test_element.cpp
  kratos/tests/test_element.h
Labels: c++, kratos core, test

#1483 Doxygen linear and NR strategy
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: cleanup, documentation

#1461 Adding BDF schemes (displacement+custom)
  applications/ContactStructuralMechanicsApplication/python_scripts/custom_sympy_fe_utilities.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/tests/NightlyTests.py
  applications/StructuralMechanicsApplication/tests/SmallTests.py
  applications/StructuralMechanicsApplication/tests/dynamic_test/dynamic_bossak_test_parameters.json
  applications/StructuralMechanicsApplication/tests/dynamic_test/dynamic_newmark_test_parameters.json
  applications/StructuralMechanicsApplication/tests/dynamic_test/dynamic_test.mdpa
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_schemes.py
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_scheme.h
  kratos/solving_strategies/schemes/residual_based_implicit_time_scheme.h
  kratos/tests/strategies/schemes/test_schemes.cpp
Labels: applications, enhancement, kratos core

#1514 Fluid/fix update test results
  applications/FluidDynamicsApplication/tests/EmbeddedAusasCouette2DTest/reference_couette_development_2D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedAusasCouette3DTest/reference_couette_development_3D.csv
  applications/FluidDynamicsApplication/tests/FluidElementTest/reference10_symbolic.csv
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
  applications/FluidDynamicsApplication/tests/time_integrated_fluid_element_test.py
Labels: cleanup, test

#1497 Hotfix MPI embedded skin visualization process
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
Labels: applications, bug, hotfix

#1481 Replacing print for Logger in StructuralMechanicsApplication
  applications/StructuralMechanicsApplication/custom_processes/total_structural_mass_process.cpp
  applications/StructuralMechanicsApplication/python_scripts/convergence_criteria_factory.py
  applications/StructuralMechanicsApplication/python_scripts/kratos_main_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_convergence_criteria_factory.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/tests/Kratos_Execute_Structural_Test.py
  kratos/python_scripts/read_materials_process.py
Labels: applications, cleanup, python

#1516 Replaced boost::shared_ptr by Kratos::shared_ptr in Poro and Dam Apps
  applications/DamApplication/custom_strategies/schemes/trilinos_dam_UP_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_dynamic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_quasistatic_damped_U_Pw_scheme.hpp
Labels: c++

#1529 DEM Velocity trap default settings were missing
  applications/DEM_application/python_scripts/dem_default_input_parameters.py
Labels: bug, python

#1530 Hotfix typename cpp test remove
  kratos/tests/strategies/schemes/test_schemes.cpp
  kratos/tests/strategies/strategies/test_strategies.cpp
Labels: c++, hotfix, kratos core, test

#1526 DRAG_FORCE calculate method implemented
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
Labels: applications, enhancement

#1490 Feature fldyn python solvers clean up
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_ausas_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/python_solvers_wrapper_fluid.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_ausas_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
Labels: applications, cleanup, python

#1537 Adding missing methods in Or_Criteria and And_Criteria
  kratos/solving_strategies/convergencecriterias/and_criteria.h
  kratos/solving_strategies/convergencecriterias/or_criteria.h
Labels: documentation, enhancement, incomplete, kratos core

#1551 [Core] correcting serializer test
  kratos/tests/includes/test_serializer.cpp
Labels: cleanup, kratos core, test

#1554 fix incomplete changes of compiler flag
  applications/EigenSolversApplication/CMakeLists.txt
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
Labels: hotfix

#1550 [Core] adding checks (debug) for accessing internal variables in ConstitutiveLaw
  kratos/includes/constitutive_law.h
Labels: debug, kratos core

#1553 DEM Char Length always printed
  applications/DEM_application/python_scripts/DEM_procedures.py
Labels: python

#1555 Correcting set_and_fill_buffer function and adapt tests
  applications/ALEapplication/python_scripts/mesh_solver_base.py
  applications/ALEapplication/tests/test_MainKratos.py
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D3N_test_results.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D4N_test_results.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D3N_test_results.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D4N_test_results.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D4N_test_results.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D8N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D8N_test_results.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D4N_test_results.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D8N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D8N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D3N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D4N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/rectangle_2D3N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/rectangle_2D4N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D4N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D8N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D8N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/rectangle_3D4N_test_results.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/rectangle_3D8N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/rectangle_3D8N_test_results.json
Labels: Release 5.3, cleanup

#1559 Creating method to set the flags ins structural solids
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.h
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.h
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.h
Labels: applications, cleanup, duplicate

#1563 Adding missing test variable_utils
  kratos/tests/test_variable_utils.py
Labels: kratos core, python, test

#1566 Generalized response functions for shape optimization
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/eigenfrequency_response_function.h
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/eigenfrequency_response_function_lin_scal.h
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/mass_response_function.h
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/response_function.h
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/strain_energy_response_function.h
  applications/ShapeOptimizationApplication/python_scripts/algorithm_penalized_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithm_steepest_descent.py
  applications/ShapeOptimizationApplication/python_scripts/communicator_factory.py
  applications/ShapeOptimizationApplication/python_scripts/response_function_factory.py
  applications/ShapeOptimizationApplication/python_scripts/response_logger_base.py
  applications/ShapeOptimizationApplication/python_scripts/response_logger_penalized_projection.py
  applications/ShapeOptimizationApplication/python_scripts/response_logger_steepest_descent.py
  applications/ShapeOptimizationApplication/test_examples/01_Strain_Energy_Minimization_3D_Hook/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/01_Strain_Energy_Minimization_3D_Hook/ProjectParameters_with_mass_constraint.json
  applications/ShapeOptimizationApplication/test_examples/01_Strain_Energy_Minimization_3D_Hook/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/01_Strain_Energy_Minimization_3D_Hook/run_optimization_with_mass_constraint.py
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/3D_Shell_fine.mdpa
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/ProjectParameters_fine_mesh.json
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/run_optimization_fine_mesh.py
  applications/ShapeOptimizationApplication/test_examples/03_multiple_local_minima/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/03_multiple_local_minima/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/04_vertex_morphing_tent/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/04_vertex_morphing_tent/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/05_mesh_independent_optimization_3D_Shell/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/05_mesh_independent_optimization_3D_Shell/run_optimization.py
  applications/ShapeOptimizationApplication/test_examples/06_Eigenfrequency_Maximization_3D_Cantilever/ProjectParameters.json
  applications/ShapeOptimizationApplication/test_examples/06_Eigenfrequency_Maximization_3D_Cantilever/run_optimization.py
Labels: cleanup, enhancement

#1573 DEM Adding RBE implementations to problem types
  applications/DEM_application/custom_problemtype/DEMpack/C-DEMPack/kratos.gid/kratos_default.spd
  applications/DEM_application/custom_problemtype/DEMpack/F-DEMPack/kratos.gid/kratos_default.kmdb
  applications/DEM_application/custom_problemtype/DEMpack/F-DEMPack/kratos.gid/kratos_default.spd
  applications/DEM_application/custom_problemtype/DEMpack/F-DEMPack/kratos.gid/kratos_key_words.xml
  applications/DEM_application/custom_problemtype/DEMpack/G-DEMPack/kratos.gid/kratos_default.spd
  applications/DEM_application/custom_problemtype/DEMpack/scripts/libs/wkcf/wkcf.tcl
  applications/DEM_application/custom_problemtype/DEMpack/scripts/libs/wkcf/wkcfdem.tcl
  applications/DEM_application/custom_problemtype/DEMpack/scripts/libs/wkcf/wkcffluid.tcl
  applications/DEM_application/python_scripts/dem_default_input_parameters.py
Labels: bug

#1545 [StructuralMechanics] Updating Elements after bugfix in ConstitutiveLaws
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.h
  applications/StructuralMechanicsApplication/custom_elements/SprismElement3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.cpp
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_PointLoad.mdpa
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_PointLoad_test_materials.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad.mdpa
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad_test_material.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_quadratic_elements.py
Labels: applications, error, hotfix, test

#1576 Correction for those cases in where there is no geometrical entities …
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
Labels: Release 5.3, applications, bug, hotfix
