Repository KratosMultiphysics/Kratos, pull requests merged in 2018-12, with the labels that each got.

#3548 [core] kratos globals raise -> return
  kratos/python_interface/kratos_globals.py
Labels: Bugfix, FastPR, Kratos Core, Python

#3546 [Core] Update the SkinDetectionProcess for non consequtive meshes
  kratos/processes/skin_detection_process.cpp
Labels: Bugfix, Enhancement, Kratos Core

#3526 [Core][Hotfix] Correcting json_check_process
  kratos/python_scripts/from_json_check_result_process.py
Labels: Hotfix, Kratos Core, Python, Testing

#3554 [StructuralMechanicsApplication][Hotfix] Deformation gradient perturbation must mutiplicative, not additive
  applications/StructuralMechanicsApplication/custom_utilities/tangent_operator_calculator_utility.h
Labels: Applications, Bugfix, Hotfix

#3543 [Core][MeshingApplication] Compute nodal gradient process NODAL_AREA as nonhistorical
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/test_remesh_sphere.py
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
  kratos/processes/find_nodal_h_process.cpp
Labels: Applications, Cleanup, Kratos Core

#3219 [Core] Adding Parameters constructor to schemes
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_newmark_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
  kratos/solving_strategies/schemes/residualbased_incremental_aitken_static_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme_slip.h
Labels: Enhancement, Kratos Core

#3516 [Core] Fixed invalid ctor in VectorMap
  kratos/containers/vector_map.h
Labels: Bugfix, Kratos Core

#3489 [StructuralMechanics] porting AddCustomPython-Folder to Amatrix
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
Labels: Applications, Transition

#3217 making python-modules work
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/python_scripts/__init__.py
  kratos/python_interface/__init__.py
  kratos/python_interface/application_importer.py
Labels: Applications, Discussion, Enhancement, Kratos Core, Python

#3541 added ModelPart as parameter to CalculateValue of core response fct
  applications/FluidDynamicsApplication/custom_python/add_custom_response_functions_to_python.cpp
  applications/FluidDynamicsApplication/custom_response_functions/drag_response_function.h
  kratos/python/add_response_functions_to_python.cpp
  kratos/response_functions/adjoint_response_function.h
  kratos/tests/strategies/schemes/test_residual_based_adjoint_bossak_scheme.cpp
Labels: API Breaker, Kratos Core

#3567 [Core][Testing] change in detection of apps in test-runner
  kratos/python_scripts/run_tests.py
Labels: Bug, Kratos Core, Testing

#3570 [Nightly][IGA] using a specific commit in ANurbs
  scripts/build/nightly_build.sh
Labels: Testing

#3517 Removed unused vector_map.h includes
  applications/CompressiblePotentialFlowApplication/custom_conditions/potential_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/fs_periodic_condition.h
  applications/FluidDynamicsApplication/custom_conditions/monolithic_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/wall_condition_discontinuous.h
  applications/FluidDynamicsApplication/custom_elements/bingham_fluid.h
  applications/FluidDynamicsApplication/custom_elements/dpg_vms.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step_discontinuous.h
  applications/FluidDynamicsApplication/custom_elements/herschel_bulkley_fluid.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_vms.h
  applications/FluidDynamicsApplication/custom_elements/vms.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_explicit_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_explicit_fluid_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_explicit_solid_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_fluid_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_fluid_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_solid_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_solid_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/updated_lagrangian_V_explicit_solid_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/updated_lagrangian_V_implicit_solid_element.h
  applications/StabilizedCFDApplication/custom_conditions/dss_face.h
  applications/SwimmingDEMApplication/custom_conditions/calculate_laplacian_simplex_condition.h
  applications/SwimmingDEMApplication/custom_conditions/monolithic_dem_coupled_wall_condition.h
  applications/SwimmingDEMApplication/custom_elements/calculate_component_gradient_simplex_element.h
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012.h
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012_edge.h
  applications/SwimmingDEMApplication/custom_elements/calculate_laplacian_simplex_element.h
  applications/SwimmingDEMApplication/custom_elements/calculate_mat_deriv_simplex_element.h
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian.h
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian_component.h
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled.h
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.h
  applications/ULFapplication/custom_elements/surface_tension.h
  applications/pfem_2_application/custom_conditions/autoslip_inlet.h
  applications/pfem_2_application/custom_conditions/autoslip_inlet_3d.h
  applications/pfem_2_application/custom_elements/fractional_step_pfem_2_2d.h
  applications/pfem_2_application/custom_elements/fractional_step_pfem_2_3d.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_2d.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_2d_partintegration.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_3d.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_3d_partintegration.h
  applications/pfem_2_application/custom_elements/monolithic_3fluid_2d.h
  applications/pfem_2_application/custom_elements/monolithic_3fluid_3d.h
  applications/pfem_2_application/custom_elements/nonewtonian_2fluid_2d.h
  applications/pfem_2_application/custom_elements/nonewtonian_2fluid_3d.h
  applications/pfem_2_application/custom_elements/vel_enriched_2fluid_2d.h
  kratos/elements/distance_calculation_element_simplex.h
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/includes/node.h
  kratos/includes/periodic_condition.h
Labels: Cleanup

#3577 [Core] Hotfix cpp test (I don't know why was working until now)
  kratos/tests/processes/test_compute_nodal_gradient_process.cpp
Labels: Hotfix, Kratos Core, Testing

#3578 [ContactStructuralMechanicsApplication] Fix tests after #3350
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test_results_LM.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_nonmatching_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_nonmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_nonmatching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D.mdpa
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_results.json
  applications/ContactStructuralMechanicsApplication/tests/run_cpp_unit_tests.py
Labels: Applications, Hotfix, Testing

#3180 [HDF5] Feature/hdf5 default for windows
  applications/HDF5Application/python_scripts/hdf5_io.py
Labels: Discussion, Windows

#3488 [Core] test import variable-keys
  kratos/python/add_containers_to_python.cpp
  kratos/tests/test_importing.py
Labels: Testing

#3582 [ContactStructuralMechanicsApplication] Adding new debugging info/pythonic clean up
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
Labels: Applications, Cleanup, Debug, Enhancement, Python

#3587 adding missing const in Model
  kratos/containers/model.cpp
  kratos/containers/model.h
Labels: Cleanup, FastPR, Kratos Core

#3583 Prepare 3122
  applications/FluidDynamicsApplication/tests/cpp_tests/test_drag_utils.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_componentwise.h
Labels: Cleanup, FastPR

#3584 Fluid/module init
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/python_scripts/__init__.py
Labels: Applications, Python

#3585 fix(core): added missing const qualifier
  kratos/includes/model_part.h
Labels: Kratos Core

#3588 Replacing int abs() by double std::abs().
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
Labels: Applications, Bugfix, Hotfix

#3593 Cleanup/fixing clang warnings
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_prism_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.hpp
  applications/convection_diffusion_application/custom_strategies/strategies/residualbased_eulerian_convdiff_strategy.h
  applications/convection_diffusion_application/custom_strategies/strategies/residualbased_semi_eulerian_convdiff_strategy.h
  applications/convection_diffusion_application/custom_utilities/move_particle_utility.h
Labels: Clang, Cleanup, Compilation, Warning

#3556 [StructuralMechanicsApplication] Improving tangent pertubator utility
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_utilities/tangent_operator_calculator_utility.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_tangent_tensor_numerical_derivation_utility.cpp
Labels: Applications, Enhancement, Testing

#3601 [FluidDynamicsApplication][Fix] Corrections of Behr2004 part to adress #3595
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
Labels: Bugfix

#3564 [Dam] Optimize construction
  applications/DamApplication/custom_utilities/construction_utility.hpp
Labels: Applications, Enhancement

#3586 [Core] deprecating import-related functions
  kratos/python_interface/__init__.py
Labels: Applications, Cleanup

#3580 Fix serialization model name tag
  kratos/containers/model.cpp
Labels: FastPR

#3604 Structural/modify how to assemble condition sensitivities
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_postprocess.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_postprocess.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_local_stress_results.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_disp_results.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_strain_energy_results.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_local_stress_results.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_nodal_disp_results.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_strain_energy_results.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_local_stress_results.json
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitity_analysis_beam_3d2n_structure.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitity_analysis_shell_3d3n_structure.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitity_analysis_truss_3d2n_structure.py
Labels: Applications, Enhancement, Testing

#3475 [Core] helpers for time-integration
  kratos/CMakeLists.txt
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_time_discretization.py
  kratos/utilities/time_discretization.cpp
  kratos/utilities/time_discretization.h
Labels: Feature, Kratos Core

#3594 Fixing possible segfault in distance_modification_process.
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.cpp
  kratos/utilities/openmp_utils.h
Labels: Applications, Testing

#3610 [ParticleMechanics] Cleanup include particle mechanics app
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_strain_softening_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/exponential_strain_softening_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_borja_cam_clay_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_borja_cam_clay_axisym_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_borja_cam_clay_plane_strain_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_UP_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_axisym_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_plane_strain_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_plane_strain_UP_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_strain_softening_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_strain_softening_axisym_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_strain_softening_plane_strain_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_UP_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_axisym_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_plane_strain_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_plane_strain_UP_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/mc_yield_criterion.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_axisymmetry.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/custom_processes/particle_erase_process.h
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
Labels: Applications, Cleanup, FastPR

#3603 [Core] Fix #3597. Initializing variables
  kratos/processes/compute_nodal_gradient_process.cpp
Labels: Hotfix, Kratos Core

#3599 [ContactStructuralMechanicsApplication] More debug info. Related with the conditions creation and its normals
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
Labels: Applications, Debug, Enhancement

#3596 [FluidDynamics] bugfix in darcy stabilization of cut elements
  applications/FluidDynamicsApplication/custom_elements/two_fluid_vms.h
Labels: Applications, Bugfix

#3606 [FluidDynamics] Newtonian Two Fluid 2d law - bugfix save and load
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_two_fluid_2d_law.cpp
Labels: Applications, Bugfix

#3611 removing deprecated SubModelPartsListUtility
  kratos/CMakeLists.txt
  kratos/python/add_utilities_to_python.cpp
  kratos/utilities/sub_model_parts_list_utility.cpp
  kratos/utilities/sub_model_parts_list_utility.h
Labels: Cleanup, Kratos Core

#3616 Fluid/faster nightly tests
  applications/FluidDynamicsApplication/tests/buoyancy_test.py
  applications/FluidDynamicsApplication/tests/darcy_channel_test.py
  applications/FluidDynamicsApplication/tests/fluid_element_test.py
  applications/FluidDynamicsApplication/tests/time_integrated_fluid_element_test.py
  applications/FluidDynamicsApplication/tests/volume_source_test.py
Labels: Testing

#3613 [IGA] temp commenting execution of c-tests
  applications/IgaApplication/tests/test_IgaApplication.py
Labels: Applications, FastPR

#3617 [ShapeOpt] fix gid default and bead optimization test
  applications/ShapeOptimizationApplication/python_scripts/design_logger_gid.py
  applications/ShapeOptimizationApplication/test_examples/06_bead_optimization_plate/analysis_parameters.json
  applications/ShapeOptimizationApplication/tests/algorithm_bead_optimization_test/analysis_parameters.json
  applications/ShapeOptimizationApplication/tests/algorithm_bead_optimization_test/run_test.py
Labels: FastPR

#3591 [ParticleMechanics] Conditions cleanup
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/README.md
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_axisym_line_load_condition_2d.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_axisym_line_load_condition_2d.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_axisym_point_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_axisym_point_load_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_line_load_condition_2d.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_line_load_condition_2d.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_point_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_point_load_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_surface_load_condition_3d.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_surface_load_condition_3d.h
  applications/ParticleMechanicsApplication/custom_conditions/mpm_axisym_point_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/mpm_line_load_condition_2d.cpp
  applications/ParticleMechanicsApplication/custom_conditions/mpm_point_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/mpm_surface_load_condition_3d.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/tests/axisym_tests/circular_plate_axisym_test_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_line_load_2D_quad_test_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_point_load_2D_tri_test_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_surface_load_3D_hexa_test_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/cook_membrane_2D_test_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/test_static_loading_conditions_line.py
  applications/ParticleMechanicsApplication/tests/test_static_loading_conditions_point.py
  applications/ParticleMechanicsApplication/tests/test_static_loading_conditions_surface.py
Labels: Applications, Cleanup

#3592 [ParticleMechanics] Feature search element utility
  applications/ParticleMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
  applications/ParticleMechanicsApplication/tests/test_particle_erase_process.py
  applications/ParticleMechanicsApplication/tests/test_search_mpm_particle.py
Labels: Applications

#3396 [Core] Adding bool GP GidIO postprocessing
  applications/trilinos_application/custom_utilities/custom_gid_io.h
  kratos/includes/condition.h
  kratos/includes/gid_gauss_point_container.h
  kratos/includes/gid_io.h
  kratos/python/add_io_to_python.cpp
Labels: Enhancement, Kratos Core

#3123 [Core][FluidDynamicsApplication] Changing from AreaNormal to Normal
  applications/FluidDynamicsApplication/custom_conditions/embedded_ausas_navier_stokes_wall_condition.h
  kratos/geometries/geometry.h
  kratos/geometries/line_2d_2.h
  kratos/geometries/line_3d_2.h
  kratos/geometries/triangle_3d_3.h
  kratos/modified_shape_functions/modified_shape_functions.cpp
  kratos/modified_shape_functions/modified_shape_functions.h
  kratos/python/add_geometries_to_python.cpp
Labels: API Breaker, Applications, Cleanup, Kratos Core

#3622 Prevent rewriting of results files in adjoint test cases
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/nonlinear_truss_test_local_stress_adjoint_parameters.json
Labels: Applications, Bugfix, Testing

#3575 Structural/derive structural response from core
  applications/StructuralMechanicsApplication/custom_python/add_custom_response_functions_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_schemes/adjoint_structural_static_scheme.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_linear_strain_energy_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_linear_strain_energy_response_function.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_postprocess.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_postprocess.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_structural_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_structural_response_function.h
Labels: Applications, Cleanup, Enhancement

#3612 ProcessInfo: exposing GetPreviousTimeStepInfo
  kratos/python/add_process_info_to_python.cpp
Labels: Enhancement, FastPR, Incomplete, Kratos Core, Python

#3615 Apps/remove conditional imports
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_analysis.py
  applications/FSIapplication/python_scripts/fsi_analysis.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_analysis.py
  applications/FluidDynamicsApplication/python_scripts/fluid_dynamics_analysis.py
  applications/MeshMovingApplication/python_scripts/mesh_moving_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: Applications, Cleanup, Python

#3579 [StructuralMechanicsApplication] Clean up surface load
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.h
  applications/StructuralMechanicsApplication/tests/test_loading_conditions_surface.py
Labels: Applications, Cleanup

#3607 [Dam] Ensure that elements near the soil are being activated properly
  applications/DamApplication/custom_utilities/construction_utility.hpp
Labels: Applications, Bugfix

#3631 [FluidDynamicsApplication][MPI] Correction of mistake in serial and parallel version
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
Labels: Bugfix

#3623 Fluid/modernising tests
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/input_test_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/output_test_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/statistics_test_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity10_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity5_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/CylinderTest/steady_cylinder_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/test_ale_fluid_solver/ProjectParameters.json
Labels: Cleanup, Testing

#3642 Apps/improve py init
  applications/CompressiblePotentialFlowApplication/CMakeLists.txt
  applications/CompressiblePotentialFlowApplication/CompressiblePotentialFlowApplication.py
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/ContactStructuralMechanicsApplication.py
  applications/EigenSolversApplication/CMakeLists.txt
  applications/EigenSolversApplication/EigenSolversApplication.py
  applications/EmpireApplication/CMakeLists.txt
  applications/EmpireApplication/EmpireApplication.py
  applications/ExternalSolversApplication/CMakeLists.txt
  applications/ExternalSolversApplication/ExternalSolversApplication.py
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/FluidDynamicsApplication.py
  applications/HDF5Application/CMakeLists.txt
  applications/HDF5Application/HDF5Application.py
  applications/IgaApplication/CMakeLists.txt
  applications/IgaApplication/IgaApplication.py
  applications/MappingApplication/CMakeLists.txt
  applications/MappingApplication/MappingApplication.py
  applications/MeshMovingApplication/CMakeLists.txt
  applications/MeshMovingApplication/MeshMovingApplication.py
  applications/ShapeOptimizationApplication/CMakeLists.txt
  applications/ShapeOptimizationApplication/ShapeOptimizationApplication.py
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/StructuralMechanicsApplication.py
  applications/metis_application/CMakeLists.txt
  applications/metis_application/MetisApplication.py
  applications/trilinos_application/CMakeLists.txt
  applications/trilinos_application/TrilinosApplication.py
Labels: Applications, Cleanup, Python

#3340 First version of new Kratos MPI Core library
  applications/metis_application/custom_processes/set_mpi_communicator_process.h
  applications/trilinos_application/CMakeLists.txt
  applications/trilinos_application/custom_processes/trilinos_spalart_allmaras_turbulence_model.h
  applications/trilinos_application/custom_processes/trilinos_stokes_initialization_process.h
  applications/trilinos_application/custom_python/add_trilinos_communicator_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_communicator_to_python.h
  applications/trilinos_application/custom_python/trilinos_python_application.cpp
  applications/trilinos_application/custom_utilities/parallel_fill_communicator.h
  external_libraries/mpi_python/CMakeLists.txt
  kratos/CMakeLists.txt
  kratos/includes/data_communicator.h
  kratos/includes/kratos_components.h
  kratos/includes/parallel_environment.h
  kratos/mpi/CMakeLists.txt
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/mpi_environment.cpp
  kratos/mpi/mpi_environment.h
  kratos/mpi/mpi_module_init.py
  kratos/mpi/python/add_mpi_communicator_to_python.cpp
  kratos/mpi/python/add_mpi_communicator_to_python.h
  kratos/mpi/python/add_mpi_data_communicator_to_python.cpp
  kratos/mpi/python/add_mpi_data_communicator_to_python.h
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/python/add_mpi_utilities_to_python.h
  kratos/mpi/python/kratos_mpi_python.cpp
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_environment.cpp
  kratos/mpi/tests/test_mpi_communicator_set_up.py
  kratos/mpi/tests/test_mpi_data_communicator_python.py
  kratos/mpi/utilities/model_part_communicator_utilities.h
  kratos/mpi/utilities/mpi_coloring_utilities.cpp
  kratos/mpi/utilities/mpi_coloring_utilities.h
  kratos/python/add_data_communicator_to_python.cpp
  kratos/python/add_data_communicator_to_python.h
  kratos/python/add_model_part_to_python.cpp
  kratos/python/add_parallel_environment_to_python.cpp
  kratos/python/add_parallel_environment_to_python.h
  kratos/python/kratos_python.cpp
  kratos/python_interface/__init__.py
  kratos/sources/parallel_environment.cpp
Labels: Behaviour Change, C++, Discussion, Enhancement, Feature, Kratos Core, Parallel-MPI

#3648 Core/hotfix mpi core
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/utilities/mpi_coloring_utilities.h
Labels: Compilation, Hotfix

#3651 fixing metis compilation
  applications/metis_application/custom_processes/metis_contact_partitioning_process.h
  applications/metis_application/custom_processes/metis_partitioning_process.h
  applications/metis_application/custom_processes/metis_partitioning_process_quadratic.h
Labels: Applications, Compilation, Error, FastPR, Hotfix

#3640 DEM Bugfixes: demfem and printing
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
Labels: Bugfix, Python

#3652 [Core] Adding ClearNonHistoricalValues to VariableUtils
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core

#3658 [MPI] Include path of "mpi_communicator.h" adapted
  applications/SwimmingDEMApplication/custom_utilities/search/mpi_discrete_particle_configure.h
  applications/metis_application/custom_processes/metis_contact_partitioning_process.h
  applications/metis_application/custom_processes/metis_partitioning_process.h
  applications/metis_application/custom_processes/metis_partitioning_process_quadratic.h
  applications/mpi_search_application/custom_configures/mpi_discrete_particle_configure.h
  applications/mpi_search_application/custom_configures/mpi_point_configure.h
  applications/mpi_search_application/custom_utilities/bins_dynamic_objects_mpi.h
Labels: Bugfix, Compilation

#3654 [MeshingApplication] Using model instead of submodelpart iterators in order to create the list variable in NodalValuesInterpolationProcess
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.h
Labels: Applications, Enhancement

#3665 [MeshingApplication] Initializing data on elements and conditions on MMGProcess after remesh
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
Labels: Applications, Enhancement

#3661 [Core] PythonProcess Check() function addition
  kratos/python_scripts/python_process.py
Labels: FastPR, Hotfix, Kratos Core

#3639 [ParticleMechanics] New arrangement of strategy and particle generator
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_residual_based_newton_raphson_strategy.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/custom_utilities/particle_mechanics_math_utilities.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
  applications/ParticleMechanicsApplication/tests/axisym_tests/circular_plate_axisym_test_materials.json
  applications/ParticleMechanicsApplication/tests/axisym_tests/circular_plate_axisym_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_line_load_2D_quad_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_line_load_2D_quad_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_point_load_2D_tri_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_point_load_2D_tri_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_surface_load_3D_hexa_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_surface_load_3D_hexa_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/hyperelastic_cantilever_beam/self_weight_load_2D_quad_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/hyperelastic_cantilever_beam/self_weight_load_2D_quad_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cl_tests/solid_cl/linear_elastic_3D_hexa_test_materials.json
  applications/ParticleMechanicsApplication/tests/cl_tests/solid_cl/linear_elastic_3D_hexa_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_compressible_cook_membrane_2D_test_materials.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_compressible_cook_membrane_2D_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_incompressible_cook_membrane_2D_test_materials.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_incompressible_cook_membrane_2D_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/compressible_cook_membrane_2D_test_materials.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/compressible_cook_membrane_2D_test_parameters.json
  applications/ParticleMechanicsApplication/tests/gravity_tests/dynamic_gravity_application_test_materials.json
  applications/ParticleMechanicsApplication/tests/gravity_tests/dynamic_gravity_application_test_parameters.json
  applications/ParticleMechanicsApplication/tests/slip_tests/slip_boundary_test_materials.json
  applications/ParticleMechanicsApplication/tests/slip_tests/slip_boundary_test_parameters.json
  applications/ParticleMechanicsApplication/tests/test_generate_mpm_particle.py
  applications/ParticleMechanicsApplication/tests/test_particle_erase_process.py
  applications/ParticleMechanicsApplication/tests/test_search_mpm_particle.py
Labels: Applications, Behaviour Change, Enhancement

#3670 [EmpireApp] skipping tests if numpy not available
  applications/EmpireApplication/tests/co_simulation_solver_test_factory.py
  applications/EmpireApplication/tests/co_simulation_test_factory.py
Labels: Applications, FastPR, Testing

#3183 Adapting the block builder and solver for 4 and 8 node periodic BC.
  applications/FluidDynamicsApplication/custom_strategies/builder_and_solvers/residualbased_block_builder_and_solver_periodic.h
Labels: Hotfix, Kratos Core

#3677 [MeshingApplication] Using variable names instead of variables. Apparently fixes 3647
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.h
Labels: Applications, Bug, Bugfix, Hotfix

#3625 [Core]Historical non historical nodal area process/Adding test/Extending to other geometries
  kratos/CMakeLists.txt
  kratos/processes/calculate_nodal_area_process.cpp
  kratos/processes/calculate_nodal_area_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/cpp_tests/processes/test_calculate_nodal_area_process.cpp
Labels: Cleanup, Enhancement, Kratos Core, Testing

#3574 [Metis] make output of debug-modelpart depending on verbosity
  applications/metis_application/custom_processes/metis_divide_heterogeneous_input_in_memory_process.h
Labels: Debug, Parallel-MPI

#3685 [MeshMoving] correcting name
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
Labels: Applications, FastPR

#3681 [Mapping] fixing file-paths
  applications/MappingApplication/tests/base_mapper_tests.py
Labels: Applications, Error, FastPR, Testing

#3688 [Dam] New function to limit the temperature in construction phase
  applications/DamApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DamApplication/custom_python/dam_python_application.cpp
  applications/DamApplication/custom_utilities/construction_utility.hpp
  applications/DamApplication/dam_application.cpp
  applications/DamApplication/dam_application_variables.cpp
  applications/DamApplication/dam_application_variables.h
  applications/DamApplication/python_scripts/dam_MPI_UP_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_MPI_UP_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_MPI_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_MPI_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_P_solver.py
  applications/DamApplication/python_scripts/dam_UP_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_UP_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_construction_utility.py
  applications/DamApplication/python_scripts/dam_eigen_solver.py
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/gid_dam_output_process.py
Labels: Applications, Enhancement

#3680 [DEM] Correcting force imposition in boundaries
  applications/DEMApplication/custom_elements/rigid_body_element.cpp
  applications/DEMApplication/custom_problemtype/DEMpack/scripts/libs/wkcf/wkcfdem.tcl
  applications/DEMApplication/python_scripts/DEM_procedures.py
Labels: Bugfix

#3683 Femdem/Correcting the way I compute the damping matrix
  applications/FemToDemApplication/custom_elements/femdem2d_element.cpp
  applications/FemToDemApplication/custom_elements/femdem2d_element.hpp
  applications/FemToDemApplication/custom_elements/femdem3d_element.cpp
  applications/FemToDemApplication/custom_elements/femdem3d_element.hpp
Labels: FastPR

#3687 [Core][HotFix] DivideGeometry PrintData method
  kratos/utilities/divide_geometry.cpp
Labels: FastPR, Hotfix, Kratos Core

#3686 [ParticleMechanics] Cleanup strategy and solver
  applications/ParticleMechanicsApplication/README.md
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
  applications/ParticleMechanicsApplication/tests/axisym_tests/circular_plate_axisym_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_line_load_2D_quad_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_point_load_2D_tri_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_surface_load_3D_hexa_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/hyperelastic_cantilever_beam/self_weight_load_2D_quad_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cl_tests/solid_cl/linear_elastic_3D_hexa_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_compressible_cook_membrane_2D_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_incompressible_cook_membrane_2D_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/compressible_cook_membrane_2D_test_parameters.json
  applications/ParticleMechanicsApplication/tests/gravity_tests/dynamic_gravity_application_test_parameters.json
  applications/ParticleMechanicsApplication/tests/slip_tests/slip_boundary_test_parameters.json
  applications/ParticleMechanicsApplication/tests/test_generate_mpm_particle.py
  applications/ParticleMechanicsApplication/tests/test_particle_erase_process.py
  applications/ParticleMechanicsApplication/tests/test_search_mpm_particle.py
Labels: Applications, FastPR

#3684 [Core] Adding flip flags to variable utils
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core

#3669 [StructuralMechanicsApplication] Adding collapse option to ShellToSolidShellProcess
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_shell_to_solid_shell_process.cpp
Labels: Applications, Enhancement

#3689 [ParticleMechanics] Python modules init
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/ParticleMechanicsApplication.py
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_slip_boundary_process.py
  applications/ParticleMechanicsApplication/python_scripts/kratos_main_particle.py
  applications/ParticleMechanicsApplication/python_scripts/mpm_from_json_check_result_process.py
  applications/ParticleMechanicsApplication/python_scripts/mpm_json_output_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mechanics_analysis.py
  applications/ParticleMechanicsApplication/tests/particle_mechanics_test_factory.py
  applications/ParticleMechanicsApplication/tests/test_ParticleMechanicsApplication.py
Labels: Applications, FastPR

#3699 [StructuralMechanics] Fix incorrect use of CalculateMaterialResponse by default and in other cases
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.h
Labels: Applications

#3701 [Hotfix][Core] FullDebug line geometries correction
  kratos/geometries/line_2d.h
  kratos/geometries/line_2d_2.h
  kratos/geometries/line_3d_2.h
  kratos/geometries/line_3d_3.h
  kratos/geometries/line_gauss_lobatto_3d_2.h
Labels: Debug, FastPR, Hotfix, Kratos Core

#3664 [PythonSolver] adding option for reorder_consecutive
  kratos/python_scripts/python_solver.py
Labels: Enhancement, Kratos Core, Parallel-MPI

#3696 [Trilinos] clean includes
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities_mpi.cpp
  applications/trilinos_application/custom_processes/trilinos_levelset_convection_process.h
  applications/trilinos_application/custom_processes/trilinos_spalart_allmaras_turbulence_model.h
  applications/trilinos_application/custom_processes/trilinos_stokes_initialization_process.h
  applications/trilinos_application/custom_processes/trilinos_variational_distance_calculation_process.h
  applications/trilinos_application/custom_python/add_custom_utilities_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_convergence_criterias_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_linear_solvers_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_processes_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_schemes_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_space_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_strategies_to_python.cpp
  applications/trilinos_application/custom_python/add_zoltan_processes_to_python.cpp
  applications/trilinos_application/custom_python/trilinos_pointer_wrapper.h
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver_periodic.h
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  applications/trilinos_application/custom_strategies/schemes/trilinos_residualbased_incremental_aitken_static_scheme.h
  applications/trilinos_application/custom_strategies/schemes/trilinos_residualbased_incrementalupdate_variable_property_static_scheme.h
  applications/trilinos_application/custom_strategies/schemes/trilinos_residualbased_newmark_scheme.h
  applications/trilinos_application/custom_strategies/strategies/trilinos_convdiff_strategy.h
  applications/trilinos_application/custom_strategies/strategies/trilinos_fractionalstep_configuration.h
  applications/trilinos_application/custom_utilities/custom_gid_io.h
  applications/trilinos_application/custom_utilities/custom_gid_mesh_container.h
  applications/trilinos_application/custom_utilities/gather_modelpart_utility.h
  applications/trilinos_application/custom_utilities/mpi_normal_calculation_utilities.cpp
  applications/trilinos_application/custom_utilities/mpi_normal_calculation_utilities.h
  applications/trilinos_application/custom_utilities/parallel_fill_communicator.h
  applications/trilinos_application/custom_utilities/trilinos_cutting_app.h
  applications/trilinos_application/custom_utilities/trilinos_cutting_iso_app.h
  applications/trilinos_application/custom_utilities/trilinos_deactivation_utility.h
  applications/trilinos_application/custom_utilities/trilinos_fractional_step_settings.h
  applications/trilinos_application/custom_utilities/trilinos_fractional_step_settings_periodic.h
  applications/trilinos_application/custom_utilities/trilinos_mvqn_recursive_convergence_accelerator.hpp
  applications/trilinos_application/custom_utilities/trilinos_refine_mesh.h
  applications/trilinos_application/custom_utilities/zoltan_partition_utility.h
  applications/trilinos_application/external_includes/epetra_default_utility.h
  applications/trilinos_application/trilinos_application.cpp
  applications/trilinos_application/trilinos_application.h
  applications/trilinos_application/trilinos_space.h
Labels: Applications, Cleanup

#3679 Fluid/fluid element cleanup
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
Labels: Applications, C++, Cleanup

#3662 [Hotfix][FSI] Validation tests and warning fix
  applications/FSIapplication/custom_utilities/mvqn_convergence_accelerator.hpp
  applications/FSIapplication/python_scripts/fsi_analysis.py
  applications/FSIapplication/tests/MokBenchmarkTest/ProjectParameters.json
  applications/FSIapplication/tests/MokBenchmarkTest/mok_benchmark_Fluid.mdpa
  applications/FSIapplication/tests/mok_benchmark_test.py
  applications/FSIapplication/tests/non_conformant_one_side_map_test.py
Labels: Applications, Error, Testing, Warning

#3676 Variable list should not be static
  kratos/containers/model.cpp
  kratos/containers/model.h
Labels: Bugfix

#3720 [MeshingApplication] Solving some compilation warnings
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.cpp
Labels: Applications, FastPR, Warning

#3721 [Core] fixing test_redistance
  kratos/tests/test_redistance.py
Labels: Error, FastPR, Kratos Core, Testing

#3724 [FSI] minor fixes
  applications/FSIapplication/custom_elements/coupling_face2D.cpp
  applications/FSIapplication/custom_elements/coupling_face2D.h
  applications/FSIapplication/custom_utilities/AdvancedNMPointsMapper.cpp
Labels: Applications, Cleanup

#3726 [ThermoMech] using new syntax for PointLocator
  applications/ThermoMechanicalApplication/custom_utilities/particle_levelset_utilities.h
Labels: Applications, Cleanup, Deprecated

#3723 [Core] missing const in VariableUtils
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Cleanup, Kratos Core

#3722 [MeshMoving] some cleaning
  applications/MeshMovingApplication/custom_elements/laplacian_meshmoving_element.cpp
  applications/MeshMovingApplication/custom_elements/laplacian_meshmoving_element.h
  applications/MeshMovingApplication/custom_elements/structural_meshmoving_element.cpp
  applications/MeshMovingApplication/custom_elements/structural_meshmoving_element.h
  applications/MeshMovingApplication/custom_utilities/explicit_mesh_moving_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.h
Labels: Applications, Cleanup

#3671 [Core] deprecating legacy-version of CalculateLocalSystem
  kratos/includes/condition.h
  kratos/includes/element.h
Labels: Cleanup, Deprecated, Kratos Core, Question

#3708 [Core] Correcting and optimizing tetrahedra splitting
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/reference_couette_development_slip_2D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/reference_couette_embedded_2D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/reference_couette_embedded_slip_2D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/reference_couette_development_3D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/reference_couette_development_slip_3D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/reference_couette_embedded_3D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedCouetteImposed3DTest/reference_couette_imposed_3D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirDiscontinuousTest/EmbeddedReservoirDiscontinuous3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirDiscontinuousTest/embedded_reservoir_discontinuous_3D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirDiscontinuousTest/reference_embedded_reservoir_discontinuous_3D.csv
  applications/FluidDynamicsApplication/tests/embedded_couette_imposed_test.py
  applications/FluidDynamicsApplication/tests/embedded_reservoir_discontinuous_test.py
  kratos/tests/cpp_tests/modified_shape_functions/test_tetrahedra_3d_4_ausas_modified_shape_functions.cpp
  kratos/tests/cpp_tests/modified_shape_functions/test_tetrahedra_3d_4_modified_shape_functions.cpp
  kratos/tests/cpp_tests/utilities/test_divide_tetrahedra_3d_4.cpp
  kratos/tests/cpp_tests/utilities/test_split_tetrahedra.cpp
  kratos/utilities/divide_tetrahedra_3d_4.cpp
  kratos/utilities/divide_triangle_2d_3.cpp
  kratos/utilities/split_tetrahedra.h
Labels: Applications, Bugfix, Kratos Core

#3523 [Core] Continuous distance voting for undefined raycasting
  kratos/processes/calculate_distance_to_skin_process.cpp
  kratos/processes/calculate_distance_to_skin_process.h
Labels: Behaviour Change, Enhancement, Feature, Kratos Core

#3730 [Core] Adding GetModelPartNames to Model
  kratos/containers/model.cpp
  kratos/containers/model.h
  kratos/tests/cpp_tests/containers/test_model.cpp
Labels: Enhancement, Kratos Core

#3732 Wrong default linear solver name
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, Behaviour Change, Deprecated, Error

#3698 [Metis] clean includes
  applications/metis_application/custom_processes/metis_contact_partitioning_process.h
  applications/metis_application/custom_processes/metis_divide_heterogeneous_input_in_memory_process.h
  applications/metis_application/custom_processes/metis_divide_heterogeneous_input_process.h
  applications/metis_application/custom_processes/metis_divide_input_to_partitions_process.h
  applications/metis_application/custom_processes/metis_graph_partitioning_process.h
  applications/metis_application/custom_processes/metis_parallel_partitioning_process.h
  applications/metis_application/custom_processes/metis_partitioning_process.h
  applications/metis_application/custom_processes/metis_partitioning_process_quadratic.h
  applications/metis_application/custom_processes/metis_scalar_reorder_process.h
  applications/metis_application/custom_processes/metis_separate_partition_with_interface_process.h
  applications/metis_application/custom_processes/morton_divide_input_to_partitions_process.h
  applications/metis_application/custom_processes/morton_partitioning_process.h
  applications/metis_application/custom_processes/set_mpi_communicator_process.h
  applications/metis_application/custom_python/add_processes_to_python.cpp
  applications/metis_application/metis_application.cpp
  applications/metis_application/metis_application.h
Labels: Applications, Cleanup

#3529 [StructuralMechanics] simple plasticity J2 law
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/plasticity_isotropic_kinematic_j2.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/plasticity_isotropic_kinematic_j2.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/plasticity_j2_cube_test.mdpa
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/plasticity_j2_cube_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/plasticity_j2_cube_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/plasticity_j2_cube_test_results.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: Applications

#3204 [TrilinosApplication/MPI] Register linear solvers
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_base.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/trilinos_application/CMakeLists.txt
  applications/trilinos_application/custom_factories/trilinos_linear_solver_factory.cpp
  applications/trilinos_application/custom_factories/trilinos_linear_solver_factory.h
  applications/trilinos_application/custom_python/add_trilinos_linear_solvers_to_python.cpp
  applications/trilinos_application/external_includes/amesos_solver.h
  applications/trilinos_application/external_includes/aztec_solver.h
  applications/trilinos_application/python_scripts/trilinos_linear_solver_factory.py
  applications/trilinos_application/tests/test_trilinos_linear_solvers.py
  applications/trilinos_application/trilinos_application.cpp
  kratos/includes/linear_solver_factory.h
Labels: Applications, Enhancement, External library, Parallel-MPI

#3725 [Core] clean includess
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/includes/geometrical_object.h
Labels: Cleanup, Kratos Core

#3702 [Core][MeshingApplication] Extend gradient process to other geometries. Reduce the number of template arguments to reduce compilation time
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_result.sol
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_result.sol
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_result.sol
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/cpp_tests/processes/test_compute_nodal_gradient_process.cpp
Labels: Applications, Cleanup, Enhancement, Kratos Core
