Repository KratosMultiphysics/Kratos, pull requests merged in 2018-03, with the labels that each got.

#1533 Core/cleanup tests
  applications/ALEapplication/tests/mpi_test_laplacian_mesh_motion_2d.py
  applications/ALEapplication/tests/mpi_test_laplacian_mesh_motion_3d.py
  applications/ALEapplication/tests/mpi_test_structural_mesh_motion_2d.py
  applications/ALEapplication/tests/mpi_test_structural_mesh_motion_3d.py
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d.py
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d.py
  applications/ALEapplication/tests/test_structural_mesh_motion_2d.py
  applications/ALEapplication/tests/test_structural_mesh_motion_3d.py
  kratos/python_interface/kratos_utilities.py
  kratos/python_scripts/read_materials_process.py
  kratos/tests/sources/test_serializer.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_condition_number.py
  kratos/tests/test_eigen_solvers.py
  kratos/tests/test_gid_io.py
  kratos/tests/test_gid_io_gauss_points.py
  kratos/tests/test_importing.py
  kratos/tests/test_linear_solvers.py
  kratos/tests/test_materials_input.py
  kratos/tests/test_model_part_io.py
  kratos/tests/test_processes.py
  kratos/tests/test_redistance.py
  kratos/tests/test_reorder.py
  kratos/tests/test_restart.py
  kratos/tests/test_variable_utils.py
Labels: cleanup, kratos core, test

#1561 Harmful initialization of testing point.
  kratos/tests/geometries/test_triangle_2d_3.cpp
Labels: kratos core, test

#1586 Skin visualization process update
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_skin_visualization_process.cpp
Labels: applications, enhancement

#1247 StructuralMechanics: Process for comparing the eigenvalues postprocessing files
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/test_remesh_sphere.py
  applications/StructuralMechanicsApplication/python_scripts/check_eigenvalues_process.py
  applications/StructuralMechanicsApplication/python_scripts/postprocess_eigenvalues_process.py
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_Q4_Thick_2x2_Plate_test.post.res.ref
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_Q4_Thick_2x2_Plate_test_parameters.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.py
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.ref
  kratos/python_scripts/compare_two_files_check_process.py
  kratos/tests/test_gid_io.py
Labels: test

#1593 Changing _get_element_num_nodes for python2 compatibility.
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
Labels: bug, python

#1591 [StructuralMechanics] Updating names
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_contact_structural.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_solver.py
  applications/trilinos_application/python_scripts/trilinos_import_model_part_utility.py
Labels: applications, cleanup

#1543 Fixes problems with condition number utility
  kratos/linear_solvers/power_iteration_eigenvalue_solver.h
  kratos/linear_solvers/power_iteration_highest_eigenvalue_solver.h
  kratos/utilities/random_initializer_utility.h
Labels: cleanup, error, kratos core

#1582 Switching on the Ausas condition outlet inflow prevention
  applications/FluidDynamicsApplication/custom_conditions/embedded_ausas_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/embedded_ausas_navier_stokes_wall_condition.h
Labels: applications, enhancement

#1524 Clean up the Bossak scheme
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_newmark_displacement_scheme.hpp
Labels: cleanup, kratos core

#1577 Added Sub Model Part IO for HDF5
  applications/HDF5Application/CMakeLists.txt
  applications/HDF5Application/custom_io/hdf5_connectivities_data.cpp
  applications/HDF5Application/custom_io/hdf5_connectivities_data.h
  applications/HDF5Application/custom_io/hdf5_data_value_container_io.cpp
  applications/HDF5Application/custom_io/hdf5_file.cpp
  applications/HDF5Application/custom_io/hdf5_file.h
  applications/HDF5Application/custom_io/hdf5_file_parallel.cpp
  applications/HDF5Application/custom_io/hdf5_file_parallel.h
  applications/HDF5Application/custom_io/hdf5_file_serial.cpp
  applications/HDF5Application/custom_io/hdf5_file_serial.h
  applications/HDF5Application/custom_io/hdf5_model_part_io.cpp
  applications/HDF5Application/custom_io/hdf5_model_part_io.h
  applications/HDF5Application/custom_io/hdf5_model_part_io_base.cpp
  applications/HDF5Application/custom_io/hdf5_model_part_io_base.h
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_data_io.cpp
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_data_io.h
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_variables_io.cpp
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_variables_io.h
  applications/HDF5Application/custom_io/hdf5_partitioned_model_part_io.cpp
  applications/HDF5Application/custom_io/hdf5_partitioned_model_part_io.h
  applications/HDF5Application/custom_io/hdf5_points_data.cpp
  applications/HDF5Application/custom_io/hdf5_points_data.h
  applications/HDF5Application/custom_io/hdf5_properties_io.cpp
  applications/HDF5Application/custom_io/hdf5_properties_io.h
  applications/HDF5Application/custom_processes/hdf5_xdmf_connectivities_writer_process.cpp
  applications/HDF5Application/custom_python/add_custom_io_to_python.cpp
  applications/HDF5Application/custom_utilities/registered_variable_lookup.h
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/partitioned_multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/partitioned_single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/tests/test_hdf5_connectivities_data.cpp
  applications/HDF5Application/tests/test_hdf5_file.cpp
  applications/HDF5Application/tests/test_hdf5_file_serial.cpp
  applications/HDF5Application/tests/test_hdf5_model_part_io.cpp
  applications/HDF5Application/tests/test_hdf5_nodal_solution_step_data_io.cpp
  applications/HDF5Application/tests/test_hdf5_points_data.cpp
  applications/HDF5Application/tests/test_utils.cpp
  applications/HDF5Application/tests/test_utils.h
  kratos/includes/communicator.h
  kratos/includes/model_part.h
  kratos/includes/mpi_communicator.h
  kratos/sources/model_part.cpp
Labels: applications, enhancement

#1601 [StructuralMechanics] small bugfixes
  applications/StructuralMechanicsApplication/python_scripts/kratos_main_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/NightlyTests.py
  applications/StructuralMechanicsApplication/tests/SmallTests.py
  applications/StructuralMechanicsApplication/tests/ValidationTests.py
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
Labels: applications, bug, cleanup

#1616 Adding default default eigenvalues solvers
  kratos/utilities/condition_number_utility.h
Labels: enhancement, hotfix, kratos core

#1611 [StructuralMechanics] Adding Restart
  applications/StructuralMechanicsApplication/python_scripts/kratos_main_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/Kratos_Execute_Structural_Test.py
  applications/StructuralMechanicsApplication/tests/RestartTests.py
  applications/StructuralMechanicsApplication/tests/cl_test/IsotropicDamageSimoJu/PlaneStress_FourPointShear_test_parameters.json
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_3D3N_Thin_Circle_test_parameters.json
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_TL_3D8N_Cube_test_parameters.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_Cable_test_parameters.json
  applications/StructuralMechanicsApplication/tests/harmonic_analysis_test/harmonic_analysis_test_eigenproblem_parameters.json
  applications/StructuralMechanicsApplication/tests/harmonic_analysis_test/harmonic_analysis_test_parameters.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad_test_parameters.json
  applications/StructuralMechanicsApplication/tests/mesh_moving_test/simple_mesh_moving_test_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_2D_shear_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_2D_shear_tri_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_2D_tension_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_2D_tension_tri_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_3D_shear_hexa_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_3D_shear_tetra_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_3D_tension_hexa_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_3D_tension_tetra_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_2D_shear_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_2D_shear_tri_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_2D_tension_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_2D_tension_tri_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_3D_shear_hexa_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_3D_shear_tetra_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_3D_tension_hexa_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_3D_tension_tetra_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_2D_shear_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_2D_shear_tri_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_2D_tension_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_2D_tension_tri_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_3D_shear_hexa_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_3D_shear_tetra_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_3D_tension_hexa_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/updated_lagrangian/patch_test_3D_tension_tetra_parameters.json
  applications/StructuralMechanicsApplication/tests/pendulus_test/pendulus_TL_test_parameters.json
  applications/StructuralMechanicsApplication/tests/pendulus_test/pendulus_UL_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thick_orthotropic_laminate_linear_static_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thin_linear_dynamic_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thin_nonlinear_static_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thin_orthotropic_laminate_linear_static_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_Thick_nonlinear_static_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_Thick_orthotropic_laminate_linear_static_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_Thin_orthotropic_laminate_linear_static_test_parameters.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/trilinos_application/python_scripts/trilinos_restart_utility.py
  kratos/python_scripts/restart_utility.py
  kratos/tests/test_restart.py
Labels: applications, enhancement

#1624 [StructuralMechanics] Unify Convergence Criterion Parameters
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: applications, cleanup

#1621 Minor correction in Ausas linear solver factory
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_ausas_solver.py
Labels: applications, error

#1610 Adding missing geometries to python
  kratos/python/add_geometries_to_python.cpp
Labels: kratos core, python

#1627 Added a missing KratosMultiphysics
  applications/trilinos_application/python_scripts/trilinos_restart_utility.py
Labels: bug, hotfix, python

#1631 Fluid/hotfix fractional step drag
  applications/FluidDynamicsApplication/custom_elements/fractional_step.cpp
  applications/FluidDynamicsApplication/custom_elements/fractional_step.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/fractional_step_discontinuous.h
  applications/FluidDynamicsApplication/custom_utilities/drag_utilities.cpp
Labels: applications, bug, c++

#1615 [StructuralMechanics] Adding MainClass
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/Kratos_Execute_Structural_Test.py
  applications/StructuralMechanicsApplication/tests/RestartTests.py
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_bending_test_parameters.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
Labels: applications, enhancement

#1455 [Core] Macro to Register ConstitutiveLaw
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_constitutive/herschel_bulkley_3d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/herschel_bulkley_3d_law.h
  applications/FluidDynamicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/tests/FluidElementTest/cavity10.mdpa
  applications/FluidDynamicsApplication/tests/fluid_element_test.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  kratos/includes/constitutive_law.h
  kratos/includes/define.h
  kratos/includes/kratos_application.h
  kratos/includes/model_part_io.h
  kratos/python/add_kernel_to_python.cpp
  kratos/python_interface/kratos_globals.py
  kratos/python_scripts/read_materials_process.py
  kratos/sources/kratos_components.cpp
  kratos/sources/model_part_io.cpp
  kratos/sources/variables.cpp
  kratos/tests/materials.json
Labels: enhancement, kratos core

#1633 [ContactStructuralMechanicsApplication] Hotfix Memory alloc for MixedULMSolver
  applications/ContactStructuralMechanicsApplication/custom_linear_solvers/mixedulm_linear_solver.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/sparse_matrix_multiplication_utility.h
  applications/ContactStructuralMechanicsApplication/tests/test_sparse_multiplication.py
Labels: applications, bug, enhancement, hotfix

#1638 DEM Bugfix Clean Indentations
  applications/DEM_application/custom_problemtype/DEMpack/scripts/libs/wkcf/wkcfdem.tcl
Labels: bug

#1646 Patching to_string that can be conflictive with old compilers
  kratos/modified_shape_functions/ausas_modified_shape_functions.cpp
  kratos/modified_shape_functions/modified_shape_functions.cpp
  kratos/modified_shape_functions/tetrahedra_3d_4_ausas_modified_shape_functions.cpp
  kratos/modified_shape_functions/tetrahedra_3d_4_modified_shape_functions.cpp
  kratos/modified_shape_functions/triangle_2d_3_ausas_modified_shape_functions.cpp
  kratos/modified_shape_functions/triangle_2d_3_modified_shape_functions.cpp
  kratos/utilities/divide_geometry.cpp
  kratos/utilities/divide_tetrahedra_3d_4.cpp
  kratos/utilities/divide_triangle_2d_3.cpp
Labels: bug, c++, gcc, kratos core

#1653 Fluid element cleanup and VorticityUtilities to calculate vorticity-related quantities.
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.h
  applications/FluidDynamicsApplication/custom_utilities/vorticity_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/vorticity_utilities.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_fluid_element_data.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_vorticity_utilities.cpp
Labels: applications, cleanup

#1659 HOTFIX fluid dynamics Ausas condition and body fitted drag cpp tests.
  applications/FluidDynamicsApplication/tests/cpp_tests/test_drag_utils.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_ausas_navier_stokes_wall_condition.cpp
Labels: Release 5.3, applications, error, hotfix, test

#1663 Removing warnings Clang in StructuralMechanicsApplication
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/point_moment_condition_3d.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D3N.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D3N.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D4N.hpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.h
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.h
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_central_differences_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/harmonic_analysis_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/mechanical_explicit_strategy.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.hpp
  kratos/includes/element.h
Labels: applications, c++, clang, warning

#1651 [Hotfix]Adding missing methods of Has and SetValue for booleans in ConstitutiveLaws
  kratos/includes/constitutive_law.h
  kratos/sources/constitutive_law.cpp
  kratos/tests/constitutive_laws/test_constitutive_law.cpp
Labels: hotfix, kratos core

#1673 Corrections in beams for the Release-5.3
  applications/SolidMechanicsApplication/custom_elements/beam_elements/beam_element.cpp
  applications/SolidMechanicsApplication/custom_elements/beam_elements/large_displacement_beam_element.cpp
  applications/SolidMechanicsApplication/custom_elements/beam_elements/large_displacement_beam_emc_element.cpp
  applications/SolidMechanicsApplication/custom_elements/beam_elements/large_displacement_beam_emc_element.hpp
  applications/SolidMechanicsApplication/custom_strategies/schemes/residual_based_displacement_rotation_emc_scheme.hpp
  applications/SolidMechanicsApplication/custom_strategies/schemes/residual_based_rotation_emc_scheme.hpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/emc_step_method.hpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/emc_step_rotation_method.cpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/emc_step_rotation_method.hpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/newmark_step_method.hpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/newmark_step_rotation_method.cpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/simo_step_method.hpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/simo_step_rotation_method.cpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/static_step_method.hpp
  applications/SolidMechanicsApplication/custom_strategies/time_integration_methods/static_step_rotation_method.cpp
Labels: Release 5.3

#1681 constitutive modela application :: correction for shells
  applications/ConstitutiveModelsApplication/python_scripts/assign_materials_process.py
Labels: Release 5.3

#1649 [ALE] ALE analysis Script
  applications/ALEapplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ALEapplication/custom_strategies/strategies/laplacian_meshmoving_strategy.h
  applications/ALEapplication/custom_strategies/strategies/structural_meshmoving_strategy.h
  applications/ALEapplication/python_scripts/mesh_moving_analysis.py
  applications/ALEapplication/python_scripts/mesh_solver_base.py
  applications/ALEapplication/python_scripts/mesh_solver_laplacian.py
  applications/ALEapplication/python_scripts/mesh_solver_structural_similarity.py
  applications/ALEapplication/python_scripts/trilinos_mesh_solver_laplacian.py
  applications/ALEapplication/python_scripts/trilinos_mesh_solver_structural_similarity.py
  applications/ALEapplication/tests/mesh_moving_test_case.py
  applications/ALEapplication/tests/mpi_test_laplacian_mesh_motion_2d.py
  applications/ALEapplication/tests/mpi_test_laplacian_mesh_motion_3d.py
  applications/ALEapplication/tests/mpi_test_structural_mesh_motion_2d.py
  applications/ALEapplication/tests/mpi_test_structural_mesh_motion_3d.py
  applications/ALEapplication/tests/test_MainKratos.py
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d.py
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d.py
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D8N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D8N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d.py
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/rectangle_2D3N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_2d/rectangle_2D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d.py
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D8N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/rectangle_3D4N_test_parameters.json
  applications/ALEapplication/tests/test_structural_mesh_motion_3d/rectangle_3D8N_test_parameters.json
  applications/trilinos_application/custom_python/add_trilinos_strategies_to_python.cpp
  applications/trilinos_application/custom_strategies/strategies/trilinos_laplacian_meshmoving_strategy.h
  applications/trilinos_application/custom_strategies/strategies/trilinos_structural_meshmoving_strategy.h
Labels: applications, enhancement

#1680 bugfix: correcting a typo.
  applications/StabilizedCFDApplication/custom_elements/dynss.cpp
Labels: bug

#1683 correction in kratos GiDio line3nodes
  applications/SolidMechanicsApplication/python_scripts/model_manager.py
  kratos/includes/gid_mesh_container.h
Labels: Release 5.3

#1674 [EmpireApp] removing legacy code
  applications/CMakeLists.txt
  applications/EmpireApplication/CMakeLists.txt
  applications/EmpireApplication/EmpireApplication.py
  applications/EmpireApplication/README.md
  applications/EmpireApplication/custom_python/empire_python_application.cpp
  applications/EmpireApplication/empire_application.cpp
  applications/EmpireApplication/empire_application.h
  applications/EmpireApplication/python_scripts/empire_mapper.py
  applications/EmpireApplication/python_scripts/empire_wrapper.py
  applications/EmpireApplication/test_examples/01_mapping_example.py
  applications/EmpireApplication/test_examples/02_mapping_example.py
  applications/EmpireApplication/test_examples/wrapper_example_basic_array/emperorInput.xml
  applications/EmpireApplication/test_examples/wrapper_example_basic_array/kratos_client_1.py
  applications/EmpireApplication/test_examples/wrapper_example_basic_array/kratos_client_1.xml
  applications/EmpireApplication/test_examples/wrapper_example_basic_array/kratos_client_2.py
  applications/EmpireApplication/test_examples/wrapper_example_basic_array/kratos_client_2.xml
  applications/EmpireApplication/test_examples/wrapper_example_basic_array/run_wrapper_example.sh
  applications/EmpireApplication/test_examples/wrapper_example_basic_field/emperorInput.xml
  applications/EmpireApplication/test_examples/wrapper_example_basic_field/kratos_client_1.py
  applications/EmpireApplication/test_examples/wrapper_example_basic_field/kratos_client_1.xml
  applications/EmpireApplication/test_examples/wrapper_example_basic_field/kratos_client_2.py
  applications/EmpireApplication/test_examples/wrapper_example_basic_field/kratos_client_2.xml
  applications/EmpireApplication/test_examples/wrapper_example_basic_field/run_wrapper_example.sh
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim/emperorInput.xml
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim/kratos_client_1.py
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim/kratos_client_1.xml
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim/kratos_client_2.py
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim/kratos_client_2.xml
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim/run_wrapper_example.sh
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim_Iterative/emperorInput.xml
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim_Iterative/kratos_client_1.py
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim_Iterative/kratos_client_1.xml
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim_Iterative/kratos_client_2.py
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim_Iterative/kratos_client_2.xml
  applications/EmpireApplication/test_examples/wrapper_example_field_CoSim_Iterative/run_wrapper_example.sh
  applications/empire_application/custom_processes/wrapper_process.h
  applications/empire_application/custom_python/add_custom_processes_to_python.h
  applications/empire_application/custom_python/empire_python_application.cpp
  applications/empire_application/python_scripts/legacy_empire_wrappers/empire_wrapper_ale.py
  applications/empire_application/python_scripts/legacy_empire_wrappers/empire_wrapper_embedded.py
  applications/empire_application/python_scripts/legacy_empire_wrappers/empire_wrapper_st_tum_CFD.py
  applications/empire_application/python_scripts/legacy_empire_wrappers/empire_wrapper_st_tum_CSM.py
Labels: applications, cleanup

#1685 [StructuralMechanicsApplication] Solid. Adding missing Set/GetValueOnIntegrationPoints for CL
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
Labels: applications, enhancement

#1622 Plane 3D migrated to geometries and continuous distance CalculateElementalDistances
  kratos/geometries/plane_3d.h
  kratos/geometries/triangle_3d_3.h
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
  kratos/processes/calculate_distance_to_skin_process.cpp
  kratos/processes/calculate_distance_to_skin_process.h
  kratos/tests/utilities/test_geometry_utils.cpp
Labels: enhancement, kratos core

#1697 [StructuralMechanics] Minor update of solver & analysis script
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: applications, cleanup, enhancement

#1679 Feature fldyn embedded ausas boundary viscous term correction
  applications/FluidDynamicsApplication/custom_elements/embedded_ausas_navier_stokes.h
Labels: applications, bug

#1705 [ContactStructuralMechanics][Hotfix]Incorrect methods on python utilities
  applications/ContactStructuralMechanicsApplication/custom_processes/aalm_adapt_penalty_value_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
Labels: applications, hotfix

#1708 Adding GetFlag to KratosGlobals
  kratos/python/add_kernel_to_python.cpp
  kratos/python_interface/kratos_globals.py
Labels: enhancement, kratos core

#1709 Adding Flag setting to json processes
  kratos/python_scripts/from_json_check_result_process.py
  kratos/python_scripts/json_output_process.py
Labels: enhancement, kratos core, python, test

#1710 [Core] using Clone() for CONSTITUTIVE_LAW
  kratos/python_scripts/read_materials_process.py
  kratos/tests/materials.json
Labels: error, kratos core

#1643 Reducing verbosity nighly tests. Using logger in model_part_io.cpp
  kratos/sources/model_part_io.cpp
Labels: kratos core

#1717 Xmdf update
  applications/HDF5Application/custom_io/hdf5_model_part_io.cpp
  applications/HDF5Application/python_scripts/xdmf.py
  applications/HDF5Application/tests/test_hdf5_model_part_io.cpp
Labels: applications

#1714 Fixed broken adjoint tests
  applications/AdjointFluidApplication/custom_schemes/adjoint_bossak_scheme.h
  applications/AdjointFluidApplication/tests/test_MainKratos.py
  applications/AdjointFluidApplication/tests/test_MainKratosMPI.py
  applications/AdjointFluidApplication/tests/test_input_output/input_test_parameters.json
  applications/AdjointFluidApplication/tests/test_input_output/io_test.mdpa
  applications/AdjointFluidApplication/tests/test_input_output/output_test_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test.mdpa
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test_adjoint_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test_adjoint_probe1_ref.dat
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test_adjoint_probe2_ref.dat
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test_adjoint_probe3_ref.dat
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/cylinder_test_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/one_element_test.mdpa
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/one_element_test_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/steady_cylinder_test.mdpa
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/steady_cylinder_test_adjoint_parameters.json
  applications/AdjointFluidApplication/tests/test_vms_sensitivity_2d/steady_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/python_scripts/steady_navier_stokes_solver_vmsmonolithic.py
Labels: test

#1700 [StructuralMechanics] fixing Membrane test
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_PointLoad_test_parameters.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad.mdpa
Labels: applications, error, test

#1718 [ContacStructuralMechanicsApplication] Using default parameters on tests
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_test_materials.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_notmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_notmatching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_hertz_sphere_plate_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
  applications/ContactStructuralMechanicsApplication/tests/test_dynamic_search.py
  applications/ContactStructuralMechanicsApplication/tests/test_mortar_mapper.py
Labels: applications, cleanup, test

#1727 [ContactStructuralMechanicsApplication][Hotfix] Some memory errors corrected
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_parameters.json
Labels: applications, hotfix, valgrind

#1729 [ContactStructuralMechanicsApplication]Adding missing overrides
  applications/ContactStructuralMechanicsApplication/custom_processes/aalm_adapt_penalty_value_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_fast_init_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/compute_dynamic_factor_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/master_slave_process.h
Labels: applications, c++, clang, warning

#1716 Adding logger to residual_based_block_builder_and_solver
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: cleanup, kratos core

#1722 Cleaning fast_transfer_between_model_parts_process
  kratos/processes/fast_transfer_between_model_parts_process.h
Labels: cleanup, kratos core

#1733 [ContactStructuralMechanicsApplication] Creating main script
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_test_large_disp_hexa_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/Kratos_Execute_Contact_Structural_Test.py
  applications/ContactStructuralMechanicsApplication/tests/NightlyTests.py
  applications/ContactStructuralMechanicsApplication/tests/SmallTests.py
  applications/ContactStructuralMechanicsApplication/tests/ValidationTests.py
  applications/ContactStructuralMechanicsApplication/tests/contact_structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: applications, cleanup, python

#1707 Feature plane approximation utility
  kratos/tests/utilities/test_plane_approximation_utility.cpp
  kratos/utilities/plane_approximation_utility.h
Labels: kratos core

#1744 [ContactStructuralMechanicsApplication][Pybind]Corrections needed
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_linear_solvers_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_mappers_to_python.cpp
  kratos/python/add_utilities_to_python.cpp
Labels: applications, c++, python

#1713 Check for reaction variables in builder solvers
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/trilinos_application/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  kratos/includes/dof.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_componentwise.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_slip.h
Labels: kratos core

#1703 Fluid/python main as class
  applications/FluidDynamicsApplication/python_scripts/fluid_dynamics_analysis.py
  applications/FluidDynamicsApplication/python_scripts/fluid_main.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_ausas_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_ausas_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/trilinos_application/python_scripts/gid_output_process_mpi.py
  kratos/python_scripts/gid_output_process.py
Labels: applications, discussion, python

#1726 [Core][ContactStructuralMechanicsApplication][Hotfix] Avoid null reference mortar mapper
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
  applications/ContactStructuralMechanicsApplication/tests/test_mortar_mapper.py
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/processes/test_mortar_mapper_process.cpp
  kratos/tests/test_mortar_mapper.py
Labels: hotfix, kratos core, valgrind

#1644 Consistent definition PointLocalCoordiantes between 3D Quad and Triangle + Adding analytical solution for tetrahedra
  kratos/geometries/geometry.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_3d_3.h
  kratos/tests/geometries/test_tetrahedra_3d_4.cpp
Labels: enhancement, kratos core, test

#1453 MMG and other MeshingApplication Doxygen improve/Clean up
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.h
  applications/MeshingApplication/custom_processes/metric_fast_init_process.h
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_processes/metrics_levelset_process.cpp
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.h
  applications/MeshingApplication/meshing_application.h
Labels: applications, cleanup

#1748 [ContactStructuralMechanicsApplication]Hotfix for Nightly tests
  applications/ContactStructuralMechanicsApplication/tests/contact_structural_mechanics_test_factory.py
Labels: hotfix, python, test

#1759 [MeshingApplication] Excluding mmg_process from cotire
  applications/MeshingApplication/CMakeLists.txt
Labels: applications, compilation, hotfix

#1760 [StructuralMechanicsApplication] Setting Bossak as default scheme
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_isotropic_linear_static_struct_scordelis_lo_roof_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_clamped_cylinder_orthotropic_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_pinched_cylinder_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_pinched_hemisphere_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_clamped_cylinder_orthotropic_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_pinched_cylinder_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_pinched_hemisphere_parameters.json
Labels: applications

#1766 Update release in README.md
  README.md
Labels: Release 5.3

#1758 Updating drag utilities according to last changes in reaction computation
  applications/FluidDynamicsApplication/custom_utilities/drag_utilities.cpp
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
Labels: bug, enhancement

#1763 Pybind11/restoring c tests
  applications/FluidDynamicsApplication/CMakeLists.txt
  kratos/CMakeLists.txt
  kratos/includes/thread_fixed_size_memory_pool.h
  kratos/tests/geometries/test_tetrahedra_3d_4.cpp
Labels: help wanted

#1772 Drag tests correction
  applications/FluidDynamicsApplication/tests/cpp_tests/test_drag_utils.cpp
Labels: applications, bug, test

#1730 [StructuralMechanics] Shell Base Element
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.h
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D3N.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D3N.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D4N.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_utilities.h
Labels: applications, cleanup
