Repository KratosMultiphysics/Kratos, pull requests merged in 2018-07, with the labels that each got.

#2401 [Core] Separating ProcessInfo into header/source
  kratos/CMakeLists.txt
  kratos/includes/process_info.h
  kratos/sources/process_info.cpp
  kratos/tests/sources/test_properties.cpp
Labels: Cleanup, Kratos Core

#2421 [MesshingAplicaiton][MMG]MIssing methods
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
Labels: Applications, External library

#2420 [Discussion][Not to merge][Hotfix][Core]Incorrect implementation of the assign_scalar_field_to_conditions_process
  kratos/CMakeLists.txt
  kratos/processes/assign_scalar_field_to_conditions_process.cpp
  kratos/processes/assign_scalar_field_to_conditions_process.h
Labels: Bug, Discussion, Hotfix, Kratos Core

#2422 [MeshingApplication][Hotfix] Not force some parameters MMG
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, External library, Hotfix

#2334 [StructuralMechanics] Clean property access in shells
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.h
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_python/add_cross_sections_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.cpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_utilities.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
Labels: Applications, Cleanup

#2284 Core/print additional warning in amgcl solvers
  kratos/linear_solvers/amgcl_ns_solver.h
  kratos/linear_solvers/amgcl_solver.h
Labels: C++, Enhancement

#2430 [Core] Fix kratos_utilities
  kratos/python_interface/kratos_utilities.py
Labels: Bug, Kratos Core, Python

#2424 [Core] Adding description and test to AssignScalarFieldToConditionsProcess
  kratos/processes/assign_scalar_field_to_conditions_process.h
  kratos/tests/test_processes.py
Labels: Enhancement, Kratos Core, Testing

#2434 [ParticleMechanics] Volume and density preservation in non-isochoric flow rule
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3d_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3d_law.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
Labels: Applications, Hotfix

#2442 [Core] Using the Create method for CL on the read_materials_process
  kratos/python_scripts/read_materials_process.py
Labels: Enhancement, Kratos Core, Python

#2385 FluidDynamics - Adding symbolic two fluid navier stokes
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/custom_utilities/two_fluid_navier_stokes_data.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/generate_two_fluid_navier_stokes.py
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_element.lyx
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_two_fluid_navier_stokes_element.cpp
Labels: Applications, C++

#2418 [Hotfix][StructuralMechanicsApplication] Fixing Sprism element
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_bending_test_parameters.json
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_membrane_test_parameters.json
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_test.mdpa
Labels: Applications, Bug, Cleanup, Hotfix, Testing

#2446 [MeshingApplication] Generalizing NodalValuesInterpolationProcess for any kind of gemoetry
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
Labels: Applications, Enhancement

#2404 [IntelCompiler] Update necessary compiler version version
  CMakeLists.txt
Labels: Compilation

#2456 [Core] Adding missing method of model_part.h to python
  kratos/python/add_model_part_to_python.cpp
Labels: Hotfix, Kratos Core

#2454 [ContactStructuralMechanicsapplication] Adding multiple search validation tests
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_multi_contact_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_multi_contact_test_materials.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_multi_contact_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3d_multi_contact_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ValidationTests.py
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, Testing

#2453 [Fluid] Two fluids clean up and documentation
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
Labels: Applications, Cleanup, Documentation, Enhancement

#2457 [Core] SkinDetectionProcess now detects conditions on boundary
  kratos/processes/skin_detection_process.cpp
  kratos/python_scripts/skin_detection_process.py
  kratos/tests/test_skin_detection_process.py
Labels: Enhancement, Kratos Core

#2459 [ContactStructuralMechanicsApplication][Hotfix] Deactivating postproccess on validation test
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_multi_contact_test_parameters.json
Labels: Applications, Hotfix, Testing

#2465 [Core] Missing computing model part on skin_detection_process.py
  kratos/processes/skin_detection_process.cpp
  kratos/python_scripts/skin_detection_process.py
Labels: Enhancement, Kratos Core, Python

#2458 [ContactStructuralMechaniscApplication][StructuralMechaniscApplication] Python scripts update
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_contact_structural.py
  applications/StructuralMechanicsApplication/python_scripts/convergence_criteria_factory.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: Applications, Python

#2291 [Core] Adding ReadMaterialProcess in cpp
  kratos/CMakeLists.txt
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_materials_input.py
  kratos/utilities/read_materials_utility.cpp
  kratos/utilities/read_materials_utility.h
Labels: C++, Enhancement, Kratos Core

#2473 Needed to compile pfem application
  applications/PfemApplication/custom_utilities/mesh_error_calculation_utilities.hpp
  applications/PfemApplication/pfem_application.h
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.h
Labels: Hotfix

#2469 [ContactStructuralMechanicsApplication] Minor update conv- criteria
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_components_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_mortar_criteria.h
Labels: Applications

#2474 [ContactStructuralMechanicsApplication]Relative search adaptation
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
Labels: Applications, Enhancement

#2485 [Core]Removing unused local flag
  kratos/processes/replace_elements_and_condition_process.cpp
  kratos/processes/replace_elements_and_condition_process.h
Labels: Cleanup, Kratos Core

#2484 [CovectionDiffusion]Update read material process with cpp
  applications/convection_diffusion_application/python_scripts/convection_diffusion_base_solver.py
Labels: Applications, C++

#2499 Calling openmp wrapper instad of raw openmp calls.
  applications/ThermoMechanicalApplication/custom_utilities/estimate_time_step.h
Labels: Cleanup

#2506 Dam - Fixing link errors in win
  applications/DamApplication/CMakeLists.txt
  applications/DamApplication/custom_constitutive/linear_elastic_2D_plane_strain_nodal.hpp
  applications/DamApplication/custom_constitutive/linear_elastic_2D_plane_stress_nodal.hpp
  applications/DamApplication/custom_constitutive/linear_elastic_3D_law_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_strain.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_strain_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_stress.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_2D_plane_stress_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_linear_elastic_3D_law_nodal.hpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_plane_strain_2D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_plane_stress_2D_law.hpp
  applications/DamApplication/custom_processes/dam_nodal_reference_temperature_process.hpp
  applications/DamApplication/dam_application.h
  applications/DamApplication/dam_application_variables.h
  applications/PoromechanicsApplication/CMakeLists.txt
Labels: Error, Windows

#2508 [Hotfix][Meshing]Compilation error after update ULF Application
  applications/MeshingApplication/custom_python/add_custom_io_to_python.cpp
  applications/MeshingApplication/custom_python/add_custom_io_to_python.h
  applications/MeshingApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/MeshingApplication/custom_python/add_custom_strategies_to_python.h
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.h
  applications/MeshingApplication/custom_python/add_meshers_to_python.cpp
  applications/MeshingApplication/custom_python/add_meshers_to_python.h
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
Labels: Applications, Compilation, Hotfix, Typo

#2510 [Hotfix][ConDiff] Fixing bug when element mesh Ids are not ordered
  applications/convection_diffusion_application/python_scripts/convection_diffusion_base_solver.py
Labels: Applications, Bug, Hotfix, Python

#2441 Changed default to exclusive to avoid accidentally erasing file on read
  applications/HDF5Application/python_scripts/hdf5_io.py
Labels: Applications

#2514 [structural] Replace GetValue by CalculateValue in plastic and damage 3D CL
  applications/StructuralMechanicsApplication/custom_constitutive/linear_isotropic_damage_3D_law.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_isotropic_damage_3D_law.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_3d.h
Labels: Applications

#2515 [structural] add missing virtual and override declarators
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.h
Labels: Applications

#2517 Removed assignment to unused variable in Serializer
  kratos/includes/serializer.h
Labels: Cleanup, Kratos Core

#2496 Core/expose build type to python
  applications/DEM_application/DEM_application.cpp
  kratos/includes/kernel.h
  kratos/python/add_kernel_to_python.cpp
  kratos/python/kratos_python.cpp
  kratos/sources/kernel.cpp
  kratos_version.h.in
Labels: Kratos Core, Python

#2519 [Hotfix][MeshingApplication]MMG clean up
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  kratos/utilities/sub_model_parts_list_utility.cpp
Labels: Applications, Bug, Hotfix

#2520 [Hotfix][MeshingApplication] Hotfix compilation error model part pointer
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_uniform_refine_utility.cpp
Labels: Applications, Hotfix

#2516 [Hotfix][MeshingApplication] Some additional checks when computing the Hessian to avoid potential problematics
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_processes/metrics_levelset_process.cpp
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, Bug, Hotfix

#2521 [ConvDiff][Hotfix]Same error for conditions
  applications/convection_diffusion_application/python_scripts/convection_diffusion_base_solver.py
Labels: Applications, Hotfix, Python

#2524 Add missing ref in ModelPartIO
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
Labels: Cleanup, Kratos Core

#2526 [Core] Added missing ref SVD Utils
  kratos/utilities/svd_utils.h
Labels: Cleanup, Kratos Core

#2525 [Core] Added missing ref to TableStream
  kratos/includes/table_stream.h
Labels: Cleanup, Kratos Core

#2534 [MeshingApplication]Compilation warnings
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_uniform_refine_utility.cpp
Labels: Applications, Hotfix, Warning

#2541 [ContactStructuralMechanicsApplication] Adding possibility to get system of equations after condensation
  applications/ContactStructuralMechanicsApplication/custom_linear_solvers/mixedulm_linear_solver.h
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
Labels: Applications, Enhancement

#2538 [Hotfix][ExternalSolversApplication] Missing constructor GMRES solver
  applications/ExternalSolversApplication/custom_python/add_linear_solvers_to_python.cpp
  applications/ExternalSolversApplication/external_includes/gmres_solver.h
Labels: External library, Hotfix

#2482 Core/proper pybind namespace app template
  kratos/templates/template_application/custom_python/add_custom_strategies_to_python.cpp.in
  kratos/templates/template_application/custom_python/add_custom_strategies_to_python.h.in
  kratos/templates/template_application/custom_python/add_custom_utilities_to_python.cpp.in
  kratos/templates/template_application/custom_python/add_custom_utilities_to_python.h.in
  kratos/templates/template_application/custom_python/test_python_application.cpp.in
Labels: Cleanup, Kratos Core

#2551 [Core] Clean up JSON utilities
  kratos/python_scripts/json_utilities.py
Labels: Cleanup, Kratos Core, Python

#2532 [MeshMoving] minor internal renamings to avoid confusion
  applications/MeshMovingApplication/python_scripts/mesh_solver_ballvertex.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_structural_similarity.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_structural_similarity.py
Labels: Applications, Cleanup, FastPR

#2558 [Core] app template removing unused include
  kratos/templates/template_application/custom_python/add_custom_utilities_to_python.cpp.in
Labels: Cleanup, Kratos Core

#2553 [Core] Add function to delete *.time files
  kratos/python_interface/kratos_utilities.py
Labels: Kratos Core

#2561 [ConvectionDiffusionApplication]Adding main file
  applications/convection_diffusion_application/python_scripts/kratos_main_convection_diffusion.py
Labels: Applications, Python

#2557 [Core] Extending fast_transfer_between_model_parts_process
  kratos/processes/fast_transfer_between_model_parts_process.cpp
  kratos/processes/fast_transfer_between_model_parts_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/processes/test_fast_transfer_between_model_parts_process.cpp
Labels: Enhancement, Kratos Core

#2545 [MeshingApplication] Adapting MMG process to Model (v3.0)
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_integration_values_extrapolation_to_nodes_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_uniform_refine_utility.cpp
Labels: API Breaker, Applications, Compilation

#2547 [ContactStructuralMechanicsApplication] Fixing cpp tests for new Model (v3)
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_integration.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_mixedulm_linear_solver.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_processes.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
Labels: API Breaker, Applications, Compilation, Testing

#2563 StructuralMechanics MPC cleanup
  applications/StructuralMechanicsApplication/custom_processes/apply_multi_point_constraints_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_builder_and_solver/residualbased_block_builder_and_solver_with_mpc.h
  applications/StructuralMechanicsApplication/custom_utilities/multipoint_constraint_data.hpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_multipoint_contstraints.py
Labels: Applications, Cleanup, FastPR

#2554 [EmpireApp] Using proper pybind namespace
  applications/EmpireApplication/custom_python/empire_python_application.cpp
Labels: Applications, Cleanup, Compilation

#2546 [HDF5Application] Fixing CPP test HDF5
  applications/HDF5Application/tests/test_hdf5_connectivities_data.cpp
  applications/HDF5Application/tests/test_hdf5_element_solution_step_data_io.cpp
  applications/HDF5Application/tests/test_hdf5_model_part_io.cpp
  applications/HDF5Application/tests/test_hdf5_nodal_solution_step_data_io.cpp
  applications/HDF5Application/tests/test_hdf5_non_historical_nodal_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_points_data.cpp
Labels: API Breaker, Applications, Compilation, Testing

#2565 [Core][VariableUtils] Adding set methods with flags
  kratos/python/add_utilities_to_python.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core

#2571 [Core] Memory error on SkinDetectionProcess
  kratos/processes/skin_detection_process.cpp
  kratos/tests/processes/test_skin_detection_process.cpp
Labels: Bug, Error, FastPR, Kratos Core, Testing

#2431 [StructuralMechanicsApplication] Adding new Constitutive Laws
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_viscoplasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_viscoplasticity_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/drucker_prager_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/generic_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/modified_mohr_coulomb_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/tresca_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/von_mises_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/small_strain_isotropic_damage_factory_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/small_strain_isotropic_plasticity_factory_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_kelvin_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_kelvin_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_maxwell_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_maxwell_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/drucker_prager_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/generic_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/rankine_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/simo_ju_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/tresca_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/von_mises_yield_surface.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.h
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/custom_utilities/tangent_operator_calculator_utility.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_kelvin_constitutive_law.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_maxwell_constitutive_law.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_tangent_tensor_numerical_derivation_utility.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_yield_surfaces_3d.cpp
  applications/StructuralMechanicsApplication/tests/test_constitutive_law.py
Labels: Applications, Enhancement

#2581 [MeshingApplication] Replacing or for ||
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
Labels: Applications, Compilation, Hotfix, Windows

#2587 [ContactStructuralMechanicsApplication] Warning unused variable
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.h
Labels: Applications, FastPR, Warning

#2589 [StructualMechanics] minor correction conv_crit_factory
  applications/StructuralMechanicsApplication/python_scripts/convergence_criteria_factory.py
Labels: Applications, Cleanup

#2588 [MeshingApplication] Removing braces warning
  applications/MeshingApplication/custom_utilities/uniform_refine_utility.cpp
Labels: Applications, Compilation, FastPR, Warning

#2584 [Multi] Adding help to several applications processes
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/MeshingApplication/python_scripts/integration_values_extrapolation_to_nodes_process.py
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/StructuralMechanicsApplication/python_scripts/check_eigenvalues_process.py
  applications/StructuralMechanicsApplication/python_scripts/eigen_solution_input_process.py
  applications/StructuralMechanicsApplication/python_scripts/eigen_solution_output_process.py
  applications/StructuralMechanicsApplication/python_scripts/formfinding_IO_process.py
  applications/StructuralMechanicsApplication/python_scripts/postprocess_eigenvalues_process.py
  applications/StructuralMechanicsApplication/python_scripts/simplified_nodal_contact_process.py
  applications/StructuralMechanicsApplication/python_scripts/sprism_process.py
Labels: Applications, Documentation, Python

#2583 [Core] Adding help to core processes
  kratos/python_scripts/assign_scalar_variable_process.py
  kratos/python_scripts/assign_scalar_variable_to_conditions_process.py
  kratos/python_scripts/assign_vector_by_direction_process.py
  kratos/python_scripts/assign_vector_by_direction_to_condition_process.py
  kratos/python_scripts/assign_vector_variable_process.py
  kratos/python_scripts/assign_vector_variable_to_conditions_process.py
  kratos/python_scripts/check_scalar_to_nodes_process.py
  kratos/python_scripts/check_vector_components_to_nodes_process.py
  kratos/python_scripts/compare_two_files_check_process.py
  kratos/python_scripts/from_json_check_result_process.py
  kratos/python_scripts/json_output_process.py
  kratos/python_scripts/line_output_process.py
  kratos/python_scripts/multiple_points_output_process.py
  kratos/python_scripts/point_output_process.py
  kratos/python_scripts/save_restart_process.py
  kratos/python_scripts/skin_detection_process.py
Labels: Documentation, Kratos Core, Python

#2585 [FluidDynamicsApplication]Removing warning in cpp test
  applications/FluidDynamicsApplication/tests/cpp_tests/test_compressible_navier_stokes_symbolic_element.cpp
Labels: Applications, C++, FastPR, Testing, Warning

#2501 [Core][GidPost]Adding elemental and conditional flags to post process
  kratos/includes/gid_gauss_point_container.h
  kratos/includes/gid_io.h
  kratos/python/add_io_to_python.cpp
  kratos/python_scripts/gid_output_process.py
  kratos/tests/gid_io/ref_gid_io_gp_active_only_0.post.res
  kratos/tests/gid_io/ref_gid_io_gp_dynamic_deactivation_0.post.res
  kratos/tests/test_gid_io_gauss_points.py
Labels: Enhancement, Kratos Core

#2597 [ContactStructuralMechanicsApplication] Some updates on the contact mechanics
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.h
  applications/ContactStructuralMechanicsApplication/custom_python/contact_structural_mechanics_python_application.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mortar_and_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_parameters.json
Labels: Applications, Enhancement

#2503 Core/move variable redistribution utility from fsi
  applications/FSIapplication/CMakeLists.txt
  applications/FSIapplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FSIapplication/python_scripts/trilinos_partitioned_fsi_base_solver.py
  applications/FSIapplication/python_scripts/trilinos_partitioned_fsi_dirichlet_neumann_solver.py
  applications/FSIapplication/tests/test_FSIApplication.py
  applications/convection_diffusion_application/tests/thermal_coupling_test.py
  kratos/CMakeLists.txt
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/RedistributionTest/redistribution_test.mdpa
  kratos/tests/RedistributionTest/square10.mdpa
  kratos/tests/test_KratosCore.py
  kratos/tests/test_variable_redistribution.py
  kratos/utilities/variable_redistribution_utility.cpp
  kratos/utilities/variable_redistribution_utility.h
Labels: Applications, Cleanup, Kratos Core

#2600 [Core] Adding geometries node ordering to its description
  kratos/geometries/hexahedra_3d_20.h
  kratos/geometries/hexahedra_3d_27.h
  kratos/geometries/hexahedra_3d_8.h
  kratos/geometries/line_2d_2.h
  kratos/geometries/line_2d_3.h
  kratos/geometries/line_3d_2.h
  kratos/geometries/line_3d_3.h
  kratos/geometries/prism_3d_15.h
  kratos/geometries/prism_3d_6.h
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/geometries/tetrahedra_3d_10.h
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_2d_6.h
  kratos/geometries/triangle_3d_3.h
  kratos/geometries/triangle_3d_6.h
Labels: Documentation, FastPR, Kratos Core

#2598 [Core] Minor change in README:md, sometimes with blob does not display the image
  README.md
Labels: FastPR, Kratos Core

#2592 [EigenApp] Including Eigen as System-Header
  applications/EigenSolversApplication/CMakeLists.txt
Labels: Compilation, Warning

#2391 [Core] Added element reordering to model part optimization
  kratos/processes/reorder_and_optimize_modelpart_process.cpp
  kratos/processes/reorder_and_optimize_modelpart_process.h
Labels: Kratos Core

#2582 [Core] Removing deprecated code from process_factory
  kratos/python_scripts/process_factory.py
Labels: Cleanup, Kratos Core, Python

#2606 block b & s to check if condition in assemble row contribution
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: C++, FastPR, Kratos Core, Performance

#2573 core - mesh smoothing process - flag added in constructor
  kratos/processes/mesh_local_smoothing_process.cpp
  kratos/processes/mesh_local_smoothing_process.h
Labels: Kratos Core

#2276 Added const functions to node
  kratos/includes/node.h
Labels: Cleanup, Kratos Core

#2610 [ContactStructuralMechanicsApplication] Clean up CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
Labels: Applications, Cleanup

#2260 [Core][Hotfix] Correcting compute of the residual/displacement norm
  applications/StructuralMechanicsApplication/tests/test_patch_test_truss.py
  kratos/solving_strategies/convergencecriterias/displacement_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
Labels: Bug, Hotfix, Kratos Core
