Repository KratosMultiphysics/Kratos, pull requests merged in 2018-04, with the labels that each got.

#1788 [ContactStructuralMechanicsApplication][Core] Memory leaks
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_nonmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_test_large_disp_hexa_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_test_large_disp_tetra_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/quadrilaterals_non_matching.mdpa
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_patch_test_large_disp_hexa_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/hyper_simple_slope_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
  kratos/geometries/quadrilateral_3d_4.h
  kratos/includes/mortar_classes.h
  kratos/tests/test_exact_integration.py
  kratos/utilities/exact_mortar_segmentation_utility.cpp
  kratos/utilities/exact_mortar_segmentation_utility.h
Labels: applications, debug, hotfix, kratos core, test

#1786 [ContactStructuralMechanicsApplication] Adding retrocompatibility to gcc-5 (to_string bug)
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
Labels: applications, bug, compilation, gcc

#1785 [ContactStructuralMechanicsApplication] Adding cotire support
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
Labels: applications, compilation, enhancement

#1765 [ContactStructuralMechanicsApplication] Creating new properties instead of copying for contact conditions
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_fast_init_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
Labels: applications, cleanup, enhancement

#1784 Hotfix visualization process skin interpolation
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_skin_visualization_process.cpp
Labels: bug

#1750 Plane approximation utility: bug correction in 2D plus @pooyan-dadvand suggestions.
  kratos/tests/utilities/test_plane_approximation_utility.cpp
  kratos/utilities/plane_approximation_utility.h
Labels: bug, enhancement, kratos core

#1783 [ContactStructuralMechanicsApplication] Adding the possibilty of automatic search in case of not master/slave is assigned
  applications/ContactStructuralMechanicsApplication/custom_processes/master_slave_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/master_slave_process.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
  applications/ContactStructuralMechanicsApplication/tests/test_dynamic_search.py
  applications/ContactStructuralMechanicsApplication/tests/test_mortar_mapper.py
Labels: applications, enhancement

#1692 Migrating ComputeColors from MMG to Core
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
  kratos/CMakeLists.txt
  kratos/tests/utilities/test_sub_model_parts_list_utility.cpp
  kratos/utilities/sub_model_parts_list_utility.cpp
  kratos/utilities/sub_model_parts_list_utility.h
Labels: applications, cleanup, kratos core

#1797 [MeshingApplication] Enhance internal interpolation process
  applications/MeshingApplication/custom_includes/gauss_point_item.h
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.h
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
Labels: applications, enhancement

#1746 Creation of intersection utilities (together with tests)
  kratos/tests/utilities/test_intersection_utilities.cpp
  kratos/utilities/intersection_utilities.h
Labels: kratos core

#1798 Merging python processes to reduce the number of files
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/ProjectParametersAuxProcs.tcl
  applications/PoromechanicsApplication/python_scripts/apply_load_scalar_table_process.py
  applications/PoromechanicsApplication/python_scripts/apply_load_vector_table_process.py
  applications/PoromechanicsApplication/python_scripts/apply_pore_pressure_table_process.py
  applications/PoromechanicsApplication/python_scripts/apply_scalar_constraint_table_process.py
  applications/PoromechanicsApplication/python_scripts/apply_vector_constraint_table_process.py
Labels: python

#1799 [MeshingApplication][Hotfix] No reference reduction in OMP VS version
  applications/MeshingApplication/custom_processes/mmg_process.cpp
Labels: applications, c++, hotfix

#1468 Important change! Changing variable key to an automatically generated hash value
  kratos/containers/data_value_container.h
  kratos/containers/variable_component.h
  kratos/containers/variable_data.cpp
  kratos/containers/variable_data.h
  kratos/containers/vector_component_adaptor.h
  kratos/includes/define.h
  kratos/includes/fnv_1a_hash.h
  kratos/includes/kernel.h
  kratos/tests/containers/test_data_value_container.cpp
  kratos/tests/containers/test_variables.cpp
Labels: enhancement, kratos core

#1668 [Discussion]Adding custom BDF scheme
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
Labels: discussion, kratos core

#1770 [Core] Adding Model::HasModelPart
  kratos/containers/model.cpp
  kratos/containers/model.h
  kratos/python/add_model_to_python.cpp
  kratos/tests/containers/test_model.cpp
  kratos/tests/test_model.py
Labels: enhancement, kratos core

#1811 [StructuralMechanicsApplication] Hotfix test failing
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.h
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.hpp
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_formfinding.py
Labels: hotfix, test

#1814 [Core] Adding 64 bit version of Hash FNV1A
  kratos/includes/fnv_1a_hash.h
Labels: enhancement, kratos core, test

#1823 Pybind11/thermo mechanical
  applications/ThermoMechanicalApplication/CMakeLists.txt
  applications/ThermoMechanicalApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ThermoMechanicalApplication/custom_python/add_custom_processes_to_python.h
  applications/ThermoMechanicalApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ThermoMechanicalApplication/custom_python/add_custom_strategies_to_python.h
  applications/ThermoMechanicalApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ThermoMechanicalApplication/custom_python/add_custom_utilities_to_python.h
  applications/ThermoMechanicalApplication/custom_python/thermo_mechanical_python_application.cpp
  applications/ThermoMechanicalApplication/custom_utilities/biphasic_filling_utilities.h
  applications/ThermoMechanicalApplication/custom_utilities/estimate_time_step.h
  applications/ThermoMechanicalApplication/custom_utilities/particle_levelset_utilities.h
Labels: python

#1817 [Core][Hotfix] Removing static constexpr confictive
  kratos/utilities/exact_mortar_segmentation_utility.cpp
  kratos/utilities/exact_mortar_segmentation_utility.h
Labels: c++, hotfix, kratos core

#1828 Minor performance improvements in ShapeApp
  applications/ShapeOptimizationApplication/python_scripts/communicator_factory.py
Labels: python

#1840 [ParticleMechanicsApplication] Porting to pybind
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/custom_python/add_custom_conditions_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_conditions_to_python.h
  applications/ParticleMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.h
  applications/ParticleMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_processes_to_python.h
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.h
  applications/ParticleMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_utilities_to_python.h
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_residual_based_newton_raphson_strategy.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
Labels: applications, c++, compilation, external library, python

#1825 [StructuralMechanics] Cleaning EICR
  applications/StructuralMechanicsApplication/custom_utilities/EICR.hpp
Labels: applications, cleanup

#1842 Fixing compilation error and linking error after pybind port
  applications/DamApplication/CMakeLists.txt
  applications/DamApplication/custom_utilities/construction_utility.hpp
  applications/DamApplication/custom_utilities/global_joint_stress_utility.hpp
  applications/DamApplication/custom_utilities/streamlines_output_3D_utilities.hpp
  applications/DamApplication/custom_utilities/transfer_selfweight_stress_utility.hpp
Labels: c++

#1818 [StructuralMechanics] Fix EigenPost test
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/test_remesh_sphere.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.py
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.ref
  kratos/python_scripts/compare_two_files_check_process.py
Labels: applications, cleanup, test

#1847 Solves #1845
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
Labels: applications, hotfix, test

#1852 Correcting components variables
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/python_scripts/particle_solver.py
Labels: applications, debug, python

#1853 Adding pointer and base arguments to some classes to fix runtime errors
  applications/AdjointFluidApplication/custom_python/add_custom_response_functions_to_python.cpp
  applications/AdjointFluidApplication/custom_python/add_custom_schemes_to_python.cpp
Labels: bug, hotfix, python

#1858 [Core]Mortar enhancement
  kratos/includes/mapping_variables.h
  kratos/includes/mortar_classes.h
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/sources/mapping_variables.cpp
  kratos/utilities/exact_mortar_segmentation_utility.cpp
  kratos/utilities/mortar_utilities.h
Labels: cleanup, enhancement, kratos core

#1755 [StructuralMechanicsApplication] Add Shell to SolidShell process
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_shell_to_solid_shell_process.cpp
Labels: applications, enhancement, test

#1857 Adding Pointer holder types to strategies and schemes.
  applications/trilinos_application/custom_python/add_trilinos_schemes_to_python.cpp
  applications/trilinos_application/custom_python/add_trilinos_strategies_to_python.cpp
Labels: bug, python

#1869 [StructuralMechanicsApplication][Hotfix]Missing API on ShellToSolidShellProcess
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.h
Labels: compilation, hotfix, windows

#1874 removing expected failure from test importing
  kratos/tests/test_importing.py
Labels: test

#1834 DEM Bugfix Virtual Sea Surface
  applications/DEM_application/custom_problemtype/DEMpack/scripts/libs/wkcf/wkcfdem.tcl
  applications/DEM_application/python_scripts/DEM_procedures.py
  applications/DEM_application/python_scripts/dem_default_input_parameters.py
  applications/DEM_application/test_examples/basic_benchmarks/ProjectParametersDEMCONT.json
  applications/DEM_application/test_examples/basic_benchmarks/ProjectParametersDEMFEM.json
  applications/DEM_application/test_examples/basic_benchmarks/ProjectParametersDISCONT.json
  applications/DEM_application/test_examples/basic_benchmarks/ProjectParametersDISclRK.json
  applications/DEM_application/test_examples/basic_benchmarks/ProjectParametersDISclZHAO.json
  applications/DEM_application/test_examples/basic_benchmarks/ProjectParametersROLLFR.json
  applications/DEM_application/test_examples/basic_benchmarks/ProjectParametersUCS.json
Labels: bug, python

#1813 [StructuralMechanicsApplication] Hotfix MPC builder and solver
  applications/StructuralMechanicsApplication/custom_processes/apply_multi_point_constraints_process.h
  applications/StructuralMechanicsApplication/custom_strategies/custom_builder_and_solver/residualbased_block_builder_and_solver_with_mpc.h
  applications/StructuralMechanicsApplication/custom_utilities/multipoint_constraint_data.hpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: applications, bug, cleanup, duplicate, hotfix, test

#1876 Adding PRIVATE for linking of TrilinosApp, MetisApp & mpiPython
  applications/convection_diffusion_application/CMakeLists.txt
  applications/metis_application/CMakeLists.txt
  applications/trilinos_application/CMakeLists.txt
  external_libraries/mpi_python/CMakeLists.txt
Labels: applications, cleanup

#1780 [Core] Base AnalysisStage
  kratos/python_scripts/base_analysis_stage.py
Labels: applications, enhancement, kratos core

#1768 Struct mech/feature elastic c ls
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constitutive/axisym_elastic_isotropic.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/axisym_elastic_isotropic.h
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_plane_stress_uncoupled_shear.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_plane_stress_uncoupled_shear.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_strain_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_strain_2d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_stress_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_stress_2d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_plane_strain_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_plane_strain_2d.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_elastic_orthotropic_2D_law.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_elastic_orthotropic_2D_law.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_plane_strain_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_plane_strain_2d.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_Thin__DrillingRollUp_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_Thin__DrillingRollUp_test_results.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_static_struct_hinged_cyl_roof_snapthrough_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_static_struct_hinged_cyl_roof_snapthrough_results.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_nonlinear_static_unstruct_hinged_cyl_roof_snapthrough_results.json
  applications/StructuralMechanicsApplication/tests/test_constitutive_law.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_shells_stress.py
  kratos/includes/variables.h
  kratos/python/add_mat_variables_to_python.cpp
  kratos/python_scripts/json_output_process.py
  kratos/sources/variables.cpp
Labels: bug, enhancement

#1892 [ContactStructuralMechanicsApplication][Hotfix] #1768 changes slightly the results and some tests fail
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_results_LM.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_slope_patch_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_slope_patch_test_results_LM.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_notmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_notmatching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_results_LM.json
  kratos/utilities/exact_mortar_segmentation_utility.cpp
Labels: applications, hotfix, test

#1849 Hotfix fldyn cpp tests
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_ausas_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_navier_stokes_element.cpp
Labels: applications, test

#1893 [StructuralMechanics] adding missing overrides after #1768
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_plane_stress_uncoupled_shear.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.h
Labels: applications, cleanup

#1900 Added quadratic shape functions for Triangle2D6 and Tetrahedra3D10 and geometry tests
  kratos/geometries/geometry.h
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/tetrahedra_3d_10.h
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_2d_6.h
  kratos/geometries/triangle_3d_3.h
  kratos/tests/geometries/cross_check_shape_functions_values.h
  kratos/tests/geometries/test_quadrilateral_2d_4.cpp
  kratos/tests/geometries/test_quadrilateral_3d_4.cpp
  kratos/tests/geometries/test_shape_function_derivatives.h
  kratos/tests/geometries/test_tetrahedra_3d_10.cpp
  kratos/tests/geometries/test_tetrahedra_3d_4.cpp
  kratos/tests/geometries/test_triangle_2d_3.cpp
  kratos/tests/geometries/test_triangle_2d_6.cpp
  kratos/tests/geometries/test_triangle_3d_3.cpp
  kratos/tests/sources/cross_check_shape_functions_values.cpp
  kratos/tests/sources/test_shape_function_derivatives.cpp
Labels: enhancement, kratos core, test

#1901 Fix thermo mechanical override warnings
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_2d.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_3d.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_3d_levelset.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_diff_2d.h
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_diff_3d.cpp
  applications/ThermoMechanicalApplication/custom_elements/SUPG_conv_diff_3d.h
  applications/ThermoMechanicalApplication/custom_elements/environment_contact.h
  applications/ThermoMechanicalApplication/custom_elements/heat_contact_2d.h
  applications/ThermoMechanicalApplication/custom_elements/heat_contact_3d.h
  applications/ThermoMechanicalApplication/custom_elements/thermal_face2d.h
  applications/ThermoMechanicalApplication/custom_elements/thermal_face3d.h
  applications/ThermoMechanicalApplication/custom_processes/activation_deactivation_conditions_process.h
  applications/ThermoMechanicalApplication/custom_processes/duplicate_interface_nodes_create_conditions_process.h
  applications/ThermoMechanicalApplication/custom_processes/solidification_process.h
  applications/ThermoMechanicalApplication/custom_strategies/general_residualbased_incrementalupdate_variable_property_static_scheme.h
  applications/ThermoMechanicalApplication/custom_strategies/residualbased_incrementalupdate_variable_property_static_scheme.h
Labels: cleanup, warning

#1902 Fix remove stabilized cfd warnings
  applications/StabilizedCFDApplication/custom_conditions/dss_face.h
  applications/StabilizedCFDApplication/custom_elements/dss.h
  applications/StabilizedCFDApplication/custom_elements/dss_fic.h
  applications/StabilizedCFDApplication/custom_elements/dss_fic_limited.h
  applications/StabilizedCFDApplication/custom_elements/dss_gls.h
  applications/StabilizedCFDApplication/custom_elements/dss_notau2.h
  applications/StabilizedCFDApplication/custom_elements/dss_ps.h
  applications/StabilizedCFDApplication/custom_elements/dynss.h
  applications/StabilizedCFDApplication/custom_elements/dynss_notau2.h
  applications/trilinos_application/custom_python/add_trilinos_convergence_criterias_to_python.cpp
Labels: compilation, warning

#1864 [FluidDynamicsApplication] Adding compressible fluid element
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes.h
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/custom_utilities/compressible_element_rotation_utility.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/python_solvers_wrapper_fluid.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/ConvectiveFlux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/DiffusiveFlux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/MainJupyter.ipynb
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/SourceTerm.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/StabilizationMatrix.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_compressible_navier_stokes.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/params_dict.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_compressible_navier_stokes_symbolic_element.cpp
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme_slip.h
  kratos/sources/variables.cpp
  kratos/utilities/coordinate_transformation_utilities.h
Labels: applications, enhancement, kratos core

#1791 Distance modification process upgrade
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.h
  applications/FluidDynamicsApplication/python_scripts/apply_distance_modification_process.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_distance_modification_process.cpp
Labels: applications, bug, cleanup, enhancement, test

#1924 [ContactStructuralMechanicsApplication] Adding cpp tests to the nightly run
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hyper_simple_patch_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/pure_friction_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/pure_friction_test_materials.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/pure_friction_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/pure_friction_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/NightlyTests.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_integration.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_mixedulm_linear_solver.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_processes.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
  applications/ContactStructuralMechanicsApplication/tests/run_cpp_unit_tests.py
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: applications, c++, test

#1865 [StructuralMechanicsApplication]Cleaning SPrism element
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_elements/SprismElement3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/SprismElement3D6N.hpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_math_utilities.hpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/sprism_test/pan_test.mdpa
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_test.mdpa
Labels: applications, cleanup

#1916 Fixing particle mechanics application
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3d_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_UP_3d_law.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_residual_based_newton_raphson_strategy.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/python_scripts/particle_solver.py
Labels: applications, hotfix

#1940 Fluid/cleanup using ublas aliases
  applications/FluidDynamicsApplication/custom_conditions/embedded_ausas_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/embedded_ausas_navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms.h
  applications/FluidDynamicsApplication/custom_elements/dpg_vms.h
  applications/FluidDynamicsApplication/custom_elements/embedded_ausas_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_ausas_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.h
  applications/FluidDynamicsApplication/custom_elements/stokes_3D.cpp
  applications/FluidDynamicsApplication/custom_elements/stokes_3D.h
  applications/FluidDynamicsApplication/custom_elements/stokes_3D_twofluid.cpp
  applications/FluidDynamicsApplication/custom_elements/stokes_3D_twofluid.h
  applications/FluidDynamicsApplication/custom_elements/symbolic_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_vms.h
  applications/FluidDynamicsApplication/custom_elements/vms.cpp
  applications/FluidDynamicsApplication/custom_elements/vms.h
  applications/FluidDynamicsApplication/custom_processes/spalart_allmaras_turbulence_model.h
  applications/FluidDynamicsApplication/custom_processes/stokes_initialization_process.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/gear_scheme.h
  applications/FluidDynamicsApplication/custom_utilities/compressible_element_rotation_utility.h
  applications/FluidDynamicsApplication/custom_utilities/dynamic_smagorinsky_utilities.h
  applications/FluidDynamicsApplication/custom_utilities/element_size_calculator.cpp
  applications/FluidDynamicsApplication/custom_utilities/element_size_calculator.h
  applications/FluidDynamicsApplication/custom_utilities/estimate_dt_utilities.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_utilities.h
  applications/FluidDynamicsApplication/custom_utilities/qsvms_data.h
  applications/FluidDynamicsApplication/custom_utilities/symbolic_navier_stokes_data.h
  applications/FluidDynamicsApplication/custom_utilities/vorticity_utilities.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/symbolic_generation/embedded_ausas_navier_stokes/embedded_ausas_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_stokes/stokes_twofluid_cpp_template_3D.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_compressible_navier_stokes_symbolic_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_symbolic_element.cpp
Labels: cleanup

#1943 Removing direct mentions of ublas.
  applications/StabilizedCFDApplication/custom_conditions/dss_face.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_fic.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_fic.h
  applications/StabilizedCFDApplication/custom_elements/dss_ps.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_ps.h
  applications/StabilizedCFDApplication/custom_python/add_custom_utilities_to_python.cpp
Labels: cleanup

#1950 Fluid/hotfix clang warnings
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms.h
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.cpp
  applications/FluidDynamicsApplication/tests/artificial_compressibility_test.py
  applications/FluidDynamicsApplication/tests/embedded_couette_imposed_test.py
  applications/FluidDynamicsApplication/tests/embedded_couette_test.py
  applications/FluidDynamicsApplication/tests/embedded_reservoir_test.py
  applications/FluidDynamicsApplication/tests/navier_stokes_wall_condition_test.py
  applications/StabilizedCFDApplication/custom_elements/dss.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_fic.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_fic.h
  applications/StabilizedCFDApplication/custom_elements/dss_gls.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_gls.h
  applications/StabilizedCFDApplication/custom_elements/dynss.cpp
  applications/StabilizedCFDApplication/custom_elements/dynss.h
  kratos/modified_shape_functions/modified_shape_functions.h
  kratos/modified_shape_functions/tetrahedra_3d_4_modified_shape_functions.h
  kratos/modified_shape_functions/triangle_2d_3_modified_shape_functions.h
Labels: clang, warning

#1954 [StructuralMechanics] AMatrix Typedefs
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.cpp
  applications/StructuralMechanicsApplication/custom_elements/cable_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cable_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.hpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_linear_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_python/add_cross_sections_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/harmonic_analysis_strategy.hpp
  applications/StructuralMechanicsApplication/custom_utilities/EICR.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shellq4_corotational_coordinate_transformation.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shellq4_local_coordinate_system.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shellt3_corotational_coordinate_transformation.hpp
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_math_utilities.hpp
Labels: applications, cleanup

#1936 Discontinuous distance enhancement
  kratos/geometries/plane_3d.h
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
  kratos/tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
  kratos/tests/processes/test_find_intersected_geometrical_objects_process.cpp
  kratos/tests/utilities/test_intersection_utilities.cpp
  kratos/utilities/intersection_utilities.h
Labels: enhancement, kratos core

#1968 [StructuralMechanics] MPI tests and minor tests improvements
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/NightlyTests.py
  applications/StructuralMechanicsApplication/tests/SmallTests.py
  applications/StructuralMechanicsApplication/tests/ValidationTests.py
  applications/StructuralMechanicsApplication/tests/restart_tests.py
  applications/StructuralMechanicsApplication/tests/run_cpp_unit_tests.py
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_pinched_cylinder_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_pinched_cylinder_results_mpi.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_linear_static_pinched_cylinder_materials.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory_mpi.py
  applications/StructuralMechanicsApplication/tests/structural_response_function_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication_mpi.py
  applications/trilinos_application/python_scripts/trilinos_import_model_part_utility.py
Labels: applications, enhancement, test

#1981 [HDF5] fixing compiler warning
  applications/HDF5Application/custom_io/hdf5_element_solution_step_data_io.cpp
Labels: applications, cleanup, compilation

#1752 [Core]Removing copy constructor of ModelPart
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
  kratos/tests/test_geometries.py
  kratos/utilities/bounding_box_utilities.h
  kratos/utilities/geometry_tester.h
Labels: cleanup, hotfix, kratos core
