Repository KratosMultiphysics/Kratos, pull requests merged in 2018-09, with the labels that each got.

#2770 Removing unused omp include.
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.h
Labels: Compilation, Hotfix

#2772 Fixing MPIGiDOutputProcess
  applications/trilinos_application/python_scripts/gid_output_process_mpi.py
Labels: Error, FastPR, Hotfix, Parallel-MPI, Python

#2777 [StructuralMechanicsApplication] Changing wrapper get GP
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.h
Labels: Applications, Duplicate, FastPR

#2728 [Core] Adding compatibilty between triangles and quadrialetarls for mortar integration
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
  kratos/includes/mortar_classes.h
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/mortar_mapper_python_tests/test_double_curvature_integration_triangle_quadrilateral.json
  kratos/tests/mortar_mapper_python_tests/test_double_curvature_integration_triangle_quadrilateral.mdpa
  kratos/tests/mortar_mapper_python_tests/test_double_curvature_integration_triangle_quadrilateral_inverted.json
  kratos/tests/test_mortar_mapper.py
  kratos/utilities/exact_mortar_segmentation_utility.cpp
  kratos/utilities/exact_mortar_segmentation_utility.h
Labels: Enhancement, Kratos Core

#2790 [Fluid] Reducing tolerance of cylinder test reference file checking
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_fluid_parameters.json
Labels: Testing

#2791 [MeshingApplication] Fixing tests MMG
  applications/MeshingApplication/tests/Kratos_Execute_Meshing_Test.py
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_result.sol
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test.mdpa
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_result.sol
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test.mdpa
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_result.sol
  applications/MeshingApplication/tests/mmg_lagrangian_test/materials_2D.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/materials_3D.json
  applications/MeshingApplication/tests/test_remesh_sphere.py
  kratos/python_scripts/compare_two_files_check_process.py
Labels: Applications, FastPR, Hotfix, Testing

#2713 [Core] Hotfix define python for tensor
  kratos/includes/define_python.h
  kratos/includes/dof.h
  kratos/includes/kratos_application.h
  kratos/includes/kratos_components.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_kernel_to_python.cpp
  kratos/python/add_mesh_to_python.cpp
  kratos/python/add_node_to_python.cpp
  kratos/python/add_utilities_to_python.cpp
  kratos/sources/kratos_components.cpp
  kratos/sources/variables.cpp
  kratos/utilities/variable_utils.cpp
Labels: Cleanup, Duplicate, Hotfix, Kratos Core, Python

#2794 [StructuralMechanicsApplciation] Fixing warnings
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_spr_error_process.cpp
Labels: Applications, FastPR, Hotfix, Warning

#2796 [StructuralMechanicsApplication] Laws compatibility with larges displacement elements
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/drucker_prager_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/generic_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/modified_mohr_coulomb_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/tresca_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/von_mises_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/drucker_prager_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/generic_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/rankine_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/simo_ju_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/tresca_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/von_mises_yield_surface.h
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
Labels: Applications, Cleanup, Enhancement

#2756 [Core] Adding transpose operation to sparse matrix utility
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/small_A.mm
  kratos/tests/test_KratosCore.py
  kratos/tests/test_sparse_multiplication.py
  kratos/utilities/sparse_matrix_multiplication_utility.h
Labels: Enhancement, Kratos Core

#2754 [Core] Condition number utility. Sparse definition of the identity
  kratos/utilities/condition_number_utility.h
Labels: Enhancement, Kratos Core, Performance

#2780 [Core] Removing unused python define in define.h
  kratos/includes/define.h
Labels: C++, Cleanup, Kratos Core, Python

#2804 [DEM] Tests time reduced thanks to switch to 1 thread execution
  applications/DEM_application/tests/test_analytics.py
Labels: Parallel-OMP, Testing

#2798 [StructuralMechanics] shells improvements orthotropic
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thick_orthotropic_laminate_linear_static_test_materials.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thin_orthotropic_laminate_linear_static_test_materials.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_Thick_orthotropic_laminate_linear_static_test_materials.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3_Thin_orthotropic_laminate_linear_static_test_materials.json
  applications/StructuralMechanicsApplication/tests/test_patch_test_shells_orthotropic.py
Labels: Applications, Cleanup

#2799 [StructuralMechanics] shells improving warning
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D3N.cpp
Labels: Applications, Cleanup, Warning

#2801 [StructuralMechanics] eigen post process Execute
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.h
  applications/StructuralMechanicsApplication/python_scripts/postprocess_eigenvalues_process.py
Labels: Applications, Cleanup

#2797 minor update configure.sh
  cmake_build/example_configure.sh.do_not_touch
Labels: Cleanup

#2809 [ContactStructuralMechanicsApplication] Typo, model called main_model_part
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
Labels: Applications, Python, Typo

#2793 Breaking circular include in gid_io.h.
  kratos/includes/gid_gauss_point_container.h
  kratos/includes/gid_mesh_container.h
Labels: C++, Hotfix, Kratos Core

#2805 [Core] Downloading MMG precompiled in nightly build
  scripts/build/nightly/configure_clang.sh
  scripts/build/nightly/configure_gcc.sh
  scripts/build/nightly_build.sh
Labels: Benchmarking, Kratos Core

#2821 [ContactStructuralMechanicsApplication][Hotfix] Hotfix solvers
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
Labels: Applications, Hotfix, Python

#2820 [StructuralMechanicsApplication] Adding check to perturbation in tangent matrix utility
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_utilities/tangent_operator_calculator_utility.h
Labels: Applications, Enhancement, FastPR

#2819 [Core] Adding EigenSolversApplication to nightly build
  scripts/build/nightly/configure_clang.sh
  scripts/build/nightly/configure_gcc.sh
  scripts/build/nightly_build.sh
Labels: Benchmarking, Kratos Core

#2815 GiDOutputProcess commenting problematic code related to restarting
  kratos/python_scripts/gid_output_process.py
Labels: Error

#2625 [Meshmoving] update python scripts
  applications/MeshMovingApplication/python_scripts/mesh_moving_analysis.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/python_solvers_wrapper_mesh_motion.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_structural_similarity.py
  applications/MeshMovingApplication/tests/mesh_moving_test_case.py
  applications/MeshMovingApplication/tests/mpi_test_laplacian_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/mpi_test_structural_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/run_cpp_unit_tests.py
  applications/MeshMovingApplication/tests/test_MeshMovingApplication.py
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d.py
Labels: Applications, Cleanup

#2834 [StructuralMechanicsApplication] Changing properties for CL parameters
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/drucker_prager_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/generic_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/modified_mohr_coulomb_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/tresca_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/von_mises_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/drucker_prager_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/generic_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/rankine_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/simo_ju_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/tresca_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/von_mises_yield_surface.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_yield_surfaces_3d.cpp
Labels: Applications, Enhancement

#2749 Adding app destructor overrides
  applications/EmpireApplication/empire_application.h
  applications/FSIapplication/fsi_application.h
  applications/HDF5Application/hdf5_application.h
  applications/IgaApplication/iga_application.h
  applications/MappingApplication/mapping_application.h
  applications/MeshMovingApplication/mesh_moving_application.h
  applications/ShapeOptimizationApplication/shape_optimization_application.h
  applications/StabilizedCFDApplication/stabilized_cfd_application.h
  applications/ThermoMechanicalApplication/thermo_mechanical_application.h
  applications/TopologyOptimizationApplication/topology_optimization_application.h
  applications/metis_application/metis_application.h
  applications/trilinos_application/trilinos_application.h
  kratos/templates/template_application/template_application.h.in
Labels: Applications, Cleanup

#2613 [StructuralMechanicsApplication][MeshingApplication] Adaptative scripts
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_utilities.py
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_adaptative_remeshing_contact_structural.py
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/test_examples/beam_spr/MainKratos.py
  applications/MeshingApplication/test_examples/beam_spr/ProjectParameters.json
  applications/MeshingApplication/test_examples/beam_spr/StructuralMaterials.json
  applications/MeshingApplication/test_examples/beam_spr/beam_spr.mdpa
  applications/MeshingApplication/test_examples/contact_spr/MainKratos.py
  applications/MeshingApplication/test_examples/contact_spr/ProjectParameters.json
  applications/MeshingApplication/test_examples/contact_spr/StructuralMaterials.json
  applications/MeshingApplication/test_examples/contact_spr/contact_spr.mdpa
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_utilities.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_adaptative_remeshing_structural.py
Labels: Applications, Enhancement

#2836 [StructuralMechanics] fixing tests
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_bending_test_parameters.json
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_membrane_test_parameters.json
Labels: Applications, FastPR, Testing

#2822 [ContactStructuralMechanicsApplication] Support for MPC
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_builder_and_solvers/contact_residualbased_block_builder_and_solver.h
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
Labels: Applications, Enhancement

#2808 [ContactStructuralMechanicsApplication] Improve contact strategy
  applications/ContactStructuralMechanicsApplication/custom_linear_solvers/mixedulm_linear_solver.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
Labels: Applications, Enhancement

#2839 [ContactStructuralMechanicsApplication] Typo in solver
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
Labels: Applications, FastPR, Typo

#2838 [StructuralMechanicsApplication] Moving execution to an indep. function
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.h
Labels: Applications, Cleanup, FastPR

#2832 [Core] RayleighQuotientIterationEigenvalueSolver with sparse utilities
  kratos/linear_solvers/rayleigh_quotient_iteration_eigenvalue_solver.h
Labels: Cleanup, Enhancement, Kratos Core, Performance

#2837 [MeshingApplication] Renaming MMG vector to generic metric tensor
  applications/MeshingApplication/custom_processes/metric_fast_init_process.cpp
  applications/MeshingApplication/custom_processes/metric_fast_init_process.h
  applications/MeshingApplication/custom_processes/metrics_error_process.cpp
  applications/MeshingApplication/custom_processes/metrics_error_process.h
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_processes/metrics_levelset_process.cpp
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_python/kratos_meshing_python_application.cpp
  applications/MeshingApplication/custom_utilities/metrics_math_utils.h
  applications/MeshingApplication/meshing_application.cpp
  applications/MeshingApplication/meshing_application.h
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
  applications/MeshingApplication/tests/test_remesh_sphere.py
Labels: Applications, Cleanup

#2844 [ContactStructuralMechanicsApplication] Warning comparison signed/unsigned integer
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
Labels: Applications, FastPR, Hotfix, Warning

#2841 [StructuralMechanicsApplication] Making possible define 1 yield stress
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/drucker_prager_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/generic_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/rankine_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/simo_ju_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/tresca_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/von_mises_yield_surface.h
Labels: Applications, Documentation, Enhancement, FastPR

#2845 [ContactStructuralMechanicsApplication] Transition PR for #2779
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_components_mortar_condition/ALM_frictionless_components_mortar_contact_condition_template.cpp
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_components_mortar_condition/generate_frictionless_components_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_mortar_condition/ALM_frictionless_mortar_contact_condition_template.cpp
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_mortar_condition/generate_frictionless_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/generate_mesh_tying_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
Labels: Applications, Enhancement, Transition

#2850 [Core][Hotfix] Sparse transpose RuntimeError: internal logic solved
  kratos/utilities/sparse_matrix_multiplication_utility.h
Labels: External library, Hotfix, Kratos Core

#2767 [ConvDiff][Fluid] Buoyancy and conjugate heat transfer solvers
  applications/FluidDynamicsApplication/custom_processes/boussinesq_force_process.cpp
  applications/FluidDynamicsApplication/custom_processes/boussinesq_force_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/python_scripts/apply_boussinesq_force_process.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/python_solvers_wrapper_fluid.py
  applications/FluidDynamicsApplication/tests/buoyancy_test.py
  applications/convection_diffusion_application/convection_diffusion_application_variables.cpp
  applications/convection_diffusion_application/convection_diffusion_application_variables.h
  applications/convection_diffusion_application/custom_python/kratos_convection_diffusion_python_application.cpp
  applications/convection_diffusion_application/python_scripts/conjugate_heat_transfer_solver.py
  applications/convection_diffusion_application/python_scripts/convection_diffusion_analysis.py
  applications/convection_diffusion_application/python_scripts/convection_diffusion_base_solver.py
  applications/convection_diffusion_application/python_scripts/convection_diffusion_transient_solver.py
  applications/convection_diffusion_application/python_scripts/coupled_fluid_thermal_solver.py
  applications/convection_diffusion_application/python_scripts/python_solvers_wrapper_convection_diffusion.py
  kratos/modeler/connectivity_preserve_modeler.h
  kratos/python/add_utilities_to_python.cpp
  kratos/python_scripts/python_solver.py
  kratos/sources/connectivity_preserve_modeler.cpp
  kratos/tests/test_connectivity_preserve_modeler.py
  kratos/utilities/merge_variable_lists_utility.h
Labels: Applications

#2858 [StructuralMechanics] minor solver cleaning after #2767
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, Cleanup

#2855 [ParticleMechanics] Cleanup and echo update
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.hpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_conditions_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.h
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_residual_based_newton_raphson_strategy.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
Labels: Applications, Cleanup, FastPR

#2857 [StructuralMechanicsApplication] Refactoring constitutive laws. Bounded arrays
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_plane_strain_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/drucker_prager_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/generic_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/modified_mohr_coulomb_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/tresca_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/von_mises_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/small_strain_isotropic_plasticity_factory_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/drucker_prager_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/generic_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/rankine_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/simo_ju_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/tresca_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/von_mises_yield_surface.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_yield_surfaces_3d.cpp
Labels: Applications, Cleanup, Documentation, Enhancement

#2859 Fixing type clash in Internals.
  kratos/utilities/helper_classes_for_constraint_builder.h
Labels: Compilation, Kratos Core

#2860 [HDF5] minor improvement in create_xdmf_process
  applications/HDF5Application/python_scripts/create_xdmf_file.py
Labels: Applications, Enhancement

#2624 [Fluid] Update settings in Trilinos VMS solver
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
Labels: Applications, Error, Hotfix

#2865 [StructuralMechanicsApplication] Clean up and reducing code duplication in hyperelastic NeoHoolkean laws
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_plane_strain_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_plane_strain_2d.h
Labels: Applications, Cleanup

#2862 [StructuralMechanicsApplication] Clean up and reducing code duplication in hyperelastic Kirchoff laws
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_strain_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_strain_2d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_stress_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_stress_2d.h
Labels: Applications, Cleanup, Enhancement

#2870 [StructuralMehanicsApplication] Renaming plasticity and damage laws now that are compatible with 2D/Refactoring viscous laws to work with any elastic law
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_viscoplasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/small_strain_isotropic_damage_factory.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/small_strain_isotropic_damage_factory.h
  applications/StructuralMechanicsApplication/custom_constitutive/small_strain_isotropic_plasticity_factory.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/small_strain_isotropic_plasticity_factory.h
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_kelvin.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_kelvin.h
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_kelvin_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_maxwell.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_maxwell.h
  applications/StructuralMechanicsApplication/custom_constitutive/viscous_generalized_maxwell_3d.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_kelvin_constitutive_law.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_maxwell_constitutive_law.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
Labels: Applications, Cleanup, Transition

#2861 Experimental: adding reaction terms to enrichment stabilization.
  applications/FluidDynamicsApplication/custom_elements/two_fluid_vms.h
Labels: Applications, Hotfix

#2873 adding factory to MPI-Gid-Process
  applications/trilinos_application/python_scripts/gid_output_process_mpi.py
Labels: Enhancement

#2823 [StructuralMechanicsApplication] Rigid movement process
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/python_scripts/impose_rigid_movement_process.py
  applications/StructuralMechanicsApplication/tests/rigid_test/rigid_test.mdpa
  applications/StructuralMechanicsApplication/tests/rigid_test/rigid_test_materials.json
  applications/StructuralMechanicsApplication/tests/rigid_test/rigid_test_parameters.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: Applications, C++, Enhancement, Python

#2856 [ContactStructuralMechanicsApplication] Adding compatibility in mesh tying between quadrilaterals and triangles
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.h
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/tests/SmallTests.py
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_quadtri_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_quadtri_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_triquad_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_triquad_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_triquad_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, Enhancement

#2810 [Core][StructuralMechanicsApplication] Missing steps of CL in base_solid_element
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  kratos/sources/constitutive_law.cpp
Labels: Applications, Enhancement, FastPR, Kratos Core

#2879 [Hotfix][Meshing application] Missing comma in mmg_process.py
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, FastPR, Hotfix, Typo

#2866 amatrix-ublas compatibility fixes [was: Removing explicit ublas vector uses].
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_componentwise.h
  kratos/solving_strategies/schemes/residualbased_incremental_aitken_static_scheme.h
Labels: Cleanup, Hotfix, Kratos Core

#2883 [Python interface] Typo with contact_structural_mechanics_application
  applications/applications_interface.py
Labels: FastPR, Python, Typo

#2886 [ParticleMechanics] Second clean up
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_strain_softening_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/cam_clay_hardening_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/exponential_strain_softening_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3d_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3d_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_UP_3d_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/mc_yield_criterion.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/modified_cam_clay_yield_criterion.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.hpp
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
Labels: Applications, Cleanup

#2881 [FluidDynamics] updating cpp file from template
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
Labels: Applications, Cleanup

#2890 [StructuralMechanics] update to plasticity and damage CLs
  applications/StructuralMechanicsApplication/custom_constitutive/linear_isotropic_damage_3D_law.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_isotropic_damage_3D_law.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_j2_plasticity_3d.h
Labels: Applications, Cleanup

#2891 [StructuralMechanicsApplication] Hotfix rigid movement process
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.cpp
  applications/StructuralMechanicsApplication/python_scripts/impose_rigid_movement_process.py
Labels: Applications, Hotfix

#2898 [ContactStructuralMechanicsApplication] Some typos in the appication
  applications/ContactStructuralMechanicsApplication/custom_utilities/tree_contact_search.h
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
Labels: Applications, FastPR, Typo

#2889 [Core] Clean up constraints classes. Making member variables of linear constraint protected
  kratos/includes/linear_master_slave_constraint.h
  kratos/includes/master_slave_constraint.h
Labels: Cleanup, Documentation, FastPR, Kratos Core

#2882 Fluid/porting to amatrix
  applications/FluidDynamicsApplication/custom_conditions/monolithic_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/wall_condition_discontinuous.h
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_two_fluid_3d_law.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/dpg_vms.h
  applications/FluidDynamicsApplication/custom_elements/dynamic_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/fic.cpp
  applications/FluidDynamicsApplication/custom_elements/fic.h
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step.cpp
  applications/FluidDynamicsApplication/custom_elements/fractional_step_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/spalart_allmaras.cpp
  applications/FluidDynamicsApplication/custom_elements/stationary_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_vms.h
  applications/FluidDynamicsApplication/custom_elements/vms.cpp
  applications/FluidDynamicsApplication/custom_elements/vms.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/fs_strategy.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/gear_scheme.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bossak_scheme_turbulent.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_simple_steady_scheme.h
  applications/FluidDynamicsApplication/custom_utilities/element_size_calculator.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_time_integration_detail.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/symbolic_navier_stokes_data.h
  applications/FluidDynamicsApplication/custom_utilities/two_fluid_navier_stokes_data.h
  applications/FluidDynamicsApplication/custom_utilities/vorticity_utilities.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_drag_utils.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_skin_visualization_process.cpp
  kratos/utilities/enrichment_utilities.h
Labels: Applications

#2905 [MeshingApplication] MMGProcess correction in definition 1+ property
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
Labels: Applications, FastPR, Hotfix

#2906 [Meshingapplication] Temporary fix until the Set/Get situation is solved
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
Labels: Applications, Hotfix

#2910 [Core] Fix relative path on test_sparse_multiplication
  kratos/tests/test_sparse_multiplication.py
Labels: FastPR, Hotfix, Kratos Core, Python, Testing

#2901 [Core] var utils copy component var
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core

#2899 [ParticleMechanics] Porting to Amatrix and some minor cleanup
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/viscoplastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3d_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3d_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_UP_3d_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_plane_strain_2d_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_plane_strain_2d_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hyperelastic_viscoplastic_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/mc_yield_criterion.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/modified_cam_clay_yield_criterion.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_boundary_rotation_utility.h
  applications/ParticleMechanicsApplication/custom_utilities/mpm_stress_principal_invariants_utility.h
Labels: Applications

#2912 [StructuralMechanicsApplication] Adding normalized Cardano formula to avoid numerical problems
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_constitutive_law_utilities.cpp
Labels: Applications, FastPR, Hotfix, Testing

#2911 Hotfix to solve a vector dimension issue when compiling in amatrix mode.
  kratos/modified_shape_functions/modified_shape_functions.cpp
Labels: Hotfix

#2908 [FluidDynamics] fix test for two fluid newtonian law
  applications/FluidDynamicsApplication/tests/cpp_tests/test_fluid_dynamics_constitutive_laws.cpp
Labels: Bug, Testing

#2915 Core/fixing tests for amatrix
  kratos/tests/utilities/test_discont_utils.cpp
  kratos/utilities/discont_utils.h
Labels: Hotfix

#2917 [StructuralMechanicsApplication] Fix tolerance check
  applications/StructuralMechanicsApplication/tests/test_constitutive_law.py
Labels: Applications, FastPR, Hotfix, Testing

#2722 [StructuralMechanicsApplication] Model in CheckAndPrepareModelProcess
  applications/StructuralMechanicsApplication/python_scripts/check_and_prepare_model_process_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, FastPR, Python

#2903 [HDF5Application] Add missing output data types to elemental I/O
  applications/HDF5Application/custom_io/hdf5_element_data_value_io.cpp
  applications/HDF5Application/custom_io/hdf5_nodal_data_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_element_data_value_io.cpp
Labels: C++

#2816 [MeshingApplication] Clean up binbased_projection
  applications/MeshingApplication/custom_utilities/binbased_projection.h
Labels: Applications, Cleanup, Deprecated, Warning

#2740 [Core] New GeometricalElement and GeometricalCondition. Remove warning from clone in element and condition
  kratos/CMakeLists.txt
  kratos/conditions/mesh_condition.cpp
  kratos/conditions/mesh_condition.h
  kratos/elements/mesh_element.cpp
  kratos/elements/mesh_element.h
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/includes/kratos_application.h
  kratos/sources/variables.cpp
Labels: Cleanup, Discussion, Kratos Core, Warning

#2926 [ShapeOpt] Fixing typo that may result in runtime error
  applications/ShapeOptimizationApplication/python_scripts/algorithm_factory.py
Labels: FastPR

#2897 [Core] Missing remove method for constraint in model part
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
Labels: Enhancement, FastPR, Kratos Core

#2930 [StructuralMechanicsApplication] Some flags incorrectly set on elastic CL
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
Labels: Applications, FastPR, Hotfix

#2931 [StructuralMechanicsApplication] Missing set after calculate on the Calculate CL methods
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
Labels: Applications, FastPR, Hotfix

#2935 [StructuralMechanicsApplication] Hotfix rigid movement process
  applications/StructuralMechanicsApplication/python_scripts/impose_rigid_movement_process.py
Labels: Applications, FastPR, Hotfix

#2934 [StructuralMechanicsApplication] Fixing failed tests membrane
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.hpp
Labels: Applications, Bug, FastPR, Hotfix, Testing

#2937 [MeshingApplication] Adding boundary remeshing extrapolation
  applications/MeshingApplication/custom_processes/integration_values_extrapolation_to_nodes_process.h
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.h
  applications/MeshingApplication/custom_processes/metric_fast_init_process.h
  applications/MeshingApplication/custom_processes/metrics_error_process.h
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.h
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/tests/mmg_eulerian_test/distante_extrapolation.json
  applications/MeshingApplication/tests/test_remesh_sphere.py
Labels: Applications, Enhancement, Testing

#2938 [Core] Communicator: adding synchronization for non-hist variables
  kratos/includes/communicator.h
  kratos/includes/mpi_communicator.h
Labels: FastPR, Incomplete, Kratos Core, Parallel-MPI

#2932 [MPI-Python] More functions
  applications/trilinos_application/tests/test_kratos_mpi_interface.py
  external_libraries/mpi_python/mpi_python.h
  external_libraries/mpi_python/python_interface.cpp
Labels: Enhancement, Parallel-MPI

#2916 [StructuralMechanicsApplication] Adding Hencky and Biot strain measures to hyperelastic laws
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.h
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_plane_strain_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_plane_strain_2d.h
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_constitutive_law_utilities.cpp
  kratos/includes/mat_variables.h
  kratos/sources/mat_variables.cpp
  kratos/utilities/math_utils.h
Labels: Applications, Enhancement

#2941 Fix compilation of master
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.h
Labels: FastPR, Hotfix, Incomplete

#2946 [MeshingApplication] Removing unused variables MMGProcess
  applications/MeshingApplication/custom_processes/mmg_process.cpp
Labels: Applications, Cleanup, FastPR, Warning

#2936 Fixes in the trilinos convergence criteria.
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_pinched_cylinder_parameters.json
  applications/trilinos_application/custom_python/add_trilinos_convergence_criterias_to_python.cpp
  applications/trilinos_application/custom_strategies/convergencecriterias/trilinos_displacement_criteria.h
  applications/trilinos_application/custom_strategies/convergencecriterias/trilinos_residual_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
Labels: Error, Parallel-MPI

#2948 [ShapeOpt] Fix shell optimization test examples
  applications/ShapeOptimizationApplication/test_examples/02_Strain_Energy_Minimization_3D_Shell/primal_parameters.json
  applications/ShapeOptimizationApplication/test_examples/03_mesh_independent_optimization_3D_Shell/primal_parameters.json
  applications/ShapeOptimizationApplication/test_examples/05_Constrained_Shell_Opt/Optimization_Results/response_log.csv
  applications/ShapeOptimizationApplication/test_examples/05_Constrained_Shell_Opt/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_shell_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/primal_parameters.json
Labels: Cleanup, FastPR

#2949 REMOVING kratos_api in meshing app
  applications/MeshingApplication/custom_processes/integration_values_extrapolation_to_nodes_process.h
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.h
  applications/MeshingApplication/custom_processes/metric_fast_init_process.h
  applications/MeshingApplication/custom_processes/metrics_error_process.h
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.h
Labels: Applications, FastPR, Windows

#2920 [Core][Testing] removing left over folders after test
  kratos/tests/test_processes.py
Labels: Python, Testing

#2953 [SHAPE_OPT] minor cleanup with no impact on the algorithm or results
  applications/ShapeOptimizationApplication/python_scripts/algorithm_trust_region.py
Labels: Cleanup, FastPR

#2954 Structural/Adding some utilities to perform 2D calculations
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_viscoplasticity_3d.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
Labels: Applications, Enhancement, FastPR

#2955 [VariableUtils] Fix Sum-Fcts
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Bug, Kratos Core, Parallel-MPI

#2957 [MeshingApplication]Skipping condition creatijon in MMGProcess when there are not conditions associated
  applications/MeshingApplication/custom_processes/mmg_process.cpp
Labels: Applications, Bug, FastPR, Hotfix
