Repository KratosMultiphysics/Kratos, pull requests merged in 2019-08, with the labels that each got.

#5345 [Core] Swaping check on SimpleMortarMapper
  kratos/processes/simple_mortar_mapper_process.cpp
Labels: FastPR, Inconsistent, Kratos Core

#5347 [ContactStructuralMechanicsApplication] Using relative path on cpp test
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/A_testing_condensation.mm
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/b_testing_condensation.rhs
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_mixedulm_linear_solver.cpp
Labels: Applications, FastPR, Hotfix, Testing

#5139 [DemStructures] Added a tool to write SP data in HDF5 format
  applications/DemStructuresCouplingApplication/CMakeLists.txt
  applications/DemStructuresCouplingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DemStructuresCouplingApplication/custom_utilities/post_process_utilities.cpp
  applications/DemStructuresCouplingApplication/custom_utilities/post_process_utilities.hpp
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
  applications/DemStructuresCouplingApplication/python_scripts/sand_production_post_process_tool.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_statistics.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_statistics_2.py
Labels: Feature

#5240 [Poro] Added linear elastic CL with initial stresses
  applications/PoromechanicsApplication/CMakeLists.txt
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_3D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_plane_strain_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_plane_strain_2D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_plane_stress_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_plane_stress_2D_law.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Mdpa.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.prb
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/ProjectParameters.tcl
  applications/PoromechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/PoromechanicsApplication/custom_python/add_custom_mpi_strategies_to_python.cpp
  applications/PoromechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/PoromechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/PoromechanicsApplication/custom_python/poromechanics_mpi_python_application.cpp
  applications/PoromechanicsApplication/custom_python/poromechanics_python_application.cpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_dynamic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_damped_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_3D_utilities.hpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.h
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/python_scripts/poromechanics_MPI_U_Pw_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pw_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_analysis.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_initial_stress_utility.py
Labels: Feature

#5350 [Poro] Python deprecated import warning removed and other minor cleanup
  applications/ConstitutiveModelsApplication/ConstitutiveModelsApplication.py
  applications/DamApplication/python_scripts/dam_P_solver.py
  applications/DamApplication/python_scripts/dam_eigen_solver.py
  applications/PfemFluidDynamicsApplication/python_scripts/MainThermalCoupling.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_dynamics_analysis.py
  applications/PoromechanicsApplication/PoromechanicsApplication.py
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/KratosPoromechanics.py
  applications/PoromechanicsApplication/python_scripts/apply_normal_load_table_process.py
  applications/PoromechanicsApplication/python_scripts/apply_scalar_constraint_table_process.py
  applications/PoromechanicsApplication/python_scripts/apply_vector_constraint_table_process.py
  applications/PoromechanicsApplication/python_scripts/periodic_interface_activation_process.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_MPI_U_Pw_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_analysis.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_fracture_propagation_utility.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_initial_stress_utility.py
  applications/PoromechanicsApplication/tests/TestFactory.py
  applications/SolidMechanicsApplication/SolidMechanicsApplication.py
  applications/SolidMechanicsApplication/python_scripts/assign_modulus_and_direction_to_nodes_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_rigid_body_rotation_to_nodes_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_scalar_to_conditions_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_scalar_to_elements_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_torque_to_conditions_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_vector_components_to_nodes_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_vector_to_conditions_process.py
Labels: Cleanup, Warning

#5352 [Dam] Import DamApplication as python module
  applications/DamApplication/DamApplication.py
  applications/DamApplication/python_scripts/dam_MPI_UP_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_MPI_UP_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_MPI_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_MPI_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_P_solver.py
  applications/DamApplication/python_scripts/dam_UP_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_eigen_solver.py
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/gid_dam_output_process.py
Labels: Warning

#5359 [StructuralMechanicsApplication] Clean up cpp test
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_tangent_tensor_numerical_derivation_utility.cpp
Labels: Applications, Cleanup, FastPR, Testing

#5357 [StructuralMechanicsApplication] Duplicated file (unused)
  applications/StructuralMechanicsApplication/custom_utilities/add_custom_utilities_to_python.cpp
Labels: Applications, Cleanup, Duplicate, FastPR

#5362 [ContactStructuralMechanicsApplication] Adding cool gif to README.md
  applications/ContactStructuralMechanicsApplication/README.md
Labels: Applications, Documentation, FastPR

#5363 [StructuralMechanicsApplication] Minor impr. test_perfect_plasticity_...
  applications/StructuralMechanicsApplication/tests/test_perfect_plasticity_implementation_verification.py
Labels: Applications, FastPR, Testing

#5370 [Core] Adding possibility to write the properties ids on the VTK file
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
Labels: Enhancement, Kratos Core, Post Process

#5339 [MeshingApplication] Adding EnsureProperties method
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_utilities/meshing_utilities.cpp
  applications/MeshingApplication/custom_utilities/meshing_utilities.h
  applications/MeshingApplication/tests/cpp_tests/test_meshing_utilities.cpp
Labels: Applications, Enhancement

#5351 refactor(HDF5): added docstrings and parameters wrapper
  applications/HDF5Application/python_scripts/core/__init__.py
  applications/HDF5Application/python_scripts/core/controllers.py
  applications/HDF5Application/python_scripts/core/file_io.py
  applications/HDF5Application/python_scripts/core/operations/model_part.py
  applications/HDF5Application/python_scripts/core/processes.py
  applications/HDF5Application/python_scripts/core/utils.py
  applications/HDF5Application/python_scripts/initialization_from_hdf5_process.py
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_input_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_xdmf_output_process.py
  applications/HDF5Application/python_scripts/user_defined_io_process.py
  applications/HDF5Application/python_scripts/utils.py
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_core_mpi.py
  applications/HDF5Application/tests/test_hdf5_processes.py
Labels: Applications, Documentation, Python, Refactor

#5368 [Travis] enabling MPI
  .travis.yml
  scripts/build/travis/configure_travis_bionic.sh
Labels: Parallel-MPI, Travis

#5348 [ContactStructuralMechanicsApplication] Hotfix several minor errors SPR contact
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_spr_error_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_spr_error_process.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/contact_error_mesh_criteria.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.h
Labels: Applications, Error, Hotfix

#5375 [StructuralMechanicsApplication] Fixing impose_rigid_movement_process
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.cpp
  applications/StructuralMechanicsApplication/python_scripts/impose_rigid_movement_process.py
Labels: Applications, Bugfix, Cleanup, FastPR

#5380 [Core] Moving factories sources to factories folder for consisteny
  kratos/CMakeLists.txt
  kratos/factories/standard_linear_solver_factory.cpp
  kratos/factories/standard_preconditioner_factory.cpp
Labels: Cleanup, FastPR, Kratos Core, Refactor

#5379 [Core][MeshingApplication] Remove const_cast
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
Labels: Applications, Cleanup, FastPR, Kratos Core

#5381 [Core][BuilderAndSolver] remove ApplyPointLoads
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
Labels: Cleanup, Kratos Core

#5234 [Core] vtk-file comparison
  applications/CoSimulationApplication/tests/test_cosim_EMPIRE_API.py
  kratos/python_scripts/compare_two_files_check_process.py
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/ascii2D/Main_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/ascii2D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/ascii2D/Main_MovingNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/ascii3D/Main_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/ascii3D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/ascii3D/Main_MovingNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/asciiQuad3D/Main_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/asciiQuad3D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/asciiQuad3D/Main_MovingNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binary2D/Main_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binary2D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binary2D/Main_MovingNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binary3D/Main_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binary3D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binary3D/Main_MovingNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binaryQuad3D/Main_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binaryQuad3D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/auxiliar_files_for_python_unnitest/vtk_output_process_ref_files/binaryQuad3D/Main_MovingNodes_0_1.vtk
  kratos/tests/test_vtk_output_process.py
Labels: Enhancement, Kratos Core, Testing

#5388 [ContactStructuralMechanicsApplication] Adding (recovering) check for normal in search
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
Labels: Applications, Enhancement, FastPR

#5376 [Core] Moving transform operations to external utilities
  kratos/CMakeLists.txt
  kratos/processes/apply_periodic_boundary_condition_process.cpp
  kratos/processes/apply_periodic_boundary_condition_process.h
  kratos/utilities/geometrical_transformation_utilities.cpp
  kratos/utilities/geometrical_transformation_utilities.h
Labels: FastPR, Kratos Core, Refactor

#5383 [Structural] remove old files
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/python_scripts/beam_profiles.csv
  applications/StructuralMechanicsApplication/python_scripts/beam_sections_python_utility.py
Labels: Applications, Cleanup

#5401 [ContactStructuralMechanicsApplication] Update test that fails depending of machine precision
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_parameters.json
Labels: Applications, FastPR, Testing

#5403 [ContactStructuralMechanicsApplication] Minor refactor. More pythonic scripts
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictional_mortar_condition/generate_frictional_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_components_mortar_condition/generate_frictionless_components_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_components_mortar_condition/generate_frictionless_components_mortar_condition_non_zero.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_mortar_condition/generate_frictionless_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_mortar_condition/generate_frictionless_mortar_condition_non_zero.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/DALM_frictionless_mortar_condition/generate_dlm_frictionless_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/generate_mesh_tying_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/penalty_frictional_mortar_condition/generate_penalty_frictional_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/penalty_frictionless_mortar_condition/generate_penalty_frictionless_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/penalty_frictionless_mortar_condition/generate_penalty_frictionless_mortar_condition_non_zero.py
Labels: Applications, FastPR, Python

#5409 [Core][MeshingApplication] Update gradient and Hessian process
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/tests/test_remesh_rectangle.py
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
  kratos/python/add_processes_to_python.cpp
Labels: Applications, Enhancement, Kratos Core, Refactor

#5410 [ContactStructuralMechanicsApplication] Replace error fro warning
  applications/ContactStructuralMechanicsApplication/custom_conditions/paired_condition.h
Labels: Applications, Bugfix, FastPR

#5244 [Core][Utilities] GetVarList
  kratos/python_scripts/gid_output_process.py
  kratos/python_scripts/kratos_utilities.py
  kratos/python_scripts/unv_output_process.py
Labels: Cleanup, Duplicate, Kratos Core

#5387 [Core] Refactor python generic utility
  kratos/processes/assign_scalar_field_to_entities_process.cpp
  kratos/python_scripts/assign_scalar_variable_process.py
  kratos/tests/test_KratosCore.py
  kratos/tests/test_python_generic_function_utility.py
  kratos/utilities/python_function_callback_utility.h
Labels: Cleanup, Enhancement, Kratos Core, Python, Refactor

#5386 [ContactStructuralMechanicsApplication] Replace materials process
  applications/ContactStructuralMechanicsApplication/python_scripts/replace_properties_process.py
Labels: Applications, Enhancement, Python

#5408 [ContactStructuralMechanicsAppplication] Separating normal gap calculation in a different process
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_gap_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_gap_process.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
Labels: Applications, FastPR, Refactor

#5398 doc(HDF5): added documentation for xdmf
  applications/HDF5Application/python_scripts/xdmf.py
Labels: Documentation

#5420 [ContactStructuralMechanicsApplication] Removing duplicated CC header
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
Labels: Applications, Cleanup, FastPR

#5421 [Core][Hotfix] Non-historical NODAL_H calculation synchronization
  kratos/processes/find_nodal_h_process.cpp
  kratos/processes/find_nodal_h_process.h
  kratos/tests/cpp_tests/processes/test_find_nodal_h_process.cpp
Labels: FastPR, Hotfix, Kratos Core, Parallel-MPI

#5396 refactor(HDF5): replaced default setter with parameters wrapper method
  applications/HDF5Application/python_scripts/core/__init__.py
  applications/HDF5Application/python_scripts/core/controllers.py
  applications/HDF5Application/python_scripts/core/file_io.py
  applications/HDF5Application/python_scripts/core/operations/model_part.py
  applications/HDF5Application/python_scripts/core/operations/system.py
  applications/HDF5Application/python_scripts/core/operations/xdmf.py
  applications/HDF5Application/python_scripts/core/processes.py
  applications/HDF5Application/python_scripts/core/utils.py
  applications/HDF5Application/python_scripts/initialization_from_hdf5_process.py
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_input_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_xdmf_output_process.py
  applications/HDF5Application/python_scripts/user_defined_io_process.py
  applications/HDF5Application/python_scripts/utils.py
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_core_mpi.py
  applications/HDF5Application/tests/test_hdf5_model_part_io_mpi.py
  applications/HDF5Application/tests/test_hdf5_processes.py
Labels: Applications, Cleanup

#5355 refactor: moved gather model part utility to mpi core
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TrilinosApplication/custom_utilities/gather_modelpart_utility.h
  applications/TrilinosApplication/test_examples/gather_modelpart_example/gather_model_part.mdpa
  applications/TrilinosApplication/test_examples/gather_modelpart_example/run_example.py
  kratos/mpi/CMakeLists.txt
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/tests/test_gather_modelpart_utility.py
  kratos/mpi/utilities/gather_modelpart_utility.cpp
  kratos/mpi/utilities/gather_modelpart_utility.h
Labels: Parallel-MPI, Refactor

#5405 [Nightly] Deactivating EmpireApp
  scripts/build/nightly/configure_clang.sh
  scripts/build/nightly/configure_gcc.sh
Labels: FastPR, Testing

#5369 [MPI] adding message informing abt MPI-compilation
  kratos/mpi/CMakeLists.txt
Labels: Parallel-MPI

#5423 [Core] Adding GetZeroTolerance to the MathUtils
  kratos/utilities/math_utils.h
Labels: Enhancement, FastPR, Kratos Core

#5385 [Core] App-Template: Split into core/py-interface
  kratos/templates/classes/condition_template.h
  kratos/templates/classes/element_template.h
  kratos/templates/template_application/CMakeLists.txt.in
  kratos/templates/template_application/custom_python/test_python_application.cpp.in
Labels: Applications

#5418 [Solid] pdating the __import__ to import_module in process_handler
  applications/SolidMechanicsApplication/python_scripts/process_handler.py
Labels: FastPR

#5417 [FEMDEM] Updating App after summer
  applications/FemToDemApplication/custom_strategies/femdem_residual_criteria.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
  applications/FemToDemApplication/python_scripts/FemDemMechanicalSolver.py
  applications/FemToDemApplication/python_scripts/MainFemDem.py
  applications/SolidMechanicsApplication/python_scripts/process_handler.py
Labels: FastPR

#5419 [ContactStructuralMechanicsApplication] Adding specialized script for MMG remeshing for contact
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
Labels: Applications, Enhancement, Python

#5412 [MeshingApplication] Fix check to use KratosGlobals and other fixes
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/python_scripts/mmg_process.py
  kratos/processes/compute_nodal_gradient_process.cpp
Labels: Applications, Bugfix, Kratos Core

#5422 [MeshingApplication] Adding new methods to MMGUtilities
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
Labels: Applications, Enhancement

#5429 [ContactStructuralMechanicsApplication] Update README.md
  applications/ContactStructuralMechanicsApplication/README.md
Labels: Applications, Documentation, FastPR

#5427 [Core][Geometry] Adding functions for normal and unit normal
  kratos/geometries/geometry.h
  kratos/tests/cpp_tests/geometries/test_triangle_3d_3.cpp
Labels: CAD Integration, Kratos Core

#5432 [Core] Buffer position update in UpdateCurrentPosition
  kratos/python/add_utilities_to_python.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core

#5433 [MeshingApplication] Hotfix incomplete reference entities
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
Labels: Applications, Hotfix

#5434 [ContactStructuralMechanicsApplication] Minor default change
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
Labels: Applications, FastPR

#5430 Core/feature vector check
  kratos/includes/checks.h
  kratos/tests/cpp_tests/sources/test_checks.cpp
Labels: FastPR, Testing

#5440 [ContactStructuralMechanicsApplication] Improving mmg script
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
Labels: Applications, Enhancement, FastPR

#5439 [MeshingApplication] Fixing several things on MMG Utilities
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, Bugfix, Hotfix

#5340 [Structural] simplify cmake using GLOB_RECURSE
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_solid_element.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
Labels: Applications, Cleanup, Compilation, Discussion

#5078 [ExaquteApplication] Metric based on time weighted divergence
  applications/ExaquteSandboxApplication/CMakeLists.txt
  applications/ExaquteSandboxApplication/custom_processes/metrics_divergencefree_process.cpp
  applications/ExaquteSandboxApplication/custom_processes/metrics_divergencefree_process.h
  applications/ExaquteSandboxApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ExaquteSandboxApplication/tests/cpp_tests/test_metric_process.cpp
  applications/ExaquteSandboxApplication/tests/run_cpp_unit_tests.py
Labels: Applications, C++, Testing

#5435 Setting fixed lenght of numerical tag for vtk output files
  kratos/input_output/vtk_output.cpp
Labels: Proposal

#5373 [Trilinos] importing MPI-Core
  applications/TrilinosApplication/TrilinosApplication.py
Labels: Applications, Parallel-MPI

#5312 [MeshMoving] cleanup
  applications/MeshMovingApplication/README.md
  applications/MeshMovingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshMovingApplication/custom_utilities/ball_vertex_meshmoving.h
  applications/MeshMovingApplication/custom_utilities/ball_vertex_meshmoving3D.h
  applications/MeshMovingApplication/python_scripts/mesh_solver_ballvertex.py
Labels: Applications, Cleanup, Documentation

#5444 [Core] remove unused const
  kratos/python/add_utilities_to_python.cpp
  scripts/build/travis/configure_travis_bionic.sh
Labels: Compilation, FastPR, Intel, Warning

#5436 Making operator<< visible.
  applications/DelaunayMeshingApplication/delaunay_meshing_application_variables.cpp
  kratos/containers/variable.h
  kratos/includes/exception.h
  kratos/includes/shared_pointers.h
  kratos/input_output/logger_message.h
  kratos/tests/cpp_tests/sources/test_checks.cpp
  kratos/tests/cpp_tests/utilities/test_stl_io.cpp
  kratos/utilities/kratos_log.h
  kratos/utilities/stl_io.h
  kratos/utilities/stl_vector_io.h
Labels: Hotfix

#5450 [FEMDEM] Adding some capabilities & correcting error in large displ element
  applications/FemToDemApplication/custom_elements/generic_large_displacement_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
Labels: FastPR

#5452 Mpi/migrating normal utility
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  kratos/mpi/CMakeLists.txt
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/utilities/mpi_normal_calculation_utilities.cpp
  kratos/mpi/utilities/mpi_normal_calculation_utilities.h
Labels: Parallel-MPI

#5453 Mpi/cleanup api
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/utilities/gather_modelpart_utility.h
  kratos/mpi/utilities/mpi_normal_calculation_utilities.h
  kratos/mpi/utilities/parallel_fill_communicator.h
Labels: Compilation, Hotfix, Parallel-MPI

#4872 [Core][Geometry] remove inheritance from PointerVector
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  kratos/geometries/geometry.h
Labels: CAD Integration, Kratos Core

#5437 refactor(HDF5): clean up xdmf output
  applications/EmpireApplication/tests/fsi_mok/ProjectParametersCFD.json
  applications/EmpireApplication/tests/fsi_wall/ProjectParametersCFD.json
  applications/HDF5Application/README.md
  applications/HDF5Application/python_scripts/core/operations/xdmf.py
  applications/HDF5Application/python_scripts/core/xdmf.py
  applications/HDF5Application/python_scripts/create_xdmf_file.py
  applications/HDF5Application/python_scripts/user_defined_io_process.py
  applications/HDF5Application/python_scripts/xdmf_utils.py
  applications/HDF5Application/tests/test_HDF5Application.py
  applications/HDF5Application/tests/test_hdf5_processes.py
  applications/HDF5Application/tests/test_hdf5_xdmf.py
Labels: Applications, Cleanup, Testing

#5461 Fixing Geometry ptr_iterators.
  kratos/geometries/geometry.h
Labels: Hotfix

#5448 [Core] fixing imports in py-scripts
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_adjoint_parameters.json
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/test_local_axis_visualization.py
  kratos/python_interface/__init__.py
  kratos/python_scripts/analysis_stage.py
  kratos/python_scripts/assign_time_derivative_process.py
  kratos/python_scripts/assign_vector_by_direction_process.py
  kratos/python_scripts/assign_vector_by_direction_to_entity_process.py
  kratos/python_scripts/assign_vector_variable_process.py
  kratos/python_scripts/assign_vector_variable_to_entities_process.py
  kratos/python_scripts/check_scalar_from_process_info_process.py
  kratos/python_scripts/check_scalar_to_nodes_process.py
  kratos/python_scripts/check_vector_components_to_nodes_process.py
  kratos/python_scripts/eigen_solver_factory.py
  kratos/python_scripts/fix_vector_variable_process.py
  kratos/python_scripts/json_output_process.py
  kratos/python_scripts/kratos_utilities.py
  kratos/python_scripts/python_linear_solver_factory.py
  kratos/python_scripts/python_solver.py
  kratos/python_scripts/tikz_output_process.py
  kratos/python_scripts/vtk_output_process.py
  kratos/tests/test_condition_number.py
  kratos/tests/test_eigen_solvers.py
  kratos/tests/test_gid_io.py
  kratos/tests/test_materials_input.py
  kratos/tests/test_mortar_mapper.py
  kratos/tests/test_mortar_utilities.py
  kratos/tests/test_processes.py
  kratos/tests/test_restart.py
Labels: Cleanup, Kratos Core, Python

#5384 [Core] removing datafile-IO
  kratos/includes/datafile_io.h
  kratos/sources/datafile_io.cpp
Labels: Cleanup, IO, Kratos Core

#5462 [Meshing] solving windows compilaiton error
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
Labels: FastPR

#5455 Convdiff/rename adjoint condition
  applications/ConvectionDiffusionApplication/CMakeLists.txt
  applications/ConvectionDiffusionApplication/convection_diffusion_application.cpp
  applications/ConvectionDiffusionApplication/convection_diffusion_application.h
  applications/ConvectionDiffusionApplication/custom_conditions/adjoint_thermal_face.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/adjoint_thermal_face.h
  applications/ConvectionDiffusionApplication/python_scripts/adjoint_diffusion_solver.py
Labels: Applications, Hotfix

#5472 [Meshing] Removing some warnings
  applications/MeshingApplication/custom_utilities/uniform_refinement_utility.cpp
Labels: Cleanup, FastPR

#5248 [CoSim] coupling to external solvers
  applications/CoSimulationApplication/custom_io/co_sim_EMPIRE_API.h
  applications/CoSimulationApplication/custom_python/add_custom_io_to_python.cpp
  applications/CoSimulationApplication/python_scripts/co_simulation_analysis.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/CoSimulationApplication/python_scripts/helpers/dummy_flower_solver.py
  applications/CoSimulationApplication/python_scripts/helpers/dummy_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/empire_io.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/flower_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/kratos_base_wrapper.py
  applications/CoSimulationApplication/tests/FLOWer_coupling/cosim_parameters.json
  applications/CoSimulationApplication/tests/FLOWer_coupling/dummy_flower_solver_parameters.json
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_cosim_EMPIRE_API.py
  applications/CoSimulationApplication/tests/test_flower_coupling.py
Labels: Applications, Enhancement, Feature

#5411 Mpi/default rank and size
  kratos/includes/parallel_environment.h
  kratos/input_output/logger_message.cpp
  kratos/mpi/python/kratos_mpi_python.cpp
  kratos/mpi/tests/test_mpi_data_communicator_python.py
  kratos/mpi/tests/test_parallel_environment.py
  kratos/python/add_parallel_environment_to_python.cpp
  kratos/sources/parallel_environment.cpp
Labels: Parallel-MPI

#5481 [ContactStructuralMechanicsApplication] Specialization for SPR…
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, Enhancement, FastPR, Python

#5479 [ContactStructuralMechanicsApplication] Using GLOB_RECURSIVE
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/process_factory_utility.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/process_factory_utility.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
Labels: Applications, FastPR
