Repository KratosMultiphysics/Kratos, pull requests merged in 2019-09, with the labels that each got.

#5467 [Core] delete unused files
  kratos/python/bounded_vector_vector_assignment_operator_python.h
  kratos/python/matrix_matrix_operator_python.h
  kratos/python/matrix_scalar_assignment_operator_python.h
  kratos/python/matrix_scalar_operator_python.h
  kratos/python/matrix_vector_operator_python.h
  kratos/python/solution_step_variable_indexing_python.h
  kratos/python/vector_scalar_assignment_operator_python.h
  kratos/python/vector_scalar_operator_python.h
  kratos/python/vector_vector_assignment_operator_python.h
  kratos/python/vector_vector_operator_python.h
Labels: Cleanup, Kratos Core

#5488 Removing unused member variable.
  applications/ConvectionDiffusionApplication/custom_response_functions/local_temperature_average_response_function.h
Labels: Hotfix

#5487 test(RANS): added system matrix tests for low and high reynolds k-epsilon
  applications/RANSModellingApplication/CMakeLists.txt
  applications/RANSModellingApplication/custom_conditions/evm_k_epsilon/evm_epsilon_wall_condition.h
  applications/RANSModellingApplication/custom_conditions/evm_k_epsilon/evm_vms_monolithic_wall_condition.h
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_epsilon_element.cpp
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_epsilon_element.h
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_k_element.cpp
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_k_element.h
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_k_epsilon_utilities.cpp
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_low_re_epsilon_element.cpp
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_low_re_epsilon_element.h
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_low_re_k_element.cpp
  applications/RANSModellingApplication/custom_elements/evm_k_epsilon/evm_low_re_k_element.h
  applications/RANSModellingApplication/custom_elements/stabilized_convection_diffusion_reaction_element.h
  applications/RANSModellingApplication/custom_elements/stabilized_convection_diffusion_reaction_utilities.h
  applications/RANSModellingApplication/custom_utilities/rans_calculation_utilities.cpp
  applications/RANSModellingApplication/tests/cpp/test_evm_k_element.cpp
  applications/RANSModellingApplication/tests/run_cpp_unit_tests.py
  applications/RANSModellingApplication/tests/test_RANSModellingApplication.py
Labels: Testing

#5493 [ContactStructuralMechanicsApplication] References adaptive rem…
  applications/ContactStructuralMechanicsApplication/README.md
Labels: Applications, Documentation, FastPR

#5391 [Structural] making theComputingModelPart optinal
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/beam_test/linear_3D2NBeamCr_test_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_2D_shear_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_2D_shear_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/truss_test/dynamic_3D2NTruss_test_parameters.json
  applications/StructuralMechanicsApplication/tests/truss_test/linear_3D2NTruss_plastic_compression_test_parameters.json
Labels: Applications, Cleanup, Enhancement

#5382 [Core] remove old Constraint-B&S
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_constraints_elementwise.h
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
  kratos/utilities/helper_classes_for_constraint_builder.h
Labels: Cleanup, Kratos Core

#5377 [HotFix][Core] FindIntersectedGeometricalObjects clear method
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.cpp
  kratos/processes/apply_ray_casting_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_distance_to_skin_process.cpp
  kratos/processes/calculate_distance_to_skin_process.h
  kratos/processes/find_intersected_geometrical_objects_process.cpp
  kratos/processes/find_intersected_geometrical_objects_process.h
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.cpp
  kratos/python/add_processes_to_python.cpp
Labels: Bug, Bugfix, Hotfix, Kratos Core

#5491 [ConvDiff] Elemental unit tests
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_conv_diff.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_diff.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_laplacian_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_thermal_face.cpp
Labels: Applications, FastPR, Testing

#5480 [ShapeOpt] avoid division by 0 when normalizing surface normals
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
Labels: Bugfix, FastPR

#5431 [Fluid][Potential] Non-historical NODAL_H in distance modification process
  applications/CompressiblePotentialFlowApplication/python_scripts/level_set_remeshing_process.py
  applications/CompressiblePotentialFlowApplication/tests/embedded_test/embedded_circle_no_wake_parameters.json
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.cpp
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_distance_modification_process.cpp
Labels: Applications, Enhancement, Performance

#5497 [Structural] revert parameter removal
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_adaptative_remeshing_contact_structural.py
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_contact_structural.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_adaptative_remeshing_structural.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_implicit_dynamic_solver.py
Labels: Applications

#5494 [Core] Cleaning kratos_python after #5467
  kratos/python/kratos_python.cpp
Labels: Cleanup, FastPR, Kratos Core

#5498 fix(HDF5): fixed issues with tests
  applications/HDF5Application/tests/test_HDF5Application.py
  applications/HDF5Application/tests/test_hdf5_xdmf.py
Labels: Applications, Bugfix, Testing

#5483 [MeshingApplication] Adding time management for MMGProcess
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, Enhancement, Python

#5484 [CoSim] Scaling Operation
  applications/CoSimulationApplication/custom_data_structure/pyKratos/Variables.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/scaling.py
  applications/CoSimulationApplication/python_scripts/function_callback_utility.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_coupling_operations.py
  applications/CoSimulationApplication/tests/test_function_callback_utility.py
Labels: Applications, Refactor

#4002 [core] Reduce node and dof size stage 1
  kratos/CMakeLists.txt
  kratos/containers/nodal_data.cpp
  kratos/containers/nodal_data.h
  kratos/containers/variables_list_data_value_container.h
  kratos/includes/dof.h
  kratos/includes/master_slave_constraint.h
  kratos/includes/node.h
  kratos/includes/properties.h
  kratos/python/add_node_to_python.cpp
  kratos/tests/cpp_tests/containers/test_nodal_data.cpp
  kratos/tests/cpp_tests/sources/test_dof.cpp
  kratos/tests/cpp_tests/sources/test_node.cpp
Labels: Behaviour Change

#5510 [MeshingApplication] Updating script for SPR remesh
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
Labels: Applications, Bugfix, Python

#5511 [MeshingApplication] Fix recent node compilation issue
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
  applications/MeshingApplication/external_includes/trigen_glass_forming.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_segment.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_vms.h
Labels: Applications, FastPR, Hotfix

#5513 [ContactStructuralMechanicsApplication] Very simple patch test…
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_triangles_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_triangles_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_triangles_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/SmallTests.py
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, FastPR, Testing

#5428 [IGA] Load condition
  applications/IgaApplication/CMakeLists.txt
  applications/IgaApplication/custom_conditions/load_condition.cpp
  applications/IgaApplication/custom_conditions/load_condition.h
  applications/IgaApplication/custom_python/iga_python_application.cpp
  applications/IgaApplication/iga_application.cpp
  applications/IgaApplication/iga_application.h
  applications/IgaApplication/iga_application_variables.cpp
  applications/IgaApplication/iga_application_variables.h
Labels: Applications, CAD Integration, FastPR

#5506 [FluidTransport] Python warning removal
  applications/FluidTransportApplication/FluidTransportApplication.py
  applications/FluidTransportApplication/python_scripts/fluid_transport_analysis.py
  applications/FluidTransportApplication/python_scripts/fluid_transport_solver.py
  applications/FluidTransportApplication/tests/TestFactory.py
Labels: Warning

#5519 [HDF5] xdmf util bugfix
  applications/HDF5Application/python_scripts/xdmf_utils.py
Labels: Bugfix, Python

#5508 [CoSim] fixing errors in tests when using runkratos
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
Labels: Applications, FastPR, Testing

#5499 Enabling calculation of the local CFL as a standalone operation
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/estimate_dt_utilities.h
Labels: Feature

#5523 [ConvDiff] Use _ImportApplicationAsModule
  applications/ConvectionDiffusionApplication/ConvectionDiffusionApplication.py
Labels: Applications, FastPR

#5522 [MetisApp] default to metis 5
  applications/MetisApplication/CMakeLists.txt
Labels: Applications, Deprecated, External library, Parallel-MPI

#5528 Fixing python imports used from tests.
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
  applications/ConvectionDiffusionApplication/tests/convection_diffusion_test_factory.py
  applications/ConvectionDiffusionApplication/tests/source_term_test.py
  applications/ConvectionDiffusionApplication/tests/test_apply_thermal_face_process.py
Labels: Hotfix, Testing

#5296 [FastPR][Core] Edges() warnings removal in discontinuous distance
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
Labels: Deprecated, FastPR, Kratos Core, Warning

#5532 [Hotfix][Core] Fixing the trait size to avoid overflow
  kratos/includes/dof.h
Labels: Hotfix

#5512 [MeshingApplication] Adding additional output info
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, FastPR, Post Process, Python

#5214 [Core][Geometry] Refactoring of geometry data
  kratos/geometries/geometry.h
  kratos/geometries/geometry_data.h
  kratos/geometries/geometry_dimension.h
  kratos/geometries/geometry_shape_function_container.h
  kratos/geometries/hexahedra_3d_20.h
  kratos/geometries/hexahedra_3d_27.h
  kratos/geometries/hexahedra_3d_8.h
  kratos/geometries/hexahedra_interface_3d_8.h
  kratos/geometries/line_2d_2.h
  kratos/geometries/line_2d_3.h
  kratos/geometries/line_3d_2.h
  kratos/geometries/line_3d_3.h
  kratos/geometries/line_gauss_lobatto_3d_2.h
  kratos/geometries/point_2d.h
  kratos/geometries/point_3d.h
  kratos/geometries/prism_3d_15.h
  kratos/geometries/prism_3d_6.h
  kratos/geometries/prism_interface_3d_6.h
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/geometries/quadrilateral_interface_2d_4.h
  kratos/geometries/quadrilateral_interface_3d_4.h
  kratos/geometries/sphere_3d_1.h
  kratos/geometries/tetrahedra_3d_10.h
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_2d_6.h
  kratos/geometries/triangle_3d_3.h
  kratos/geometries/triangle_3d_6.h
Labels: CAD Integration, Refactor

#5457 [Core][Geometry] Adding GetGeometryData to the geometry base class
  kratos/geometries/geometry.h
Labels: CAD Integration, FastPR, Kratos Core

#5390 [Core][Geometry] Adding coupling geometry
  kratos/geometries/coupling_geometry.h
  kratos/geometries/geometry.h
  kratos/tests/cpp_tests/geometries/test_coupling_geometry.cpp
Labels: CAD Integration, Feature, Kratos Core

#5536 [Core] exposing GeometricalTransformationUtilities
  kratos/python/add_utilities_to_python.cpp
Labels: Kratos Core, Python

#5295 [FastPR][Core] Edges() deprecated warning remove
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
Labels: Deprecated, FastPR, Kratos Core, Warning

#5539 [Core] Adding default value in Parameters for VTKOutput constru…
  kratos/input_output/vtk_output.h
  kratos/python/add_io_to_python.cpp
Labels: FastPR, Kratos Core

#5540 [Core] Reducing memory allocation moving one line outside a loop
  kratos/utilities/exact_mortar_segmentation_utility.cpp
Labels: FastPR, Kratos Core, Memory saving

#5542 [StructuralMechanicsApplication] Fix several memory errors and…
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_kinematic_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_finite_strain_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_finite_strain_isotropic_plasticity.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_finite_strain_isotropic_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/test_perfect_plasticity_implementation_verification.py
Labels: Applications, Bugfix, Enhancement, Testing

#5537 [ContactStructuralMechanicsApplication] Update app to use #5390…
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/paired_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/paired_condition.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_builder_and_solvers/contact_residualbased_block_builder_and_solver.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.h
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
Labels: Applications, Enhancement, FastPR

#5541 [CoSim] cpp ping pong
  applications/CoSimulationApplication/CMakeLists.txt
  applications/CoSimulationApplication/python_scripts/solver_wrappers/cpp_ping_pong/ping_pong_io.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/cpp_ping_pong/ping_pong_wrapper.py
  applications/CoSimulationApplication/tests/cpp_ping_pong_solvers/cpp_test_solver_ping/cpp_test_solver_ping.cpp
  applications/CoSimulationApplication/tests/cpp_ping_pong_solvers/cpp_test_solver_pong/cpp_test_solver_pong.cpp
  applications/CoSimulationApplication/tests/ping_pong_test/cosim_ping_pong_parameters.json
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_ping_pong_coupling.py
Labels: Applications, Enhancement

#5501 [Core][BlockB&S] moving application of constraints
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Bug, Kratos Core

#5543 [CoSim] empire comm in folder
  applications/CoSimulationApplication/custom_io/co_sim_EMPIRE_API.h
  applications/CoSimulationApplication/python_scripts/solver_wrappers/empire_io.py
  applications/CoSimulationApplication/tests/test_cosim_EMPIRE_API.py
Labels: Applications, Enhancement

#5552 [ContactStructuralMechanicsApplication] Minor clean up of the a…
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/tests/test_process_factory.py
Labels: Applications, FastPR

#5553 [ContactStructuralMechanicsApplication] Hotfix dummy error
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_triangles_test_parameters.json
Labels: Applications, FastPR

#5554 [FEMDEM] Updating the pyton scripts previously to refactor and improvement of the extend pressure process
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainDEM_for_coupling.py
Labels: Applications, FastPR

#5555 [DEM]bugfix related to the particle-wall tangential force
  applications/DEMApplication/custom_elements/spheric_particle.cpp
Labels: Bugfix

#5531 [ConvDiff] BFECC test update
  applications/ConvectionDiffusionApplication/test_examples/bfecc_test/ProjectParameters.py
  applications/ConvectionDiffusionApplication/test_examples/bfecc_test/base.mdpa
  applications/ConvectionDiffusionApplication/test_examples/bfecc_test/test_bfecc.py
  applications/ConvectionDiffusionApplication/tests/BFECCConvectionTest/bfecc_convection_test.csv
  applications/ConvectionDiffusionApplication/tests/bfecc_convection_test.py
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
Labels: Applications, Legacy, Testing

#5558 fix(HDF5): fixes can't open file error in subprocess
  applications/HDF5Application/tests/test_HDF5Application.py
Labels: Applications, Error, Testing

#5559 fix(HDF5): cannot import h5py with runkratos
  applications/HDF5Application/tests/test_hdf5_xdmf.py
Labels: Applications, Error, Testing

#5551 [CoSim] minor fixes
  applications/CoSimulationApplication/custom_io/co_sim_EMPIRE_API.h
  applications/CoSimulationApplication/python_scripts/co_simulation_analysis.py
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
  applications/CoSimulationApplication/tests/cpp_tests/test_multiple_includes_api_headers.cpp
  applications/CoSimulationApplication/tests/fsi_wall/cosim_wall_weak_coupling_fsi_parameters.json
  applications/CoSimulationApplication/tests/ping_pong_test/cosim_ping_pong_parameters.json
  applications/CoSimulationApplication/tests/test_coupling_interface_data.py
Labels: Applications, Cleanup, FastPR

#5573 [Trilinos] amgcl cmake cleanup
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/external_includes/amgcl_mpi_solve_functions.h
Labels: Bugfix, Cleanup, Parallel-MPI

#5535 [Core] BDF-schemes - using time discretization utility
  kratos/solving_strategies/schemes/residual_based_bdf_scheme.h
Labels: Cleanup

#5572 [ContactStructuralMechanicsApplication] Adding new test for nor…
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_check_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/auxiliar_files_for_python_unnitest/inverted_normals_s_shape.mdpa
  applications/ContactStructuralMechanicsApplication/tests/auxiliar_files_for_python_unnitest/inverted_normals_s_shape_check_normal.json
  applications/ContactStructuralMechanicsApplication/tests/test_check_normals_process.py
Labels: Applications, Enhancement, Testing

#5538 [MeshingApplication] Remove duplicated triangle library
  applications/MeshingApplication/CMakeLists.txt
  applications/MeshingApplication/custom_external_libraries/triangle/A.poly
  applications/MeshingApplication/custom_external_libraries/triangle/CMakeLists.txt
  applications/MeshingApplication/custom_external_libraries/triangle/Jamfile
  applications/MeshingApplication/custom_external_libraries/triangle/README
  applications/MeshingApplication/custom_external_libraries/triangle/makefile
  applications/MeshingApplication/custom_external_libraries/triangle/showme.c
  applications/MeshingApplication/custom_external_libraries/triangle/triangle.c
  applications/MeshingApplication/custom_external_libraries/triangle/triangle.h
  applications/MeshingApplication/custom_external_libraries/triangle/tricall.c
Labels: Applications, Cleanup, Duplicate, FastPR

#5579 [ContactStructuralMechanicsApplication] Consistent update of th…
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_gap_process.cpp
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_wrapper_process.h
Labels: Applications, FastPR, Inconsistent

#5584 [MeshingApplication] Improving EnsureModelPartOwnsProperties
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_utilities/meshing_utilities.cpp
  applications/MeshingApplication/custom_utilities/meshing_utilities.h
Labels: Applications, Enhancement

#5586 [ContactStructuralMechanicsApplication] Resetting flags to avoi…
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_check_process.cpp
Labels: Applications, Enhancement

#5588 [Core][ContactStructuralMechanicsApplication] Computing active…
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/utilities/constraint_utilities.cpp
  kratos/utilities/constraint_utilities.h
Labels: Applications, Enhancement, Kratos Core

#5407 [Core][ContactStructuralMechanicsApplication] Update OBB. Addin…
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  kratos/includes/oriented_bounding_box.h
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.cpp
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.h
  kratos/sources/oriented_bounding_box.cpp
  kratos/tests/cpp_tests/processes/test_find_intersected_geometrical_objects_process.cpp
  kratos/tests/cpp_tests/sources/test_oriented_bounding_box.cpp
Labels: Enhancement, Kratos Core

#5590 [Kratos] using imported module name consistently
  kratos/python_scripts/process_factory.py
Labels: FastPR, Hotfix

#5575 [CoSim] Strong coupling with more than two solvers
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
Labels: Applications, FastPR

#5578 [CoSim] conditional test execution
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
Labels: FastPR, Testing

#5589 [Core][TimeBasedAsciiFileWriterUtility] adding message abt successful restart
  kratos/python_scripts/time_based_ascii_file_writer_utility.py
Labels: FastPR

#5592 [ContactStructuralMechanicsApplication] Consistent gap computat…
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_results.json
Labels: Applications, Enhancement, FastPR

#5514 [Structural] EigenSolver with constraints
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_with_constraints.py
Labels: Applications, Enhancement

#5596 [CORE] Bugfix ResidualBasedNewtonRaphsonStrategy
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: C++, Kratos Core

#5517 Core/components remove
  kratos/includes/kratos_components.h
  kratos/tests/cpp_tests/sources/test_kratos_components.cpp
Labels: Kratos Core

#5602 [Trilinos][Aztec] Minor settings change
  applications/TrilinosApplication/external_includes/ml_solver.h
Labels: Applications, C++, Parallel-MPI

#5604 [Core] Clean up of kratos_flags
  kratos/includes/kratos_flags.h
Labels: Cleanup, FastPR, Kratos Core

#5609 [CoSim][CouplingOperation] adding error-msg
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupling_operation.py
Labels: Applications, FastPR

#5567 Core reduce dof fix trilinos
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver_periodic.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  applications/TrilinosApplication/custom_utilities/trilinos_refine_mesh.h
Labels: Parallel-MPI

#5616 [Mapping] removing mpi include
  applications/MappingApplication/mapping_application.cpp
Labels: Applications, Cleanup, FastPR

#5550 [Core] Reduce node and dof size stage 2
  applications/ContactMechanicsApplication/custom_conditions/rigid_body_links/rigid_body_point_link_condition.cpp
  applications/ContactMechanicsApplication/custom_utilities/rigid_body_element_creation_utility.hpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/line_search_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_mixedulm_linear_solver.cpp
  applications/DelaunayMeshingApplication/custom_bounding/spatial_bounding_box.hpp
  applications/DelaunayMeshingApplication/custom_processes/generate_new_nodes_mesher_process.hpp
  applications/DelaunayMeshingApplication/custom_processes/nodal_neighbours_search_process.hpp
  applications/DelaunayMeshingApplication/custom_processes/refine_conditions_mesher_process.hpp
  applications/DelaunayMeshingApplication/custom_processes/refine_elements_in_edges_mesher_process.hpp
  applications/FluidDynamicsApplication/custom_strategies/builder_and_solvers/residualbased_block_builder_and_solver_periodic.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.cpp
  applications/MeshingApplication/custom_utilities/local_refine_prism_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh.hpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/uniform_refinement_utility.cpp
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
  applications/MeshingApplication/external_includes/trigen_glass_forming.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_segment.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_vms.h
  applications/PfemApplication/custom_processes/inlet_mesher_process.hpp
  applications/PfemApplication/custom_processes/insert_fluid_nodes_mesher_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_nodes_before_meshing_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/split_elements_process.hpp
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_block_builder_and_solver.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver_continuity.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver_continuity_for_FSI.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver_for_FSI.h
  applications/PfemSolidMechanicsApplication/custom_processes/refine_conditions_in_contact_mesher_process.hpp
  applications/SolidMechanicsApplication/custom_processes/build_string_skin_process.hpp
  applications/SolidMechanicsApplication/custom_solvers/solution_builders_and_solvers/block_builder_and_solver.hpp
  applications/SolidMechanicsApplication/custom_solvers/solution_builders_and_solvers/reduction_builder_and_solver.hpp
  applications/SolidMechanicsApplication/custom_solvers/solution_strategies/eigensolver_strategy.hpp
  applications/SolidMechanicsApplication/custom_utilities/eigenvector_to_solution_step_variable_transfer_utility.hpp
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/eigenfrequency_response_function_utility.h
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/harmonic_analysis_strategy.hpp
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver_periodic.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  applications/TrilinosApplication/custom_utilities/trilinos_refine_mesh.h
  kratos/includes/dof.h
  kratos/includes/node.h
  kratos/includes/serializer.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
  kratos/python/add_node_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_componentwise.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/solving_strategies/schemes/residual_based_adjoint_static_scheme.h
  kratos/tests/cpp_tests/strategies/schemes/test_schemes.cpp
  kratos/tests/cpp_tests/strategies/strategies/test_strategies.cpp
  kratos/utilities/variable_utils.cpp
Labels: API Breaker, Behaviour Change

#5587 fix(HDF5): fixes parallel model part output in processes and subprocess call in tests
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_xdmf_output_process.py
  applications/HDF5Application/tests/test_HDF5Application.py
Labels: Applications, Bugfix

#5392 [Core] Adding direct save of GP in entities instead of extrapolation VTK
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_strain.py
  kratos/includes/condition.h
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
Labels: Enhancement, Kratos Core, Post Process

#5619 [Core] Update OrientedBoundingBox to fix -Wmissing-braces
  kratos/sources/oriented_bounding_box.cpp
Labels: C++, Compilation, FastPR, Warning

#5313 [Trilinos] cleanup
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_schemes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
  applications/TrilinosApplication/custom_python/add_zoltan_processes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_zoltan_processes_to_python.h
  applications/TrilinosApplication/custom_python/trilinos_python_application.cpp
  applications/TrilinosApplication/custom_strategies/schemes/trilinos_residualbased_incrementalupdate_variable_property_static_scheme.h
  applications/TrilinosApplication/custom_strategies/schemes/trilinos_residualbased_newmark_scheme.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_convdiff_strategy.h
  applications/TrilinosApplication/custom_utilities/trilinos_deactivation_utility.h
  applications/TrilinosApplication/custom_utilities/zoltan_partition_utility.h
Labels: Applications, Cleanup, Discussion, Parallel-MPI

#5569 [Convdiff] BFECC elemental limiter test
  applications/ConvectionDiffusionApplication/test_examples/bfecc_limiter_test/ProjectParameters.py
  applications/ConvectionDiffusionApplication/test_examples/bfecc_limiter_test/base.mdpa
  applications/ConvectionDiffusionApplication/test_examples/bfecc_limiter_test/test_bfecc_limiter.py
  applications/ConvectionDiffusionApplication/tests/BFECCConvectionTest/bfecc_convection_test.csv
  applications/ConvectionDiffusionApplication/tests/BFECCConvectionTest/bfecc_convection_test_results.json
  applications/ConvectionDiffusionApplication/tests/BFECCConvectionTest/bfecc_elemental_limiter_convection_test_results.json
  applications/ConvectionDiffusionApplication/tests/bfecc_convection_test.py
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
Labels: Applications, Cleanup, Testing

#5622 [Core][ResiduaCriteria] restrictions for MPI
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
Labels: Bugfix, Hotfix, Parallel-MPI

#5625 [Trilinos] amgcl include cleaning
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/external_includes/amgcl_mpi_schur_complement_solver.h
  applications/TrilinosApplication/external_includes/amgcl_mpi_solver_impl.cpp
Labels: Applications, Cleanup, Parallel-MPI

#5632 [PotentialFlow] Avoiding model part warnings in tests
  applications/CompressiblePotentialFlowApplication/tests/rhombus_3d/rhombus_3d_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/wake_process_3d_tests/15_elements_small_test/small_3d_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/wake_process_3d_tests/24_elements_kutta_node_above_wake_test/small_3d_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/wake_process_3d_tests/25_elements_nodes_on_wake_test/small_3d_parameters.json
Labels: FastPR

#5628 [ContactStructuralMechanicsApplication] Removing PAIRED_NORMAL.…
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/paired_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/paired_condition.h
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
Labels: Applications, Transition

#5634 [Core] Remove debug errors for pGetProperties in element and condition
  kratos/includes/condition.h
  kratos/includes/element.h
Labels: FastPR, Kratos Core

#5642 [ContactStructuralMechanicsApplication] Update some configurati…
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_test_parameters.json
Labels: Applications, FastPR

#5637 [FluidDyn] mpi-tests dependencies check
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Applications, FastPR, Testing

#5651 [Contact] ensure usage of Computing-MP
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_static_solver.py
Labels: Applications

#5639 [Structural] fixing mpi-tests check
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: Applications, FastPR, Testing

#5638 [Core] coupling condition update master geometry
  kratos/geometries/coupling_geometry.h
  kratos/geometries/geometry.h
  kratos/tests/cpp_tests/geometries/test_coupling_geometry.cpp
Labels: CAD Integration, Kratos Core

#5451 [Core] Adding value_type typedef to PointerVector
  kratos/containers/pointer_vector.h
Labels: API Breaker, Cleanup, Kratos Core, Refactor

#5601 [Shallow] New elem
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_elements/cv_swe.cpp
  applications/ShallowWaterApplication/custom_elements/cv_swe.h
  applications/ShallowWaterApplication/custom_elements/rv_swe.cpp
  applications/ShallowWaterApplication/custom_elements/rv_swe.h
  applications/ShallowWaterApplication/custom_processes/negative_height_wetting_model.cpp
  applications/ShallowWaterApplication/python_scripts/eulerian_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/eulerian_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
Labels: Cleanup

#5648 [DemStruct] Python minor cleanup
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
  applications/DemStructuresCouplingApplication/python_scripts/dem_main_script_ready_for_coupling_with_fem.py
  applications/DemStructuresCouplingApplication/python_scripts/dem_structures_coupling_gid_output.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
Labels: Cleanup

#5314 [Metis] cleanup
  applications/MetisApplication/custom_processes/metis_contact_partitioning_process.h
  applications/MetisApplication/custom_processes/metis_parallel_partitioning_process.h
  applications/MetisApplication/custom_processes/metis_partitioning_process.h
  applications/MetisApplication/custom_processes/metis_partitioning_process_quadratic.h
  applications/MetisApplication/custom_processes/metis_scalar_reorder_process.h
  applications/MetisApplication/custom_processes/metis_separate_partition_with_interface_process.h
  applications/MetisApplication/custom_python/add_processes_to_python.cpp
Labels: Applications, Cleanup, Discussion, Parallel-MPI

#5649 [CoSim] updating old settings
  applications/CoSimulationApplication/tests/dem_fem_cable_net/ProjectParametersFEM.json
  applications/CoSimulationApplication/tests/dem_fem_cable_net/cosim_dem_fem_cable_net_parameters.json
  applications/CoSimulationApplication/tests/fsi_mok/ProjectParametersCSM.json
  applications/CoSimulationApplication/tests/fsi_wall/ProjectParametersCSM.json
  applications/CoSimulationApplication/tests/fsi_wall/StructuralMaterials.json
Labels: Applications, Cleanup, Testing

#5630 [Core][IncompressibleFluid] Remove divide_elem_utils and fluid_2d_split
  applications/ConvectionDiffusionApplication/custom_utilities/pure_convection_CrankN_tools.h
  applications/incompressible_fluid_application/custom_elements/fluid_2d_split.cpp
  applications/incompressible_fluid_application/custom_elements/fluid_2d_split.h
  applications/incompressible_fluid_application/incompressible_fluid_application.cpp
  applications/incompressible_fluid_application/incompressible_fluid_application.h
  kratos/python/add_utilities_to_python.cpp
  kratos/utilities/divide_elem_utils.h
Labels: Applications, Cleanup, FastPR, Kratos Core

#5655 [ContactStructuralMechanicsApplication] Improve self-contact
  applications/ContactStructuralMechanicsApplication/README.md
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/mpc_contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/self_contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/self_contact_utilities.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/self_contact_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/self_contact_test_materials.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/self_contact_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/self_contact_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ValidationTests.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_search_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_selfcontact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/penalty_frictionless_contact_test_3D/explicit_3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
  applications/ContactStructuralMechanicsApplication/tests/test_dynamic_search.py
Labels: Applications, Enhancement

#5613 [ShapeOpt] pass full model part to analyzer
  applications/ShapeOptimizationApplication/python_scripts/algorithm_bead_optimization.py
  applications/ShapeOptimizationApplication/python_scripts/algorithm_penalized_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithm_steepest_descent.py
  applications/ShapeOptimizationApplication/python_scripts/algorithm_trust_region.py
Labels: FastPR

#5662 [Core] Adding hasher and comparator for IndexedObject (and pointer to IndexedObject)
  kratos/includes/key_hash.h
Labels: Enhancement, Kratos Core

#5657 [FEMDEM] Adding the coupling between the FEMDEM and PFEM Fluid
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_constitutive/fem_dem_elastic_law.cpp
  applications/FemToDemApplication/custom_constitutive/fem_dem_elastic_law.hpp
  applications/FemToDemApplication/custom_constitutive/zarate_law.cpp
  applications/FemToDemApplication/custom_constitutive/zarate_law.hpp
  applications/FemToDemApplication/custom_elements/femdem3d_hexahedron_element.cpp
  applications/FemToDemApplication/custom_elements/femdem3d_hexahedron_element.hpp
  applications/FemToDemApplication/custom_elements/generic_large_displacement_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_large_displacement_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/romfemdem3d_element.cpp
  applications/FemToDemApplication/custom_elements/romfemdem3d_element.hpp
  applications/FemToDemApplication/custom_processes/apply_component_table_process.hpp
  applications/FemToDemApplication/custom_processes/apply_double_table_process.hpp
  applications/FemToDemApplication/custom_processes/assign_pressure_id_process.cpp
  applications/FemToDemApplication/custom_processes/assign_pressure_id_process.h
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.h
  applications/FemToDemApplication/custom_processes/compute_sand_production.cpp
  applications/FemToDemApplication/custom_processes/compute_sand_production.h
  applications/FemToDemApplication/custom_processes/damage_to_nodes_process.hpp
  applications/FemToDemApplication/custom_processes/dem_after_remesh_identificator_process.hpp
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.h
  applications/FemToDemApplication/custom_processes/generate_dem_process.cpp
  applications/FemToDemApplication/custom_processes/generate_dem_process.h
  applications/FemToDemApplication/custom_processes/initial_dem_skin_process.hpp
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.cpp
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.h
  applications/FemToDemApplication/custom_processes/stress_to_nodes_process.hpp
  applications/FemToDemApplication/custom_processes/transfer_nodal_forces_to_fem.cpp
  applications/FemToDemApplication/custom_processes/transfer_nodal_forces_to_fem.h
  applications/FemToDemApplication/custom_processes/update_dem_kinematics_process.cpp
  applications/FemToDemApplication/custom_processes/update_dem_kinematics_process.h
  applications/FemToDemApplication/custom_processes/update_pressure_value_pfem_conditions_process.cpp
  applications/FemToDemApplication/custom_processes/update_pressure_value_pfem_conditions_process.h
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/custom_strategies/femdem_residual_criteria.h
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/FEMDEMParticleCreatorDestructor.py
  applications/FemToDemApplication/python_scripts/FemDemDynamicSolver.py
  applications/FemToDemApplication/python_scripts/KratosFemDemApplication.py
  applications/FemToDemApplication/python_scripts/KratosFemDemCoupled3DApplication.py
  applications/FemToDemApplication/python_scripts/KratosFemDemCoupledApplication.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDem.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
  applications/FemToDemApplication/python_scripts/MainFemDem.py
  applications/FemToDemApplication/python_scripts/MainPFEM_for_coupling.py
  applications/FemToDemApplication/python_scripts/pfem_check_and_prepare_model_process_fluid_for_coupling.py
  applications/FemToDemApplication/python_scripts/pfem_fluid_solver_for_coupling.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
Labels: Applications

#5635 Ftransport/convection with pfem2
  applications/ConvectionDiffusionApplication/custom_utilities/move_particle_utility.h
  applications/ConvectionDiffusionApplication/python_scripts/move_particle_utility_process.py
  applications/FluidTransportApplication/CMakeLists.txt
  applications/FluidTransportApplication/custom_elements/steady_convection_diffusion_FIC_element.cpp
  applications/FluidTransportApplication/custom_elements/steady_convection_diffusion_FIC_element.hpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_FIC_element.cpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_PFEM2_FIC_element.cpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_PFEM2_FIC_element.hpp
  applications/FluidTransportApplication/custom_problemtype/Fluid_Transport_Application.gid/ProjectParametersAuxProcs.tcl
  applications/FluidTransportApplication/custom_problemtype/Fluid_Transport_Application.gid/fluid_transport_main.py
  applications/FluidTransportApplication/fluid_transport_application.cpp
  applications/FluidTransportApplication/fluid_transport_application.h
  applications/FluidTransportApplication/python_scripts/apply_scalar_constraint_function_process.py
  applications/FluidTransportApplication/python_scripts/fluid_transport_solver.py
  applications/FluidTransportApplication/python_scripts/pfem2_fluid_transport_process.py
  applications/FluidTransportApplication/tests/SmallTests.py
  applications/FluidTransportApplication/tests/element_tests/DAC_2D_test/DAC_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/DAC_2D_test/DAC_2D_test.mdpa
  applications/FluidTransportApplication/tests/element_tests/DAC_2D_test/DAC_2D_test_results.json
  applications/FluidTransportApplication/tests/element_tests/Plume_PFEM2_2D_test/IMPORTANT
  applications/FluidTransportApplication/tests/element_tests/Plume_PFEM2_2D_test/Plume_PFEM2_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/Plume_PFEM2_2D_test/Plume_PFEM2_2D_test.mdpa
  applications/FluidTransportApplication/tests/element_tests/Plume_PFEM2_2D_test/Plume_PFEM2_2D_test_results.json
  applications/FluidTransportApplication/tests/element_tests/Q_source_2D_test/Q_source_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/Q_source_2D_test/Q_source_2D_test.mdpa
  applications/FluidTransportApplication/tests/element_tests/Q_source_2D_test/Q_source_2D_test_results.json
  applications/FluidTransportApplication/tests/element_tests/Rot_2D_test/Rot_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/Rot_2D_test/Rot_2D_test.mdpa
  applications/FluidTransportApplication/tests/element_tests/Rot_2D_test/Rot_2D_test_results.json
  applications/FluidTransportApplication/tests/element_tests/SC_2D_test/SC_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/SC_2D_test/SC_2D_test.mdpa
  applications/FluidTransportApplication/tests/element_tests/SC_2D_test/SC_2D_test_results.json
  applications/FluidTransportApplication/tests/element_tests/conv_abso_diff_impl_NR_test_2D/conv_abso_diff_impl_NR_test_2D_results.json
  applications/FluidTransportApplication/tests/element_tests/plume_test_2D/pluma_2.mdpa
  applications/FluidTransportApplication/tests/element_tests/plume_test_2D/plume_test_2D_results.json
  applications/FluidTransportApplication/tests/element_tests/steady_SC_test_2D/steady_SC_test_2D.mdpa
  applications/FluidTransportApplication/tests/element_tests/steady_SC_test_2D/steady_SC_test_2D_results.json
  applications/FluidTransportApplication/tests/element_tests/transient_wave_expl_cuad_test_2D/ProjectParameters.json
  applications/FluidTransportApplication/tests/element_tests/transient_wave_expl_cuad_test_2D/transient_wave_expl_cuad_test_2D.mdpa
  applications/FluidTransportApplication/tests/element_tests/transient_wave_expl_cuad_test_2D/transient_wave_expl_cuad_test_2D_results.json
Labels: Applications

#5606 [Trilinos] Solver utilties
  applications/TrilinosApplication/custom_utilities/trilinos_solver_utilities.h
  applications/TrilinosApplication/external_includes/aztec_solver.h
  applications/TrilinosApplication/external_includes/ml_solver.h
Labels: Applications, Refactor

#5659 [Core][MeshingApplication] Add appveyor compilation (and fix #5…
  applications/MeshingApplication/custom_utilities/meshing_utilities.cpp
  scripts/build/appveyor/configure_appveyor_VS2017.bat
Labels: Applications, Compilation, Continuous Integration, FastPR, Kratos Core, Windows

#5678 [Core] Reverting template in key_hash
  applications/MeshingApplication/custom_utilities/meshing_utilities.cpp
  kratos/includes/key_hash.h
Labels: Bugfix, Compilation, Incomplete, Kratos Core

#5670 [core] Fixing compilation with gcc 4.8.5
  kratos/includes/node.h
Labels: Compilation, Gcc, Linux

#5327 [Cleanup] Removing the dependency of TrilinosApplication on FluidDynamicsApplication
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/trilinos_extension/CMakeLists.txt
  applications/FluidDynamicsApplication/trilinos_extension/TrilinosExtension.py
  applications/FluidDynamicsApplication/trilinos_extension/custom_processes/trilinos_spalart_allmaras_turbulence_model.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_processes/trilinos_stokes_initialization_process.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_processes_to_python.cpp
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_processes_to_python.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_schemes_to_python.cpp
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_schemes_to_python.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_strategies_to_python.cpp
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_strategies_to_python.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_utilities_to_python.cpp
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_utilities_to_python.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/fluid_dynamics_trilinos_extension.cpp
  applications/FluidDynamicsApplication/trilinos_extension/custom_utilities/trilinos_fractional_step_settings.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_utilities/trilinos_fractional_step_settings_periodic.h
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_processes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_schemes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
Labels: API Breaker, Compilation, Discussion, Parallel-MPI

#5673 [Core] Relative tolerance check
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_kinematic_plasticity_constitutive_laws_3d.cpp
  kratos/includes/checks.h
Labels: C++, Enhancement, Kratos Core, Testing

#5626 [ConDiffStrategy] adding synchronization
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/residualbased_convdiff_strategy.h
Labels: Applications, Incomplete, Parallel-MPI

#5679 [ContactStructuralMechanicsApplication] Remaining clean up on f…
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.h
  applications/ContactStructuralMechanicsApplication/custom_python/contact_structural_mechanics_python_application.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_3D/friction_block_test_results.json
Labels: Applications, Cleanup

#5614 [Trilinos] refactor ml defaults
  applications/TrilinosApplication/custom_python/add_trilinos_linear_solvers_to_python.cpp
  applications/TrilinosApplication/external_includes/epetra_default_setter.h
  applications/TrilinosApplication/external_includes/ml_solver.h
  applications/TrilinosApplication/python_scripts/MonolithicMultiLevelSolver.py
  applications/TrilinosApplication/python_scripts/PressureMultiLevelSolver.py
Labels: Applications, Cleanup, Parallel-MPI, Refactor

#5591 [RANS] FluiddynamicsApplication Intrusions
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bossak_scheme_turbulent.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_simple_steady_scheme.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/turbulence_model_solver.py
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity10_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity10_probe_ref_1.dat
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity10_probe_ref_2.dat
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity5_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity5_probe_ref_1.dat
  applications/FluidDynamicsApplication/tests/Cavity/steady_cavity5_probe_ref_2.dat
  applications/FluidDynamicsApplication/tests/CylinderTest/steady_cylinder_test_probe1_ref.dat
  applications/FluidDynamicsApplication/tests/CylinderTest/steady_cylinder_test_probe2_ref.dat
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_schemes_to_python.cpp
Labels: Applications, C++, Python

#5685 [StructuralMechanicsApplication] Update macros tests
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_d+d-damage_law_masonry_2d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_d+d-damage_law_masonry_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_high_cycle_fatigue_constitutive_law_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_kelvin_constitutive_law.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_maxwell_constitutive_law.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_orthotropic_damage_constitutive_laws_3d.cpp
Labels: Applications, Cleanup, FastPR, Refactor

#5690 [ContactStructuralMechanicsApplication] Extend self-contact cpp…
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_selfcontact_utilities.cpp
Labels: Applications, C++, FastPR, Testing

#4364 [StructuralMechanicsApplication][ShapeOpt] Added von mises stress sensitivities
  applications/ShapeOptimizationApplication/python_scripts/analyzer_internal.py
  applications/ShapeOptimizationApplication/tests/algorithm_penalized_projection_test/run_test.py
  applications/ShapeOptimizationApplication/tests/algorithm_steepest_descent_test/run_test.py
  applications/ShapeOptimizationApplication/tests/algorithm_trust_region_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_eigenfrequency_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_shell_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_step_adaption_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/material.json
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/shape_change_results.json
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/structure.mdpa
  applications/ShapeOptimizationApplication/tests/opt_process_vertex_morphing_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_weighted_eigenfrequency_test/run_test.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/material.json
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_semi_analytic_step_size_verification.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_sensitivity_verification_in_design_space.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_sensitivity_verification_in_geometry_space.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/structure.mdpa
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
  applications/StructuralMechanicsApplication/custom_python/add_custom_response_functions_to_python.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_small_displacement_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_small_displacement_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_max_stress_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_max_stress_response_function.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/stress_response_definitions.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/stress_response_definitions.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_response.py
  applications/StructuralMechanicsApplication/python_scripts/structural_response_function_factory.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_max_stress_primal_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_max_stress_response_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/cantilever_beam.mdpa
  applications/StructuralMechanicsApplication/tests/response_function_tests/cantilever_beam_material.json
  applications/StructuralMechanicsApplication/tests/structural_response_function_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: Feature

#5680 Adding python interface for DenseVector<int>.
  kratos/python/add_vector_to_python.cpp
Labels: Hotfix, Kratos Core, Python

#5687 [Core] Avoid incompatible variables in VTKoutput
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
Labels: Applications, Bugfix, Enhancement, Kratos Core

#5694 [Core][Vtk] adding custom postfix
  kratos/input_output/vtk_output.cpp
Labels: FastPR, IO, Incomplete, Kratos Core
