Repository KratosMultiphysics/Kratos, pull requests merged in 2019-10, with the labels that each got.

#5460 [Core] Remove old import mechanism
  CMakeLists.txt
  kratos/python_interface/__init__.py
  kratos/python_interface/application_importer.py
  kratos/python_scripts/process_factory.py
Labels: API Breaker, Applications, Cleanup, Deprecated, Python

#5693 [FEMDEM] Improving the coupling and solving errors
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_processes/fix_free_velocity_on_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/fix_free_velocity_on_nodes_process.h
  applications/FemToDemApplication/custom_processes/generate_dem_process.cpp
  applications/FemToDemApplication/custom_processes/generate_dem_process.h
  applications/FemToDemApplication/custom_processes/remove_alone_DEM_elements_process.cpp
  applications/FemToDemApplication/custom_processes/remove_alone_DEM_elements_process.h
  applications/FemToDemApplication/custom_processes/transfer_nodal_forces_to_fem.cpp
  applications/FemToDemApplication/custom_processes/update_dem_kinematics_process.cpp
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDem.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
  applications/PfemFluidDynamicsApplication/custom_processes/select_mesh_elements_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_python/pfem_fluid_dynamics_python_application.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.h
Labels: Applications, FastPR

#5361 [Core][NURBS] nurbs geometry
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_shape_function_utilities/nurbs_curve_shape_functions.h
  kratos/geometries/nurbs_shape_function_utilities/nurbs_interval.h
  kratos/geometries/nurbs_shape_function_utilities/nurbs_surface_shape_functions.h
  kratos/geometries/nurbs_shape_function_utilities/nurbs_utilities.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_curve.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_curve_shape_functions.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_surface.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_surface_shape_functions.cpp
Labels: CAD Integration, Kratos Core, Tobis Branch

#5585 [Core][Proposal] Support for ARMx32 (RPi and similar embedded systems). Update dof
  kratos/includes/define.h
  kratos/includes/dof.h
Labels: C++, Clang, Compilation, Discussion, Embedded systems/ARM, Kratos Core

#5699 [Core] removing old check-fcts
  kratos/python_interface/__init__.py
Labels: Cleanup, Deprecated, Kratos Core

#5705 [ContactStructuralMechanicsApplication] Fixing some imports (that were legacy)
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/hyper_simple_slope_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
Labels: Applications, FastPR

#5640 [Core] Adding Global Derivatives
  kratos/geometries/geometry.h
Labels: CAD Integration, Kratos Core, Tobis Branch

#5424 [Core][Geometry] Allowing high order derivatives
  kratos/geometries/geometry.h
  kratos/geometries/geometry_data.h
  kratos/geometries/geometry_dimension.h
  kratos/geometries/geometry_shape_function_container.h
Labels: CAD Integration, Kratos Core, Tobis Branch

#5704 [FastPR][Core][PFEM2] VOLUMETRIC_STRAIN migration from PFEM2 to Core
  applications/pfem_2_application/custom_python/pfem_2_python_application.cpp
  applications/pfem_2_application/pfem_2_application.cpp
  applications/pfem_2_application/pfem_2_application_variables.cpp
  applications/pfem_2_application/pfem_2_application_variables.h
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/sources/variables.cpp
Labels: Applications, FastPR, Kratos Core

#5677 [Core][VTK] output node and element ids
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
  kratos/python_scripts/vtk_output_process.py
Labels: IO

#5707 Missing cotired KratosMeshingCore
  applications/MeshingApplication/CMakeLists.txt
Labels: Continuous Integration

#5703 [Core] Nurbs Geometries GlobalSpaceDerivatives
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_curve.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_surface.cpp
Labels: CAD Integration, FastPR, Kratos Core

#5425 [Core][Geometry] QuadraturePointGeometry
  kratos/geometries/geometry.h
  kratos/geometries/geometry_data.h
  kratos/geometries/geometry_shape_function_container.h
  kratos/geometries/quadrature_point_geometry.h
  kratos/sources/kratos_application.cpp
  kratos/tests/cpp_tests/geometries/test_quadrature_point_geometry.cpp
  kratos/tests/cpp_tests/sources/test_serializer_geometry_data.cpp
  kratos/utilities/quadrature_points_utility.h
Labels: CAD Integration

#5708 [ContactStructuralMechanicsApplication] SLIP flag reset
  applications/ContactStructuralMechanicsApplication/custom_utilities/self_contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_3D/friction_block_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_test_results_LM.json
Labels: Applications, Enhancement, FastPR

#5577 [Core][test-runner] running script in directory
  kratos/python_scripts/run_tests.py
Labels: Enhancement, Testing

#5599 [Core] Reduce node and dof size stage3
  kratos/containers/variables_list.h
  kratos/includes/dof.h
  kratos/tests/cpp_tests/sources/test_node.cpp
  kratos/utilities/variable_utils.h
Labels: Behaviour Change

#5710 [core] pyc files excluded from install
  kratos/CMakeLists.txt
Labels: Bug

#5719 [Trilinos] CMakeLists - removing unused lines
  applications/TrilinosApplication/CMakeLists.txt
Labels: Applications, Cleanup, FastPR

#5720 [ContactStructuralMechanicsApplication] Transition PR. Removing wrapper
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_contact_structural.py
Labels: Applications, Cleanup, Duplicate, FastPR, Transition

#5721 [MeshingApplication] Update test after the new pythonic structure
  applications/MeshingApplication/tests/test_remesh_rectangle.py
  applications/MeshingApplication/tests/test_remesh_sphere.py
Labels: Applications, FastPR, Testing

#5713 [Core][Testing] assertIsClose
  applications/StructuralMechanicsApplication/tests/structural_response_function_test_factory.py
  kratos/mpi/tests/test_gather_modelpart_utility.py
  kratos/python_scripts/KratosUnittest.py
Labels: Testing

#5724 [CoSim] adding name of solver to data
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
Labels: Applications, FastPR

#5702 [Structural] making Eigen-PostProcess vtk-compatible
  applications/StructuralMechanicsApplication/custom_io/vtk_eigen_output.cpp
  applications/StructuralMechanicsApplication/custom_io/vtk_eigen_output.h
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.h
  applications/StructuralMechanicsApplication/python_scripts/postprocess_eigenvalues_process.py
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_0.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_1.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_2.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_3.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_4.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/test_postprocess_eigenvalues_process.post.res.ref
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.py
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
Labels: Applications, Enhancement

#5728 [ContactStructuralMechanicsApplication] [StructuralMechanicsApplication] Simplify analysis
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/kratos_main_contact_structural.py
  applications/ContactStructuralMechanicsApplication/tests/contact_structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: Applications, Cleanup, Duplicate, FastPR

#5731 [ContactStructuralMechanicsApplication] Considering epsilon tolerance on CC
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
Labels: Applications, Enhancement

#5733 [ShapeOpt]Fix outdated import in unit test
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_sensitivity_verification_in_design_space.py
Labels: Bugfix

#5615 [Core] removing blas requirement for trilinos
  CMakeLists.txt
Labels: Applications, Cleanup, External library, Kratos Core

#5742 Typo in Model.cpp
  kratos/containers/model.cpp
Labels: Typo

#5744 [Core] Ignoring runkratos.exe (Windows equivalent when compiling with MinGW)
  .gitignore
Labels: FastPR, Kratos Core, Windows

#5741 [Core] Making Kratos compatible with MinWG
  cmake_build/example_configure_mingw.bat.do_not_touch
  cmake_build/example_configure_mingw.sh.do_not_touch
  kratos/includes/kratos_export_api.h
Labels: Compilation, Enhancement, Kratos Core, Windows

#5736 [FEMDEM] refactoring the app for the pfem coupling
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/FemToDemApplication/custom_constitutive/elastic_isotropic_3d.h
  applications/FemToDemApplication/custom_constitutive/fem_dem_elastic_law.cpp
  applications/FemToDemApplication/custom_constitutive/fem_dem_elastic_law.hpp
  applications/FemToDemApplication/custom_constitutive/linear_plane_strain.cpp
  applications/FemToDemApplication/custom_constitutive/linear_plane_strain.h
  applications/FemToDemApplication/custom_constitutive/linear_plane_stress.cpp
  applications/FemToDemApplication/custom_constitutive/linear_plane_stress.h
  applications/FemToDemApplication/custom_constitutive/zarate_law.cpp
  applications/FemToDemApplication/custom_constitutive/zarate_law.hpp
  applications/FemToDemApplication/custom_elements/base_solid_element.cpp
  applications/FemToDemApplication/custom_elements/base_solid_element.h
  applications/FemToDemApplication/custom_elements/generic_large_displacement_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_large_displacement_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.h
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/Materials.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/Mdpa.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/Materials.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/Mdpa.tcl
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.cpp
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.h
  applications/FemToDemApplication/custom_processes/update_flag_no_remesh_femdem_boundary_process.cpp
  applications/FemToDemApplication/custom_processes/update_flag_no_remesh_femdem_boundary_process.h
  applications/FemToDemApplication/custom_processes/update_pressure_value_pfem_conditions_process.cpp
  applications/FemToDemApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/custom_utilities/constitutive_law_utilities.h
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.h
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDem.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
  applications/FemToDemApplication/python_scripts/pfem_check_and_prepare_model_process_fluid_for_coupling.py
Labels: Applications

#5738 [FluidDynamics][Trilinos][VMS] Bugfix in Trilinos CFD
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
Labels: Bugfix, Python

#5372 [Travis] activating Trilinos & Metis
  .travis.yml
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  scripts/build/travis/configure_travis_bionic.sh
Labels: External library, Parallel-MPI, Travis

#5746 [ShapeOpt] Another fix after failure of nightly build
  applications/ShapeOptimizationApplication/tests/mapper_test/run_test.py
Labels: Bugfix, FastPR

#5723 Dem/developing restart capabilities
  applications/DEMApplication/custom_conditions/RigidEdge.cpp
  applications/DEMApplication/custom_conditions/RigidEdge.h
  applications/DEMApplication/custom_conditions/RigidFace.cpp
  applications/DEMApplication/custom_conditions/RigidFace.h
  applications/DEMApplication/custom_conditions/SolidFace.cpp
  applications/DEMApplication/custom_conditions/SolidFace.h
  applications/DEMApplication/custom_conditions/dem_wall.cpp
  applications/DEMApplication/custom_conditions/dem_wall.h
  applications/DEMApplication/custom_conditions/mapping_condition.cpp
  applications/DEMApplication/custom_conditions/mapping_condition.h
  applications/DEMApplication/custom_elements/rigid_body_element.cpp
  applications/DEMApplication/custom_elements/rigid_body_element.h
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/python_scripts/DEM_restart_utility.py
  applications/DEMApplication/python_scripts/sphere_strategy.py
  applications/DEMApplication/tests/restart_files/ball_and_wallDEM.mdpa
  applications/DEMApplication/tests/restart_files/ball_and_wallDEM_Clusters.mdpa
  applications/DEMApplication/tests/restart_files/ball_and_wallDEM_FEM_boundary.mdpa
  applications/DEMApplication/tests/restart_files/ball_and_wallDEM_Inlet.mdpa
  applications/DEMApplication/tests/restart_files/ball_and_wallProjectParametersDEM.json
  applications/DEMApplication/tests/test_restart.py
Labels: API Breaker, Feature

#5749 [Travis] disable trilinos
  scripts/build/travis/configure_travis_bionic.sh
Labels: Hotfix, Travis

#5751 [MeshingApp] Correcting the compilation in Windows
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_utilities/meshing_utilities.cpp
Labels: Compilation, FastPR

#5748 [Core] Using MSYS2 blas libraries to simplify installation
  cmake_build/example_configure_mingw.sh.do_not_touch
Labels: Cleanup, Compilation, FastPR, Kratos Core

#5712 [dem] Bugfixes with respect to DEM clusters
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/custom_elements/cluster3D.cpp
  applications/DEMApplication/custom_utilities/create_and_destroy.cpp
  applications/DEMApplication/python_scripts/cluster_file_reader.py
  applications/DEMApplication/python_scripts/sphere_strategy.py
Labels: Bugfix

#5755 [Core] Removing dependency on boost::timer
  kratos/utilities/cutting_utility.h
Labels: Cleanup, Deprecated, FastPR, Kratos Core

#5750 [MeshingApp] Removing space in initialize message
  applications/MeshingApplication/meshing_application.cpp
Labels: FastPR, Typo

#5761 Change iterator to signed int in omp parallel for
  applications/CompressiblePotentialFlowApplication/custom_processes/compute_embedded_lift_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/move_model_part_process.cpp
Labels: Compilation, Hotfix, Windows

#5765 [FEMDEM] Correcting and improving the Tangent Tensor Calculations
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.h
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
Labels: Applications, FastPR

#5371 Trilinos cleaning builder and solver
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
Labels: Cleanup, Parallel-MPI

#5770 [ContactStructuralMechanicsApplication] Adding new validation test (mesh-tying)
  applications/ContactStructuralMechanicsApplication/tests/ValidationTests.py
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test_materials.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, FastPR, Testing

#5732 [Core] Improve and clean condition number utility
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mortar_and_criteria.h
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  kratos/python/add_utilities_to_python.cpp
  kratos/python_scripts/eigen_solver_factory.py
  kratos/python_scripts/python_linear_solver_factory.py
  kratos/utilities/condition_number_utility.h
Labels: Applications, Enhancement, Kratos Core

#5772 [ContactStructuralMechanicsApplication] Hotfix script after re…
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
Labels: Applications, FastPR, Hotfix

#5774 [Structural] Adding maximum damage allowed
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
Labels: Applications, FastPR

#5776 [PotentialFlow][OMP] Casting to int to avoid warning in compilation
  applications/CompressiblePotentialFlowApplication/custom_processes/compute_embedded_lift_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/move_model_part_process.cpp
Labels: FastPR, Warning

#5773 [Mapping] python mapper wrappers
  applications/MappingApplication/python_scripts/empire_mapper_wrapper.py
  applications/MappingApplication/python_scripts/python_mapper.py
  applications/MappingApplication/python_scripts/python_mapper_factory.py
Labels: Applications, Enhancement

#5745 [Core] Adding python wheels scripts
  scripts/wheels/linux/README.md
  scripts/wheels/linux/__init__.py
  scripts/wheels/linux/build.sh
  scripts/wheels/linux/configure.sh
  scripts/wheels/linux/setup.py
  scripts/wheels/windows/README.md
  scripts/wheels/windows/__init__.py
  scripts/wheels/windows/build.ps1
  scripts/wheels/windows/configure.bat
  scripts/wheels/windows/setup.py
Labels: Compilation, Kratos Core, Packaging, Python

#5777 [MeshMoving] fixing copy-paste error
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
Labels: Applications, Hotfix

#5778 [MeshingApplication] Adding simpler metric scalar
  applications/MeshingApplication/custom_processes/metrics_error_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_python/kratos_meshing_python_application.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/meshing_application.cpp
  applications/MeshingApplication/meshing_application_variables.cpp
  applications/MeshingApplication/meshing_application_variables.h
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
Labels: Applications, Enhancement

#5763 [Core] ClearSolutionStepData in node destructor (and unique VariablesList in ConnectivityPreserveModeler)
  kratos/includes/model_part.h
  kratos/includes/node.h
  kratos/sources/connectivity_preserve_modeler.cpp
  kratos/sources/model_part.cpp
Labels: Bugfix, Kratos Core

#5607 [Trilinos] optionally disable solvers
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/custom_factories/trilinos_linear_solver_factory.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_linear_solvers_to_python.cpp
  applications/TrilinosApplication/python_scripts/trilinos_linear_solver_factory.py
Labels: Applications, Compilation, External library, Parallel-MPI

#5718 [Structural] copy-paste bugfix in ConvCrit
  applications/StructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_and_other_dof_criteria.h
Labels: Applications, Bugfix

#5787 [ContactStructuralMechanicsApplication] Adjust default tangent factor
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hertz_complete_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hertz_complete_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/mesh_moving_matching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_3D/friction_block_test_results.json
Labels: Applications, Enhancement, FastPR, Testing

#5768 [Shallow] Improving stabilization
  applications/ShallowWaterApplication/custom_elements/swe.cpp
  applications/ShallowWaterApplication/custom_elements/swe.h
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/python_scripts/shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
Labels: Applications, FastPR

#5794 cleaning app-cmakelists
  applications/CMakeLists.txt
Labels: Applications, Cleanup

#5769 [Travis] enable trilinos again
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/trilinos_extension/CMakeLists.txt
  applications/MeshMovingApplication/tests/test_MeshMovingApplication.py
  kratos/CMakeLists.txt
  scripts/build/travis/configure_travis_bionic.sh
Labels: Parallel-MPI, Travis

#5803 [Structural] fix linking
  applications/StructuralMechanicsApplication/CMakeLists.txt
Labels: Compilation, FastPR

#5804 [Fluid][TrilinosExtension] adding link against Trilinos
  applications/FluidDynamicsApplication/trilinos_extension/CMakeLists.txt
Labels: Compilation

#5791 [DEM]laws use directly the value provided by the mdpa in Pa
  applications/DEMApplication/custom_constitutive/DEM_Dempack_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_Dempack_dev_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_ExponentialHC_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_CamClay_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_Mohr_Coulomb_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_Rankine_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_sintering_continuum_CL.cpp
  applications/DEMApplication/custom_constitutive/dem_kdem_fissured_rock_cl.cpp
  applications/DEMApplication/python_scripts/DEM_material_test_script.py
  applications/DEMApplication/python_scripts/DEM_material_test_script_mpi.py
  applications/DEMApplication/python_scripts/dem_default_input_parameters.py
  applications/DEMApplication/test_examples/basic_benchmarks/DEM_benchmarks_analysis.py
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark20DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark21DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark22DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark23DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark24DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark25DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark27DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark40DEM.mdpa
  applications/DEMApplication/test_examples/basic_benchmarks/benchmark40DEM_Inlet.mdpa
Labels: Discussion

#5802 [Trilinos] improving readme
  applications/TrilinosApplication/README.md
Labels: Documentation, External library, Parallel-MPI

#5813 [MeshingApplication] Update CMakeLists.txt
  applications/MeshingApplication/CMakeLists.txt
Labels: Applications, FastPR

#5814 [StructuralMechanicsApplication] Replace Edges Faces with GenerateEdges and GenerateFaces
  applications/StructuralMechanicsApplication/custom_utilities/explicit_integration_utilities.cpp
Labels: Applications, FastPR

#5815 [Fluid] Fix steady cylinder adjoint test
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_materials.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_parameters.json
Labels: Hotfix, Testing

#5817 [Mapping] fixing vtk-params
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.cpp
Labels: Applications, Bugfix, FastPR

#5818 [Structural] using old settings throws now
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: Applications, Cleanup, Deprecated

#5820 [Core] Faces -> GenerateFaces in test_split_tetrahedra
  kratos/tests/cpp_tests/utilities/test_split_tetrahedra.cpp
Labels: FastPR, Kratos Core, Testing

#5822 [ContactStructuralMechanicsApplication] Fix elimination B&S solution
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
Labels: Applications, FastPR, Hotfix

#5823 [Cleanup] stabilized cfd application
  applications/CMakeLists.txt
  applications/StabilizedCFDApplication/CMakeLists.txt
  applications/StabilizedCFDApplication/StabilizedCFDApplication.py
  applications/StabilizedCFDApplication/custom_conditions/dss_face.cpp
  applications/StabilizedCFDApplication/custom_conditions/dss_face.h
  applications/StabilizedCFDApplication/custom_elements/dss.cpp
  applications/StabilizedCFDApplication/custom_elements/dss.h
  applications/StabilizedCFDApplication/custom_elements/dss_fic.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_fic.h
  applications/StabilizedCFDApplication/custom_elements/dss_fic_limited.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_fic_limited.h
  applications/StabilizedCFDApplication/custom_elements/dss_gls.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_gls.h
  applications/StabilizedCFDApplication/custom_elements/dss_notau2.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_notau2.h
  applications/StabilizedCFDApplication/custom_elements/dss_ps.cpp
  applications/StabilizedCFDApplication/custom_elements/dss_ps.h
  applications/StabilizedCFDApplication/custom_elements/dynss.cpp
  applications/StabilizedCFDApplication/custom_elements/dynss.h
  applications/StabilizedCFDApplication/custom_elements/dynss_notau2.cpp
  applications/StabilizedCFDApplication/custom_elements/dynss_notau2.h
  applications/StabilizedCFDApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/StabilizedCFDApplication/custom_python/add_custom_utilities_to_python.h
  applications/StabilizedCFDApplication/custom_python/stabilized_cfd_python_application.cpp
  applications/StabilizedCFDApplication/custom_utilities/turbulence_statistics_container.cpp
  applications/StabilizedCFDApplication/custom_utilities/turbulence_statistics_container.h
  applications/StabilizedCFDApplication/stabilized_cfd_application.cpp
  applications/StabilizedCFDApplication/stabilized_cfd_application.h
  applications/StabilizedCFDApplication/stabilized_cfd_application_variables.cpp
  applications/StabilizedCFDApplication/stabilized_cfd_application_variables.h
  applications/StabilizedCFDApplication/tests/generalTests.py
  applications/StabilizedCFDApplication/tests/test_StabilizedCFDApplication.py
Labels: Cleanup

#5826 [MeshingApplication] Copying MMG library (necessary when using the shared instead of static version)
  applications/MeshingApplication/CMakeLists.txt
Labels: Applications, Compilation, FastPR

#4144 [Core] Cleaning up and adding templates to some methods on GeometryUtilities
  kratos/tests/cpp_tests/utilities/test_geometry_utils.cpp
  kratos/utilities/geometry_utilities.h
Labels: After Release, Cleanup, Consensus, Enhancement, Kratos Core

#5834 [Core] Clean up CheckSkinProcess
  kratos/processes/check_skin_process.h
Labels: Cleanup, FastPR, Kratos Core

#5829 better output of the convergence check
  applications/FluidDynamicsApplication/custom_strategies/strategies/fs_strategy.h
Labels: FastPR

#5836 [ConvectionDiffusionApplication] Clean up includes (boost::timer included)
  applications/ConvectionDiffusionApplication/custom_utilities/bfecc_convection.h
Labels: Applications, FastPR, Warning

#5840 [Core] FindIntersectedGeometricalObjectsProcess. Replace Edges and Faces with GenerateEdges and GenerateFaces
  kratos/processes/find_intersected_geometrical_objects_process.cpp
Labels: Cleanup, FastPR, Kratos Core

#5838 [Convdiff] Cleanup test warnings
  applications/ConvectionDiffusionApplication/tests/adjoint_diffusion_test/ProjectParametersPrimal.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_materials.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_transient_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/test_apply_thermal_face_process.py
Labels: FastPR, Testing

#5841 [Core] Replace Faces->GenerateFaces in DivideTetrahedra3D4
  kratos/utilities/divide_tetrahedra_3d_4.cpp
Labels: FastPR, Kratos Core, Warning

#5844 [MeshingApplication] Clean up boost::timer include
  applications/MeshingApplication/custom_utilities/projection.h
Labels: Applications, Cleanup, FastPR

#5846 [Structural][Tests] minor cleaning
  applications/StructuralMechanicsApplication/tests/rve_test/smallest_rve_test_parameters.json
  applications/StructuralMechanicsApplication/tests/test_patch_test_membrane.py
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.py
Labels: Applications, Cleanup

#5695 [MeshMoving] add customizable poisson ratio for mesh motion analysis
  applications/MeshMovingApplication/custom_elements/structural_meshmoving_element.cpp
  applications/MeshMovingApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/MeshMovingApplication/custom_strategies/strategies/structural_meshmoving_strategy.h
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.cpp
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_structural_similarity.py
  kratos/includes/mesh_moving_variables.h
  kratos/python/add_mesh_moving_variables_to_python.cpp
  kratos/sources/mesh_moving_variables.cpp
Labels: Discussion

#5847 [MeshingApplication] TriGenPFEMModeler boost::timer removal
  applications/MeshingApplication/custom_utilities/cutting_iso_app.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine.h
Labels: Applications, Cleanup, FastPR, Warning

#5853 [StructuralMechanicsApplication] Clean up some CL tests
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_DP_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_DP_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_MC_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_MC_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_T_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_T_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_VM_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/BigCubeSmallDeformationPlasticity/bigcube_small_deformation_plasticity_VM_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/plasticity_j2_cube_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/plasticity_j2_cube_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_DP_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_DP_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_MC_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_MC_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_T_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_T_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_VM_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_VM_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SmallDeformationPlasticity/small_deformation_plasticity_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SmallDeformationPlasticity/small_deformation_plasticity_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/TensileTestStructural/TensileTestStructural_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/TensileTestStructural/TensileTestStructural_parameters.json
Labels: Applications, Cleanup, FastPR

#5852 [ShapeOpt] fix deprecated gid output and remove many warnings
  applications/ShapeOptimizationApplication/python_scripts/mesh_controller_with_solver.py
  applications/ShapeOptimizationApplication/tests/algorithm_bead_optimization_test/analysis_parameters.json
  applications/ShapeOptimizationApplication/tests/algorithm_trust_region_test/materials.json
  applications/ShapeOptimizationApplication/tests/opt_process_eigenfrequency_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_multiobjective_test/analysis_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_shell_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_vertex_morphing_test/tent.mdpa
  applications/ShapeOptimizationApplication/tests/opt_process_weighted_eigenfrequency_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_semi_analytic_step_size_verification.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_sensitivity_verification_in_design_space.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_sensitivity_verification_in_geometry_space.py
Labels: FastPR

#5855 [Core] Clean up add_containers_to_python
  kratos/python/add_containers_to_python.cpp
Labels: Cleanup, FastPR, Kratos Core

#5859 [ShapeOpt] replace leftover print with logger
  applications/ShapeOptimizationApplication/python_scripts/algorithm_trust_region.py
Labels: FastPR

#5858 [Core] warning for overriding properties only if something is actually overwritten
  kratos/utilities/read_materials_utility.cpp
Labels: Kratos Core

#5862 Fixing triangle.c to allow windows 64
  external_libraries/triangle/triangle.c
Labels: Bugfix, External library, Windows

#5865 [External] Compilation fix in triangle.c without cotire
  external_libraries/triangle/triangle.c
Labels: External library, FastPR, Hotfix

#5866 [EigenSolverApplication] Missing typenames after refactoring
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
  applications/EigenSolversApplication/custom_solvers/eigen_direct_solver.h
Labels: Applications, External library, Hotfix

#5603 [Core] tesselation curve
  kratos/tests/cpp_tests/utilities/test_nurbs_curve_tessellation.cpp
  kratos/utilities/nurbs_curve_tessellation.h
Labels: CAD Integration, Kratos Core

#5870 Add "if defined USE_EIGEN_MKL" to protect if mkl not installed
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
Labels: Bug, Bugfix, Hotfix

#5837 [CoSim] Add sdof solver
  applications/CoSimulationApplication/CMakeLists.txt
  applications/CoSimulationApplication/co_simulation_application.cpp
  applications/CoSimulationApplication/co_simulation_application_variables.cpp
  applications/CoSimulationApplication/co_simulation_application_variables.h
  applications/CoSimulationApplication/custom_python/co_simulation_python_application.cpp
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_single_to_distributed.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/sum_distributed_to_single.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver_wrapper.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/fsi_sdof/ProjectParametersCFD.json
  applications/CoSimulationApplication/tests/fsi_sdof/ProjectParametersSdof.json
  applications/CoSimulationApplication/tests/fsi_sdof/cosim_sdof_fsi_parameters.json
  applications/CoSimulationApplication/tests/fsi_sdof/fsi_sdof_cfd_results_disp_ref.dat
  applications/CoSimulationApplication/tests/fsi_sdof/rectangle_sdof_fluid.mdpa
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_force_excitation.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_impulse.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_initial_displacement.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_initial_velocity.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement_external_force.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement_impulse.dat
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
  applications/CoSimulationApplication/tests/test_sdof_solver.py
Labels: Feature

#5869 [FEMDEM] Improving the blast load extrapolation
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/MainKratos.py
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/MainKratos.py
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_processes/apply_component_table_process.hpp
  applications/FemToDemApplication/custom_processes/apply_double_table_process.hpp
  applications/FemToDemApplication/custom_processes/assign_pressure_id_process.cpp
  applications/FemToDemApplication/custom_processes/compute_initial_volume_process.cpp
  applications/FemToDemApplication/custom_processes/compute_initial_volume_process.h
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.h
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.h
  applications/FemToDemApplication/custom_processes/generate_initial_skin_DEM_process.cpp
  applications/FemToDemApplication/custom_processes/generate_initial_skin_DEM_process.h
  applications/FemToDemApplication/custom_processes/update_pressure_volume_process.cpp
  applications/FemToDemApplication/custom_processes/update_pressure_volume_process.h
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  kratos/python/add_utilities_to_python.cpp
Labels: Applications

#5872 [Structural] CMake warning, bug in advanced CL cpp tests detection.
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
Labels: Applications, Bug

#5877 [CoSim] Add self weight calculation
  applications/CoSimulationApplication/co_simulation_application.cpp
  applications/CoSimulationApplication/co_simulation_application_variables.cpp
  applications/CoSimulationApplication/co_simulation_application_variables.h
  applications/CoSimulationApplication/custom_python/co_simulation_python_application.cpp
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver_wrapper.py
  applications/CoSimulationApplication/tests/test_sdof_solver.py
Labels: Enhancement, FastPR

#5831 Meshmoving super imposing on existing motion
  applications/MeshMovingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshMovingApplication/custom_strategies/strategies/laplacian_meshmoving_strategy.h
  applications/MeshMovingApplication/custom_strategies/strategies/structural_meshmoving_strategy.h
  applications/MeshMovingApplication/custom_utilities/mesh_velocity_calculation.cpp
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.h
  applications/MeshMovingApplication/python_scripts/ale_fluid_solver.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_laplacian_meshmoving_strategy.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_structural_meshmoving_strategy.h
Labels: Applications, Discussion, Help Wanted, Proposal

#5878 [Structural] Fix test - initialize values in CL test
  applications/StructuralMechanicsApplication/tests/test_constitutive_law.py
Labels: Bug

#5400 [Core] BrepSurface and BrepCurveOnSurface
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/brep_surface.h
  kratos/geometries/nurbs_shape_function_utilities/nurbs_interval.h
  kratos/tests/cpp_tests/geometries/test_brep_curve_on_surface.cpp
  kratos/tests/cpp_tests/geometries/test_brep_surface.cpp
Labels: CAD Integration, Kratos Core

#5582 [Core][Proposal] Adding pSetGeometry to GeometricalObject
  kratos/includes/geometrical_object.h
  kratos/tests/cpp_tests/geometries/test_coupling_geometry.cpp
Labels: Discussion, Kratos Core
