Repository KratosMultiphysics/Kratos, pull requests merged in 2019-12, with the labels that each got.

#6022 [EigenSolversApplication] Update README.md
  applications/EigenSolversApplication/README.md
Labels: Applications, FastPR

#6018 [dem] Fixing tests_examples 20 to 25 (json file outdated)
  applications/DEMApplication/python_scripts/dem_default_input_parameters.py
  applications/DEMApplication/test_examples/basic_benchmarks/ProjectParametersDEMCONT.json
  applications/DEMApplication/test_examples/basic_benchmarks/ProjectParametersUCS.json
Labels: Bugfix

#6030 [dem] Disabling copy of useless files when installing after compilation
  applications/DEMApplication/CMakeLists.txt
Labels: Compilation, FastPR

#5990 [Structural] correcting error messages in analysis
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
Labels: Applications, FastPR

#6037 [RANS] Fixing CMakeLists.txt
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/trilinos_extension/CMakeLists.txt
  applications/RANSApplication/CMakeLists.txt
  applications/RANSApplication/trilinos_extension/CMakeLists.txt
Labels: Compilation

#6036 [Fluid] Fixing CMakeLists.txt in Fluid
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/trilinos_extension/CMakeLists.txt
Labels: Compilation

#6027 [Core] Bound iterations in SVD decomposition
  kratos/utilities/svd_utils.h
Labels: Enhancement, FastPR, Hotfix, Kratos Core

#6039 [Core][Strategies] using global num constraints to skip Apply for constraints
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: C++, Kratos Core, Parallel-MPI, Refactor

#6041 [FreeSurface] Adding tests
  applications/FreeSurfaceApplication/python_scripts/edgebased_levelset_solver.py
  applications/FreeSurfaceApplication/python_scripts/free_surface_solver.py
  applications/FreeSurfaceApplication/tests/Reservoir2D/Reservoir2D.mdpa
  applications/FreeSurfaceApplication/tests/Reservoir2D/reference_reservoir_2D.csv
  applications/FreeSurfaceApplication/tests/Reservoir3D/Reservoir3D.mdpa
  applications/FreeSurfaceApplication/tests/Reservoir3D/reference_reservoir_3D.csv
  applications/FreeSurfaceApplication/tests/generalTests.py
  applications/FreeSurfaceApplication/tests/test_FreeSurfaceApplication.py
Labels: Testing

#5994 [ShallowWater] Removing old elements
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.hpp
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
Labels: Cleanup

#6029 [Core][AnalysisStage] change print location
  kratos/python_scripts/analysis_stage.py
Labels: FastPR, Kratos Core, Python, Refactor

#5520 [Iga] Penalty Coupling Condition
  applications/IgaApplication/CMakeLists.txt
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.cpp
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.h
  applications/IgaApplication/custom_python/iga_python_application.cpp
  applications/IgaApplication/custom_utilities/iga_flags.cpp
  applications/IgaApplication/custom_utilities/iga_flags.h
  applications/IgaApplication/iga_application.cpp
  applications/IgaApplication/iga_application.h
  applications/IgaApplication/iga_application_variables.cpp
  applications/IgaApplication/iga_application_variables.h
Labels: CAD Integration

#6034 [Core][MPI] removing adding to __path__
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication_mpi.py
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication_mpi.py
  applications/TrilinosApplication/tests/test_TrilinosApplication_mpi.py
  applications/TrilinosApplication/tests/test_kratos_mpi_interface.py
  applications/TrilinosApplication/tests/test_mpi_communicator.py
  applications/TrilinosApplication/tests/test_trilinos_linear_solvers.py
  kratos/mpi/python_scripts/legacy_mpi_python_interface.py
  kratos/mpi/python_scripts/mpi_module_init.py
Labels: Kratos Core, Parallel-MPI, Python

#6004 [Fluid] RANS Adjoint Intrusions
  applications/FluidDynamicsApplication/custom_elements/vms_adjoint_element.cpp
  applications/FluidDynamicsApplication/custom_elements/vms_adjoint_element.h
  applications/FluidDynamicsApplication/custom_response_functions/drag_response_function.h
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_turbulence_model_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_vmsmonolithic_solver.py
Labels: C++, Enhancement, Python

#6012 [Core] Removing legacy from .gitignore
  .gitignore
Labels: Cleanup, FastPR, Kratos Core, Legacy

#6045 [Structural] fixed poisson ratio
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/linear_elastic_orthotropic_2D_law.cpp
Labels: Bugfix

#6060 [dem] Polyhedron Skin spheric particle
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application.h
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_elements/polyhedron_skin_spheric_particle.cpp
  applications/DEMApplication/custom_elements/polyhedron_skin_spheric_particle.h
  applications/DEMApplication/custom_python/add_custom_processes_to_python.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
Labels: Feature

#5927 [Core] Clean up base LinearSolver
  kratos/linear_solvers/linear_solver.h
Labels: Cleanup, FastPR, Kratos Core

#6044 [Structural] add projection utility
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_utilities/project_vector_on_surface_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/project_vector_on_surface_utility.h
  applications/StructuralMechanicsApplication/python_scripts/project_vector_on_surface_process.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_axis_projection.py
Labels: Applications, Feature

#6066 [StructuralMechanicsApplication] Hotfix after #6044
  applications/StructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/StructuralMechanicsApplication/custom_utilities/project_vector_on_surface_utility.cpp
Labels: Applications, FastPR, Hotfix

#6070 [Structural] Fix Cmakelists warning - endif not maching if
  applications/StructuralMechanicsApplication/CMakeLists.txt
Labels: Warning

#6065 [Core] Adding FullName method to ModelPart
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
Labels: Enhancement, Kratos Core

#6069 Shortening internal paths
  cmake_modules/KratosDependencies.cmake
Labels: FastPR, Hotfix

#6074 [MLMC] Move pycompss empty library into python scripts
  applications/MultilevelMonteCarloApplication/CMakeLists.txt
  applications/MultilevelMonteCarloApplication/README.md
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExaquteExamples.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExaquteExecutionConstraints.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExaquteParameter.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExaquteTask.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExaquteTaskLocal.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExaquteTaskPyCOMPSs.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExecutionCharacteristics.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/ExecutionConstraints.py
  applications/MultilevelMonteCarloApplication/python_scripts/exaqute/__init__.py
  applications/MultilevelMonteCarloApplication/python_scripts/mc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/mlmc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/statistical_variable_utilities.py
Labels: Applications, External library, FastPR

#6064 [MeshMoving] fix param name
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_base.py
  applications/MeshMovingApplication/tests/test_example/ProjectParameters.json
  applications/ShapeOptimizationApplication/python_scripts/mesh_controller_with_solver.py
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/optimization_parameters.json
Labels: Applications, Cleanup, Inconsistent

#5700 [Core] - prefix warning level output
  kratos/input_output/logger_output.cpp
  kratos/input_output/logger_output.h
  kratos/python/add_logger_to_python.cpp
  kratos/tests/cpp_tests/input_output/test_logger.cpp
Labels: Enhancement, Kratos Core, Logging

#5980 [Core] Remove warning for uninitialized matrix in test_math_utils
  kratos/tests/cpp_tests/utilities/test_math_utils.cpp
Labels: FastPR, Kratos Core, Testing, Warning

#6085 [Shallow][Problemtype] missing entities in conditions
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.cnd
Labels: Bugfix, FastPR

#6038 [Core][CMakeLists] clean broken mangling
  CMakeLists.txt
Labels: Cleanup, Compilation, Kratos Core

#6086 [CI] attempting to exclude non-CI apps
  .github/workflows/ci.yml
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
Labels: Continuous Integration

#6089 [HDF5] Adding possibility to visualize conditions only hdf5 outputs
  applications/HDF5Application/python_scripts/xdmf_utils.py
  applications/HDF5Application/tests/test_hdf5_xdmf.py
Labels: Python

#5996 [ShapeOpt]vrml wrl IO - only import
  applications/ShapeOptimizationApplication/python_scripts/custom_ios/__init__.py
  applications/ShapeOptimizationApplication/python_scripts/custom_ios/wrl_io.py
  applications/ShapeOptimizationApplication/python_scripts/custom_ios/wrl_reader.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
  applications/ShapeOptimizationApplication/tests/wrl_io_test/__init__.py
  applications/ShapeOptimizationApplication/tests/wrl_io_test/joined.wrl
  applications/ShapeOptimizationApplication/tests/wrl_io_test/split.wrl
  applications/ShapeOptimizationApplication/tests/wrl_io_test/test_wrl_io.py
Labels: Feature, IO

#5906 [Core] AssembleSparseMatrixByBlocks added to SparseMatrixMultiplicationUtility
  applications/ContactStructuralMechanicsApplication/custom_linear_solvers/mixedulm_linear_solver.h
  kratos/tests/cpp_tests/utilities/test_sparse_matrix_mutiplication_utilities.cpp
  kratos/utilities/sparse_matrix_multiplication_utility.h
Labels: Applications, Enhancement, Kratos Core

#6100 [ContactStructualMechanicsApplication] Adding new GIF to README.md
  applications/ContactStructuralMechanicsApplication/README.md
Labels: Applications, Documentation, FastPR

#6093 [ShapeOpt] Feature MinMax or MaxMin optimization
  applications/ShapeOptimizationApplication/python_scripts/analyzer_factory.py
  applications/ShapeOptimizationApplication/python_scripts/communicator_factory.py
  applications/ShapeOptimizationApplication/python_scripts/optimizer_factory.py
  applications/ShapeOptimizationApplication/tests/opt_process_min_max/material.json
  applications/ShapeOptimizationApplication/tests/opt_process_min_max/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_min_max/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_min_max/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_min_max/structure.mdpa
Labels: Feature

#6091 CI testing
  .github/workflows/ci.yml
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
Labels: Continuous Integration, Testing

#6092 [sdem] TestType parameter removed from all json files
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/ProjectParameters.json
  applications/SwimmingDEMApplication/tests/candelier_tests/ProjectParametersNoHistoryNonInertial.json
  applications/SwimmingDEMApplication/tests/candelier_tests/ProjectParametersNoHistoryWithLift.json
  applications/SwimmingDEMApplication/tests/candelier_tests/ProjectParametersWithHistory.json
  applications/SwimmingDEMApplication/tests/candelier_tests/ProjectParametersWithHistoryHinsberg.json
  applications/SwimmingDEMApplication/tests/candelier_tests/ProjectParametersWithHistoryNonInertial.json
  applications/SwimmingDEMApplication/tests/interpolation_tests/ProjectParametersCubeLinear.json
  applications/SwimmingDEMApplication/tests/interpolation_tests/ProjectParametersCubeNonlinearTimeNoSubstepping.json
Labels: Bugfix, Testing

#6102 [core] List of apps to be compiled are printed on screen
  CMakeLists.txt
  cmake_modules/KratosDependencies.cmake
Labels: FastPR

#6076 [Core] adding Clear to AnalysisStage
  kratos/python_scripts/analysis_stage.py
Labels: Enhancement, Kratos Core, Python

#6063 [Structural][Shells] adding rotational contributions
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
Labels: Applications, Incomplete

#6078 [Core] Adding time averaging process
  kratos/CMakeLists.txt
  kratos/processes/time_averaging_process.cpp
  kratos/processes/time_averaging_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/python_scripts/process_factory.py
  kratos/tests/test_KratosCore.py
  kratos/tests/test_time_averaging.py
Labels: C++, Kratos Core, Python

#6042 [RANS] RANSApplication Cleanup
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_check_vector_bounds_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_epsilon_turbulent_mixing_inlet_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_epsilon_turbulent_mixing_inlet_process.h
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_k_turbulent_intensity_inlet_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_nut_k_epsilon_high_re_calculation_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_nut_k_epsilon_high_re_calculation_process.h
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_nut_low_re_calculation_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_nut_low_re_calculation_process.h
  applications/RANSApplication/custom_processes/solving_strategies/k_epsilon_co_solving_process.h
  applications/RANSApplication/custom_processes/solving_strategies/scalar_co_solving_process.h
  applications/RANSApplication/custom_python/add_custom_auxiliary_processes_to_python.cpp
  applications/RANSApplication/custom_strategies/generic_convergence_criteria.cpp
  applications/RANSApplication/custom_strategies/residual_based_bossak_velocity_scheme.h
  applications/RANSApplication/custom_utilities/rans_variable_utilities.cpp
  applications/RANSApplication/tests/OneElement/one_element_steady_parameters.json
  applications/RANSApplication/trilinos_extension/custom_strategies/generic_convergence_criteria.cpp
Labels: Applications, C++, Python

#6071 [Core] Create with properties in constitutive law
  kratos/includes/constitutive_law.h
  kratos/python/add_constitutive_law_to_python.cpp
  kratos/sources/constitutive_law.cpp
  kratos/utilities/read_materials_utility.cpp
Labels: Enhancement, Kratos Core

#6001 [Core][MPI] ParallelFillComm - adding checks that make debugging easier
  kratos/mpi/utilities/parallel_fill_communicator.cpp
Labels: Debug, Enhancement, Parallel-MPI

#6051 [Fluid] Fix embedded drag calculation
  applications/FluidDynamicsApplication/python_scripts/compute_drag_process.py
  applications/FluidDynamicsApplication/python_scripts/compute_embedded_drag_process.py
Labels: Applications, FastPR, Hotfix

#6108 [FluidDynamics] skip failing test in python 2.7
  applications/FluidDynamicsApplication/tests/fluid_analysis_test.py
Labels: Python, Testing

#6082 [Core] Adding string variable option to labels in VtkOutput
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
  kratos/python/add_io_to_python.cpp
Labels: C++, Kratos Core

#6122 [Fluid] Minor fix in drag calculation
  applications/FluidDynamicsApplication/python_scripts/compute_drag_process.py
Labels: Bugfix, FastPR

#6058 [MLMC] Power sums computation
  applications/MultilevelMonteCarloApplication/CMakeLists.txt
  applications/MultilevelMonteCarloApplication/MultilevelMonteCarloApplication.py
  applications/MultilevelMonteCarloApplication/custom_python/add_custom_statistics_to_python.cpp
  applications/MultilevelMonteCarloApplication/custom_python/add_custom_statistics_to_python.h
  applications/MultilevelMonteCarloApplication/custom_python/multilevel_monte_carlo_python_application.cpp
  applications/MultilevelMonteCarloApplication/custom_statistics/power_sums_statistics.cpp
  applications/MultilevelMonteCarloApplication/custom_statistics/power_sums_statistics.h
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application.cpp
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application_variables.cpp
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application_variables.h
  applications/MultilevelMonteCarloApplication/tests/cpp_tests/test_power_sums_calculation.cpp
  applications/MultilevelMonteCarloApplication/tests/run_cpp_unit_tests.py
Labels: Applications, C++, Compilation, Testing

#5897 [Core] extend mpc python interface
  kratos/python/add_constraint_to_python.cpp
  kratos/python/add_node_to_python.cpp
Labels: Kratos Core, Python

#6128 [Fluid] Remove fluid materials and flat map warnings
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test.mdpa
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test.mdpa
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/ArtificialCompressibilityTest/ArtificialCompressibilityTestParameters.json
  applications/FluidDynamicsApplication/tests/ArtificialCompressibilityTest/cavity_compressibility.mdpa
  applications/FluidDynamicsApplication/tests/BuoyancyTest/cavity10.mdpa
  applications/FluidDynamicsApplication/tests/BuoyancyTest/cavity80.mdpa
  applications/FluidDynamicsApplication/tests/Cavity/output_test_parameters.json
  applications/FluidDynamicsApplication/tests/Cavity/square10.mdpa
  applications/FluidDynamicsApplication/tests/Cavity/square5.mdpa
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_2d.mdpa
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/couette_2D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/couette_3D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedCouetteImposed2DTest/couette_imposed_2D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedCouetteImposed3DTest/couette_imposed_3D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/EmbeddedPiston2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/embedded_piston_2d_test.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/reference_embedded_piston_2D.csv
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirDiscontinuousTest/embedded_reservoir_discontinuous_3D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirTest/reservoir_2D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirTest/reservoir_3D.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedVelocityInletEmulationTest/embedded_velocity_inlet_emulation_test.mdpa
  applications/FluidDynamicsApplication/tests/FluidElementTest/cavity10.mdpa
  applications/FluidDynamicsApplication/tests/ManufacturedSolutionTest/manufactured_solution_ref0.mdpa
  applications/FluidDynamicsApplication/tests/ManufacturedSolutionTest/manufactured_solution_ref1.mdpa
  applications/FluidDynamicsApplication/tests/ManufacturedSolutionTest/manufactured_solution_ref2.mdpa
  applications/FluidDynamicsApplication/tests/ManufacturedSolutionTest/manufactured_solution_ref3.mdpa
  applications/FluidDynamicsApplication/tests/ManufacturedSolutionTest/manufactured_solution_ref4.mdpa
  applications/FluidDynamicsApplication/tests/NavierStokesWallConditionTest/test_wall_condition.mdpa
  applications/FluidDynamicsApplication/tests/TwoFluidInletTest/materials.json
  applications/FluidDynamicsApplication/tests/TwoFluidInletTest/parameters_mpi.json
  applications/FluidDynamicsApplication/tests/TwoFluidInletTest/parameters_serial.json
  applications/FluidDynamicsApplication/tests/TwoFluidInletTest/test_inlet.mdpa
  applications/FluidDynamicsApplication/tests/TwoFluidMassConservationProcTest/2Dtest.json
  applications/FluidDynamicsApplication/tests/TwoFluidMassConservationProcTest/2Dtest.mdpa
  applications/FluidDynamicsApplication/tests/TwoFluidMassConservationProcTest/3Dtest.json
  applications/FluidDynamicsApplication/tests/TwoFluidMassConservationProcTest/3Dtest.mdpa
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest2D.json
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest2D.mdpa
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest2DMaterials (copy).json
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest3D.json
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest3D.mdpa
  applications/FluidDynamicsApplication/tests/fluid_element_test.py
Labels: Applications, Deprecated, Warning

#6131 [MPI] using non-deprecated version of SumAll
  kratos/mpi/utilities/parallel_fill_communicator.cpp
Labels: Deprecated, FastPR, Parallel-MPI

#6117 [MPI] added hint to issue
  kratos/mpi/python_scripts/mpi_module_init.py
Labels: Documentation, FastPR, Parallel-MPI

#6135 disabling install messages by default
  CMakeLists.txt
Labels: Cleanup, Compilation

#6088 [DEM] Unified error criteria for the benchmarking system
  applications/DEMApplication/python_scripts/DEM_benchmarks_class.py
Labels: Benchmarking

#6119 [FluidDynamicsApp] Refactoring for wall condition
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_solver.py
  applications/FluidDynamicsApplication/custom_conditions/fs_generalized_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/fs_werner_wengle_wall_condition.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/python_scripts/apply_slip_process.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
Labels: C++, Python

#6134 [Core] separate mem info into header/source
  kratos/CMakeLists.txt
  kratos/includes/memory_info.h
  kratos/sources/memory_info.cpp
Labels: Cleanup, Kratos Core, Windows

#6121 [CI] running nightly tests in nightly build
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CompressiblePotentialFlowApplication/custom_processes/define_2d_wake_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/define_2d_wake_process.h
  applications/CompressiblePotentialFlowApplication/custom_utilities/potential_flow_utilities.cpp
  applications/CompressiblePotentialFlowApplication/custom_utilities/potential_flow_utilities.h
  applications/MappingApplication/custom_utilities/interface_vector_container_mpi.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities_mpi.cpp
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Continuous Integration

#6137 [FSI] Python solvers hotfixes
  applications/FSIApplication/python_scripts/partitioned_embedded_fsi_base_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_base_solver.py
Labels: Applications, FastPR, Hotfix

#6024 [Core][Model] changing to error when retrieving from flat map
  applications/FSIApplication/tests/FSIProblemEmulatorTest/materials_2D.json
  applications/FSIApplication/tests/FSI_problem_emulator_test.py
  applications/StructuralMechanicsApplication/tests/beam_test/nonlinear_2D2NBeamCr_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SmallDeformationPlasticity/small_deformation_plasticity_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/TensileTestStructural/TensileTestStructural_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/TensileTestStructural/TensileTestStructural_parameters.json
  applications/StructuralMechanicsApplication/tests/explicit_tests/explicit_solid_beam_test_materials.json
  applications/StructuralMechanicsApplication/tests/explicit_tests/explicit_solid_beam_test_parameters.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_Cable_test_parameters.json
  applications/StructuralMechanicsApplication/tests/harmonic_analysis_test/harmonic_analysis_test_eigenproblem_parameters.json
  applications/StructuralMechanicsApplication/tests/harmonic_analysis_test/harmonic_analysis_test_materials.json
  applications/StructuralMechanicsApplication/tests/harmonic_analysis_test/harmonic_analysis_test_parameters.json
  applications/StructuralMechanicsApplication/tests/pendulus_test/pendulus_TL_test_parameters.json
  applications/StructuralMechanicsApplication/tests/pendulus_test/pendulus_UL_test_parameters.json
  applications/StructuralMechanicsApplication/tests/pendulus_test/pendulus_material.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_scordelis_lo_roof_parameters.json
  applications/StructuralMechanicsApplication/tests/sprism_test/pan_test_parameters.json
  applications/StructuralMechanicsApplication/tests/sprism_test/patch_test_material.json
  kratos/containers/model.cpp
  kratos/sources/model_part.cpp
  kratos/tests/cpp_tests/processes/test_find_intersected_geometrical_objects_process.cpp
  kratos/tests/test_model.py
Labels: After Release, Deprecated, Kratos Core

#6138 [Core][Typo] Replacing Assing for Assign in ReadMaterialsUtility
  kratos/utilities/read_materials_utility.cpp
  kratos/utilities/read_materials_utility.h
Labels: FastPR, Kratos Core, Typo

#4509 [StructuralMechanicsApplication] Adding custom interval time step
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/mesh_moving_test/simple_mesh_moving_test_parameters.json
Labels: Applications, Consensus, Discussion, Enhancement

#6143 [ContactStructuralMechanicsApplication] Moving several tests to nighty
  applications/ContactStructuralMechanicsApplication/tests/NightlyTests.py
  applications/ContactStructuralMechanicsApplication/tests/SmallTests.py
  applications/ContactStructuralMechanicsApplication/tests/ValidationTests.py
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, FastPR, Testing

#6144 [ContactStructuralMechanicsApplication] Making time step table compatible
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hertz_complete_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/taylor_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_3D/friction_block_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/self_contact_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_hexa_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_hexa_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_test_parameters.json
Labels: Applications, FastPR

#6149 [MeshingApplication] Update flat-map access to model in tests
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/materials_2D.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/materials_3D.json
Labels: Applications, Deprecated, FastPR, Testing

#6150 [MeshingApplication] Using FullName instead of Name in the mmg_utilities
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
Labels: Applications, FastPR

#6154 [Fluid] Changing to current model part names
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/adjoint_vms_sensitivity_2d.py
Labels: Python, Testing

#6159 [HDF5] Cotire compilation
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  applications/HDF5Application/custom_io/hdf5_element_data_value_io.cpp
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_bossak_io.cpp
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_data_io.cpp
Labels: C++

#6157 [Core] Adding GitHub CI workflow badge
  README.md
Labels: Action, FastPR, Kratos Core

#6161 [Core][Geometry] Add missing member assignment mpNurbsCurve(pCurve)
  kratos/geometries/brep_curve_on_surface.h
Labels: Bugfix, FastPR

#6142 [Mapping] using fcts instead of fct-ptrs for exposure
  applications/MappingApplication/custom_python/add_custom_mappers_to_python.cpp
  applications/MappingApplication/custom_searching/interface_communicator.cpp
Labels: Applications, Compilation, Error, Python
