Repository KratosMultiphysics/Kratos, pull requests merged in 2019-11, with the labels that each got.

#5875 [EigenSolverApplication] Compilation warnings removal
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
  applications/EigenSolversApplication/custom_solvers/eigensystem_solver.h
Labels: Applications, External library, FastPR

#5884 [MeshingApplication] Removing another boost::timer dependency
  applications/MeshingApplication/external_includes/trigen_pfem_refine_vms.h
Labels: Cleanup, Deprecated, FastPR, Warning

#5880 [Core] Small clean up of constitutive_law.cpp
  kratos/sources/constitutive_law.cpp
Labels: Cleanup, FastPR, Kratos Core

#5783 [Core][Geometry] New IsInsideLocalSpace function
  kratos/geometries/geometry.h
Labels: CAD Integration, FastPR, Kratos Core

#5883 [DEM]2D Z strain option
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_elements/cylinder_continuum_particle.cpp
  applications/DEMApplication/custom_elements/cylinder_continuum_particle.h
  applications/DEMApplication/custom_elements/cylinder_particle.cpp
  applications/DEMApplication/custom_elements/cylinder_particle.h
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
Labels: API Breaker

#5477 [Core][Geometry] Projection nurbs geometry
  kratos/geometries/nurbs_curve_geometry.h
  kratos/tests/cpp_tests/geometries/test_projection_nurbs_geometry.cpp
  kratos/utilities/nurbs_utilities/projection_nurbs_geometry_utilities.h
Labels: CAD Integration, Kratos Core

#5860 [KratosCore] Feature/submodelpart skin
  kratos/CMakeLists.txt
  kratos/processes/skin_detection_process.cpp
  kratos/processes/skin_detection_process.h
  kratos/processes/sub_model_part_skin_detection_process.cpp
  kratos/processes/sub_model_part_skin_detection_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/python_scripts/sub_model_part_skin_detection_process.py
  kratos/tests/auxiliar_files_for_python_unnitest/mdpa_files/coarse_sphere.mdpa
  kratos/tests/test_skin_detection_process.py
Labels: Feature

#5886 [MeshingApplication] More boost::timer removal
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
  applications/MeshingApplication/external_includes/trigen_glass_forming.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_segment.h
Labels: Applications, Cleanup, FastPR

#5360 [FreeSurface] Fix FreeSurfaceApplication and clean-up
  applications/FreeSurfaceApplication/FreeSurfaceApplication.py
  applications/FreeSurfaceApplication/custom_python/add_custom_io_to_python.cpp
  applications/FreeSurfaceApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FreeSurfaceApplication/custom_python/add_custom_utilities_to_python.h
  applications/FreeSurfaceApplication/custom_utilities/edge_data.h
  applications/FreeSurfaceApplication/custom_utilities/edgebased_gid_io.h
  applications/FreeSurfaceApplication/custom_utilities/edgebased_levelset.h
  applications/FreeSurfaceApplication/free_surface_application.h
  applications/FreeSurfaceApplication/python_scripts/edgebased_levelset_solver.py
Labels: Cleanup, Deprecated, Error

#5888 [MappingApplication] Expose to master non historical flags
  applications/MappingApplication/custom_python/add_custom_mappers_to_python.cpp
Labels: Applications, FastPR

#5898 [MeshingApplication][MMG] Fixing test remesh sphere failure in debug compilation.
  applications/MeshingApplication/tests/test_remesh_sphere.py
Labels: Hotfix, Python, Testing

#5899 [CSharpWrapperApplication] Small bugfix
  applications/CSharpWrapperApplication/custom_sources/model_part_wrapper.cpp
Labels: FastPR

#5902 [Core] Migrating element_size_calculator to KratosCore
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_two_fluid_2d_law.cpp
  applications/FluidDynamicsApplication/custom_constitutive/newtonian_two_fluid_3d_law.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/fic.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_utilities/qsvms_data.h
  applications/FluidDynamicsApplication/custom_utilities/symbolic_navier_stokes_data.h
  applications/FluidDynamicsApplication/custom_utilities/two_fluid_navier_stokes_data.h
  applications/FluidTransportApplication/custom_elements/steady_convection_diffusion_FIC_element.hpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_FIC_element.hpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_FIC_explicit_element.hpp
  kratos/CMakeLists.txt
  kratos/utilities/element_size_calculator.cpp
  kratos/utilities/element_size_calculator.h
Labels: Applications, FastPR, Kratos Core, Usability

#5904 [Core] Missing breakpoint in check macro definition
  kratos/includes/checks.h
Labels: FastPR, Hotfix, Kratos Core

#5867 [Core] Clean up kratos_application
  kratos/includes/kratos_application.h
Labels: Cleanup, FastPR, Kratos Core

#5879 [CoSim] several minor improvements
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_single_to_distributed.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/sum_distributed_to_single.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/empire_io.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver_wrapper.py
  applications/CoSimulationApplication/tests/test_coupling_interface_data.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
  applications/CoSimulationApplication/tests/test_sdof_solver.py
Labels: Applications, Enhancement

#5824 [TemplateApp] removing include
  kratos/templates/template_application/template_application_variables.h.in
Labels: FastPR

#5893 [ShapeOpt] Adding stopping criteria in trust region algorith by relative tolerance
  applications/ShapeOptimizationApplication/python_scripts/algorithm_penalized_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithm_steepest_descent.py
  applications/ShapeOptimizationApplication/python_scripts/algorithm_trust_region.py
Labels: Proposal

#5908 [ContactStructuralMechanicsApplication] Some minor updates
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_mortar_utilities.py
Labels: Applications, FastPR, Kratos Core

#5907 [Core] Update B&S tests
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: FastPR, Kratos Core, Testing

#5653 [core] GidIO change to avoid memory problems when having multiple instances (due to different template arguments)
  kratos/CMakeLists.txt
  kratos/includes/gid_io.h
  kratos/sources/gid_io.cpp
Labels: Bugfix, IO

#5909 [Core] Removing legacy variable key assignment
  kratos/includes/kratos_application.h
Labels: Cleanup, FastPR, Kratos Core

#5920 [DEM] Remove functions disturbing results
  applications/DEMApplication/custom_strategies/strategies/velocity_verlet_solver_strategy.h
Labels: Bugfix

#5913 [FluidDynamics] Minor change in fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
Labels: FastPR, Hotfix

#5711 [core] Printing the ModelPart variables (ModelPartData) when a ModelPart is printed
  kratos/sources/model_part.cpp
  kratos/tests/test_object_printing.py
Labels: Bugfix

#5561 Core/feature report skipped tests
  kratos/testing/test_case.cpp
  kratos/testing/test_case_result.cpp
  kratos/testing/test_case_result.h
  kratos/testing/test_skipped_exception.cpp
  kratos/testing/test_skipped_exception.h
  kratos/testing/tester.cpp
  kratos/testing/tester.h
  kratos/testing/testing.h
Labels: C++, Feature, Testing

#5922 [Core] Changing name on KRATOS_ENV64BIT and KRATOS_ENV32BIT
  kratos/includes/define.h
  kratos/includes/dof.h
Labels: FastPR, Kratos Core

#2919 [Core] Adding Subproperties
  kratos/includes/model_part.h
  kratos/includes/properties.h
  kratos/python/add_model_part_to_python.cpp
  kratos/python/add_properties_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/auxiliar_files_for_python_unnitest/materials_files/material_without_tables_and_variables.json
  kratos/tests/auxiliar_files_for_python_unnitest/materials_files/materials.json
  kratos/tests/auxiliar_files_for_python_unnitest/materials_files/materials_with_subproperties.json
  kratos/tests/auxiliar_files_for_python_unnitest/materials_files/materials_with_subproperties_expected_failure.json
  kratos/tests/cpp_tests/containers/test_properties.cpp
  kratos/tests/test_materials_input.py
  kratos/tests/test_model_part.py
  kratos/utilities/read_materials_utility.cpp
  kratos/utilities/read_materials_utility.h
Labels: Consensus, Enhancement, Kratos Core

#5923 [Structural] adding error if bdf order is missing
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
Labels: Applications, FastPR

#5925 [Core] Horfix vector assert almost equal
  kratos/python_scripts/KratosUnittest.py
Labels: FastPR, Hotfix

#5839 [Core] Remove unused folders
  packaging_aux/postinst
  packaging_aux/prerm
  packaging_aux/script.py
  problemtype_generator/core_definitions.py
  problemtype_generator/default/problemtype.cnd
  problemtype_generator/default/problemtype.prb
  problemtype_generator/default/problemtype.tcl
  problemtype_generator/file_functions.py
  problemtype_generator/kratos_definitions/definitions/default_condition
  problemtype_generator/kratos_definitions/definitions/element
  problemtype_generator/kratos_definitions/definitions/face_condition
  problemtype_generator/kratos_definitions/definitions/material
  problemtype_generator/kratos_definitions/definitions/point_condition
  problemtype_generator/kratos_definitions/definitions/point_element
  problemtype_generator/kratos_definitions/definitions/property_text
  problemtype_generator/kratos_definitions/definitions/py_filepath
  problemtype_generator/kratos_definitions/definitions/py_property
  problemtype_generator/kratos_definitions/definitions/py_string
  problemtype_generator/kratos_definitions/definitions/scalar_condition
  problemtype_generator/kratos_definitions/definitions/scalar_conditional_var
  problemtype_generator/kratos_definitions/definitions/scalar_elemental_var
  problemtype_generator/kratos_definitions/definitions/vector_condition
  problemtype_generator/kratos_definitions/definitions/vector_conditional_var
  problemtype_generator/kratos_definitions/definitions/vector_elemental_var
  problemtype_generator/kratos_definitions/files/001_problemtype_conf.bas
  problemtype_generator/kratos_definitions/files/002_problemtype_aux.win.bas
  problemtype_generator/kratos_definitions/files/003_problemtype_var.py.bas
  problemtype_generator/kratos_definitions/files/problemtype.bas
  problemtype_generator/kratos_definitions/files/problemtype.cnd
  problemtype_generator/kratos_definitions/files/problemtype.prb
  problemtype_generator/kratos_definitions/files/problemtype.tcl
  problemtype_generator/kratos_definitions/files/problemtype.unix.bat
  problemtype_generator/kratos_definitions/files/problemtype.win.bat
  problemtype_generator/kratos_definitions/new_classes.py
  problemtype_generator/problemtype.py
  problemtype_generator/read_tools.py
  problemtype_generator/tcl_functions.py
Labels: Cleanup, FastPR, Kratos Core

#5926 Dem/depth first search not recursive
  applications/DemStructuresCouplingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DemStructuresCouplingApplication/custom_utilities/dem_structures_coupling_utilities.h
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
Labels: Bugfix, C++, Python

#5928 Bugfix in CL when using the new standard IU. Changing mValues to local
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_CL.cpp
Labels: Bugfix, C++

#5861 [Core][ModelpartIO] improve error message for hanging nodes
  kratos/sources/model_part_io.cpp
Labels: Kratos Core, Parallel-MPI

#5842 [Core] LineSearch - bugfix - using user provided settings
  kratos/solving_strategies/strategies/line_search_strategy.h
Labels: Bug

#5830 Fluid fs strategy virtual methods
  applications/FluidDynamicsApplication/custom_strategies/strategies/fs_strategy.h
  applications/FluidDynamicsApplication/custom_utilities/solver_settings.h
Labels: C++, Refactor

#5936 [Structural] correcting MinBufferSize for implicit-dyn solver
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thin_linear_dynamic_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_scordelis_lo_roof_parameters.json
  kratos/solving_strategies/schemes/residual_based_bdf_scheme.h
Labels: Applications, Cleanup

#2933 [StructuralMechanicsApplication][TO DISCUSS+NOT MERGE] Adding RuleOfMixturesLaw (composite parallel law)
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/rule_of_mixtures_law.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/rule_of_mixtures_law.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_advanced_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_advanced_constitutive_tests/test_rule_of_mixtures_law.cpp
Labels: Applications, Enhancement

#5944 [Structural] fixing MPI-tests
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory_mpi.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication_mpi.py
Labels: Applications, Parallel-MPI, Testing

#5910 [CoSim] silence prints from EmpireAPI in tests
  applications/CoSimulationApplication/custom_python/add_custom_io_to_python.cpp
  applications/CoSimulationApplication/python_scripts/helpers/dummy_flower_solver.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/empire_io.py
  applications/CoSimulationApplication/tests/FLOWer_coupling/cosim_parameters.json
  applications/CoSimulationApplication/tests/FLOWer_coupling/dummy_flower_solver_parameters.json
  applications/CoSimulationApplication/tests/test_cosim_EMPIRE_API.py
  applications/CoSimulationApplication/tests/test_flower_coupling.py
Labels: Applications, FastPR, Testing

#5912 [CoSim] InterfaceData: Improve error messages
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
  applications/CoSimulationApplication/tests/test_coupling_interface_data.py
Labels: Applications, Enhancement

#4169 Structural/ Adding the Serial-Parallel rule of mixtures
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/serial_parallel_rule_of_mixtures_law.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/serial_parallel_rule_of_mixtures_law.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_advanced_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/cl_test/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test.mdpa
  applications/StructuralMechanicsApplication/tests/cl_test/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_results.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  kratos/utilities/read_materials_utility.cpp
Labels: Applications, Behaviour Change, Enhancement

#5952 [Shallow] lagrangian element
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_elements/swe.cpp
  applications/ShallowWaterApplication/custom_elements/swe.h
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_utilities/bfecc_convection_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/bfecc_convection_utility.h
  applications/ShallowWaterApplication/python_scripts/lagrangian_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
Labels: Applications, C++

#4061 Structural/adjoint fields
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_cr_beam_element_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_linear_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
Labels: Applications, Feature

#5954 Structural/adjoint spring damper element
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/AdjointParameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/ProjectParameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/Spring_structure.mdpa
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/spring_structure_adjoint_results.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_spring_damper_3d2n_structure.py
Labels: Applications, C++

#5958 [Structural] Allow incompressible limit in CLAW Poission ratio checks
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/elastic_isotropic_plane_stress_uncoupled_shear.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/hyper_elastic_isotropic_kirchhoff_3d.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
Labels: Applications, FastPR, Hotfix

#5951 [Structural] Small displacement mixed volumetric strain element
  applications/FemToDemApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/python_scripts/convergence_criteria_factory.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane.mdpa
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_materials.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_materials.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_parameters.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_results.json
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_cook_membrane.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_displacement_mixed_volumetric_strain.py
Labels: Applications, Feature

#5943 Created the unit test for removing the warnings from the nurbs utilities [core]
  kratos/tests/cpp_tests/geometries/test_nurbs_curve_shape_functions.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_utilities.cpp
  kratos/tests/cpp_tests/geometries/test_projection_nurbs_geometry.cpp
  kratos/utilities/nurbs_utilities/projection_nurbs_geometry_utilities.h
Labels: CAD Integration, Kratos Core

#5960 [StructuralMechanicsApplication] Refactor common methods to static utilities
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_element_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_element_utilities.h
Labels: Applications, FastPR, Refactor

#5963 [Core] Removing one warning in nurbs_curve_geometry
  kratos/geometries/nurbs_curve_geometry.h
Labels: FastPR, Hotfix, Kratos Core

#5969 [Core][Nurbs] remove warnings
  kratos/geometries/nurbs_shape_function_utilities/nurbs_utilities.h
Labels: Cleanup, Compilation, Kratos Core, Warning

#5970 [Core] missing include in checks.h
  kratos/includes/checks.h
Labels: Incomplete, Kratos Core

#5965 [CoSim] another error message improved
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
  applications/CoSimulationApplication/tests/test_coupling_interface_data.py
Labels: Applications, Enhancement, FastPR

#5940 [Core] Adding a missing line
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Behaviour Change, C++, Inconsistent, Kratos Core

#5564 [Core] NURBS curve on surface
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_curve_on_surface_geometry.cpp
Labels: CAD Integration

#5896 [Core] add clone method to python interface of properties
  kratos/python/add_properties_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_properties.py
Labels: Kratos Core, Python

#5972 [Core] another missing include in checks.h
  kratos/includes/checks.h
Labels: Compilation, Incomplete, Kratos Core

#5968 [StructMech] minor changes in displacement control
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.h
  applications/StructuralMechanicsApplication/python_scripts/displacement_control_with_direction_process.py
  applications/StructuralMechanicsApplication/tests/truss_test/nonlinear_3D2NTruss_displacementcontrol_snapthrough_test_parameters.json
Labels: Applications

#5984 GiD_Prism element GiD_fWriteGaussPoint3D #5947
  kratos/includes/gid_gauss_point_container.h
Labels: Hotfix

#5415 [Core][Proposal][NOT TO MERGE] Adding Create to Process
  kratos/processes/process.h
  kratos/python/add_processes_to_python.cpp
Labels: Discussion, Enhancement, Kratos Core

#5989 [Shallow water] Auxiliary utilities
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.cpp
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.h
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/visualization_mesh_process.py
  applications/ShallowWaterApplication/python_scripts/wave_generator_process.py
Labels: Applications

#5911 [CoSim] data-transfer check
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_data_transfer_operator.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_single_to_distributed.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/sum_distributed_to_single.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
Labels: Applications, Enhancement

#5986 [Core] Making AssingMaterialToProperty virtual in ReadMaterialsUtility
  kratos/utilities/read_materials_utility.cpp
  kratos/utilities/read_materials_utility.h
Labels: FastPR, Kratos Core, Transition

#5998 [Dam] Delete "is_fixed" when applying thermal parameters
  applications/DamApplication/python_scripts/impose_thermal_parameters_scalar_value_process.py
Labels: Bugfix

#5974 [Core] Small clean up and adding test table
  kratos/includes/table.h
  kratos/python/add_table_to_python.cpp
  kratos/tests/cpp_tests/sources/test_table.cpp
Labels: Cleanup, Enhancement, FastPR, Kratos Core, Testing

#6005 [Structural] Generic linear elastic law
  applications/StructuralMechanicsApplication/custom_constitutive/user_provided_linear_elastic_law.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/user_provided_linear_elastic_law.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_user_provided_linear_elastic_law.cpp
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_displacement_mixed_volumetric_strain.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_strain.py
Labels: Applications, Feature

#6013 [Core] Adding standard configures for MINGW
  scripts/standard_configure_MINGW.bat
  scripts/standard_configure_MINGW.sh
Labels: Compilation, FastPR, Kratos Core

#6007 [dem] DEM Application use processes to apply boundary conditions
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/custom_processes/apply_kinematic_constraints_process.hpp
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_python/add_custom_processes_to_python.cpp
  applications/DEMApplication/custom_python/add_custom_processes_to_python.h
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
  applications/DEMApplication/python_scripts/processes/__init__.py
  applications/DEMApplication/python_scripts/processes/apply_kinematic_constraints_process.py
  applications/DEMApplication/tests/kinematic_constraints_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/kinematic_constraints_tests_files/processesDEM.mdpa
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_kinematic_constraints.py
  applications/DEMApplication/tests/test_restart.py
Labels: Feature
