Repository KratosMultiphysics/Kratos, pull requests merged in 2019-05, with the labels that each got.

#4535 [Core] Solver return converged [DISCUSSION]
  applications/FSIapplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/MeshMovingApplication/python_scripts/ale_fluid_solver.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  kratos/python_scripts/analysis_stage.py
  kratos/python_scripts/python_solver.py
Labels: Enhancement, Kratos Core

#4766 [ContactStructuralMechanicsApplication] Warning due to unitialized variable OMP
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
Labels: Applications, FastPR, Parallel-OMP, Warning

#4768 [Core] Construct tensors and vector with correct size instead on resize
  kratos/utilities/math_utils.h
Labels: Enhancement, FastPR, Kratos Core, Refactor, Warning

#4120 [Testing][WIP] accept --using-mpi command-line-argument
  kratos/python_scripts/KratosUnittest.py
  kratos/python_scripts/run_tests.py
Labels: Parallel-MPI, Testing

#4762 [FEMDEM] Correcting FEMDEM elements
  applications/FemToDemApplication/custom_elements/femdem2d_element.cpp
  applications/FemToDemApplication/custom_elements/femdem2d_element.hpp
  applications/FemToDemApplication/custom_elements/femdem3d_element.cpp
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
Labels: Bug, Enhancement

#4775 [Core] unifying exception tests
  kratos/tests/cpp_tests/exceptions/test_exceptions.cpp
  kratos/tests/cpp_tests/sources/test_exceptions.cpp
Labels: Cleanup, Duplicate, FastPR, Kratos Core, Testing

#4362 [Core][Geometries] Checking distance on local coordinates of Triangle3D3
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/tests/mmg_eulerian_test/distante_extrapolation_skin.json
  kratos/geometries/line_2d_2.h
  kratos/geometries/triangle_3d_3.h
  kratos/tests/cpp_tests/geometries/test_triangle_3d_3.cpp
Labels: Enhancement, Hotfix, Kratos Core

#4781 [StructuralMechanicsApplication] Transition PR of #2512
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.h
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/test_dynamic_schemes.py
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
  applications/StructuralMechanicsApplication/tests/test_nodal_damping.py
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
Labels: Applications, Cleanup, Enhancement, Refactor, Transition

#4626 [HDF5] python module
  applications/HDF5Application/HDF5Application.py
  applications/HDF5Application/python_scripts/create_xdmf_file.py
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_core_mpi.py
Labels: Applications, Cleanup, Python

#4771 [Shallow] Printing topography and free surface
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_processes/id_renumbering_process.cpp
  applications/ShallowWaterApplication/custom_processes/id_renumbering_process.h
  applications/ShallowWaterApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ShallowWaterApplication/custom_python/add_custom_processes_to_python.h
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.h
  applications/ShallowWaterApplication/custom_utilities/post_process_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/post_process_utilities.h
  applications/ShallowWaterApplication/custom_utilities/replicate_model_part_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/replicate_model_part_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_variables_utility.h
  applications/ShallowWaterApplication/python_scripts/id_renumbering_process.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_analysis.py
  applications/ShallowWaterApplication/python_scripts/visualization_mesh_process.py
Labels: Applications, Post Process

#4216 [Core] Discontinous mortar mapper
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/processes/simple_mortar_mapper_wrapper_process.h
  kratos/tests/auxiliar_files_for_python_unnitest/mortar_mapper_python_tests/test_double_curvature_integration_triangle_discontinous_interface.json
  kratos/tests/auxiliar_files_for_python_unnitest/mortar_mapper_python_tests/test_double_curvature_integration_triangle_discontinous_interface.mdpa
  kratos/tests/test_mortar_mapper.py
Labels: Enhancement, Kratos Core

#4787 [Core][ContactStructuralMechanicsApplication] Removing warnings and fixing minor error after #4362
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.cpp
  kratos/utilities/exact_mortar_segmentation_utility.cpp
  kratos/utilities/exact_mortar_segmentation_utility.h
  kratos/utilities/mortar_utilities.cpp
Labels: Applications, Cleanup, Enhancement, Hotfix, Kratos Core, Warning

#4788 [Core][ContactStructuralMechanicsApplication] Adding constant to geometries on mortar
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_frictional_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_frictionless_components_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_frictionless_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/penalty_frictional_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/penalty_frictionless_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/tests/cpp_tests/processes/test_mortar_mapper_process.cpp
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/mortar_utilities.h
Labels: Applications, Cleanup, Kratos Core, Refactor

#4789 [Core][ContactStructuralMechanicsApplication] Adding missing serialization to mortar classes
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_frictional_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/penalty_frictional_mortar_contact_condition.h
  kratos/includes/mortar_classes.h
Labels: Applications, Enhancement, FastPR, Kratos Core

#4790 [ContactStructuralMechanicsApplication] Improvement on allocation on derivatives utilities
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
Labels: Applications, Cleanup, Hotfix, Refactor

#4791 [ContactStructuralMechanicsApplication] Missing API and some clean up
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
Labels: Applications, Cleanup, FastPR

#4786 [Core] Fixes previous delta time equal to zero on BDF scheme
  kratos/solving_strategies/schemes/residual_based_bdf_scheme.h
Labels: Cleanup, FastPR, Hotfix, Kratos Core

#4226 [Core] Removing unused processes, replacing by generic one (WIP)
  applications/convection_diffusion_application/custom_utilities/bfecc_convection.h
  applications/convection_diffusion_application/custom_utilities/bfecc_elemental_limiter_convection.h
  applications/convection_diffusion_application/custom_utilities/move_particle_utility.h
  kratos/CMakeLists.txt
  kratos/modeler/edge_swapping_2d_modeler.h
  kratos/processes/element_erase_process.h
  kratos/processes/entity_erase_process.cpp
  kratos/processes/entity_erase_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/utilities/convect_particles_utilities.h
  kratos/utilities/cutting_utility.h
  kratos/utilities/iso_printer.h
Labels: Applications, Cleanup, Kratos Core, Transition

#4793 [Core] Minor clean up and more debug options on test_mortar_mapper
  kratos/tests/test_mortar_mapper.py
Labels: Cleanup, FastPR, Kratos Core, Testing

#4792 [Core] Changing the projection to normal on Line2D2 IsInsiude
  kratos/geometries/line_2d_2.h
  kratos/tests/cpp_tests/utilities/test_geometrical_projection_utilities.cpp
  kratos/utilities/geometrical_projection_utilities.h
Labels: Enhancement, FastPR, Kratos Core, Warning

#4784 [Core] fixing compilation Intel
  external_libraries/intrusive_ptr/intrusive_ptr.hpp
Labels: Compilation, Hotfix, Intel, Kratos Core

#4798 [ContactStructuralMechanicsApplication] Clean up derivatives tests
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
Labels: Applications, Cleanup, FastPR, Testing

#4796 [FEM-DEM] Minor improvements in the FEMDEM elements
  applications/FemToDemApplication/custom_elements/femdem2d_element.cpp
  applications/FemToDemApplication/custom_elements/femdem2d_element.hpp
  applications/FemToDemApplication/custom_elements/femdem3d_element.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
Labels: Applications, Enhancement, FastPR

#4707 [Core] Extending FindIntersectedGeometricalObjectsProcess to any entity
  kratos/processes/find_intersected_geometrical_objects_process.cpp
  kratos/processes/find_intersected_geometrical_objects_process.h
  kratos/tests/cpp_tests/processes/test_find_intersected_geometrical_objects_process.cpp
Labels: Enhancement, Kratos Core, Transition

#4801 [ContactStructuralMechanicsApplication] Deeper clean up of the test_derivatives
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
Labels: Applications, Cleanup, FastPR, Refactor, Testing

#4774 [MPI] unittest.main can now work in MPI
  applications/MappingApplication/tests/test_nearest_element_mapper.py
  applications/MappingApplication/tests/test_nearest_neighbor_mapper.py
  kratos/python_scripts/KratosUnittest.py
Labels: Parallel-MPI, Testing

#4736 [Core][Apps] derived class parameter validation
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  kratos/python_scripts/python_solver.py
Labels: Applications, Feature, Kratos Core

#4800 [Mapping] Projection Utilities
  applications/MappingApplication/CMakeLists.txt
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
  applications/MappingApplication/custom_utilities/projection_utilities.h
  applications/MappingApplication/tests/cpp_tests/test_projection_utilities.cpp
Labels: Applications, Enhancement

#4807 [CompressiveFluid] Fix intrussive pointer compilation error
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_incompressible_potential_flow_element.cpp
Labels: Applications, Compilation, FastPR, Hotfix

#4808 [MeshingApplication] Fixing TO_ERASE flag assigment on MMGprocess
  applications/MeshingApplication/custom_processes/mmg_process.cpp
Labels: Applications, Hotfix

#4780 [Core][KratosComponents] add proper errors & tests
  kratos/includes/kratos_components.h
  kratos/tests/cpp_tests/sources/test_kratos_components.cpp
Labels: Enhancement, Kratos Core, Testing

#4772 [ParticleMechanics] update py scripts
  applications/ParticleMechanicsApplication/ParticleMechanicsApplication.py
  applications/ParticleMechanicsApplication/python_scripts/mpm_json_output_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mechanics_analysis.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
  applications/ParticleMechanicsApplication/python_scripts/python_solvers_wrapper_particle.py
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_flow_rule_borja_cam_clay.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_flow_rule_mohr_coulomb.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_flow_rule_mohr_coulomb_strain_softening.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_hardening_laws.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_mpm_stress_principal_invariants_utilities.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_particle_math_utilities.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_yield_criteria.cpp
Labels: Applications, Cleanup, Python

#4755 [Metis] remove old set mpi comm process
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DEMApplication/python_scripts/DEM_procedures_mpi.py
  applications/DEMApplication/python_scripts/main_script.py
  applications/FSIapplication/tests/convergence_accelerator_spring_MPI_test.py
  applications/MetisApplication/custom_processes/set_mpi_communicator_process.h
  applications/MetisApplication/custom_python/add_processes_to_python.cpp
  applications/TrilinosApplication/test_examples/gather_modelpart_example/run_example.py
  applications/TrilinosApplication/tests/test_mpi_communicator.py
Labels: Applications, Cleanup, Deprecated, Parallel-MPI

#4810 Initialize node reordering in nodal graph creation.
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
Labels: Parallel-MPI

#4802 [Mapping] minor improvements
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.cpp
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_mappers/mapper.h
  applications/MappingApplication/custom_mappers/nearest_element_mapper.cpp
  applications/MappingApplication/custom_mappers/nearest_element_mapper.h
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.cpp
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.h
  applications/MappingApplication/custom_utilities/mapper_local_system.h
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities_mpi.cpp
  applications/MappingApplication/tests/basic_mapper_tests.py
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_element_aux_classes.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_neighbor_aux_classes.cpp
  applications/MappingApplication/tests/runscript_test_MappingApplication.py
Labels: Applications, Enhancement

#4761 [Core] Improvement on quadratic extrapolation
  kratos/processes/integration_values_extrapolation_to_nodes_process.cpp
  kratos/processes/integration_values_extrapolation_to_nodes_process.h
Labels: Cleanup, Enhancement, Kratos Core, Refactor

#4812 [Meshing] import as module
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/FemDemDynamicSolver.py
  applications/FemToDemApplication/python_scripts/FemDemMechanicalSolver.py
  applications/MeshingApplication/MeshingApplication.py
Labels: Applications, Python

#4814 Creating cut plane ModelPart from model.
  kratos/python_scripts/gid_output_process.py
Labels: FastPR, Hotfix, Kratos Core

#4815 [ContactStructuralMechanicsApplication] Adding missing derivatives tests
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
Labels: Applications, FastPR, Testing

#4804 [Fluid] Update TO_SPLIT flag in distance modification process
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_distance_modification_process.cpp
Labels: Applications, Enhancement, FastPR

#4816 [DEMStructures] Hotfix compilation error
  applications/DemStructuresCouplingApplication/custom_conditions/surface_load_from_DEM_condition_3d.cpp
Labels: Compilation, Hotfix

#4817 [ContactStructuralMechanicsApplication] Changing geometry duplicated on test
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
Labels: Applications, FastPR, Testing

#4806 [MeshMoving] recursive parameter validation
  applications/MeshMovingApplication/python_scripts/ale_fluid_solver.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
Labels: Applications, Python

#4622 Structural/adding hcf cl
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/high_cycle_fatigue_law_integrator.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_high_cycle_fatigue_law.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_isotropic_damage.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_high_cycle_fatigue_constitutive_law_3d.cpp
Labels: Applications, Enhancement

#4830 [DEMStructures] DEM-FEM coupling algorithm minor python revision
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
Labels: Python

#4827 [JsonOutputProcess] adding check for MPI
  kratos/python_scripts/json_output_process.py
Labels: Parallel-MPI, Testing

#4836 [FEMDEM] Improving the problemtype
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/FemDemKratos.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/FemDemKratos.prb
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.prb
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParameters.tcl
Labels: FastPR

#4824 [Core][Triangle3D3] correcting projection check
  kratos/geometries/triangle_3d_3.h
Labels: Bug, Hotfix, Kratos Core

#4838 [Mapping] using non-deprecated fct
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
Labels: Applications, Deprecated, FastPR

#4843 [Core]Update version number badge
  README.md
Labels: FastPR, Kratos Core, Release

#4825 Core/feature connectivity preserve variants
  kratos/modeler/connectivity_preserve_modeler.h
  kratos/python/add_modeler_to_python.cpp
  kratos/sources/connectivity_preserve_modeler.cpp
  kratos/tests/test_connectivity_preserve_modeler.py
Labels: Enhancement, Kratos Core

#4205 [FluidDynamicsApplication] BFECC convection for TwoFluidNavierStokes
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest2D.json
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest3D.json
  applications/FluidDynamicsApplication/tests/two_fluid_hydrostatic_pool_test.py
  kratos/python/add_utilities_to_python.cpp
Labels: Discussion

#4826 Trilinos/use base class variational distance
  applications/TrilinosApplication/custom_processes/trilinos_variational_distance_calculation_process.h
  applications/TrilinosApplication/custom_python/add_trilinos_processes_to_python.cpp
  kratos/elements/distance_calculation_element_simplex.h
  kratos/processes/variational_distance_calculation_process.h
Labels: Cleanup, Parallel-MPI

#4764 [Core] Introduce missing resize in element and condition base class
  kratos/includes/condition.h
  kratos/includes/element.h
Labels: Bugfix, Kratos Core

#4745 Mpi/communicator update
  applications/TrilinosApplication/tests/test_mpi_communicator.py
  kratos/includes/communicator.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
  kratos/sources/connectivity_preserve_modeler.cpp
Labels: Cleanup, Parallel-MPI

#4851 Pfem2 Application Error Fix
  applications/pfem_2_application/custom_utilities/move_particle_utility_pfem2.h
Labels: Bugfix

#4850 Mpi/feature non historical min
  kratos/includes/communicator.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
Labels: Parallel-MPI

#4855 [IGA] using intrusive ptrs
  applications/IgaApplication/custom_elements/base_discrete_element.h
  applications/IgaApplication/custom_elements/iga_truss_element.cpp
  applications/IgaApplication/custom_elements/iga_truss_element.h
  applications/IgaApplication/custom_elements/shell_kl_discrete_element.h
  applications/IgaApplication/custom_elements/surface_base_discrete_element.h
Labels: Applications, Compilation, FastPR

#4858 [MeshingApplication] Fixing meshing application global pointers
  applications/MeshingApplication/custom_processes/multiscale_refining_process.cpp
  applications/MeshingApplication/custom_processes/multiscale_refining_process.h
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.cpp
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh.hpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/uniform_refinement_utility.cpp
  applications/MeshingApplication/external_includes/tetgen_pfem_refine.h
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
  applications/MeshingApplication/external_includes/trigen_glass_forming.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_segment.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_vms.h
Labels: Applications, Compilation, FastPR, Hotfix

#4859 [ContactStructuralMechanicsApplication] Minor update on isinstance check
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
Labels: Applications, Cleanup, FastPR, Python

#4861 renaming to communication_coloring_utilities
  kratos/CMakeLists.txt
  kratos/mpi/tests/sources/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/test_mpi_coloring_utilities.cpp
  kratos/processes/find_global_nodal_neighbours_process.h
  kratos/utilities/communication_coloring_utilities.cpp
  kratos/utilities/communication_coloring_utilities.h
  kratos/utilities/global_pointer_utilities.h
  kratos/utilities/pointer_communicator.h
Labels: Cleanup, FastPR

#4856 particle correcting intrusive ptr macro
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_axisym_line_load_condition_2d.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_axisym_point_load_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_line_load_condition_2d.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_point_load_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_surface_load_condition_3d.h
  applications/ParticleMechanicsApplication/custom_conditions/mpm_base_load_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_dirichlet_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_dirichlet_condition.h
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_axisymmetry.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.hpp
Labels: Applications

#4864 [pfem2] Fixing global ptr vector
  applications/pfem_2_application/custom_utilities/move_particle_utility_pfem2.h
Labels: FastPR, Hotfix

#4863 [Shallow] updating intrusive ptr and global ptr vector
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/shallow_element.h
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
Labels: FastPR, Hotfix

#4866 [ContactStructuralMechanicsApplication] Update the PointItem in order to be more generic
  applications/ContactStructuralMechanicsApplication/custom_includes/point_item.h
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
Labels: Applications, FastPR, Refactor

#4870 [Quad3D4N] fix serializer call
  kratos/geometries/quadrilateral_3d_4.h
Labels: FastPR, Kratos Core

#4841 [MappingApp] improving NearestElement
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_mappers/nearest_element_mapper.cpp
  applications/MappingApplication/custom_mappers/nearest_element_mapper.h
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.h
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities_mpi.cpp
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsSurfaceSwitchedSides_map_scalar.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsSurfaceSwitchedSides_map_vector.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsSurface_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsSurface_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolumeSwitchedSides_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolumeSwitchedSides_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolumeSwitchedSides_map_scalar.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolumeSwitchedSides_map_vector.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolume_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolume_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolume_map_scalar.json
  applications/MappingApplication/tests/result_files/nearest_element/NearestElementBasicTestsVolume_map_vector.json
  applications/MappingApplication/tests/result_files/nearest_element/balde_map_disp.json
  applications/MappingApplication/tests/result_files/nearest_element/balde_map_force.json
  applications/MappingApplication/tests/result_files/nearest_element/balde_map_force_conserv.json
Labels: Applications, Enhancement, Parallel-MPI

#4879 [MetisApp][GlobalPointer] missing include
  applications/MetisApplication/custom_processes/metis_scalar_reorder_process.h
Labels: Applications, Compilation, Error, FastPR, Hotfix, Parallel-MPI

#4875 [GlobalPointer] adding const version of get
  kratos/includes/global_pointer.h
Labels: Kratos Core

#4263 [Core] Adding FindIntersectedGeometricalObjectsWithOBBProcess and other improvements
  kratos/CMakeLists.txt
  kratos/processes/find_intersected_geometrical_objects_process.cpp
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.cpp
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.h
  kratos/tests/cpp_tests/processes/test_find_intersected_geometrical_objects_process.cpp
Labels: Enhancement, Kratos Core, Transition

#4877 [ShallowWaterApplication] Cleanup
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/primitive_var_element.hpp
  applications/ShallowWaterApplication/custom_elements/shallow_element.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_element.h
  applications/ShallowWaterApplication/custom_processes/elemental_refining_criteria_process.h
  applications/ShallowWaterApplication/custom_processes/initial_perturbation_process.h
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
  applications/ShallowWaterApplication/custom_utilities/post_process_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/post_process_utilities.h
  applications/ShallowWaterApplication/custom_utilities/replicate_model_part_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_particle.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_variables_utility.h
  applications/ShallowWaterApplication/python_scripts/apply_slip_process.py
  applications/ShallowWaterApplication/python_scripts/eulerian_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/eulerian_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/initial_perturbation_process.py
  applications/ShallowWaterApplication/python_scripts/multigrid_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/residual_based_refining_condition_process.py
  applications/ShallowWaterApplication/python_scripts/set_bathymetry_process.py
  applications/ShallowWaterApplication/python_scripts/set_initial_water_level_process.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_analysis.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_multigrid_analysis.py
  applications/ShallowWaterApplication/python_scripts/wave_generator_process.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/element_tests/eulerian_conserved_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/eulerian_primitive_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/pfem2_conserved_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/pfem2_primitive_variables_parameters.json
Labels: Cleanup

#4822 [MeshMoving] cleanup deprecated functions
  applications/MeshMovingApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/MeshMovingApplication/custom_strategies/strategies/laplacian_meshmoving_strategy.h
  applications/MeshMovingApplication/custom_strategies/strategies/structural_meshmoving_strategy.h
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.h
  applications/MeshMovingApplication/python_scripts/ale_fluid_solver.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_structural_similarity.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_structural_similarity.py
  applications/MeshMovingApplication/tests/generic_rectangle_test_parameters.json
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_laplacian_meshmoving_strategy.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_structural_meshmoving_strategy.h
Labels: Applications, Cleanup, Deprecated

#4741 Improve kratos versioning
  .gitignore
  CMakeLists.txt
  kratos/CMakeLists.txt
  kratos/includes/kratos_version.h
  kratos/input_output/logger_output.cpp
  kratos/python/kratos_python.cpp
  kratos/sources/kernel.cpp
  kratos/sources/kratos_version.cpp
  kratos_version.h.in
Labels: Cleanup, Discussion

#4882 [FSI] Removing old Aitken utils
  applications/FSIapplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FSIapplication/custom_utilities/aitken_utils.h
Labels: Applications, Cleanup

#4884 [StructuralMechanics] Store mass and stiffness matrix in *.mm format
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
Labels: Applications, Feature

#4591 [ContactStructuralMechanicsApplication] Adding Octree with OBB search (used by default)
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/pure_friction_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_results_LM.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_notmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_notmatching_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_search_process.cpp
Labels: Applications, Behaviour Change, Enhancement

#4887 [Core] FSI relaxed variables addition
  kratos/includes/fsi_variables.h
  kratos/python/add_fsi_variables_to_python.cpp
  kratos/sources/fsi_variables.cpp
Labels: FastPR, Kratos Core

#4892 [Core][ModelPart] Exposing RemoveNodes to python
  kratos/python/add_model_part_to_python.cpp
Labels: Python

#4889 Missing macro
  kratos/sources/kratos_version.cpp
Labels: FastPR

#4898 [ContactStructuralMechanicsApplication] Clean up and improvement of several things
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/simple_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.h
Labels: Applications, Enhancement

#4888 [StructuralMechanicsApp] Repairing SpectralDecomposition
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_d+d-damage_law_masonry_2d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_d+d-damage_law_masonry_3d.cpp
Labels: Bug, Discussion

#4899 update template app => intrusive
  kratos/templates/classes/condition_template.cpp
  kratos/templates/classes/condition_template.h
  kratos/templates/classes/element_template.cpp
  kratos/templates/classes/element_template.h
Labels: Applications, FastPR

#4911 [Core] Adding methods to writer colors to json files
  kratos/CMakeLists.txt
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/aux_os_utilities.h
  kratos/tests/cpp_tests/utilities/test_assign_unique_model_part_collection_tag_utility.cpp
  kratos/tests/cpp_tests/utilities/test_os_utilities.cpp
  kratos/utilities/assign_unique_model_part_collection_tag_utility.cpp
  kratos/utilities/assign_unique_model_part_collection_tag_utility.h
  kratos/utilities/os_utilities.cpp
  kratos/utilities/os_utilities.h
Labels: Enhancement, Kratos Core, Testing

#4852 Mpi/deprecating communicator methods
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
  applications/DEMApplication/custom_utilities/create_and_destroy.cpp
  applications/DEMApplication/custom_utilities/inlet.cpp
  applications/FSIapplication/custom_utilities/partitioned_fsi_utilities.hpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_processes/mass_conservation_check_process.cpp
  applications/FluidDynamicsApplication/custom_processes/two_fluids_inlet_process.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/fs_strategy.h
  applications/FluidDynamicsApplication/custom_utilities/drag_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/estimate_dt_utilities.h
  applications/HDF5Application/custom_io/hdf5_model_part_io.cpp
  applications/MappingApplication/custom_searching/interface_communicator.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/StructuralMechanicsApplication/custom_processes/compute_center_of_gravity_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/compute_mass_moment_of_inertia_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/total_structural_mass_process.cpp
  applications/ThermoMechanicalApplication/custom_utilities/biphasic_filling_utilities.h
  applications/ThermoMechanicalApplication/custom_utilities/estimate_time_step.h
  applications/TrilinosApplication/custom_processes/trilinos_levelset_convection_process.h
  applications/TrilinosApplication/custom_strategies/convergencecriterias/trilinos_displacement_criteria.h
  applications/TrilinosApplication/custom_utilities/mpi_normal_calculation_utilities.cpp
  applications/TrilinosApplication/custom_utilities/trilinos_mvqn_recursive_convergence_accelerator.hpp
  applications/TrilinosApplication/custom_utilities/trilinos_partitioned_fsi_utilities.h
  applications/TrilinosApplication/external_includes/ml_solver.h
  kratos/includes/communicator.h
  kratos/input_output/vtk_output.cpp
  kratos/mpi/includes/mpi_communicator.h
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/processes/levelset_convection_process.h
  kratos/processes/variational_distance_calculation_process.h
  kratos/python/add_model_part_to_python.cpp
  kratos/utilities/brute_force_point_locator.cpp
  kratos/utilities/embedded_skin_utility.cpp
  kratos/utilities/parallel_levelset_distance_calculator.h
  kratos/utilities/variable_redistribution_utility.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Deprecated, Parallel-MPI

#4912 [ContactStructuralMechanicsApplication] Refactor of conv. criteria and active set utilities
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_components_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mesh_tying_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mortar_and_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/penalty_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/penalty_frictionless_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/active_set_utilities.h
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_active_set_utilities.cpp
Labels: Applications, Cleanup, Enhancement, Refactor

#4901 [Communicator] adding SynchronizeNodalFlags
  kratos/includes/communicator.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
Labels: Kratos Core, Parallel-MPI

#4917 [Core] Fixing OSUtilities. Using _WIN32
  kratos/utilities/os_utilities.cpp
Labels: Compilation, Hotfix, Kratos Core, Windows

#4918 Mpi/distributed test case
  kratos/mpi/tests/sources/test_flag_synchronization.cpp
  kratos/mpi/tests/sources/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_environment.cpp
  kratos/testing/distributed_test_case.cpp
  kratos/testing/distributed_test_case.h
  kratos/testing/test_case.cpp
  kratos/testing/test_case.h
  kratos/testing/test_suite.h
Labels: Parallel-MPI, Testing

#4919 [Core] Hotfix find global neighbours
  kratos/processes/find_global_nodal_neighbours_process.h
Labels: FastPR, Hotfix

#4885 Fixing ThermoMechanicalApplication after pointer changes.
  applications/ThermoMechanicalApplication/custom_utilities/particle_levelset_utilities.h
Labels: Hotfix

#4920 [Trilinos] objcet inheritance
  applications/TrilinosApplication/python_scripts/trilinos_import_model_part_utility.py
Labels: Applications, FastPR, Parallel-MPI

#4922 [Mapping] adding check for row-sum
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
Labels: Applications, Debug

#4908 [Core] Adding first approach for the tikZ process
  kratos/python_scripts/tikz_output_process.py
  kratos/tests/auxiliar_files_for_python_unnitest/tikz_output_process_ref_files/Main_STEP_0.tex
  kratos/tests/test_tikz_output_process.py
Labels: Documentation, Enhancement, Feature, Kratos Core, Python

#4925 [ContactStructuralMechanicsApplication] Minor rename variables for clarity
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
Labels: Applications, Cleanup, FastPR

#4928 [Core] Fix distance tolerances
  kratos/processes/apply_ray_casting_process.cpp
  kratos/processes/apply_ray_casting_process.h
Labels: Behaviour Change, Enhancement, Kratos Core

#4927 [Core] Enhance constraints
  kratos/includes/linear_master_slave_constraint.h
  kratos/includes/master_slave_constraint.h
  kratos/tests/cpp_tests/sources/test_constraint.cpp
Labels: Enhancement, Kratos Core

#4930 [ContactStructuralMechanicsApplication] More minor changes
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
Labels: Applications, FastPR, Refactor

#4874 Mpi/better initialization
  kratos/includes/kernel.h
  kratos/includes/parallel_environment.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/mpi_environment.cpp
  kratos/mpi/mpi_environment.h
  kratos/mpi/python/kratos_mpi_python.cpp
  kratos/mpi/python_scripts/legacy_mpi_python_interface.py
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_flag_synchronization.cpp
  kratos/mpi/tests/sources/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_environment.cpp
  kratos/mpi/tests/sources/test_pointer_communicator.cpp
  kratos/python/add_kernel_to_python.cpp
  kratos/python/add_logger_to_python.cpp
  kratos/python/add_parallel_environment_to_python.cpp
  kratos/python_interface/__init__.py
  kratos/python_scripts/kratos_utilities.py
  kratos/sources/kernel.cpp
  kratos/sources/parallel_environment.cpp
  kratos/testing/distributed_test_case.cpp
  kratos/testing/distributed_test_case.h
  kratos/testing/test_case.cpp
  kratos/testing/test_case.h
  kratos/testing/test_suite.h
Labels: Behaviour Change, Parallel-MPI

#4913 Warning removal campaign -- recent changes in MPI Communicator
  applications/FSIapplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/apply_outlet_process.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_adjoint_vmsmonolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/tests/adjoint_mpi_vms_sensitivity_2d.py
  applications/HDF5Application/python_scripts/core/operations/xdmf.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/TrilinosApplication/python_scripts/trilinos_import_model_part_utility.py
  applications/TrilinosApplication/test_examples/gather_modelpart_example/run_example.py
  applications/TrilinosApplication/tests/test_mpi_communicator.py
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
  applications/TrilinosApplication/tests/test_trilinos_redistance.py
  applications/convection_diffusion_application/python_scripts/apply_thermal_face_process.py
  kratos/python_scripts/point_output_process.py
  kratos/python_scripts/restart_utility.py
  kratos/python_scripts/unv_output_process.py
  kratos/python_scripts/vtk_output_process.py
Labels: Cleanup, Parallel-MPI, Python

#4900 [Shallow] Automatic dirichlet boundary conditions
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/automatic_dirichlet_conditions_process.py
  applications/ShallowWaterApplication/python_scripts/initial_perturbation_process.py
Labels: Applications

#4931 Updated mpi test detection and launching.
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Hotfix, Parallel-MPI

#4906 [MeshingApplication] Mmg IO
  applications/MeshingApplication/CMakeLists.txt
  applications/MeshingApplication/custom_io/mmg_io.cpp
  applications/MeshingApplication/custom_io/mmg_io.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_python/add_custom_io_to_python.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
  applications/MeshingApplication/tests/cpp_tests/test_mmg_io.cpp
Labels: Applications, Enhancement

#4932 [FSI] Constant relaxation accelerator addition
  applications/FSIapplication/custom_python/add_convergence_accelerators_to_python.cpp
  applications/FSIapplication/custom_utilities/constant_relaxation_convergence_accelerator.h
  applications/FSIapplication/python_scripts/convergence_accelerator_factory.py
  applications/FSIapplication/tests/cpp_tests/test_convergence_accelerators.cpp
Labels: Applications, Feature

#4934 [MeshingApplication] Moving MDPA creation at the end of the MMGProcess
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, Cleanup, FastPR, Refactor

#4849 [Core] Replace conditions for GeometricalObjects on Mortar mapper
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/processes/simple_mortar_mapper_wrapper_process.h
  kratos/tests/auxiliar_files_for_python_unnitest/mortar_mapper_python_tests/test_double_curvature_integration_triangle_quadrilateral.mdpa
  kratos/tests/test_mortar_utilities.py
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/mortar_utilities.h
Labels: Enhancement, Kratos Core

#4935 [StructuralMechanicsApplication] Adding NORMAL as GP post-process on load conditions
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/line_load_condition_2d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/line_load_condition_2d.h
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.h
Labels: Applications, Enhancement, Post Process

#4936 [Core][Hotfix] Fast liada fix
  kratos/processes/simple_mortar_mapper_process.h
Labels: FastPR, Hotfix, Kratos Core, Typo

#4878 [ContactStructuralMechanicsApplication][Core] Update validation of parameters
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_explicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  kratos/python_scripts/python_solver.py
Labels: Applications, Kratos Core, Warning

#4924 [Core] Replace enums.h for struct
  kratos/includes/enums.h
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/mortar_utilities.h
Labels: Cleanup, Kratos Core, Refactor

#4939 [FEMDEM] Adding 3D pressure extrapolation to femdem
  applications/FemToDemApplication/custom_elements/femdem2d_element.cpp
  applications/FemToDemApplication/custom_elements/femdem3d_element.cpp
  applications/FemToDemApplication/custom_processes/assign_pressure_id_process.cpp
  applications/FemToDemApplication/custom_processes/assign_pressure_id_process.h
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.h
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
Labels: Applications, Enhancement

#4937 [Core] VariableUtils UpdateCurrentPosition method
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: FastPR, Feature, Kratos Core

#4943 [Core] Adding method for custom folder import
  kratos/python_interface/__init__.py
  kratos/python_interface/application_importer.py
Labels: Applications, Enhancement, Kratos Core

#4944 [Core] Minor comments .gitignore
  .gitignore
Labels: Documentation, FastPR, Kratos Core

#4949 [ContactStructuralMechanicsApplication] More search updates
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/simple_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
Labels: Applications, FastPR

#4948 [Shallow] Fixing tests
  applications/ShallowWaterApplication/python_scripts/eulerian_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/eulerian_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/tests/cpp_tests/test_shallow_element.cpp
  applications/ShallowWaterApplication/tests/element_tests/eulerian_conserved_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/eulerian_primitive_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/pfem2_conserved_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/pfem2_primitive_variables_parameters.json
Labels: Cleanup, FastPR, Testing

#4926 Calling updated geometry functions.
  applications/FluidDynamicsApplication/custom_conditions/fs_generalized_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/fs_werner_wengle_wall_condition.cpp
Labels: Deprecated, Hotfix

#4952 [Shallow] Changing var type
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_processes/apply_perturbation_function_process.cpp
  applications/ShallowWaterApplication/custom_processes/apply_perturbation_function_process.h
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.cpp
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.h
  applications/ShallowWaterApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/initial_perturbation_process.py
  applications/ShallowWaterApplication/python_scripts/visualization_mesh_process.py
  applications/ShallowWaterApplication/python_scripts/wave_generator_process.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/cpp_tests/test_apply_perturbation_function_process.cpp
Labels: Post Process

#4332 [MLMC] New application structure
  applications/MultilevelMonteCarloApplication/MultilevelMonteCarloApplication.py
  applications/MultilevelMonteCarloApplication/python_scripts/adaptive_refinement_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/auxiliary_classes_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/cmlmc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/generator_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/mc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/montecarlo_analysis.py
  applications/MultilevelMonteCarloApplication/python_scripts/multilevel_montecarlo_analysis.py
  applications/MultilevelMonteCarloApplication/python_scripts/statistical_variable_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/test_auxiliary_classes_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/test_cmlmc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/test_mc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/test_montecarlo_analysis.py
  applications/MultilevelMonteCarloApplication/python_scripts/test_multilevel_montecarlo_analysis.py
  applications/MultilevelMonteCarloApplication/python_scripts/test_statistical_variable_utilities.py
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/multilevel_monte_carlo_main.py
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_poisson_square_2d_coarse.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_poisson_square_2d_finer.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_refinement.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_x_monte_carlo.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/square_coarse_2d.mdpa
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/square_finer_2d.mdpa
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/simulation_definition.py
  applications/MultilevelMonteCarloApplication/tests/test_MultilevelMonteCarloApplication.py
  applications/MultilevelMonteCarloApplication/tests/test_multilevel_montecarlo.py
  kratos/python_scripts/KratosUnittest.py
Labels: Applications, Consensus

#4956 [ContactStructuralMechanicsApplication] Minor clean up
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.h
Labels: Applications, Cleanup, Refactor

#4957 [Core] Solving memory error in SimpleMapperProcess
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/mortar_utilities.h
Labels: Bug, Hotfix, Kratos Core

#4958 [ContactStructuralMechanicsApplication] Minor change on MortarExplicitUtilities
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.h
Labels: Applications, FastPR

#4959 [ContactStructuralMechanicsApplication] Minor additional check
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
Labels: Applications, FastPR

#4951 trilinos application now links to mpi core.
  applications/TrilinosApplication/CMakeLists.txt
Labels: Bugfix, Compilation, Parallel-MPI

#4953 [FEMDEM] Reimplementing some processes from python to c++
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/generate_dem_process.cpp
  applications/FemToDemApplication/custom_processes/generate_dem_process.h
  applications/FemToDemApplication/custom_processes/transfer_nodal_forces_to_fem.cpp
  applications/FemToDemApplication/custom_processes/transfer_nodal_forces_to_fem.h
  applications/FemToDemApplication/custom_processes/update_dem_kinematics_process.cpp
  applications/FemToDemApplication/custom_processes/update_dem_kinematics_process.h
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
Labels: Applications, C++, Enhancement

#4964 [ContactStructuralMechanicsApplication] Returning dual LM
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.h
Labels: Applications, FastPR

#4966 [FEMDEM] correcting some compilation errors in linux
  applications/FemToDemApplication/custom_elements/femdem3d_large_displacement_element.cpp
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/transfer_nodal_forces_to_fem.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
Labels: Enhancement, FastPR

#4970 [Dam] Improve the imposition of thermal conditions in construction
  applications/DamApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DamApplication/custom_utilities/construction_utility.hpp
  applications/DamApplication/python_scripts/check_and_prepare_model_process_dam_thermal.py
  applications/DamApplication/python_scripts/dam_MPI_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_P_solver.py
  applications/DamApplication/python_scripts/dam_UP_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_UP_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_construction_utility.py
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
Labels: Enhancement

#4969 Making it possible to use the classic Herschel-Bulkley element
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
Labels: Enhancement

#4974 [MeshingApplication] Wrong argument for RemoveRegions on MMGUtilities
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
Labels: Applications, FastPR, Hotfix

#4805 [MeshMoving][Core] Old step displacement FM-ALE and unique level-set type
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/reference_embedded_piston_2D.csv
  applications/MeshMovingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.h
  applications/MeshMovingApplication/tests/cpp_tests/test_explicit_fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/tests/cpp_tests/test_fixed_mesh_ale_utilities.cpp
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/tests/cpp_tests/processes/test_calculate_embedded_nodal_variable_from_skin_process.cpp
Labels: Applications, Behaviour Change, Bugfix, Enhancement, Kratos Core

#4829 Moving to nodal flag SLIP instead of (historical) variable IS_STRUCTURE
  applications/FluidDynamicsApplication/custom_conditions/fs_generalized_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/fs_werner_wengle_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/monolithic_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/monolithic_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/wall_condition_discontinuous.h
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/fs_strategy.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bdf_scheme_turbulent.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bdf_scheme_turbulent_no_reaction.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bossak_scheme_turbulent.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_simple_steady_scheme.h
  applications/FluidDynamicsApplication/custom_utilities/compressible_element_rotation_utility.h
  applications/FluidDynamicsApplication/python_scripts/apply_slip_process.py
  applications/FluidDynamicsApplication/python_scripts/monolithic_solver_bdf2.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/vms_fractional_step_solver.py
  applications/FluidDynamicsApplication/python_scripts/vms_monolithic_solver.py
  applications/ParticleMechanicsApplication/custom_utilities/mpm_boundary_rotation_utility.h
  applications/ShallowWaterApplication/python_scripts/apply_slip_process.py
  applications/TrilinosApplication/custom_python/add_trilinos_schemes_to_python.cpp
  applications/incompressible_fluid_application/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bossak_scheme_dpg_enriched.h
  applications/pfem_2_application/custom_conditions/autoslip_inlet.h
  applications/pfem_2_application/custom_strategies/pfem_2_monolithic_slip_scheme.h
  applications/pfem_2_application/custom_strategies/pfem_2_monolithic_slip_strategy.h
  applications/pfem_2_application/custom_utilities/move_particle_utility_pfem2.h
  applications/pfem_2_application/custom_utilities/particle_utilities.h
  applications/pfem_2_application/python_scripts/pfem_2_solver_monolithic_autoslip_fluid.py
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme_slip.h
  kratos/utilities/coordinate_transformation_utilities.h
Labels: Applications, Behaviour Change, Kratos Core

#4972 [Core] Adding test for MESH_ONLY flag fon ModelPartIO
  kratos/tests/auxiliar_files_for_python_unnitest/mdpa_files/test_model_part_io_write_mesh_only.mdpa
  kratos/tests/test_model_part_io.py
Labels: FastPR, Kratos Core, Testing

#4975 [MeshingApplication] Adding important message to avoid confusions on MMGProcess
  applications/MeshingApplication/custom_processes/mmg_process.cpp
Labels: Applications, FastPR

#4983 Fixing issue due to empty cwd argument in Popen.
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Hotfix, Testing

#4984 [MeshingApplication] Recovering reference elements and conditions from MMGIO
  applications/MeshingApplication/custom_io/mmg_io.cpp
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
  applications/MeshingApplication/tests/cpp_tests/test_mmg_io.cpp
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test.mdpa
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/test_remesh_shell_parameters.json
  kratos/utilities/assign_unique_model_part_collection_tag_utility.cpp
Labels: Applications, Enhancement

#4986 [MeshingApplication] Now save_external_files also saves the njson files of the colors and reference entities
  applications/MeshingApplication/custom_io/mmg_io.cpp
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications, FastPR, Refactor

#4971 Forward declaration of DataCommunicator in logger.
  kratos/input_output/logger_message.cpp
  kratos/input_output/logger_message.h
  kratos/input_output/logger_table_output.cpp
Labels: Compilation

#4987 [MeshingApplication] Not preserving flags by default on MMGProces
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
Labels: Applications, Hotfix

#4978 [StructuralMechanics] removing ComputingModelPart - Step 1
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, Cleanup

#4976 [Core][ModelPart] delegating duplicated constructors
  kratos/sources/model_part.cpp
Labels: C++, Cleanup, Enhancement, Kratos Core

#4977 [Core][ModelPart] improving error msg for unallowed names
  kratos/sources/model_part.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
Labels: FastPR, Kratos Core

#4993 [FEMDEM] Correcting an error when computing free energy on nodes
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.hpp
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  kratos/includes/gid_io.h
Labels: Applications, FastPR

#4994 [ContactStructuralMechanicsApplication] Adding disclainer to AD folder
  applications/ContactStructuralMechanicsApplication/symbolic_generation/README.md
Labels: Applications, Behaviour Change, Documentation, FastPR, Python

#4981 [Core] Removing tabulations on ModelPartIO
  kratos/sources/model_part_io.cpp
Labels: Cleanup, FastPR, Kratos Core

#4990 [Core] Continuous distance initialization with bounding box size
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
  kratos/processes/calculate_distance_to_skin_process.cpp
  kratos/tests/cpp_tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
  kratos/tests/cpp_tests/processes/test_calculate_distance_to_skin_process.cpp
Labels: Behaviour Change, Enhancement, Kratos Core

#5006 [ContactStructuralMechanicsApplications] Adding Exception when running with sympy>=1.3
  applications/ContactStructuralMechanicsApplication/python_scripts/custom_sympy_fe_utilities.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictional_mortar_condition/ALM_frictional_mortar_contact_condition_template.cpp
Labels: Applications, Documentation

#4998 [shallow] Importing from raster without conditions
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
Labels: FastPR, Hotfix

#5008 [Core] Hotfix characteristic length
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/tests/cpp_tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
Labels: Bug, Bugfix, FastPR, Kratos Core

#5011 [ContactStructuralMechanicsApplication] Hotfix custom_sympy_fe_utilities
  applications/ContactStructuralMechanicsApplication/python_scripts/custom_sympy_fe_utilities.py
Labels: Applications, Hotfix, Python

#4968 Adding unsigned int interface for MPI communicator
  kratos/includes/data_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
Labels: Parallel-MPI
