Repository KratosMultiphysics/Kratos, pull requests merged in 2019-06, with the labels that each got.

#5027 [ContactStructuralMechanicsApplication] Fixing cpp test
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
Labels: Applications, C++, FastPR, Hotfix, Testing

#5015 [FEM-DEM] Refactoring & improvement of the hessian nodal variable process
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_processes/assign_pressure_id_process.cpp
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.h
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.hpp
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
Labels: Applications, Enhancement, FastPR

#5024 [Core] register missing elements
  kratos/elements/distance_calculation_element_simplex.h
  kratos/elements/levelset_convection_element_simplex.h
  kratos/includes/kratos_application.h
  kratos/sources/kratos_application.cpp
Labels: Enhancement

#5030 [ContactStructuralMechanicsApplication] Improve frictional convergence criteria
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
Labels: Applications, Enhancement

#5028 missing KratosAPI
  applications/CompressiblePotentialFlowApplication/custom_processes/move_model_part_process.h
Labels: Hotfix

#5035 Need include <iostream> to compile (windows)
  external_libraries/intrusive_ptr/intrusive_ptr.hpp
Labels: Bug, Compilation, Hotfix

#5039 [ContactStructuralMechanicsApplication] Separating stick/slip state on residuals conv.citeria
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
Labels: Applications, Enhancement

#5038 Structural/hcf
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/high_cycle_fatigue_law_integrator.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_high_cycle_fatigue_law.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_high_cycle_fatigue_constitutive_law_3d.cpp
Labels: Applications, Enhancement

#4916 Structural mechanics application/modal decomposition
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_eigenvalue_analysis.py
Labels: Feature

#5044 [FEMDEM] Creating a new generic element for the 2d and 3d small strain calculations
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_elements/femdem3d_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.hpp
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/Mdpa.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/Mdpa.tcl
  applications/FemToDemApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FemToDemApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/FemToDemApplication/custom_utilities/constitutive_law_utilities.h
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/simo_ju_yield_surface.h
Labels: Applications, Cleanup, Enhancement, Refactor

#5004 [Nightly][CLANG] disabling the buggy missing-braces warning
  scripts/build/nightly/configure_clang.sh
Labels: Clang, Compilation, Warning

#5046 [Dam] Increase mapping tolerance
  applications/DamApplication/custom_utilities/mapping_variables_2D_utilities.hpp
  applications/DamApplication/custom_utilities/mapping_variables_3D_utilities.hpp
Labels: Enhancement

#4950 [Core] replace entites only in given model part
  kratos/processes/replace_elements_and_condition_process.cpp
  kratos/tests/cpp_tests/processes/test_replace_elements_and_condition_process.cpp
Labels: Behaviour Change

#5017 [FSI] Enhance partitioned FSI utilities
  applications/FSIapplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FSIapplication/custom_utilities/partitioned_fsi_utilities.hpp
  applications/FSIapplication/tests/cpp_tests/test_partitioned_fsi_utilities.cpp
Labels: Applications, Feature

#5049 [Core] Read Materials - checking if variables and tables exist
  kratos/tests/auxiliar_files_for_python_unnitest/materials_files/material_without_tables_and_variables.json
  kratos/tests/test_materials_input.py
  kratos/utilities/read_materials_utility.cpp
Labels: Enhancement

#5050 [pfem2] minor update on the python solver
  applications/pfem_2_application/python_scripts/pfem_2_navier_stokes_monolithic_solver.py
Labels: FastPR

#5054 [FEMDEM] Adding generic large displacement element in 2D and 3D
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_elements/femdem2d_element.cpp
  applications/FemToDemApplication/custom_elements/femdem2d_element.hpp
  applications/FemToDemApplication/custom_elements/femdem3d_element.cpp
  applications/FemToDemApplication/custom_elements/femdem3d_element.hpp
  applications/FemToDemApplication/custom_elements/femdem3d_large_displacement_element.cpp
  applications/FemToDemApplication/custom_elements/femdem3d_large_displacement_element.hpp
  applications/FemToDemApplication/custom_elements/generic_large_displacement_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_large_displacement_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.hpp
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/FemDemKratos.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/Mdpa.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.prb
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/Mdpa.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParameters.tcl
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.h
Labels: Applications, Enhancement

#5056 [Fluid][Hotfix] Distance modification set is modified flag to true
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.cpp
Labels: Applications, Bugfix, FastPR, Hotfix

#5029 [Core] Transition PR for #3185
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
  applications/ExternalSolversApplication/custom_python/add_linear_solvers_to_python.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.h
  applications/TrilinosApplication/custom_factories/trilinos_linear_solver_factory.h
  kratos/factories/linear_solver_factory.h
  kratos/factories/preconditioner_factory.h
  kratos/factories/standard_linear_solver_factory.h
  kratos/factories/standard_preconditioner_factory.h
  kratos/linear_solvers/bicgstab_solver.h
  kratos/linear_solvers/cg_solver.h
  kratos/linear_solvers/scaling_solver.h
  kratos/linear_solvers/tfqmr_solver.h
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/python/add_factories_to_python.cpp
  kratos/sources/kratos_application.cpp
  kratos/sources/kratos_components.cpp
  kratos/sources/standard_linear_solver_factory.cpp
  kratos/sources/standard_preconditioner_factory.cpp
Labels: Kratos Core, Transition

#5061 [StructuralMechanicsApplication] EigenDecomposition test fails, hotfix
  applications/StructuralMechanicsApplication/tests/test_dynamic_eigenvalue_analysis.py
Labels: Applications, FastPR, Hotfix, Python, Testing

#5005 [Core] Remove old bounding box and bins
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
  applications/convection_diffusion_application/custom_utilities/move_particle_utility.h
  applications/incompressible_fluid_application/custom_utilities/move_particle_utility.h
  applications/pfem_2_application/custom_utilities/move_particle_utility_pfem2.h
  applications/pfem_2_application/custom_utilities/transfer_utility.h
  kratos/geometries/geometry.h
  kratos/geometries/hexahedra_interface_3d_8.h
  kratos/geometries/line_2d_2.h
  kratos/geometries/point_2d.h
  kratos/geometries/point_3d.h
  kratos/geometries/sphere_3d_1.h
  kratos/spatial_containers/bins.h
  kratos/spatial_containers/bounding_box.h
  kratos/utilities/binbased_fast_point_locator.h
  kratos/utilities/bounding_box_utilities.h
Labels: Applications, Cleanup, Kratos Core, Legacy

#5051 [FSI] New FSI coupling interface class
  applications/FSIapplication/python_scripts/fsi_coupling_interface.py
  applications/FSIapplication/tests/fsi_coupling_interface_test.py
  applications/FSIapplication/tests/test_FSIApplication.py
Labels: Applications, Feature

#5063 [Core] Adding ResetFlag to VariableUtils
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core, Testing

#5065 [FSI] Towards thin-walled FSI coupling interface
  applications/FSIapplication/python_scripts/fsi_coupling_interface.py
  applications/FSIapplication/tests/fsi_coupling_interface_test.py
Labels: Applications, Enhancement

#5067 [ContactStructuralMechanicsApplication] Update the buffer size for frictional
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
Labels: Applications, Enhancement, FastPR

#5072 [ContactStructuralMechanicsApplication] Update ComputeDeltaTime for intervals
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
Labels: Applications, Enhancement, Python

#5070 [Exaqute] Application creation
  applications/CMakeLists.txt
  applications/ExaquteSandboxApplication/CMakeLists.txt
  applications/ExaquteSandboxApplication/ExaquteSandboxApplication.py
  applications/ExaquteSandboxApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ExaquteSandboxApplication/custom_python/add_custom_strategies_to_python.h
  applications/ExaquteSandboxApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ExaquteSandboxApplication/custom_python/add_custom_utilities_to_python.h
  applications/ExaquteSandboxApplication/custom_python/exaqute_sandbox_python_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application.h
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.h
  applications/ExaquteSandboxApplication/tests/generalTests.py
  applications/ExaquteSandboxApplication/tests/test_ExaquteSandboxApplication.py
Labels: Applications

#5074 [ExaquteApplication] Computation of weighted in time divergence and velocity seminorm
  applications/ExaquteSandboxApplication/CMakeLists.txt
  applications/ExaquteSandboxApplication/ExaquteSandboxApplication.py
  applications/ExaquteSandboxApplication/custom_processes/weighted_divergence_calculation_process.cpp
  applications/ExaquteSandboxApplication/custom_processes/weighted_divergence_calculation_process.h
  applications/ExaquteSandboxApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ExaquteSandboxApplication/custom_python/add_custom_processes_to_python.h
  applications/ExaquteSandboxApplication/custom_python/exaqute_sandbox_python_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.h
  applications/ExaquteSandboxApplication/tests/cpp_tests/test_weighted_divergence_calculation.cpp
  applications/ExaquteSandboxApplication/tests/run_cpp_unit_tests.py
Labels: Applications, C++, Testing

#5075 update the settings name
  applications/FSIapplication/python_scripts/partitioned_fsi_base_solver.py
Labels: Applications, Hotfix

#5077 [ContactStructuralMechanicsApplication] Minor wrong sign on gap AD
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_frictionless_components_mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/ALM_frictionless_mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_components_mortar_condition/generate_frictionless_components_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_components_mortar_condition/generate_frictionless_components_mortar_condition_non_zero.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_mortar_condition/generate_frictionless_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_mortar_condition/generate_frictionless_mortar_condition_non_zero.py
Labels: Applications, Bugfix, FastPR, Hotfix

#5068 [Core] Minor clean up and additional info on ResidualCriteria
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
Labels: Cleanup, FastPR, Kratos Core

#4941 [Core] Hash and comparator not properly defined
  kratos/includes/key_hash.h
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
Labels: Clang, Compilation, Enhancement, Kratos Core, Refactor, Warning

#4991 [StructuralMechanics] removing computing_domain in eigen post-process
  applications/StructuralMechanicsApplication/python_scripts/postprocess_eigenvalues_process.py
Labels: Applications, Cleanup, Enhancement

#5084 [PotentialFlow] Using Kratos warning instead of std::cout
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_potential_flow_element.cpp
Labels: FastPR

#5085 [FEMDEM] Correcting minor things
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/MMGParameters.json
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/MMGParameters.json
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
  applications/FemToDemApplication/python_scripts/convergence_criteria_factory_fem_dem.py
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
Labels: FastPR

#5057 [Core] VTK improvements
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
  kratos/python/add_io_to_python.cpp
  kratos/python_scripts/vtk_output_process.py
Labels: Behaviour Change, Bugfix, Enhancement, Kratos Core, Parallel-MPI, Post Process, Warning

#5090 [Pfem2] Moving variables to separate files
  applications/pfem_2_application/CMakeLists.txt
  applications/pfem_2_application/custom_conditions/autoslip_inlet_3d.cpp
  applications/pfem_2_application/custom_conditions/fixed_pressure_2d.cpp
  applications/pfem_2_application/custom_conditions/fixed_pressure_2d.h
  applications/pfem_2_application/custom_conditions/fixed_pressure_3d.cpp
  applications/pfem_2_application/custom_conditions/fixed_pressure_3d.h
  applications/pfem_2_application/custom_conditions/fixed_velocity_2d.cpp
  applications/pfem_2_application/custom_conditions/fixed_velocity_2d.h
  applications/pfem_2_application/custom_conditions/fixed_velocity_3d.cpp
  applications/pfem_2_application/custom_conditions/fixed_velocity_3d.h
  applications/pfem_2_application/custom_conditions/water_fixed_velocity_2d.cpp
  applications/pfem_2_application/custom_conditions/water_fixed_velocity_2d.h
  applications/pfem_2_application/custom_elements/fractional_step_pfem_2_2d.cpp
  applications/pfem_2_application/custom_elements/fractional_step_pfem_2_2d.h
  applications/pfem_2_application/custom_elements/fractional_step_pfem_2_3d.cpp
  applications/pfem_2_application/custom_elements/fractional_step_pfem_2_3d.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_2d.cpp
  applications/pfem_2_application/custom_elements/monolithic_2fluid_2d.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_2d_partintegration.cpp
  applications/pfem_2_application/custom_elements/monolithic_2fluid_2d_partintegration.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_3d.cpp
  applications/pfem_2_application/custom_elements/monolithic_2fluid_3d.h
  applications/pfem_2_application/custom_elements/monolithic_2fluid_3d_partintegration.cpp
  applications/pfem_2_application/custom_elements/monolithic_2fluid_3d_partintegration.h
  applications/pfem_2_application/custom_elements/monolithic_3fluid_2d.cpp
  applications/pfem_2_application/custom_elements/monolithic_3fluid_2d.h
  applications/pfem_2_application/custom_elements/monolithic_3fluid_3d.cpp
  applications/pfem_2_application/custom_elements/monolithic_3fluid_3d.h
  applications/pfem_2_application/custom_elements/nonewtonian_2fluid_2d.cpp
  applications/pfem_2_application/custom_elements/nonewtonian_2fluid_2d.h
  applications/pfem_2_application/custom_elements/nonewtonian_2fluid_3d.cpp
  applications/pfem_2_application/custom_elements/nonewtonian_2fluid_3d.h
  applications/pfem_2_application/custom_elements/qfluid_2d.cpp
  applications/pfem_2_application/custom_elements/qfluid_2d.h
  applications/pfem_2_application/custom_elements/qfluid_3d.cpp
  applications/pfem_2_application/custom_elements/qfluid_3d.h
  applications/pfem_2_application/custom_elements/vel_enriched_2fluid_2d.cpp
  applications/pfem_2_application/custom_elements/vel_enriched_2fluid_2d.h
  applications/pfem_2_application/custom_python/pfem_2_python_application.cpp
  applications/pfem_2_application/custom_strategies/explicit_strategy.h
  applications/pfem_2_application/custom_strategies/fracstep_GLS_strategy.h
  applications/pfem_2_application/custom_utilities/add_fixed_velocity_condition.h
  applications/pfem_2_application/custom_utilities/calculate_water_fraction.h
  applications/pfem_2_application/custom_utilities/move_particle_utility_pfem2.h
  applications/pfem_2_application/custom_utilities/particle_utilities.h
  applications/pfem_2_application/custom_utilities/pfem2_utilities.h
  applications/pfem_2_application/custom_utilities/transfer_utility.h
  applications/pfem_2_application/custom_utilities/visualization.h
  applications/pfem_2_application/pfem_2_application.cpp
  applications/pfem_2_application/pfem_2_application.h
  applications/pfem_2_application/pfem_2_application_variables.cpp
  applications/pfem_2_application/pfem_2_application_variables.h
Labels: Cleanup

#5089 [Core] Minor clean up NR on predict
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Cleanup, FastPR, Kratos Core

#5092 [Core] Missing FinalizeSolutionStep from CC on NR
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Hotfix, Inconsistent, Kratos Core

#5094 [Core] Adding InitializeNonLinearIteration and FinalizeNonLinearIteration from CC to NR
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Incomplete, Inconsistent, Kratos Core

#5095 Hotfix - Test materials - skip if dependencies are not available
  kratos/tests/test_materials_input.py
Labels: Hotfix

#4593 Improving line search
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/strategies/line_search_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
  kratos/tests/cpp_tests/strategies/strategies/test_strategies.cpp
Labels: Behaviour Change, Feature

#5103 [ContactStructuralMechanicsApplication] Several updates and new test
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.h
  applications/ContactStructuralMechanicsApplication/custom_python/contact_structural_mechanics_python_application.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictional_mortar_condition/generate_frictional_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hertz_complete_test.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hertz_complete_test_materials.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hertz_complete_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hertz_complete_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/ValidationTests.py
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/mortar_utilities.h
Labels: Applications, Enhancement, Testing

#5107 [MeshingApplication] Hesian metric not enforcing anisotropy respecta a variable by default
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
Labels: Applications, Enhancement, Inconsistent

#5104 [Core] Fix on discontinous mortar mapper
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_wrapper_process.h
Labels: Enhancement, FastPR, Kratos Core

#5112 [Hotfix][Core] Warning removal in mortar mappers wrapper
  kratos/processes/simple_mortar_mapper_wrapper_process.h
Labels: FastPR, Kratos Core, Warning

#5113 [ContactStructuralMechanicsApplication] Improve interface preprocess robustness
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_interface_preprocess_utilities.cpp
Labels: Applications, FastPR, Hotfix, Testing

#5114 [Core] Update database by default on MortarMapper
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/processes/simple_mortar_mapper_wrapper_process.h
  kratos/tests/auxiliar_files_for_python_unnitest/mortar_mapper_python_tests/test_double_curvature_integration_triangle_discontinous_interface.json
  kratos/tests/test_mortar_mapper.py
Labels: Applications, Enhancement, Kratos Core

#5105 [Core][ModelPart] adding IsDistributed
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
Labels: Kratos Core, Parallel-MPI

#5102 [FEMDEM] Some minor improvements
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_utilities/constitutive_law_utilities.h
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
Labels: FastPR

#5012 Mpi/serialized communication
  kratos/includes/data_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_serialized_communication.cpp
  kratos/processes/find_global_nodal_neighbours_process.h
  kratos/utilities/global_pointer_utilities.h
  kratos/utilities/pointer_communicator.h
Labels: Feature, Parallel-MPI

#5116 [Fluid] Non-historical nodal based EMBEDDED_VELOCITY
  applications/FluidDynamicsApplication/custom_elements/embedded_ausas_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.h
  applications/FluidDynamicsApplication/custom_elements/embedded_navier_stokes.h
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/EmbeddedPiston2DTestParameters.json
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_navier_stokes_element.cpp
  applications/FluidDynamicsApplication/tests/embedded_couette_imposed_test.py
  applications/FluidDynamicsApplication/tests/embedded_piston_test.py
  applications/FluidDynamicsApplication/tests/embedded_velocity_inlet_emulation_test.py
Labels: Applications, Behaviour Change, Enhancement

#5117 Mpi/feature long unsigned int support
  kratos/includes/data_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
Labels: Parallel-MPI

#5123 [Dam] Improve variables mapping
  applications/DamApplication/custom_utilities/mapping_variables_3D_utilities.hpp
Labels: Enhancement

#5126 [FSI][HotFix] Correction in partitioned FSI utils
  applications/FSIapplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FSIapplication/custom_utilities/partitioned_fsi_utilities.hpp
Labels: Applications, Bugfix, FastPR

#5125 [MeshMoving][HotFix] FM-ALE check mesh BCs
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
Labels: Applications, FastPR, Hotfix

#5047 Modify sensitivity composition
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_point_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_linear_strain_energy_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.cpp
  kratos/utilities/sensitivity_builder.cpp
Labels: Applications, Enhancement, Kratos Core

#5137 [MeshingApplication] Fixing export of MMGIO to python
  applications/MeshingApplication/CMakeLists.txt
  applications/MeshingApplication/custom_python/add_custom_io_to_python.cpp
  applications/MeshingApplication/custom_python/kratos_meshing_python_application.cpp
Labels: Applications, FastPR, Hotfix, Python

#5133 [FSI] Finalize() in convergence accelerator base class
  applications/FSIapplication/custom_utilities/convergence_accelerator.hpp
Labels: Applications, FastPR

#5138 [MeshingApplication] Adding simple Hessian 2D remeshing test
  applications/MeshingApplication/tests/mmg_lagrangian_test/remesh_rectangle.mdpa
  applications/MeshingApplication/tests/mmg_lagrangian_test/remesh_rectangle_result.sol
  applications/MeshingApplication/tests/test_MeshingApplication.py
  applications/MeshingApplication/tests/test_remesh_rectangle.py
Labels: Applications, FastPR, Testing

#5110 [ParticleMechanics] Feature cosimulation coupling
  applications/EmpireApplication/python_scripts/co_simulation_solvers/kratos_particle_solver.py
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_dirichlet_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_coupling_interface_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_coupling_interface_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_dirichlet_condition.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_axisymmetry.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.hpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_strategies/schemes/MPM_residual_based_bossak_scheme.hpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/MPM_strategy.h
  applications/ParticleMechanicsApplication/custom_utilities/particle_mechanics_math_utilities.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_coupling_interface_condition_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mechanics_analysis.py
  applications/ParticleMechanicsApplication/python_scripts/particle_mpm_solver.py
  applications/ParticleMechanicsApplication/tests/axisym_tests/circular_plate_axisym_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_line_load_2D_quad_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_point_load_2D_tri_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_surface_load_3D_hexa_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/hyperelastic_cantilever_beam/self_weight_load_2D_quad_test_materials.json
  applications/ParticleMechanicsApplication/tests/cl_tests/solid_cl/linear_elastic_3D_hexa_test_materials.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_compressible_cook_membrane_2D_test_materials.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/UP_incompressible_cook_membrane_2D_test_materials.json
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/compressible_cook_membrane_2D_test_materials.json
  applications/ParticleMechanicsApplication/tests/gravity_tests/dynamic_gravity_application_test_materials.json
  applications/ParticleMechanicsApplication/tests/slip_tests/slip_boundary_test_materials.json
Labels: Applications, Enhancement, Feature

#5130 [Core][ModelPart] SetBufferSize not working with SubSubModelpar…
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
Labels: Bug, Hotfix, Kratos Core

#5142 [Core] Adding HasIntersection method to Prism3D6N
  kratos/geometries/prism_3d_6.h
  kratos/tests/cpp_tests/geometries/test_prism_3d_6.cpp
Labels: Incomplete, Kratos Core, Testing
