Repository KratosMultiphysics/Kratos, pull requests merged in 2019-03, with the labels that each got.

#4243 [Fluid] Get value on integration points and EMBEDDED_VELOCITY calculation
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
Labels: Applications, Feature

#4288 [Core] modelpart fix printing
  kratos/sources/model_part.cpp
  kratos/tests/test_object_printing.py
Labels: Hotfix, Kratos Core, Release

#4303 fix(StructuralMechanics): updated mpi test parameters
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory_mpi.py
Labels: Testing

#4304 fix(StructuralMechanics): json sub model part list warnings in tests
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/nonlinear_truss_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/nonlinear_truss_test_parameters.json
  applications/StructuralMechanicsApplication/tests/beam_test/nonlinear_force_3D2NBeamCr_test_parameters.json
  applications/StructuralMechanicsApplication/tests/rayleigh_process_test/test_rayleigh_parameters.json
  applications/StructuralMechanicsApplication/tests/rigid_test/test_block_mpc_parameters.json
  applications/StructuralMechanicsApplication/tests/rigid_test/test_elimination_mpc_parameters.json
Labels: Testing

#4306 [Trilinos] fix after #3772
  applications/TrilinosApplication/amgcl_mpi_solver_impl.cpp
  applications/TrilinosApplication/external_includes/epetra_default_setter.h
Labels: Applications, FastPR, Hotfix

#3773 [Metis] rename metis_application to MetisApplication
  README.md
  applications/CMakeLists.txt
  applications/MetisApplication/CMakeLists.txt
  applications/MetisApplication/MetisApplication.py
  applications/MetisApplication/README.md
  applications/MetisApplication/custom_processes/metis_contact_partitioning_process.h
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_in_memory_process.h
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.h
  applications/MetisApplication/custom_processes/metis_divide_input_to_partitions_process.h
  applications/MetisApplication/custom_processes/metis_graph_partitioning_process.h
  applications/MetisApplication/custom_processes/metis_parallel_partitioning_process.h
  applications/MetisApplication/custom_processes/metis_partitioning_process.h
  applications/MetisApplication/custom_processes/metis_partitioning_process_quadratic.h
  applications/MetisApplication/custom_processes/metis_scalar_reorder_process.h
  applications/MetisApplication/custom_processes/metis_separate_partition_with_interface_process.h
  applications/MetisApplication/custom_processes/morton_divide_input_to_partitions_process.h
  applications/MetisApplication/custom_processes/morton_partitioning_process.h
  applications/MetisApplication/custom_processes/set_mpi_communicator_process.h
  applications/MetisApplication/custom_python/add_processes_to_python.cpp
  applications/MetisApplication/custom_python/add_processes_to_python.h
  applications/MetisApplication/custom_python/kratos_metis_python_application.cpp
  applications/MetisApplication/metis_application.cpp
  applications/MetisApplication/metis_application.h
  applications/MetisApplication/test_exemples/square_domain/square_domain.py
  applications/MetisApplication/test_exemples/square_domain/square_domain_contact.py
  applications/MetisApplication/test_exemples/square_domain/test.cond
  applications/MetisApplication/test_exemples/square_domain/test.elem
  applications/MetisApplication/test_exemples/square_domain/test.init
  applications/MetisApplication/test_exemples/square_domain/test.node
  applications/MetisApplication/test_exemples/square_domain/test.prop
Labels: After Release, Applications, Cleanup

#4301 [Trilinos] clean solvers 2
  applications/TrilinosApplication/external_includes/amesos_solver.h
  applications/TrilinosApplication/external_includes/aztec_solver.h
Labels: Applications, Cleanup, Parallel-MPI

#4315 [Core] adding function to print deprecation-warning
  kratos/python_scripts/kratos_utilities.py
Labels: Deprecated, Warning

#4312 [Core]ReadmaterialsUtility check for value-overwrites
  kratos/utilities/read_materials_utility.cpp
  kratos/utilities/read_materials_utility.h
Labels: Enhancement, Kratos Core, Warning

#4252 [Core] fix amatrix-compilation
  kratos/utilities/math_utils.h
Labels: Compilation, Error, Kratos Core

#3744 [Core]Clean up tetrahedral mesh orientation check
  kratos/CMakeLists.txt
  kratos/processes/tetrahedral_mesh_orientation_check.cpp
  kratos/processes/tetrahedral_mesh_orientation_check.h
  kratos/tests/test_tetrahedral_mesh_orientation_check.py
Labels: Cleanup, Kratos Core

#4318 [Core][FastPR] Exporting constructor with extra rays tolerance
  kratos/python/add_processes_to_python.cpp
Labels: FastPR, Kratos Core

#4316 Support for conditional expressions in KRATOS_CHECK_EQUAL macros
  kratos/includes/checks.h
Labels: Kratos Core, Testing

#4261 Updating application name in the FluidDynamics license header.
  applications/FluidDynamicsApplication/license.txt
Labels: Applications, Licencing

#4310 [Dam] Correct mapping
  applications/DamApplication/custom_utilities/mapping_variables_2D_utilities.hpp
  applications/DamApplication/custom_utilities/mapping_variables_3D_utilities.hpp
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
Labels: Bugfix

#4317 refactor(StructuralMechanics): removed adjoint structural static scheme
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_schemes/adjoint_structural_static_scheme.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_response.py
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/nonlinear_truss_test_local_stress_adjoint_parameters.json
  kratos/solving_strategies/schemes/residual_based_adjoint_static_scheme.h
Labels: Applications, Cleanup

#4331 [Core] Skipping inactive elements on SkinDetectionProcess
  kratos/processes/skin_detection_process.cpp
  kratos/tests/cpp_tests/processes/test_skin_detection_process.cpp
Labels: Enhancement, Kratos Core

#4313 Structural/move update sensitivity call
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.cpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_response.py
Labels: Enhancement, Python

#4320 [StructuralMechanics][Testing] print logger info if desired
  applications/StructuralMechanicsApplication/python_scripts/automatic_rayleigh_parameters_computation_process.py
  applications/StructuralMechanicsApplication/tests/mesh_moving_test/simple_mesh_moving_test.mdpa
  applications/StructuralMechanicsApplication/tests/rayleigh_process_test/test_rayleigh_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_struct_scordelis_lo_roof_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_T3andQ4_linear_static_unstruct_scordelis_lo_roof_parameters.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
Labels: FastPR, Logging, Testing

#4299 [Trilinos] Minor cleanup ML-Solver
  applications/TrilinosApplication/external_includes/ml_solver.h
Labels: Applications, Cleanup, Parallel-MPI

#3835 Remove modelpart constructor
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
Labels: API Breaker, Cleanup, Deprecated, Kratos Core

#4333 structural/masonry_damage_cl_2d_error in function corrected
  applications/StructuralMechanicsApplication/custom_constitutive/plane_stress_d_plus_d_minus_damage_masonry_2d.cpp
Labels: FastPR

#4340 [Core] Adding the initialize and finalize to the constraints
  kratos/solving_strategies/schemes/residual_based_implicit_time_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme.h
  kratos/solving_strategies/schemes/scheme.h
Labels: Enhancement, Kratos Core

#4341 Solving a bug with model_part_name
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_solver.py
Labels: Bugfix

#4300 [MeshMoving] using move-mesh from utilities
  applications/MeshMovingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
Labels: Applications, Cleanup

#4309 [Core] Update Replacement Process
  kratos/processes/replace_elements_and_condition_process.cpp
  kratos/processes/replace_elements_and_condition_process.h
  kratos/tests/cpp_tests/processes/test_replace_elements_and_condition_process.cpp
Labels: Enhancement, Kratos Core

#4286 [Core] Residual criteria and block B&S correction
  applications/StructuralMechanicsApplication/tests/test_patch_test_truss.py
  applications/TrilinosApplication/custom_strategies/convergencecriterias/trilinos_residual_criteria.h
  kratos/solving_strategies/convergencecriterias/and_criteria.h
  kratos/solving_strategies/convergencecriterias/or_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Bugfix, Enhancement, Kratos Core

#4298 [Core] Hotfix of BlockBuilderAndSolver
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_complex_orientation_mpc.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
Labels: Bugfix

#4347 [FEMDEM] Correcting pressure extrapolation process
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_processes/assign_pressure_id_process.cpp
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.h
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.h
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
Labels: Applications, Enhancement

#4343 [Core][Release] Adding the initialize and finalize to the constraints
  kratos/solving_strategies/schemes/residual_based_implicit_time_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme.h
  kratos/solving_strategies/schemes/scheme.h
Labels: Enhancement, Kratos Core, Release

#4349 [Core][Release] Hotfix of BlockBuilderAndSolver
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_complex_orientation_mpc.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
Labels: Hotfix, Kratos Core, Release

#4345 [SDEM] correcting worng indentation
  applications/SwimmingDEMApplication/python_scripts/KratosSwimmingDEMAnalysis.py
Labels: Bugfix

#4350 [Core][Release] Residual criteria and block B&S correction
  applications/StructuralMechanicsApplication/tests/test_patch_test_truss.py
  applications/trilinos_application/custom_strategies/convergencecriterias/trilinos_residual_criteria.h
  kratos/solving_strategies/convergencecriterias/and_criteria.h
  kratos/solving_strategies/convergencecriterias/or_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Kratos Core, Release

#4344 [MeshingApplication] Hotfix deprecated ModelPart constructor
  applications/MeshingApplication/external_includes/tetgen_cdt.h
  applications/MeshingApplication/external_includes/tetgen_pfem_contact.h
Labels: Applications, Deprecated, Hotfix

#4351 [Core] Adding support to Prism3D6 to VtkOutput
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
  kratos/tests/test_vtk_output_process.py
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_FixedEdgeNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_FixedEdgeNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_FixedEdgeNodes_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_MovingNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_MovingNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_MovingNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/ascii2D/Main_MovingNodes_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_FixedEdgeNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_FixedEdgeNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_FixedEdgeNodes_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_MovingNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_MovingNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_MovingNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/ascii3D/Main_MovingNodes_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_FixedEdgeNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_FixedEdgeNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_FixedEdgeNodes_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_MovingNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_MovingNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_MovingNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/binary2D/Main_MovingNodes_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_FixedEdgeNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_FixedEdgeNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_FixedEdgeNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_FixedEdgeNodes_0_6.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_MovingNodes_0_1.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_MovingNodes_0_2.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_MovingNodes_0_4.vtk
  kratos/tests/vtk_output_process_ref_files/binary3D/Main_MovingNodes_0_6.vtk
Labels: Cleanup, Enhancement, Kratos Core

#4357 [Empire] using MPI-mapper if running in MPI
  applications/EmpireApplication/python_scripts/co_simulation_ios/kratos_io.py
Labels: Applications, Enhancement, FastPR, Parallel-MPI

#4018 [Feature] Making the Logger MPI-aware
  kratos/input_output/logger.cpp
  kratos/input_output/logger.h
  kratos/input_output/logger_message.cpp
  kratos/input_output/logger_message.h
  kratos/input_output/logger_output.cpp
  kratos/input_output/logger_output.h
  kratos/input_output/logger_table_output.cpp
  kratos/input_output/logger_table_output.h
  kratos/python/add_logger_to_python.cpp
  kratos/tests/cpp_tests/input_output/test_logger.cpp
Labels: Enhancement, Kratos Core, Logging, Parallel-MPI

#4240 [Core] Removing deprecated Line2D
  applications/DelaunayMeshingApplication/delaunay_meshing_application.cpp
  applications/MixedElementApplication/mixedelement_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.h
  applications/ShapeOptimizationApplication/shape_optimization_application.cpp
  applications/TopologyOptimizationApplication/topology_optimization_application.cpp
  applications/ULFapplication/ULF_application.cpp
  applications/convection_diffusion_application/convection_diffusion_application.cpp
  applications/freezing_soil_application/freezing_soil_application.cpp
  applications/pfem_2_application/pfem_2_application.cpp
  applications/radiation_application/radiation_application.cpp
  applications/structural_application/structural_application.cpp
  kratos/geometries/line_2d.h
Labels: Applications, Cleanup, Consensus, Deprecated, Kratos Core

#4128 Mpi/logo printing
  applications/MappingApplication/mapping_application.cpp
  applications/MetisApplication/metis_application.cpp
  applications/TrilinosApplication/trilinos_application.cpp
Labels: Applications, FastPR

#4363 [MeshingApplication] Updating and cleaning up the tests
  applications/MeshingApplication/tests/cpp_tests/test_integration_values_extrapolation_to_nodes_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_meshing_utilities.cpp
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_uniform_refinement_utility.cpp
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_result.sol
  applications/MeshingApplication/tests/run_cpp_unit_tests.py
Labels: Applications, Cleanup, Testing

#4200 [Trilinos] remove custom gid io
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/custom_python/add_custom_io_to_python.cpp
  applications/TrilinosApplication/custom_python/add_custom_io_to_python.h
  applications/TrilinosApplication/custom_python/trilinos_python_application.cpp
  applications/TrilinosApplication/custom_utilities/custom_gid_io.h
  applications/TrilinosApplication/custom_utilities/custom_gid_mesh_container.h
Labels: Applications, Cleanup, Parallel-MPI

#4131 [Model] add warning if flat-map is used
  kratos/containers/model.cpp
Labels: After Release, Deprecated, Kratos Core, Warning

#4367 [ContactStructuralMechanicsApplication] Cleaning up duplicated Mortar mapper tests
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_double_curvature_integration_quadrilateral.json
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_double_curvature_integration_triangle.json
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_integration_several_triangles.json
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_integration_several_triangles.mdpa
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_simple_curvature.json
  applications/ContactStructuralMechanicsApplication/tests/integration_tests/test_simple_curvature.mdpa
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
  applications/ContactStructuralMechanicsApplication/tests/test_mortar_mapper.py
  kratos/tests/mortar_mapper_python_tests/test_double_curvature_integration_quadrilateral.mdpa
  kratos/tests/mortar_mapper_python_tests/test_double_curvature_integration_triangle.mdpa
Labels: Applications, Cleanup, Testing

#4027 [Core] Updating deprecation messages for more information
  kratos/includes/constitutive_law.h
Labels: FastPR, Kratos Core, Warning

#4369 [ShapeOpt] Minor bug fix
  applications/ShapeOptimizationApplication/python_scripts/model_part_controller_factory.py
Labels: Bugfix, FastPR

#4379 [Shallow] Substracting bottom diffusion
  applications/ShallowWaterApplication/custom_elements/conserved_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_cons_var_element.cpp
  applications/ShallowWaterApplication/custom_elements/euler_prim_var_element.cpp
Labels: Enhancement, FastPR

#4384 [ContactStructuralMechanicsApplication] Tests relative paths
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, FastPR, Hotfix, Testing

#4385 [StructuralMechanicsApplication] Commenting debug GidIO generation
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_complex_orientation_mpc.cpp
Labels: Applications, Cleanup, Testing

#4254 [Core] cleanup connectivity-preserve-modeler
  kratos/modeler/connectivity_preserve_modeler.h
  kratos/modeler/modeler.h
  kratos/sources/connectivity_preserve_modeler.cpp
Labels: Cleanup, Kratos Core

#4388 [Fluid] Symbolic generation update
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/README.md
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/generate_navier_stokes_element.py
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/navier_stokes_element.lyx
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/navier_stokes_element_derivation.ipynb
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/symbolic_navier_stokes_cpp_template.cpp
Labels: Applications, Cleanup

#4393 Bugfix within creation of adjoint settings
  applications/StructuralMechanicsApplication/python_scripts/structural_response.py
Labels: Bugfix, Python

#4398 [StructuralMechanicsApplication] Removing deprecated warning InvertMatrix
  applications/StructuralMechanicsApplication/custom_utilities/rayleigh_damping_coefficients_utilities.cpp
Labels: Applications, FastPR, Warning

#4381 [SDEM-PFEM] Updating DEM-PFEM coupling to new Swimming DEM standard
  applications/DEMApplication/python_scripts/sphere_strategy.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_dynamics_analysis.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver_analysis.py
  applications/SwimmingDEMApplication/custom_elements/swimming_particle.cpp
  applications/SwimmingDEMApplication/python_scripts/DEM_coupled_pfem_fluid_dynamics_analysis.py
  applications/SwimmingDEMApplication/python_scripts/KratosSwimmingDEMPFEMAnalysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_PFEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_procedures.py
  applications/SwimmingDEMApplication/python_scripts/variables_management.py
  applications/SwimmingDEMApplication/tests/NightTests.py
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/ProjectParameters.json
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/errors_one_way.json
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/sdem_pfem_coupling_one_way_test.mdpa
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/sdem_pfem_coupling_one_way_testDEM.mdpa
  applications/SwimmingDEMApplication/tests/SPFEMTestFactory.py
  applications/SwimmingDEMApplication/tests/define_output.py
Labels: Cleanup

#4399 [ContactStructuralMechanicsApplication] Separating KratosContactStructuralMechanicsCore and KratosContactStructuralMechanicsApplication
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_utilities/advanced_contact_search.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/base_contact_search.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/simple_contact_search.h
Labels: Applications, Cleanup, FastPR, Hotfix

#4402 [ContactStructuralMechanicsApplication] Fixing linking problem
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_mappers_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_mappers_to_python.h
  applications/ContactStructuralMechanicsApplication/custom_python/contact_structural_mechanics_python_application.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.h
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
  applications/ContactStructuralMechanicsApplication/tests/test_dynamic_search.py
Labels: Applications, Hotfix

#4403 [ContactStructuralMechanicsApplication] Typo on python scripts for search
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
Labels: Applications, FastPR, Python, Typo

#4383 [Core] Creating a GaussSeidelEigenSystem decomposition
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_utilities/metrics_math_utils.h
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  kratos/tests/cpp_tests/utilities/test_math_utils.cpp
  kratos/utilities/math_utils.h
Labels: API Breaker, Behaviour Change, Hotfix, Kratos Core, Transition

#4360 [Core] Improving cpp tests on GeometryUtilities
  kratos/tests/cpp_tests/processes/test_skin_detection_process.cpp
  kratos/tests/cpp_tests/utilities/test_geometry_utils.cpp
  kratos/utilities/geometry_utilities.h
Labels: Kratos Core, Testing

#4372 [Core] Moving cpp tests to the correct folder
  kratos/tests/cpp_tests/global_pointers/test_global_pointers_container.cpp
  kratos/tests/cpp_tests/global_pointers/test_global_pointers_vector.cpp
Labels: Cleanup, FastPR, Kratos Core

#4395 [DEM] clang compiler warnings
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_elements/spheric_continuum_particle.h
  applications/DEMApplication/custom_utilities/analytic_tools/analytic_face_watcher.h
Labels: Warning

#4405 [ParticleMechanics] Remove nightly error
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_dirichlet_condition.cpp
Labels: Error, FastPR, Testing

#4409 [ContactStructuralMechanicsApplication] Transition PR. Making the search utility into process
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/simple_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/simple_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
  applications/ContactStructuralMechanicsApplication/tests/test_dynamic_search.py
Labels: Applications, Enhancement

#4392 [Pfem2] [SwimmingDem] Custom body force
  applications/SwimmingDEMApplication/python_scripts/apply_custom_body_force_process.py
  applications/SwimmingDEMApplication/python_scripts/custom_body_force/hdf5_output_tool.py
  applications/SwimmingDEMApplication/python_scripts/custom_body_force/manufactured_solution.py
  applications/SwimmingDEMApplication/python_scripts/custom_body_force/polynomial_vortex.py
  applications/SwimmingDEMApplication/python_scripts/custom_body_force/sinusoidal_vortex.py
  applications/pfem_2_application/custom_utilities/move_particle_utility_pfem2.h
  applications/pfem_2_application/python_scripts/pfem_2_process.py
Labels: Python

#4411 [Structural Mechanics Application] Correcting Kinematic Hardening small strain plasticity
  applications/StructuralMechanicsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_kinematic_plasticity.h
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_kinematic_plasticity.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/generic_small_strain_kinematic_plasticity.h
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
Labels: Applications, Enhancement, FastPR

#4412 [Core] Moving the MortarUtilities to cpp
  kratos/CMakeLists.txt
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_mortar_utilities.py
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/mortar_utilities.h
Labels: Cleanup, Compilation, FastPR, Kratos Core

#4396 [FEMDEM] Correcting minor details of the expand_wet_node_process
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/expand_wet_nodes_process.h
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
Labels: Applications, Enhancement, FastPR

#4415 [ContactStructuralMechanicsApplication] Minor clean up of the tests on the application
  applications/ContactStructuralMechanicsApplication/custom_processes/compute_dynamic_factor_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/compute_dynamic_factor_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
  applications/ContactStructuralMechanicsApplication/tests/test_dynamic_search.py
Labels: Applications, Cleanup, FastPR, Testing

#4319 [MeshMoving] refactor testing
  applications/MeshMovingApplication/python_scripts/mesh_solver_laplacian.py
  applications/MeshMovingApplication/tests/generic_rectangle_test_parameters.json
  applications/MeshMovingApplication/tests/impose_ale_rectangle_test_motion_process.py
  applications/MeshMovingApplication/tests/mesh_moving_test_case.py
  applications/MeshMovingApplication/tests/mpi_test_laplacian_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/mpi_test_laplacian_mesh_motion_3d.py
  applications/MeshMovingApplication/tests/mpi_test_structural_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/mpi_test_structural_mesh_motion_3d.py
  applications/MeshMovingApplication/tests/test_MeshMovingApplication_mpi.py
  applications/MeshMovingApplication/tests/test_ale_fluid_solver.py
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D3N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D3N_test_results.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/mpi_rectangle_2D4N_test_results.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D3N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D3N_test_results.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d/rectangle_2D4N_test_results.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d.py
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D4N_test_results.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D8N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/mpi_rectangle_3D8N_test_results.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D4N_test_results.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D8N_test_parameters.json
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d/rectangle_3D8N_test_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_2D3N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_2D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_3D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_3D8N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_2D3N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_2D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_3D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_3D8N_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D3N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D3N_test_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/mpi_rectangle_2D4N_test_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/rectangle_2D3N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/rectangle_2D3N_test_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/rectangle_2D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d/rectangle_2D4N_test_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d.py
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D4N_test_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D8N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/mpi_rectangle_3D8N_test_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/rectangle_3D4N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/rectangle_3D4N_test_results.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/rectangle_3D8N_test_parameters.json
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d/rectangle_3D8N_test_results.json
Labels: Applications, Testing

#4422 [Core][Hotfix] Projecting points on ExactMortarIntegrationUtility
  kratos/utilities/exact_mortar_segmentation_utility.cpp
Labels: Enhancement, Hotfix, Kratos Core

#4419 [ParticleMechanics] Adding neglect check for CamClay
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.cpp
Labels: FastPR

#4407 [StructuralMechanicsApplication] Fixes error on validation tests after #4276
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.cpp
Labels: Applications, Hotfix

#4431 Fixing check for periodic boundary conditions in fractional step solver.
  applications/FluidDynamicsApplication/custom_strategies/strategies/fs_strategy.h
Labels: Applications, C++, Hotfix

#4432 [Structural] Adding a test for the kinematic hardening plasticity
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_kinematic_plasticity_constitutive_laws_3d.cpp
Labels: FastPR

#4062 [Core]Cleanup residual based bossak displacement scheme
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
Labels: Cleanup, Discussion, Kratos Core

#4436 [Core][Hotfix] Hotfix 4433
  kratos/CMakeLists.txt
Labels: Hotfix, Kratos Core

#4342 [Trilinos] clean ML-Solver
  applications/TrilinosApplication/external_includes/ml_solver.h
Labels: Applications, Cleanup, Parallel-MPI

#4410 [Core][NR-Strategy] adding iteration-number print
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Enhancement, Kratos Core

#4428 [MeshMovingApp] warning abt mesh vel calc & fixing tests
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/tests/generic_rectangle_test_parameters.json
  applications/MeshMovingApplication/tests/mesh_moving_test_case.py
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_2D3N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_2D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_3D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_laplacian_3D8N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_2D3N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_2D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_3D4N_results.json
  applications/MeshMovingApplication/tests/test_results/mesh_moving_rectangle_structural_similarity_3D8N_results.json
Labels: Applications, Hotfix, Testing

#4440 [Core] Minor clean up of MortarUtilities (also reducing debug verbosity)
  kratos/utilities/mortar_utilities.cpp
Labels: Cleanup, FastPR, Kratos Core

#4425 [MeshMovingApp] cleaning mesh-moving analysis
  applications/MeshMovingApplication/python_scripts/mesh_moving_analysis.py
  applications/ShapeOptimizationApplication/python_scripts/mesh_controller_with_solver.py
  applications/ShapeOptimizationApplication/python_scripts/model_part_controller_factory.py
  applications/ShapeOptimizationApplication/test_examples/01_Strain_Energy_Minimization_3D_Hook/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_eigenfrequency_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_shell_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/primal_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_solid_test/run_test.py
  applications/ShapeOptimizationApplication/tests/opt_process_weighted_eigenfrequency_test/run_test.py
Labels: Applications, Cleanup

#4441 [FSI] Hotfix optimal mesh resolution
  applications/FSIapplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FSIapplication/python_scripts/partitioned_fsi_dirichlet_neumann_solver.py
Labels: Applications, FastPR, Hotfix

#4442 [ShapeOpt] Allow to specify max neighbor nodes in damping
  applications/ShapeOptimizationApplication/custom_utilities/damping/damping_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/model_part_controller_factory.py
Labels: Cleanup, Enhancement, FastPR

#4447 [PfemFluid] Update tests to new python standard
  applications/PfemFluidDynamicsApplication/custom_processes/adaptive_time_interval_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/remove_mesh_nodes_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/python_scripts/MainFluidPFEM.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_dynamics_analysis.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_explicit_solver.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_nodal_integration_solver.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver_analysis.py
  applications/PfemFluidDynamicsApplication/tests/NightTests.py
  applications/PfemFluidDynamicsApplication/tests/SmallTests.py
  applications/PfemFluidDynamicsApplication/tests/TestFactory.py
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Mu_Rheology/Dam_Break_2D_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Mu_Rheology/Dam_break_2D.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Mu_Rheology/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Newtonian_fluid/Dam_Break_2D_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Newtonian_fluid/Dam_break_2D.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Newtonian_fluid/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Non_Newtonian_fluid/Dam_Break_2D_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Non_Newtonian_fluid/Dam_break_2D.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Dam_Break_2D/Non_Newtonian_fluid/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Bingham/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Bingham/Test_2D_Bingham_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/Test_2D_FSI_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Newtonian_Sloshing/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Newtonian_Sloshing/Test_2D_Newtonian_Sloshing_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/Test_2D_muIrheology_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/Test_3D_Newtonian_Sloshing_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Mu_Rheology/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Mu_Rheology/Water_sloshing_2D.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Mu_Rheology/Water_sloshing_2D_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Newtonian_fluid/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Newtonian_fluid/Water_sloshing_2D.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Newtonian_fluid/Water_sloshing_2D_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Non_Newtonian_fluid/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Non_Newtonian_fluid/Water_sloshing_2D.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_2D/Non_Newtonian_fluid/Water_sloshing_2D_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_Box/Newtonian_fluid/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_Box/Newtonian_fluid/Water_sloshing_Box.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_Box/Newtonian_fluid/Water_sloshing_Box_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_Box/Non_Newtonian_fluid/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_Box/Non_Newtonian_fluid/Water_sloshing_Box.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Water_sloshing_Box/Non_Newtonian_fluid/Water_sloshing_Box_results.json
Labels: Cleanup

#4449 [DEM] Some corrections in the force exerted by DEM on walls (glued particles)
  applications/DEMApplication/custom_conditions/RigidFace.cpp
  applications/DEMApplication/custom_conditions/RigidFace.h
  applications/DEMApplication/custom_conditions/dem_wall.h
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/DEMApplication/custom_strategies/schemes/glued_to_wall_scheme.cpp
  applications/DEMApplication/custom_strategies/schemes/glued_to_wall_scheme.h
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DemStructuresCouplingApplication/custom_python/dem_structures_coupling_python_application.cpp
  applications/DemStructuresCouplingApplication/custom_utilities/compute_dem_face_load_utility.h
  applications/DemStructuresCouplingApplication/custom_utilities/dem_structures_coupling_utilities.h
  applications/DemStructuresCouplingApplication/dem_structures_coupling_application.cpp
  applications/DemStructuresCouplingApplication/dem_structures_coupling_application_variables.h
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
Labels: Behaviour Change, Bugfix, Enhancement

#4461 Making the SerialCommunicator default if MPI is finalized.
  kratos/mpi/python/kratos_mpi_python.cpp
Labels: Hotfix, Logging, Parallel-MPI

#4462 [StructuralMechanics] move slow tests
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_membrane.py
Labels: Applications, Testing

#4466 Add MeshMovingApplication to Travis
  scripts/build/travis/configure_travis_trusty.sh
Labels: Continuous Integration

#4457 [StructuralMechanicsApplication] Hotfix convergence criteria
  applications/StructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/residual_displacement_and_other_dof_criteria.h
  applications/StructuralMechanicsApplication/tests/truss_test/nonlinear_3D2NTruss_plastic_snapthrough_test_parameters.json
Labels: Bugfix

#4474 [StructuralMechanicsApplication] Properly initializing neighbours
  applications/StructuralMechanicsApplication/custom_processes/prism_neighbours_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/prism_neighbours_process.h
Labels: Applications, Bug, Hotfix

#4463 [Fluid][MeshMoving] New piston FM-ALE validation test
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/EmbeddedPiston2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/embedded_piston_2d_test.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/embedded_piston_2d_test_structure.mdpa
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/reference_embedded_piston_2D.csv
  applications/FluidDynamicsApplication/tests/embedded_piston_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
  applications/MeshMovingApplication/custom_utilities/explicit_mesh_moving_utilities.cpp
  applications/MeshMovingApplication/tests/cpp_tests/test_explicit_mesh_movement_utility.cpp
Labels: Applications, Bugfix, Enhancement, Testing

#4478 [Structuralmechanics][ResidulCrit] fixing criteria when MPCs are present
  applications/StructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/residual_displacement_and_other_dof_criteria.h
Labels: Applications, Bugfix, Hotfix, Release

#4338 [StructMech] feature improve replacement process
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_python/add_custom_response_functions_to_python.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_point_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_point_load_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_cr_beam_element_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_shell_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_linear_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_processes/replace_elements_and_conditions_for_adjoint_problem_process.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_processes/replace_elements_and_conditions_for_adjoint_problem_process.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_processes/replace_multiple_elements_and_conditions_process.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_processes/replace_multiple_elements_and_conditions_process.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_replace_multiple_elements_and_conditions_process.cpp
  applications/StructuralMechanicsApplication/tests/test_cr_beam_adjoint_element_3d2n.py
  applications/StructuralMechanicsApplication/tests/test_linear_thin_shell_adjoint_element_3d3n.py
  applications/StructuralMechanicsApplication/tests/test_truss_adjoint_element_3d2n.py
Labels: C++, Cleanup, Enhancement

#4467 feat(core): added GetStringArray() to Parameters
  kratos/includes/kratos_parameters.h
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/sources/kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Kratos Core

#4473 [Release] Cherrypick #4350 and #4462 into Release branch
  .travis.yml
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_prism_neighbours_process.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_shell_to_solid_shell_process.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_solid_shell_thickness_compute_process.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_solid_static_sensitivity.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_solid_transient_sensitivity.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_spr_error_process.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_tangent_tensor_numerical_derivation_utility.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_total_lagrangian_element_matrices.cpp
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_membrane.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_truss.py
  applications/trilinos_application/custom_strategies/convergencecriterias/trilinos_residual_criteria.h
  kratos/solving_strategies/convergencecriterias/and_criteria.h
  kratos/solving_strategies/convergencecriterias/or_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Applications, Release

#4408 Feature/support reaction response function
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_python/add_custom_response_functions_to_python.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_reaction_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_reaction_response_function.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_response_function_factory.py
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_reaction_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_reaction_results.json
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitity_analysis_beam_3d2n_structure.py
Labels: C++, Feature, Python, Testing

#4376 [Core] Adding constant version of GetProperties and pGetProperties
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
Labels: Cleanup, Kratos Core

#4490 [FEMDEM] correcting the rankine fragile cl
  applications/FemToDemApplication/custom_elements/femdem2d_element.cpp
Labels: FastPR

#4496 Structural/fix tests
  applications/StructuralMechanicsApplication/tests/beam_test/dynamic_3D2NBeamCr_test_parameters.json
  applications/StructuralMechanicsApplication/tests/beam_test/nonlinear_3D2NBeamCr_test_parameters.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_Cable_test_parameters.json
  applications/StructuralMechanicsApplication/tests/truss_test/nonlinear_3D2NTruss_test_parameters.json
Labels: Applications, Hotfix, Testing

#4492 [Core] Fixing process
  applications/StructuralMechanicsApplication/tests/mesh_moving_test/simple_mesh_moving_test_parameters.json
  applications/StructuralMechanicsApplication/tests/rigid_test/sphere_failing_explicit_parameters.json
  applications/StructuralMechanicsApplication/tests/rigid_test/sphere_failing_parameters.json
  kratos/python_scripts/check_scalar_to_nodes_process.py
Labels: Behaviour Change, Bugfix, Kratos Core

#4497 [StructuralMechanicsApplication] Fixing lack of mass transfer on explicit MPC
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/mechanical_explicit_strategy.hpp
  applications/StructuralMechanicsApplication/tests/rigid_test/sphere_failing.mdpa
  applications/StructuralMechanicsApplication/tests/rigid_test/sphere_failing_explicit_parameters.json
  kratos/utilities/constraint_utilities.cpp
  kratos/utilities/constraint_utilities.h
Labels: Applications, Enhancement, Kratos Core, Testing

#4458 [Shallow] Boundary conditions processes
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.cpp
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.h
  applications/ShallowWaterApplication/custom_processes/initial_perturbation_process.cpp
  applications/ShallowWaterApplication/custom_processes/initial_perturbation_process.h
  applications/ShallowWaterApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/python_scripts/initial_perturbation_process.py
  applications/ShallowWaterApplication/python_scripts/wave_generator_process.py
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/cpp_tests/test_initial_perturbation_process.cpp
  applications/ShallowWaterApplication/tests/cpp_tests/test_shallow_element.cpp
Labels: Applications

#4503 [ContactStructuralMechanicsApplication] Clean up json from tests
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/hyper_simple_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/pure_friction_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/taylor_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_sphere_plate_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_with_elimination_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_with_elimination_with_constraints_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_triangle_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/ironing_die_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/ironing_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_notmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_hertz_sphere_plate_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_notmatching_a_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_notmatching_b_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/taylor_patch_dynamic_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/taylor_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_nonmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_test_large_disp_hexa_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_test_large_disp_tetra_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_adaptative_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_quadtri_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_triquad_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_multi_contact_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_patch_test_large_disp_hexa_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_quadtri_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_triquad_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/hyper_simple_slope_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/penalty_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/penalty_frictionless_contact_test_3D/explicit_3D_contact_simplest_patch_matching_test_parameters.json
Labels: Applications, Cleanup, FastPR

#4491 [Core] removing test examples
  kratos/test_examples/constitutive_law_base_benchmark.py
  kratos/test_examples/kratos_run_all_benchmarks.py
  kratos/test_examples/test_variables_python_interface.py
Labels: Cleanup, Kratos Core

#4514 [FemDem] Adding the capability to change the dt
  applications/FemToDemApplication/python_scripts/CouplingFemDem.py
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
  applications/FemToDemApplication/python_scripts/MainFemDem.py
Labels: Applications, FastPR

#4516 [DEM]Compatibility tweaks hotfix for main_script
  applications/DEMApplication/python_scripts/DEM_material_test_script.py
  applications/DEMApplication/python_scripts/main_script.py
  applications/DEMApplication/test_examples/DEM_run_all_benchmarks.py
Labels: Applications, FastPR

#4518 fix(StructuralMechanics): fixed kirchhoff plane stress calculation
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_stress_2d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_plane_stress_2d.h
Labels: Bugfix

#4520 [ContactSTructuralMechanicsAplication] Reordering error on preprocess
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
Labels: Applications, FastPR, Hotfix

#4525 [PotentialFlow] using Kratos info
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application.cpp
Labels: Applications, FastPR, Logging

#4523 [StructuralMechanicsApplication] Clean up ResidualDisplacementAndOtherDoFCriteria
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/residual_displacement_and_other_dof_criteria.h
Labels: Applications, Cleanup, FastPR

#4530 [Core] Moving integration_values_extrapolation_to_nodes_process to the core
  applications/MeshingApplication/CMakeLists.txt
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
  kratos/CMakeLists.txt
  kratos/processes/integration_values_extrapolation_to_nodes_process.cpp
  kratos/processes/integration_values_extrapolation_to_nodes_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/python_scripts/integration_values_extrapolation_to_nodes_process.py
  kratos/tests/cpp_tests/processes/test_integration_values_extrapolation_to_nodes_process.cpp
Labels: Applications, Cleanup, Kratos Core

#4532 fix: broken sensitivity test
  applications/StructuralMechanicsApplication/custom_response_functions/README.md
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_reaction_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_beam_3d2n_structure.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_shell_3d3n_structure.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_truss_3d2n_structure.py
  kratos/tests/cpp_tests/utilities/test_sensitivity_builder.cpp
Labels: Cleanup, Testing

#4524 [Core] Adding missing Doxygen to VariablesListDataValueContainer
  kratos/containers/variables_list_data_value_container.h
Labels: Documentation, FastPR, Kratos Core

#4510 Sensitivity builder modify static buildmode
  kratos/utilities/sensitivity_builder.cpp
  kratos/utilities/sensitivity_builder.h
Labels: C++, Usability

#4537 [Trilinos] removing old scripts 2
  applications/TrilinosApplication/python_scripts/deprecated_trilinos_linear_solver_factory.py
  applications/TrilinosApplication/python_scripts/trilinos_contact_strategy.py
  applications/TrilinosApplication/python_scripts/trilinos_contact_structural_solver.py
  applications/TrilinosApplication/python_scripts/trilinos_convdiff_solver.py
  applications/TrilinosApplication/python_scripts/trilinos_decoupled_up_strategy_python.py
  applications/TrilinosApplication/python_scripts/trilinos_gid_output.py
  applications/TrilinosApplication/python_scripts/trilinos_levelset_solver.py
  applications/TrilinosApplication/python_scripts/trilinos_linear_elastic_ml_solver.py
  applications/TrilinosApplication/python_scripts/trilinos_strategy_python.py
  applications/TrilinosApplication/python_scripts/trilinos_structural_solver_static.py
Labels: Applications, Cleanup, Deprecated, Parallel-MPI, Python

#4429 Core/data communicator serial defaults
  kratos/includes/data_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_data_communicator.cpp
Labels: Behaviour Change, Kratos Core, Parallel-MPI

#4534 [Core] Fixing error when trying to post-process submodelparts with VTKProcess
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
Labels: Enhancement, Hotfix, Kratos Core, Post Process

#4543 [MeshingApplication] Moving SPR test examples to Examples repository
  applications/MeshingApplication/test_examples/beam_spr/MainKratos.py
  applications/MeshingApplication/test_examples/beam_spr/ProjectParameters.json
  applications/MeshingApplication/test_examples/beam_spr/StructuralMaterials.json
  applications/MeshingApplication/test_examples/beam_spr/beam_spr.mdpa
  applications/MeshingApplication/test_examples/contact_spr/MainKratos.py
  applications/MeshingApplication/test_examples/contact_spr/ProjectParameters.json
  applications/MeshingApplication/test_examples/contact_spr/StructuralMaterials.json
  applications/MeshingApplication/test_examples/contact_spr/contact_spr.mdpa
Labels: Applications, Cleanup, Testing

#4544 [SDEM] Fixing all tests
  applications/SwimmingDEMApplication/custom_utilities/binbased_DEM_fluid_coupled_mapping.h
Labels: Bug, Hotfix

#4546 [FEMDEM] Imrpoving variable dt in 3D
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.hpp
  applications/FemToDemApplication/python_scripts/CouplingFemDem3D.py
Labels: FastPR

#4547 [Core] Update precompiled version for nightly MMG compilation
  scripts/build/nightly_build.sh
Labels: FastPR, Kratos Core, Testing

#4548 [MeshingApplication] FIxing sphere tests after MMG update to 5.4
  applications/MeshingApplication/tests/mmg_eulerian_test/coarse_sphere_test_result.sol
  applications/MeshingApplication/tests/mmg_eulerian_test/distante_extrapolation.json
  applications/MeshingApplication/tests/mmg_eulerian_test/distante_extrapolation_skin.json
  applications/MeshingApplication/tests/mmg_eulerian_test/test_sphere_isosurface_result.sol
  applications/MeshingApplication/tests/test_remesh_sphere.py
  kratos/python_scripts/compare_two_files_check_process.py
Labels: Applications, External library, FastPR, Hotfix, Testing

#4539 test: total Lagrangian adjoint elements
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/bits/adjoint_test_model_part_factory.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/bits/test_model_part_factory.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_solid_static_sensitivity.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_solid_transient_sensitivity.cpp
Labels: Applications, Testing

#4549 [FEMDEM] Correcting hexa strategy
  applications/FemToDemApplication/custom_strategies/hexahedra_newton_raphson_strategy.h
Labels: FastPR

#4069 refactor(HDF5): moved template functions to cpp files
  applications/HDF5Application/custom_io/hdf5_file.cpp
  applications/HDF5Application/custom_io/hdf5_file.h
  applications/HDF5Application/custom_io/hdf5_file_parallel.cpp
  applications/HDF5Application/custom_io/hdf5_file_parallel.h
  applications/HDF5Application/custom_io/hdf5_file_serial.cpp
  applications/HDF5Application/custom_io/hdf5_file_serial.h
  applications/HDF5Application/custom_io/hdf5_model_part_io.cpp
Labels: Applications, Cleanup

#4555 [Core] Adding custom name prefix to VtkOutput
  kratos/input_output/vtk_output.cpp
  kratos/python_scripts/vtk_output_process.py
Labels: Enhancement, FastPR, Kratos Core

#4557 Structural/improving yield surfaces
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/drucker_prager_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/plastic_potentials/tresca_plastic_potential.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/drucker_prager_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/tresca_yield_surface.h
  applications/StructuralMechanicsApplication/custom_constitutive/yield_surfaces/von_mises_yield_surface.h
  applications/StructuralMechanicsApplication/tests/cl_test/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_DP_test_results.json
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_yield_surfaces_3d.cpp
Labels: FastPR
