Repository KratosMultiphysics/Kratos, pull requests merged in 2020-04, with the labels that each got.

#6651 [Core] fix __cplusplus
  CMakeLists.txt
Labels: Compilation, Kratos Core, Windows

#6650 [Core] clean deprecated py interface
  kratos/python/add_constitutive_law_to_python.cpp
  kratos/python/add_mesh_to_python.cpp
Labels: Cleanup, Deprecated, Kratos Core, Python

#6640 [CoSim] missing updates in tests
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/mpm_fem_beam/ProjectParametersMPM.json
Labels: Applications, FastPR, Testing

#6652 [Cosim] minor reorganization
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/co_simulation_tools.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
  applications/CoSimulationApplication/python_scripts/factories/helpers.py
Labels: Applications, Cleanup, FastPR

#6656 [Cosim] fix win issues
  applications/CoSimulationApplication/custom_io/co_sim_EMPIRE_API.h
  applications/CoSimulationApplication/python_scripts/co_simulation_tools.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_co_simulation_coupled_solver.py
  applications/CoSimulationApplication/tests/test_cosim_EMPIRE_API.py
Labels: Applications, FastPR, Testing, Windows

#6657 [FluidMechanicsApplication] Legacy code VariableUtils updated
  applications/FluidDynamicsApplication/custom_processes/two_fluids_inlet_process.cpp
Labels: Applications, Deprecated, FastPR

#6661 [CI]Win] add Mapping & CoSim
  .github/workflows/ci.yml
Labels: Applications, Continuous Integration, Windows

#6655 [core] correct cmake
  kratos/CMakeLists.txt
Labels: Bugfix

#6548 [Fluid][RANS] Updated RANSApplication to work with Line and Surface conditions
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/turbulence_model_solver.py
  applications/RANSApplication/python_scripts/evm_k_epsilon_configuration.py
  applications/RANSApplication/python_scripts/turbulence_eddy_viscosity_model_configuration.py
  applications/RANSApplication/python_scripts/turbulence_model_factory.py
Labels: Applications, Python

#6580 [BuilderAndSolver] Using new Scheme Interface
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver_periodic.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_componentwise.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_slip.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/solving_strategies/schemes/scheme.h
Labels: Cleanup, Kratos Core

#6668 [Fluid][Analysis] cleaning old code
  applications/FluidDynamicsApplication/python_scripts/fluid_dynamics_analysis.py
Labels: Applications, Cleanup, Deprecated

#6669 Fixing Clang warnings
  .github/workflows/ci.yml
  applications/FluidDynamicsApplication/custom_elements/vms_adjoint_element.h
  applications/FluidDynamicsApplication/custom_processes/shock_detection_process.h
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_element_aux_classes.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_neighbor_aux_classes.cpp
  kratos/processes/entity_erase_process.cpp
  kratos/processes/entity_erase_process.h
  kratos/utilities/entities_utilities.cpp
Labels: Clang, Cleanup, Compilation, Continuous Integration, Warning

#6677 [Core] Replace GetDefaultSettings with GetDefaultParameters
  kratos/processes/skin_detection_process.cpp
  kratos/processes/skin_detection_process.h
  kratos/processes/sub_model_part_skin_detection_process.cpp
  kratos/processes/sub_model_part_skin_detection_process.h
Labels: Cleanup, FastPR, Inconsistent, Kratos Core, Refactor

#6678 [Core] Remove unnecessary virtual
  kratos/processes/skin_detection_process.h
Labels: FastPR, Kratos Core

#6679 Core/minor updates tests
  kratos/processes/skin_detection_process.cpp
  kratos/processes/sub_model_part_skin_detection_process.cpp
  kratos/tests/cpp_tests/processes/test_integration_values_extrapolation_to_nodes_process.cpp
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: FastPR, Kratos Core, Testing

#6680 [ContactStructuralMechanicsApplication] Clean up flags in search
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/mpc_contact_search_process.cpp
Labels: Applications, Cleanup, FastPR

#6683 [Core] Clean unused function in KratosApplication
  kratos/includes/kratos_application.h
Labels: Cleanup, FastPR, Kratos Core

#6690 [Core] Minor refactor of IntegrationValuesExtrapolationToNodesProcess
  kratos/processes/integration_values_extrapolation_to_nodes_process.cpp
  kratos/processes/integration_values_extrapolation_to_nodes_process.h
Labels: Cleanup, FastPR, Kratos Core

#6692 [MeshingApplication] Typo: mMmmgUtilities -> mMmgUtilities
  applications/MeshingApplication/custom_io/mmg_io.cpp
  applications/MeshingApplication/custom_io/mmg_io.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
Labels: Applications, FastPR, Typo

#6682 [Core] update deprecated interfaces
  applications/ParticleMechanicsApplication/custom_strategies/schemes/mpm_residual_based_bossak_scheme.hpp
  kratos/conditions/mesh_condition.cpp
  kratos/conditions/mesh_condition.h
  kratos/elements/distance_calculation_element_simplex.h
  kratos/elements/embedded_nodal_variable_calculation_element_simplex.cpp
  kratos/elements/embedded_nodal_variable_calculation_element_simplex.h
  kratos/elements/levelset_convection_element_simplex.h
  kratos/elements/mesh_element.cpp
  kratos/elements/mesh_element.h
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/includes/periodic_condition.h
  kratos/solving_strategies/schemes/residual_based_adjoint_bossak_scheme.h
  kratos/solving_strategies/schemes/residual_based_adjoint_static_scheme.h
  kratos/solving_strategies/schemes/residual_based_adjoint_steady_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_implicit_time_scheme.h
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme_slip.h
  kratos/solving_strategies/schemes/scheme.h
  kratos/sources/periodic_condition.cpp
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_bar_element.cpp
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_bar_element.h
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_element.cpp
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_element.h
  kratos/tests/cpp_tests/strategies/schemes/test_residual_based_adjoint_bossak_scheme.cpp
  kratos/tests/cpp_tests/utilities/test_sensitivity_builder.cpp
Labels: Cleanup, Deprecated, Enhancement, Kratos Core

#6681 [MeshingAppliction] Proper skip test
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_uniform_refinement_utility.cpp
Labels: Applications, Cleanup, FastPR, Testing

#6693 [Core] Refactor processes. Defining GetDefaultParameters
  kratos/processes/apply_constant_scalarvalue_process.h
  kratos/processes/apply_periodic_boundary_condition_process.cpp
  kratos/processes/apply_periodic_boundary_condition_process.h
  kratos/processes/assign_scalar_field_to_entities_process.cpp
  kratos/processes/assign_scalar_field_to_entities_process.h
  kratos/processes/assign_scalar_variable_to_entities_process.cpp
  kratos/processes/assign_scalar_variable_to_entities_process.h
  kratos/processes/replace_elements_and_condition_process.h
  kratos/processes/structured_mesh_generator_process.cpp
  kratos/processes/structured_mesh_generator_process.h
  kratos/processes/time_averaging_process.cpp
  kratos/processes/time_averaging_process.h
Labels: FastPR, Kratos Core, Refactor

#6696 [Core] fixing Check of Scheme
  kratos/solving_strategies/schemes/scheme.h
Labels: Kratos Core

#6707 [Core] more cleanup in py-interface
  kratos/python/add_mesh_to_python.cpp
Labels: Cleanup, Deprecated, FastPR, Kratos Core, Python

#6697 [Meshmoving] update deprecated interfaces
  applications/MeshMovingApplication/custom_elements/laplacian_meshmoving_element.cpp
  applications/MeshMovingApplication/custom_elements/laplacian_meshmoving_element.h
  applications/MeshMovingApplication/custom_elements/structural_meshmoving_element.cpp
  applications/MeshMovingApplication/custom_elements/structural_meshmoving_element.h
Labels: Applications, Cleanup, Deprecated

#6708 [MeshingApplication] Refactor processes (Define GetDefaultParameters)
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.h
  applications/MeshingApplication/custom_processes/metrics_error_process.cpp
  applications/MeshingApplication/custom_processes/metrics_error_process.h
  applications/MeshingApplication/custom_processes/metrics_levelset_process.cpp
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/MeshingApplication/custom_processes/multiscale_refining_process.cpp
  applications/MeshingApplication/custom_processes/multiscale_refining_process.h
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.h
Labels: Applications, FastPR, Refactor

#6711 [Fluid] missing ProcessInfo
  applications/FluidDynamicsApplication/tests/fluid_element_test.py
Labels: Applications, FastPR, Hotfix, Testing

#6709 [ContactStructuralMechanicsApplication] Refactor processes with GetDefaultParameters
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_spr_error_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_spr_error_process.h
Labels: Applications, FastPR, Refactor

#6710 [StructuralMechanicsApplication] Refactor processes, define GetDefaultParameters
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.h
  applications/StructuralMechanicsApplication/custom_processes/impose_z_strain_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/impose_z_strain_process.h
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.h
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.h
Labels: Applications, FastPR, Refactor

#6420 [Core][Proposal][DO NOT MERGE]Time derivatives variables definition
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_schemes.py
  kratos/containers/variable.h
  kratos/containers/variable_component.h
  kratos/containers/vector_component_adaptor.h
  kratos/includes/define.h
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/containers/test_variables.cpp
Labels: Discussion, Enhancement, Kratos Core, Proposal

#6715 [CI] not installing if build fails
  .github/workflows/configure.sh
  INSTALL.md
Labels: Continuous Integration

#6630 [CI] Add IgaApplication to the CI
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  .github/workflows/nightly_build.yml
  applications/IgaApplication/custom_conditions/load_condition.h
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.cpp
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.h
  applications/IgaApplication/custom_elements/shell_3p_element.cpp
  applications/IgaApplication/custom_elements/shell_3p_element.h
  applications/IgaApplication/tests/iga_truss_element_tests.py
  applications/IgaApplication/tests/shell_kl_discrete_element_tests.py
  applications/IgaApplication/tests/test_IgaApplication.py
Labels: Applications, Continuous Integration

#6482 [EigenSolvers] Add FEAST with MKL support to EigenSolversApplication
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  applications/EigenSolversApplication/CMakeLists.txt
  applications/EigenSolversApplication/README.md
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.h
  applications/EigenSolversApplication/custom_python/eigen_solvers_python_application.cpp
  applications/EigenSolversApplication/custom_solvers/feast_eigensystem_solver.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/LICENSE
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/README
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/feast.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/feast_banded.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/feast_dense.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/feast_sparse.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/feast_tools.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/pfeast.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/pfeast_sparse.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/include/pfeast_tools.h
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/LICENSE
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/Makefile
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/README
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/banded/dzfeast_banded.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/dense/dzfeast_dense.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/dense/dzfeast_pev_dense.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/kernel/dzfeast.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/kernel/feast_aux.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/kernel/feast_tools.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/kernel/libnum.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/dzfeast_pev_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/dzfeast_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/dzifeast_pev_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/dzifeast_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/dzlsprim.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/pdzfeast_pev_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/pdzfeast_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/pdzifeast_pev_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/pdzifeast_sparse.f90
  applications/EigenSolversApplication/external_libraries/FEAST/4.0/src/sparse/sclsprim.f90
  applications/EigenSolversApplication/external_libraries/FEAST/CMakeLists.txt
  applications/EigenSolversApplication/tests/test_EigenSolversApplication.py
  applications/EigenSolversApplication/tests/test_feast_eigensystem_solver.py
  kratos/python/add_linear_solvers_to_python.cpp
  kratos/python_scripts/eigen_solver_factory.py
Labels: Applications, External library

#6695 [Core] Enhance BrepGeometries with CreateIntegrationPoints and CreateQuadraturePoints
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/brep_surface.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
Labels: CAD Integration

#6607 [Core] Add CreateQuadraturePoints to python
  kratos/python/add_geometries_to_python.cpp
  kratos/python/containers_interface.h
Labels: CAD Integration, Kratos Core, Python

#6714 Making mpi out visible in TEST_OUTPUT level
  kratos/testing/tester.cpp
Labels: Bugfix, Parallel-MPI, Testing

#6694 [Core] Fix curve axis intersection
  kratos/utilities/curve_axis_intersection.h
Labels: Bugfix, CAD Integration, FastPR

#6713 [FSI] remove old code
  applications/FSIApplication/custom_elements/coupling_face2D.cpp
  applications/FSIApplication/custom_elements/coupling_face2D.h
  applications/FSIApplication/custom_problemtype/problemtype_generator/fsi_fluid
  applications/FSIApplication/custom_problemtype/problemtype_generator/fsi_python/script.py
  applications/FSIApplication/custom_processes/check_fsi_convergence_process.h
  applications/FSIApplication/custom_utilities/FSI_utils.h
Labels: Applications, Cleanup, Proposal

#6724 [DEM] Improve mesh creator from previous calculations for clusters and spheres
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_problemtype/DEMpack/S-DEMPack/kratos.gid/kratos_key_words.xml
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_utilities/post_utilities.h
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DEMApplication/python_scripts/cluster_mdpa_creator.py
  applications/DEMApplication/python_scripts/mesh_creator_cluster.py
  applications/DEMApplication/python_scripts/mesh_creator_sphere.py
  applications/DEMApplication/python_scripts/mesh_creator_sphere_2D.py
  applications/DEMApplication/python_scripts/sp_2d_rigid_fem_algorithm.py
Labels: Cleanup, Enhancement

#6722 [PfemFluid] Add update conditions on free surface process
  applications/PfemFluidDynamicsApplication/custom_processes/update_conditions_on_free_surface_process.hpp
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/PfemFluidDynamicsApplication/python_scripts/remesh_fluid_domains_process.py
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Bingham/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Newtonian_Sloshing/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/ProjectParameters.json
  applications/SwimmingDEMApplication/test_examples/PFEMcoupledDEMexample.gid/ProjectParameters.json
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/ProjectParameters.json
Labels: Applications, Feature

#6728 [Structural] correct CalculateRayleighDampingMatrix
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_element_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_element_utilities.h
Labels: Applications, FastPR

#6731 moving non-trilinos tests to MPI-Core
  applications/TrilinosApplication/tests/test_TrilinosApplication_mpi.py
  kratos/mpi/tests/test_mpi_communicator.mdpa
  kratos/mpi/tests/test_mpi_communicator.py
  kratos/mpi/tests/test_neighbours.py
  kratos/mpi/tests/test_nodal_elemental_neighbours.py
Labels: Cleanup, FastPR, Parallel-MPI, Testing

#6284 Split add_utilities_to_python into three
  kratos/CMakeLists.txt
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/python/add_geometrical_utilities_to_python.h
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python/add_other_utilities_to_python.h
  kratos/python/add_utilities_to_python.cpp
  kratos/python/add_variable_utils_to_python.cpp
  kratos/python/add_variable_utils_to_python.h
  kratos/python/kratos_python.cpp
Labels: Compilation, Kratos Core

#6726 [Dam] Update eigensolver parameters for new feast interface
  applications/DamApplication/python_scripts/dam_eigen_solver.py
Labels: Applications

#6721 [StructuralMechanics] Remove ExternalSolversApplication from the tests
  applications/StructuralMechanicsApplication/python_scripts/automatic_rayleigh_parameters_computation_process.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_3D3N_Thin_Circle_test_parameters.json
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_Q4_Thick_2x2_Plate_test_parameters.json
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_TL_3D8N_Cube_test_parameters.json
  applications/StructuralMechanicsApplication/tests/rayleigh_process_test/test_rayleigh_parameters.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
Labels: Applications, Testing

#6735 [StructMech] fix nightly after #6594
  applications/StructuralMechanicsApplication/tests/structural_response_function_test_factory.py
Labels: FastPR

#6737 [RANS][FastPR] Avoid fixing KINEMATIC_VISCOSITY
  applications/RANSApplication/tests/OneElement/one_element_steady_parameters.json
Labels: Applications, FastPR, Hotfix, Testing

#6733 [Core] separate Communicator exposure
  kratos/CMakeLists.txt
  kratos/includes/communicator.h
  kratos/python/add_communicator_to_python.cpp
  kratos/python/add_communicator_to_python.h
  kratos/python/add_model_part_to_python.cpp
  kratos/python/kratos_python.cpp
  kratos/sources/communicator.cpp
Labels: Cleanup, Deprecated, Kratos Core, Python

#6653 [CI] Adding ConvectionDiffusionApplication to CI
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  .github/workflows/nightly_build.yml
  applications/ConvectionDiffusionApplication/custom_utilities/bfecc_convection.h
  applications/ConvectionDiffusionApplication/custom_utilities/bfecc_elemental_limiter_convection.h
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_transient_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/convection_diffusion_test_factory.py
  applications/ConvectionDiffusionApplication/tests/response_function_tests.py
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/coupled_problem_test_parameters.json
Labels: Applications, Continuous Integration

#6743 [Core] Fixes Jacobian error in Quadrilateral2D8. Adds tests
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/tests/cpp_tests/geometries/test_quadrilateral_2d_4.cpp
  kratos/tests/cpp_tests/geometries/test_quadrilateral_2d_8.cpp
Labels: FastPR, Hotfix, Kratos Core, Testing

#6676 [RANS] Cleanup
  applications/RANSApplication/custom_conditions/evm_k_epsilon/rans_evm_epsilon_adjoint_wall_condition.h
  applications/RANSApplication/custom_conditions/evm_k_epsilon/rans_evm_k_adjoint_wall_condition.h
  applications/RANSApplication/custom_conditions/evm_k_epsilon/rans_evm_monolithic_k_epsilon_vms_adjoint_wall_condition.h
  applications/RANSApplication/custom_conditions/evm_k_epsilon/rans_evm_vms_monolithic_adjoint_wall_condition.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_epsilon_adjoint.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_adjoint.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_epsilon.cpp
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_epsilon.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_k.cpp
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_k.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_low_re_epsilon.cpp
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_low_re_epsilon.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_low_re_k.cpp
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_low_re_k.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_vms_adjoint.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_monolithic_k_epsilon_vms_adjoint.h
  applications/RANSApplication/custom_elements/rans_evm_vms_adjoint.h
  applications/RANSApplication/custom_elements/stabilized_convection_diffusion_reaction_adjoint.h
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_wall_distance_calculation_process.cpp
  applications/RANSApplication/custom_utilities/test_utilities.cpp
  applications/RANSApplication/tests/AdjointKEpsilonSensitivity2DTest/one_element_steady_test_parameters.json
  applications/RANSApplication/tests/test_RANSApplication.py
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
Labels: Applications, C++, Cleanup, Python

#6749 [Core] Add CalculateOnIntegrationPoints and SetValuesOnIntegrationPoints for int-type
  kratos/python/add_mesh_to_python.cpp
Labels: FastPR, Kratos Core, Python

#6746 [Core] skip app unittest
  kratos/mpi/python_scripts/distributed_gid_output_process.py
  kratos/python_scripts/KratosUnittest.py
  kratos/python_scripts/kratos_utilities.py
  kratos/tests/test_eigen_solvers.py
  kratos/tests/test_linear_constraints.py
Labels: Cleanup, Kratos Core, Testing

#6751 [Structural] update deprecated Scheme interfaces
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/eigensolver_dynamic_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_central_differences_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_multi_stage_kim_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/residual_based_relaxation_scheme.hpp
Labels: Applications, Deprecated

#6756 [Core][Fix] Set all components when setting one of them
  kratos/containers/data_value_container.h
  kratos/tests/cpp_tests/containers/test_data_value_container.cpp
Labels: Hotfix, Kratos Core, Transition

#6755 [FSI] Communicator API hotfix
  applications/FSIApplication/python_scripts/partitioned_fsi_base_solver.py
Labels: Applications, FastPR, Hotfix

#6759 [Core][Element&Condition] fix backward compatibility in Check
  kratos/includes/condition.h
  kratos/includes/element.h
Labels: Deprecated, FastPR, Kratos Core

#6761 [Fluid] Clean up & update schemes
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/schemes/gear_scheme.h
  applications/FluidDynamicsApplication/custom_strategies/schemes/residualbased_predictorcorrector_velocity_bossak_scheme_turbulent.h
  applications/FluidDynamicsApplication/custom_strategies/schemes/residualbased_simple_steady_scheme.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bdf_scheme_turbulent.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bdf_scheme_turbulent_no_reaction.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_schemes_to_python.cpp
  applications/pfem_2_application/custom_strategies/backward_euler_monolithic_ale_scheme.h
  applications/pfem_2_application/custom_strategies/residualbased_predictorcorrector_velocity_bossak_ale_scheme.h
Labels: Applications, Cleanup, Deprecated, Enhancement

#6741 [Core][Py-LinearSolverFactory] clean deprecated code
  applications/FSIApplication/tests/FSI_problem_emulator_test.py
  applications/MeshMovingApplication/tests/test_example/ProjectParameters.json
  kratos/python_scripts/python_linear_solver_factory.py
  kratos/tests/test_condition_number.py
  kratos/tests/test_eigen_solvers.py
Labels: Cleanup, Deprecated, Kratos Core

#6644 [Chimera] Compilation issues in Windows and Mac
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  .github/workflows/nightly_build.yml
  applications/ChimeraApplication/CMakeLists.txt
  applications/ChimeraApplication/ChimeraApplication.py
  applications/ChimeraApplication/chimera_application.cpp
  applications/ChimeraApplication/chimera_application.h
  applications/ChimeraApplication/chimera_application_variables.cpp
  applications/ChimeraApplication/chimera_application_variables.h
  applications/ChimeraApplication/custom_processes/apply_chimera_process_fractional_step.cpp
  applications/ChimeraApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ChimeraApplication/custom_python/chimera_python_application.cpp
  applications/ChimeraApplication/custom_strategies/custom_builder_and_solver/residualbased_block_builder_and_solver_with_constraints_for_chimera.h
  applications/ChimeraApplication/custom_strategies/strategies/fs_strategy_for_chimera.h
  applications/ChimeraApplication/custom_utilities/distance_calcuation_utility.h
  applications/ChimeraApplication/custom_utilities/fractional_step_settings_for_chimera.h
  applications/ChimeraApplication/custom_utilities/hole_cutting_utility.cpp
  applications/ChimeraApplication/custom_utilities/hole_cutting_utility.h
  applications/ChimeraApplication/python_scripts/chimera_modelpart_import.py
  applications/ChimeraApplication/python_scripts/chimera_setup_utils.py
  applications/ChimeraApplication/python_scripts/navier_stokes_solver_fractionalstep_chimera.py
  applications/ChimeraApplication/tests/test_ChimeraApplication.py
Labels: Compilation, Hotfix, MacOS, Windows

#6757 [ShapeOpt] fix compiler warning about deprecated function
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
Labels: FastPR

#6718 [Core] Using unified variables in order to simplify code
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
Labels: Cleanup, Kratos Core, Refactor

#6719 [MeshingApplication] Adapt processes to 6686
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
Labels: Applications, Refactor, Transition

#6776 [ContactStructuralMechanicsApplication] Some test modifications
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_LM_results.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_LM.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_patch_matching_test_results_LM.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_patch_nonmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_patch_nonmatching_test_results_LM.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/plate_test_parameters.json
Labels: Applications, FastPR, Testing, Transition

#6740 Mpi/fix global pointer communications
  kratos/containers/global_pointers_vector.h
  kratos/mpi/tests/sources/test_pointer_communicator.cpp
  kratos/utilities/global_pointer_utilities.h
Labels: Bug, Parallel-MPI

#6762 [ContactStructuralMechanicsApplication] Transition PR #4558
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.h
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_adaptative_remeshing_structural.py
  kratos/python_scripts/analysis_stage.py
Labels: Applications, FastPR, Transition

#6764 [MeshingApplication] Some improvements/additional cheks in MMGProcess
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
Labels: Applications, FastPR, Hotfix

#6777 [Core] fixes for ApplicationGenerator
  kratos/python_scripts/application_generator/applicationGenerator.py
  kratos/python_scripts/application_generator/test
  kratos/templates/template_application/CMakeLists.txt.in
Labels: Applications, Kratos Core

#6780 [Nightly Build][WIN] adding CoSim and Mapping
  .github/workflows/nightly_build.yml
Labels: Continuous Integration, FastPR, Testing

#6775 Structural/adjoint const
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_linear_strain_energy_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_max_stress_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_max_stress_response_function.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_reaction_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_reaction_response_function.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/eigenfrequency_response_function_utility.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/finite_difference_utility.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/finite_difference_utility.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/strain_energy_response_function_utility.h
Labels: Applications, Cleanup

#6786 [FEMDEM] Adding main improvements to the PFEM-FEMDEM coupling
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.h
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_processes/generate_initial_skin_DEM_process.cpp
  applications/FemToDemApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/custom_utilities/aitken_relaxation_femdem_utility.hpp
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/FemDemDynamicSolver.py
  applications/FemToDemApplication/python_scripts/FemDemMechanicalSolver.py
  applications/FemToDemApplication/python_scripts/FemDemStaticSolver.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDemSubstepping.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDemSubstepping_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemAitken.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemAitkenSubstepping.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemSubstepping.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
  applications/FemToDemApplication/python_scripts/MainFemDem.py
  applications/FemToDemApplication/python_scripts/pfem_check_and_prepare_model_process_fluid_for_coupling.py
  kratos/python/add_containers_to_python.cpp
Labels: Applications

#6760 [CableNet] using new interfaces
  applications/CableNetApplication/cable_net_application_variables.h
  applications/CableNetApplication/custom_elements/empirical_spring.cpp
  applications/CableNetApplication/custom_elements/empirical_spring.hpp
  applications/CableNetApplication/custom_elements/ring_element_3D.cpp
  applications/CableNetApplication/custom_elements/ring_element_3D.hpp
  applications/CableNetApplication/custom_elements/sliding_cable_element_3D.cpp
  applications/CableNetApplication/custom_elements/sliding_cable_element_3D.hpp
  applications/CableNetApplication/custom_elements/weak_coupling_slide.cpp
  applications/CableNetApplication/custom_elements/weak_coupling_slide.hpp
Labels: Applications, Cleanup, Deprecated

#6787 [ContactStructuralMechanicsApplication] Some tests minor changes
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_results_LM.json
Labels: Applications, FastPR, Testing

#6781 [dem] The concentric coarsener makes sure that rolling friction is off
  applications/DEMApplication/python_scripts/concentric_element_size_coarsener.py
Labels: FastPR

#6788 [CoSim] split into core & py-interface
  applications/CoSimulationApplication/CMakeLists.txt
  applications/CoSimulationApplication/co_simulation_application.h
Labels: Applications, Compilation, FastPR

#6772 [Structural] updating Interfaces I
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/point_moment_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/point_moment_condition_3d.h
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.h
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.h
  applications/StructuralMechanicsApplication/custom_elements/z_strain_driven_2p5_small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/z_strain_driven_2p5_small_displacement.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_cr_beam_element_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_shell_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_small_displacement_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_small_displacement_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_truss_element_3D2N.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_solid_element.h
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_element_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_element_utilities.h
Labels: Applications, Cleanup, Deprecated

#6796 [Core] add scope logger exception
  kratos/includes/exception.h
  kratos/input_output/logger.h
Labels: Kratos Core, Usability

#6771 [PARTITION_INDEX] changing datatype to int
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver_periodic.h
  applications/TrilinosApplication/custom_strategies/convergencecriterias/trilinos_displacement_criteria.h
  applications/TrilinosApplication/custom_strategies/convergencecriterias/trilinos_residual_criteria.h
  applications/TrilinosApplication/custom_utilities/trilinos_cutting_app.h
  applications/TrilinosApplication/custom_utilities/trilinos_cutting_iso_app.h
  kratos/includes/variables.h
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.h
  kratos/sources/variables.cpp
Labels: Cleanup, Parallel-MPI

#6790 [core] add 2D line option to CreateQuadraturePoint in quadrature point utility
  kratos/utilities/quadrature_points_utility.h
Labels: Kratos Core

#6643 [Core] Unifying Integration Point methods
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/includes/gid_gauss_point_container.h
  kratos/processes/integration_values_extrapolation_to_nodes_process.cpp
Labels: Cleanup, Deprecated, Kratos Core

#6747 [Core][Communnicator] adding GlobalNumberOf... functions
  kratos/includes/communicator.h
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
  kratos/mpi/tests/test_mpi_communicator.py
  kratos/python/add_communicator_to_python.cpp
  kratos/sources/communicator.cpp
Labels: Enhancement, Implementation Committee Consensus, Kratos Core, Parallel-MPI

#6806 cmake fix policy
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
Labels: Continuous Integration, Error, Windows

#6641 [core] Re-activating DEM in CI
  .github/workflows/ci.yml
  applications/DEMApplication/custom_utilities/inlet.cpp
  applications/DEMApplication/custom_utilities/inlet.h
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_DEM_2D_inlet.py
  scripts/build/dist/configure_ubuntu_14_04.sh
  scripts/build/dist/configure_ubuntu_16_04.sh
Labels: Applications, Continuous Integration, Windows

#6807 [MPM] updated use core newton raphson strategy instead of custom
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/mpm_residual_based_newton_raphson_strategy.hpp
Labels: Cleanup

#6804 [Core] Fix documentation in Hexahedra3D27
  kratos/geometries/hexahedra_3d_27.h
Labels: Documentation, FastPR, Kratos Core

#6803 [Core] Fix documentation in Hexahedra3D20
  kratos/geometries/hexahedra_3d_20.h
Labels: Documentation, FastPR, Kratos Core

#6753 fix adjoint tests
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_loading_conditions.py
Labels: Testing

#6813 [MPM] consistent mass matrix
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.hpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_results.json
  applications/ParticleMechanicsApplication/tests/particle_mechanics_test_factory.py
  applications/ParticleMechanicsApplication/tests/test_ParticleMechanicsApplication.py
Labels: Enhancement

#6816 [dem] A histogram with the number of bonds is printed
  applications/DEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DEMApplication/custom_utilities/pre_utilities.h
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
Labels: FastPR, Feature

#6802 Improve import settings
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
  kratos/python_scripts/python_solver.py
Labels: Cleanup, Kratos Core, Usability

#6825 Adding compatibility with hdf5 1.12
  applications/HDF5Application/CMakeLists.txt
Labels: Applications, External library

#6823 [MeshingApplication] Extending normalization methods in ComputeHessianSolMetricProcess
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
Labels: Applications, Enhancement

#6820 [MPM] use COMPUTE_LUMPED_MASS_MATRIX
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_quadrilateral.cpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
Labels: Cleanup

#6826 [Struct] remove getValuesOnIntegrationPoints
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/mpc_mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mpc_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_spr_error_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
  applications/MeshingApplication/custom_io/pfem_gid_io.h
  applications/MeshingApplication/custom_processes/internal_variables_interpolation_process.h
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.cpp
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
  applications/StructuralMechanicsApplication/custom_conditions/line_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/line_load_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.h
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.h
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/TrilinosApplication/custom_utilities/trilinos_refine_mesh.h
Labels: Applications, Cleanup, Deprecated

#6830 [Core] Unit test skip
  kratos/python_scripts/KratosUnittest.py
Labels: Kratos Core, Python

#6789 [Core] Transition changes for #5939
  kratos/tests/test_linear_constraints.py
Labels: Cleanup, Kratos Core, Testing, Transition

#6834 Update Element & Condition templates
  kratos/templates/classes/condition_template.cpp
  kratos/templates/classes/condition_template.h
  kratos/templates/classes/element_template.cpp
  kratos/templates/classes/element_template.h
Labels: FastPR, Kratos Core

#6833 [Core][Element] adding missing version of CalculateOnIntegrationPoints
  kratos/includes/element.h
Labels: Incomplete, Kratos Core

#6831 [CoSim][CoupledSolver] adding ProcessInfo
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
Labels: Enhancement

#6758 [Fluid][Stat] Fluid cfl output process enhancement
  applications/FluidDynamicsApplication/python_scripts/cfl_output_process.py
  applications/FluidDynamicsApplication/tests/Cavity/cfl_output_process_ref.dat
  applications/FluidDynamicsApplication/tests/Cavity/cfl_output_test_parameters.json
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_cfl_results_ref.dat
  applications/FluidDynamicsApplication/tests/CylinderTest/cylinder_fluid_parameters.json
  applications/FluidDynamicsApplication/tests/cfl_output_process_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
  applications/StatisticsApplication/README.md
  applications/StatisticsApplication/custom_methods/spatial_methods.h
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/test_spatial_methods.py
Labels: C++, Python

#6837 [Core] Revert KM. in test
  kratos/tests/test_linear_constraints.py
Labels: FastPR, Kratos Core, Refactor

#6835 [Structural] const getvalues fcts
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/point_moment_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/point_moment_condition_3d.h
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_solid_element.h
Labels: Applications, Deprecated

#6810 [Core] Level Set - enable different time integration schemes
  kratos/elements/levelset_convection_element_simplex.h
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/elements/test_levelset_convection_element_simplex.cpp
  kratos/tests/test_levelset_convection.py
Labels: Enhancement

#6840 [StructuralMechanicsApplication] Fixes #6839
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/impose_rigid_movement_process.h
Labels: Applications, FastPR

#6838 [PotentialFlow] Rename penalty coefficient to stabilization factor
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_incompressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_adjoint_solver.py
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_solver.py
  applications/CompressiblePotentialFlowApplication/tests/embedded_test/embedded_circle_penalty_parameters.json
Labels: FastPR

#6845 [dem] Removing bold in screen print
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
Labels: FastPR

#6736 [PfemFluid][DelaunayMeshing] Changes due to #6686
  applications/PfemFluidDynamicsApplication/custom_processes/assign_scalar_field_to_pfem_entities_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/assign_scalar_variable_to_pfem_entities_process.cpp
  applications/PfemFluidDynamicsApplication/custom_processes/assign_scalar_variable_to_pfem_entities_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/fix_scalar_pfem_dof_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/free_scalar_pfem_dof_process.hpp
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/nodal_two_step_v_p_strategy.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/two_step_v_p_strategy.h
Labels: Applications

#6846 [core] Unused and undefined constructors
  kratos/processes/assign_scalar_variable_to_entities_process.h
Labels: Compilation

#6847 [structural] Possible bug in explicit integration utilities
  applications/StructuralMechanicsApplication/custom_utilities/explicit_integration_utilities.cpp
Labels: Bugfix, FastPR
