Repository KratosMultiphysics/Kratos, pull requests merged in 2020-08, with the labels that each got.

#7324 Core/transition clear 6296
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.h
  applications/FluidDynamicsApplication/custom_processes/stokes_initialization_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/processes/calculate_embedded_signed_distance_to_3d_skin_process.h
  kratos/processes/find_intersected_geometrical_objects_process.h
  kratos/processes/levelset_convection_process.h
  kratos/processes/process.h
  kratos/processes/variational_distance_calculation_process.h
  kratos/python/add_processes_to_python.cpp
Labels: Applications, FastPR, Kratos Core, Transition

#7310 Structural/enhance displacement response function
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.h
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/Beam_structure.mdpa
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/rectangular_plate.mdpa
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/AdjointParameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/Spring_structure.mdpa
  applications/StructuralMechanicsApplication/tests/cpp_advanced_constitutive_tests/test_solid_static_sensitivity.cpp
  applications/StructuralMechanicsApplication/tests/cpp_advanced_constitutive_tests/test_solid_transient_sensitivity.cpp
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_displacement_response_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/rectangular_plate_structure.mdpa
Labels: Applications, Enhancement

#7323 [Core] Minor change to kratos/CMakeLists.txt
  kratos/CMakeLists.txt
Labels: Compilation

#7326 [HDF5Application] Update README.md
  applications/HDF5Application/README.md
Labels: Applications, Documentation, FastPR

#7176 Particle Mechanics Application/boundary enhancement
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_dirichlet_condition.cpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_particle_generator_utility.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_3d_rotating_dirichlet_condition_process.py
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_particle_dirichlet_condition_process.py
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_particle_neumann_condition_process.py
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
  applications/ParticleMechanicsApplication/tests/test_generate_mpm_particle_condition.py
  applications/ParticleMechanicsApplication/tests/test_particle_erase_process.py
Labels: Enhancement

#7319 [Structural] minor change settings
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/test_remesh_shell_parameters.json
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, Deprecated, FastPR

#7294 Adding Apps to codeowners
  .github/CODEOWNERS
Labels: Applications

#7173 [Structural][BaseSolid] not building RHS in CalculateLeftHandSide
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
Labels: Applications, Inconsistent

#7332 [IGA] Fix use of second order derivatives in shell 3p
  applications/IgaApplication/custom_elements/shell_3p_element.cpp
  applications/IgaApplication/tests/cpp_tests/test_iga_shell_3p.cpp
Labels: Applications, CAD Integration

#7330 Structural/const process info adjoint
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.h
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_solid_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_local_stress_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_max_stress_response_function.cpp
Labels: Applications, Deprecated

#7338 Update cmake file for particle mechanics application
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_plastic_flow_rule.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_strain_softening_plastic_flow_rule.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/cam_clay_hardening_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/exponential_strain_softening_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_borja_cam_clay_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_borja_cam_clay_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_borja_cam_clay_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_UP_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_plane_strain_UP_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_strain_softening_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_strain_softening_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_mc_strain_softening_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_UP_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_plane_strain_UP_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hyperelastic_UP_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hyperelastic_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hyperelastic_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hyperelastic_plane_strain_UP_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/linear_elastic_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/linear_elastic_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/mc_yield_criterion.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/modified_cam_clay_yield_criterion.hpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_conditions_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_conditions_to_python.h
  applications/ParticleMechanicsApplication/custom_utilities/mpm_energy_calculation_utility.h
  applications/ParticleMechanicsApplication/custom_utilities/mpm_particle_generator_utility.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
Labels: Applications, CMake

#7341 [Core] Fix double i loop definition
  kratos/processes/assign_scalar_input_to_entities_process.cpp
Labels: Bugfix, FastPR, Kratos Core

#7325 [IGA] Remove unused variables
  applications/IgaApplication/custom_elements/iga_base_element.h
  applications/IgaApplication/custom_elements/iga_truss_element.cpp
  applications/IgaApplication/custom_elements/iga_truss_element.h
  applications/IgaApplication/custom_python/iga_python_application.cpp
  applications/IgaApplication/iga_application.cpp
  applications/IgaApplication/iga_application.h
  applications/IgaApplication/iga_application_variables.cpp
  applications/IgaApplication/iga_application_variables.h
Labels: Applications, Cleanup

#7344 [FEMDEM] Minor improvements
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/FemDemKratos.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.prb
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemAitken.py
Labels: Applications, FastPR

#7346 [StructMech] move MultiLinear claw to advanced claws
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
Labels: FastPR

#7228 [Structural] Perturb Geometry Process
  applications/StructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/StructuralMechanicsApplication/custom_utilities/node_configure_for_node_search.h
  applications/StructuralMechanicsApplication/custom_utilities/node_search_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/node_search_utility.h
  applications/StructuralMechanicsApplication/custom_utilities/perturb_geometry_base_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/perturb_geometry_base_utility.h
  applications/StructuralMechanicsApplication/custom_utilities/perturb_geometry_sparse_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/perturb_geometry_sparse_utility.h
  applications/StructuralMechanicsApplication/custom_utilities/perturb_geometry_subgrid_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/perturb_geometry_subgrid_utility.h
  applications/StructuralMechanicsApplication/python_scripts/perturb_geometry_sparse_utility.py
  applications/StructuralMechanicsApplication/python_scripts/perturb_geometry_subgrid_utility.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_perturb_geometry_utility.py
Labels: Applications, Feature

#7302 [Core] Add flagged copy historical/non-historical nodal variable data
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: C++, Kratos Core, Python

#7353 [FluidDynamics] Added DynamicTau to the FIC formulation
  applications/FluidDynamicsApplication/custom_elements/fic.cpp
  applications/FluidDynamicsApplication/custom_utilities/fic_data.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
Labels: C++, Enhancement, Python

#7348 [Core] Split modeler factory in h and cpp
  kratos/CMakeLists.txt
  kratos/modeler/modeler_factory.cpp
  kratos/modeler/modeler_factory.h
Labels: Kratos Core

#7356 [Structural] Fix fulldebug error in membrane post-processing
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_material_and_prestress_test.mdpa
  applications/StructuralMechanicsApplication/tests/membrane_test/multi_linear_plane_stress_isotropic_membrane_test.mdpa
  applications/StructuralMechanicsApplication/tests/membrane_test/multi_linear_plane_stress_isotropic_membrane_test_parameters.json
Labels: Bugfix

#7359 [FEMDEM] Correcting table process in App
  applications/FemToDemApplication/custom_processes/apply_component_table_process.hpp
Labels: Applications, FastPR

#7217 [RANS] RANS Turbulence models integration - Step 3.2
  applications/RANSApplication/RANSApplication.py
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/fractional_step_k_based_wall_condition.cpp
  applications/RANSApplication/custom_conditions/fractional_step_k_based_wall_condition.h
  applications/RANSApplication/custom_conditions/incompressible_potential_flow_velocity_inlet_condition.cpp
  applications/RANSApplication/custom_conditions/incompressible_potential_flow_velocity_inlet_condition.h
  applications/RANSApplication/custom_conditions/scalar_wall_flux_condition.cpp
  applications/RANSApplication/custom_conditions/scalar_wall_flux_condition.h
  applications/RANSApplication/custom_conditions/scalar_wall_flux_condition_data.h
  applications/RANSApplication/custom_conditions/vms_monolithic_k_based_wall_condition.cpp
  applications/RANSApplication/custom_conditions/vms_monolithic_k_based_wall_condition.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_cross_wind_stabilized_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_cross_wind_stabilized_element.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_residual_based_flux_corrected_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_residual_based_flux_corrected_element.h
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/epsilon_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/epsilon_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega/omega_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega/omega_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/omega_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/omega_element_data.h
  applications/RANSApplication/custom_elements/incompressible_potential_flow/incompressible_potential_flow_pressure_element.cpp
  applications/RANSApplication/custom_elements/incompressible_potential_flow_velocity_element.cpp
  applications/RANSApplication/custom_elements/incompressible_potential_flow_velocity_element.h
  applications/RANSApplication/custom_elements/laplace_element.cpp
  applications/RANSApplication/custom_elements/laplace_element.h
  applications/RANSApplication/custom_elements/rans_fractional_step_element.cpp
  applications/RANSApplication/custom_python/rans_python_application.cpp
  applications/RANSApplication/custom_utilities/rans_calculation_utilities.cpp
  applications/RANSApplication/custom_utilities/rans_calculation_utilities.h
  applications/RANSApplication/rans_application.cpp
  applications/RANSApplication/rans_application.h
  applications/RANSApplication/rans_application_variables.cpp
  applications/RANSApplication/rans_application_variables.h
  applications/RANSApplication/tests/cpp/k_epsilon/test_conditions.cpp
  applications/RANSApplication/tests/cpp/k_epsilon/test_utilities.cpp
  applications/RANSApplication/tests/cpp/k_epsilon/test_utilities.h
  applications/RANSApplication/tests/cpp/k_omega/test_conditions.cpp
  applications/RANSApplication/tests/cpp/k_omega/test_utilities.cpp
  applications/RANSApplication/tests/cpp/k_omega/test_utilities.h
  applications/RANSApplication/tests/cpp/test_incompressible_potential_flow_conditions.cpp
  applications/RANSApplication/tests/cpp/test_incompressible_potential_flow_elements.cpp
  applications/RANSApplication/tests/cpp/test_vms_monolithic_k_based_condition.cpp
Labels: Applications, C++

#7363 [PotentialFlow] Unifying Integration Point methods
  applications/CompressiblePotentialFlowApplication/custom_conditions/potential_wall_condition.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_perturbation_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_perturbation_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/transonic_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/transonic_perturbation_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_processes/compute_embedded_lift_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/compute_nodal_value_process.cpp
Labels: FastPR

#7357 remove super arguments from StructuralMechanicsApplication
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/rve_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_custom_scipy_base_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_with_constraints.py
Labels: Applications, Cleanup, Deprecated, Python

#7366 [PotentialFlow] Making Process Info const 1 out of 2
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_compressible_perturbation_potential_element.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_compressible_potential_element.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_incompressible_perturbation_potential_element.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_incompressible_potential_element.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_potential_flow_utilities.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_transonic_perturbation_potential_element.cpp
Labels: FastPR

#7368 [Contact] Update python3 super()
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_explicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
Labels: Applications, FastPR, Python

#7331 [Core] More Elimination B&S clean up
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
Labels: Cleanup, FastPR, Kratos Core

#6861 [Core][Trilinos] Generic convergence criteria for "n" fields formulation
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_convergence_criteria_factory.py
  applications/TrilinosApplication/README.md
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_criterias_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
  applications/TrilinosApplication/custom_strategies/convergencecriterias/trilinos_mixed_generic_criteria.h
  applications/TrilinosApplication/custom_strategies/convergencecriterias/trilinos_up_criteria.h
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/convergencecriterias/mixed_generic_criteria.h
  kratos/tests/cpp_tests/strategies/convergence_criteria/test_mixed_generic_criteria.cpp
Labels: Applications, Enhancement, Feature, Kratos Core, Parallel-MPI

#7373 [FastPR][Core] Explicit time dependent BCs bugfix
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta_4.h
Labels: Bugfix, FastPR, Kratos Core

#7371 [PotentialFlow] Making Process Info const 2 out of 2
  applications/CompressiblePotentialFlowApplication/custom_conditions/adjoint_potential_wall_condition.cpp
  applications/CompressiblePotentialFlowApplication/custom_conditions/adjoint_potential_wall_condition.h
  applications/CompressiblePotentialFlowApplication/custom_conditions/potential_wall_condition.cpp
  applications/CompressiblePotentialFlowApplication/custom_conditions/potential_wall_condition.h
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_analytical_incompressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_finite_difference_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_perturbation_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_compressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_compressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_incompressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_incompressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_perturbation_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/transonic_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/transonic_perturbation_potential_flow_element.h
Labels: FastPR

#7298 [Fluid] Default assign_neigbours
  applications/FluidDynamicsApplication/python_scripts/adjoint_vmsmonolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/check_and_prepare_model_process_fluid.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_adjoint_vmsmonolithic_solver.py
Labels: Applications, Behaviour Change, FastPR

#7369 [ShapeOpt] fix geometric response mp init
  applications/ShapeOptimizationApplication/python_scripts/response_functions/packaging_response_base.py
  applications/ShapeOptimizationApplication/python_scripts/response_functions/surface_normal_shape_change.py
Labels: Bug

#7349 [Core] Add QuadraturePointGeometry Create Interface
  kratos/utilities/quadrature_points_utility.h
Labels: Kratos Core

#7383 [Script][Core] Proper number of processors detected on MacOSX
  scripts/standard_configure_mac.sh
Labels: Compilation, FastPR, Kratos Core

#7386 Adding #7381 to CMake
  CMakeLists.txt
Labels: Deprecated, FastPR

#7374 [Core] Timers - use labels with full path
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/utilities/timer.cpp
  kratos/utilities/timer.h
Labels: Enhancement, Kratos Core

#7388 [Core][ModelPartIO] minor cleanup
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
Labels: Cleanup, Kratos Core

#7281 [Core] Removes legacy explicit strategy
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/strategies/explicit_strategy.h
Labels: Cleanup, Kratos Core, Legacy

#7392 [Structural] fix test-using math instead of numpy
  applications/StructuralMechanicsApplication/tests/test_perturb_geometry_utility.py
Labels: FastPR

#7333 [Structural] remove computing model part
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/StructuralMechanicsApplication/python_scripts/check_and_prepare_model_process_structural.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: API Breaker, Applications, Behaviour Change, Cleanup, Deprecated

#7132 [Core] Extend NormalCalculationUtils. Fix #7052
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/coarse_sphere_with_conditions.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/quad_sphere.mdpa
  kratos/tests/test_KratosCore.py
  kratos/tests/test_normal_utils.py
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/normal_calculation_utils.cpp
  kratos/utilities/normal_calculation_utils.h
Labels: Enhancement, Hotfix, Kratos Core

#7377 Core/update mixed conv
  kratos/solving_strategies/convergencecriterias/mixed_generic_criteria.h
  kratos/tests/cpp_tests/strategies/convergence_criteria/test_mixed_generic_criteria.cpp
Labels: FastPR, Kratos Core, Transition
