Repository KratosMultiphysics/Kratos, pull requests merged in 2020-09, with the labels that each got.

#7400 Update filesystem.hpp
  external_libraries/ghc/filesystem.hpp
Labels: External library

#7398 [Core] Timers - use full label in find
  kratos/utilities/timer.cpp
Labels: Bugfix

#7396 [Core] Adding Normal Shape Derivative Calculation for Simplex
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/sources/variables.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/two_dim_symmetrical_square.mdpa
  kratos/tests/test_normal_utils.py
  kratos/utilities/normal_calculation_utils.cpp
  kratos/utilities/normal_calculation_utils.h
Labels: C++, Kratos Core, Python

#7378 [Fluid] Stokes solver upgrade
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/python_scripts/python_solvers_wrapper_fluid.py
  applications/FluidDynamicsApplication/python_scripts/stokes_solver.py
  applications/FluidDynamicsApplication/python_scripts/stokes_solver_monolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/tests/CouetteFlowTest/FluidMaterials.json
  applications/FluidDynamicsApplication/tests/CouetteFlowTest/ProjectParameters.json
  applications/FluidDynamicsApplication/tests/CouetteFlowTest/couette_flow_test.mdpa
  applications/FluidDynamicsApplication/tests/CouetteFlowTest/reference_couette_flow_test_symbolic.json
  applications/FluidDynamicsApplication/tests/CouetteFlowTest/reference_couette_flow_test_symbolic_stokes.json
  applications/FluidDynamicsApplication/tests/couette_flow_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Applications, Cleanup, Feature

#7402 [Core, Trilinos] add timers for BuildRHS
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Inconsistent, Kratos Core

#7403 [Core] Strategies: adding runtime warnings (to already deprecated CTors)
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Deprecated, FastPR, Kratos Core

#6010 [Mapping] CouplingGeometries Mapper
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_convergence_criteria.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/absolute_norm_energy_conjugate.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/coupling_output.py
  applications/CoSimulationApplication/python_scripts/factories/convergence_criterion_factory.py
  applications/CoSimulationApplication/python_scripts/factories/helpers.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/dem_fem_cable_net/ProjectParametersFEM.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/ProjectParametersA.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/ProjectParametersB.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/StructuralMaterials.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/cosim_fem_fem_small_2d_plate_dual_mortar_parameters.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/cosim_fem_fem_small_2d_plate_full_mortar_parameters.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/fem_fem_test_domainA.mdpa
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/fem_fem_test_domainA_results.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/fem_fem_test_domainB.mdpa
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/fem_fem_test_domainB_results.json
  applications/CoSimulationApplication/tests/fsi_mok/ProjectParametersCSM.json
  applications/CoSimulationApplication/tests/fsi_wall/ProjectParametersCSM.json
  applications/MappingApplication/CMakeLists.txt
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_modelers/mapping_geometries_modeler.cpp
  applications/MappingApplication/custom_modelers/mapping_geometries_modeler.h
  applications/MappingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MappingApplication/custom_python/add_custom_utilities_to_python.h
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/custom_utilities/mapping_intersection_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_intersection_utilities.h
  applications/MappingApplication/mapping_application.cpp
  applications/MappingApplication/mapping_application.h
  applications/MappingApplication/mapping_application_variables.cpp
  applications/MappingApplication/mapping_application_variables.h
Labels: Applications, Feature, Tobis Branch

#7379 [Core][ParUtils] adding size check
  kratos/utilities/parallel_utilities.h
Labels: Bugfix, Kratos Core, Parallel-OMP

#7290 [Core] Adding Validation methods to strategies
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/explicit_builder.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/solving_strategies/convergencecriterias/and_criteria.h
  kratos/solving_strategies/convergencecriterias/convergence_criteria.h
  kratos/solving_strategies/convergencecriterias/displacement_criteria.h
  kratos/solving_strategies/convergencecriterias/or_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_implicit_time_scheme.h
  kratos/solving_strategies/schemes/residual_based_newmark_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme.h
  kratos/solving_strategies/schemes/scheme.h
  kratos/solving_strategies/strategies/adaptive_residualbased_newton_raphson_strategy.h
  kratos/solving_strategies/strategies/explicit_solving_strategy.h
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta_4.h
  kratos/solving_strategies/strategies/line_search_strategy.h
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
  kratos/solving_strategies/strategies/solving_strategy.h
  kratos/tests/cpp_tests/strategies/strategies/test_strategies.cpp
Labels: Enhancement, Inconsistent, Kratos Core, Transition

#7419 Removing additional info
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/request.md
  .github/PULL_REQUEST_TEMPLATE/doc.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/pull_request_template.md
Labels: Cleanup

#7421 [ConvectionDiffusionApplication] Remove legacy linear solver
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
Labels: Applications, Cleanup, FastPR, Legacy

#7424 [Core] Minor clean ups from #3185 bringing it to the master
  kratos/factories/preconditioner_factory.h
  kratos/factories/standard_linear_solver_factory.h
Labels: Cleanup, FastPR, Kratos Core, Transition

#7425 [Core] Transition #3185 python exposition
  kratos/python/add_strategies_to_python.cpp
Labels: FastPR, Kratos Core, Python, Transition

#7407 [Core][ParUtils] default for IndexType
  kratos/utilities/parallel_utilities.h
Labels: Kratos Core, Usability

#5939 [Core] Double (and single) Lagrange multiplier builder and solver
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_custom_scipy_base_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_lagrange_multiplier.h
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
  kratos/tests/test_linear_constraints.py
  kratos/utilities/sparse_matrix_multiplication_utility.h
Labels: Applications, Enhancement, Kratos Core

#7420 Shallow/cleanup
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_elements/conserved_element.cpp
  applications/ShallowWaterApplication/custom_elements/conserved_element.h
  applications/ShallowWaterApplication/custom_elements/cv_swe.cpp
  applications/ShallowWaterApplication/custom_elements/cv_swe.h
  applications/ShallowWaterApplication/custom_elements/rv_swe.cpp
  applications/ShallowWaterApplication/custom_elements/rv_swe.h
  applications/ShallowWaterApplication/custom_elements/shallow_element.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_element.h
  applications/ShallowWaterApplication/custom_processes/compute_velocity_process.h
  applications/ShallowWaterApplication/python_scripts/benchmarks/base_benchmark_process.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/dam_break_benchmark.py
  applications/ShallowWaterApplication/python_scripts/eulerian_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/eulerian_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/lagrangian_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_conserved_var_solver.py
  applications/ShallowWaterApplication/python_scripts/pfem2_primitive_var_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
  applications/ShallowWaterApplication/tests/NightlyTests.py
  applications/ShallowWaterApplication/tests/SmallTests.py
  applications/ShallowWaterApplication/tests/cpp_tests/test_shallow_element.cpp
  applications/ShallowWaterApplication/tests/element_tests/eulerian_conserved_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/eulerian_primitive_variables_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/lagrangian_swe_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/lagrangian_swe_reference.json
  applications/ShallowWaterApplication/tests/element_tests/swe_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/swe_reference.json
  applications/ShallowWaterApplication/tests/element_tests/test_eulerian_conserved_element.json
  applications/ShallowWaterApplication/tests/element_tests/test_eulerian_primitive_element.json
  applications/ShallowWaterApplication/tests/element_tests/test_pfem2_conserved_element.json
  applications/ShallowWaterApplication/tests/element_tests/test_pfem2_primitive_element.json
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
  applications/ShallowWaterApplication/tests/run_cpp_unit_tests.py
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Cleanup, Testing

#7416 [Mapping] fix mapping matrix exposure
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_mappers/mapper.h
  applications/MappingApplication/custom_python/add_custom_mappers_to_python.cpp
Labels: Applications, Enhancement

#7435 [CoSim] fix static sdof
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/static_sdof_solver_wrapper.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
Labels: Applications, FastPR, Hotfix

#7437 [Warning][Fluid][Fluid-related] Deprecated strategies constructors warning
  applications/ChimeraApplication/custom_utilities/fractional_step_settings_for_chimera.h
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/residualbased_convdiff_strategy.h
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/residualbased_convdiff_strategy_nonlinear.h
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/residualbased_eulerian_convdiff_strategy.h
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/residualbased_semi_eulerian_convdiff_strategy.h
  applications/ConvectionDiffusionApplication/python_scripts/adjoint_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.h
  applications/FluidDynamicsApplication/custom_processes/stokes_initialization_process.h
  applications/FluidDynamicsApplication/custom_utilities/fractional_step_settings.h
  applications/FluidDynamicsApplication/custom_utilities/fractional_step_settings_periodic.h
  applications/FluidDynamicsApplication/python_scripts/adjoint_vmsmonolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/trilinos_extension/custom_processes/trilinos_stokes_initialization_process.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_utilities/trilinos_fractional_step_settings.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_utilities/trilinos_fractional_step_settings_periodic.h
  applications/MeshMovingApplication/custom_strategies/strategies/laplacian_meshmoving_strategy.h
  applications/MeshMovingApplication/custom_strategies/strategies/structural_meshmoving_strategy.h
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
  applications/TrilinosApplication/custom_processes/trilinos_levelset_convection_process.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_fractionalstep_configuration.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_laplacian_meshmoving_strategy.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_structural_meshmoving_strategy.h
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/processes/levelset_convection_process.h
  kratos/processes/variational_distance_calculation_process.h
Labels: Applications, Cleanup, Deprecated, Warning

#7429 [CoSim] adding ModelPartUtilities
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
  applications/CoSimulationApplication/python_scripts/utilities/model_part_utilities.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_model_part_utilties.py
Labels: Applications, Enhancement

#7441 [Core] …Adding missing default constructor and Create method to ResidualBasedBlockBuilderAndSolverWithLagrangeMultiplier
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_lagrange_multiplier.h
Labels: FastPR, Kratos Core, Transition

#7432 [CoSim] using python mapper factory
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/MappingApplication/python_scripts/python_mapper_factory.py
Labels: Applications, Usability

#7303 [RANS] RANS Turbulence models integration - Step 3.4.1 - Adding Custom Strategies and Utilities
  applications/RANSApplication/custom_elements/rans_fractional_step_element.cpp
  applications/RANSApplication/custom_elements/rans_fractional_step_element.h
  applications/RANSApplication/custom_processes/rans_apply_exact_nodal_periodic_condition_process.cpp
  applications/RANSApplication/custom_processes/rans_apply_flag_to_skin_process.cpp
  applications/RANSApplication/custom_processes/rans_compute_reactions_process.cpp
  applications/RANSApplication/custom_processes/rans_epsilon_turbulent_mixing_length_inlet_process.cpp
  applications/RANSApplication/custom_processes/rans_k_turbulent_intensity_inlet_process.cpp
  applications/RANSApplication/custom_processes/rans_line_output_process.cpp
  applications/RANSApplication/custom_processes/rans_nut_k_epsilon_update_process.cpp
  applications/RANSApplication/custom_processes/rans_nut_k_omega_sst_update_process.cpp
  applications/RANSApplication/custom_processes/rans_nut_k_omega_update_process.cpp
  applications/RANSApplication/custom_processes/rans_nut_y_plus_wall_function_update_process.cpp
  applications/RANSApplication/custom_processes/rans_omega_turbulent_mixing_length_inlet_process.cpp
  applications/RANSApplication/custom_processes/rans_wall_distance_calculation_process.cpp
  applications/RANSApplication/custom_processes/rans_wall_function_update_process.cpp
  applications/RANSApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/RANSApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/RANSApplication/custom_strategies/algebraic_flux_corrected_steady_scalar_scheme.h
  applications/RANSApplication/custom_strategies/bossak_relaxation_scalar_scheme.h
  applications/RANSApplication/custom_strategies/relaxed_dof_updater.cpp
  applications/RANSApplication/custom_strategies/relaxed_dof_updater.h
  applications/RANSApplication/custom_strategies/steady_scalar_scheme.h
  applications/RANSApplication/custom_utilities/rans_calculation_utilities.cpp
  applications/RANSApplication/custom_utilities/rans_variable_difference_norm_calculation_utility.cpp
  applications/RANSApplication/custom_utilities/rans_variable_difference_norm_calculation_utility.h
  applications/RANSApplication/custom_utilities/rans_variable_utilities.cpp
  applications/RANSApplication/custom_utilities/rans_variable_utilities.h
  applications/RANSApplication/rans_application.cpp
  applications/RANSApplication/rans_application.h
  applications/RANSApplication/trilinos_extension/custom_python/add_trilinos_strategies_to_python.cpp
  applications/RANSApplication/trilinos_extension/custom_strategies/relaxed_dof_updater.cpp
Labels: Applications, C++

#7445 [Fluid/TrilinosExtension] Remove strategy ctor deprecation warnings
  applications/FluidDynamicsApplication/custom_processes/spalart_allmaras_turbulence_model.h
  applications/FluidDynamicsApplication/trilinos_extension/custom_processes/trilinos_spalart_allmaras_turbulence_model.h
Labels: Applications, C++, Cleanup, Deprecated, FastPR, Warning

#7444 [Trilinos] Remove strategy ctor deprecation warnings
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
Labels: Applications, C++, Cleanup, Deprecated, FastPR, Warning

#7443 [Core] Remove strategy ctor deprecation warnings
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/strategies/line_search_strategy.h
  kratos/tests/cpp_tests/strategies/strategies/test_strategies.cpp
Labels: C++, Cleanup, Deprecated, FastPR, Kratos Core, Warning

#7442 [Core][ModelPart] fix GetParentModelPart signature
  applications/ContactMechanicsApplication/custom_bounding/circle_bounding_box.hpp
  applications/ContactMechanicsApplication/custom_bounding/compound_noses_bounding_box.hpp
  applications/ContactMechanicsApplication/custom_bounding/cylinder_bounding_box.hpp
  applications/ContactMechanicsApplication/custom_bounding/plane_bounding_box.hpp
  applications/ContactMechanicsApplication/custom_bounding/sphere_bounding_box.hpp
  applications/ContactMechanicsApplication/custom_bounding/tube_bounding_box.hpp
  applications/ContactMechanicsApplication/custom_processes/generate_new_contact_conditions_mesher_process.hpp
  applications/ContactMechanicsApplication/custom_utilities/rigid_body_element_creation_utility.hpp
  applications/DelaunayMeshingApplication/custom_processes/build_model_part_boundary_process.hpp
  applications/DelaunayMeshingApplication/custom_processes/generate_new_conditions_mesher_process.hpp
  applications/DelaunayMeshingApplication/custom_processes/generate_new_elements_mesher_process.hpp
  applications/DelaunayMeshingApplication/custom_processes/refine_elements_in_edges_mesher_process.hpp
  applications/DelaunayMeshingApplication/custom_processes/remove_nodes_mesher_process.hpp
  applications/MappingApplication/custom_utilities/mapping_intersection_utilities.cpp
  applications/PfemApplication/custom_processes/inlet_mesher_process.hpp
  applications/PfemApplication/custom_processes/insert_fluid_nodes_mesher_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/build_mesh_boundary_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/build_model_part_boundary_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_conditions_mesher_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_nodes_before_meshing_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/inlet_management_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/update_conditions_on_free_surface_process.hpp
  applications/SolidMechanicsApplication/custom_processes/build_string_skin_process.hpp
  kratos/containers/model.cpp
  kratos/includes/model_part.h
  kratos/input_output/vtk_output.cpp
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
  kratos/utilities/auxiliar_model_part_utilities.cpp
Labels: API Breaker, Applications, Cleanup, Kratos Core

#7411 [CoSim] remove pyKratos
  applications/CoSimulationApplication/CMakeLists.txt
  applications/CoSimulationApplication/custom_data_structure/CoSimulationApplication.py
  applications/CoSimulationApplication/custom_data_structure/KratosMultiphysics.py
  applications/CoSimulationApplication/custom_data_structure/README.md
  applications/CoSimulationApplication/custom_data_structure/configure_py_co_sim.sh
  applications/CoSimulationApplication/custom_data_structure/pyKratos/Element.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/IntervalUtility.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/Logger.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/Model.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/ModelPart.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/Node.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/Parameters.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/QuadriateralElement.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/TriangleElement.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/Variable.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/data_value_container.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/variables_co_simulation.py
  applications/CoSimulationApplication/custom_data_structure/pyKratos/variables_kratos.py
  applications/CoSimulationApplication/python_scripts/co_simulation_analysis.py
  applications/CoSimulationApplication/python_scripts/co_simulation_tools.py
  applications/CoSimulationApplication/tests/co_simulation_test_case.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_coupling_interface_data.py
  applications/CoSimulationApplication/tests/test_coupling_operations.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
  applications/CoSimulationApplication/tests/test_flower_coupling.py
  applications/CoSimulationApplication/tests/test_mok_fsi.py
  applications/CoSimulationApplication/tests/test_ping_pong_coupling.py
Labels: Applications, Cleanup

#7447 [Shallow] cleanup
  applications/ShallowWaterApplication/custom_elements/swe.cpp
  applications/ShallowWaterApplication/custom_elements/swe.h
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ProjectParameters.tcl
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_solver.py
  applications/ShallowWaterApplication/tests/cpp_tests/test_shallow_element.cpp
  applications/ShallowWaterApplication/tests/element_tests/lagrangian_swe_parameters.json
  applications/ShallowWaterApplication/tests/element_tests/swe_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
Labels: Cleanup

#7448 [Core][All]Consistency in C++ files (GetDefaultSettings->GetDefaultParameters)
  applications/CSharpWrapperApplication/custom_includes/kratos_internals.h
  applications/CSharpWrapperApplication/custom_sources/kratos_internals.cpp
  applications/FSIApplication/custom_utilities/constant_relaxation_convergence_accelerator.h
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.h
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.h
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/solving_strategies/schemes/residualbased_incremental_aitken_static_scheme.h
Labels: Applications, FastPR, Inconsistent, Kratos Core, Refactor

#7304 [RANS] RANS Turbulence models integration - Step 3.4.2 - Adding Incompressible Potential Flow Solver
  applications/RANSApplication/python_scripts/apply_wall_function_process.py
  applications/RANSApplication/python_scripts/coupled_rans_solver.py
  applications/RANSApplication/python_scripts/cpp_process_factory.py
  applications/RANSApplication/python_scripts/formulations/__init__.py
  applications/RANSApplication/python_scripts/formulations/incompressible_potential_flow/__init__.py
  applications/RANSApplication/python_scripts/formulations/rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/utilities.py
  applications/RANSApplication/python_scripts/rans_analysis.py
  applications/RANSApplication/python_scripts/test_utilities.py
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_incompressible_potential_flow_field_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_incompressible_potential_flow_parameters.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_material_properties.json
  applications/RANSApplication/tests/incompressible_potential_flow_solver_formulation_tests.py
  applications/RANSApplication/tests/test_RANSApplication.py
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
Labels: Applications, Python

#7405 Warding low performance macros
  kratos/input_output/logger.h
  kratos/tests/cpp_tests/input_output/test_logger.cpp
Labels: Bugfix, Logging

#7452 [MappingApp] adding wrapper for Empire Mortar Mapper
  applications/MappingApplication/python_scripts/empire_mapper.py
  applications/MappingApplication/python_scripts/empire_mapper_wrapper.py
  applications/MappingApplication/python_scripts/empire_mortar_mapper.py
  applications/MappingApplication/python_scripts/python_mapper.py
  applications/MappingApplication/tests/test_empire_mortar_mapper.py
Labels: Applications

#7450 [PfemFluid] fixing spelling
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_nodes_before_meshing_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/inlet_management_process.hpp
Labels: Applications, Compilation, Hotfix

#7449 [CI] adding -Wparentheses to Clang error flags
  .github/workflows/ci.yml
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
Labels: Clang, Compilation, Continuous Integration

#7460 [Struct mech] Update some element interfaces
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.hpp
  applications/StructuralMechanicsApplication/tests/test_nodal_damping.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_displacement_mixed_volumetric_strain.py
Labels: Cleanup, Deprecated

#7462 [Mapping] adding usage of initial config to Empire Mortar mapper
  applications/MappingApplication/python_scripts/empire_mortar_mapper.py
Labels: Applications, Enhancement, FastPR, Incomplete

#7427 [All] Remove old mixed convergence criteria
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/convergence_criteria/vel_pr_criteria.h
  applications/SwimmingDEMApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ULFapplication/python_scripts/SurfaceTension_monolithic_solver.py
  applications/pfem_2_application/python_scripts/pfem_2_navier_stokes_monolithic_solver.py
Labels: Applications, Cleanup

#7464 [Templates] Adding TODOs template
  .github/ISSUE_TEMPLATE/todo.md
Labels: Documentation, FastPR, Kratos Core

#7470 [Core][NR-Strategy] nicer prints
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Cleanup, FastPR, Kratos Core

#7466 [Structural] use new Convergence Criteria
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_and_other_dof_criteria.h
  applications/StructuralMechanicsApplication/python_scripts/convergence_criteria_factory.py
  applications/StructuralMechanicsApplication/tests/beam_test/nonlinear_2D2NBeamCr_test_parameters.json
  applications/StructuralMechanicsApplication/tests/shell_test/Shell_Q4_Thin_nonlinear_dynamic_test_parameters.json
  applications/StructuralMechanicsApplication/tests/test_patch_test_cr_beam.py
Labels: Applications, Enhancement

#7472 [Template] Adding template for external libray update
  .github/PULL_REQUEST_TEMPLATE/external_library_update.md
Labels: Documentation, FastPR, Kratos Core

#7468 [CoSim] use new functions from 7429
  applications/CoSimulationApplication/python_scripts/co_simulation_tools.py
  applications/CoSimulationApplication/python_scripts/helpers/dummy_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/cpp_ping_pong/ping_pong_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/empire_io.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/external_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/flower_wrapper.py
Labels: Applications, Cleanup

#7465 [LinSolversApp] fixing feast compileation for older versions of MKL
  applications/LinearSolversApplication/custom_python/add_custom_solvers_to_python.h
Labels: Compilation, External library

#7483 [Shallow] Drop python2 support
  applications/ShallowWaterApplication/python_scripts/benchmarks/base_benchmark_process.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/dam_break_benchmark.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/dry_dam_break_benchmark.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/planar_surface_in_parabola_benchmark.py
  applications/ShallowWaterApplication/python_scripts/convergence_output_process.py
  applications/ShallowWaterApplication/python_scripts/lagrangian_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/multigrid_solver.py
  applications/ShallowWaterApplication/python_scripts/residual_based_refining_condition_process.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_analysis.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_multigrid_analysis.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_solver.py
Labels: Cleanup, Python

#7473 [Core] serializer quadrature point geometry
  kratos/geometries/quadrature_point_geometry.h
  kratos/includes/kratos_application.h
  kratos/integration/integration_point.h
  kratos/sources/kratos_application.cpp
  kratos/tests/cpp_tests/sources/test_serializer_geometry_data.cpp
Labels: Kratos Core, Serialization

#7413 Adding GetIterationsNumber to linear solver
  kratos/linear_solvers/amgcl_solver.h
  kratos/linear_solvers/iterative_solver.h
  kratos/linear_solvers/linear_solver.h
  kratos/linear_solvers/scaling_solver.h
  kratos/python/add_amgcl_solver_to_python.cpp
  kratos/python/add_linear_solvers_to_python.cpp
Labels: Kratos Core

#7485 [dem] Removing useless conditions and renaming RigidEdge3D to RigidEdge2D
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application.h
  applications/DEMApplication/custom_conditions/RigidEdge.cpp
  applications/DEMApplication/custom_conditions/RigidEdge.h
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DemStructuresCouplingApplication/custom_utilities/dem_structures_coupling_utilities.h
Labels: C++, Cleanup, Deprecated

#7484 [dem] Cleaning a bit the implementation of the tests
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DEMApplication/tests/auxiliary_functions_for_tests.py
  applications/DEMApplication/tests/test_DEM_2D.py
  applications/DEMApplication/tests/test_DEM_2D_contact.py
  applications/DEMApplication/tests/test_DEM_2D_control_module.py
  applications/DEMApplication/tests/test_DEM_2D_inlet.py
  applications/DEMApplication/tests/test_DEM_2D_restitution.py
  applications/DEMApplication/tests/test_DEM_3D_contact.py
  applications/DEMApplication/tests/test_DEM_3D_continuum.py
  applications/DEMApplication/tests/test_DEM_3D_restitution.py
  applications/DEMApplication/tests/test_analytics.py
  applications/DEMApplication/tests/test_glued_particles.py
  applications/DEMApplication/tests/test_kinematic_constraints.py
Labels: FastPR, Python, Refactor

#6800 [Core] Add PointsNumberInDirection to Geometry
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/brep_surface.h
  kratos/geometries/geometry.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/python/add_geometries_to_python.cpp
Labels: CAD Integration, Kratos Core

#7046 [Core][Geometry] Access to Polynomial Degree
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/brep_surface.h
  kratos/geometries/geometry.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/python/add_geometries_to_python.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_curve.cpp
  kratos/tests/cpp_tests/utilities/test_nurbs_curve_tessellation.cpp
Labels: CAD Integration, Kratos Core, Tobis Branch

#7493 [Core] removing VariableComponent from Geometry
  kratos/geometries/geometry.h
Labels: Cleanup, FastPR, Kratos Core

#7495 [RANS] Using time derivatives
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/scalar_wall_flux_condition.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_cross_wind_stabilized_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_residual_based_flux_corrected_element.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/epsilon_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/epsilon_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega/omega_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega/omega_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/omega_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/omega_element_data.h
  applications/RANSApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/RANSApplication/custom_strategies/bossak_relaxation_scalar_scheme.h
  applications/RANSApplication/rans_application_variables.cpp
  applications/RANSApplication/trilinos_extension/custom_python/add_trilinos_strategies_to_python.cpp
Labels: Applications, C++

#7438 [Fluid] Add pressure gradient relaxation for fractional step
  applications/FluidDynamicsApplication/custom_elements/fractional_step.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/fractional_step_strategy.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
Labels: Applications, C++

#7490 [HDF5] Adding examples to ReadMe file
  applications/HDF5Application/README.md
Labels: Documentation, FastPR

#7498 Correcting kinematic cl
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_kinematic_plasticity.h
Labels: Applications, Enhancement

#7500 [Structural] removing leftover ComponentVar
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
Labels: Applications, Cleanup, FastPR

#7499 [Core] Expose GetModelPart of SolvingStrategy
  kratos/python/add_strategies_to_python.cpp
Labels: C++, Kratos Core, Python

#7503 [Trilinos] Add TrilinosSolvingStrategy GetModelPart
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
Labels: Applications, C++, Parallel-MPI

#7087 [Iga] Allow Strong Supports
  applications/IgaApplication/custom_modelers/iga_modeler.cpp
  applications/IgaApplication/custom_modelers/iga_modeler.h
  applications/IgaApplication/tests/modeler_tests/strong_support_physics.iga.json
  applications/IgaApplication/tests/modeler_tests/surface_geometry.cad.json
  applications/IgaApplication/tests/test_IgaApplication.py
  applications/IgaApplication/tests/test_modelers.py
  kratos/geometries/brep_surface.h
Labels: Applications

#7360 [IGA] Dead load
  applications/IgaApplication/custom_conditions/load_condition.cpp
  applications/IgaApplication/custom_conditions/load_condition.h
  applications/IgaApplication/custom_python/iga_python_application.cpp
  applications/IgaApplication/iga_application.cpp
  applications/IgaApplication/iga_application_variables.cpp
  applications/IgaApplication/iga_application_variables.h
Labels: CAD Integration

#7494 [Core][Breps] Update parents of quadrature point geometries from brep geometries
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/brep_surface.h
Labels: CAD Integration, Kratos Core

#7409 [Core] add monotonicity preserving solver
  kratos/factories/standard_linear_solver_factory.cpp
  kratos/linear_solvers/monotonicity_preserving_solver.h
  kratos/tests/cpp_tests/linear_solvers/test_monotonicity_solver.cpp
Labels: Enhancement, Kratos Core

#7390 [MeshingApplication] Saving new mesh in a .mdpa file after the simulation run in mmg_process
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Applications

#7501 [CoSim] updating Accelerators to work with new version
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/anderson.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/iqnils.py
  applications/CoSimulationApplication/tests/fsi_mok/ProjectParametersCFD.json
Labels: Applications, FastPR

#7497 [Core] more cleaning of VariableComponent
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/periodic_condition_utilities.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_laplacian_meshmoving_strategy.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_structural_meshmoving_strategy.h
  kratos/containers/periodic_variables_container.h
  kratos/includes/geometrical_object.h
  kratos/includes/master_slave_constraint.h
  kratos/processes/simple_mortar_mapper_process.h
  kratos/python/add_containers_to_python.cpp
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
  kratos/sources/periodic_condition.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Cleanup, FastPR, Kratos Core

#7395 [Mapping] improving searching
  applications/MappingApplication/CMakeLists.txt
  applications/MappingApplication/custom_searching/interface_communicator.cpp
  applications/MappingApplication/custom_searching/interface_communicator.h
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/tests/cpp_tests/mpi/test_mapper_utilities_mpi.cpp
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
  applications/MappingApplication/tests/run_cpp_mpi_unit_tests.py
  applications/MappingApplication/tests/runscript_test_MappingApplication.py
Labels: Applications, Enhancement, Performance

#7506 [Core] deprecating VariableComponent
  CMakeLists.txt
  kratos/containers/variable_component.h
  kratos/containers/vector_component_adaptor.h
Labels: Cleanup, Deprecated, Kratos Core

#7345 [Core] Add Global Condition Neighbours Finding Process
  kratos/CMakeLists.txt
  kratos/includes/global_pointer_variables.h
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/processes/find_global_nodal_neighbours_for_entities_process.cpp
  kratos/processes/find_global_nodal_neighbours_for_entities_process.h
  kratos/processes/find_global_nodal_neighbours_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/sources/global_pointer_variables.cpp
  kratos/tests/cpp_tests/processes/test_find_nodal_neighbours_process.cpp
  kratos/tests/test_processes.py
Labels: C++, Kratos Core, Parallel-MPI, Parallel-OMP, Python

#7412 [Core] Adds a method to distribute Element/Condition derivative matrices to Nodes
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_sensitivity_builder.py
  kratos/utilities/sensitivity_builder.cpp
  kratos/utilities/sensitivity_builder.h
Labels: C++, Kratos Core, Python

#7505 [StructMech] improve eigen frequency log (cosmetics)
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/eigenfrequency_response_function_utility.h
Labels: FastPR

#7410 [Mapping] linear solver in mapper
  applications/CoSimulationApplication/python_scripts/convergence_criteria/absolute_norm_energy_conjugate.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/coupling_output.py
  applications/MappingApplication/CMakeLists.txt
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_utilities/mapper_local_system.h
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.h
  applications/MappingApplication/custom_utilities/mpi/mapping_matrix_utilities_mpi.cpp
Labels: Applications, Enhancement, Performance

#7512 [StatApp] Remove VariableComponent header files
  applications/StatisticsApplication/statistics_application_variables.h
Labels: Applications, C++, Cleanup

#7517 [MeshingApplication] Remove Variable Component uses
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_utilities/cutting_iso_app.h
Labels: Applications, Cleanup, Deprecated

#7428 [Core] Add Rotation matrix shape sensitivities
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_coordinate_transformation_utils.py
  kratos/utilities/coordinate_transformation_utilities.h
Labels: C++, Kratos Core, Python

#7519 [TrilinosApp] Delete trilinos_fractionalstep_configuration.h
  applications/TrilinosApplication/custom_strategies/strategies/trilinos_fractionalstep_configuration.h
Labels: Applications, Cleanup

#7509 [Mpm] add element transfer interface
  .github/workflows/ci.yml
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_dirichlet_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_coupling_interface_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_dirichlet_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_point_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_point_load_condition.h
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_PQ.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_python/mpi/add_custom_mpi_utilities_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/mpi/add_custom_mpi_utilities_to_python.h
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpi/mpi_utilities.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpi/mpi_utilities.h
  applications/ParticleMechanicsApplication/tests/test_ParticleMechanicsApplication_mpi.py
  applications/ParticleMechanicsApplication/tests/test_transfer_conditions.py
  applications/ParticleMechanicsApplication/tests/test_transfer_elements.py
Labels: Applications, Parallel-MPI

#7524 [CSharpApp] Remove variable component deprecations
  applications/CSharpWrapperApplication/custom_includes/model_part_wrapper.h
  applications/CSharpWrapperApplication/custom_sources/kratos_internals.cpp
  applications/CSharpWrapperApplication/custom_sources/model_part_wrapper.cpp
  applications/CSharpWrapperApplication/external_bindings/condition_external_bindings.cpp
  applications/CSharpWrapperApplication/external_bindings/element_external_bindings.cpp
  applications/CSharpWrapperApplication/external_bindings/model_part_wrapper_external_bindings.cpp
  applications/CSharpWrapperApplication/external_bindings/node_external_bindings.cpp
  applications/CSharpWrapperApplication/external_bindings/variable_external_bindings.cpp
Labels: Applications, Cleanup

#7521 [ShallowWater] Stabilized element
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.h
  applications/ShallowWaterApplication/python_scripts/stabilized_shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
Labels: Applications, Feature

#7528 [Shallow] Problemtype
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/Mdpa.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ProjectParameters.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ProjectParametersAuxProcs.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.cnd
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.prb
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.unix.bat
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.win.bat
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/shallow_water_main.py
Labels: Applications, Usability

#7350 [IGA] Output Quadrature Domain Process
  applications/IgaApplication/CMakeLists.txt
  applications/IgaApplication/custom_processes/output_quadrature_domain_process.cpp
  applications/IgaApplication/custom_processes/output_quadrature_domain_process.h
  applications/IgaApplication/custom_python/add_custom_processes_to_python.cpp
  applications/IgaApplication/custom_python/add_custom_processes_to_python.h
  applications/IgaApplication/custom_python/iga_python_application.cpp
  applications/IgaApplication/python_scripts/output_quadrature_domain_process.py
Labels: CAD Integration

#7531 [ShallowWater] Removing variable_component includes
  applications/ShallowWaterApplication/shallow_water_application_variables.h
Labels: Cleanup

#7530 [Shallow] Time dependent topography
  applications/ShallowWaterApplication/python_scripts/empty_solver_for_testing.py
  applications/ShallowWaterApplication/python_scripts/set_topography_process.py
  applications/ShallowWaterApplication/tests/processes_tests/set_topography_process_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/set_topography_process_reference.json
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Feature, Usability

#7451 [Core] cleaning old functions in PythonSolver
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_static_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/adjoint_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/conjugate_heat_transfer_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_transient_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/coupled_fluid_thermal_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/coupled_structural_thermal_solver.py
  applications/FSIApplication/python_scripts/partitioned_embedded_fsi_base_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_dirichlet_neumann_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_static_solver.py
  kratos/python_scripts/python_solver.py
Labels: Cleanup, Deprecated, Kratos Core, Python

#7514 [PotentialFlow] Upgrade move modelpart process using transformation and parallel utilities
  applications/CompressiblePotentialFlowApplication/custom_processes/move_model_part_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/move_model_part_process.h
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_processes.cpp
Labels: Applications, Feature

#7527 [CoSim] enhance CouplingOutput
  applications/CoSimulationApplication/python_scripts/coupling_operations/coupling_output.py
Labels: Applications, Enhancement, FastPR, Usability

#7529 [Core] Last clean up of residualbased_elimination_builder_and_solver
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
Labels: Cleanup, Kratos Core

#7535 [HDF5] Remove deprecation warning for "from collections import Mapping"
  applications/HDF5Application/python_scripts/core/utils.py
Labels: Applications, Cleanup, Deprecated, Python

#7526 [Core] Length for NurbsCurve and NurbsCurveOnSurface
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_curve.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_curve_on_surface_geometry.cpp
Labels: CAD Integration

#7055 [Core] Adding atomic utilities
  kratos/utilities/atomic_utilities.h
Labels: Enhancement, Kratos Core, Parallel-OMP
