Repository KratosMultiphysics/Kratos, pull requests merged in 2020-02, with the labels that each got.

#6312 [DEM] unit test for continuum
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_DEM_2D.py
  applications/DEMApplication/tests/test_DEM_2D_contact.py
  applications/DEMApplication/tests/test_DEM_2D_restitution.py
  applications/DEMApplication/tests/test_DEM_3D_contact.py
  applications/DEMApplication/tests/test_DEM_3D_continuum.py
  applications/DEMApplication/tests/test_DEM_3D_continuum/ProjectParametersDEM.json
  applications/DEMApplication/tests/test_DEM_3D_restitution.py
  applications/DEMApplication/tests/test_analytics.py
  applications/DEMApplication/tests/test_glued_particles.py
  applications/DEMApplication/tests/test_guis.py
  applications/DEMApplication/tests/test_particle_creator_destructor.py
  applications/DEMApplication/tests/test_wall_creator_destructor.py
Labels: Benchmarking

#6306 [Core] Add resize to pointer vector
  kratos/containers/pointer_vector.h
Labels: Kratos Core

#6307 [Core] Bugfix Geometry Id
  kratos/geometries/geometry.h
  kratos/tests/cpp_tests/geometries/test_geometry.cpp
Labels: FastPR

#6288 [Core] Add Geometry functions from ModelPart to Python
  kratos/containers/geometry_container.h
  kratos/containers/pointer_hash_map_set.h
  kratos/includes/model_part.h
  kratos/python/add_geometries_to_python.cpp
  kratos/python/add_model_part_to_python.cpp
  kratos/python/containers_interface.h
  kratos/tests/test_model_part.py
Labels: CAD Integration, Kratos Core

#6342 [Core] Fix test_coupling_geometry
  kratos/tests/cpp_tests/geometries/test_coupling_geometry.cpp
Labels: FastPR

#6199 [EigenSolversApplication] Add Eigen's dense solvers
  applications/EigenSolversApplication/CMakeLists.txt
  applications/EigenSolversApplication/README.md
  applications/EigenSolversApplication/custom_factories/dense_linear_solver_factory.cpp
  applications/EigenSolversApplication/custom_factories/dense_linear_solver_factory.h
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
  applications/EigenSolversApplication/custom_solvers/eigen_dense_col_piv_householder_qr_solver.h
  applications/EigenSolversApplication/custom_solvers/eigen_dense_direct_solver.h
  applications/EigenSolversApplication/custom_solvers/eigen_dense_householder_qr_solver.h
  applications/EigenSolversApplication/custom_solvers/eigen_dense_llt_solver.h
  applications/EigenSolversApplication/custom_solvers/eigen_dense_partial_piv_lu_solver.h
  applications/EigenSolversApplication/eigen_solvers_application.cpp
  applications/EigenSolversApplication/eigen_solvers_application.h
  applications/EigenSolversApplication/python_scripts/dense_linear_solver_factory.py
  applications/EigenSolversApplication/tests/test_EigenSolversApplication.py
  applications/EigenSolversApplication/tests/test_eigen_dense_direct_solver.py
Labels: Applications, Feature

#6327 [CI] activate EigenSolversApplication on windows CI
  .github/workflows/ci.yml
Labels: Proposal

#6346 [Mapping] Fix source kratos dir
  applications/MappingApplication/CMakeLists.txt
Labels: FastPR

#6347 [Core] Exposing CompareElementsAndConditionsUtility to python
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_compare_elements_conditions.py
  kratos/utilities/compare_elements_and_conditions_utility.h
Labels: FastPR, Kratos Core, Python

#6348 [FastPR][Hotfix][Core] Fix Aitken scheme compilation
  kratos/solving_strategies/schemes/residualbased_incremental_aitken_static_scheme.h
Labels: Bugfix, Clang, Compilation, FastPR, Kratos Core

#6345 [Core][CI] Activating MMG
  .github/workflows/configure.sh
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
Labels: Continuous Integration, FastPR, Kratos Core

#6354 [Mapping] fixing test
  applications/MappingApplication/tests/cpp_tests/test_interface_object.cpp
Labels: Applications, FastPR, Testing

#6357 [Win-CI] tmp disable EigenSolversApp until fixed
  .github/workflows/ci.yml
Labels: Applications, Continuous Integration, Error

#6280 [Core] fix filesystem
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_mixedulm_linear_solver.cpp
  external_libraries/ghc/fs_fwd.hpp
  external_libraries/ghc/fs_impl.hpp
  kratos/includes/kratos_filesystem.h
  kratos/sources/kratos_filesystem.cpp
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/aux_os_utilities.h
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
  kratos/tests/cpp_tests/utilities/test_assign_unique_model_part_collection_tag_utility.cpp
  kratos/utilities/check_filesystem_availability.h
  kratos/utilities/os_utilities.cpp
Labels: Enhancement, Kratos Core

#6362 [Core][Flags] add test for copy-constructor
  kratos/tests/test_flags.py
Labels: FastPR, Incomplete, Kratos Core, Testing

#6364 [Core] Remove OSUtilities
  applications/CSharpWrapperApplication/tests/cpp_tests/test_calculate.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_io.cpp
  kratos/CMakeLists.txt
  kratos/utilities/os_utilities.cpp
  kratos/utilities/os_utilities.h
Labels: Applications, Cleanup, FastPR, Kratos Core

#6368 [MLMC] Adding power sums up to order 10
  applications/MultilevelMonteCarloApplication/custom_python/multilevel_monte_carlo_python_application.cpp
  applications/MultilevelMonteCarloApplication/custom_statistics/power_sums_statistics.cpp
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application.cpp
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application_variables.cpp
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application_variables.h
  applications/MultilevelMonteCarloApplication/tests/cpp_tests/test_power_sums_calculation.cpp
Labels: Applications, C++, Testing

#5489 Mpi/experimental split communicator
  kratos/includes/data_communicator.h
  kratos/includes/parallel_environment.h
  kratos/mpi/CMakeLists.txt
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/includes/mpi_manager.h
  kratos/mpi/mpi_environment.cpp
  kratos/mpi/mpi_environment.h
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/python/kratos_mpi_python.cpp
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/sources/mpi_manager.cpp
  kratos/mpi/tests/sources/test_data_communicator.cpp
  kratos/mpi/tests/sources/test_data_communicator_manipulation.cpp
  kratos/mpi/tests/sources/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_environment.cpp
  kratos/mpi/tests/sources/test_mpi_serialized_communication.cpp
  kratos/mpi/tests/test_data_communicator_factory.py
  kratos/mpi/utilities/data_communicator_factory.cpp
  kratos/mpi/utilities/data_communicator_factory.h
  kratos/python/add_data_communicator_to_python.cpp
  kratos/python/add_parallel_environment_to_python.cpp
  kratos/sources/parallel_environment.cpp
Labels: Discussion, Help Wanted, Parallel-MPI

#6369 Fixing line_search_strategy for MPI
  kratos/solving_strategies/strategies/line_search_strategy.h
Labels: Parallel-MPI

#6351 [Fluid] Fix embedded skin visualization with reform
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.h
  applications/FluidDynamicsApplication/python_scripts/apply_embedded_skin_visualization_process.py
Labels: Applications, Bugfix, Post Process, Refactor

#6361 [Structural] clean harmonic analysis tests
  applications/StructuralMechanicsApplication/tests/harmonic_analysis_test/harmonic_analysis_test_eigenproblem_parameters.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
Labels: Applications, Cleanup, Testing

#6358 [StructuralMechanics] switching so EigenSolversApp.sparse_lu in tests
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
Labels: Applications, Testing, Transition

#6353 [CI] add FullDebug Build
  .github/workflows/ci.yml
  .github/workflows/configure.sh
Labels: Continuous Integration, Enhancement, Testing

#6373 [TEMP] always run CI
  .github/workflows/ci.yml
Labels: Continuous Integration

#6374 [Core] hotfiix - missing def_static
  kratos/python/add_geometries_to_python.cpp
Labels: Error, FastPR

#6381 Switch to checkout-v2
  .github/workflows/ci.yml
Labels: Continuous Integration

#6129 [StructuralMechanicsApplication] Adding small displacement load conditions
  applications/StructuralMechanicsApplication/custom_conditions/line_load_condition_2d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_line_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_line_load_condition.h
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_surface_load_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_surface_load_condition_3d.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_mpc_plate_tension.cpp
  applications/StructuralMechanicsApplication/tests/test_loading_conditions_line.py
  applications/StructuralMechanicsApplication/tests/test_loading_conditions_surface.py
Labels: Applications, Cleanup, Duplicate, Enhancement, Legacy

#6350 [Eigensolvers] Fix EigensolversApplication for Windows
  .github/workflows/ci.yml
  applications/EigenSolversApplication/CMakeLists.txt
  applications/EigenSolversApplication/custom_factories/dense_linear_solver_factory.cpp
  applications/EigenSolversApplication/custom_factories/dense_linear_solver_factory.h
  applications/EigenSolversApplication/eigen_solvers_application.cpp
  applications/EigenSolversApplication/eigen_solvers_application.h
Labels: Continuous Integration, Windows

#6384 [Core] Removing warnings due to unitialized arrays
  kratos/spatial_containers/geometrical_objects_bins.h
Labels: FastPR, Kratos Core, Warning

#6250 [Structural] making usage of custom solvers possible
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
Labels: Applications, Enhancement, Python

#6378 [Core] fix circular dependency
  kratos/utilities/stl_vector_io.h
Labels: Clang, Compilation, Error, FastPR, Kratos Core

#6136 [Core] Read properties independently
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  kratos/utilities/read_materials_utility.cpp
  kratos/utilities/read_materials_utility.h
Labels: Behaviour Change, Enhancement, Kratos Core

#5730 [Core] making global pointers to occupy exactly 1
  kratos/includes/global_pointer.h
Labels: Kratos Core, Memory saving

#6388 [Core][Hotfix] Initialize LHS in the small displacement condition
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_line_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_surface_load_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.cpp
Labels: Applications, FastPR, Hotfix

#6247 [Structural] New Formfinding
  applications/StructuralMechanicsApplication/custom_constitutive/truss_constitutive_law.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/prestress_membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/formfinding_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/formfinding_updated_reference_strategy.hpp
  applications/StructuralMechanicsApplication/custom_utilities/formfinding_io_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/formfinding_io_utility.h
  applications/StructuralMechanicsApplication/custom_utilities/project_vector_on_surface_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/project_vector_on_surface_utility.h
  applications/StructuralMechanicsApplication/python_scripts/formfinding_IO_process.py
  applications/StructuralMechanicsApplication/python_scripts/project_vector_on_surface_process.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_Cable.mdpa
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_Cable_test_material.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_Cable_test_parameters.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_Cable_test_results.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_noCable.mdpa
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_noCable_test_materials.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_noCable_test_parameters.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Fofi_4Point_Tent_noCable_test_results.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Formfinding_Four_Point_Membrane_With_Cable_test.mdpa
  applications/StructuralMechanicsApplication/tests/formfinding_test/Formfinding_Four_Point_Membrane_With_Cable_test_materials.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Formfinding_Four_Point_Membrane_With_Cable_test_parameters.json
  applications/StructuralMechanicsApplication/tests/formfinding_test/Formfinding_Four_Point_Membrane_With_Cable_test_results.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_PointLoad.mdpa
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_PointLoad_test_materials.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_PointLoad_test_parameters.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_PointLoad_test_results.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad.mdpa
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad_test_material.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad_test_parameters.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_Q4_Truss_PointLoad_test_results.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_formfinding.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_formfinding_trusses.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_membrane.py
Labels: Applications, Feature

#6375 [DEM] bugfix for grid benchmark system
  applications/DEMApplication/test_examples/basic_benchmarks/DEM_benchmarks_analysis.py
Labels: Bugfix

#6386 [Mapping] fix cotire errors
  applications/MappingApplication/CMakeLists.txt
  applications/MappingApplication/custom_utilities/interface_vector_container_mpi.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities_mpi.cpp
  applications/MappingApplication/tests/test_MappingApplication_mpi.py
Labels: Applications, Clang, Compilation, FastPR, Testing

#6377 [CMAKE] Update cmake policy 0074
  CMakeLists.txt
Labels: Compilation

#6390 [DEM] added RebuildListOfSphericParticles
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
Labels: Bugfix

#6395 [Core] Removing warning from ReadMaterialsUtility
  kratos/python/add_utilities_to_python.cpp
  kratos/utilities/read_materials_utility.h
Labels: FastPR, Kratos Core, Warning

#6379 [Core] update CMake
  CMakeLists.txt
Labels: Compilation, Kratos Core, Proposal

#6376 [CI] add Clang
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  applications/EigenSolversApplication/CMakeLists.txt
Labels: Clang, Continuous Integration, Enhancement

#5997 [Core] Missing protected in ReadMaterialsUtility
  kratos/utilities/read_materials_utility.h
Labels: FastPR, Kratos Core

#6398 [FluidDynamicsApplications] Add check writing to file in Finalize() for drag process
  applications/FluidDynamicsApplication/python_scripts/compute_drag_process.py
Labels: Applications, Bug, FastPR

#6403 [ShallowWater] Updating GiD problemtype
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.cnd
Labels: Hotfix

#6396 [Core] Fix issues with MinGW compilation
  CMakeLists.txt
  scripts/standard_configure_MINGW.sh
Labels: Compilation, FastPR, Hotfix, Kratos Core

#6404 [Structural] Mixed vol-strain element anysotropy
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_displacement_mixed_volumetric_strain.py
Labels: Applications, Enhancement

#6410 [Core] Adding pGetDof by position to node
  kratos/includes/node.h
  kratos/tests/cpp_tests/sources/test_node.cpp
Labels: Enhancement, Kratos Core

#6415 [PfemFluid] Improving robustness of the remeshing process
  applications/DelaunayMeshingApplication/custom_python/delaunay_meshing_python_application.cpp
  applications/DelaunayMeshingApplication/custom_utilities/mesh_data_transfer_utilities.cpp
  applications/DelaunayMeshingApplication/delaunay_meshing_application.cpp
  applications/DelaunayMeshingApplication/delaunay_meshing_application_variables.cpp
  applications/DelaunayMeshingApplication/delaunay_meshing_application_variables.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_explicit_fluid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_fluid_DEM_coupling_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_fluid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_nodes_before_meshing_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/set_material_properties_to_fluid_nodes_process.hpp
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_nodal_integration_solver.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
Labels: Applications, Enhancement

#6416 [PfemFluid] Removing unused files
  applications/PfemFluidDynamicsApplication/custom_processes/model_start_end_meshing_with_conditions_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
Labels: Applications, Cleanup

#6163 [Core] CAD Json Input
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/input_output/cad_json_input.h
  kratos/python/add_io_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/cad_json_files/single_square.cad.json
  kratos/tests/test_KratosCore.py
  kratos/tests/test_cad_json_input.py
Labels: CAD Integration

#6427 [Core] Add missing submodelparts const
  kratos/includes/model_part.h
Labels: C++, Incomplete, Kratos Core

#6258 [Pfem] migrating materials from mdpa to json
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_check_and_prepare_model_process_fluid.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Bingham/PfemFluidDynamicsMaterials.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Bingham/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Bingham/Test_2D_Bingham.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/PfemFluidDynamicsMaterials.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/Test_2D_FSI.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Newtonian_Sloshing/PfemFluidDynamicsMaterials.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Newtonian_Sloshing/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Newtonian_Sloshing/Test_2D_Newtonian_Sloshing.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/PfemFluidDynamicsMaterials.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/Test_2D_muIrheology.mdpa
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/PfemFluidDynamicsMaterials.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/Test_3D_Newtonian_Sloshing.mdpa
  applications/SwimmingDEMApplication/test_examples/PFEMcoupledDEMexample.gid/PFEMcoupledDEMexample.mdpa
  applications/SwimmingDEMApplication/test_examples/PFEMcoupledDEMexample.gid/PfemFluidDynamicsMaterials.json
  applications/SwimmingDEMApplication/test_examples/PFEMcoupledDEMexample.gid/ProjectParameters.json
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/PfemFluidDynamicsMaterials.json
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/ProjectParameters.json
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/sdem_pfem_coupling_one_way_test.mdpa
Labels: Applications, Proposal

#6428 [dem] Memory management problem (bugfix)
  applications/DEMApplication/custom_utilities/rigid_face_geometrical_object_configure.h
Labels: Bugfix

#6363 [HDF5] Add submodel parts
  applications/HDF5Application/custom_io/hdf5_model_part_io.cpp
  applications/HDF5Application/custom_io/hdf5_model_part_io.h
  applications/HDF5Application/custom_processes/hdf5_xdmf_connectivities_writer_process.cpp
  applications/HDF5Application/custom_processes/hdf5_xdmf_connectivities_writer_process.h
  applications/HDF5Application/python_scripts/core/xdmf.py
  applications/HDF5Application/python_scripts/xdmf_utils.py
  applications/HDF5Application/tests/test_hdf5_xdmf.py
Labels: C++, Enhancement, Python

#6419 [Core] Removing legacy structural app variables
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/MeshingApplication/external_includes/tetgen_pfem_contact.h
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.h
  applications/SwimmingDEMApplication/custom_python/swimming_DEM_python_application.cpp
  applications/SwimmingDEMApplication/swimming_DEM_application.cpp
  applications/SwimmingDEMApplication/swimming_DEM_application.h
  applications/SwimmingDEMApplication/swimming_dem_application_variables.h
  applications/ULFapplication/ULF_application_variables.h
  kratos/CMakeLists.txt
  kratos/includes/legacy_structural_app_vars.h
  kratos/python/add_legacy_structural_app_vars_to_python.cpp
  kratos/python/add_legacy_structural_app_vars_to_python.h
  kratos/python/kratos_python.cpp
  kratos/sources/legacy_structural_app_vars.cpp
  kratos/sources/variables.cpp
Labels: Cleanup, FastPR, Kratos Core, Legacy

#6430 [KratosUtilities] sort Apps
  kratos/python_scripts/kratos_utilities.py
Labels: FastPR

#6356 [Core] Test QuadraturePointGeometries and Assignment and Copy constructor fix
  kratos/geometries/geometry_data.h
  kratos/geometries/geometry_shape_function_container.h
  kratos/geometries/quadrature_point_geometry.h
  kratos/tests/cpp_tests/geometries/test_quadrature_point_geometry.cpp
Labels: Bugfix, Kratos Core

#6438 [Core] Update script for MinGW
  scripts/standard_configure_MINGW.sh
Labels: Compilation, FastPR, Kratos Core

#6444 [ConventionDiffussionApplication] ignored-qualifiers warning fix in thermal face
  applications/ConvectionDiffusionApplication/custom_conditions/thermal_face.h
Labels: Applications, FastPR, Warning

#6418 [Core] Moving some containers code to cpp
  kratos/CMakeLists.txt
  kratos/containers/data_value_container.cpp
  kratos/containers/data_value_container.h
  kratos/containers/variables_list.cpp
  kratos/containers/variables_list.h
Labels: FastPR, Kratos Core, Refactor

#6442 [FastPR][Core] Test element mass matrix addition
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_bar_element.cpp
Labels: FastPR, Kratos Core, Testing

#5470 [Core] Generalize and simplify variable utils
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/FluidDynamicsApplication/custom_utilities/drag_utilities.cpp
  kratos/processes/tetrahedral_mesh_orientation_check.cpp
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Applications, Enhancement, Kratos Core, Usability

#6449 [Shallow] Adding benchmark
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/benchmarks/base_benchmark_process.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/dam_break_benchmark.py
  applications/ShallowWaterApplication/python_scripts/convergence_output_process.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/processes_tests/model_part.mdpa
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Applications, Testing

#6450 [Shallow] Cleanup
  applications/ShallowWaterApplication/custom_conditions/nothing_condition.cpp
  applications/ShallowWaterApplication/custom_elements/conserved_element.cpp
  applications/ShallowWaterApplication/custom_elements/rv_swe.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_element.cpp
  applications/ShallowWaterApplication/custom_elements/swe.cpp
  applications/ShallowWaterApplication/custom_processes/elemental_refining_criteria_process.h
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/eulerian_primitive_var_solver.py
Labels: Cleanup, FastPR

#6455 [ContactStructuralMechanicsApplication]Update deprecated methods variableutils
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/penalty_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
Labels: Applications, Deprecated, FastPR

#6454 [ContactStructuralMechanicsApplication] Adding check to skip slender elements in NormalCheckProcess
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_check_process.cpp
Labels: Applications, FastPR, Hotfix

#6394 [Core] Removing warnings in DiagonalPreconditioner
  kratos/linear_solvers/diagonal_preconditioner.h
Labels: Cleanup, FastPR, Kratos Core, Warning

#6451 [Potential flow] Fix illegal indirection
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_compressible_potential_element.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_incompressible_potential_element.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_potential_flow_utilities.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_processes.cpp
Labels: Compilation, Hotfix, Windows

#6460 [StructuralMechanicsApplication] Fix SPR test
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_spr_error_process.cpp
Labels: Applications, FastPR, Hotfix

#5624 [Core] Moving data value container to geometry
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.cpp
  kratos/geometries/geometry.h
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/includes/geometrical_object.h
  kratos/tests/test_connectivity_preserve_modeler.py
Labels: Behaviour Change

#6465 [CI] bringing back CompressiblePotentialFlowApp
  .github/workflows/configure.sh
Labels: Applications, Continuous Integration

#6425 [Fluid] Embedded drag center
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.h
  applications/FluidDynamicsApplication/custom_utilities/drag_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/drag_utilities.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_drag_utils.cpp
Labels: Applications, Feature

#6360 [Structural] clean response fct tests
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_test_factory.py
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_nodal_reaction_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_beam_structure_3d2n/beam_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_nodal_disp_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_shell_structure_3d3n/linear_shell_test_strain_energy_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/AdjointParameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/ProjectParameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/linear_truss_test_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/nonlinear_truss_test_local_stress_adjoint_parameters.json
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_truss_stucture_3d2n/nonlinear_truss_test_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/rectangular_plate_parameters.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/structural_response_function_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_beam_3d2n_structure.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_shell_3d3n_structure.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_spring_damper_3d2n_structure.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_sensitivity_analysis_truss_3d2n_structure.py
Labels: Applications, Cleanup, Testing

#6407 Adding Python scripts to RomApplication
  applications/RomApplication/python_scripts/RSVDT_Library.py
  applications/RomApplication/python_scripts/convection_diffusion_analysis_rom.py
  applications/RomApplication/python_scripts/convection_diffusion_stationary_rom_solver.py
  applications/RomApplication/python_scripts/convection_diffusion_transient_rom_solver.py
  applications/RomApplication/python_scripts/python_solvers_wrapper_rom.py
  applications/RomApplication/python_scripts/structural_mechanics_analysis_rom.py
  applications/RomApplication/python_scripts/structural_mechanics_implicit_dynamic_rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_static_rom_solver.py
  applications/RomApplication/tests/NonlinearTestFiles/MainKratosROM.py
  applications/RomApplication/tests/NonlinearTestFiles/test_ROM.py
  applications/RomApplication/tests/structural_dynamic_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/structural_dynamic_test_files/MainKratosROM.py
  applications/RomApplication/tests/structural_dynamic_test_files/NodalModes.json
  applications/RomApplication/tests/structural_dynamic_test_files/ProjectParametersROM.json
  applications/RomApplication/tests/structural_dynamic_test_files/StructuralMaterials.json
  applications/RomApplication/tests/structural_dynamic_test_files/Structure_Dynamic_2D.mdpa
  applications/RomApplication/tests/structural_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/structural_static_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/structural_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/structural_static_test_files/NodalModes.json
  applications/RomApplication/tests/structural_static_test_files/ProjectParametersROM.json
  applications/RomApplication/tests/structural_static_test_files/StructuralMaterials.json
  applications/RomApplication/tests/structural_static_test_files/Structure_Static_2D.mdpa
  applications/RomApplication/tests/structural_static_test_files/test_ROM.py
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/thermal_dynamic_test_files/ConvectionDiffusionMaterials.json
  applications/RomApplication/tests/thermal_dynamic_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/thermal_dynamic_test_files/MainKratosROM.py
  applications/RomApplication/tests/thermal_dynamic_test_files/NodalModes.json
  applications/RomApplication/tests/thermal_dynamic_test_files/ProjectParametersROM.json
  applications/RomApplication/tests/thermal_dynamic_test_files/Square_Radiation_Transient.mdpa
  applications/RomApplication/tests/thermal_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/thermal_static_test_files/ConvectionDiffusionMaterials.json
  applications/RomApplication/tests/thermal_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/thermal_static_test_files/NodalModes.json
  applications/RomApplication/tests/thermal_static_test_files/ProjectParametersROM.json
  applications/RomApplication/tests/thermal_static_test_files/Square_Radiation_Stationary.mdpa
  applications/RomApplication/tests/thermal_static_test_files/test_ROM.py
Labels: ROM

#6474 [ContactStructuralMechanicsApplication] Update deprecated element
  applications/ContactStructuralMechanicsApplication/tests/auxiliar_files_for_python_unittest/integration_tests/quadrilaterals_moving_nodes.mdpa
  applications/ContactStructuralMechanicsApplication/tests/auxiliar_files_for_python_unittest/integration_tests/quadrilaterals_non_matching.mdpa
  applications/ContactStructuralMechanicsApplication/tests/auxiliar_files_for_python_unittest/integration_tests/test_double_curvature_integration_quadrilateral.mdpa
  applications/ContactStructuralMechanicsApplication/tests/auxiliar_files_for_python_unittest/integration_tests/test_double_curvature_integration_triangle.mdpa
Labels: Applications, Deprecated, FastPR, Hotfix

#6480 Adding CMake message for #6475
  CMakeLists.txt
Labels: FastPR

#6468 [Fluid] Explicit compressible Navier-Stokes element
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/StabilizationMatrix.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_compressible_navier_stokes.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_compressible_navier_stokes_explicit_with_integration.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_convective_flux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_diffusive_flux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_source_term.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_stabilization_matrix.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/params_dict.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_compressible_navier_stokes_explicit_element.cpp
Labels: Applications, Feature

#6483 [Core] Update VariableUtils().SetVariable in MortarUtilities
  kratos/utilities/mortar_utilities.cpp
Labels: Deprecated, FastPR, Kratos Core, Warning

#6487 [Core][Apps] More VariableUtils deprecated clean up
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_central_differences_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_multi_stage_kim_scheme.hpp
  applications/StructuralMechanicsApplication/tests/test_multipoint_contstraints.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_cr_beam.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_truss.py
  kratos/python_scripts/assign_scalar_variable_process.py
  kratos/tests/test_linear_constraints.py
  kratos/tests/test_variable_utils.py
Labels: Applications, Cleanup, FastPR, Kratos Core, Refactor
