Repository KratosMultiphysics/Kratos, pull requests merged in 2020-07, with the labels that each got.

#7098 [Core][UblasSpace] templated TransposeMult
  kratos/spaces/ublas_space.h
Labels: FastPR, Incomplete, Kratos Core

#7122 [Mapping] using parallel utils
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
Labels: Applications, Parallel-OMP

#7130 [dem] external scripts removed
  applications/DEMApplication/python_scripts/sp_2d_rigid_fem_algorithm.py
  applications/DEMApplication/python_scripts/sp_2d_rigid_fem_launcher.py
Labels: Cleanup, FastPR

#7164 Fixing tests
  .github/workflows/ci.yml
  kratos/mpi/tests/sources/test_pointer_communicator.cpp
Labels: Bugfix, Kratos Core, Parallel-MPI, Testing

#7167 [MeshingApp] Test cleanup
  applications/MeshingApplication/tests/cpp_tests/test_uniform_refinement_utility.cpp
Labels: FastPR, Testing

#7163 [Core] Passing string to python instead of KRATOS_WARNING
  kratos/processes/from_json_check_result_process.cpp
  kratos/processes/from_json_check_result_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/python_scripts/from_json_check_result_process.py
Labels: FastPR, Hotfix, Kratos Core, Testing

#7095 [Dem] Multiaxial control module
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_elements/cylinder_continuum_particle.cpp
  applications/DEMApplication/custom_processes/control_module_2d_process.hpp
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DEMApplication/custom_utilities/multiaxial_control_module_generalized_2d_utilities.cpp
  applications/DEMApplication/custom_utilities/multiaxial_control_module_generalized_2d_utilities.hpp
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DEMApplication/python_scripts/multiaxial_control_module_generalized_2d_utility.py
  applications/DEMApplication/tests/DEM2D_control_module_tests_files/DEM2D_control_moduleDEM.mdpa
  applications/DEMApplication/tests/DEM2D_control_module_tests_files/DEM2D_control_moduleDEM_Clusters.mdpa
  applications/DEMApplication/tests/DEM2D_control_module_tests_files/DEM2D_control_moduleDEM_FEM_boundary.mdpa
  applications/DEMApplication/tests/DEM2D_control_module_tests_files/DEM2D_control_moduleDEM_Inlet.mdpa
  applications/DEMApplication/tests/DEM2D_control_module_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/DEM2D_control_module_tests_files/cm_parameters.json
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_DEM_2D_control_module.py
  applications/DemStructuresCouplingApplication/CMakeLists.txt
  applications/DemStructuresCouplingApplication/custom_processes/control_module_process.hpp
  applications/DemStructuresCouplingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DemStructuresCouplingApplication/custom_utilities/control_module_fem_dem_2d_utilities.hpp
  applications/DemStructuresCouplingApplication/custom_utilities/control_module_fem_dem_utilities.hpp
  applications/DemStructuresCouplingApplication/custom_utilities/multiaxial_control_module_fem_dem_generalized_2d_utilities.cpp
  applications/DemStructuresCouplingApplication/custom_utilities/multiaxial_control_module_fem_dem_generalized_2d_utilities.hpp
  applications/DemStructuresCouplingApplication/python_scripts/control_module_fem_dem_utility.py
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
  applications/DemStructuresCouplingApplication/python_scripts/multiaxial_control_module_fem_dem_generalized_2d_utility.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
Labels: C++, Feature, Python

#7166 [Dem] Feature automatic DT process
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/custom_processes/automatic_dt_process.cpp
  applications/DEMApplication/custom_processes/automatic_dt_process.hpp
  applications/DEMApplication/custom_python/add_custom_processes_to_python.cpp
  applications/DEMApplication/python_scripts/automatic_dt_process.py
Labels: C++, Feature, Python

#7172 [Core] Add DenseEigenvalueSolver to Factory
  kratos/python_scripts/eigen_solver_factory.py
Labels: Kratos Core

#7162 File points output process
  kratos/python_scripts/csv_points_output_process.py
  kratos/tests/auxiliar_files_for_python_unittest/point_output_process_ref_files/csv_points_input_ref.csv
  kratos/tests/auxiliar_files_for_python_unittest/point_output_process_ref_files/csv_points_output_1_ref.dat
  kratos/tests/auxiliar_files_for_python_unittest/point_output_process_ref_files/csv_points_output_2_ref.dat
  kratos/tests/auxiliar_files_for_python_unittest/point_output_process_ref_files/csv_points_output_3_ref.dat
  kratos/tests/test_processes.py
Labels: Enhancement, Kratos Core

#6805 [CoSim] improve readme
  applications/CoSimulationApplication/README.md
Labels: Applications, Documentation

#7174 [Fluid] Remove useless nodal material properties
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_ausas_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_ausas_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/embedded_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/navier_stokes.h
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_ausas_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_navier_stokes_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_symbolic_element.cpp
  applications/FluidDynamicsApplication/tests/manufactured_solution_test.py
Labels: Applications, Cleanup, Memory saving

#7179 [dem] Elapsed time report is printed with numbers that are more human-readable
  applications/DEMApplication/python_scripts/DEM_procedures.py
Labels: FastPR

#7177 [Mapping] adding readme
  applications/MappingApplication/README.md
Labels: Applications, Documentation

#7047 [Core] Set ShapeFunctionContainer
  kratos/geometries/geometry.h
  kratos/geometries/geometry_data.h
  kratos/geometries/quadrature_point_geometry.h
  kratos/tests/cpp_tests/geometries/test_quadrature_point_geometry.cpp
  kratos/utilities/quadrature_points_utility.h
Labels: CAD Integration

#7170 [Eigen] Dense Eigenvalue Solver
  applications/EigenSolversApplication/custom_python/add_custom_solvers_to_python.cpp
  applications/EigenSolversApplication/custom_solvers/eigen_dense_eigenvalue_solver.h
  applications/EigenSolversApplication/tests/test_EigenSolversApplication.py
  applications/EigenSolversApplication/tests/test_eigen_dense_eigenvalue_solver.py
Labels: Applications

#6706 [Core] Add iga_test_factory
  applications/IgaApplication/custom_elements/shell_3p_element.cpp
  applications/IgaApplication/tests/iga_test_factory.py
  applications/IgaApplication/tests/single_patch_test/single_patch_geometry.cad.json
  applications/IgaApplication/tests/single_patch_test/single_patch_materials.json
  applications/IgaApplication/tests/single_patch_test/single_patch_physics.iga.json
  applications/IgaApplication/tests/single_patch_test/single_patch_project_parameters.json
  applications/IgaApplication/tests/test_IgaApplication.py
Labels: CAD Integration

#7054 [core] ModelPartIO accepts 'True', 'true' or 1 for bool variables in mdpa files
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_read.mdpa
  kratos/tests/test_model_part_io.py
Labels: Kratos Core

#7186 Removed old linear_solver_factory
  kratos/python_scripts/linear_solver_factory.py
Labels: Cleanup

#7153 Distance Smoothing Process
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/distance_smoothing_element.cpp
  applications/FluidDynamicsApplication/custom_elements/distance_smoothing_element.h
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/tests/DistanceSmoothingTest/two_dim_symmetrical_square.mdpa
  applications/FluidDynamicsApplication/tests/distance_smoothing_test.py
Labels: Applications, Feature

#7189 [LinearSolversApp] updating json scripts
  applications/CoSimulationApplication/tests/fsi_mok/ProjectParametersCSM.json
  applications/CoSimulationApplication/tests/fsi_sdof_static/naca0012_small_parameters_coupling.json
  applications/CoSimulationApplication/tests/fsi_wall/ProjectParametersCSM.json
  applications/CoSimulationApplication/tests/mpm_fem_beam/ProjectParametersFEM.json
  applications/CoSimulationApplication/tests/mpm_fem_beam/ProjectParametersMPM.json
  applications/CompressiblePotentialFlowApplication/tests/naca0012_small_perturbation_compressible_test/naca0012_small_perturbation_compressible_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/naca0012_small_transonic_test/naca0012_small_transonic_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_transient_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_diffusion_test_stationary_parameters.json
  applications/MeshMovingApplication/tests/test_example/ProjectParameters.json
Labels: Applications, Deprecated, FastPR

#7185 [PfemFluid] New remeshing and strategy setting
  applications/FemToDemApplication/python_scripts/MainFEM_for_PFEM_coupling.py
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_fluid_DEM_coupling_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_fluid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_solid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_solid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_element.cpp
  applications/PfemFluidDynamicsApplication/custom_processes/build_mesh_boundary_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_nodes_before_meshing_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/remove_mesh_nodes_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/select_mesh_elements_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_python/pfem_fluid_dynamics_python_application.cpp
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/nodal_two_step_v_p_strategy.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/nodal_two_step_v_p_strategy_for_FSI.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/two_step_v_p_strategy.h
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.h
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_pre_refining_mesher.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_nodal_integration_solver.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/Test_2D_FSI_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/Test_2D_muIrheology_results.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/Test_3D_Newtonian_Sloshing_results.json
  applications/PfemFluidDynamicsApplication/tests/pfem_utilities_tests/Test_3D_Inlet/Test_3D_Inlet_results.json
Labels: Applications, Enhancement

#7194 [Core] Typo: soruces -- sources
  kratos/CMakeLists.txt
Labels: FastPR, Kratos Core, Typo

#7201 [Core] Update scripts to LinearSolversApplication
  scripts/standard_configure.bat
  scripts/standard_configure.sh
  scripts/standard_configure_MINGW.sh
  scripts/standard_configure_mac.sh
Labels: Cleanup, Deprecated, FastPR, Kratos Core

#7200 [Shapeopt] update after 7182
  applications/ShapeOptimizationApplication/python_scripts/algorithm_gradient_projection.py
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
Labels: Applications, Cleanup, Deprecated

#7197 [MPM] update solver
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
Labels: Applications, Cleanup, Deprecated

#7096 [Core][Testing] adding utilities
  applications/CoSimulationApplication/tests/test_co_sim_io_py_exposure.py
  kratos/python_scripts/testing/__init__.py
  kratos/python_scripts/testing/utilities.py
Labels: Python, Testing

#7206 [Structural] updates after #7182
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/structural_response_function_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_custom_scipy_base_solver.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_eigenvalue_analysis.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_different_dofs.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_with_constraints.py
  applications/StructuralMechanicsApplication/tests/test_prebuckling_analysis.py
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
Labels: Applications, Cleanup, Deprecated

#7205 Remove python2 leftovers in TemplateApplication
  kratos/templates/template_application/TemplateApplication.py.in
Labels: Deprecated, FastPR, Python

#7204 Update potential_flow_test_factory.py
  applications/CompressiblePotentialFlowApplication/tests/potential_flow_test_factory.py
Labels: Applications, Cleanup, Testing

#7198 [Core] update after 7182
  kratos/python_scripts/eigen_solver_factory.py
  kratos/python_scripts/python_linear_solver_factory.py
  kratos/tests/test_condition_number.py
  kratos/tests/test_eigen_solvers.py
Labels: Cleanup, Deprecated, Kratos Core

#7203 Issues/PR Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/request.md
  .github/PULL_REQUEST_TEMPLATE/doc.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/pull_request_template.md
Labels: Enhancement

#6720 [Core] Defining Name methods for strategies
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/solving_strategies/convergencecriterias/and_criteria.h
  kratos/solving_strategies/convergencecriterias/convergence_criteria.h
  kratos/solving_strategies/convergencecriterias/displacement_criteria.h
  kratos/solving_strategies/convergencecriterias/or_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_newmark_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme_slip.h
  kratos/solving_strategies/schemes/scheme.h
  kratos/solving_strategies/strategies/adaptive_residualbased_newton_raphson_strategy.h
  kratos/solving_strategies/strategies/explicit_strategy.h
  kratos/solving_strategies/strategies/line_search_strategy.h
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
  kratos/solving_strategies/strategies/solving_strategy.h
Labels: FastPR, Kratos Core, Transition

#7207 [Structural] missing rename
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: FastPR

#7111 [Core] Improve coupling geometry
  kratos/geometries/brep_surface.h
  kratos/geometries/coupling_geometry.h
  kratos/geometries/geometry.h
  kratos/tests/cpp_tests/geometries/test_coupling_geometry.cpp
Labels: Enhancement, Kratos Core, Transition

#7073 [Core] Small clean up EliminationBS
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
Labels: Cleanup, FastPR, Kratos Core, Refactor

#7181 Fluid dynamics/define calculate in fluid element
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
Labels: Refactor

#7143 [Fluid/RANS] RANS Turbulence models integration - Step 2
  applications/FluidDynamicsApplication/custom_elements/fractional_step.h
Labels: Applications, C++

#6859 [Core] Missing strategies create
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/solving_strategies/convergencecriterias/and_criteria.h
  kratos/solving_strategies/convergencecriterias/convergence_criteria.h
  kratos/solving_strategies/convergencecriterias/displacement_criteria.h
  kratos/solving_strategies/convergencecriterias/or_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/solving_strategies/schemes/residual_based_bdf_custom_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_newmark_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
  kratos/solving_strategies/schemes/residualbased_incremental_aitken_static_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme.h
  kratos/solving_strategies/schemes/residualbased_incrementalupdate_static_scheme_slip.h
  kratos/solving_strategies/schemes/scheme.h
  kratos/solving_strategies/strategies/adaptive_residualbased_newton_raphson_strategy.h
  kratos/solving_strategies/strategies/explicit_strategy.h
  kratos/solving_strategies/strategies/line_search_strategy.h
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
  kratos/solving_strategies/strategies/solving_strategy.h
Labels: Enhancement, Kratos Core, Transition

#7211 [IGA] Small modifications of cmakelist
  applications/IgaApplication/CMakeLists.txt
  applications/IgaApplication/iga_application.h
  applications/IgaApplication/iga_application_variables.h
Labels: Cleanup

#7150 RemoveNodes now deletes nodes from interfaces as well
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/mpi/tests/test_mpi_model_part.py
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
Labels: Behaviour Change, Parallel-MPI

#7180 [Core] Nodal divergence
  kratos/processes/compute_nodal_normal_divergence_process.cpp
  kratos/processes/compute_nodal_normal_divergence_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/two_dim_symmetrical_square.mdpa
  kratos/tests/test_compute_nodal_divergence.py
Labels: Behaviour Change, Feature, Proposal, Refactor

#7195 Update convection_diffusion_test_factory.py
  applications/ConvectionDiffusionApplication/tests/convection_diffusion_test_factory.py
Labels: Applications, Cleanup, Deprecated, FastPR, Testing

#7214 [Core] Update release badge
  README.md
Labels: FastPR, Kratos Core

#7215 Update badges
  README.md
Labels: Documentation

#7220 [MeshingApplication] Remove legacy python support
  applications/MeshingApplication/MeshingApplication.py
  applications/MeshingApplication/python_scripts/mmg_process.py
  applications/MeshingApplication/python_scripts/multiscale_refining_process.py
  applications/MeshingApplication/tests/meshing_application_test_factory.py
  applications/MeshingApplication/tests/test_refine.py
  applications/MeshingApplication/tests/test_remesh_rectangle.py
  applications/MeshingApplication/tests/test_remesh_sphere.py
Labels: Applications, Cleanup, FastPR

#7219 [ContactStructuralMechanicsApplication] Remove legacy python support
  applications/ContactStructuralMechanicsApplication/ContactStructuralMechanicsApplication.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_utilities.py
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/basic_mapping_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_explicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/python_solvers_wrapper_adaptative_remeshing_contact_structural.py
  applications/ContactStructuralMechanicsApplication/python_scripts/replace_properties_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/contact_structural_mechanics_test_factory.py
  applications/ContactStructuralMechanicsApplication/tests/test_check_normals_process.py
  applications/ContactStructuralMechanicsApplication/tests/test_double_curvature_integration.py
  applications/ContactStructuralMechanicsApplication/tests/test_dynamic_search.py
  applications/ContactStructuralMechanicsApplication/tests/test_process_factory.py
Labels: Applications, Cleanup, FastPR

#7222 [Core] Typo in template
  .github/pull_request_template.md
Labels: FastPR, Kratos Core, Typo

#7221 [Core] Update cotire
  cmake_modules/cotire.cmake
Labels: External library, Kratos Core

#7226 [Core] Improve timer output
  kratos/utilities/timer.cpp
Labels: Enhancement

#7227 [Core] add more openmp utils
  kratos/python/add_other_utilities_to_python.cpp
  kratos/utilities/openmp_utils.h
Labels: Enhancement, Parallel-OMP

#6857 [Core] Fixing inconsistency in NR strategy
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Inconsistent, Kratos Core

#7229 [Core][StructuralMechanicsApplication] Replace deprecated constructor
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_schemes.py
  applications/StructuralMechanicsApplication/tests/test_multipoint_contstraints.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_cr_beam.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_formfinding_trusses.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_large_strain.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_membrane.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_shells_orthotropic.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_shells_stress.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_strain.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_strain_bbar.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_truss.py
  applications/StructuralMechanicsApplication/tests/test_perfect_plasticity_implementation_verification.py
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
  kratos/tests/test_linear_constraints.py
Labels: Applications, Cleanup, FastPR, Kratos Core

#7224 Core/element size calculation for prism
  kratos/tests/cpp_tests/utilities/test_element_size_calculator.cpp
  kratos/utilities/element_size_calculator.cpp
Labels: Enhancement

#7208 [LinSolvers] adding logo
  applications/LinearSolversApplication/eigen_solvers_application.cpp
Labels: Applications

#7232 [Mapping] fix copy paste error in tests
  applications/MappingApplication/tests/mapper_test_case.py
Labels: Applications, FastPR, Hotfix, Testing

#7233 fix typo in PR template
  .github/pull_request_template.md
Labels: FastPR

#7235 Core/change for out of kratos dir build
  CMakeLists.txt
Labels: Bugfix, Kratos Core

#7237 [Core] schemes fix variable copy issues
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
Labels: Cleanup, Kratos Core

#7238 [Core] processes fix variable copy issues
  kratos/processes/apply_constant_scalarvalue_process.h
  kratos/processes/apply_constant_vectorvalue_process.h
Labels: Cleanup, Kratos Core

#7236 [Structural] correct variable copy problems
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_small_displacement_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/eigenfrequency_response_function_utility.h
Labels: Applications, Cleanup

#7239 [CI] turn minor warnings into errors
  .github/workflows/ci.yml
  applications/LinearSolversApplication/eigen_solvers_application.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_search_element_utility.cpp
  applications/StructuralMechanicsApplication/tests/cpp_advanced_constitutive_tests/test_total_lagrangian_element_matrices.cpp
Labels: Clang, Cleanup, Compilation, Continuous Integration, Gcc, Warning

#7230 [MPM] fix search parallel loop
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
Labels: FastPR

#7242 [MLMC] Update xMC library
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_amc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/run_mc_Kratos.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/run_mlmc_Kratos.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_randomGeneratorWrapper/generator.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monteCarloIndex.py
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_10_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/multilevel_monte_carlo_main.py
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/simulation_definition.py
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d_xmc/simulation_definition.py
  applications/MultilevelMonteCarloApplication/tests/test_multilevel_montecarlo.py
Labels: External library

#7126 [Core] Add watches with precision for vectors and matrices
  kratos/includes/debug_helpers.h
  kratos/tests/cpp_tests/utilities/test_debug_helpers.cpp
Labels: C++, Kratos Core

#7244 [Core] fix timers - 2nd try
  kratos/utilities/timer.cpp
Labels: Bugfix, Kratos Core

#7247 [Core][ParUtils] removing unused members
  kratos/utilities/parallel_utilities.h
Labels: Cleanup, Kratos Core, Parallel-OMP, Proposal

#7248 [Core] Adding missing separation includes
  kratos/includes/checks.h
Labels: Cleanup, FastPR, Kratos Core

#7234 [Core][Variable] make CopyConstructor explicit
  kratos/containers/variable.h
Labels: Cleanup, Kratos Core

#6447 Core/output frequency to output interval
  applications/DamApplication/python_scripts/gid_dam_output_process.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
  applications/ParticleMechanicsApplication/python_scripts/particle_gid_output_process.py
  applications/SolidMechanicsApplication/python_scripts/restart_process.py
  kratos/input_output/vtk_output.cpp
  kratos/python_scripts/deprecation_management.py
  kratos/python_scripts/gid_output_process.py
  kratos/python_scripts/tikz_output_process.py
  kratos/python_scripts/unv_output_process.py
  kratos/python_scripts/vtk_output_process.py
  kratos/tests/test_gid_io.py
  kratos/tests/test_processes.py
  kratos/tests/test_vtk_output_process.py
Labels: API Breaker, Post Process

#7245 Core/solve issues with old gcc
  kratos/solving_strategies/convergencecriterias/convergence_criteria.h
  kratos/solving_strategies/schemes/scheme.h
Labels: FastPR, Gcc, Kratos Core

#7212 [MeshingApplication][MMG] Disabling OMP in mmg getmetric call and adding a check in the tests
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/tests/mmg_lagrangian_test/remesh_rectangle_post_metric.json
  applications/MeshingApplication/tests/test_remesh_rectangle.py
Labels: Applications, Bugfix, External library

#7249 [Core][ParUtils] cosmetic changes for consistency
  kratos/utilities/parallel_utilities.h
Labels: Cleanup, Kratos Core, Parallel-OMP, Proposal

#7253 Revert "Revert "add function AddColors to the communicator""
  kratos/includes/communicator.h
  kratos/sources/communicator.cpp
Labels: Compilation, FastPR, Hotfix, Kratos Core

#7251 [Core] Add SetStringArray function to Kratos Parameters.
  kratos/includes/kratos_parameters.h
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/sources/kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Feature, Kratos Core

#6778 Using linux rpath
  CMakeLists.txt
Labels: Proposal

#7252 Cleanup LinearSolversApplication
  applications/LinearSolversApplication/CMakeLists.txt
  applications/LinearSolversApplication/EigenSolversApplication.py
  applications/LinearSolversApplication/LinearSolversApplication.py
  applications/LinearSolversApplication/README.md
  applications/LinearSolversApplication/custom_factories/dense_linear_solver_factory.cpp
  applications/LinearSolversApplication/custom_factories/dense_linear_solver_factory.h
  applications/LinearSolversApplication/custom_python/add_custom_solvers_to_python.cpp
  applications/LinearSolversApplication/custom_python/add_custom_solvers_to_python.h
  applications/LinearSolversApplication/custom_python/eigen_solvers_python_application.cpp
  applications/LinearSolversApplication/custom_solvers/eigen_dense_col_piv_householder_qr_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_dense_direct_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_dense_eigenvalue_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_dense_householder_qr_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_dense_llt_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_dense_partial_piv_lu_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_direct_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_pardiso_ldlt_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_pardiso_llt_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_pardiso_lu_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_sparse_cg_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_sparse_lu_solver.h
  applications/LinearSolversApplication/custom_solvers/eigen_sparse_qr_solver.h
  applications/LinearSolversApplication/custom_solvers/eigensystem_solver.h
  applications/LinearSolversApplication/custom_solvers/feast_eigensystem_solver.h
  applications/LinearSolversApplication/custom_utilities/ublas_wrapper.h
  applications/LinearSolversApplication/linear_solvers_application.cpp
  applications/LinearSolversApplication/linear_solvers_application.h
  applications/LinearSolversApplication/tests/test_eigen_dense_direct_solver.py
  applications/LinearSolversApplication/tests/test_eigen_direct_solver.py
  applications/LinearSolversApplication/tests/test_feast_eigensystem_solver.py
Labels: Applications, Cleanup

#7190 [Core] Update scripts and CI to LinearSolversApplication
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  .github/workflows/nightly_build.yml
Labels: Cleanup, Deprecated, FastPR, Kratos Core, Refactor

#7246 Sdem/improving tests
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  applications/SwimmingDEMApplication/custom_utilities/swimming_dem_in_pfem_utils.h
  applications/SwimmingDEMApplication/python_scripts/derivative_recovery/standard_recoverer.py
  applications/SwimmingDEMApplication/python_scripts/derivative_recovery/zhang_guo_recoverer.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_solver.py
  applications/SwimmingDEMApplication/python_scripts/variables_management.py
  applications/SwimmingDEMApplication/tests/CandelierTestFactory.py
  applications/SwimmingDEMApplication/tests/FluidDEMTestFactory.py
  applications/SwimmingDEMApplication/tests/InterpolationTestFactory.py
  applications/SwimmingDEMApplication/tests/NightTests.py
  applications/SwimmingDEMApplication/tests/PFEM-DEM_tests/sdem_pfem_coupling_one_way_testDEM.mdpa
  applications/SwimmingDEMApplication/tests/SPFEMTestFactory.py
  applications/SwimmingDEMApplication/tests/SmallTests.py
  applications/SwimmingDEMApplication/tests/ValidationTests.py
  applications/SwimmingDEMApplication/tests/candelier_tests/CandelierDEM.mdpa
  applications/SwimmingDEMApplication/tests/fluid_dem_tests/settling_cubeDEM.mdpa
  applications/SwimmingDEMApplication/tests/interpolation_tests/cubeDEM.mdpa
  applications/SwimmingDEMApplication/tests/test_SwimmingDEMApplication.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/candelier_scripts/candelier.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/candelier_scripts/gradient_recovery_analyser.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/interpolation_scripts/interpolation_test_analysis.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/interpolation_scripts/interpolation_test_solver.py
Labels: Continuous Integration, Testing

#7257 [Poro] [Dam]Fix compilation error
  applications/DamApplication/custom_processes/apply_component_table_process.hpp
  applications/PoromechanicsApplication/custom_processes/apply_component_table_process.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_newton_raphson_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_strategy.hpp
Labels: Hotfix

#7202 [ShapeOpt] activate gradient projection test in suite
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: FastPR, Testing

#7263 Delete .gitlab-ci.yml
  .gitlab-ci.yml
Labels: Cleanup, Continuous Integration, Kratos Core, Legacy

#7268 [Core][testing-utils] using sys.executable
  kratos/python_scripts/testing/utilities.py
Labels: FastPR, Kratos Core, Testing

#7265 [Core] LevelSet - fix segmentation fault in destructor
  kratos/processes/levelset_convection_process.h
Labels: Bugfix, Kratos Core

#7270 [FDA] Correct two typos
  applications/FluidDynamicsApplication/custom_strategies/strategies/fractional_step_strategy.h
Labels: FastPR

#7258 [README] Add citation section
  README.md
Labels: Documentation

#7138 [Core] DOF based explicit strategy
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/explicit_builder.h
  kratos/solving_strategies/strategies/explicit_solving_strategy.h
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta_4.h
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_explicit_builder_and_solver.cpp
  kratos/tests/cpp_tests/strategies/strategies/test_explicit_strategies.cpp
Labels: Feature, Kratos Core

#7274 [Core] Transition changes in explicit classes for #3185
  kratos/solving_strategies/builder_and_solvers/explicit_builder.h
  kratos/solving_strategies/strategies/explicit_solving_strategy.h
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta_4.h
Labels: FastPR, Kratos Core, Transition

#7155 [Core] Reorder generate triangle edge/tetrahedra face
  applications/MeshingApplication/custom_utilities/uniform_refinement_utility.cpp
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_3d_3.h
  kratos/tests/cpp_tests/geometries/test_triangle_2d_3.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_3d_3.cpp
Labels: Behaviour Change, Hotfix, Kratos Core, Refactor

#7262 Select shared memory parallelization
  CMakeLists.txt
Labels: Compilation, Enhancement, Kratos Core, Parallel-OMP

#7083 [CoSim] Preparing MultiCoupling
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/co_simulation_analysis.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_weak.py
  applications/CoSimulationApplication/python_scripts/factories/solver_wrapper_factory.py
  applications/CoSimulationApplication/python_scripts/helpers/dummy_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/cpp_ping_pong/ping_pong_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/flower_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/dem_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/fluid_dynamics_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/kratos_base_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/particle_mechanics_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/structural_mechanics_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/mapped_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver_wrapper.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_co_simulation_coupled_solver.py
  applications/CoSimulationApplication/tests/test_sdof_solver.py
Labels: Applications, Enhancement

#7168 Fluid dynamics/stokes for prism hex quad
  applications/FluidDynamicsApplication/custom_conditions/stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/symbolic_stokes_data.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/generate_navier_stokes_element.py
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/symbolic_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/symbolic_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_stokes_symbolic_element.cpp
Labels: Enhancement

#7275 [Core] Adding Kratos Test Case
  kratos/python_scripts/testing/utilities.py
Labels: Kratos Core, Parallel-MPI, Parallel-OMP, Python, Testing

#7280 [Structural] Update isotropic_shell_element to new interface
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.hpp
Labels: Applications, Cleanup, Deprecated

#7025 [CoSim] Final Steps CoSimIO integration
  applications/CoSimulationApplication/CMakeLists.txt
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/co_sim_io.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/co_sim_io_impl.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/communication/communication.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/communication/file_communication.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/communication/mpi_communication.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/communication/sockets_communication.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/connection.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/data_container.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/define.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/info.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/macros.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/version.hpp
  applications/CoSimulationApplication/custom_python/add_co_sim_io_to_python.cpp
  applications/CoSimulationApplication/python_scripts/co_simulation_tools.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/external_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos_co_sim_io.py
  applications/CoSimulationApplication/tests/co_simulation_test_case.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/fsi_mok/ProjectParametersCFD.json
  applications/CoSimulationApplication/tests/fsi_mok/ProjectParametersCSM.json
  applications/CoSimulationApplication/tests/structural_mechanics_analysis_with_co_sim_io.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_co_sim_io_py_exposure.py
  applications/CoSimulationApplication/tests/test_kratos_co_sim_io.py
  applications/CoSimulationApplication/tests/test_mok_fsi.py
Labels: Applications, Feature

#6860 [Core] Missing check in strategies
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Kratos Core, Transition

#7288 [Core] Remove legacy python from python interface
  kratos/python_interface/__init__.py
  kratos/python_interface/kratos_globals.py
Labels: Cleanup, FastPR, Kratos Core

#7284 [ConvDiff] Take into account custom buffer size
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
Labels: Applications, Bugfix, Python

#7282 Fixing hidden shadowed variables
  applications/FluidDynamicsApplication/trilinos_extension/custom_processes/trilinos_stokes_initialization_process.h
Labels: Bugfix, FastPR

#7291 [ConvDiff] Follow-up #7284
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
Labels: Applications

#6662 [Core] Update json library and improve Parameters
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  external_libraries/json/README.md
  external_libraries/json/json.hpp
  kratos/includes/kratos_parameters.h
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/sources/kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
  kratos/utilities/read_materials_utility.cpp
Labels: Enhancement, External library, Implementation Committee Consensus, Kratos Core

#7060 [Core] Assign input proceess
  kratos/CMakeLists.txt
  kratos/processes/assign_scalar_input_to_entities_process.cpp
  kratos/processes/assign_scalar_input_to_entities_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/python_scripts/assign_scalar_input_to_conditions_process.py
  kratos/python_scripts/assign_scalar_input_to_elements_process.py
  kratos/python_scripts/assign_scalar_input_to_entities_process.py
  kratos/python_scripts/assign_scalar_input_to_nodes_process.py
  kratos/tests/auxiliar_files_for_python_unittest/test_processes/input_geometry.json
  kratos/tests/auxiliar_files_for_python_unittest/test_processes/input_geometry.txt
  kratos/tests/test_processes.py
Labels: Enhancement, Kratos Core

#7277 [Core] Filesystem::JoinPaths fix in case of empty path
  kratos/sources/kratos_filesystem.cpp
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
Labels: Bugfix, Kratos Core

#7278 [Mapping] improve PAIRING_STATUS printing
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.cpp
  applications/MappingApplication/custom_mappers/nearest_element_mapper.h
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.h
Labels: Applications, Debug, Enhancement

#7267 Interval points output processes
  kratos/python_scripts/csv_points_output_process.py
  kratos/python_scripts/line_output_process.py
  kratos/python_scripts/multiple_points_output_process.py
  kratos/python_scripts/point_output_process.py
  kratos/tests/auxiliar_files_for_python_unittest/point_output_process_ref_files/interval_output_ref.dat
  kratos/tests/test_processes.py
Labels: Enhancement, Kratos Core

#7299 [Core] fix ResidualBasedPseudoStaticDisplacementScheme
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
Labels: Cleanup, Kratos Core

#7297 Update README.md
  README.md
Labels: FastPR

#7300 [Fluid][FastPR] FluidDynamicsApplication output_frequency warnings
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/ArtificialCompressibilityTest/ArtificialCompressibilityTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedAusasCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedAusasDevelopmentCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedDevelopmentCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedAusasCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedAusasDevelopmentCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedDevelopmentCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouetteImposed2DTest/EmbeddedCouetteImposed2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouetteImposed3DTest/EmbeddedCouetteImposed3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedPiston2DTest/EmbeddedPiston2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirTest/EmbeddedReservoir2DTest_parameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirTest/EmbeddedReservoir3DTest_parameters.json
  applications/FluidDynamicsApplication/tests/ManufacturedSolutionTest/ManufacturedSolutionTestParameters.json
  applications/FluidDynamicsApplication/tests/NavierStokesWallConditionTest/NavierStokesWallConditionTestParameters.json
  applications/FluidDynamicsApplication/tests/adjoint_fluid_test.py
  applications/FluidDynamicsApplication/tests/cfl_output_process_test.py
  applications/FluidDynamicsApplication/tests/embedded_velocity_inlet_emulation_test.py
  applications/FluidDynamicsApplication/tests/fluid_analysis_test.py
  applications/FluidDynamicsApplication/tests/test_statistics_process.py
  applications/FluidDynamicsApplication/tests/two_fluid_hydrostatic_pool_test.py
  applications/FluidDynamicsApplication/tests/two_fluid_inlet_test.py
  applications/FluidDynamicsApplication/tests/two_fluid_mass_conservation_test.py
Labels: Applications, FastPR, Warning

#7285 [IGA] Remove deprecated elements
  applications/IgaApplication/custom_elements/base_discrete_element.cpp
  applications/IgaApplication/custom_elements/base_discrete_element.h
  applications/IgaApplication/custom_elements/shell_kl_discrete_element.cpp
  applications/IgaApplication/custom_elements/shell_kl_discrete_element.h
  applications/IgaApplication/custom_elements/surface_base_discrete_element.cpp
  applications/IgaApplication/custom_elements/surface_base_discrete_element.h
  applications/IgaApplication/iga_application.cpp
  applications/IgaApplication/iga_application.h
Labels: Applications, CAD Integration, FastPR

#7316 [Core][VTK-Output] move folder creation to C++
  kratos/input_output/vtk_output.cpp
  kratos/python_scripts/vtk_output_process.py
Labels: Bugfix, Kratos Core, Post Process

#7313 [Core] Add ApplyFlaggedFixity
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.h
Labels: C++, Kratos Core, Python

#7317 [Structural] added const process info for elements
  applications/StructuralMechanicsApplication/custom_elements/cable_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cable_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_linear_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
Labels: Applications, Deprecated

#6723 [Core] Enhance modelpart to work with GeometryType
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
Labels: Feature, Kratos Core

#7292 [Core] Add geometry python interfaces
  kratos/python/add_geometries_to_python.cpp
Labels: FastPR, Kratos Core, Python

#7296 [Core] delete Variable assignment operator
  kratos/containers/variable.h
Labels: API Breaker, Applications, Cleanup, Kratos Core

#7079 [MPM] (updated for neighbour search) Explicit Partitioned Quadrature MPM
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_PQ.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_PQ.hpp
  applications/ParticleMechanicsApplication/custom_geometries/quadrature_point_partitioned_geometry.h
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_explicit_utilities.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_explicit_utilities.h
  applications/ParticleMechanicsApplication/custom_utilities/mpm_particle_generator_utility.h
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
  applications/ParticleMechanicsApplication/custom_utilities/particle_mechanics_math_utilities.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/mpm_explicit_solver.py
  applications/ParticleMechanicsApplication/python_scripts/particle_from_json_check_result_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_json_output_process.py
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_search_element_utility.cpp
  applications/ParticleMechanicsApplication/tests/particle_mechanics_test_factory.py
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_2D_test_body.mdpa
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_2D_test_materials.json
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_3D_test_body.mdpa
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_3D_test_materials.json
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_hex_test_grid.mdpa
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_hex_test_parameters.json
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_hex_test_results.json
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_quad_test_grid.mdpa
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_quad_test_parameters.json
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_quad_test_results.json
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_tri_test_grid.mdpa
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_tri_test_parameters.json
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_tri_test_results.json
  applications/ParticleMechanicsApplication/tests/test_ParticleMechanicsApplication.py
Labels: Enhancement

#7320 [Trilinos] add dependency to MetisApplication
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/TrilinosApplication.py
Labels: Applications, External library
