Repository KratosMultiphysics/Kratos, pull requests merged in 2020-10, with the labels that each got.

#7534 [Core][Contact] Migrate normal mortar compute to normal utilities
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_check_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_search_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
  applications/StructuralMechanicsApplication/custom_utilities/perturb_geometry_base_utility.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_shell_to_solid_shell_process.cpp
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/tests/cpp_tests/processes/test_mortar_mapper_process.cpp
  kratos/tests/test_normal_utils.py
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/normal_calculation_utils.cpp
  kratos/utilities/normal_calculation_utils.h
Labels: Applications, Cleanup, Deprecated, FastPR, Kratos Core, Refactor

#7523 Sdem/remove component adaptor
  applications/DEMApplication/custom_constitutive/DEM_continuum_constitutive_law.h
  applications/DEMApplication/custom_constitutive/DEM_discontinuum_constitutive_law.h
  applications/DEMApplication/custom_elements/bonding_spheric_continuum_particle.h
  applications/DEMApplication/custom_elements/sintering_spheric_continuum_particle.h
  applications/DEMApplication/custom_elements/spheric_continuum_particle.h
  applications/DEMApplication/custom_elements/thermal_spheric_particle.h
  applications/SwimmingDEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/SwimmingDEMApplication/custom_utilities/custom_functions.h
  applications/SwimmingDEMApplication/custom_utilities/derivative_recovery.cpp
Labels: C++, Cleanup

#7540 [Shallow] Visualization mesh process
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ProjectParameters.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ProjectParametersAuxProcs.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.cnd
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_utilities/replicate_model_part_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/replicate_model_part_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/empty_output_process.py
  applications/ShallowWaterApplication/python_scripts/empty_solver_for_testing.py
  applications/ShallowWaterApplication/python_scripts/visualization_mesh_process.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/cpp_tests/test_apply_perturbation_function_process.cpp
  applications/ShallowWaterApplication/tests/processes_tests/visualization_mesh_process_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/visualization_mesh_process_reference.json
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Cleanup, Usability

#7354 Mpm/improve condition search
  applications/ParticleMechanicsApplication/custom_utilities/mpm_particle_generator_utility.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
Labels: Applications, Enhancement, Help Wanted

#7541 [IGA] Add iga_output_process
  applications/IgaApplication/python_scripts/iga_output_process.py
Labels: CAD Integration

#7261 [Core][ParallelUtils] adding thread local storage
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
Labels: Enhancement, Kratos Core, Parallel-OMP

#7520 [Trilinos] add monotonicity preserving solver
  applications/TrilinosApplication/custom_factories/trilinos_linear_solver_factory.cpp
  applications/TrilinosApplication/external_includes/trilinos_monotonicity_preserving_solver.h
Labels: Parallel-MPI

#7554 [SwimmingDEM] missing imports in init
  applications/SwimmingDEMApplication/SwimmingDEMApplication.py
Labels: Applications, Incomplete

#7560 making night tests small
  applications/SwimmingDEMApplication/tests/NightTests.py
  applications/SwimmingDEMApplication/tests/SmallTests.py
Labels: Python, Testing

#7558 [Core][Array1D] udpate error macros
  kratos/containers/array_1d.h
Labels: Cleanup, FastPR, Kratos Core, Refactor

#7556 [Core][AtomicUtils] small correction to a function that was not compiled before
  kratos/utilities/atomic_utilities.h
Labels: FastPR, Hotfix, Parallel-OMP

#7511 [Core] Remove deprecartion warnings for VariableComponent
  kratos/containers/data_value_container.cpp
  kratos/containers/data_value_container.h
  kratos/containers/variables_list_data_value_container.h
  kratos/includes/c2c_variables.h
  kratos/includes/cfd_variables.h
  kratos/includes/dem_variables.h
  kratos/includes/deprecated_variables.h
  kratos/includes/dof.h
  kratos/includes/fsi_variables.h
  kratos/includes/kratos_application.h
  kratos/includes/kratos_components.h
  kratos/includes/mapping_variables.h
  kratos/includes/mat_variables.h
  kratos/includes/mesh_moving_variables.h
  kratos/includes/model_part.h
  kratos/includes/node.h
  kratos/includes/variables.h
  kratos/processes/apply_constant_scalarvalue_process.h
  kratos/processes/apply_periodic_boundary_condition_process.cpp
  kratos/sources/kratos_application.cpp
  kratos/sources/kratos_components.cpp
Labels: C++, Cleanup, Kratos Core

#7562 [Core] cleaned includes
  kratos/containers/all_variables_data_value_container.h
  kratos/python/add_dem_variables_to_python.cpp
  kratos/python/add_deprecated_variables_to_python.cpp
Labels: Cleanup, FastPR, Kratos Core

#7564 [Strctural] adding error in case DOMAIN_SIZE is not specified
  applications/StructuralMechanicsApplication/custom_processes/total_structural_mass_process.cpp
Labels: Applications, Hotfix

#7566 [dem] Fixing and error in the tests. Random crash both in windows and linux.
  applications/DEMApplication/tests/test_DEM_2D_restitution.py
Labels: Bugfix, Testing

#7488 NavierStokesTwoFluidsSolver with BFECC LS convection
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
Labels: FastPR

#7549 Update INSTALL.md
  INSTALL.md
Labels: Documentation

#7567 [dem] Python 'super' in the new Python3 style
  applications/DEMApplication/custom_problemtype/DEMpack/C-DEMPack/kratos.gid/python/KratosDEMAnalysis.py
  applications/DEMApplication/custom_problemtype/DEMpack/F-DEMPack/kratos.gid/python/KratosSwimmingDEMAnalysis.py
  applications/DEMApplication/custom_problemtype/DEMpack/G-DEMPack/kratos.gid/python/KratosDEMAnalysis.py
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/DEM_material_test_script_mpi.py
  applications/DEMApplication/python_scripts/DEM_procedures_mpi.py
  applications/DEMApplication/python_scripts/DEM_procedures_mpi_no_partitions.py
  applications/DEMApplication/python_scripts/DEM_restart_utility.py
  applications/DEMApplication/python_scripts/KratosDEMAnalysis.py
  applications/DEMApplication/python_scripts/concentric_element_size_coarsener.py
  applications/DEMApplication/python_scripts/continuum_sphere_strategy.py
  applications/DEMApplication/python_scripts/time_step_testing_stage.py
  applications/DEMApplication/python_scripts/triaxial2d_test.py
  applications/DEMApplication/test_examples/basic_benchmarks/DEM_benchmarks.py
  applications/DEMApplication/test_examples/basic_benchmarks/DEM_benchmarks_analysis.py
  applications/DEMApplication/tests/test_DEM_2D.py
  applications/DEMApplication/tests/test_DEM_2D_contact.py
  applications/DEMApplication/tests/test_DEM_2D_control_module.py
  applications/DEMApplication/tests/test_DEM_2D_inlet.py
  applications/DEMApplication/tests/test_DEM_3D_contact.py
  applications/DEMApplication/tests/test_DEM_3D_continuum.py
  applications/DEMApplication/tests/test_DEM_3D_restitution.py
  applications/DEMApplication/tests/test_analytics.py
  applications/DEMApplication/tests/test_glued_particles.py
  applications/DEMApplication/tests/test_kinematic_constraints.py
  applications/DEMApplication/tests/test_restart.py
Labels: FastPR, Python

#7571 [Core] Clean up unused files
  kratos/includes/kratos_exception.h
  kratos/processes/mesh_smoothing_process.cpp
  kratos/processes/mesh_smoothing_process.h
  kratos/sources/kratos_exception.cpp
Labels: Cleanup, FastPR, Kratos Core

#7563 [Chimera] removed deprecated includes
  applications/ChimeraApplication/chimera_application_variables.h
  applications/ChimeraApplication/custom_processes/apply_chimera_process.h
Labels: Applications, Cleanup, Deprecated, FastPR

#7572 [CI] Adding MPI meshing python tests
  .github/workflows/ci.yml
  applications/MeshingApplication/tests/test_MeshingApplication_mpi.py
Labels: Parallel-MPI, Testing

#7576 [Dam] Update interfaces of Element, Condition and Scheme
  applications/DamApplication/custom_conditions/UP_condition.cpp
  applications/DamApplication/custom_conditions/UP_condition.hpp
  applications/DamApplication/custom_conditions/added_mass_condition.cpp
  applications/DamApplication/custom_conditions/added_mass_condition.hpp
  applications/DamApplication/custom_conditions/free_surface_condition.cpp
  applications/DamApplication/custom_conditions/free_surface_condition.hpp
  applications/DamApplication/custom_constitutive/joint_cohesion_driven_3D_law.cpp
  applications/DamApplication/custom_constitutive/joint_stress_driven_3D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_3D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_local_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_3D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_plane_strain_2D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_modified_mises_nonlocal_damage_plane_stress_2D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_3D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_nonlocal_damage_3D_law.hpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_3D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_plane_strain_2D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_local_damage_plane_stress_2D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_3D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_plane_strain_2D_law.cpp
  applications/DamApplication/custom_constitutive/thermal_simo_ju_nonlocal_damage_plane_stress_2D_law.cpp
  applications/DamApplication/custom_elements/small_displacement_element.cpp
  applications/DamApplication/custom_elements/small_displacement_element.hpp
  applications/DamApplication/custom_elements/small_displacement_interface_element.cpp
  applications/DamApplication/custom_elements/small_displacement_interface_element.hpp
  applications/DamApplication/custom_elements/small_displacement_thermo_mechanic_element.cpp
  applications/DamApplication/custom_elements/small_displacement_thermo_mechanic_element.hpp
  applications/DamApplication/custom_elements/solid_element.cpp
  applications/DamApplication/custom_elements/solid_element.hpp
  applications/DamApplication/custom_elements/wave_equation_element.cpp
  applications/DamApplication/custom_elements/wave_equation_element.hpp
  applications/DamApplication/custom_strategies/schemes/dam_P_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/dam_UP_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/incrementalupdate_static_damped_smoothing_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/trilinos_incrementalupdate_static_damped_scheme.hpp
  applications/DamApplication/custom_utilities/global_joint_stress_utility.hpp
  applications/DamApplication/python_scripts/gid_dam_output_process.py
Labels: Applications, Cleanup, Deprecated

#7580 [Dam] Update schemes
  applications/DamApplication/custom_strategies/schemes/dam_P_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/dam_UP_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/incrementalupdate_static_damped_smoothing_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/trilinos_incrementalupdate_static_damped_scheme.hpp
Labels: Applications, Deprecated

#7582 [Core][ReadMaterialsUtility] adding proper error in case the file doesn't exist
  kratos/utilities/read_materials_utility.cpp
Labels: FastPR, Kratos Core, Usability

#7587 Fix windows compilation
  kratos/includes/kratos_components.h
Labels: Bug, Bugfix, FastPR

#7590 [CI] more warnings to errors
  .github/workflows/ci.yml
Labels: Compilation, Continuous Integration, FastPR, Warning

#7559 [Core] Adding MPI support to compute_nodal_gradient process and a test
  kratos/mpi/tests/auxiliar_files_for_python_unittest/reference_files/test_compute_nodal_gradient_process_results.json
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/mpi/tests/test_mpi_processes.py
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
Labels: Kratos Core, Parallel-MPI

#7592 [CI] Add FSI application to Windows CI
  .github/workflows/ci.yml
Labels: Continuous Integration

#7306 [RANS] RANS Turbulence models integration - Step 3.4.4 - Adding FractionalStep Formulation
  applications/RANSApplication/python_scripts/formulations/__init__.py
  applications/RANSApplication/python_scripts/formulations/fractional_step/fractional_step_velocity_pressure_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/incompressible_potential_flow/__init__.py
  applications/RANSApplication/python_scripts/formulations/monolithic_vms/monolithic_velocity_pressure_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/utilities.py
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_velocity_pressure_field_bdf2_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_velocity_pressure_field_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_velocity_pressure_parameters.json
  applications/RANSApplication/tests/flow_solver_test_case.py
  applications/RANSApplication/tests/fractional_step_velocity_pressure_formulation_tests.py
  applications/RANSApplication/tests/monolithic_velocity_pressure_formulation_tests.py
  applications/RANSApplication/tests/test_RANSApplication.py
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
Labels: Applications, Python

#7591 [CoSim] optionally print mapper creation time
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
Labels: FastPR, Usability

#7569 [Core] Fix parameter constructor in compute nodal gradient process and adding more tests
  kratos/mpi/tests/test_mpi_processes.py
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/tests/test_processes.py
Labels: Bugfix, Kratos Core

#7570 [MeshingApplication] MPI support in metric hessian process
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/tests/mmg_lagrangian_test/rectangle_distance_values.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/rectangle_pre_metric_result.json
  applications/MeshingApplication/tests/test_MeshingApplication_mpi.py
  applications/MeshingApplication/tests/test_mpi_metrics.py
Labels: Applications, Parallel-MPI

#7586 Use GetPython3Command utility
  applications/CoSimulationApplication/tests/test_kratos_co_sim_io.py
  applications/DEMApplication/test_examples/DEM_run_all_benchmarks_analysis.py
  applications/DEMApplication/test_examples/DEM_run_all_benchmarks_grid.py
  applications/SwimmingDEMApplication/test_examples/swimming_DEM_run_all_benchmarks.py
Labels: Python

#7295 [Core][External] Update json to 3.9. Allow comments
  external_libraries/json/README.md
  external_libraries/json/json.hpp
  kratos/sources/kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Enhancement, External library, Kratos Core

#7594 [Core][VtkOutput] move parameters to top of file and switch to binary format by default
  applications/ShapeOptimizationApplication/python_scripts/design_logger_vtk.py
  applications/ShapeOptimizationApplication/tests/opt_process_vertex_morphing_test/parameters.json
  kratos/input_output/vtk_output.cpp
Labels: Behaviour Change, FastPR, Kratos Core, Usability

#7557 [Core][BugFix] Strange fix for relase builds [#7551]
  kratos/utilities/coordinate_transformation_utilities.h
Labels: Bugfix, FastPR, Kratos Core

#7461 [Core] Remove OpenMP from Node.h
  kratos/includes/node.h
Labels: C++, Cleanup, Kratos Core

#7589 [IGA] Output Condition
  applications/IgaApplication/custom_conditions/output_condition.cpp
  applications/IgaApplication/custom_conditions/output_condition.h
  applications/IgaApplication/iga_application.cpp
  applications/IgaApplication/iga_application.h
Labels: CAD Integration

#7595 [Core] remove unused linear solvers
  kratos/linear_solvers/cuthill_mckee_reorderer.h
  kratos/linear_solvers/luc_solver.h
  kratos/linear_solvers/umfpack_lu_solver.h
  kratos/processes/reorder_and_optimize_modelpart_process.cpp
Labels: Cleanup, Kratos Core

#7599 [Core] Update Kratos version and adding useful macros
  kratos/includes/kratos_version.h
Labels: Enhancement, FastPR, Kratos Core

#7598 [CI] Extract windows build script
  .github/workflows/ci.yml
  .github/workflows/configure.cmd
  .github/workflows/nightly_build.yml
Labels: Continuous Integration, Refactor, Windows

#7309 [RANS] RANS Turbulence models integration - Step 3.4.7 - Adding k-omega-sst formulation
  applications/RANSApplication/python_scripts/formulations/__init__.py
  applications/RANSApplication/python_scripts/formulations/fractional_step/fractional_step_k_omega_sst_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/monolithic_vms/monolithic_k_omega_sst_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/turbulence_models/k_omega_sst_rans_formulation.py
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_algebraic_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_algebraic_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_bdf2_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_bdf2_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_parameters.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_bossak_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_bossak_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_parameters.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_turbulent_kinetic_energy_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_velocity_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_parameters.json
  applications/RANSApplication/tests/fractional_step_k_omega_sst_formulation_tests.py
  applications/RANSApplication/tests/monolithic_k_omega_sst_formulation_tests.py
  applications/RANSApplication/tests/test_RANSApplication.py
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
Labels: Applications, Python

#7585 [Dem] Change function definiton in CLs to avoid warnings and update
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_constitutive/DEM_D_Conical_damage_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_D_Conical_damage_CL.h
  applications/DEMApplication/custom_constitutive/DEM_D_Stress_dependent_cohesive_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_D_Stress_dependent_cohesive_CL.h
  applications/DEMApplication/custom_elements/contact_info_spheric_particle.cpp
  applications/DEMApplication/custom_elements/contact_info_spheric_particle.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_utilities/properties_proxies.cpp
  applications/DEMApplication/custom_utilities/properties_proxies.h
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/KratosFemDemApplication.py
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/MainKratos.py
Labels: Applications, Enhancement, Warning

#7578 [Mapping] construct total mortar matrix with solver
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.h
  applications/MappingApplication/tests/test_MappingApplication.py
  applications/MappingApplication/tests/test_coupling_geometry_mapper.py
Labels: Applications, Enhancement

#7510 [MeshMoving] Replace OpenMP loops with parallel wrappers
  applications/MeshMovingApplication/custom_utilities/explicit_fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
Labels: Applications, Parallel-OMP

#7272 [ConvectionDiffusion] Symbolic explicit elements
  applications/ConvectionDiffusionApplication/CMakeLists.txt
  applications/ConvectionDiffusionApplication/README.md
  applications/ConvectionDiffusionApplication/convection_diffusion_application.cpp
  applications/ConvectionDiffusionApplication/convection_diffusion_application.h
  applications/ConvectionDiffusionApplication/convection_diffusion_application_variables.cpp
  applications/ConvectionDiffusionApplication/convection_diffusion_application_variables.h
  applications/ConvectionDiffusionApplication/custom_elements/d_convection_diffusion_explicit.cpp
  applications/ConvectionDiffusionApplication/custom_elements/d_convection_diffusion_explicit.h
  applications/ConvectionDiffusionApplication/custom_elements/qs_convection_diffusion_explicit.cpp
  applications/ConvectionDiffusionApplication/custom_elements/qs_convection_diffusion_explicit.h
  applications/ConvectionDiffusionApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ConvectionDiffusionApplication/custom_python/kratos_convection_diffusion_python_application.cpp
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/explicit_runge_kutta_4_eulerian_convdiff_strategy.h
  applications/ConvectionDiffusionApplication/symbolic_generation/convection_diffusion_explicit/d_convection_diffusion_explicit_cpp_template.cpp
  applications/ConvectionDiffusionApplication/symbolic_generation/convection_diffusion_explicit/generate_convection_diffusion_explicit_element.py
  applications/ConvectionDiffusionApplication/symbolic_generation/convection_diffusion_explicit/qs_convection_diffusion_explicit_cpp_template.cpp
  applications/ConvectionDiffusionApplication/tests/convection_diffusion_test_factory.py
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_d_convection_diffusion_explicit_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_qs_convection_diffusion_explicit_element.cpp
Labels: Applications, C++, Python

#7489 [Core][FSI] Move convergence accelerators from FSI to KratosCore
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_convergence_accelerator.py
  applications/FSIApplication/custom_python/add_convergence_accelerators_to_python.cpp
  applications/FSIApplication/custom_utilities/aitken_convergence_accelerator.hpp
  applications/FSIApplication/custom_utilities/constant_relaxation_convergence_accelerator.h
  applications/FSIApplication/custom_utilities/convergence_accelerator.hpp
  applications/FSIApplication/custom_utilities/mvqn_convergence_accelerator.hpp
  applications/FSIApplication/custom_utilities/mvqn_recursive_convergence_accelerator.hpp
  applications/FSIApplication/tests/cpp_tests/test_convergence_accelerators.cpp
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_accelerators_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_accelerators_to_python.h
  applications/TrilinosApplication/custom_python/trilinos_python_application.cpp
  applications/TrilinosApplication/custom_utilities/trilinos_mvqn_recursive_convergence_accelerator.hpp
  kratos/python/add_convergence_accelerators_to_python.cpp
  kratos/python/add_convergence_accelerators_to_python.h
  kratos/python/kratos_python.cpp
  kratos/solving_strategies/convergence_accelerators/convergence_accelerator.h
Labels: Applications, Cleanup, Inconsistent, Kratos Core

#7522 Fluid dem coupling element
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms_dem_coupled.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms_dem_coupled.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.h
  applications/FluidDynamicsApplication/custom_utilities/qsvms_dem_coupled_data.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_qs_vms_dem_coupled_element.cpp
  applications/SwimmingDEMApplication/CMakeLists.txt
  kratos/includes/dem_variables.h
  kratos/python/add_dem_variables_to_python.cpp
  kratos/sources/dem_variables.cpp
Labels: Applications, Feature

#7600 [Core] use OpenMPUtils in thread pools
  kratos/includes/chunk.h
  kratos/includes/fixed_size_memory_pool.h
  kratos/includes/thread_fixed_size_memory_pool.h
  kratos/tests/cpp_tests/sources/test_chunk.cpp
  kratos/tests/cpp_tests/sources/test_memory_pool.cpp
Labels: Kratos Core, Parallel-OMP

#7575 [Core][AtomicUtilities] remove OMP 3 feature
  kratos/utilities/atomic_utilities.h
Labels: Kratos Core, Parallel-OMP, Windows

#6926 [Core] Fix is used uninitialized in this function [-Wuninitialized] in integration_rules.cpp
  kratos/integration/hexahedron_gauss_legendre_integration_points.h
  kratos/integration/hexahedron_gauss_lobatto_integration_points.h
  kratos/integration/line_collocation_integration_points.h
  kratos/integration/line_gauss_legendre_integration_points.h
  kratos/integration/line_gauss_lobatto_integration_points.h
  kratos/integration/prism_gauss_legendre_integration_points.h
  kratos/integration/prism_gauss_lobatto_integration_points.h
  kratos/integration/quadrature.h
  kratos/integration/quadrilateral_collocation_integration_points.h
  kratos/integration/quadrilateral_gauss_legendre_integration_points.h
  kratos/integration/quadrilateral_gauss_lobatto_integration_points.h
  kratos/integration/tetrahedron_gauss_legendre_integration_points.h
  kratos/integration/triangle_collocation_integration_points.h
  kratos/integration/triangle_gauss_legendre_integration_points.h
  kratos/integration/triangle_gauss_radau_integration_points.h
  kratos/sources/integration_rules.cpp
Labels: Compilation, Gcc, Kratos Core, Warning

#7597 [Core] initial cleanup of LockObject
  kratos/includes/lock_object.h
Labels: Cleanup, FastPR, Kratos Core, Parallel-OMP

#7608 [core] Deleted method AtomicAssign
  kratos/utilities/atomic_utilities.h
Labels: API Breaker, FastPR

#7615 [CI] installing Docker 5.5
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: Continuous Integration, External library

#7617 [FEMDEM] Solving memory error and update tests to 1 thread
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.cpp
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/tests/main_coupling_for_testing_tables.py
  applications/FemToDemApplication/tests/main_coupling_free_fall_testing.py
  applications/FemToDemApplication/tests/main_coupling_total_lagrangian_for_testing.py
  applications/FemToDemApplication/tests/main_fsi_aitken_for_testing.py
Labels: Applications, FastPR

#7612 [MeshingApplication] Repair for mmg 5.5
  applications/MeshingApplication/custom_io/mmg_io.cpp
  applications/MeshingApplication/custom_io/mmg_io.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  applications/MeshingApplication/custom_python/add_custom_io_to_python.cpp
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg_utilities.h
  applications/MeshingApplication/tests/mmg_eulerian_test/distante_extrapolation_5_5.json
  applications/MeshingApplication/tests/mmg_eulerian_test/distante_extrapolation_skin_5_5.json
  applications/MeshingApplication/tests/test_remesh_sphere.py
Labels: Applications, Enhancement, External library

#7613 [dem] Linker error solved.
  applications/DEMApplication/custom_constitutive/DEM_D_Linear_viscous_Coulomb_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_D_Linear_viscous_Coulomb_CL.h
Labels: C++, Warning

#7622 [Ci] Docker: specify mmg install dir for 5.5.1
  .github/workflows/configure.sh
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: Continuous Integration, External library, Hotfix

#7626 [CI] Docker fix directory creation
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: FastPR, Hotfix

#7604 [ConvDiff] Add two flags to the solver
  applications/ConvectionDiffusionApplication/python_scripts/adjoint_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_explicit_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/coupled_structural_thermal_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/python_solvers_wrapper_convection_diffusion.py
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar/bar.mdpa
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar/materials_bar.json
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar/project_parameters_bar_DASGS.json
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar/project_parameters_bar_DOSS.json
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar/project_parameters_bar_QASGS.json
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar/project_parameters_bar_QOSS.json
Labels: Applications, Python

#7627 [CI] enable MMG again
  .github/workflows/configure.sh
Labels: Continuous Integration, External library, FastPR

#7620 [PoroApp] Warning removed (deprecated NR constructor)
  applications/PoromechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_newton_raphson_nonlocal_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_newton_raphson_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_nonlocal_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_strategy.hpp
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pw_solver.py
Labels: Applications, C++, Cleanup, Python, Warning

#7616 [ContactStructuralMechanicsApplication] Refactor ContactUtilities to cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.h
Labels: Applications, FastPR, Refactor

#7630 [PfemFluid] cleanup
  applications/DelaunayMeshingApplication/python_scripts/mesher.py
  applications/DelaunayMeshingApplication/python_scripts/meshing_strategy.py
  applications/DelaunayMeshingApplication/python_scripts/remesh_domains_process.py
  applications/PfemFluidDynamicsApplication/custom_processes/compute_average_pfem_mesh_parameters_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/inlet_management_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/recover_volume_losses_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/remove_mesh_nodes_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/set_inlet_process.hpp
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_mesher.py
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_meshing_domain.py
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_meshing_strategy.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_nodal_integration_solver.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
  applications/SwimmingDEMApplication/python_scripts/pfem_fluid_DEM_coupling_solver.py
Labels: Applications, Cleanup

#7633 [Dam] Warning removed (deprecated NR constructor)
  applications/DamApplication/CMakeLists.txt
  applications/DamApplication/python_scripts/dam_MPI_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
Labels: Cleanup, Compilation, Python, Warning

#7634 [PfemFluid] New settings for remeshing strategy
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_mesher.py
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_meshing_strategy.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_complete_mesher.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_keeping_nodes_mesher.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_none_mesher.py
Labels: Applications, Cleanup

#7637 [Structural] MassProcess using FullName
  applications/StructuralMechanicsApplication/custom_processes/total_structural_mass_process.cpp
Labels: Applications, FastPR, Usability

#7628 [Structural] beam improving Check function
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
Labels: Applications, Cleanup, Usability

#7639 Typo
  INSTALL.md
Labels: FastPR, Typo

#7635 [Core] Cleanup indexed object
  applications/DEMApplication/custom_elements/cluster3D.h
  applications/DEMApplication/custom_elements/custom_clusters/singlespherecluster3D.h
  applications/DEMApplication/custom_elements/discrete_element.h
  applications/DEMApplication/custom_elements/rigid_body_element.h
  applications/DEMApplication/custom_elements/ship_element.h
  applications/DEMApplication/custom_utilities/inlet.h
  applications/DEMApplication/custom_utilities/particle_data.h
  applications/DelaunayMeshingApplication/delaunay_meshing_application_variables.h
  applications/FluidDynamicsApplication/custom_conditions/fs_periodic_condition.h
  applications/HDF5Application/custom_utilities/factor_elements_and_conditions_utility.h
  applications/SwimmingDEMApplication/custom_utilities/particle_data.h
  kratos/includes/indexed_object.h
  kratos/includes/key_hash.h
  kratos/includes/master_slave_constraint.h
  kratos/includes/mesh.h
  kratos/includes/periodic_condition.h
  kratos/includes/properties.h
  kratos/spatial_containers/configures/node_configure.h
  kratos/spatial_containers/configures/point_configure.h
  kratos/utilities/divide_geometry.h
  kratos/utilities/indexed_object.h
Labels: Cleanup, FastPR, Inconsistent, Kratos Core

#7609 [SDEM] Fluid sdem coupling implementation
  applications/SwimmingDEMApplication/CMakeLists.txt
  applications/SwimmingDEMApplication/custom_elements/calculate_error_L2_projection_element.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_error_L2_projection_element.h
  applications/SwimmingDEMApplication/custom_processes/spatial_dependant_porosity_solution_body_force_process.cpp
  applications/SwimmingDEMApplication/custom_processes/spatial_dependant_porosity_solution_body_force_process.h
  applications/SwimmingDEMApplication/custom_processes/transient_spatial_dependant_porosity_solution_body_force_process.cpp
  applications/SwimmingDEMApplication/custom_processes/transient_spatial_dependant_porosity_solution_body_force_process.h
  applications/SwimmingDEMApplication/custom_python/add_custom_processes_to_python.cpp
  applications/SwimmingDEMApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/SwimmingDEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/SwimmingDEMApplication/custom_python/swimming_DEM_python_application.cpp
  applications/SwimmingDEMApplication/custom_strategies/strategies/bdf2_turbulent_schemeDEMCoupled.h
  applications/SwimmingDEMApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bossak_scheme_turbulentDEMCoupled.h
  applications/SwimmingDEMApplication/custom_utilities/L2_error_projection_utility.h
  applications/SwimmingDEMApplication/python_scripts/DEM_coupled_fluid_dynamics_analysis.py
  applications/SwimmingDEMApplication/python_scripts/L2_error_projection_utility.py
  applications/SwimmingDEMApplication/python_scripts/apply_custom_body_force_process.py
  applications/SwimmingDEMApplication/python_scripts/apply_spatial_dependant_porosity_solution_body_force_process.py
  applications/SwimmingDEMApplication/python_scripts/apply_transient_spatial_dependant_porosity_solution_body_force_process.py
  applications/SwimmingDEMApplication/python_scripts/assign_exact_variable_to_a_dof_process.py
  applications/SwimmingDEMApplication/python_scripts/fluid_DEM_coupling_solver.py
  applications/SwimmingDEMApplication/python_scripts/fluid_fraction_test_analysis.py
  applications/SwimmingDEMApplication/python_scripts/fluid_fraction_test_solver.py
  applications/SwimmingDEMApplication/python_scripts/hdf5_script.py
  applications/SwimmingDEMApplication/python_scripts/navier_stokes_solver_vms_monolithic_DEMCoupled.py
  applications/SwimmingDEMApplication/python_scripts/python_solvers_wrapper_fluidDEM.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_solver.py
  applications/SwimmingDEMApplication/python_scripts/variables_management.py
  applications/SwimmingDEMApplication/swimming_DEM_application.cpp
  applications/SwimmingDEMApplication/swimming_DEM_application.h
  applications/SwimmingDEMApplication/swimming_dem_application_variables.h
  applications/SwimmingDEMApplication/tests/CFD_DEM_two_way_tests/FluidMaterials.json
  applications/SwimmingDEMApplication/tests/CFD_DEM_two_way_tests/ProjectParameters.json
  applications/SwimmingDEMApplication/tests/CFD_DEM_two_way_tests/Two_way_test.mdpa
  applications/SwimmingDEMApplication/tests/CFD_DEM_two_way_tests/Two_way_testDEM.mdpa
  applications/SwimmingDEMApplication/tests/CFD_DEM_two_way_tests/Two_way_testDEM_FEM_boundary.mdpa
  applications/SwimmingDEMApplication/tests/CFD_DEM_two_way_tests/Two_way_testFluid.mdpa
  applications/SwimmingDEMApplication/tests/CFD_DEM_two_way_tests/two_way_test_results.json
  applications/SwimmingDEMApplication/tests/SmallTests.py
Labels: Applications, Feature

#7624 [dem] [sdem] A bit of cleanup and update (Logger, Super, getattr)
  applications/DEMApplication/python_scripts/Chung_Ooi_class.py
  applications/DEMApplication/python_scripts/DEM_benchmarks_class.py
  applications/DEMApplication/python_scripts/DEM_material_test_script_mpi.py
  applications/DEMApplication/python_scripts/DEM_procedures_mpi.py
  applications/DEMApplication/python_scripts/cluster_file_reader.py
  applications/DEMApplication/python_scripts/dem_vtk_output.py
  applications/DEMApplication/python_scripts/main_script.py
  applications/DEMApplication/python_scripts/plot_variables.py
  applications/DEMApplication/python_scripts/processes/apply_kinematic_constraints_process.py
  applications/DEMApplication/python_scripts/time_step_testing_stage.py
  applications/DEMApplication/tests/test_DEM_2D_inlet.py
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian_component.cpp
  applications/SwimmingDEMApplication/custom_elements/shell_rigid.cpp
  applications/SwimmingDEMApplication/custom_utilities/custom_functions.h
  applications/SwimmingDEMApplication/custom_utilities/volume_averaging_tool.h
  applications/SwimmingDEMApplication/python_scripts/CFD_DEM_coupling.py
  applications/SwimmingDEMApplication/python_scripts/DEM_coupled_pfem_fluid_dynamics_analysis.py
  applications/SwimmingDEMApplication/python_scripts/KratosSwimmingDEMAnalysis.py
  applications/SwimmingDEMApplication/python_scripts/KratosSwimmingDEMPFEMAnalysis.py
  applications/SwimmingDEMApplication/python_scripts/PID/average_field.py
  applications/SwimmingDEMApplication/python_scripts/analytics.py
  applications/SwimmingDEMApplication/python_scripts/apply_custom_body_force_process.py
  applications/SwimmingDEMApplication/python_scripts/calculate_nodal_area_process.py
  applications/SwimmingDEMApplication/python_scripts/cellular_flow/ethier_benchmark_analysis.py
  applications/SwimmingDEMApplication/python_scripts/cellular_flow/run_pouliot_benchmark_2D.py
  applications/SwimmingDEMApplication/python_scripts/colloids/colloids_analysis.py
  applications/SwimmingDEMApplication/python_scripts/derivative_recovery/L2_projection_recoverer.py
  applications/SwimmingDEMApplication/python_scripts/derivative_recovery/pouliot_2012_edge_recoverer.py
  applications/SwimmingDEMApplication/python_scripts/derivative_recovery/pouliot_2012_recoverer.py
  applications/SwimmingDEMApplication/python_scripts/embedded.py
  applications/SwimmingDEMApplication/python_scripts/fluid_coupled_DEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/pfem_fluid_DEM_coupling_solver.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_PFEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_gid_output.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_solver.py
  applications/SwimmingDEMApplication/python_scripts/swimming_sphere_strategy.py
  applications/SwimmingDEMApplication/python_scripts/variables_management.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/candelier_scripts/candelier_analysis.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/candelier_scripts/candelier_dem_solver.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/interpolation_scripts/interpolation_test_analysis.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/interpolation_scripts/interpolation_test_solver.py
Labels: C++, Cleanup, Python

#7643 [Contact] Removing deprecated warnings in tests
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_mpc_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/mesh_moving_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_sphere_plate_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_with_elimination_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_with_elimination_with_constraints_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_triangle_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/ironing_die_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/ironing_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_notmatching_a_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_notmatching_b_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/taylor_patch_dynamic_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/taylor_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_nonmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_adaptative_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_quadtri_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_triquad_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_multi_contact_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_quadtri_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_triquad_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/hyper_simple_slope_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/2D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/2D_contact_simplest_with_friction_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_simplest_with_friction_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/beam_contact_static_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/beam_contact_static_with_friction_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/beam_contact_static_with_tying_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/penalty_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_test_parameters.json
Labels: Applications, Cleanup, Deprecated, FastPR, Testing, Warning

#7649 [CI] adding timeouts to MPI tests
  .github/workflows/ci.yml
Labels: Continuous Integration, FastPR, Parallel-MPI

#7650 Contact/refactor update cc
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_residual_contact_criteria.h
Labels: Applications, Cleanup, FastPR, Refactor

#7642 [Core] VtkOutput adding debug check
  kratos/input_output/vtk_output.cpp
Labels: FastPR, Kratos Core, Usability

#7656 [PfemFluid] Cleanup of remeshing options
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_meshing_domain.py
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_meshing_strategy.py
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Bingham/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_FSI/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_Newtonian_Sloshing/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_3D_Newtonian_Sloshing/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/pfem_utilities_tests/2D_thermal_coupling/ProjectParameters.json
  applications/PfemFluidDynamicsApplication/tests/pfem_utilities_tests/Test_3D_Inlet/ProjectParameters.json
Labels: Applications, Cleanup

#7659 [core] Bugfix failure in CentOS8. Rename split_triangle.c to .h
  applications/MeshingApplication/custom_utilities/cutting_iso_app.h
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh.hpp
  applications/TrilinosApplication/custom_utilities/trilinos_refine_mesh.h
  kratos/utilities/cutting_utility.h
  kratos/utilities/divide_triangle_2d_3.cpp
  kratos/utilities/iso_printer.h
  kratos/utilities/split_prism.hpp
  kratos/utilities/split_triangle.h
Labels: Bugfix

#7661 [core] Add missing AssignSettings
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Bugfix

#7657 [HDF5] Split Core and Python-Interface
  applications/HDF5Application/CMakeLists.txt
Labels: Applications, Compilation

#7652 Fluid/ConDiff missing inits in python process
  applications/ConvectionDiffusionApplication/python_scripts/check_and_prepare_model_process_convection_diffusion.py
  applications/FluidDynamicsApplication/python_scripts/check_and_prepare_model_process_fluid.py
Labels: Applications, Bugfix, FastPR, Python

#7660 add ShapeOpt to windows ci
  .github/workflows/configure.cmd
  applications/ShapeOptimizationApplication/tests/opt_process_vertex_morphing_test/run_test_small.py
Labels: Applications, Continuous Integration

#7664 [Core] Add Get ParentPath and FileName retrieval methods
  kratos/includes/kratos_filesystem.h
  kratos/sources/kratos_filesystem.cpp
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
Labels: C++, Kratos Core

#7654 [Core/FilesystemExtensions] Add get list of directories method
  kratos/includes/kratos_filesystem.h
  kratos/sources/kratos_filesystem.cpp
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
Labels: C++, Kratos Core

#7644 [Shallow] Algebraic flux correction
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.h
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_utilities/algebraic_flux_correction_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/algebraic_flux_correction_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/fct_shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
Labels: Feature

#7655 [MeshMovingApp] split core and py-interface
  applications/MeshMovingApplication/CMakeLists.txt
  applications/MeshMovingApplication/custom_utilities/explicit_fixed_mesh_ale_utilities.h
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.h
  applications/MeshMovingApplication/custom_utilities/mesh_velocity_calculation.h
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.h
  applications/MeshMovingApplication/mesh_moving_application.h
Labels: Applications, Compilation

#7653 [MetisApp] split core and py-interface
  applications/MetisApplication/CMakeLists.txt
Labels: Applications, Compilation

#7646 [Core][ModelPartIO] adding Vector in DivideElementalDataBlock
  kratos/sources/model_part_io.cpp
Labels: FastPR, Incomplete, Kratos Core, Parallel-MPI

#7667 [PfemFluid] Small correction
  applications/DelaunayMeshingApplication/custom_processes/generate_new_elements_mesher_process.hpp
  applications/DelaunayMeshingApplication/custom_utilities/mesher_utilities.hpp
Labels: Applications, Cleanup

#7671 [ShapeOpt] split into core and python interface
  applications/ShapeOptimizationApplication/CMakeLists.txt
  applications/ShapeOptimizationApplication/shape_optimization_application.h
Labels: Applications, Compilation

#7674 [ContactStructuralMechanicsApplication] Adding rotation compatibility contact (beam/shells)
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mesh_tying_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.h
  applications/ContactStructuralMechanicsApplication/python_scripts/auxiliar_methods_solvers.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_convergence_criteria_factory.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/beams.mdpa
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/beams_materials.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/beams_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/beams_test_results.json
  applications/ContactStructuralMechanicsApplication/tests/NightlyTests.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, Enhancement, Feature

#7680 [PfemFluid] Cleaning and update of strategies
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/nodal_two_step_v_p_strategy.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/nodal_two_step_v_p_strategy_for_FSI.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/two_step_v_p_strategy.h
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
  applications/PfemFluidDynamicsApplication/tests/pfem_utilities_tests/2D_thermal_coupling/ProjectParameters.json
Labels: Applications, Cleanup

#7682 [Structural] minor mpi fixes
  applications/StructuralMechanicsApplication/python_scripts/trilinos_convergence_criteria_factory.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
Labels: Applications, Bugfix, FastPR

#7677 [HDF5][BugFix] Support for recursive submodel parts.
  applications/HDF5Application/custom_io/hdf5_model_part_io.cpp
  applications/HDF5Application/custom_io/hdf5_model_part_io.h
  applications/HDF5Application/tests/test_hdf5_model_part_io.py
Labels: Applications, Bugfix, C++, FastPR

#7611 [Rans] Making Reactions Computation Consistent with Fluid
  applications/RANSApplication/custom_processes/rans_compute_reactions_process.cpp
  applications/RANSApplication/tests/process_tests_data/compute_reactions_test_output_ref.json
Labels: Applications

#7679 [Shallow] Python solvers
  applications/ShallowWaterApplication/python_scripts/fct_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/free_surface_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/lagrangian_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/stabilized_shallow_water_solver.py
  applications/ShallowWaterApplication/tests/element_tests/swe_parameters.json
Labels: Cleanup, Python

#7533 [Core] Extend adjoint bossak scheme to support conditions
  kratos/solving_strategies/schemes/residual_based_adjoint_bossak_scheme.h
  kratos/tests/cpp_tests/strategies/schemes/test_residual_based_adjoint_bossak_scheme.cpp
Labels: Behaviour Change, C++, Kratos Core

#7687 [StructuralMechanicsApplication] Fix bug from #7681
  applications/StructuralMechanicsApplication/python_scripts/automatic_rayleigh_parameters_computation_process.py
Labels: Applications, Bugfix, FastPR, Python

#7672 [Mapping] extend EmpireMapperWrapper to use Conditions or Elements
  applications/MappingApplication/python_scripts/empire_mortar_mapper.py
Labels: Applications, Usability

#7678 Fixing win source dir dectection
  scripts/standard_configure.bat
Labels: Hotfix

#7689 [PfemFluid] Cleaning of output writing
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/barker_bercovier_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/barker_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/bercovier_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/bingham_2D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/bingham_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/frictional_viscoplastic_2D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/frictional_viscoplastic_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/jop_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/papanastasiou_mu_I_rheology_2D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/papanastasiou_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_fluid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_nodally_integrated_solid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_solid_element.cpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_element.h
  applications/PfemFluidDynamicsApplication/custom_elements/updated_lagrangian_V_implicit_solid_element.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.h
Labels: Applications, Cleanup

#7688 [Shallow] Testing
  applications/ShallowWaterApplication/tests/element_tests/lagrangian_swe_reference.json
  applications/ShallowWaterApplication/tests/element_tests/swe_reference.json
  applications/ShallowWaterApplication/tests/elements_tests/lagrangian_swe_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/lagrangian_swe_reference.json
  applications/ShallowWaterApplication/tests/elements_tests/shallow_water_2d_3n_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/shallow_water_2d_3n_reference.json
  applications/ShallowWaterApplication/tests/elements_tests/square_domain.mdpa
  applications/ShallowWaterApplication/tests/elements_tests/swe_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/swe_reference.json
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Testing

#7692 [Core] adding MeshElement for Points
  kratos/includes/kratos_application.h
  kratos/sources/kratos_application.cpp
Labels: Incomplete, Kratos Core

#7695 [Poro] Cleanup const processinfo
  applications/PoromechanicsApplication/custom_conditions/U_Pw_condition.cpp
  applications/PoromechanicsApplication/custom_conditions/U_Pw_condition.hpp
  applications/PoromechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.cpp
  applications/PoromechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_dynamic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_damped_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_3D_utilities.hpp
Labels: API Breaker, Applications, Cleanup, Deprecated

#7648 updated to pybind 2.6.0
  external_libraries/pybind11/attr.h
  external_libraries/pybind11/buffer_info.h
  external_libraries/pybind11/cast.h
  external_libraries/pybind11/chrono.h
  external_libraries/pybind11/complex.h
  external_libraries/pybind11/detail/class.h
  external_libraries/pybind11/detail/common.h
  external_libraries/pybind11/detail/descr.h
  external_libraries/pybind11/detail/init.h
  external_libraries/pybind11/detail/internals.h
  external_libraries/pybind11/detail/typeid.h
  external_libraries/pybind11/eigen.h
  external_libraries/pybind11/embed.h
  external_libraries/pybind11/eval.h
  external_libraries/pybind11/functional.h
  external_libraries/pybind11/iostream.h
  external_libraries/pybind11/numpy.h
  external_libraries/pybind11/operators.h
  external_libraries/pybind11/options.h
  external_libraries/pybind11/pybind11.h
  external_libraries/pybind11/pytypes.h
  external_libraries/pybind11/stl.h
  external_libraries/pybind11/stl_bind.h
Labels: External library, Python

#7696 [Shallow] Using variables as nonhistorical
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/estimate_dt_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/estimate_dt_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/python_scripts/apply_slip_process.py
  applications/ShallowWaterApplication/python_scripts/automatic_dirichlet_conditions_process.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/testing/empty_output_process.py
  applications/ShallowWaterApplication/python_scripts/testing/empty_solver_for_testing.py
  applications/ShallowWaterApplication/tests/processes_tests/set_topography_process_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/visualization_mesh_process_parameters.json
Labels: Cleanup, Python

#7701 [PfemFluid] bug fix due to _init_ and change of a python file name
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_check_and_prepare_fluid_model_process.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_solver.py
Labels: Applications, Bugfix

#7703 changes to deal with empty partitions
  kratos/utilities/normal_calculation_utils.cpp
Labels: Bugfix, Parallel-MPI

#7704 [MeshingApp] cmake modifications
  applications/MeshingApplication/CMakeLists.txt
Labels: Applications, Bugfix, Compilation

#7705 Minor update template app
  kratos/templates/template_application/CMakeLists.txt.in
  kratos/templates/template_application/custom_python/add_custom_strategies_to_python.cpp.in
  kratos/templates/template_application/custom_python/add_custom_strategies_to_python.h.in
  kratos/templates/template_application/custom_python/add_custom_utilities_to_python.cpp.in
  kratos/templates/template_application/custom_python/add_custom_utilities_to_python.h.in
  kratos/templates/template_application/custom_python/test_python_application.cpp.in
  kratos/templates/template_application/template_application.cpp.in
  kratos/templates/template_application/template_application.h.in
  kratos/templates/template_application/template_application_variables.cpp.in
  kratos/templates/template_application/template_application_variables.h.in
Labels: FastPR

#7404 Adding ConstitutiveLawsApplication
  .github/workflows/configure.cmd
  .github/workflows/configure.sh
  applications/ConstitutiveLawsApplication/CMakeLists.txt
  applications/ConstitutiveLawsApplication/ConstitutiveLawsApplication.py
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
  applications/ConstitutiveLawsApplication/tests/generalTests.py
  applications/ConstitutiveLawsApplication/tests/test_ConstitutiveLawsApplication.py
Labels: Applications

#7640 [ConvDiff] Diffusion element RHS calculation implementation and export name
  applications/ConvectionDiffusionApplication/convection_diffusion_application.cpp
  applications/ConvectionDiffusionApplication/convection_diffusion_application.h
  applications/ConvectionDiffusionApplication/custom_elements/eulerian_diff.h
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_diff.cpp
Labels: Enhancement, Inconsistent

#7685 [Core] Activate deprecation warnings => #7381
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/solving_strategies/schemes/scheme.h
Labels: Deprecated, Kratos Core

#7709 [Fluid] const Check() clang warnings
  applications/FluidDynamicsApplication/custom_elements/bingham_fluid.h
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.h
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms.h
  applications/FluidDynamicsApplication/custom_elements/dpg_vms.h
  applications/FluidDynamicsApplication/custom_elements/embedded_ausas_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.h
  applications/FluidDynamicsApplication/custom_elements/embedded_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/fic.cpp
  applications/FluidDynamicsApplication/custom_elements/fic.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step.cpp
  applications/FluidDynamicsApplication/custom_elements/fractional_step.h
  applications/FluidDynamicsApplication/custom_elements/herschel_bulkley_fluid.h
  applications/FluidDynamicsApplication/custom_elements/navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms_dem_coupled.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms_dem_coupled.h
  applications/FluidDynamicsApplication/custom_elements/spalart_allmaras.cpp
  applications/FluidDynamicsApplication/custom_elements/spalart_allmaras.h
  applications/FluidDynamicsApplication/custom_elements/symbolic_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/symbolic_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_vms.h
  applications/FluidDynamicsApplication/custom_elements/vms.h
  applications/FluidDynamicsApplication/custom_elements/vms_adjoint_element.h
Labels: Applications, Clang, FastPR, Warning

#7712 [Core] Model part Check() const ProcessInfo
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
Labels: FastPR, Inconsistent, Kratos Core, Warning

#7714 [ContactStructuralMechanicsApplication] Remove deprecated warnings
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
Labels: Applications, Cleanup, FastPR, Warning
