Repository KratosMultiphysics/Kratos, pull requests merged in 2020-06, with the labels that each got.

#6891 [Meshing] Reducing verbosity in mmg when null reference is obtained
  applications/MeshingApplication/custom_utilities/mmg_utilities.cpp
Labels: Applications, FastPR

#7011 [Core] Minor clean up of GlobalPointersVector
  kratos/containers/global_pointers_vector.h
Labels: Cleanup, FastPR, Kratos Core

#7010 [Trilinos] trilinos level set - update test results
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
Labels: FastPR, Testing

#7002 [MPICore] Create test_KratosMPICore.py
  kratos/mpi/tests/test_KratosMPICore.py
Labels: FastPR, Kratos Core, Parallel-MPI, Testing

#7003 [MPICore] fix file path
  kratos/mpi/tests/test_mpi_communicator.py
Labels: FastPR, Kratos Core, Parallel-MPI, Testing

#7013 [FEMDEM] Adding custom post process for the PFEM-FEM-DEM calculations
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/FemDemKratos.prb
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.prb
  applications/FemToDemApplication/custom_processes/generate_dem_process.cpp
  applications/FemToDemApplication/custom_processes/generate_initial_skin_DEM_process.cpp
  applications/FemToDemApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FemToDemApplication/custom_utilities/FEMDEM_coupling_utilities.cpp
  applications/FemToDemApplication/custom_utilities/FEMDEM_coupling_utilities.h
  applications/FemToDemApplication/custom_utilities/renumbering_model_parts_utility.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDemSubstepping.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDemSubstepping_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemAitken.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemAitkenSubstepping.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemSubstepping.py
  applications/FemToDemApplication/python_scripts/MainPFEM_for_coupling.py
  applications/FemToDemApplication/python_scripts/fem_dem_coupled_gid_output.py
Labels: Applications, Enhancement

#6890 [SMA] Improving the Parallel rule of mixtures
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/generic_anisotropic_3d_law.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/generic_anisotropic_3d_law.h
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/rule_of_mixtures_law.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/rule_of_mixtures_law.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_advanced_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/cpp_advanced_constitutive_tests/test_rule_of_mixtures_law.cpp
  cmake_build/.configure_mpc.sh.kate-swp
Labels: Applications, Enhancement

#6993 fix CableNetApp after #6686
  applications/CableNetApplication/custom_processes/sliding_edge_process.h
Labels: Applications, FastPR, Hotfix

#6971 [CI][Win] make C4804 an error
  .github/workflows/ci.yml
Labels: Compilation, Continuous Integration, Warning, Windows

#6754 [Core] removing call to Check for Elements and Conditions in SolvingStrategy
  kratos/solving_strategies/strategies/solving_strategy.h
Labels: Cleanup, Duplicate, Full Implementation Committee Decision, Kratos Core, Proposal

#6976 [Mapping] minor simplification
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.cpp
Labels: Applications, Cleanup, FastPR

#6959 [Core] removing unused files
  kratos/python/add_integration_points_to_python.cpp
  kratos/python/add_quadratures_to_python.cpp
  kratos/python/add_quadratures_to_python.h
Labels: Cleanup, FastPR, Kratos Core

#7015 [SMA] Adding Hardening law for the isotropic damage CL
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
Labels: Applications, Enhancement, FastPR

#6949 [Core] Fix use of CurveAxisIntersection in NurbsCurveOnSurface
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_curve_on_surface_geometry.cpp
Labels: Bugfix, FastPR, Kratos Core

#7005 [CI] not running as root
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
Labels: Continuous Integration, Parallel-MPI, Testing

#7014 [CableNet] fix class api
  applications/CableNetApplication/CMakeLists.txt
  applications/CableNetApplication/cable_net_application.h
  applications/CableNetApplication/custom_elements/empirical_spring.hpp
  applications/CableNetApplication/custom_elements/ring_element_3D.hpp
  applications/CableNetApplication/custom_elements/sliding_cable_element_3D.hpp
  applications/CableNetApplication/custom_elements/weak_coupling_slide.hpp
  applications/CableNetApplication/custom_processes/apply_weak_sliding_process.h
  applications/CableNetApplication/custom_processes/edge_cable_element_process.h
  applications/CableNetApplication/custom_processes/empirical_spring_element_process.h
  applications/CableNetApplication/custom_processes/sliding_edge_process.h
Labels: Applications, Compilation, Windows

#7017 updating trilinos instructions
  INSTALL.md
Labels: Documentation, External library, FastPR

#7006 [Core] clean ApplyPeriodicConditionProcess
  kratos/processes/apply_periodic_boundary_condition_process.cpp
  kratos/processes/apply_periodic_boundary_condition_process.h
Labels: Cleanup, FastPR, Kratos Core

#7020 [Core] fix clang 10 warning
  kratos/python/kratos_python.cpp
Labels: Clang, Cleanup, Compilation, FastPR, Kratos Core, Warning

#7009 [Core] Separating ResultDatabase from from_json_check_result_process
  kratos/CMakeLists.txt
  kratos/processes/from_json_check_result_process.h
  kratos/tests/cpp_tests/utilities/test_result_database.cpp
  kratos/utilities/result_dabatase.cpp
  kratos/utilities/result_dabatase.h
Labels: FastPR, Kratos Core, Refactor

#6997 [StructMech] process to equally distribute a force on a surface
  applications/StructuralMechanicsApplication/custom_processes/distribute_load_on_surface_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/distribute_load_on_surface_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/python_scripts/distribute_load_on_surface_process.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_distribute_load_on_surface_process.py
Labels: Feature

#7031 [ContactStructuralMechanicsApplication] Clean up VariableComponentType
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
  applications/ContactStructuralMechanicsApplication/custom_master_slave_constraints/contact_master_slave_constraint.cpp
  applications/ContactStructuralMechanicsApplication/custom_master_slave_constraints/contact_master_slave_constraint.h
Labels: Applications, Cleanup, FastPR

#6767 [Core] Parallel utilities v2
  kratos/includes/global_variables.h
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
  kratos/utilities/reduction_utilities.h
Labels: Discussion, Enhancement, Kratos Core, Parallel-OMP

#7033 [StructuralMechanicsApplication] Compilation fails without cotire
  applications/StructuralMechanicsApplication/custom_processes/distribute_load_on_surface_process.h
Labels: Applications, FastPR, Hotfix

#7029 [MPM] make axisymmetry volume and mass consistent
  applications/ParticleMechanicsApplication/custom_utilities/mpm_particle_generator_utility.h
Labels: Bugfix, FastPR

#7027 [Core] Improve StringUtilities
  kratos/tests/cpp_tests/utilities/test_string_utilities.cpp
  kratos/utilities/string_utilities.cpp
  kratos/utilities/string_utilities.h
Labels: Enhancement, FastPR, Kratos Core

#6945 [MPM] johnson cook material
  applications/ParticleMechanicsApplication/CMakeLists.txt
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_axisym_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_axisym_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_plane_strain_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/johnson_cook_thermal_plastic_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_stress_principal_invariants_utility.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_johnson_cook_law.cpp
Labels: Enhancement

#7012 [StructuralMechanicsApplication] Fix error detected in #6979
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
Labels: Applications, FastPR, Hotfix, Parallel-OMP

#7035 [Core] Adding SearchPartialString to StringUtilities
  kratos/tests/cpp_tests/utilities/test_string_utilities.cpp
  kratos/utilities/string_utilities.cpp
  kratos/utilities/string_utilities.h
Labels: Enhancement, FastPR, Kratos Core

#7037 [Core] Clean up unused in add_processes_to_python
  kratos/python/add_processes_to_python.cpp
Labels: Cleanup, FastPR, Kratos Core

#7008 [Core][run_tests.py] flush stdout
  kratos/python_scripts/run_tests.py
Labels: Kratos Core, Testing, Usability

#7040 [Core][Material reading test] using basic law
  kratos/tests/auxiliar_files_for_python_unittest/materials_files/materials_with_subproperties.json
  kratos/tests/auxiliar_files_for_python_unittest/materials_files/materials_with_subproperties_expected_failure.json
Labels: Cleanup, FastPR, Kratos Core, Testing

#7007 [ROM] removing component-vars
  applications/RomApplication/custom_strategies/rom_builder_and_solver.h
  applications/RomApplication/custom_utilities/rom_residuals_utility.h
Labels: Applications, Cleanup, FastPR

#7048 [Core][BlockBuilder] using SystemSolveWithPhysics in BuildRHSAndSolve
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Cleanup, Inconsistent, Kratos Core

#6967 [Kratos-Unittest] using len instead of Size
  kratos/python_scripts/KratosUnittest.py
Labels: Kratos Core, Proposal, Testing

#7028 [Core] Adapted BuildLHS
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: FastPR, Inconsistent, Kratos Core

#7049 [Core] Remove unused definition
  kratos/processes/compute_nodal_gradient_process.h
Labels: Cleanup, FastPR, Kratos Core

#7038 [CI] activating MPI tests
  .github/workflows/ci.yml
Labels: Continuous Integration, Parallel-MPI, Testing

#7059 [Core] Add gauss point evaluation methods to geometry utilities
  kratos/CMakeLists.txt
  kratos/tests/cpp_tests/utilities/test_geometry_utils.cpp
  kratos/utilities/geometry_utilities.cpp
  kratos/utilities/geometry_utilities.h
Labels: C++, Kratos Core

#7063 [Core] Remove VariableComponents unused from VariableUtils
  kratos/python/add_variable_utils_to_python.cpp
Labels: Cleanup, FastPR, Kratos Core

#6985 [Core] Fix triangle win64 compilation
  external_libraries/triangle/CMakeLists.txt
Labels: Bug

#7076 [Core] Test to fix #7067
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  CMakeLists.txt
Labels: Continuous Integration, FastPR, Hotfix, Kratos Core

#7066 [StructuralMechanicsApplication] Clean up components
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.h
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_multi_stage_kim_scheme.hpp
  applications/StructuralMechanicsApplication/custom_utilities/rve_periodicity_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/rve_periodicity_utility.h
Labels: Applications, Cleanup, FastPR

#7061 [ContactStructuralMechanicsApplication] @philbucher suggestion
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
Labels: Applications, FastPR, Refactor

#7064 [Core] Clean up of Components in python exposition
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_kernel_to_python.cpp
  kratos/python/add_mesh_to_python.cpp
  kratos/python/add_node_to_python.cpp
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python/add_processes_to_python.cpp
  kratos/python/add_properties_to_python.cpp
  kratos/python_interface/kratos_globals.py
  kratos/python_scripts/assign_scalar_variable_process.py
  kratos/python_scripts/fix_scalar_variable_process.py
  kratos/python_scripts/point_output_process.py
Labels: Cleanup, FastPR, Kratos Core

#7065 [MeshingApplication] Component cleaning
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
Labels: Applications, Cleanup, FastPR

#7075 [Core] Adding test for table in model part
  kratos/tests/cpp_tests/sources/test_model_part.cpp
Labels: FastPR, Kratos Core, Testing

#7077 [MeshingApplication] Simplify CmakeLists.txt
  applications/MeshingApplication/CMakeLists.txt
Labels: Applications, Cleanup, FastPR

#6982 [Core][ModelPart][Python] check if entity exists
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
Labels: Kratos Core, Proposal, Python

#6994 [Core][ModelPart] remove VariableComponentType
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
Labels: Cleanup, Kratos Core

#7078 [Core] Correct name geometries in test
  kratos/tests/test_geometries.py
Labels: FastPR, Kratos Core, Testing, Typo

#7068 [Trilinos] fix assign in trilinos space
  applications/TrilinosApplication/trilinos_space.h
Labels: Bugfix

#7036 [Core] Small clean up of a python process
  kratos/python_scripts/assign_scalar_variable_to_entities_process.py
Labels: Cleanup, FastPR, Kratos Core

#7081 [RANS] Remove old processes
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_scalar_cell_center_averaging_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_scalar_cell_center_averaging_process.h
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_vector_align_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_vector_align_process.h
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_vector_cell_center_averaging_process.cpp
  applications/RANSApplication/custom_processes/auxiliary_processes/rans_vector_cell_center_averaging_process.h
  applications/RANSApplication/custom_python/add_custom_auxiliary_processes_to_python.cpp
  applications/RANSApplication/python_scripts/cpp_process_factory.py
  applications/RANSApplication/tests/custom_process_tests.py
  applications/RANSApplication/tests/test_RANSApplication.py
Labels: Cleanup

#7070 [MeshingApplication] Adding clear which avoids errors in dofs
  applications/MeshingApplication/custom_processes/mmg_process.cpp
Labels: Applications, FastPR, Hotfix

#6939 Master - Updating version
  CMakeLists.txt
  kratos/CMakeLists.txt
Labels: After Release

#6704 [Core] Add CadIoModeler
  kratos/CMakeLists.txt
  kratos/includes/kratos_application.h
  kratos/modeler/cad_io_modeler.cpp
  kratos/modeler/cad_io_modeler.h
  kratos/sources/kratos_application.cpp
Labels: CAD Integration

#6910 [StatsApp] Temporal methods restart capability
  applications/StatisticsApplication/README.md
  applications/StatisticsApplication/custom_methods/temporal_max_method.h
  applications/StatisticsApplication/custom_methods/temporal_mean_method.h
  applications/StatisticsApplication/custom_methods/temporal_method.h
  applications/StatisticsApplication/custom_methods/temporal_min_method.h
  applications/StatisticsApplication/custom_methods/temporal_rms_method.h
  applications/StatisticsApplication/custom_methods/temporal_sum_method.h
  applications/StatisticsApplication/custom_methods/temporal_variance_method.h
  applications/StatisticsApplication/custom_python/add_custom_temporal_methods_to_python.cpp
  applications/StatisticsApplication/python_scripts/spatial_statistics_process.py
  applications/StatisticsApplication/python_scripts/spatial_utilities.py
  applications/StatisticsApplication/python_scripts/temporal_statistics_process.py
Labels: C++, Python

#7091 [Mapping] using static_assert instead of runtime check
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mpi/mapping_matrix_utilities_mpi.cpp
Labels: Applications, FastPR

#7092 [ShapeOpt] surface normal shape update response
  applications/ShapeOptimizationApplication/python_scripts/analyzer_internal.py
  applications/ShapeOptimizationApplication/python_scripts/response_functions/response_function_factory.py
  applications/ShapeOptimizationApplication/python_scripts/response_functions/surface_normal_shape_change.py
  applications/ShapeOptimizationApplication/tests/surface_normal_shape_change_response_test/test_surface_normal_shape_change_response.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Applications, Enhancement

#7093 [several apps] Removing python version checks
  applications/ConstitutiveModelsApplication/python_scripts/models_solver.py
  applications/DEMApplication/test_examples/DEM_run_all_benchmarks_analysis.py
  applications/DEMApplication/test_examples/DEM_run_all_benchmarks_grid.py
  applications/PfemFluidDynamicsApplication/python_scripts/assign_modulus_and_direction_to_conditions_process.py
  applications/PfemFluidDynamicsApplication/python_scripts/assign_scalar_to_nodes_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_modulus_and_direction_to_conditions_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_scalar_to_nodes_process.py
  applications/SolidMechanicsApplication/python_scripts/assign_vector_to_conditions_process.py
  applications/SolidMechanicsApplication/python_scripts/check_scalar_on_nodes_process.py
  applications/StructuralMechanicsApplication/python_scripts/element_sensitivity_domain_integration_process.py
  applications/SwimmingDEMApplication/test_examples/swimming_DEM_run_all_benchmarks.py
Labels: Applications, Cleanup, Deprecated, Python

#7101 [Fluid][Adjoint] clean tests
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_parameters.json
Labels: Applications, Cleanup, FastPR, Testing

#7100 Fix trilinos extension
  applications/FluidDynamicsApplication/trilinos_extension/CMakeLists.txt
Labels: FastPR, Parallel-MPI

#6879 [Fluid] Gear scheme clean up, rotation and rename
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/schemes/bdf2_turbulent_scheme.h
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_schemes_to_python.cpp
  applications/pfem_2_application/python_scripts/pfem_2_navier_stokes_monolithic_solver.py
Labels: API Breaker, Applications, Enhancement, Feature, Usability

#7103 [CI] activate MPI Fluid tests
  .github/workflows/ci.yml
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
  applications/RANSApplication/tests/test_RANSApplication.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: Continuous Integration, FastPR, Parallel-MPI, Testing

#7104 [Core][ModelPart] moving impl to cpp
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
Labels: Kratos Core, Refactor

#7105 [Core]ModelPart] const version of GetRootModelPart
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
Labels: Incomplete, Kratos Core

#7094 [StatApp] Getting ready statistics application for CI integration
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  applications/StatisticsApplication/custom_methods/spatial_methods.h
  applications/StatisticsApplication/custom_methods/temporal_max_method.h
  applications/StatisticsApplication/custom_methods/temporal_mean_method.h
  applications/StatisticsApplication/custom_methods/temporal_method.h
  applications/StatisticsApplication/custom_methods/temporal_methods.h
  applications/StatisticsApplication/custom_methods/temporal_min_method.h
  applications/StatisticsApplication/custom_methods/temporal_rms_method.h
  applications/StatisticsApplication/custom_methods/temporal_sum_method.h
  applications/StatisticsApplication/custom_methods/temporal_variance_method.h
  applications/StatisticsApplication/custom_utilities/method_utilities.cpp
  applications/StatisticsApplication/custom_utilities/method_utilities.h
  applications/StatisticsApplication/custom_utilities/temporal_method_utilities.h
  applications/StatisticsApplication/statistics_application.h
  applications/StatisticsApplication/tests/test_StatisticsApplication.py
Labels: Applications, Continuous Integration, Linux, Windows

#7057 [dem] Histogram with the number of neighbours is now optional
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/dem_default_input_parameters.py
Labels: FastPR

#7113 [Core] Adding kratos_api to geometry_utils
  kratos/utilities/geometry_utilities.cpp
  kratos/utilities/geometry_utilities.h
Labels: C++, FastPR, Kratos Core

#7112 [FEMDEM] Minor corrections
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.h
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/custom_utilities/constitutive_law_utilities.h
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/SolidMechanicsApplication/python_scripts/assign_scalar_to_nodes_process.py
Labels: FastPR

#6635 Adding Hyper-Reduction to RomApplication
  applications/RomApplication/custom_python/rom_python_application.cpp
  applications/RomApplication/custom_strategies/rom_builder_and_solver.h
  applications/RomApplication/custom_utilities/rom_residuals_utility.h
  applications/RomApplication/rom_application.cpp
  applications/RomApplication/rom_application_variables.cpp
  applications/RomApplication/rom_application_variables.h
  applications/RomApplication/tests/structural_dynamic_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/structural_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/structural_static_test_files/ElementsAndWeights.json
  applications/RomApplication/tests/structural_static_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/structural_static_test_files/ExpectedOutputHROM.npy
  applications/RomApplication/tests/structural_static_test_files/ExpectedOutputROM.npy
  applications/RomApplication/tests/structural_static_test_files/MainKratosHROM.py
  applications/RomApplication/tests/structural_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/structural_static_test_files/ProjectParametersHROM.json
  applications/RomApplication/tests/structural_static_test_files/ProjectParametersROM.json
  applications/RomApplication/tests/structural_static_test_files/StructuralMaterialsHROM.json
  applications/RomApplication/tests/structural_static_test_files/StructuralMaterialsROM.json
  applications/RomApplication/tests/structural_static_test_files/Structure_Static_2D_HyperReduced.mdpa
  applications/RomApplication/tests/structural_static_test_files/test_ROM.py
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/thermal_dynamic_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/thermal_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/thermal_static_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/thermal_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/thermal_static_test_files/RomParameters.json
  applications/RomApplication/tests/thermal_static_test_files/Square_Radiation_Stationary.mdpa
  applications/RomApplication/tests/thermal_static_test_files/test_ROM.py
Labels: ROM

#7119 [Structure][Hotfix] Mixed u-eps serialization fix
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
Labels: Applications, Bug, Bugfix, FastPR, Hotfix

#7089 Compute Nodal (Normal) Divergence Process
  kratos/CMakeLists.txt
  kratos/processes/compute_nodal_normal_divergence_process.cpp
  kratos/processes/compute_nodal_normal_divergence_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/three_dim_symmetrical_cube.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/two_dim_symmetrical_square.mdpa
  kratos/tests/test_compute_nodal_divergence.py
Labels: Enhancement, Kratos Core

#7106 [Pybind] Try to remove clang Wunused-value warning
  external_libraries/pybind11/pybind11.h
Labels: C++, Clang, External library

#7114 [CI] Add statistics application
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  .github/workflows/nightly_build.yml
Labels: Applications, Continuous Integration, Testing

#7045 [MPM] Neighbour search
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/mpm_explicit_solver.py
  kratos/utilities/quadrature_points_utility.h
Labels: Enhancement

#7124 [Stats] Adding JSON examples
  applications/StatisticsApplication/README.md
Labels: FastPR, Usability

#7062 [Core] Transition to fix #7052
  kratos/CMakeLists.txt
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_normal_utils.py
  kratos/utilities/normal_calculation_utils.cpp
  kratos/utilities/normal_calculation_utils.h
Labels: Kratos Core, Refactor, Testing, Transition

#7133 [Typo] Typo in subproperties check
  kratos/tests/cpp_tests/containers/test_properties.cpp
Labels: FastPR, Kratos Core, Typo

#7136 [Core] Adding missing geometries to python
  kratos/python/add_geometries_to_python.cpp
Labels: FastPR, Kratos Core, Python

#7134 [Core] Extend KRATOS_COMPILED_IN_WINDOWS definition
  kratos/includes/define.h
Labels: Enhancement, FastPR, Kratos Core

#7146 [Core] Add distribute variable method to variable utils
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: C++, Kratos Core, Python

#7140 [Core] Add CSV file comparison for compare_two_files_process
  kratos/python_scripts/compare_two_files_check_process.py
Labels: FastPR, Python

#7107 [Core] Avoid MPI race condition in compare_two_files_check_process
  kratos/python_scripts/compare_two_files_check_process.py
Labels: Kratos Core, Parallel-MPI, Python, Testing

#7139 EigenSolvers: Fix legacy Fortran compilation
  applications/EigenSolversApplication/external_libraries/FEAST/CMakeLists.txt
Labels: Applications, FastPR

#7152 [Mapping] CMakelists - fix path when including kratos from other directory
  applications/MappingApplication/CMakeLists.txt
Labels: FastPR

#7151 [MeshingApplication][MMG] Add option to specify mmg prefix
  applications/MeshingApplication/CMakeLists.txt
Labels: Compilation

#7160 [FEMDEM] Adding RoM element and minor improvements
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/FemToDemApplication.py
  applications/FemToDemApplication/custom_elements/femdem3d_hexahedron_element.cpp
  applications/FemToDemApplication/custom_elements/femdem3d_hexahedron_element.hpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.h
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_mixtures_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_mixtures_femdem_element.hpp
  applications/FemToDemApplication/custom_elements/romfemdem3d_element.cpp
  applications/FemToDemApplication/custom_elements/romfemdem3d_element.hpp
  applications/FemToDemApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/custom_utilities/FEMDEM_coupling_utilities.cpp
  applications/FemToDemApplication/custom_utilities/FEMDEM_coupling_utilities.h
  applications/FemToDemApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/FemToDemApplication/custom_utilities/constitutive_law_utilities.h
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.h
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/MainFEM_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/fem_dem_coupled_gid_output.py
Labels: Applications

#7158 [Fluid] Two fluid wall condition
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/two_fluid_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/two_fluid_navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
Labels: Applications, Bugfix, Enhancement

#7156 Updating deprecated timers in PFEM
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_check_and_prepare_model_process_fluid.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_dynamics_analysis.py
Labels: Bug, Deprecated
