Repository KratosMultiphysics/Kratos, pull requests merged in 2020-11, with the labels that each got.

#7690 [MPICore] distributed-importer: adding missing import_flags
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
Labels: FastPR, Hotfix, Kratos Core, Parallel-MPI

#7718 [Core][ModelPartIO] add error for WriteMode
  kratos/sources/model_part_io.cpp
Labels: FastPR, Kratos Core, Usability

#7717 [CoSim] improve data comm to ext solvers
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_convergence_accelerator.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_convergence_criteria.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupling_operation.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_data_transfer_operator.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_io.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_predictor.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/cpp_ping_pong/ping_pong_wrapper.py
  applications/CoSimulationApplication/tests/ping_pong_test/cosim_ping_pong_parameters.json
  applications/CoSimulationApplication/tests/test_ping_pong_coupling.py
Labels: Applications, Behaviour Change, Bugfix, Usability

#7647 [MPICore] write partitioned files in folder
  kratos/CMakeLists.txt
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
  kratos/mpi/tests/test_mpi_communicator.py
  kratos/mpi/tests/test_neighbours.py
  kratos/mpi/tests/test_nodal_elemental_neighbours.py
  kratos/python_scripts/testing/utilities.py
  kratos/sources/model_part_io.cpp
Labels: Behaviour Change, Kratos Core, Parallel-MPI, Usability

#7720 [dem] Removing -fpermissive flag
  applications/DemStructuresCouplingApplication/CMakeLists.txt
Labels: C++, CMake, Compilation, FastPR

#7722 [ModelpartIO] append mode is also allowed for writing
  kratos/sources/model_part_io.cpp
Labels: Bugfix, FastPR, Kratos Core

#7708 Fixing windows RANS compilation
  .github/workflows/configure.cmd
  applications/RANSApplication/custom_processes/rans_line_output_process.cpp
  applications/RANSApplication/custom_processes/rans_line_output_process.h
  applications/RANSApplication/custom_utilities/rans_variable_difference_norm_calculation_utility.h
  applications/RANSApplication/custom_utilities/test_utilities.cpp
  applications/RANSApplication/custom_utilities/test_utilities.h
Labels: Applications, Hotfix, Windows

#4897 [Core] Variational Distance Calculation Process Variable Lists
  kratos/processes/variational_distance_calculation_process.h
Labels: C++, Kratos Core, Warning

#7731 [MLMC] Improve readme
  applications/MultilevelMonteCarloApplication/README.md
Labels: Documentation, FastPR

#7729 [DEM] moved variable to globals
  applications/DEMApplication/python_scripts/DEM_procedures.py
Labels: FastPR, Post Process

#7732 [ContactStructuralMechanicsApplication] Moving slow tests to validation
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, FastPR, Refactor, Testing

#7723 [Poro] Updating problemtype for GiD15
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.cnd
Labels: Applications

#7733 Correction of the PFEM2 Compilation Errors
  applications/pfem_2_application/custom_python/add_custom_strategies_to_python.cpp
  applications/pfem_2_application/custom_strategies/explicit_strategy.h
Labels: Bugfix

#7736 [dem] fix problem with 2d post-process
  applications/DEMApplication/python_scripts/DEM_procedures.py
Labels: FastPR, Post Process, Python

#7740 [Shallow] BDF scheme
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.h
  applications/ShallowWaterApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_strategies/shallow_water_residual_based_bdf_scheme.h
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/stabilized_shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/elements_tests/lagrangian_swe_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/shallow_water_2d_3n_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/shallow_water_2d_3n_reference.json
  applications/ShallowWaterApplication/tests/elements_tests/swe_parameters.json
Labels: Feature

#7744 Fixing install problem with spaces
  cmake_modules/install_function.cmake
Labels: Bugfix, CMake, FastPR

#7749 [Shallow] Slip conditions
  applications/ShallowWaterApplication/custom_strategies/shallow_water_residual_based_bdf_scheme.h
  applications/ShallowWaterApplication/custom_utilities/flow_rate_slip_utility.h
  applications/ShallowWaterApplication/python_scripts/apply_slip_process.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
Labels: Feature

#7750 Shallow/problemtype
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ProjectParameters.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.cnd
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.prb
Labels: Bugfix

#7756 [PotentialFlow] adding some const
  applications/CompressiblePotentialFlowApplication/custom_conditions/adjoint_potential_wall_condition.cpp
  applications/CompressiblePotentialFlowApplication/custom_conditions/adjoint_potential_wall_condition.h
  applications/CompressiblePotentialFlowApplication/custom_conditions/potential_wall_condition.cpp
  applications/CompressiblePotentialFlowApplication/custom_conditions/potential_wall_condition.h
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_perturbation_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/compressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_perturbation_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/incompressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/transonic_perturbation_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/transonic_perturbation_potential_flow_element.h
Labels: Applications, Deprecated, FastPR

#7755 [Particle] adding some const
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_base_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_base_load_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_condition.h
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.hpp
Labels: Applications, Deprecated, FastPR

#7758 fixing consts
  applications/ConvectionDiffusionApplication/custom_conditions/adjoint_thermal_face.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/adjoint_thermal_face.h
  applications/ConvectionDiffusionApplication/custom_conditions/flux_condition.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/flux_condition.h
  applications/ConvectionDiffusionApplication/custom_conditions/thermal_face.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/thermal_face.h
  applications/ConvectionDiffusionApplication/custom_elements/adjoint_diffusion_element.cpp
  applications/ConvectionDiffusionApplication/custom_elements/adjoint_diffusion_element.h
  applications/ConvectionDiffusionApplication/custom_elements/conv_diff_2d.cpp
  applications/ConvectionDiffusionApplication/custom_elements/conv_diff_2d.h
  applications/ConvectionDiffusionApplication/custom_elements/conv_diff_3d.cpp
  applications/ConvectionDiffusionApplication/custom_elements/conv_diff_3d.h
  applications/ConvectionDiffusionApplication/custom_elements/conv_diff_change_of_phase_2d.cpp
  applications/ConvectionDiffusionApplication/custom_elements/conv_diff_change_of_phase_2d.h
  applications/ConvectionDiffusionApplication/custom_elements/eulerian_conv_diff.cpp
  applications/ConvectionDiffusionApplication/custom_elements/eulerian_conv_diff.h
  applications/ConvectionDiffusionApplication/custom_elements/eulerian_diff.h
  applications/ConvectionDiffusionApplication/custom_elements/laplacian_element.cpp
  applications/ConvectionDiffusionApplication/custom_elements/laplacian_element.h
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/residualbased_convdiff_strategy.h
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/residualbased_convdiff_strategy_nonlinear.h
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_conv_diff.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_diff.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_laplacian_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_thermal_face.cpp
Labels: Cleanup

#7719 [Mapping][CouplingGeomMapper] move CTor to cpp and add validation
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
Labels: Applications, Incomplete

#7764 [Structural][Adjoint] removed deprecated functions
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
Labels: Applications, Deprecated, FastPR

#7766 [CoSim] making tests run
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
Labels: Applications, FastPR, Hotfix, Testing

#7767 [CI] Adding MMG and ParMmg lib to env variable.
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: FastPR

#7760 [Core][Element/Condition] removing old version of AddExplicitContribution
  applications/ContactMechanicsApplication/custom_conditions/beam_contact/beam_point_pressure_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/beam_contact/beam_point_pressure_condition.hpp
  applications/ContactMechanicsApplication/custom_conditions/beam_contact/beam_point_rigid_contact_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/beam_contact/beam_point_rigid_contact_condition.hpp
  applications/ContactMechanicsApplication/custom_conditions/deformable_contact/contact_domain_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/deformable_contact/contact_domain_condition.hpp
  applications/ContactMechanicsApplication/custom_conditions/rigid_contact/point_rigid_contact_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/rigid_contact/point_rigid_contact_condition.hpp
  applications/ContactMechanicsApplication/custom_conditions/rigid_contact/rigid_body_point_rigid_contact_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/rigid_contact/rigid_body_point_rigid_contact_condition.hpp
  applications/ContactMechanicsApplication/custom_elements/rigid_body_element.cpp
  applications/ContactMechanicsApplication/custom_elements/rigid_body_element.hpp
  applications/DEMApplication/custom_conditions/dem_wall.cpp
  applications/DEMApplication/custom_conditions/dem_wall.h
  applications/DEMApplication/custom_conditions/mapping_condition.cpp
  applications/DEMApplication/custom_conditions/mapping_condition.h
  applications/FemToDemApplication/custom_elements/base_solid_element.cpp
  applications/FemToDemApplication/custom_elements/base_solid_element.h
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_base_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_base_load_condition.h
  applications/PfemApplication/custom_elements/fluid_elements/fluid_element.cpp
  applications/PfemApplication/custom_elements/fluid_elements/fluid_element.hpp
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_element.h
  applications/SolidMechanicsApplication/custom_conditions/boundary_condition.cpp
  applications/SolidMechanicsApplication/custom_conditions/boundary_condition.hpp
  applications/SolidMechanicsApplication/custom_conditions/moment_conditions/moment_condition.cpp
  applications/SolidMechanicsApplication/custom_conditions/moment_conditions/moment_condition.hpp
  applications/SolidMechanicsApplication/custom_elements/beam_elements/beam_element.cpp
  applications/SolidMechanicsApplication/custom_elements/beam_elements/beam_element.hpp
  applications/SolidMechanicsApplication/custom_elements/beam_elements/large_displacement_beam_semc_element.cpp
  applications/SolidMechanicsApplication/custom_elements/beam_elements/large_displacement_beam_semc_element.hpp
  applications/SolidMechanicsApplication/custom_elements/solid_elements/linear_solid_element.cpp
  applications/SolidMechanicsApplication/custom_elements/solid_elements/linear_solid_element.hpp
  applications/SolidMechanicsApplication/custom_elements/solid_elements/solid_element.cpp
  applications/SolidMechanicsApplication/custom_elements/solid_elements/solid_element.hpp
  kratos/includes/condition.h
  kratos/includes/element.h
Labels: API Breaker, Applications, Cleanup, Deprecated, Kratos Core

#7759 [Core][Element/Condition/Scheme] removing CleanMemory
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_block_builder_and_solver.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver_for_FSI.h
  applications/RomApplication/custom_strategies/rom_builder_and_solver.h
  applications/RomApplication/custom_utilities/rom_residuals_utility.h
  applications/SolidMechanicsApplication/custom_elements/shell_elements/shell_thick_element_3D4N.cpp
  applications/SolidMechanicsApplication/custom_elements/shell_elements/shell_thick_element_3D4N.hpp
  applications/SolidMechanicsApplication/custom_elements/shell_elements/shell_thin_element_3D3N.cpp
  applications/SolidMechanicsApplication/custom_elements/shell_elements/shell_thin_element_3D3N.hpp
  applications/SolidMechanicsApplication/custom_solvers/solution_builders_and_solvers/explicit_hamilton_builder_and_solver.hpp
  applications/SolidMechanicsApplication/custom_solvers/solution_schemes/solution_scheme.hpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_elimination_builder_and_solver.h
  applications/ULFapplication/custom_strategies/builder_and_solvers/residualbased_elimination_quasiincompresible_builder_and_solver.h
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/solving_strategies/schemes/scheme.h
Labels: API Breaker, Applications, Cleanup, Deprecated, Kratos Core

#7769 [CoSim] specify sparse qr solver in tests
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/ProjectParametersA.json
  applications/CoSimulationApplication/tests/fem_fem/small_2d_plate/ProjectParametersB.json
Labels: Applications, FastPR, Hotfix, Testing

#7773 [CI] Remove env variables from dockerfile and compile mmg in custom folder
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: Continuous Integration

#7347 [Core,Metis] New process to do partition of a list of submodelparts
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.h
  applications/MetisApplication/custom_processes/metis_divide_submodelparts_heterogeneous_input_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_submodelparts_heterogeneous_input_process.h
  applications/MetisApplication/custom_python/add_processes_to_python.cpp
  applications/MetisApplication/tests/cube.mdpa
  applications/MetisApplication/tests/test_MetisApplication.py
  applications/MetisApplication/tests/test_metis_submodelpart_list.py
  kratos/includes/io.h
  kratos/includes/model_part_io.h
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
  kratos/python_scripts/testing/utilities.py
  kratos/sources/model_part_io.cpp
Labels: Parallel-MPI

#7752 [Core] Add MPI support to assign unique color utility
  kratos/mpi/tests/sources/test_mpi_assign_unique_model_part_collection_tag_utility.cpp
  kratos/utilities/assign_unique_model_part_collection_tag_utility.cpp
  kratos/utilities/assign_unique_model_part_collection_tag_utility.h
Labels: Parallel-MPI

#7781 [CI] Avoid scotch on mmg installations
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: Continuous Integration, External library

#7779 [SMA] Correcting CL tests
  applications/StructuralMechanicsApplication/tests/cl_test/SmallDeformationPlasticity/small_deformation_plasticity_test_results.json
Labels: FastPR, Testing

#7787 missing include in applicaiton template
  kratos/templates/template_application/template_application_variables.h.in
Labels: Hotfix

#7777 [CoSim] moving more tests to validation suite
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
Labels: Applications, FastPR, Testing

#7636 [Core] Add file name information collector
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_file_name_data_collector.py
  kratos/utilities/file_name_data_collector.cpp
  kratos/utilities/file_name_data_collector.h
Labels: Kratos Core

#7496 [RANS] Using ParallelLevelSetDistanceCalculator in Bodyfitted Domain DISTANCE Calculation
  applications/RANSApplication/custom_processes/rans_wall_distance_calculation_process.cpp
  applications/RANSApplication/custom_processes/rans_wall_distance_calculation_process.h
  applications/RANSApplication/python_scripts/cpp_process_factory.py
  applications/RANSApplication/python_scripts/formulations/turbulence_models/k_omega_sst_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/utilities.py
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_algebraic_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_algebraic_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_bdf2_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_bdf2_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_fractional_step_k_omega_sst_parameters.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_bossak_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_bossak_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_steady_test_results.json
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_monolithic_k_omega_sst_parameters.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_turbulent_kinetic_energy_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_algebraic_flux_corrected_velocity_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_turbulent_kinetic_energy_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_flow_field_residual_based_flux_corrected_velocity_based_test_results.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_monolithic_k_omega_sst_parameters.json
  applications/RANSApplication/tests/custom_process_tests.py
  applications/RANSApplication/tests/process_tests_data/wall_distance_calculation_test_output_ref.json
  applications/RANSApplication/trilinos_extension/CMakeLists.txt
  applications/RANSApplication/trilinos_extension/custom_processes/rans_trilinos_wall_distance_calculation_process.cpp
  applications/RANSApplication/trilinos_extension/custom_processes/rans_trilinos_wall_distance_calculation_process.h
  applications/RANSApplication/trilinos_extension/custom_python/add_trilinos_processes_to_python.cpp
  applications/RANSApplication/trilinos_extension/custom_python/add_trilinos_processes_to_python.h
  applications/RANSApplication/trilinos_extension/custom_python/rans_trilinos_extension.cpp
Labels: Applications, C++

#7783 [Mapper] add option for user specified row sum tolerance
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.h
Labels: FastPR

#7791 [Shallow] missing const
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.h
  applications/ShallowWaterApplication/custom_elements/swe.cpp
  applications/ShallowWaterApplication/custom_elements/swe.h
  applications/ShallowWaterApplication/custom_strategies/shallow_water_residual_based_bdf_scheme.h
  applications/ShallowWaterApplication/custom_utilities/algebraic_flux_correction_utility.cpp
Labels: FastPR

#7725 [Core] remove now unnecessary check until macro is removed everywhere
  kratos/includes/checks.h
Labels: Cleanup, Deprecated, Kratos Core

#7793 [CI] Add mmg to nightly
  .github/workflows/nightly_build.yml
Labels: Compilation, Continuous Integration

#7753 [Fluid] Correcting DistanceSmoothingProcess
  applications/FluidDynamicsApplication/custom_elements/distance_smoothing_element.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.h
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/tests/distance_smoothing_test.py
Labels: Applications, FastPR

#7706 [ExaQUte] Add perturbation divergence free initial condition process
  applications/ExaquteSandboxApplication/custom_python/exaqute_sandbox_python_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.h
  applications/ExaquteSandboxApplication/python_scripts/GenerateCN.py
  applications/ExaquteSandboxApplication/python_scripts/kratos_perturbation_process.py
  applications/ExaquteSandboxApplication/python_scripts/projection_utilities.py
  applications/ExaquteSandboxApplication/tests/test_ExaquteSandboxApplication.py
  applications/ExaquteSandboxApplication/tests/test_perturbation_initial_conditions.py
  applications/ExaquteSandboxApplication/tests/test_perturbation_initial_conditions/RectangularCylinder2D_81nodes.mdpa
  applications/ExaquteSandboxApplication/tests/test_perturbation_initial_conditions/average_velocity_field_RectangularCylinder_81nodes.dat
  applications/ExaquteSandboxApplication/tests/test_perturbation_initial_conditions/materials_poisson_rectangle_2d.json
  applications/ExaquteSandboxApplication/tests/test_perturbation_initial_conditions/parameters_poisson_rectangle_2d.json
Labels: Applications, Python, Testing

#7746 [Exaqute] Add two application variables
  applications/ExaquteSandboxApplication/custom_python/exaqute_sandbox_python_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.h
Labels: Applications, FastPR

#7789 [Poro] Deleted custom_problemtype folder from PoroApp
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/FracturePropagation2D.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/FracturePropagation2DAuxProcs.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/FracturePropagation3D.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/FracturePropagation3DAuxProcs.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/KratosPoromechanics.py
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Mdpa.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/MdpaAuxProcs.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/PoroMaterials.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.bas
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.cnd
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.prb
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.unix.bat
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/Poromechanics_Application.win.bat
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/ProjectParameters.tcl
  applications/PoromechanicsApplication/custom_problemtype/Poromechanics_Application.gid/ProjectParametersAuxProcs.tcl
Labels: Applications, Cleanup

#7784 [Core] Remove KRATOS_ERRORs to allow for mixed dimension couplings (eg. point on a line)
  kratos/geometries/coupling_geometry.h
Labels: CAD Integration, FastPR, Tobis Branch

#7711 [dem] [sdem] Update KRATOS_THROW_ERROR to newer syntax
  applications/DEMApplication/custom_conditions/dem_wall.cpp
  applications/DEMApplication/custom_constitutive/DEM_continuum_constitutive_law.cpp
  applications/DEMApplication/custom_constitutive/DEM_continuum_constitutive_law.h
  applications/DEMApplication/custom_constitutive/DEM_discontinuum_constitutive_law.cpp
  applications/DEMApplication/custom_elements/cluster3D.cpp
  applications/DEMApplication/custom_elements/custom_clusters/singlespherecluster3D.cpp
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_strategies/schemes/dem_integration_scheme.cpp
  applications/DEMApplication/custom_strategies/schemes/quaternion_integration_scheme.cpp
  applications/DEMApplication/custom_strategies/schemes/runge_kutta_scheme.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.h
  applications/DEMApplication/custom_utilities/calculate_global_physical_properties.h
  applications/DEMApplication/custom_utilities/create_and_destroy.cpp
  applications/DEMApplication/custom_utilities/inlet.cpp
  applications/DEMApplication/custom_utilities/post_utilities.h
  applications/DEMApplication/custom_utilities/search_utilities.h
  applications/SwimmingDEMApplication/custom_constitutive/rotation_induced_lift_laws/oesterle_dinh_lift_law.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_component_gradient_simplex_element.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012_edge.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_laplacian_simplex_element.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_mat_deriv_simplex_element.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian_component.cpp
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled.h
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.h
  applications/SwimmingDEMApplication/custom_elements/shell_rigid.cpp
  applications/SwimmingDEMApplication/custom_utilities/basset_force_tools.cpp
  applications/SwimmingDEMApplication/custom_utilities/custom_functions.h
  applications/SwimmingDEMApplication/custom_utilities/derivative_recovery.cpp
  applications/SwimmingDEMApplication/custom_utilities/fields/cellular_flow_field.cpp
  applications/SwimmingDEMApplication/custom_utilities/fields/cellular_flow_partial_derivatives.cpp
  applications/SwimmingDEMApplication/custom_utilities/fields/product_of_sines_field.h
  applications/SwimmingDEMApplication/custom_utilities/fields/sets/space_time_rule.h
  applications/SwimmingDEMApplication/custom_utilities/mollification/density_function_polynomial.h
  applications/SwimmingDEMApplication/custom_utilities/search/mpi_neighbours_calculator.h
  applications/SwimmingDEMApplication/custom_utilities/volume_averaging_tool.h
Labels: C++, Cleanup

#7700 [MLMC] Update XMC: add vector field estimators
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/example_cmlmc.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_amc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/run_mc_Kratos.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/examples/run_mlmc_Kratos.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/KratosSolverWrapper.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/methodDefs_KratosSolverWrapper/solve.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/problemDefs_KratosMultiphysics/poisson_2d/simulation_definition.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/distributedEnvironmentFramework.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/hierarchyOptimiser.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/localEnvironment.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_estimationAssembler/assembleEstimation.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/hStatistics.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/powerSums.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_monteCarloIndex/updateEstimators.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_monteCarloSampler/asynchronousUpdateGlobalEstimators.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_xmcAlgorithm/checkInitialisation.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/momentEstimator.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monteCarloIndex.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monteCarloSampler.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/sampleGenerator.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/statisticalEstimator.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/tools.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/xmcAlgorithm.py
  applications/MultilevelMonteCarloApplication/tests/momentEstimatorTests.py
  applications/MultilevelMonteCarloApplication/tests/parallel-only_tests.py
  applications/MultilevelMonteCarloApplication/tests/parameters/multi-moment_test_data.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_test_combinedMomentEstimator.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_10_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums_multi.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_xmc_test_mlmc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/parameters/poisson_multi-moment_mc.json
  applications/MultilevelMonteCarloApplication/tests/parameters/poisson_multi-moment_mlmc.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d_xmc/problem_settings/parameters_finer.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d_xmc/simulation_definition.py
  applications/MultilevelMonteCarloApplication/tests/test_MultilevelMonteCarloApplication.py
  applications/MultilevelMonteCarloApplication/tests/test_momentEstimator.py
  applications/MultilevelMonteCarloApplication/tests/test_runcompss.sh
  applications/MultilevelMonteCarloApplication/tests/test_tools.py
  applications/MultilevelMonteCarloApplication/tests/test_xmcAlgorithm.py
Labels: Applications, External library, Python, Testing

#7798 [ParticleMechanics] adding more const
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_base_load_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/grid_based_conditions/mpm_grid_base_load_condition.h
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_condition.cpp
  applications/ParticleMechanicsApplication/custom_conditions/particle_based_conditions/mpm_particle_base_condition.h
Labels: Applications, Deprecated, FastPR

#7803 [Core] missing include
  kratos/utilities/file_name_data_collector.cpp
Labels: Compilation, Hotfix, Kratos Core, Windows

#7801 some missing const in IgaApp
  applications/IgaApplication/custom_conditions/load_condition.cpp
  applications/IgaApplication/custom_conditions/load_condition.h
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.cpp
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.h
  applications/IgaApplication/custom_elements/shell_3p_element.cpp
  applications/IgaApplication/custom_elements/shell_3p_element.h
  applications/IgaApplication/tests/cpp_tests/test_iga_shell_3p.cpp
  applications/IgaApplication/tests/cpp_tests/test_iga_shell_3p_Scordelis_roof.cpp
Labels: Applications, Deprecated, FastPR

#7802 [DEM] minor changes for #7381
  applications/DEMApplication/custom_elements/Particle_Contact_Element.cpp
  applications/DEMApplication/custom_elements/Particle_Contact_Element.h
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
Labels: Applications, Deprecated, FastPR

#7797 [Mapping] correct coupling geom KRATOS_ERRORs
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
Labels: FastPR

#7795 [Core] Additional Remove KRATOS_ERRORs to allow for mixed dimension couplings (eg. point on a line)
  kratos/geometries/coupling_geometry.h
Labels: FastPR

#7751 [dem] New beam element and beam CL
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application.h
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_constitutive/DEM_beam_constitutive_law.cpp
  applications/DEMApplication/custom_constitutive/DEM_beam_constitutive_law.h
  applications/DEMApplication/custom_constitutive/DEM_continuum_constitutive_law.h
  applications/DEMApplication/custom_elements/beam_particle.cpp
  applications/DEMApplication/custom_elements/beam_particle.h
  applications/DEMApplication/custom_elements/cluster3D.cpp
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_elements/spheric_continuum_particle.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/DEMApplication/python_scripts/DEM_procedures.py
Labels: API Breaker, Applications, Feature

#7804 [Structural] using new ctor
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_complex_orientation_mpc.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_element.cpp
Labels: Applications, Deprecated, FastPR

#7710 [ConvDiff] New semiimplicit solver
  applications/ConvectionDiffusionApplication/custom_elements/eulerian_diff.h
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_semi_eulerian_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/python_solvers_wrapper_convection_diffusion.py
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_transient_semi_implicit_parameters.json
  applications/ConvectionDiffusionApplication/tests/convection_diffusion_test_factory.py
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_diff.cpp
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_bar/project_parameters_bar_semi_implicit.json
Labels: Applications, Feature

#7697 [Core][LockObject] deleting Copy- & MoveCtor and Assignment Operator
  kratos/includes/chunk.h
  kratos/includes/lock_object.h
Labels: Kratos Core, Parallel-OMP

#7799 [Core[Element/Condition] removing GetValuesVec, 7381
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled.cpp
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled.h
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.cpp
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.h
  applications/SwimmingDEMApplication/custom_elements/shell_rigid.cpp
  applications/SwimmingDEMApplication/custom_elements/shell_rigid.h
  kratos/includes/condition.h
  kratos/includes/element.h
Labels: API Breaker, Cleanup, Deprecated, FastPR, Kratos Core

#7815 [FastPR][PotFlow] Const check warnings
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_compressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_compressible_potential_flow_element.h
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_incompressible_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_incompressible_potential_flow_element.h
Labels: Applications, FastPR, Warning

#7792 [Fluid] Discontinuous embedded element and NS condition drag calculation improvements
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_drag_utils.cpp
Labels: Applications, Enhancement

#7819 [RANS] Make apply_wall_function_process to be used in restart
  applications/RANSApplication/python_scripts/apply_wall_function_process.py
Labels: Applications, Python

#7820 Structural/clean tests
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/ProjectParameters.json
  applications/StructuralMechanicsApplication/tests/beam_test/linear_3D2NBeamCr_test_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp/patch_test_2D_shear_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/patch_test/total_lagrangian/patch_test_2D_shear_qua_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_max_stress_primal_parameters.json
  applications/StructuralMechanicsApplication/tests/test_custom_scipy_base_solver.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_with_constraints.py
  applications/StructuralMechanicsApplication/tests/test_quadratic_elements.py
  applications/StructuralMechanicsApplication/tests/truss_test/dynamic_3D2NTruss_test_parameters.json
  applications/StructuralMechanicsApplication/tests/truss_test/linear_3D2NTruss_plastic_compression_test_parameters.json
Labels: Applications, Cleanup, Deprecated, FastPR, Testing

#7822 [FastPR][Fluid] Remove ExternalSolversApplication leftovers
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedAusasCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedAusasDevelopmentCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette2DTest/EmbeddedDevelopmentCouette2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedAusasCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedAusasDevelopmentCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouette3DTest/EmbeddedDevelopmentCouette3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouetteImposed2DTest/EmbeddedCouetteImposed2DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedCouetteImposed3DTest/EmbeddedCouetteImposed3DTestParameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirTest/EmbeddedReservoir2DTest_parameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirTest/EmbeddedReservoir3DTest_parameters.json
  applications/FluidDynamicsApplication/tests/EmbeddedVelocityInletEmulationTest/EmbeddedVelocityInletEmulationTest.json
  applications/FluidDynamicsApplication/tests/ManufacturedSolutionTest/ManufacturedSolutionTestParameters.json
  applications/FluidDynamicsApplication/tests/NavierStokesWallConditionTest/NavierStokesWallConditionTestParameters.json
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest2D.json
  applications/FluidDynamicsApplication/tests/TwoFluidStaticPoolTest/TwoFluidStaticPoolTest3D.json
  applications/FluidDynamicsApplication/tests/adjoint_fluid_test.py
  applications/FluidDynamicsApplication/tests/buoyancy_test.py
  applications/FluidDynamicsApplication/tests/embedded_couette_imposed_test.py
  applications/FluidDynamicsApplication/tests/embedded_couette_test.py
  applications/FluidDynamicsApplication/tests/embedded_piston_test.py
  applications/FluidDynamicsApplication/tests/embedded_reservoir_test.py
  applications/FluidDynamicsApplication/tests/embedded_velocity_inlet_emulation_test.py
  applications/FluidDynamicsApplication/tests/manufactured_solution_test.py
  applications/FluidDynamicsApplication/tests/navier_stokes_wall_condition_test.py
  applications/FluidDynamicsApplication/tests/two_fluid_hydrostatic_pool_test.py
  applications/FluidDynamicsApplication/tests/two_fluid_mass_conservation_test.py
Labels: Applications, Deprecated, FastPR, Testing

#7823 [Delaunay App] NOW compiling -> Was broken
  applications/DelaunayMeshingApplication/custom_conditions/composite_condition.cpp
  applications/DelaunayMeshingApplication/custom_conditions/composite_condition.hpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.cpp
  applications/FemToDemApplication/custom_elements/generic_small_strain_femdem_element.hpp
Labels: Applications, Compilation, FastPR

#7796 [MPM] pqmpm updates and separation into separate utilities
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
  applications/ParticleMechanicsApplication/custom_utilities/pqmpm_partition_utilities.cpp
  applications/ParticleMechanicsApplication/custom_utilities/pqmpm_partition_utilities.h
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_search_element_utility.cpp
Labels: Cleanup

#7825 [FastPR][MeshMoving] FM-ALE iterator copy warning fix
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
Labels: Applications, FastPR, Warning

#7537 [ConvDiff] Clean up python scripts
  applications/ConvectionDiffusionApplication/python_scripts/bfecc_convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_base_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_explicit_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_semi_eulerian_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_transient_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/eulerian_convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/kratos_main_convection_diffusion.py
  applications/ConvectionDiffusionApplication/python_scripts/laplacian_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/laplacian_solver_newformat.py
  applications/ConvectionDiffusionApplication/python_scripts/nonlinear_convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/pfem2_convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/pure_convection_solver.py
  applications/ConvectionDiffusionApplication/tests/SourceTermTest/SourceTermTestMaterials.json
  applications/ConvectionDiffusionApplication/tests/SourceTermTest/SourceTermTestProjectParameters.json
  applications/ConvectionDiffusionApplication/tests/SourceTermTest/source_test.mdpa
  applications/ConvectionDiffusionApplication/tests/adjoint_diffusion_test/ProjectParametersAdjoint.json
  applications/ConvectionDiffusionApplication/tests/adjoint_diffusion_test/ProjectParametersConvectionConditionAdjoint.json
  applications/ConvectionDiffusionApplication/tests/adjoint_diffusion_test/ProjectParametersConvectionConditionPrimal.json
  applications/ConvectionDiffusionApplication/tests/adjoint_diffusion_test/ProjectParametersPrimal.json
  applications/ConvectionDiffusionApplication/tests/adjoint_diffusion_test/ProjectParametersRadiationAdjoint.json
  applications/ConvectionDiffusionApplication/tests/adjoint_diffusion_test/ProjectParametersRadiationPrimal.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_transient_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_transient_semi_implicit_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/source_term_test.py
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/coupled_problem_test_parameters.json
Labels: Applications, Bugfix, Cleanup, Deprecated, Legacy

#7816 [Structural] moving slow test
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: Applications, FastPR, Hotfix, Testing

#7745 [Fluid-Sdem] qsvms dem coupled revision
  applications/FluidDynamicsApplication/custom_elements/qs_vms_dem_coupled.cpp
  applications/FluidDynamicsApplication/custom_utilities/qsvms_dem_coupled_data.h
  applications/SwimmingDEMApplication/custom_processes/spatial_dependant_porosity_solution_body_force_process.cpp
  applications/SwimmingDEMApplication/custom_processes/transient_spatial_dependant_porosity_solution_body_force_process.cpp
  applications/SwimmingDEMApplication/custom_processes/transient_spatial_dependant_porosity_solution_body_force_process.h
  applications/SwimmingDEMApplication/custom_python/add_custom_processes_to_python.cpp
  applications/SwimmingDEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/SwimmingDEMApplication/custom_utilities/L2_error_calculator_utility.h
  applications/SwimmingDEMApplication/python_scripts/L2_error_calculator_utility.py
  applications/SwimmingDEMApplication/python_scripts/apply_spatial_dependant_porosity_solution_body_force_process.py
  applications/SwimmingDEMApplication/python_scripts/fluid_fraction_test_analysis.py
  applications/SwimmingDEMApplication/python_scripts/fluid_fraction_test_solver.py
  applications/SwimmingDEMApplication/python_scripts/hdf5_script.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_solver.py
  applications/SwimmingDEMApplication/python_scripts/swimming_dem_default_input_parameters.py
Labels: Applications, Feature

#7805 [Core] TimeBasedAsciiFileWriterUtility: Cleanup using pathlib Python library
  kratos/python_scripts/time_based_ascii_file_writer_utility.py
Labels: Kratos Core, Python

#7391 [Core] add len to matrix in python
  kratos/python/add_matrix_to_python.cpp
  kratos/tests/test_matrix_interface.py
Labels: Enhancement, Kratos Core, Python

#7618 [HDF5] Adding max files to keep
  applications/HDF5Application/README.md
  applications/HDF5Application/python_scripts/core/file_io.py
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_xdmf_output_process.py
  applications/HDF5Application/python_scripts/user_defined_io_process.py
  applications/HDF5Application/tests/test_hdf5_core.py
Labels: Applications, Python

#7827 Fix compilation failure if git is installed but compiled from zip
  CMakeLists.txt
Labels: Bug, Compilation

#7830 [Core][StringUtilities] adding SplitStringByDelimiter
  kratos/tests/cpp_tests/utilities/test_string_utilities.cpp
  kratos/utilities/string_utilities.cpp
  kratos/utilities/string_utilities.h
Labels: Enhancement, Kratos Core

#7829 [Poromechanics] Fix windows compilation problems
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.hpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
Labels: Bug, Hotfix

#7835 [Dam] Changes to fix problems when initializing python processes
  applications/DamApplication/python_scripts/check_and_prepare_model_process_dam_mechanical.py
  applications/DamApplication/python_scripts/check_and_prepare_model_process_dam_thermal.py
  applications/DamApplication/python_scripts/check_and_prepare_selfweight_model_process_dam.py
  applications/DamApplication/python_scripts/gid_dam_output_process.py
Labels: Bugfix

#7625 [Dem] Add static and dynamic friction to DemStructuresCoupling
  applications/DEMApplication/custom_constitutive/DEM_D_Conical_damage_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_CL.cpp
  applications/DemStructuresCouplingApplication/custom_utilities/dem_structures_coupling_utilities.h
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
Labels: Applications, Bugfix, Enhancement

#7839 [Fluid] VMS adjoint element cleanup
  applications/FluidDynamicsApplication/custom_elements/vms_adjoint_element.cpp
  applications/FluidDynamicsApplication/custom_elements/vms_adjoint_element.h
Labels: C++, Cleanup

#7840 [Poro] Deprecated warning removal
  applications/PoromechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/PoromechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.hpp
  applications/PoromechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.cpp
  applications/PoromechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/PoromechanicsApplication/custom_utilities/fracture_propagation_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/fracture_propagation_3D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/nonlocal_damage_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/nonlocal_damage_3D_utilities.hpp
Labels: API Breaker, Applications, Cleanup, Deprecated, Warning

#7812 [MeshingApplication] CMakeLists cleanup and use of cmake modules
  applications/MeshingApplication/CMakeLists.txt
  applications/MeshingApplication/custom_io/mmg/mmg_io.cpp
  applications/MeshingApplication/custom_io/mmg/mmg_io.h
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg/mmg_process.h
  applications/MeshingApplication/custom_python/add_custom_io_to_python.cpp
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.h
  applications/MeshingApplication/tests/cpp_tests/mmg/test_internal_interpolation_process.cpp
  applications/MeshingApplication/tests/cpp_tests/mmg/test_mmg_io.cpp
  applications/MeshingApplication/tests/cpp_tests/mmg/test_mmg_process.cpp
  cmake_modules/FindMMG.cmake
  cmake_modules/FindMMG2D.cmake
  cmake_modules/FindMMG3D.cmake
  cmake_modules/FindMMGS.cmake
  cmake_modules/FindMmg.cmake
  cmake_modules/FindMmg2d.cmake
  cmake_modules/FindMmg3d.cmake
  cmake_modules/FindMmgs.cmake
Labels: Applications, Behaviour Change, Compilation

#7843 [MPICore] using GLOB_RECURSE
  kratos/mpi/CMakeLists.txt
Labels: FastPR, Kratos Core, Parallel-MPI

#7838 Fix memory tests
  kratos/tests/cpp_tests/sources/test_chunk.cpp
  kratos/tests/cpp_tests/sources/test_memory_pool.cpp
Labels: Bugfix, Kratos Core, Testing

#7790 [MeshingApplication] Adding ParMmg process (1) - Adding files to cmake
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  applications/MeshingApplication/CMakeLists.txt
  applications/MeshingApplication/custom_processes/parmmg/pmmg_process.cpp
  applications/MeshingApplication/custom_processes/parmmg/pmmg_process.h
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.h
  applications/MeshingApplication/meshing_application.h
Labels: Applications, Compilation, Continuous Integration

#7818 [Python-testing] adding support for timing
  kratos/python_scripts/KratosUnittest.py
Labels: Feature, Python, Testing

#7669 [HDFApp] XDMF - adding support for point based entities
  applications/HDF5Application/python_scripts/core/xdmf.py
Labels: Applications, Enhancement, Usability

#7684 [Core][ModelPartIO] fix bug in partitioning of vectorial Elemental and ConditionalData
  kratos/includes/model_part_io.h
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/sources/model_part_io.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/coarse_sphere_with_conditions.mdpa
  kratos/tests/test_KratosCore.py
  kratos/tests/test_coordinate_transformation_utils.py
  kratos/tests/test_model_part_io.py
  kratos/tests/test_normal_utils.py
Labels: Bugfix, Kratos Core, Parallel-MPI

#7842 [ConvDiff][Fluid] Fix conv diff solvers wrapper and buoyancy test
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_explicit_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_transient_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/python_solvers_wrapper_convection_diffusion.py
  applications/ConvectionDiffusionApplication/tests/SourceTermTest/SourceTermTestProjectParameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_stationary_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_conv_diffusion_test_transient_parameters.json
  applications/ConvectionDiffusionApplication/tests/basic_conv_diffusion_test/basic_diffusion_test_stationary_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/BuoyancyTest/ProjectParameters.json
  applications/FluidDynamicsApplication/tests/buoyancy_test.py
  applications/FluidDynamicsApplication/tests/test_flows_measuring_utility.py
Labels: Applications, Continuous Integration, Inconsistent, Testing, Warning

#7850 [FastPR][Hotfix][FSI] Remove MESH_VELOCITY fixity
  applications/FSIApplication/python_scripts/trilinos_partitioned_fsi_dirichlet_neumann_solver.py
Labels: Applications, FastPR, Hotfix

#7849 [FastPR][Hotfix][Fluid] More robust condition selection
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
Labels: Applications, FastPR, Hotfix

#7851 [Core] Fix test compilation may fail if compilers detects as non initialized
  kratos/tests/cpp_tests/utilities/test_math_utils.cpp
Labels: Bugfix, FastPR, Kratos Core

#7854 [Mapping] Add integration weight to coupling geoms integration
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
Labels: Bugfix

#7859 [CodeOwners] adding comment
  .github/CODEOWNERS
Labels: FastPR

#7856 [FastPR][Hotfix][Fluid] and ALE time scheme comparison fix
  applications/FSIApplication/python_scripts/partitioned_fsi_base_solver.py
Labels: Applications, FastPR, Hotfix

#7855 [CODEOWNERS] Add UQ team
  .github/CODEOWNERS
Labels: Applications

#7860 [LinearSolversApp] missing rename
  applications/LinearSolversApplication/CMakeLists.txt
  applications/LinearSolversApplication/custom_python/linear_solvers_python_application.cpp
Labels: Applications, FastPR

#7869 [Core][PointoutputProcess] fix in case no rank found the point
  kratos/python_scripts/point_output_process.py
Labels: Bugfix, FastPR, Hotfix, Kratos Core

#7870 [Core] improve point printing
  kratos/geometries/point.h
  kratos/python/add_points_to_python.cpp
Labels: FastPR, Kratos Core, Usability

#7808 [MeshingApplication] Adding ParMmg process (2) - Utilities and process functions
  applications/MeshingApplication/MeshingApplication.py
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg/mmg_process.h
  applications/MeshingApplication/custom_processes/parmmg/pmmg_process.cpp
  applications/MeshingApplication/custom_processes/parmmg/pmmg_process.h
  applications/MeshingApplication/custom_python/add_processes_to_python.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.h
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.h
  applications/MeshingApplication/tests/parmmg_eulerian_test/background_mesh_sphere.mdpa
  applications/MeshingApplication/tests/parmmg_eulerian_test/cond_ref_map.json
  applications/MeshingApplication/tests/parmmg_eulerian_test/elem_ref_map.json
  applications/MeshingApplication/tests/parmmg_eulerian_test/reference_parmmg_spehere_mdpa_hierarchy.json
  applications/MeshingApplication/tests/test_MeshingApplication_mpi.py
  applications/MeshingApplication/tests/test_mpi_parmmg.py
Labels: Applications, Feature

#7872 [Core] Modify BruteForcePointLocator behaviour
  kratos/tests/cpp_tests/utilities/test_brute_force_point_locator.cpp
  kratos/utilities/brute_force_point_locator.cpp
Labels: Hotfix, Kratos Core

#7871 [Exaqute] Add wind generator
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/CovarianceKernels.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/GaussianRandomField.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/GenerateWind.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/RandomMaterial.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/RationalApproximation.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/Sampling_Methods.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/fde_solve.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/ode_solve.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/onthefly_kratos_inlet_process.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/steady_wind_kratos_inlet_process.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/utilities/Chrono.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/utilities/ErrorMessages.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/utilities/Exports.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/utilities/common.py
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/utilities/pde_tools.py
Labels: Python

#7863 [Hotfix] Avoid using Kernel()
  applications/FSIApplication/python_scripts/convergence_accelerator_factory.py
  kratos/tests/test_importing.py
Labels: Applications, Error, Hotfix, Kratos Core

#7852 [Core] Adding test for PythonGenericFunctionUtility
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_python_function_callback_utility.py
Labels: FastPR, Kratos Core, Testing

#7606 [Mapping] Mortar FETI coupling
  applications/CoSimulationApplication/co_simulation_application.cpp
  applications/CoSimulationApplication/co_simulation_application_variables.cpp
  applications/CoSimulationApplication/co_simulation_application_variables.h
  applications/CoSimulationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/CoSimulationApplication/custom_python/add_custom_utilities_to_python.h
  applications/CoSimulationApplication/custom_python/co_simulation_python_application.cpp
  applications/CoSimulationApplication/custom_utilities/feti_dynamic_coupling_utilities.cpp
  applications/CoSimulationApplication/custom_utilities/feti_dynamic_coupling_utilities.h
  applications/CoSimulationApplication/python_scripts/coupled_solvers/feti_dynamic_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/structural_mechanics_wrapper.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/StructuralMaterials.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/femA.mdpa
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/femB.mdpa
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/femB_05.mdpa
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_explicit/ProjectParametersA.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_explicit/ProjectParametersBnonconforming.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_explicit/fem_fem_dynamic_2d_cantilever_mixed_nonconforming_parameters.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_explicit/mixed_nonconforming_results.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/ProjectParametersA.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/ProjectParametersB.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/ProjectParametersBmixedtimestep.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/ProjectParametersBnonconforming.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/conforming_results.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/fem_fem_dynamic_2d_cantilever_mixed_timestep_parameters.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/fem_fem_dynamic_2d_cantilever_nonconforming_parameters.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/fem_fem_dynamic_2d_cantilever_parameters.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/mixed_timestep_results.json
  applications/CoSimulationApplication/tests/fem_fem/dynamic_2d_cantilever/implicit_implicit/nonconforming_results.json
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_mappers/mapper.h
  applications/MappingApplication/custom_python/add_custom_mappers_to_python.cpp
Labels: Applications, Feature

#7880 adding a test for output of TL element
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_total_lagrangian.cpp
Labels: FastPR

#7883 [MLMC] Fix to compile in Windows
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application.h
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application_variables.h
Labels: Bugfix, Compilation

#7885 [Core] Set unitialized quad point parent to null
  kratos/geometries/quadrature_point_geometry.h
Labels: FastPR

#7890 adding ParticleMechanicsApplication to CodeOwners
  .github/CODEOWNERS
Labels: FastPR

#7892 adding linearsolversapp to codeowners
  .github/CODEOWNERS
Labels: FastPR

#7891 adding ConstitutiveLawsApplication to CodeOwners
  .github/CODEOWNERS
Labels: FastPR

#7394 Two fluids Navier-Stokes / Surface Tension
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/distance_smoothing_element.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/custom_processes/calulate_levelset_consistent_nodal_gradient_process.cpp
  applications/FluidDynamicsApplication/custom_processes/calulate_levelset_consistent_nodal_gradient_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_two_fluid_navier_stokes_element.cpp
  applications/FluidDynamicsApplication/tests/levelset_consistent_nodal_gradient_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Enhancement

#7882 [FastPR][Core] Remove c2c variables
  applications/PFEM2Application/custom_utilities/pfem2_utilities.h
  kratos/includes/c2c_variables.h
  kratos/includes/kratos_application.h
  kratos/python/add_c2c_variables_to_python.cpp
  kratos/python/add_c2c_variables_to_python.h
  kratos/python/kratos_python.cpp
  kratos/sources/c2c_variables.cpp
  kratos/sources/variables.cpp
  kratos/tests/auxiliar_files_for_python_unittest/materials_files/materials.json
  kratos/tests/test_materials_input.py
Labels: FastPR, Kratos Core

#7894 [Shallow] Aux print for benchmarking purpuse
  applications/ShallowWaterApplication/python_scripts/benchmarks/convergence_output_process.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/nodes_output_process.py
  applications/ShallowWaterApplication/tests/processes_tests/nodes_output_process_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/nodes_output_process_reference.dat
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Benchmarking, Python

#7831 [Fluid] Explicit complessible Navier-Stokes solver
  applications/FluidDynamicsApplication/README.md
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.h
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/compressible_navier_stokes_explicit_solving_strategy_runge_kutta_4.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/python_solvers_wrapper_fluid.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_compressible_navier_stokes_explicit_with_integration.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_convective_flux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_diffusive_flux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_source_term.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_stabilization_matrix.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/params_dict.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_compressible_navier_stokes_explicit_element.cpp
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test.py
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/FluidMaterials.json
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/ProjectParameters.json
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/sod_shock_tube_explicit_ASGS_SC_results.json
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/sod_shock_tube_explicit_ASGS_results.json
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/sod_shock_tube_explicit_OSS_SC_results.json
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/sod_shock_tube_explicit_OSS_results.json
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/sod_shock_tube_geom_coarse.mdpa
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: After Release, Applications, Feature

#7887 Fix von mises
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/yield_surfaces/von_mises_yield_surface.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_total_lagrangian.cpp
Labels: FastPR
