Repository KratosMultiphysics/Kratos, pull requests merged in 2020-01, with the labels that each got.

#6169 [ExaquteSandbox] Update process and cleaning
  applications/ExaquteSandboxApplication/ExaquteSandboxApplication.py
  applications/ExaquteSandboxApplication/custom_processes/weighted_divergence_calculation_process.cpp
  applications/ExaquteSandboxApplication/custom_processes/weighted_divergence_calculation_process.h
  applications/ExaquteSandboxApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ExaquteSandboxApplication/custom_python/exaqute_sandbox_python_application.cpp
  applications/ExaquteSandboxApplication/tests/cpp_tests/test_weighted_divergence_calculation.cpp
Labels: Applications, Cleanup

#6175 [ContactStructuralMechanicsApplication]Replace local method for FullName
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
Labels: Applications, Cleanup, FastPR

#6177 [Core] Missing dummy elements
  kratos/includes/kratos_application.h
  kratos/sources/kratos_application.cpp
Labels: FastPR, Inconsistent, Kratos Core

#6180 [ContactStructuralMechanicsApplication] Replace row operation with direct assigment
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
Labels: Applications, FastPR, Refactor

#5789 [Core][Geometry] ClosestPoint and CalculateDistance
  kratos/geometries/geometry.h
Labels: CAD Integration, Kratos Core

#5933 [Core] Missing tetrahedron split patterns
  kratos/utilities/split_tetrahedra.h
Labels: Bugfix, FastPR, Kratos Core

#6183 [ShapeOpt] fix vtk logger full mdpa name
  applications/ShapeOptimizationApplication/python_scripts/design_logger_vtk.py
  applications/ShapeOptimizationApplication/tests/packaging_mesh_based_test/optimization_parameters.json
Labels: Bug, FastPR

#6140 [core] User defined list of apps are printed, dependencies only if not in main list
  CMakeLists.txt
  cmake_modules/KratosDependencies.cmake
Labels: Bug

#6168 [MPI][ParFillComm] improve check
  kratos/mpi/utilities/parallel_fill_communicator.cpp
Labels: FastPR, Parallel-MPI

#6145 [Core][Container] Bugfix in pointer_hash_map_set
  kratos/containers/pointer_hash_map_set.h
Labels: Bugfix, FastPR

#5953 [StructuralMechanicsApplication] Minor typo correction in base solid element
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
Labels: Applications, FastPR, Typo

#6182 CI badge links to actions for master branch
  README.md
Labels: Action

#6187 [dem] Fixing copy of clu files
  applications/DEMApplication/CMakeLists.txt
Labels: Bugfix

#6189 [Core] First stage of clean up BuilderAndSolver
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
Labels: Cleanup, FastPR, Kratos Core

#6061 [Core] Adding Kratos::Filesystem
  README.md
  external_libraries/ghc/filesystem.hpp
  external_libraries/ghc/fs_fwd.hpp
  external_libraries/ghc/fs_impl.hpp
  kratos/CMakeLists.txt
  kratos/includes/kratos_filesystem.h
  kratos/sources/kratos_filesystem.cpp
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
  kratos/tests/cpp_tests/utilities/test_os_utilities.cpp
  kratos/utilities/check_filesystem_availability.h
  kratos/utilities/os_utilities.cpp
  kratos/utilities/os_utilities.h
Labels: External library, Feature, Kratos Core

#6197 [FSI][Hotfix] Submodelpart retrieve through model
  applications/FSIApplication/python_scripts/partitioned_embedded_fsi_base_solver.py
Labels: Applications, FastPR, Hotfix

#6202 [Structural] Hotfix in python 2.7 - missing def_static
  applications/StructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
Labels: Bug, FastPR

#6198 [Dam] Remove warnings
  applications/DamApplication/custom_utilities/construction_utility.hpp
Labels: Warning

#6196 [Core] Second stage of clean up BuilderAndSolver
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
Labels: FastPR, Kratos Core, Refactor, Transition

#5956 Adding Id to all geometries
  kratos/geometries/geometry.h
  kratos/tests/cpp_tests/geometries/test_geometry.cpp
Labels: CAD Integration, Kratos Core

#6167 [CoSim] improve time checking
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
Labels: Applications, Enhancement

#6214 [Core] More clean up. Last transition for #3245
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
Labels: Cleanup, FastPR, Kratos Core, Transition

#6165 [Core] Reactivating OMP in residual criteria with constraints
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/utilities/constraint_utilities.cpp
  kratos/utilities/constraint_utilities.h
Labels: Bugfix, Kratos Core, Parallel-OMP

#6222 [dem] 2D control module starts working. Several bugfixes related to walls in 2D
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application.h
  applications/DEMApplication/custom_conditions/RigidEdge.cpp
  applications/DEMApplication/custom_conditions/dem_wall.cpp
  applications/DEMApplication/custom_elements/discrete_element.h
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_processes/control_module_2d_process.hpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/python_scripts/control_module_2d_process.py
  applications/DEMApplication/python_scripts/sphere_strategy.py
Labels: Bugfix, Feature

#6194 [core] Add non historical variables and RMS method for time average process
  kratos/processes/time_averaging_process.cpp
  kratos/processes/time_averaging_process.h
  kratos/tests/test_time_averaging.py
Labels: Kratos Core, Testing

#6224 [Core] Improve filesystem test
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
Labels: External library, FastPR, Kratos Core, Testing

#6006 [CoSim] strong coupling MPI
  applications/CoSimulationApplication/custom_data_structure/pyKratos/ModelPart.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_convergence_accelerator.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_convergence_criteria.py
  applications/CoSimulationApplication/python_scripts/co_simulation_tools.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/aitken.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/constant_relaxation.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/convergence_accelerator_wrapper.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/mvqn.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/convergence_criteria_wrapper.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/relative_norm_initial_residual.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/relative_norm_previous_residual.py
  applications/CoSimulationApplication/python_scripts/factories/convergence_accelerator_factory.py
  applications/CoSimulationApplication/python_scripts/factories/convergence_criterion_factory.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication_mpi.py
  applications/CoSimulationApplication/tests/test_convergence_accelerators.py
  applications/CoSimulationApplication/tests/test_convergence_criteria.py
  applications/CoSimulationApplication/tests/test_coupling_operations.py
  applications/CoSimulationApplication/tests/testing_utilities.py
Labels: Applications, Feature, Parallel-MPI

#6226 [FSI] Fix missing variable leak in tests
  applications/FSIApplication/tests/cpp_tests/test_partitioned_fsi_utilities.cpp
Labels: Applications, Bugfix, FastPR, Testing

#6213 [Core][Scheme] pass ProcessInfo to Initialize
  kratos/solving_strategies/schemes/scheme.h
Labels: Deprecated, Kratos Core

#6237 [Core] Remove OSUtilities dependency from test in the core
  kratos/tests/cpp_tests/utilities/test_assign_unique_model_part_collection_tag_utility.cpp
Labels: FastPR, Kratos Core, Testing

#5929 [MPI] Consistent distributed test case reporting (C++ tests)
  kratos/includes/data_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/includes/mpi_message.h
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_coloring_utilities.cpp
  kratos/testing/distributed_test_case.cpp
  kratos/testing/distributed_test_case.h
  kratos/testing/tester.cpp
  kratos/testing/tester.h
Labels: Parallel-MPI, Testing

#5981 Mpi/cleanup mpi lifetime management
  kratos/includes/parallel_environment.h
  kratos/mpi/CMakeLists.txt
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/includes/mpi_manager.h
  kratos/mpi/mpi_environment.cpp
  kratos/mpi/mpi_environment.h
  kratos/mpi/python/kratos_mpi_python.cpp
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/sources/mpi_manager.cpp
  kratos/mpi/tests/sources/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/sources/test_mpi_environment.cpp
  kratos/mpi/tests/sources/test_mpi_serialized_communication.cpp
  kratos/sources/parallel_environment.cpp
Labels: Cleanup, Parallel-MPI

#6239 Change version
  CMakeLists.txt
Labels: FastPR, Hotfix

#6216 [CoSim] sdof mpi
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_single_to_distributed.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver.py
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_force_excitation.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_impulse.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_initial_displacement.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_initial_velocity.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement_external_force.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement_impulse.dat
Labels: Bugfix, FastPR, Feature

#6166 [Core] Adding GeometryContainer to ModelPart
  kratos/containers/geometry_container.h
  kratos/geometries/geometry.h
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
  kratos/tests/cpp_tests/containers/test_geometry_container.cpp
  kratos/tests/cpp_tests/containers/test_model_part_geometry_container.cpp
Labels: CAD Integration

#6242 [Structural] fix error in debug
  applications/StructuralMechanicsApplication/custom_elements/nodal_concentrated_element.cpp
Labels: Applications, Debug, FastPR

#6219 [Strucutral] adding Check in test
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_membrane.cpp
Labels: Applications, Error, Testing

#6261 [VtkOutput] check if file is could be opened
  kratos/input_output/vtk_output.cpp
Labels: Enhancement, Kratos Core

#6264 [CoSim]Correct root point excitation
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver.py
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement_external_force.dat
  applications/CoSimulationApplication/tests/reference_files/ref_sdof_root_point_displacement_impulse.dat
Labels: Bugfix, FastPR

#6272 [Structural] correct index
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
Labels: Applications, Bugfix, FastPR

#6274 [Core] Fix GeometryContainer
  kratos/containers/geometry_container.h
Labels: FastPR, Hotfix

#6220 [Core][Geometry] BrepCurveOnSurface restructurement
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
Labels: CAD Integration

#6273 [Core] Printing number of geometries in the PrintData of the ModelPart
  kratos/sources/model_part.cpp
  kratos/tests/test_object_printing.py
Labels: Enhancement, FastPR, Kratos Core

#6257 [Pfem] Adding all elements to the main model part
  applications/PfemFluidDynamicsApplication/custom_processes/model_start_end_meshing_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/model_start_end_meshing_with_conditions_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_utilities/postprocess_utilities.h
Labels: Applications

#6252 [Core][ModelPart] Code cleaning and remaining Issues
  kratos/containers/geometry_container.h
  kratos/geometries/geometry.h
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
Labels: CAD Integration

#6203 [Core][Geometry] Adding pGetGeometryPart
  kratos/geometries/brep_surface.h
  kratos/geometries/coupling_geometry.h
  kratos/geometries/geometry.h
Labels: CAD Integration

#6282 [Core] Change Quadrature Point names from lower case d to D
  kratos/sources/kratos_application.cpp
Labels: Kratos Core

#6275 [Core] Add resize to pointer_vector
  kratos/containers/pointer_vector.h
Labels: Kratos Core

#6201 [Core] Add complex matrix to python
  kratos/python/add_matrix_to_python.cpp
Labels: Feature, Kratos Core

#6262 Fix adjoint spring damper element
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.cpp
Labels: Applications, Debug, Testing

#6290 [Pfem2] Fixing names
  applications/pfem_2_application/CMakeLists.txt
  applications/pfem_2_application/PFEM2Application.py
Labels: API Breaker, Bug, Bugfix

#6285 [EigenSolversApplication] Update README.md
  applications/EigenSolversApplication/README.md
Labels: Applications, Documentation, FastPR

#6217 [Structural] not use ComputingModelPart by default
  applications/CableNetApplication/custom_processes/apply_weak_sliding_process.h
  applications/CableNetApplication/custom_processes/edge_cable_element_process.h
  applications/CableNetApplication/python_scripts/apply_weak_sliding_process.py
  applications/CableNetApplication/python_scripts/edge_cable_element_process.py
  applications/CableNetApplication/python_scripts/empirical_spring_element_process.py
  applications/CableNetApplication/python_scripts/sliding_edge_process.py
  applications/CableNetApplication/tests/ring_element/ProjectParameters.json
  applications/CableNetApplication/tests/ring_set_up_dem_fem/FEMProjectParameter.json
  applications/CableNetApplication/tests/ring_set_up_dem_fem/cosim_dem_fem_cable_net_parameters.json
  applications/CableNetApplication/tests/sliding_edges_with_friction_dem_fem/FEMProjectParameter.json
  applications/CableNetApplication/tests/sliding_edges_with_friction_dem_fem/cosim_dem_fem_cable_net_parameters.json
  applications/CableNetApplication/tests/sliding_element/ProjectParameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/2D_contact_simplest_with_friction_patch_matching_test_parameters.json
  applications/StructuralMechanicsApplication/python_scripts/impose_rigid_movement_process.py
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/tests/rve_test/smallest_rve_test_parameters.json
  applications/StructuralMechanicsApplication/tests/test_rve_analytic.py
Labels: Applications, Cleanup, Deprecated, Enhancement

#6292 [Core] Exposing nodal flag synchronization to python
  kratos/python/add_model_part_to_python.cpp
Labels: C++

#6248 [ShapeOpt] remove solver settings from test
  applications/ShapeOptimizationApplication/tests/algorithm_bead_optimization_test/analysis_parameters.json
Labels: FastPR

#6271 [DEM] Added unit test for 2D/3D contact with walls and pressure/forces transfer.
  applications/DEMApplication/tests/DEM2D_contact_tests_files/DEM2D_contactDEM.mdpa
  applications/DEMApplication/tests/DEM2D_contact_tests_files/DEM2D_contactDEM_Clusters.mdpa
  applications/DEMApplication/tests/DEM2D_contact_tests_files/DEM2D_contactDEM_FEM_boundary.mdpa
  applications/DEMApplication/tests/DEM2D_contact_tests_files/DEM2D_contactDEM_Inlet.mdpa
  applications/DEMApplication/tests/DEM2D_contact_tests_files/MainKratos.py
  applications/DEMApplication/tests/DEM2D_contact_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/DEM2D_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/DEM2D_tests_files/impact2DDEM_FEM_boundary.mdpa
  applications/DEMApplication/tests/DEM3D_contact_tests_files/DEM3D_contactDEM.mdpa
  applications/DEMApplication/tests/DEM3D_contact_tests_files/DEM3D_contactDEM_Clusters.mdpa
  applications/DEMApplication/tests/DEM3D_contact_tests_files/DEM3D_contactDEM_FEM_boundary.mdpa
  applications/DEMApplication/tests/DEM3D_contact_tests_files/DEM3D_contactDEM_Inlet.mdpa
  applications/DEMApplication/tests/DEM3D_contact_tests_files/MainKratos.py
  applications/DEMApplication/tests/DEM3D_contact_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/analytics_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/analytics_tests_files/analytics_test_1DEM_FEM_boundary.mdpa
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_DEM_2D.py
  applications/DEMApplication/tests/test_DEM_2D_contact.py
  applications/DEMApplication/tests/test_DEM_3D_contact.py
  applications/DEMApplication/tests/test_analytics.py
Labels: Benchmarking

#6302 [SwimmingDEM] Hotfix after changes in pfem
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_solver.py
Labels: Applications, Hotfix

#6295 [Core] Add Change Knot Vector in NurbsGeometries
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
Labels: CAD Integration, Kratos Core

#6305 [FastPR][FSI] Enabling contact FSI
  applications/FSIApplication/python_scripts/fsi_analysis.py
Labels: Applications, FastPR

#6310 [core] minor typo
  kratos/python_scripts/run_tests.py
Labels: FastPR

#6314 [ContactStructuralMechanicsApplication] Clean up test
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_complete_test_results.json
Labels: Applications, Cleanup, FastPR, Testing

#6315 [StructuralMechanicsApplication] Removing dependency of the computing model part
  applications/StructuralMechanicsApplication/python_scripts/impose_rigid_movement_process.py
Labels: Applications, Cleanup, FastPR, Python, Refactor

#6324 [FastPR][Core] Matrix square root and bugfix
  kratos/tests/cpp_tests/utilities/test_math_utils.cpp
  kratos/utilities/math_utils.h
Labels: Bugfix, FastPR, Feature, Kratos Core

#6319 [CI] disabling PotentialFlow
  .github/workflows/configure.sh
Labels: Applications, Continuous Integration

#6329 [StructuralMechanicsApplication] Reduce code duplication
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  kratos/utilities/math_utils.h
Labels: Applications, FastPR, Kratos Core

#6011 [Meshmoving] Mesh velocity in base solver
  applications/CompressiblePotentialFlowApplication/python_scripts/ale_potential_flow_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_dirichlet_neumann_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_ale_fluid_solver.py
  applications/MeshMovingApplication/python_scripts/ale_fluid_solver.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/tests/generic_rectangle_test_parameters.json
  applications/MeshMovingApplication/tests/mesh_moving_test_case.py
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/test_laplacian_mesh_motion_3d.py
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_2d.py
  applications/MeshMovingApplication/tests/test_structural_mesh_motion_3d.py
  applications/ShapeOptimizationApplication/python_scripts/mesh_controller_with_solver.py
Labels: Applications, Enhancement, Usability
