Repository KratosMultiphysics/Kratos, pull requests merged in 2020-03, with the labels that each got.

#6473 [CI] adding ParticleMechanics
  .github/workflows/configure.sh
Labels: Continuous Integration

#6476 [FSI] Remove nodal update utils and fixes
  applications/FSIApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FSIApplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_dirichlet_neumann_solver.py
  applications/FSIApplication/python_scripts/trilinos_partitioned_fsi_base_solver.py
  applications/FSIApplication/python_scripts/trilinos_partitioned_fsi_dirichlet_neumann_solver.py
  applications/FSIApplication/tests/MokBenchmarkTest/ProjectParameters.json
  applications/FSIApplication/tests/MokBenchmarkTest/materials_mok_fluid.json
  applications/FSIApplication/tests/MokBenchmarkTest/materials_mok_structure.json
  applications/FSIApplication/tests/MokBenchmarkTest/mok_benchmark_Fluid.mdpa
  applications/FSIApplication/tests/convergence_accelerator_spring_MPI_test.py
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
Labels: Applications, Bugfix, Cleanup

#6488 [Core] Linear solvers cleanup
  kratos/factories/standard_linear_solver_factory.cpp
  kratos/linear_solvers/deflated_gmres_solver.h
  kratos/linear_solvers/mixedup_linear_solver.h
  kratos/python/add_linear_solvers_to_python.cpp
  kratos/python_scripts/linear_solver_factory.py
Labels: Cleanup, FastPR, Kratos Core, Legacy

#6233 [All] Remove NOT_FLAG's
  applications/ContactMechanicsApplication/custom_conditions/deformable_contact/contact_domain_LM_2D_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/deformable_contact/contact_domain_LM_3D_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/deformable_contact/contact_domain_LM_3D_condition_2.cpp
  applications/ContactMechanicsApplication/custom_conditions/deformable_contact/contact_domain_condition.cpp
  applications/ContactMechanicsApplication/custom_conditions/deformable_contact/contact_domain_penalty_2D_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_components_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mortar_and_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/penalty_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/penalty_frictionless_mortar_criteria.h
  applications/DEMApplication/custom_utilities/reorder_consecutive_from_given_ids_model_part_io.h
  applications/DelaunayMeshingApplication/custom_processes/remove_nodes_mesher_process.hpp
  applications/DelaunayMeshingApplication/custom_utilities/mesher_utilities.cpp
  applications/DelaunayMeshingApplication/python_scripts/domain_utilities.py
  applications/FemToDemApplication/python_scripts/check_and_prepare_model_process.py
  applications/FluidDynamicsApplication/python_scripts/check_and_prepare_model_process_fluid.py
  applications/MeshingApplication/custom_io/mmg_io.h
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_check_and_prepare_model_process_fluid.py
  applications/PoromechanicsApplication/custom_constitutive/hyperelastic_plastic_3D_law.cpp
  applications/ShallowWaterApplication/python_scripts/automatic_dirichlet_conditions_process.py
  applications/SolidMechanicsApplication/custom_constitutive/hyperelastic_plastic_3D_law.cpp
  applications/TrilinosApplication/tests/test_trilinos_redistance.py
  kratos/containers/flags.h
  kratos/includes/define.h
  kratos/includes/define_python.h
  kratos/includes/json_io.h
  kratos/includes/model_part_io.h
  kratos/includes/reorder_consecutive_model_part_io.h
  kratos/mpi/tests/sources/test_flag_synchronization.cpp
  kratos/processes/entity_erase_process.cpp
  kratos/processes/entity_erase_process.h
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.h
  kratos/processes/mesh_local_smoothing_process.cpp
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/tetrahedral_mesh_orientation_check.h
  kratos/processes/variational_distance_calculation_process.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_processes_to_python.cpp
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/cpp_tests/containers/test_flags.cpp
  kratos/tests/test_flags.py
  kratos/utilities/parallel_levelset_distance_calculator.h
Labels: Applications, Behaviour Change, Kratos Core

#5938 [Structural] adding prebuckling solver
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/prebuckling_strategy.hpp
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_solver.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_prebuckling_analysis.py
Labels: Applications, Feature

#6486 [Core] Adding C++ test utilities
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_interface_preprocess_utilities.cpp
  applications/MeshingApplication/tests/cpp_tests/test_internal_interpolation_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_meshing_utilities.cpp
  applications/MeshingApplication/tests/cpp_tests/test_metric_process.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_io.cpp
  applications/MeshingApplication/tests/cpp_tests/test_mmg_process.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_shell_to_solid_shell_process.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_spr_error_process.cpp
  kratos/CMakeLists.txt
  kratos/tests/cpp_tests/processes/test_calculate_nodal_area_process.cpp
  kratos/tests/cpp_tests/processes/test_compute_nodal_gradient_process.cpp
  kratos/tests/cpp_tests/processes/test_find_nodal_h_process.cpp
  kratos/tests/cpp_tests/processes/test_integration_values_extrapolation_to_nodes_process.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
  kratos/tests/cpp_tests/utilities/test_assign_unique_model_part_collection_tag_utility.cpp
  kratos/tests/cpp_tests/utilities/test_binbased_fast_point_locator.cpp
  kratos/utilities/cpp_tests_utilities.cpp
  kratos/utilities/cpp_tests_utilities.h
Labels: Applications, Cleanup, Duplicate, FastPR, Refactor, Testing

#6391 [Structural] Wrinkling claw 2d
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/linear_elastic_orthotropic_2D_law.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/wrinkling_linear_2d_law.cpp
  applications/StructuralMechanicsApplication/custom_advanced_constitutive/wrinkling_linear_2d_law.h
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.h
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_advanced_constitutive_laws_to_python.cpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_orthotropic_diagonal_test_materials.json
  applications/StructuralMechanicsApplication/tests/membrane_test/Membrane_orthotropic_horizontal_test_materials.json
  applications/StructuralMechanicsApplication/tests/test_patch_test_membrane.py
Labels: Applications, Feature

#6497 [CI] adding DockerFile
  .github/workflows/ci.yml
  .github/workflows/dockerimage_for_ci.yml
  scripts/docker_files/docker_file_ci/DockerFile
Labels: Continuous Integration

#6501 [SwimmingDEM] bugfix in compilation
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.h
Labels: Applications, Bugfix

#6505 [Fluid] Added kratos_api to some elements
  applications/FluidDynamicsApplication/custom_elements/vms_adjoint_element.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_epsilon_adjoint.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_adjoint.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_k_epsilon_vms_adjoint.h
  applications/RANSApplication/custom_elements/evm_k_epsilon/rans_evm_monolithic_k_epsilon_vms_adjoint.h
  applications/RANSApplication/custom_elements/rans_evm_vms_adjoint.h
Labels: C++, Windows

#6507 IntegrationValuesExtrapolationToNodesProcess: removing const_cast
  kratos/processes/integration_values_extrapolation_to_nodes_process.cpp
  kratos/processes/integration_values_extrapolation_to_nodes_process.h
Labels: C++, Cleanup, Kratos Core

#6510 [ShallowWater] Avoiding copy of variable
  applications/ShallowWaterApplication/custom_python/add_custom_processes_to_python.cpp
Labels: FastPR, Hotfix

#6506 [Core] Extend Integration points extrapolation process for mpi
  kratos/processes/integration_values_extrapolation_to_nodes_process.cpp
Labels: C++

#6512 [CI] running nightly also when modified
  .github/workflows/nightly_build.yml
Labels: Continuous Integration, FastPR

#4947 Core/neighbours calculation
  applications/CompressiblePotentialFlowApplication/python_scripts/define_wake_process.py
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/move_particle_utility_process.py
  applications/ConvectionDiffusionApplication/python_scripts/nonlinear_convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/pfem2_convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/pure_convection_solver.py
  applications/ConvectionDiffusionApplication/test_examples/square.gid/rotatingcone_PureConvectionBenchmarking.py
  applications/ConvectionDiffusionApplication/test_examples/square_edgebased.gid/edgebased_PureConvection.py
  applications/ConvectionDiffusionApplication/test_examples/testPureConvection.gid/test_pureconvectionsolver_benchmarking.py
  applications/FemToDemApplication/custom_processes/dem_after_remesh_identificator_process.hpp
  applications/FemToDemApplication/custom_processes/generate_dem_process.cpp
  applications/FemToDemApplication/custom_processes/generate_initial_skin_DEM_process.cpp
  applications/FemToDemApplication/custom_processes/initial_dem_skin_process.hpp
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FluidDynamicsApplication/python_scripts/apply_two_fluids_inlet_process.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/python_scripts/refine_embedded_object.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/FreeSurfaceApplication/python_scripts/edgebased_levelset_solver.py
  applications/MeshMovingApplication/custom_strategies/strategies/laplacian_meshmoving_strategy.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_segment.h
  applications/MeshingApplication/tests/test_refine.py
  applications/PoromechanicsApplication/python_scripts/periodic_interface_activation_process.py
  applications/ShallowWaterApplication/python_scripts/pfem2_primitive_var_solver.py
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_reaction_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/mass_response_function_utility.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_spr_error_process.cpp
  applications/SwimmingDEMApplication/custom_utilities/derivative_recovery.cpp
  applications/ULFapplication/python_scripts/SurfaceTension_monolithic_solver.py
  applications/ULFapplication/python_scripts/runge_kutta_frac_step_solver.py
  applications/ULFapplication/python_scripts/ulf_PGLASS.py
  applications/ULFapplication/python_scripts/ulf_frac.py
  applications/ULFapplication/python_scripts/ulf_fsi.py
  applications/ULFapplication/python_scripts/ulf_fsi_inc.py
  applications/pfem_2_application/custom_utilities/pfem2_utilities.h
  applications/pfem_2_application/python_scripts/frac_step_solverQ.py
  applications/pfem_2_application/python_scripts/pfem_2_process.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_fractional_step_fluid.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_fsi.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_fsi_2resolutions.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_monolithic.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_monolithic_autoslip_fluid.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_monolithic_fluid.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_monolithic_fluid_2scales.py
  applications/pfem_2_application/python_scripts/pfem_2_solver_monolithic_fluid_prashanth.py
  kratos/processes/find_global_nodal_elemental_neighbours_process.cpp
  kratos/processes/find_global_nodal_elemental_neighbours_process.h
  kratos/processes/find_nodal_neighbours_process.h
  kratos/processes/mesh_smoothing_process.cpp
  kratos/python/add_processes_to_python.cpp
Labels: API Breaker, Behaviour Change

#6500 [FEMDEM] Adding substepping in analysis
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/FemToDemApplication/CMakeLists.txt
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/FemDemKratos.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.cnd
  applications/FemToDemApplication/custom_processes/transfer_nodal_forces_to_fem.cpp
  applications/FemToDemApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FemToDemApplication/custom_python/fem_to_dem_python_application.cpp
  applications/FemToDemApplication/custom_utilities/FEMDEM_coupling_utilities.cpp
  applications/FemToDemApplication/custom_utilities/FEMDEM_coupling_utilities.h
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.cpp
  applications/FemToDemApplication/fem_to_dem_application_variables.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDemSubstepping.py
  applications/FemToDemApplication/python_scripts/MainDEM_for_coupling.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
Labels: Applications, Enhancement, Feature

#6514 Update docker name
  .github/workflows/build_docker_images_for_ci.yml
  .github/workflows/ci.yml
  .github/workflows/dockerimage_for_ci.yml
  .github/workflows/nightly_build.yml
  scripts/docker_files/docker_file_ci_ubuntu_bionic/DockerFile
Labels: Continuous Integration

#6516 [Poro] Avoid copying of variable to fix windows compilation error
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
Labels: FastPR, Hotfix

#6491 Doc/doxy update
  documents/.gitignore
  documents/README
  documents/kratos_doxyfile
  documents/kratos_small.png
Labels: Documentation, FastPR

#6457 [Core] QuadraturePointGeometries remove PointsArray Constructor
  kratos/geometries/quadrature_point_geometry.h
  kratos/includes/kratos_application.h
  kratos/sources/kratos_application.cpp
Labels: CAD Integration

#6467 fix gauss seidel coupled solver
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
Labels: Applications, Bugfix

#6521 [StructMech][Responses] minor fix to allow running more models
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_response.py
Labels: Enhancement

#6522 Hotfix/dam and poromechanics compilation issues
  applications/DamApplication/custom_processes/dam_added_mass_condition_process.hpp
  applications/DamApplication/custom_processes/dam_azenha_heat_source_process.hpp
  applications/DamApplication/custom_processes/dam_bofang_condition_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_chemo_mechanical_aging_young_process.hpp
  applications/DamApplication/custom_processes/dam_fix_temperature_condition_process.hpp
  applications/DamApplication/custom_processes/dam_grouting_reference_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_hydro_condition_load_process.hpp
  applications/DamApplication/custom_processes/dam_nodal_reference_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_nodal_young_modulus_process.hpp
  applications/DamApplication/custom_processes/dam_noorzai_heat_source_process.hpp
  applications/DamApplication/custom_processes/dam_reservoir_constant_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_reservoir_monitoring_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_t_sol_air_heat_flux_process.hpp
  applications/DamApplication/custom_processes/dam_temperature_by_device_process.hpp
  applications/DamApplication/custom_processes/dam_uplift_circular_condition_load_process.hpp
  applications/DamApplication/custom_processes/dam_uplift_condition_load_process.hpp
  applications/DamApplication/custom_processes/dam_westergaard_condition_load_process.hpp
  applications/FemToDemApplication/custom_processes/apply_double_table_process.hpp
  applications/PoromechanicsApplication/custom_processes/apply_constant_hydrostatic_pressure_process.hpp
  applications/PoromechanicsApplication/custom_processes/apply_double_table_process.hpp
  applications/PoromechanicsApplication/custom_processes/apply_hydrostatic_pressure_table_process.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_newton_raphson_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_strategy.hpp
Labels: Bugfix, Compilation

#6524 Export Kratos Dense Matrix to numpy array
  kratos/python/add_matrix_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_numpy_export_dense_matrix.py
Labels: Feature, Kratos Core, Python

#5218 Chimera application
  applications/ChimeraApplication/CMakeLists.txt
  applications/ChimeraApplication/ChimeraApplication.py
  applications/ChimeraApplication/chimera_application.cpp
  applications/ChimeraApplication/chimera_application.h
  applications/ChimeraApplication/chimera_application_variables.cpp
  applications/ChimeraApplication/chimera_application_variables.h
  applications/ChimeraApplication/custom_processes/apply_chimera_process.cpp
  applications/ChimeraApplication/custom_processes/apply_chimera_process.h
  applications/ChimeraApplication/custom_processes/apply_chimera_process_fractional_step.cpp
  applications/ChimeraApplication/custom_processes/apply_chimera_process_fractional_step.h
  applications/ChimeraApplication/custom_processes/apply_chimera_process_monolithic.cpp
  applications/ChimeraApplication/custom_processes/apply_chimera_process_monolithic.h
  applications/ChimeraApplication/custom_processes/rotate_region_process.cpp
  applications/ChimeraApplication/custom_processes/rotate_region_process.h
  applications/ChimeraApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ChimeraApplication/custom_python/add_custom_processes_to_python.h
  applications/ChimeraApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ChimeraApplication/custom_python/add_custom_strategies_to_python.h
  applications/ChimeraApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ChimeraApplication/custom_python/add_custom_utilities_to_python.h
  applications/ChimeraApplication/custom_python/chimera_python_application.cpp
  applications/ChimeraApplication/custom_strategies/custom_builder_and_solver/residualbased_block_builder_and_solver_with_constraints_for_chimera.h
  applications/ChimeraApplication/custom_strategies/strategies/fs_strategy_for_chimera.h
  applications/ChimeraApplication/custom_utilities/distance_calcuation_utility.h
  applications/ChimeraApplication/custom_utilities/fractional_step_settings_for_chimera.h
  applications/ChimeraApplication/custom_utilities/hole_cutting_utility.cpp
  applications/ChimeraApplication/custom_utilities/hole_cutting_utility.h
  applications/ChimeraApplication/python_scripts/chimera_modelpart_import.py
  applications/ChimeraApplication/python_scripts/chimera_setup_utils.py
  applications/ChimeraApplication/python_scripts/fluid_chimera_analysis.py
  applications/ChimeraApplication/python_scripts/navier_stokes_solver_fractionalstep_chimera.py
  applications/ChimeraApplication/python_scripts/navier_stokes_solver_vmsmonolithic_chimera.py
  applications/ChimeraApplication/python_scripts/python_solvers_wrapper_fluid_chimera.py
  applications/ChimeraApplication/python_scripts/rotate_region_process.py
  applications/ChimeraApplication/tests/chimera_analysis_base_test.py
  applications/ChimeraApplication/tests/chimera_analysis_test.py
  applications/ChimeraApplication/tests/flow_over_cross_fractional_step/flow_over_cross_fractional_step.json
  applications/ChimeraApplication/tests/flow_over_cross_fractional_step/flow_over_cross_fractional_step_results.json
  applications/ChimeraApplication/tests/flow_over_cross_monolithic/flow_over_cross_monolithic.json
  applications/ChimeraApplication/tests/flow_over_cross_monolithic/flow_over_cross_monolithic_results.json
  applications/ChimeraApplication/tests/mdpa_for_tests/FluidMaterials.json
  applications/ChimeraApplication/tests/mdpa_for_tests/flow_over_cross/background.mdpa
  applications/ChimeraApplication/tests/mdpa_for_tests/flow_over_cross/patch.mdpa
  applications/ChimeraApplication/tests/rotate_region_test.py
  applications/ChimeraApplication/tests/test_ChimeraApplication.py
Labels: Applications, Kratos Core

#6484 [Core]Cleanup find_nodal_neighbours_process
  kratos/CMakeLists.txt
  kratos/processes/find_nodal_neighbours_process.cpp
  kratos/processes/find_nodal_neighbours_process.h
  kratos/tests/cpp_tests/processes/test_find_nodal_neighbours_process.cpp
Labels: Cleanup, FastPR, Kratos Core, Refactor

#6536 [Fluid] Shock detection process
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_processes/shock_detection_process.cpp
  applications/FluidDynamicsApplication/custom_processes/shock_detection_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_shock_detection_process.cpp
Labels: Applications, Feature

#6452 Utility to obtain Residual projeted onto ROM basis
  applications/RomApplication/custom_python/add_custom_strategies_to_python.h
  applications/RomApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/RomApplication/custom_strategies/rom_builder_and_solver.h
  applications/RomApplication/custom_utilities/rom_residuals_utility.h
Labels: ROM

#6539 [dem] Bugfix for post-processing of EulerAngles
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_utilities/GeometryFunctions.h
  applications/DEMApplication/custom_utilities/post_utilities.h
Labels: Bugfix, Post Process

#6445 [Core] Add MatrixMarket output for complex matrices and vectors
  kratos/includes/matrix_market_interface.h
  kratos/python/add_matrix_market_interface_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_matrix_market_interface.py
Labels: Feature, Kratos Core

#6541 [Core] Replace Elements Process - data is not being conserved
  kratos/processes/replace_elements_and_condition_process.cpp
  kratos/tests/cpp_tests/processes/test_replace_elements_and_condition_process.cpp
Labels: Bugfix, FastPR

#6389 [Core] Adding EntitiesUtilities
  kratos/CMakeLists.txt
  kratos/python/add_utilities_to_python.cpp
  kratos/utilities/entities_utilities.cpp
  kratos/utilities/entities_utilities.h
Labels: Enhancement, FastPR, Kratos Core, Python

#6534 RomApp Generalization for structural elements
  applications/RomApplication/custom_strategies/rom_builder_and_solver.h
  applications/RomApplication/custom_utilities/rom_residuals_utility.h
  applications/RomApplication/python_scripts/convection_diffusion_analysis_rom.py
  applications/RomApplication/python_scripts/structural_mechanics_analysis_rom.py
  applications/RomApplication/tests/structural_dynamic_test_files/MainKratosROM.py
  applications/RomApplication/tests/structural_dynamic_test_files/NodalModes.json
  applications/RomApplication/tests/structural_dynamic_test_files/ProjectParameters.json
  applications/RomApplication/tests/structural_dynamic_test_files/RomParameters.json
  applications/RomApplication/tests/structural_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/structural_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/structural_static_test_files/NodalModes.json
  applications/RomApplication/tests/structural_static_test_files/ProjectParameters.json
  applications/RomApplication/tests/structural_static_test_files/RomParameters.json
  applications/RomApplication/tests/structural_static_test_files/test_ROM.py
  applications/RomApplication/tests/thermal_dynamic_test_files/MainKratosROM.py
  applications/RomApplication/tests/thermal_dynamic_test_files/NodalModes.json
  applications/RomApplication/tests/thermal_dynamic_test_files/ProjectParameters.json
  applications/RomApplication/tests/thermal_dynamic_test_files/RomParameters.json
  applications/RomApplication/tests/thermal_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/thermal_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/thermal_static_test_files/NodalModes.json
  applications/RomApplication/tests/thermal_static_test_files/ProjectParameters.json
  applications/RomApplication/tests/thermal_static_test_files/RomParameters.json
  applications/RomApplication/tests/thermal_static_test_files/test_ROM.py
Labels: ROM

#6544 [CI] making workflow names unique
  .github/workflows/nightly_build.yml
Labels: Continuous Integration, FastPR, Hotfix

#6508 Fix Windows cotire build
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  CMakeLists.txt
  INSTALL.md
  scripts/build/appveyor/configure_appveyor_VS2017.bat
Labels: Enhancement, Windows

#6549 [Core] Add missing include to complex UBLAS interface
  kratos/includes/ublas_complex_interface.h
Labels: FastPR, Hotfix, Kratos Core

#6542 [Core] Convert numpy to Kratos dense matrix
  kratos/python/add_matrix_to_python.cpp
  kratos/tests/test_numpy_export_dense_matrix.py
Labels: Feature, Kratos Core, Python

#6557 [Core] move linear constraint to Constraints folder
  applications/ChimeraApplication/custom_processes/apply_chimera_process.h
  applications/ContactStructuralMechanicsApplication/custom_master_slave_constraints/contact_master_slave_constraint.h
  applications/StructuralMechanicsApplication/custom_utilities/rve_periodicity_utility.cpp
  kratos/constraints/linear_master_slave_constraint.h
  kratos/constraints/slip_constraint.h
  kratos/includes/kratos_application.h
  kratos/python/add_constraint_to_python.cpp
  kratos/tests/cpp_tests/sources/test_constraint.cpp
  kratos/tests/cpp_tests/sources/test_linear_master_slave_constraint.cpp
Labels: Cleanup, FastPR, Kratos Core

#6561 [CI] re-enable StructuralMechanics in Win
  .github/workflows/ci.yml
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.py
Labels: Applications, Continuous Integration, FastPR

#6562 [Core] Migrate from deprecated pybind init function
  kratos/python/add_matrix_to_python.cpp
Labels: Deprecated, FastPR, Kratos Core

#6563 Structural/rework adjoint spring damper element
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.h
Labels: Applications, Enhancement

#6553 [dem] Important bugfix for the automatic coordination number in DEM Continuum
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
Labels: Bugfix

#5169 [Core] Adding delaunator utilities-Using triangle
  applications/DelaunayMeshingApplication/custom_meshers/laplacian_smoothing.hpp
  applications/DelaunayMeshingApplication/custom_meshers/triangular_mesh_2D_mesher.hpp
  applications/MeshingApplication/CMakeLists.txt
  applications/MeshingApplication/external_includes/trigen_cdt.h
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
  applications/MeshingApplication/external_includes/trigen_glass_forming.h
  applications/MeshingApplication/external_includes/trigen_mesh_suite_refine.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_segment.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_vms.h
  external_libraries/triangle/triangle.h
  kratos/CMakeLists.txt
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/cpp_tests/external_libraries/test_delaunator.cpp
  kratos/tests/cpp_tests/utilities/test_delaunator_utilities.cpp
  kratos/utilities/delaunator_utilities.cpp
  kratos/utilities/delaunator_utilities.h
Labels: External library, Kratos Core

#6564 Enable adjoint paramter file & primal data transfer with python
  applications/ShapeOptimizationApplication/tests/opt_process_min_max/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/opt_process_stress_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_semi_analytic_step_size_verification.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_sensitivity_verification_in_design_space.py
  applications/ShapeOptimizationApplication/tests/sensitivity_verification_process_test/run_sensitivity_verification_in_geometry_space.py
  applications/StructuralMechanicsApplication/python_scripts/structural_response.py
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_displacement_response_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_max_stress_response_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_strain_energy_response_parameters.json
  applications/StructuralMechanicsApplication/tests/response_function_tests/adjoint_stress_response_parameters.json
Labels: Enhancement, Python

#6097 [Core] Adding GetDefaultParameter method for the process added to the base class
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/contact_search_wrapper_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/find_intersected_geometrical_objects_with_obb_for_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/mpc_contact_search_wrapper_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/mpc_contact_search_wrapper_process.h
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.h
  applications/MeshingApplication/custom_processes/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg_process.h
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
  kratos/processes/entity_erase_process.cpp
  kratos/processes/entity_erase_process.h
  kratos/processes/find_intersected_geometrical_objects_process.cpp
  kratos/processes/find_intersected_geometrical_objects_process.h
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.cpp
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.h
  kratos/processes/process.h
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/processes/simple_mortar_mapper_wrapper_process.h
  kratos/python/add_processes_to_python.cpp
Labels: Applications, FastPR, Kratos Core

#6565 [Dem] Valgrind memory bug corrected
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_CL.h
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_CL.h
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_bilinear_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_capped_CL.cpp
Labels: Bugfix

#6559 [ConvDiff] Adding get value method for average response function
  applications/ConvectionDiffusionApplication/custom_response_functions/local_temperature_average_response_function.h
Labels: C++

#6571 [Contact] add dependency on StructuralMechanics in CMake
  applications/ContactStructuralMechanicsApplication/CMakeLists.txt
Labels: Applications, Compilation, FastPR

#6568 [Core] UblasSpace fix TwoNorm
  kratos/spaces/ublas_space.h
  kratos/tests/cpp_tests/spaces/test_ublas_space.cpp
Labels: Bugfix, Kratos Core

#6569 [Core] Fix Clang warning
  .github/workflows/ci.yml
  applications/ContactStructuralMechanicsApplication/custom_frictional_laws/frictional_law.h
  kratos/processes/sub_model_part_skin_detection_process.h
Labels: Clang, Compilation, FastPR, Warning

#5905 [Core] Condition number improvement in BlockBuilderAndSolver
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Behaviour Change, Partial Technical Committee Decision

#6566 [dem] Removing obsolete method FinalizeTimeStep
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/time_step_testing_stage.py
  applications/DEMApplication/test_examples/basic_benchmarks/DEM_benchmarks.py
  applications/DEMApplication/test_examples/basic_benchmarks/DEM_benchmarks_analysis.py
  applications/DEMApplication/tests/test_DEM_2D.py
  applications/DEMApplication/tests/test_DEM_2D_contact.py
  applications/DEMApplication/tests/test_DEM_2D_inlet.py
  applications/DEMApplication/tests/test_DEM_3D_contact.py
  applications/DEMApplication/tests/test_analytics.py
  applications/DEMApplication/tests/test_glued_particles.py
  applications/DEMApplication/tests/test_kinematic_constraints.py
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDemSubstepping.py
Labels: Cleanup

#5919 [Core] Consistent BuildRHSAndSolver with BuildAndSolve
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Inconsistent, Kratos Core

#6577 [Core] Moving methods from Block B&S from private to protected
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: FastPR, Kratos Core, Refactor

#5290 [Core][Scheme] adding const
  applications/TrilinosApplication/custom_python/add_trilinos_schemes_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/schemes/scheme.h
Labels: Cleanup, Kratos Core, Transition

#6578 [Fluid][FastPR] Remove move rotor process
  applications/FluidDynamicsApplication/custom_processes/move_rotor_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/python_scripts/apply_move_rotor_process.py
Labels: Applications, Cleanup, FastPR

#6492 [VariableUtils] Fixing ApplyFixity
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  kratos/utilities/variable_utils.h
Labels: Behaviour Change, Bugfix, Kratos Core

#5973 [Core][Geometry] Fixing NurbsCurveOnSurfaceGeometry
  kratos/geometries/nurbs_curve_on_surface_geometry.h
Labels: Bugfix, CAD Integration, Kratos Core

#5850 [Core][Geometry] QuadraturePointCurveOnSurface
  kratos/geometries/quadrature_point_curve_on_surface_geometry.h
  kratos/geometries/quadrature_point_geometry.h
Labels: CAD Integration, FastPR, Kratos Core

#6585 [Chimera] fix FractionalStep process
  applications/ChimeraApplication/custom_processes/apply_chimera_process_fractional_step.cpp
  applications/ChimeraApplication/tests/flow_over_cross_fractional_step/flow_over_cross_fractional_step.json
  applications/ChimeraApplication/tests/flow_over_cross_fractional_step/flow_over_cross_fractional_step_results.json
Labels: Applications, Hotfix

#6176 [Core] Refactor EnsureModelPartOwnsPropertie.Making available from core
  applications/MeshingApplication/custom_utilities/meshing_utilities.cpp
  kratos/python/add_utilities_to_python.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
  kratos/utilities/auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: FastPR, Kratos Core, Refactor

#6545 adding initial version of CODEOWNERS
  .github/CODEOWNERS
Labels: Enhancement

#6587 [CI] attempting cancel redundant builds
  .github/workflows/ci.yml
Labels: Continuous Integration, Enhancement

#6593 [Core] Fix use of Copy Constructor with OtherPointType in NurbsCurveOnSurfaceGeometry
  kratos/geometries/nurbs_curve_on_surface_geometry.h
Labels: CAD Integration, Kratos Core

#6591 [Core] Some clean up of the ResidualBasedEliminationBuilderAndSolver
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
Labels: Cleanup, Kratos Core

#6592 Change size transient test
  applications/RomApplication/tests/thermal_dynamic_test_files/ExpectedOutput.npy
  applications/RomApplication/tests/thermal_dynamic_test_files/RomParameters.json
  applications/RomApplication/tests/thermal_dynamic_test_files/Square_Radiation_Transient.mdpa
Labels: ROM

#6589 [Core] Missing copy in pytthon for matrix and vector
  kratos/python/add_matrix_to_python.cpp
  kratos/python/add_vector_to_python.cpp
  kratos/tests/test_matrix_interface.py
Labels: FastPR, Kratos Core, Python

#6595 [Core][BlockBuilder] allow zero diagonal
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Kratos Core

#6597 [Core][Unittest] print failing index
  kratos/python_scripts/KratosUnittest.py
  kratos/tests/test_matrix_interface.py
  kratos/tests/test_vector_interface.py
Labels: FastPR, Kratos Core, Testing

#6573 [EigenApp] EigenSystemSolver: optional selection of MKL
  applications/EigenSolversApplication/custom_solvers/eigensystem_solver.h
Labels: Applications, Enhancement

#6560 Adjoint surface and line load condition
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_point_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_point_load_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/eigenfrequency_response_function_utility.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/finite_difference_utility.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/finite_difference_utility.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/strain_energy_response_function_utility.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_adjoint_loading_conditions.py
  kratos/python/add_mesh_to_python.cpp
Labels: C++, Feature

#6613 [Core] VtkOutputProcess typo
  kratos/python_scripts/vtk_output_process.py
Labels: FastPR, Kratos Core, Python, Typo

#6609 [ContactStructuralMechanicsApplication] Small clean up of the app
  applications/ContactStructuralMechanicsApplication/custom_python/contact_structural_mechanics_python_application.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/search_base_process.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
Labels: Applications, Cleanup, FastPR

#6600 [Core] Clean up exception.h
  kratos/includes/exception.h
Labels: Cleanup, FastPR, Kratos Core

#6603 [MeshingApplication] Cleanup meshing utilities. Removing method moved to the core weeks ago
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_utilities/meshing_utilities.cpp
  applications/MeshingApplication/custom_utilities/meshing_utilities.h
  applications/MeshingApplication/tests/cpp_tests/test_meshing_utilities.cpp
  kratos/python/add_utilities_to_python.cpp
Labels: Applications, Cleanup

#6003 [Core][ModelPart] Improve Prints when distributed
  kratos/includes/communicator.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/sources/communicator.cpp
  kratos/sources/model_part.cpp
Labels: Enhancement, Implementation Committee Consensus, Implementation Committee Final Decision, Kratos Core, Parallel-MPI

#6496 [Pybind] update to 2.4.3
  external_libraries/pybind11/attr.h
  external_libraries/pybind11/cast.h
  external_libraries/pybind11/chrono.h
  external_libraries/pybind11/complex.h
  external_libraries/pybind11/detail/class.h
  external_libraries/pybind11/detail/common.h
  external_libraries/pybind11/detail/descr.h
  external_libraries/pybind11/detail/init.h
  external_libraries/pybind11/detail/internals.h
  external_libraries/pybind11/detail/typeid.h
  external_libraries/pybind11/eigen.h
  external_libraries/pybind11/embed.h
  external_libraries/pybind11/functional.h
  external_libraries/pybind11/iostream.h
  external_libraries/pybind11/numpy.h
  external_libraries/pybind11/pybind11.h
  external_libraries/pybind11/pytypes.h
  external_libraries/pybind11/stl.h
  external_libraries/pybind11/stl_bind.h
Labels: External library, Python

#6463 [core] Exporting the Quaternion to Python
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_utilities/create_and_destroy.cpp
  applications/DEMApplication/custom_utilities/post_utilities.h
  applications/SolidMechanicsApplication/custom_utilities/shellq4_corotational_coordinate_transformation.hpp
  applications/SolidMechanicsApplication/custom_utilities/shellt3_corotational_coordinate_transformation.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shellq4_corotational_coordinate_transformation.hpp
  applications/StructuralMechanicsApplication/custom_utilities/shellt3_corotational_coordinate_transformation.hpp
  kratos/CMakeLists.txt
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_node_to_python.cpp
  kratos/python/add_quaternion_to_python.cpp
  kratos/python/add_quaternion_to_python.h
  kratos/python/add_utilities_to_python.cpp
  kratos/python/kratos_python.cpp
  kratos/sources/variables.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/quaternion.h
Labels: Feature, Incomplete, Kratos Core, Python

#6614 [DemStructures] Adding 2.5D condition name for blind test
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
Labels: Python

#6556 Update importing of Applications
  CMakeLists.txt
  applications/StructuralMechanicsApplication/StructuralMechanicsApplication.py
  kratos/python_interface/__init__.py
Labels: Applications, Cleanup

#6574 [Applications] Remove Core register
  applications/CSharpWrapperApplication/csharp_wrapper_application.cpp
  applications/CableNetApplication/cable_net_application.cpp
  applications/ChimeraApplication/chimera_application.cpp
  applications/CoSimulationApplication/co_simulation_application.cpp
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application.cpp
  applications/ConstitutiveModelsApplication/constitutive_models_application.cpp
  applications/ContactMechanicsApplication/contact_mechanics_application.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.cpp
  applications/ConvectionDiffusionApplication/convection_diffusion_application.cpp
  applications/DEMApplication/DEM_application.cpp
  applications/DamApplication/dam_application.cpp
  applications/DelaunayMeshingApplication/delaunay_meshing_application.cpp
  applications/DemStructuresCouplingApplication/dem_structures_coupling_application.cpp
  applications/EigenSolversApplication/eigen_solvers_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application.cpp
  applications/ExternalSolversApplication/externalsolvers_application.cpp
  applications/FSIApplication/fsi_application.cpp
  applications/FemToDemApplication/fem_to_dem_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidTransportApplication/fluid_transport_application.cpp
  applications/FreeSurfaceApplication/free_surface_application.cpp
  applications/HDF5Application/hdf5_application.cpp
  applications/IgaApplication/iga_application.cpp
  applications/MappingApplication/mapping_application.cpp
  applications/MeshMovingApplication/mesh_moving_application.cpp
  applications/MeshingApplication/meshing_application.cpp
  applications/MetisApplication/metis_application.cpp
  applications/MultilevelMonteCarloApplication/multilevel_monte_carlo_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/PfemApplication/pfem_application.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.cpp
  applications/PfemSolidMechanicsApplication/pfem_solid_mechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/RANSApplication/rans_application.cpp
  applications/RomApplication/rom_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShapeOptimizationApplication/shape_optimization_application.cpp
  applications/SolidMechanicsApplication/solid_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/SwimmingDEMApplication/swimming_DEM_application.cpp
  applications/TrilinosApplication/trilinos_application.cpp
  applications/ULFapplication/ULF_application.cpp
  applications/UmatApplication/umat_application.cpp
  applications/pfem_2_application/pfem_2_application.cpp
  kratos/templates/template_application/template_application.cpp.in
Labels: Applications, Cleanup

#6616 [Core] Fix slow test fct
  kratos/python_scripts/KratosUnittest.py
Labels: Kratos Core, Testing

#6551 Eigensolvers by default
  INSTALL.md
  applications/ExternalSolversApplication/README.md
  scripts/standard_configure.bat
  scripts/standard_configure.sh
  scripts/standard_configure_MINGW.sh
  scripts/standard_configure_mac.sh
Labels: Applications, Enhancement

#6622 Update TemplateApp after #6556
  kratos/templates/template_application/TemplateApplication.py.in
Labels: FastPR, Incomplete, Kratos Core

#6625 [ContactStructuralMechanicsApplication] Update import
  applications/ContactStructuralMechanicsApplication/ContactStructuralMechanicsApplication.py
Labels: Applications, FastPR, Python

#6626 [MeshingApplication] Update import script
  applications/MeshingApplication/MeshingApplication.py
Labels: Applications, FastPR, Python

#6627 [ConvectionDiffusion] Update import script
  applications/ConvectionDiffusionApplication/ConvectionDiffusionApplication.py
Labels: Applications, FastPR, Python

#6628 [ExternalSolverApplication] Update import script
  applications/ExternalSolversApplication/ExternalSolversApplication.py
Labels: Applications, FastPR, Python

#6629 [EigenSolversApplication] Update import script
  applications/EigenSolversApplication/EigenSolversApplication.py
Labels: Applications, FastPR, Python

#6434 [Structural] Eigensolver improve Dirichlet BC handling
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_different_dofs.mdpa
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_different_dofs_materials.json
  applications/StructuralMechanicsApplication/tests/eigen_test/Eigen_different_dofs_parameters.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_eigenvalue_analysis.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_different_dofs.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_with_constraints.py
Labels: Applications, Enhancement

#6620 [CodeOwners] add root folder
  .github/CODEOWNERS
Labels: FastPR

#6637 [MPI] fix ParallelFillCommunicator warning
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.h
Labels: Bugfix, Kratos Core, Parallel-MPI, Warning

#6528 [Core] deprecate GetValuesOnIntegrationPoints in python.
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/PfemSolidMechanicsApplication/python_scripts/gauss_point_utility.py
  kratos/python/add_mesh_to_python.cpp
Labels: API Breaker, Bugfix, Cleanup, Incomplete, Kratos Core

#6575 [Fluid] Fine grained Python solvers
  applications/ChimeraApplication/python_scripts/navier_stokes_solver_fractionalstep_chimera.py
  applications/ChimeraApplication/python_scripts/navier_stokes_solver_vmsmonolithic_chimera.py
  applications/ChimeraApplication/tests/chimera_analysis_base_test.py
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_adjoint_solver.py
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_solver.py
  applications/CompressiblePotentialFlowApplication/tests/embedded_test/embedded_circle_adjoint_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/naca0012_small_adjoint_test/naca0012_small_sensitivities_adjoint_analytical_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/naca0012_small_adjoint_test/naca0012_small_sensitivities_adjoint_parameters.json
  applications/FSIApplication/python_scripts/partitioned_embedded_fsi_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_vmsmonolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_ale_fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/python_scripts/steady_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/stokes_solver.py
  applications/FluidDynamicsApplication/python_scripts/stokes_solver_monolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_adjoint_vmsmonolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/darcy_channel_test.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
Labels: Applications, Cleanup, Convention, Help Wanted, Python, Usability

#6642 [Apps] updating imports
  applications/CSharpWrapperApplication/CSharpWrapperApplication.py
  applications/CableNetApplication/CableNetApplication.py
  applications/ChimeraApplication/ChimeraApplication.py
  applications/CoSimulationApplication/CoSimulationApplication.py
  applications/CompressiblePotentialFlowApplication/CompressiblePotentialFlowApplication.py
  applications/ConstitutiveModelsApplication/ConstitutiveModelsApplication.py
  applications/ContactStructuralMechanicsApplication/ContactStructuralMechanicsApplication.py
  applications/ConvectionDiffusionApplication/ConvectionDiffusionApplication.py
  applications/DEMApplication/DEMApplication.py
  applications/DamApplication/DamApplication.py
  applications/DelaunayMeshingApplication/DelaunayMeshingApplication.py
  applications/DemStructuresCouplingApplication/DemStructuresCouplingApplication.py
  applications/EigenSolversApplication/EigenSolversApplication.py
  applications/ExaquteSandboxApplication/ExaquteSandboxApplication.py
  applications/ExternalSolversApplication/ExternalSolversApplication.py
  applications/FSIApplication/FSIApplication.py
  applications/FemToDemApplication/FemToDemApplication.py
  applications/FluidDynamicsApplication/FluidDynamicsApplication.py
  applications/FluidTransportApplication/FluidTransportApplication.py
  applications/FreeSurfaceApplication/FreeSurfaceApplication.py
  applications/HDF5Application/HDF5Application.py
  applications/IgaApplication/IgaApplication.py
  applications/MappingApplication/MappingApplication.py
  applications/MeshMovingApplication/MeshMovingApplication.py
  applications/MeshingApplication/MeshingApplication.py
  applications/MetisApplication/MetisApplication.py
  applications/MultilevelMonteCarloApplication/MultilevelMonteCarloApplication.py
  applications/ParticleMechanicsApplication/ParticleMechanicsApplication.py
  applications/PfemFluidDynamicsApplication/PfemFluidDynamicsApplication.py
  applications/PoromechanicsApplication/PoromechanicsApplication.py
  applications/RANSApplication/RANSApplication.py
  applications/RomApplication/RomApplication.py
  applications/ShallowWaterApplication/ShallowWaterApplication.py
  applications/ShapeOptimizationApplication/ShapeOptimizationApplication.py
  applications/SolidMechanicsApplication/SolidMechanicsApplication.py
  applications/StructuralMechanicsApplication/StructuralMechanicsApplication.py
  applications/SwimmingDEMApplication/SwimmingDEMApplication.py
  applications/TrilinosApplication/TrilinosApplication.py
  applications/UmatApplication/UmatApplication.py
  applications/pfem_2_application/PFEM2Application.py
  kratos/templates/template_application/TemplateApplication.py.in
Labels: Applications, Deprecated, FastPR

#6461 [CoSim] access to SubSolver
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/co_simulation_analysis.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_co_simulation_analysis.py
Labels: Applications, Feature
