Repository KratosMultiphysics/Kratos, pull requests merged in 2021-11, with the labels that each got.

#9271 [Mapping] remove unnecessary-sync
  applications/MappingApplication/mpi_extension/custom_searching/interface_communicator_mpi.cpp
Labels: Cleanup, Applications, Parallel-MPI, FastPR

#9270 [Mapping] updating deprecated input
  applications/MappingApplication/mpi_extension/cpp_tests/test_mapper_utilities_mpi.cpp
  applications/MappingApplication/python_scripts/python_mapper_factory.py
  applications/MappingApplication/tests/basic_mapper_tests.py
  applications/MappingApplication/tests/blade_mapping_test.py
  applications/MappingApplication/tests/test_coupling_geometry_mapper.py
  applications/MappingApplication/tests/test_nearest_neighbor_mapper.py
  applications/MappingApplication/tests/test_patch_test_mappers.py
Labels: Cleanup, Applications, Deprecated, FastPR

#9224 [MPI] missing checks if DataComm is distributed
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/sources/test_mpi_assign_unique_model_part_collection_tag_utility.cpp
  kratos/mpi/utilities/parallel_fill_communicator.cpp
Labels: Kratos Core, Parallel-MPI, FastPR

#9274 [Shallow] Remove post process utilities
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/post_process_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/post_process_utilities.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/output/visualization_mesh_process.py
  applications/ShallowWaterApplication/tests/processes_tests/visualization_mesh_process_parameters.json
Labels: Usability

#9247 [Core] thread safe folder creation
  applications/HDF5Application/python_scripts/core/file_io.py
  kratos/includes/kratos_filesystem.h
  kratos/input_output/vtk_output.cpp
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python_scripts/restart_utility.py
  kratos/python_scripts/time_based_ascii_file_writer_utility.py
  kratos/sources/kratos_filesystem.cpp
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
Labels: Enhancement, Kratos Core, Parallel-MPI, Usability

#9275 [Shallow] Remove deprecation warning
  applications/ShallowWaterApplication/custom_elements/wave_element.cpp
Labels: Cleanup

#9262 [Core] Proposal: make HasIntersection const
  kratos/geometries/geometry.h
  kratos/geometries/hexahedra_3d_8.h
  kratos/geometries/line_2d_2.h
  kratos/geometries/prism_3d_6.h
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_3d_3.h
Labels: Kratos Core, API Breaker, Proposal

#9272 [FastPR][Core] Moving RVE periodicity utility to core
  applications/StructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/StructuralMechanicsApplication/python_scripts/rve_analysis.py
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/cpp_tests/sources/test_kratos_components.cpp
  kratos/utilities/rve_periodicity_utility.cpp
  kratos/utilities/rve_periodicity_utility.h
Labels: FastPR

#9268 [CoSim] improvements for MPI with SubComms
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/convergence_accelerator_wrapper.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/convergence_criteria_wrapper.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/relative_norm_initial_residual.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/relative_norm_previous_residual.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/compute_normals.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/elemental_data_to_nodal_data.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/scaling.py
  applications/CoSimulationApplication/python_scripts/factories/helpers.py
  applications/CoSimulationApplication/tests/test_convergence_accelerators.py
  applications/CoSimulationApplication/tests/test_convergence_criteria.py
  applications/CoSimulationApplication/tests/test_processes.py
Labels: Applications, Parallel-MPI, FastPR, Usability

#9277 [MLMC] Fix if statement that was producing a wrong print
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/KratosSolverWrapper.py
  applications/MultilevelMonteCarloApplication/python_scripts/adaptive_refinement_utilities.py
Labels: Bugfix

#9276 [Core] Add duplicate mesh modeler to python
  kratos/modeler/duplicate_mesh_modeler.cpp
  kratos/modeler/duplicate_mesh_modeler.h
  kratos/python/add_modeler_to_python.cpp
Labels: Usability

#9096 [Core] Adding Pyramid Geometries
  kratos/geometries/geometry_data.h
  kratos/geometries/pyramid_3d_13.h
  kratos/geometries/pyramid_3d_5.h
  kratos/includes/kratos_application.h
  kratos/input_output/vtk_output.cpp
  kratos/integration/pyramid_gauss_legendre_integration_points.h
  kratos/sources/kratos_application.cpp
  kratos/tests/cpp_tests/geometries/test_geometry.cpp
  kratos/tests/cpp_tests/geometries/test_pyramid_3d_13.cpp
  kratos/tests/cpp_tests/geometries/test_pyramid_3d_5.cpp
  kratos/utilities/geometry_tester.h
Labels: Kratos Core, Feature

#9285 [Mapping] enabling pyramids
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
Labels: Enhancement, Applications, FastPR

#9286 [Core] Fix delaunator triangle active
  CMakeLists.txt
  applications/MeshingApplication/custom_python/add_meshers_to_python.cpp
  kratos/includes/kratos_application.h
  kratos/modeler/cad_tessellation_modeler.cpp
  kratos/modeler/cad_tessellation_modeler.h
  kratos/sources/kratos_application.cpp
  kratos/utilities/tessellation_utilities/delaunator_utilities.cpp
Labels: Kratos Core, Hotfix, External library, FastPR

#9150 [Core] Adding scientific precission to ModelPartIO (transition #8576)
  kratos/includes/io.h
  kratos/python/add_io_to_python.cpp
  kratos/sources/io.cpp
  kratos/sources/model_part.cpp
  kratos/sources/model_part_io.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_write.mdpa
  kratos/tests/test_model_part_io.py
Labels: Cleanup, Testing, FastPR, Transition

#9287 [CoSim] fixing tests
  applications/CoSimulationApplication/tests/co_sim_io_py_exposure_aux_files/import_export_mesh.py
  applications/CoSimulationApplication/tests/test_co_sim_io_py_exposure.py
Labels: Applications, Testing, Hotfix, FastPR

#9283 [Core][MPI] adding useful print
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
Labels: Parallel-MPI, FastPR, Usability

#9293 mpi bugfix in test_metis_submodelpart_list.py
  applications/MetisApplication/tests/test_metis_submodelpart_list.py
Labels: Testing, Parallel-MPI, FastPR, Bugfix

#9301 [ContactStructuralMechanicsApplication] First parallel utils migration
  applications/ContactStructuralMechanicsApplication/custom_linear_solvers/mixedulm_linear_solver.h
  applications/ContactStructuralMechanicsApplication/custom_processes/aalm_adapt_penalty_value_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_fast_init_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/compute_dynamic_factor_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/compute_dynamic_factor_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/mpc_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_gap_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_gap_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/simple_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/simple_contact_search_process.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_builder_and_solvers/contact_residualbased_block_builder_and_solver.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mpc_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/line_search_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_mpc_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/interface_preprocess.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/self_contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Cleanup, Applications, Parallel-OMP, Refactor, HPC, Update API

#9295 [MeshingApplication] Isosurface - Clean conditions that do not belong to an element face
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg/mmg_process.h
Labels: Applications, Bugfix

#9297 [MeshingApplication] Enable surface remeshing with ParMmg v1.4.0
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.cpp
  applications/MeshingApplication/tests/test_mpi_parmmg.py
Labels: Applications, External library, Feature

#9170 [MLMC] Move serial serialization within a task
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/KratosSolverWrapper.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/methodDefs_KratosSolverWrapper/solve.py
Labels: Bugfix

#9303 [ContactStructuralmechanicsApplication] Update test
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_test_results_LM.json
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Cleanup, Applications, Testing, Parallel-OMP, FastPR

#9305 [Meshing] ParMmg - Pass MPI COMM world from modelpart data communicator
  applications/MeshingApplication/custom_processes/parmmg/pmmg_process.cpp
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.h
Labels: Cleanup, Applications, External library

#8991 [ExaQUte] Prepare for MPI benchmarks
  applications/ExaquteSandboxApplication/python_scripts/WindGenerator/onthefly_kratos_inlet_process.py
  applications/ExaquteSandboxApplication/python_scripts/kratos_perturbation_process.py
Labels: Incomplete, Parallel-MPI

#8802 Porting OMP loops to Parallel Utilities 12
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/mortar_utilities.h
Labels: Cleanup, Kratos Core, Parallel-OMP, Refactor, Leftover

#9309 Update INSTALL.md
  INSTALL.md
Labels: Documentation

#9189 [ConvDiff] Stationary embedded solver
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_embedded_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/python_solvers_wrapper_convection_diffusion.py
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_embedded_solver.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_embedded_solver/ConvectionDiffusionMaterials.json
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_embedded_solver/ProjectParameters.json
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_embedded_solver/reference_embedded_dirichlet_circle
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_embedded_solver/square.mdpa
Labels: Applications

#9311 missing KratosGeometryType
  applications/DelaunayMeshingApplication/custom_utilities/boundary_normals_calculation_utilities.hpp
  kratos/modeler/cad_tessellation_modeler.cpp
Labels: Hotfix

#9288 [DEM] Unified processes for particles and FEM
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/custom_processes/apply_forces_and_moments_process.cpp
  applications/DEMApplication/custom_processes/apply_forces_and_moments_to_walls_process.cpp
  applications/DEMApplication/custom_processes/apply_forces_and_moments_to_walls_process.hpp
  applications/DEMApplication/custom_processes/apply_kinematic_constraints_process.cpp
  applications/DEMApplication/custom_processes/apply_kinematic_constraints_to_walls_process.cpp
  applications/DEMApplication/custom_processes/apply_kinematic_constraints_to_walls_process.hpp
  applications/DEMApplication/custom_python/add_custom_processes_to_python.cpp
  applications/DEMApplication/python_scripts/processes/apply_forces_and_moments_to_walls_process.py
  applications/DEMApplication/python_scripts/processes/apply_kinematic_constraints_to_walls_process.py
  applications/DEMApplication/tests/forces_and_moments_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/history_dependent_CLs_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/kinematic_constraints_tests_files/ProjectParametersDEM.json
Labels: FastPR

#9306 [MLMC] Add processes per node variable
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/local/decorators.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/methodDefs_KratosSolverWrapper/mpi_solve.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/methodDefs_KratosSolverWrapper/solve.py
Labels: Enhancement

#9319 [CI] using github native solution to cancel redundant runs
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
Labels: Enhancement, Continuous Integration, Usability

#9320 [CoSim] updating readme
  applications/CoSimulationApplication/README.md
Labels: Applications, Documentation, FastPR

#9321 [FastPR][Core][Poro] Missing cast int
  kratos/geometries/quadrilateral_interface_3d_4.h
Labels: Error, Kratos Core, FastPR

#9322 Fixing bug
  applications/PfemFluidDynamicsApplication/custom_processes/set_material_properties_for_thermal_coupling_process.hpp
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_thermally_coupled_solver.py
Labels: Bugfix

#9329 [Mapping] some MPI fixes
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/MappingApplication/custom_searching/interface_communicator.cpp
  applications/MappingApplication/custom_searching/interface_communicator.h
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/MappingApplication/mpi_extension/custom_searching/interface_communicator_mpi.cpp
Labels: Applications, Hotfix, Parallel-MPI, FastPR

#9327 [MLMC] Add scalability figures in README
  applications/MultilevelMonteCarloApplication/README.md
Labels: Documentation

#9015 [TwoFluids] Acceleration Correction
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/custom_processes/mass_conservation_check_process.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_two_fluid_navier_stokes_element.cpp
Labels: Applications

#9219 [Core] OctreeBinary cleanup
  kratos/geometries/line_3d_2.h
  kratos/spatial_containers/octree_binary.h
  kratos/utilities/intersection_utilities.h
Labels: Cleanup

#9313 [FSI] use edge distances for embedded FSI (treat incised elements)
  applications/FSIApplication/python_scripts/partitioned_embedded_fsi_base_solver.py
Labels: Enhancement, Applications

#9331 [Shallow] Fix test and update method
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/tests/processes_tests/nodes_output_process_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
  applications/ShallowWaterApplication/tests/processes_tests/visualization_mesh_process_parameters.json
Labels: Testing, Post Process

#9201 [dem] Windows compilation fix. Missing include for random variables
  applications/DEMApplication/custom_utilities/discrete_random_variable.cpp
  applications/DEMApplication/custom_utilities/discrete_random_variable.h
  applications/DEMApplication/custom_utilities/piecewise_linear_random_variable.h
  applications/DEMApplication/custom_utilities/random_variable.h
Labels: Windows, Compilation

#9334 [ContactStructuralMechanicsApplication] Missing ParallelUtilities migration
  applications/ContactStructuralMechanicsApplication/custom_linear_solvers/mixedulm_linear_solver.h
  applications/ContactStructuralMechanicsApplication/custom_processes/advanced_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mpc_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.cpp
Labels: Applications, Parallel-OMP, FastPR, Refactor, HPC, Update API

#9338 [Structural] use new input in FormFinding strategy
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/formfinding_strategy.hpp
Labels: Applications, Hotfix, FastPR

#9269 [Hdf5] Import model part
  applications/HDF5Application/python_scripts/core/operations/model_part.py
  applications/HDF5Application/python_scripts/import_model_part_from_hdf5_process.py
  applications/HDF5Application/tests/test_hdf5_processes.py
Labels: Enhancement, Applications, Proposal

#9222 [Core]ModelPartIO] missing decrement of counter
  kratos/sources/model_part_io.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/coarse_sphere_with_conditions.mdpa
Labels: Kratos Core, Parallel-MPI, Bugfix

#9314 [Iga] Stress recovery on embedded geometry inside nurbs volume
  applications/IgaApplication/custom_processes/assign_integration_points_to_background_elements_process.cpp
  applications/IgaApplication/custom_processes/assign_integration_points_to_background_elements_process.h
  applications/IgaApplication/custom_python/add_custom_processes_to_python.cpp
  applications/IgaApplication/python_scripts/assign_integration_points_to_background_elements_process.py
  applications/IgaApplication/python_scripts/iga_output_process.py
Labels: Applications

#8803 Core/Porting OMP for loops to Parallel Utilities - 13
  kratos/processes/variational_distance_calculation_process.h
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_lagrange_multiplier.h
  kratos/utilities/variable_utils.cpp
Labels: Kratos Core, Parallel-OMP, Refactor

#9340 [DelaunayMeshingApplication] Error compilation with CMake if USE_TRIANGLE_NONFREE_TPL not set
  applications/DelaunayMeshingApplication/CMakeLists.txt
Labels: Applications, Hotfix, External library, FastPR, Bugfix, CMake

#9326 [Core] using GlobalLock in ReductionUtils
  applications/CompressiblePotentialFlowApplication/custom_response_functions/adjoint_far_field_lift_response_function.cpp
  applications/CompressiblePotentialFlowApplication/custom_utilities/potential_flow_utilities.cpp
  applications/DEMApplication/custom_utilities/post_utilities.h
  applications/FluidDynamicsApplication/custom_utilities/acceleration_limitation_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/estimate_dt_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.cpp
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_searching/interface_communicator.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/ShallowWaterApplication/custom_processes/calculate_distance_to_boundary_process.cpp
  applications/ShallowWaterApplication/custom_utilities/estimate_dt_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/face_angle_response_function_utility.cpp
  kratos/containers/csr_matrix.h
  kratos/input_output/vtk_output.cpp
  kratos/processes/apply_periodic_boundary_condition_process.cpp
  kratos/processes/from_json_check_result_process.cpp
  kratos/processes/from_json_check_result_process.h
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
  kratos/utilities/reduction_utilities.h
  kratos/utilities/variable_redistribution_utility.cpp
  kratos/utilities/variable_utils.h
Labels: Kratos Core, Applications, After Release, Parallel-SMP

#9345 [MeshingApplication] Correct isosurface metric loading for MMG versions >=5.5
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.h
Labels: Applications, External library, Bugfix

#9347 [Core] Missing include. Fix #9346
  kratos/modeler/cad_tessellation_modeler.cpp
Labels: Kratos Core, FastPR, Conflict Unity compilation

#9337 [Structural] Shell q4thk initial strain test
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test.mdpa
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test_materials.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test_parameters.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test_results.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
Labels: Applications

#9342 [Shallow] Aux scripts for coupling posprocess
  applications/ShallowWaterApplication/python_scripts/postprocess/generate_gid_list_file.py
  applications/ShallowWaterApplication/python_scripts/postprocess/visualization_mesh_process.py
Labels: Post Process

#9359 [CoSim] CoSimIO - fixing pyramid/prisms
  applications/CoSimulationApplication/custom_utilities/co_sim_io_conversion_utilities.cpp
Labels: Applications, Hotfix, FastPR, Bugfix

#9361 [Poro] Temporary removing old MPI implementation
  applications/PoromechanicsApplication/CMakeLists.txt
  applications/PoromechanicsApplication/README.md
  applications/PoromechanicsApplication/custom_python/add_custom_mpi_strategies_to_python.cpp
  applications/PoromechanicsApplication/custom_python/add_custom_mpi_strategies_to_python.h
  applications/PoromechanicsApplication/custom_python/poromechanics_mpi_python_application.cpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_dynamic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_quasistatic_damped_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/python_scripts/poromechanics_MPI_U_Pw_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_analysis.py
Labels: Cleanup, Parallel-MPI

#9362 missing include
  applications/ContactStructuralMechanicsApplication/custom_utilities/active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/contact_utilities.cpp
Labels: Linux, Compilation

#9349 [MLMC] Use environment variable to set which XMC library to use
  applications/MultilevelMonteCarloApplication/CMakeLists.txt
  applications/MultilevelMonteCarloApplication/MultilevelMonteCarloApplication.py
  applications/MultilevelMonteCarloApplication/README.md
  applications/MultilevelMonteCarloApplication/custom_python/multilevel_monte_carlo_python_application.cpp
Labels: External library

#9363 [Core, Fluids] Two Fluids - setting process info values at every time step
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/tests/TwoFluidMassConservationSourceTest/ProjectParameter3D.json
  applications/FluidDynamicsApplication/tests/TwoFluidMassConservationSourceTest/ProjectParameters2D.json
  applications/FluidDynamicsApplication/tests/TwoFluidMassConservationSourceTest/ProjectParameters3DVariableInlet.json
  kratos/processes/levelset_convection_process.h
Labels: Enhancement, Bugfix

#9343 [Core] Generalized Runge-Kutta4 explicit startegy into arbitrary choice of RK method
  applications/ConvectionDiffusionApplication/custom_strategies/strategies/explicit_runge_kutta_4_eulerian_convdiff_strategy.h
  applications/FluidDynamicsApplication/custom_strategies/strategies/compressible_navier_stokes_explicit_solving_strategy_runge_kutta_4.h
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/strategies/butcher_tableau.h
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta.h
  kratos/tests/cpp_tests/strategies/strategies/test_explicit_strategies.cpp
Labels: Kratos Core, C++, Feature

#9332 [Fluid] Modify edge distances consistently (for incised elements)
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_modification_process.h
  applications/FluidDynamicsApplication/custom_utilities/embedded_discontinuous_data.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_distance_modification_process.cpp
Labels: Enhancement, Cleanup, Applications

#9357 [RANS] Removing import if block
  applications/RANSApplication/RANSApplication.py
Labels: Python, FastPR

#9366 [CoSim] fixes for older systems
  applications/CoSimulationApplication/CMakeLists.txt
  applications/CoSimulationApplication/custom_external_libraries/CoSimIO/CMakeLists.txt
  applications/CoSimulationApplication/custom_utilities/feti_dynamic_coupling_utilities.cpp
  applications/CoSimulationApplication/custom_utilities/feti_dynamic_coupling_utilities.h
  applications/CoSimulationApplication/mpi_extension/CMakeLists.txt
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
Labels: Applications, Hotfix

#9350 [Fluid] Adapting compressible fluid solver to new Runge-Kutta methods
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/compressible_navier_stokes_explicit_solving_strategy_runge_kutta.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
  applications/FluidDynamicsApplication/tests/test_navier_stokes_compressible_explicit_solver.py
Labels: Python, C++, FastPR

#9370 [DEM] Reduced time for glued test
  applications/DEMApplication/tests/glued_particles_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/test_glued_particles.py
Labels: Cleanup, Testing

#9296 [Core] [GidOutputProcess] time label format
  kratos/python_scripts/gid_output_process.py
Labels: Post Process

#9372 [ContactStructuralMechanicsApplication] This ensures ALM variables are initialized
  applications/ContactStructuralMechanicsApplication/python_scripts/alm_contact_process.py
Labels: Applications, FastPR, Inconsistent

#9360 [Core] Move intersections to IntersectionUtilities
  kratos/geometries/line_3d_2.h
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_3d_3.h
  kratos/processes/find_intersected_geometrical_objects_process.cpp
  kratos/processes/find_intersected_geometrical_objects_process.h
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.cpp
  kratos/processes/find_intersected_geometrical_objects_with_obb_process.h
  kratos/utilities/intersection_utilities.h
Labels: Duplicate, Feature

#9371 [Core] [GidOutput] Create folder if non existing
  kratos/python_scripts/gid_output_process.py
Labels: Post Process, Usability

#3170 Core/adding clear to modelpart
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
Labels: Kratos Core, TODO

#9335 [Core][ParallelUtils] adding support for exceptions
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
Labels: Enhancement, Error, Kratos Core, Parallel-SMP, Usability

#9375 [ConvDiff] Add documentation of convection difffusion explicit elements
  applications/ConvectionDiffusionApplication/custom_elements/d_convection_diffusion_explicit.h
  applications/ConvectionDiffusionApplication/custom_elements/qs_convection_diffusion_explicit.h
Labels: Documentation

#9379 WIN compilation error
  kratos/solving_strategies/strategies/butcher_tableau.h
Labels: Compilation, FastPR

#9367 [Fluid] Fixed most compilation warnings from FluidDynamicsApplication
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_utilities/dynamic_smagorinsky_utilities.h
  applications/FluidDynamicsApplication/custom_utilities/statistics_record.cpp
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
Labels: Gcc, Compilation, Deprecated, Bugfix

#9383 [CoSim] fix CouplingOutput in MPI
  applications/CoSimulationApplication/python_scripts/coupling_operations/coupling_output.py
Labels: Enhancement, Applications, Parallel-MPI, FastPR

#9377 [Core] using MPISafeCreateDirectories in ModelPartIO
  kratos/sources/model_part_io.cpp
Labels: Kratos Core, Hotfix, Incomplete, FastPR

#9388 [Core] Add GetDofs const method to Node
  kratos/includes/node.h
Labels: Kratos Core, C++, FastPR, Feature

#9391 [Core] Expose response function method to python
  kratos/python/add_response_functions_to_python.cpp
Labels: Kratos Core, C++, FastPR

#9062 Adding print process python
  kratos/python_scripts/print_info_in_file_process.py
  kratos/python_scripts/time_based_ascii_file_writer_utility.py
  kratos/tests/test_KratosCore.py
  kratos/tests/test_print_info_in_file.py
Labels: Enhancement, Discussion, Python, FastPR, Proposal

#9114 [Core] SpansLocalSpace of CouplingGeometry
  kratos/geometries/coupling_geometry.h
  kratos/tests/cpp_tests/geometries/test_coupling_geometry_quadrature.cpp
  kratos/tests/cpp_tests/utilities/test_curve_axis_intersection.cpp
  kratos/utilities/curve_axis_intersection.h
Labels: Bugfix, CAD Integration

#9387 Removed deprecated function from python API
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_post_process_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_post_process_utilities.h
Labels: Cleanup, Python, API Breaker, Deprecated, FastPR, Leftover

#9392 [Core] Add Step index for SetVariable in VariableUtils
  kratos/python/add_variable_utils_to_python.cpp
  kratos/utilities/variable_utils.h
Labels: Kratos Core, C++, FastPR

#9389 [Core] Expose Condition Calculate Interfaces to python
  kratos/python/add_mesh_to_python.cpp
Labels: Kratos Core, C++, FastPR

#9141 [Iga] Enable output coupling integration points
  applications/IgaApplication/custom_processes/output_quadrature_domain_process.cpp
  applications/IgaApplication/custom_processes/output_quadrature_domain_process.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/input_output/cad_json_input.h
Labels: CAD Integration

#9395 [FluidDyn] Two Fluids - paralllel redistance - decrease the number of layers in parallel
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
Labels: Enhancement

#9310 [Fluid] Implemented new shock capturing process
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.h
  applications/FluidDynamicsApplication/custom_processes/shock_capturing_entropy_viscosity_process.cpp
  applications/FluidDynamicsApplication/custom_processes/shock_capturing_entropy_viscosity_process.h
  applications/FluidDynamicsApplication/custom_processes/shock_capturing_physics_based_process.cpp
  applications/FluidDynamicsApplication/custom_processes/shock_capturing_physics_based_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/compressible_navier_stokes_explicit_solving_strategy_runge_kutta.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_compressible_navier_stokes_explicit_with_integration.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_diffusive_flux.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_shock_capturing_entropy_viscosity_process.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_shock_capturing_physics_based_process.cpp
  applications/FluidDynamicsApplication/tests/test_navier_stokes_compressible_explicit_solver.py
Labels: C++, Feature

#9393 [Core] Reduce tolerance when checking if two points are the same in calculate discontinuous distance process
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/tests/cpp_tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
Labels: Bugfix

#9402 [Release 9-0] Update from 9393
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/tests/cpp_tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
Labels: Release, FastPR

#9407 Remove zlib binary examples
  external_libraries/zlib/CMakeLists.txt
Labels: Bug, Cleanup

#9406 [Core][AuxModelPartUtils] added missing const
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: Kratos Core, Incomplete, FastPR

#9139 [Structural] allow usage of SubModelPart for ComputingModelPart
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, Feature, Usability

#9284 [Readme] adding CoSimIO to special thanks section
  README.md
Labels: Documentation, External library

#9410 [FastPR][FSI] Rename analysis stage
  applications/FSIApplication/python_scripts/fsi_analysis.py
Labels: Applications, FastPR

#9409 [Fluid] Updated shock capturing settings in tests
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test.py
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/ProjectParameters.json
  applications/FluidDynamicsApplication/tests/test_navier_stokes_compressible_explicit_solver.py
Labels: Cleanup, Deprecated, FastPR, Leftover
