Repository KratosMultiphysics/Kratos, pull requests merged in 2021-08, with the labels that each got.

#9022 [DEM] Missing include
  applications/DEMApplication/custom_utilities/discrete_random_variable.cpp
Labels: Hotfix

#9025 [Core] Level set process - small improvements
  kratos/processes/levelset_convection_process.h
Labels: Bugfix

#9028 [FastPR][Core][Fluid] Nodal neighbours deprecation warnings
  applications/FluidDynamicsApplication/custom_strategies/schemes/simple_steady_sensitivity_builder_scheme.h
  kratos/tests/cpp_tests/processes/test_find_nodal_neighbours_process.cpp
Labels: Deprecated, FastPR, Warning

#9032 [Core] SVD utils throwing error with no rectangular matrices
  kratos/utilities/svd_utils.h
Labels: Bug, FastPR, Kratos Core

#9031 [FastPR][Fluid] Fix nightly build (wrong array size)
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.cpp
Labels: Bug, Bugfix, Continuous Integration, FastPR

#9023 [PFEMFluid] Reduction parameter must be value
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/three_step_v_p_strategy.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/two_step_v_p_strategy.h
Labels: Hotfix

#8596 [Core] Edge Coupling Integration
  kratos/geometries/coupling_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/modeler/cad_tessellation_modeler.cpp
  kratos/modeler/cad_tessellation_modeler.h
  kratos/tests/cpp_tests/geometries/test_coupling_geometry_quadrature.cpp
  kratos/tests/cpp_tests/utilities/test_curve_tessellation.cpp
  kratos/utilities/curve_axis_intersection.h
  kratos/utilities/tessellation_utilities/curve_tessellation.h
Labels: CAD Integration

#8049 [Core] Kratos Checks for NaN.
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_mixedulm_linear_solver.cpp
  applications/IgaApplication/tests/cpp_tests/test_iga_shell_5p.cpp
  applications/IgaApplication/tests/cpp_tests/test_iga_shell_5p_Scordelis_roof.cpp
  kratos/includes/checks.h
  kratos/tests/cpp_tests/sources/test_checks.cpp
  kratos/tests/cpp_tests/strategies/strategies/test_explicit_strategies.cpp
Labels: Kratos Core, Testing

#9021 [Iga] Fix refinement modeler
  applications/IgaApplication/custom_modelers/refinement_modeler.cpp
  kratos/geometries/nurbs_shape_function_utilities/nurbs_surface_refinement_utilities.cpp
  kratos/geometries/nurbs_shape_function_utilities/nurbs_surface_refinement_utilities.h
Labels: CAD Integration

#7314 [IGA] Truss element
  applications/IgaApplication/custom_elements/truss_element.cpp
  applications/IgaApplication/custom_elements/truss_element.h
  applications/IgaApplication/custom_python/iga_python_application.cpp
  applications/IgaApplication/iga_application.cpp
  applications/IgaApplication/iga_application.h
  applications/IgaApplication/iga_application_variables.cpp
  applications/IgaApplication/iga_application_variables.h
  applications/IgaApplication/tests/test_IgaApplication.py
  applications/IgaApplication/tests/truss_element_tests.py
  kratos/geometries/nurbs_curve_geometry.h
Labels: Applications

#9033 [Core] Variable redistribution warnings and test upgrade
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/tests/auxiliar_files_for_python_unittest/RedistributionTest/redistribution_test.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/variable_redistribution_utility/redistribution_test.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/variable_redistribution_utility/square10.mdpa
  kratos/tests/test_KratosCore.py
  kratos/tests/test_variable_redistribution.py
  kratos/utilities/variable_redistribution_utility.cpp
Labels: Warning, Cleanup, Kratos Core, Testing

#9037 [README] Adding Twitter follow link
  README.md
Labels: FastPR

#8996 [ShapeOpt] automatically add conditions in face_angle response
  applications/ShapeOptimizationApplication/python_scripts/response_functions/face_angle.py
Labels: FastPR

#9039 [Core] Bool reference is less efficient than bool copy
  kratos/utilities/variable_utils.h
Labels: Kratos Core, FastPR

#9040 [ConstitutiveLaws] High Cycle Fatigue python test
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test.mdpa
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_materials.json
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_results.json
  applications/ConstitutiveLawsApplication/tests/test_ConstitutiveLawsApplication.py
  applications/ConstitutiveLawsApplication/tests/test_factory.py
Labels: Applications

#8820 Core/Porting OMP Parallel for loops to Parallel Utilities - 14
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Kratos Core, Parallel-OMP, Refactor

#9041 [ConvDiff] Extract system matrix and vector to scipy/numpy
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_matrix_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/python_solvers_wrapper_convection_diffusion.py
Labels: Feature

#9046 [FastPR][LinearSolvers] Eigen QR addition leftover
  applications/LinearSolversApplication/custom_decompositions/eigen_dense_column_pivoting_householder_qr_decomposition.h
  applications/LinearSolversApplication/custom_decompositions/eigen_dense_householder_qr_decomposition.h
  kratos/utilities/dense_qr_decomposition.h
Labels: Applications, FastPR, Leftover

#9051 [ConstitutiveLaws] Damage and plasticity softening curves
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
Labels: Enhancement, Applications

#9057 [Core] Skip also conditions incompatible in TetrahedralMeshOrientationCheck
  kratos/processes/tetrahedral_mesh_orientation_check.cpp
Labels: Kratos Core, Behaviour Change

#9055 PR for issue #8414
  CMakeLists.txt
Labels: Linux, Compilation, CMake

#9059 [CoSim] ward OpenMP functions
  applications/CoSimulationApplication/custom_utilities/feti_dynamic_coupling_utilities.cpp
Labels: Error, Applications, Compilation, Deprecated, Parallel-OMP, FastPR

#9048 [CoSim] Conversion Utilities
  applications/CoSimulationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/CoSimulationApplication/custom_utilities/conversion_utilities.cpp
  applications/CoSimulationApplication/custom_utilities/conversion_utilities.h
  applications/CoSimulationApplication/python_scripts/coupling_operations/elemental_data_to_nodal_data.py
  applications/CoSimulationApplication/tests/cpp_tests/test_conversion_utilities.cpp
  applications/CoSimulationApplication/tests/run_cpp_unit_tests.py
  applications/CoSimulationApplication/tests/test_coupling_operations.py
Labels: Enhancement, Applications

#8973 [Convdiff] Adding new mount method in move particle utility with a provided cell size
  applications/ConvectionDiffusionApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ConvectionDiffusionApplication/custom_utilities/move_particle_utility.h
  applications/ConvectionDiffusionApplication/python_scripts/move_particle_utility_process.py
Labels: Enhancement, Applications

#9081 [FEMDEM] Solving compilation warnings
  applications/FemToDemApplication/custom_processes/compute_initial_volume_process.cpp
  applications/FemToDemApplication/custom_processes/compute_initial_volume_process.h
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.h
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.cpp
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.h
Labels: Applications, FastPR
