Repository KratosMultiphysics/Kratos, pull requests merged in 2021-07, with the labels that each got.

#8927 [PotentialFlow] Adding CalculationOnIntegrationPoints for int type in adjoint elements
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.cpp
  applications/CompressiblePotentialFlowApplication/custom_elements/adjoint_base_potential_flow_element.h
Labels: Applications, FastPR

#8903 [ConstitutiveLawsApp] Reimplementing/Correcting Finite Strain Isotropic & Kinematic Plasticity
  applications/ConstitutiveLawsApplication/CMakeLists.txt
  applications/ConstitutiveLawsApplication/custom_constitutive/associative_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/associative_plastic_damage_model.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_finite_strain_constitutive_law_integrator_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_finite_strain_constitutive_law_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/high_cycle_fatigue_law_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/d_plus_d_minus_damage_masonry_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_anisotropic_3d_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_anisotropic_3d_law.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_isotropic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_d_plus_d_minus_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_orthotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/hyper_elastic_isotropic_kirchhoff_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/plane_stress_d_plus_d_minus_damage_masonry_2d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/plastic_potentials/drucker_prager_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/plastic_potentials/generic_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/plastic_potentials/modified_mohr_coulomb_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/plastic_potentials/mohr_coulomb_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/plastic_potentials/tresca_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/plastic_potentials/von_mises_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/rule_of_mixtures_law.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strain_j2_plasticity_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/drucker_prager_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/generic_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/mohr_coulomb_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/rankine_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/simo_ju_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/tresca_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/von_mises_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.h
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_constitutive_law_utilities.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_yield_surfaces_3d.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
Labels: Applications, Bugfix, Enhancement

#8860 [Core][Geometry][NURBS] Ensure unique nurbs entity ids by usage of CadJsonInput utility
  kratos/input_output/cad_json_input.h
Labels: CAD Integration

#8932 [LinearSolversApp] Update Spectra to official release 1.0.0
  applications/LinearSolversApplication/external_libraries/spectra1/COPYING.AUTHORS.md
  applications/LinearSolversApplication/external_libraries/spectra1/COPYING.CHANGELOG.md
  applications/LinearSolversApplication/external_libraries/spectra1/COPYING.MIGRATION.md
  applications/LinearSolversApplication/external_libraries/spectra1/COPYING.README.md
  applications/LinearSolversApplication/external_libraries/spectra1/README.md
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/LinAlg/BKLDLT.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/LinAlg/TridiagEigen.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/LinAlg/UpperHessenbergEigen.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/LinAlg/UpperHessenbergSchur.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/DenseCholesky.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/DenseGenComplexShiftSolve.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/DenseGenMatProd.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/DenseGenRealShiftSolve.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/DenseSymMatProd.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/DenseSymShiftSolve.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SparseCholesky.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SparseGenComplexShiftSolve.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SparseGenMatProd.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SparseGenRealShiftSolve.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SparseRegularInverse.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SparseSymMatProd.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SparseSymShiftSolve.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/SymShiftInvert.h
  applications/LinearSolversApplication/external_libraries/spectra1/include/Spectra/MatOp/internal/ArnoldiOp.h
Labels: External library

#8940 [Core] Fix CI, fix test result
  kratos/tests/test_cad_json_input.py
Labels: Bugfix, CAD Integration, FastPR, Testing

#8939 [ContactStructuralMechanicsApplication] Separate the CL dependent tests
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, FastPR, Python, Testing

#8709 [Mapping] deprecate mesh conformity check
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_mappers/mapper.h
Labels: Applications, Cleanup, Deprecated

#8938 [ContactStructuralMechanicsApplication] Fixes #8879
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/SmallTests.py
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
Labels: Applications, Bugfix, FastPR, Hotfix

#8935 [MLMC] Fix bug of seed of ensemble averaging
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/KratosSolverWrapper.py
Labels: Bugfix, External library

#8936 [Poro] Pore fluid pressure gradient and any other GP variable can now be extrapolated to nodes
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/PoromechanicsApplication/custom_python/poromechanics_mpi_python_application.cpp
  applications/PoromechanicsApplication/custom_python/poromechanics_python_application.cpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_dynamic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_damped_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_dynamic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/trilinos_newmark_quasistatic_damped_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_newton_raphson_strategy.hpp
  applications/PoromechanicsApplication/custom_utilities/fracture_propagation_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/fracture_propagation_3D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_3D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/nonlocal_damage_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/nonlocal_damage_3D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/nonlocal_damage_utilities.hpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pw_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_analysis.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_fracture_propagation_utility.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_initial_stress_utility.py
  applications/PoromechanicsApplication/tests/element_tests/arc_length_test/ProjectParameters.json
  applications/PoromechanicsApplication/tests/element_tests/consolidation_interface_3D/ProjectParameters.json
  applications/PoromechanicsApplication/tests/element_tests/undrained_soil_column_2D/ProjectParameters.json
  applications/PoromechanicsApplication/tests/run_test.py
  applications/PoromechanicsApplication/tests/test_PoromechanicsApplication.py
Labels: Applications, Feature

#8946 [Poro] Adding missing includes
  applications/PoromechanicsApplication/custom_utilities/fracture_propagation_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/fracture_propagation_3D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_3D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/nonlocal_damage_utilities.hpp
Labels: Applications, Compilation

#8942 [DEM] some compatibilitity modifications for an external application
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/custom_conditions/RigidEdge.h
  applications/DEMApplication/custom_conditions/RigidFace.h
  applications/DEMApplication/custom_conditions/analytic_RigidFace.cpp
  applications/DEMApplication/custom_conditions/dem_wall.cpp
  applications/DEMApplication/custom_conditions/dem_wall.h
  applications/DEMApplication/custom_conditions/mapping_condition.h
  applications/DEMApplication/custom_constitutive/DEM_D_DMT_cohesive_law.cpp
  applications/DEMApplication/custom_constitutive/DEM_D_JKR_cohesive_law.cpp
  applications/DEMApplication/custom_constitutive/DEM_beam_constitutive_law.h
  applications/DEMApplication/custom_constitutive/DEM_continuum_constitutive_law.h
  applications/DEMApplication/custom_constitutive/DEM_discontinuum_constitutive_law.h
  applications/DEMApplication/custom_elements/beam_particle.h
  applications/DEMApplication/custom_elements/rigid_body_element.h
  applications/DEMApplication/custom_elements/spheric_continuum_particle.h
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/DEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DEMApplication/custom_search/bins_dynamic_objects_periodic.cpp
  applications/DEMApplication/custom_utilities/AuxiliaryFunctions.h
  applications/DEMApplication/custom_utilities/analytic_tools/analytic_face_watcher.h
  applications/DEMApplication/custom_utilities/analytic_tools/analytic_model_part_filler.h
  applications/DEMApplication/custom_utilities/analytic_tools/analytic_particle_watcher.h
  applications/DEMApplication/custom_utilities/create_and_destroy.cpp
  applications/DEMApplication/custom_utilities/create_and_destroy.h
  applications/DEMApplication/custom_utilities/discrete_particle_configure.h
  applications/DEMApplication/custom_utilities/inlet.cpp
  applications/DEMApplication/custom_utilities/inlet.h
  applications/DEMApplication/custom_utilities/piecewise_linear_random_variable.h
  applications/DEMApplication/custom_utilities/properties_proxies.cpp
  applications/DEMApplication/custom_utilities/properties_proxies.h
  applications/DEMApplication/custom_utilities/random_variable.h
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/SwimmingDEMApplication/custom_conditions/calculate_laplacian_simplex_condition.h
  applications/SwimmingDEMApplication/custom_conditions/monolithic_dem_coupled_wall_condition.h
  applications/SwimmingDEMApplication/custom_elements/swimming_particle.cpp
  applications/SwimmingDEMApplication/custom_elements/swimming_particle.h
  applications/SwimmingDEMApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/SwimmingDEMApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/SwimmingDEMApplication/custom_strategies/schemes/hybrid_bashforth_scheme.h
  applications/SwimmingDEMApplication/custom_strategies/schemes/symplectic_euler_old_velocity_scheme.h
  applications/SwimmingDEMApplication/custom_strategies/schemes/terminal_velocity_scheme.h
  applications/SwimmingDEMApplication/custom_strategies/strategies/adams_bashforth_strategy.h
  applications/SwimmingDEMApplication/custom_strategies/strategies/bdf2_turbulent_schemeDEMCoupled.h
  applications/SwimmingDEMApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bossak_scheme_turbulentDEMCoupled.h
  applications/SwimmingDEMApplication/custom_utilities/basset_force_tools.h
  applications/SwimmingDEMApplication/custom_utilities/custom_functions.h
  applications/SwimmingDEMApplication/custom_utilities/derivative_recovery.h
  applications/SwimmingDEMApplication/custom_utilities/inlets/bentonite_force_based_inlet.cpp
  applications/SwimmingDEMApplication/custom_utilities/inlets/bentonite_force_based_inlet.h
  applications/SwimmingDEMApplication/custom_utilities/statistics/sampling_tool.h
  applications/SwimmingDEMApplication/swimming_DEM_application.h
Labels: Refactor

#8948 Fixing race condition in unordered elem/cond pvs
  kratos/processes/replace_elements_and_condition_process.cpp
Labels: Bugfix

#8949 [StrMech] Calc Obj value and gradient considering only ACTIVE elements
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/mass_response_function_utility.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/strain_energy_response_function_utility.h
Labels: Applications, Enhancement, Feature

#8954 [Poro] Added control module process
  applications/PoromechanicsApplication/README.md
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_processes/poromechanics_face_load_control_module_process.hpp
  applications/PoromechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/PoromechanicsApplication/custom_python/poromechanics_python_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/python_scripts/poromechanics_face_load_control_module_process.py
Labels: Applications, Enhancement

#8952 [External] Removed legacy cotire
  external_libraries/tinyexpr/CMakeLists.txt
Labels: Cleanup, External library, FastPR, Leftover

#8955 [Poro] Adding explicit solver (mechanical only for the moment)
  applications/PoromechanicsApplication/custom_conditions/U_Pw_condition.cpp
  applications/PoromechanicsApplication/custom_conditions/U_Pw_condition.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/PoromechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/PoromechanicsApplication/custom_python/poromechanics_python_application.cpp
  applications/PoromechanicsApplication/custom_strategies/schemes/poro_explicit_cd_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/poro_explicit_vv_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_explicit_nonlocal_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_explicit_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_nonlocal_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_strategy.hpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/python_scripts/poromechanics_MPI_U_Pw_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pw_explicit_dynamic_solver.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pw_solver.py
  applications/PoromechanicsApplication/tests/element_tests/arc_length_test/ProjectParameters.json
  applications/PoromechanicsApplication/tests/element_tests/consolidation_interface_3D/ProjectParameters.json
  applications/PoromechanicsApplication/tests/element_tests/undrained_soil_column_2D/ProjectParameters.json
Labels: Applications, Enhancement

#8956 [ConvectionDiffusionApplication] Remove warning GetNumThreads()
  applications/ConvectionDiffusionApplication/custom_utilities/move_particle_utility.h
Labels: Applications, FastPR, Warning

#8934 TwoFluids / AccelerationLimitationUtility
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
Labels: Bugfix, FastPR

#8959 [PotentialFlow] Prevent adding non existing elements
  applications/CompressiblePotentialFlowApplication/custom_processes/define_3d_wake_process.cpp
Labels: Bugfix

#8961 [CLA] Add Damage CLs with Implex integration scheme
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strain_isotropic_damage_implex_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strain_isotropic_damage_implex_3d.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strain_isotropic_damage_traction_only_implex_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strain_isotropic_damage_traction_only_implex_3d.h
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_small_strain_isotropic_damage_implex_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_small_strain_isotropic_damage_traction_only_implex_3d.cpp
Labels: Applications, Enhancement

#8964 [Poro] Adding 2.5D element and variable permeability (at each element)
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_3D_law.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/PoromechanicsApplication/custom_processes/periodic_interface_process.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/poro_explicit_cd_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/poro_explicit_vv_scheme.hpp
  applications/PoromechanicsApplication/custom_utilities/initial_stress_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/poro_element_utilities.hpp
  applications/PoromechanicsApplication/python_scripts/poromechanics_analysis.py
  applications/PoromechanicsApplication/python_scripts/poromechanics_initial_stress_utility.py
Labels: Applications, Enhancement

#8898 [MeshMoving] Extend ImposeMeshMotionProcess
  applications/MeshMovingApplication/custom_processes/impose_mesh_motion_process.cpp
  applications/MeshMovingApplication/custom_processes/impose_mesh_motion_process.h
  applications/MeshMovingApplication/custom_python/add_custom_processes_to_python.cpp
  applications/MeshMovingApplication/custom_python/add_custom_processes_to_python.h
  applications/MeshMovingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshMovingApplication/custom_python/mesh_moving_python_application.cpp
  applications/MeshMovingApplication/custom_utilities/linear_transform.cpp
  applications/MeshMovingApplication/custom_utilities/linear_transform.h
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/move_mesh_utilities.h
  applications/MeshMovingApplication/custom_utilities/parametric_linear_transform.cpp
  applications/MeshMovingApplication/custom_utilities/parametric_linear_transform.h
  applications/MeshMovingApplication/python_scripts/impose_mesh_motion_process.py
  applications/MeshMovingApplication/tests/test_MeshMovingApplication.py
  applications/MeshMovingApplication/tests/test_impose_mesh_motion_process.py
  applications/MeshMovingApplication/tests/test_linear_transform.py
  applications/MeshMovingApplication/tests/test_parametric_linear_transform.py
Labels: Applications, C++, Feature, Python

#8865 [HDF5] Adding nodes as point cloud output for visualization in paraview
  applications/HDF5Application/custom_processes/hdf5_xdmf_connectivities_writer_process.cpp
  applications/HDF5Application/custom_processes/hdf5_xdmf_connectivities_writer_process.h
  applications/HDF5Application/python_scripts/xdmf_utils.py
Labels: Applications, C++, Python

#8947 [IGA] Use nurbs background as basis for director computation
  applications/IgaApplication/custom_utilities/director_utilities.cpp
Labels: Applications, FastPR

#8957 [MeshingApplication] Installation of MMG and PMMG libs
  applications/MeshingApplication/CMakeLists.txt
Labels: Applications, CMake, External library, FastPR

#8958 [CLA] Solving nightly tests and reimplementing Finite Strain Isotropic and Kinematic plasticity (Again)
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_finite_strain_constitutive_law_integrator_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_finite_strain_constitutive_law_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_isotropic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_finite_strain_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/tangent_operator_calculator_utility.h
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_kinematic_plasticity_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/test_perfect_plasticity_implementation_verification.py
Labels: Applications, Enhancement

#8977 [Core][Exception] minor cleanup
  kratos/includes/exception.h
Labels: Cleanup, FastPR, Kratos Core

#8953 [Core] BrepCurve and corresponding ReadIn
  kratos/geometries/brep_curve.h
  kratos/input_output/cad_json_input.h
  kratos/tests/auxiliar_files_for_python_unittest/cad_json_files/single_square.cad.json
  kratos/tests/test_cad_json_input.py
Labels: CAD Integration, Kratos Core

#8980 [Core][checks.h] adding underscores to index vars
  kratos/includes/checks.h
Labels: Kratos Core, Usability

#8984 [Poro] Fixed compilation error (undeclared variables in derived template element)
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
Labels: Applications, C++, Compilation

#8987 [MLMC] quick fix
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/simulation_definition.py
Labels: Bugfix

#8990 [core] Fix RK4 test
  kratos/tests/cpp_tests/strategies/strategies/test_explicit_strategies.cpp
Labels: Bugfix, Testing

#8993 Fixing problems related to residuals collection
  applications/RomApplication/python_scripts/structural_mechanics_analysis_rom.py
Labels: FastPR, ROM

#8994 [ContactStructuralMechanicsApplication] Update validation test results (First correction)
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test_results.json
Labels: Applications, FastPR, Testing

#8960 [MLMC] Update xmc
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/oscillator.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/hierarchyOptimiser.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_hierarchyOptimiser/optimalSampleNumbers.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monteCarloSampler.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/randomGeneratorWrapper.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/solverWrapper.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/xmcAlgorithm.py
  applications/MultilevelMonteCarloApplication/tests/parameters/generate_vanderpol_reference.py
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_randomGenerator.json
  applications/MultilevelMonteCarloApplication/tests/parameters/vanderpol_reference_solution.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_asynchronous_adaptive_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_adaptivefixednumberlevels_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_asynchronous_adaptivefixednumberlevels_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/solverWrapperTest.py
  applications/MultilevelMonteCarloApplication/tests/test_MultilevelMonteCarloApplication.py
  applications/MultilevelMonteCarloApplication/tests/test_randomGenerator.py
  applications/MultilevelMonteCarloApplication/tests/test_xmcAlgorithm.py
Labels: External library

#8989 [Core] Adding __copy__ and __deepcopy_ of Parameters to python
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Enhancement, FastPR, Kratos Core, Python, Usability

#8992 Dem adding max and min to rv
  applications/DEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DEMApplication/custom_utilities/discrete_random_variable.cpp
  applications/DEMApplication/custom_utilities/discrete_random_variable.h
  applications/DEMApplication/custom_utilities/inlet.cpp
  applications/DEMApplication/custom_utilities/inlet.h
  applications/DEMApplication/custom_utilities/piecewise_linear_random_variable.cpp
  applications/DEMApplication/custom_utilities/piecewise_linear_random_variable.h
  applications/DEMApplication/custom_utilities/random_variable.cpp
  applications/DEMApplication/custom_utilities/random_variable.h
  applications/DEMApplication/tests/random_variable_based_inlet_tests_files/DiscreteProjectParametersDEM.json
  applications/DEMApplication/tests/random_variable_based_inlet_tests_files/PiecewiseLinearProjectParametersDEM.json
  applications/DEMApplication/tests/test_inlet.py
Labels: Feature

#8997 [Core] Minor fix: Template argument quadrature point geoemtries.
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/geometries/quadrature_point_geometry.h
Labels: Kratos Core

#8951 [core] Split domain according to the different property ids of the elements, creating collapsed interface conditions in between
  kratos/includes/kratos_application.h
  kratos/processes/split_internal_interfaces_process.cpp
  kratos/processes/split_internal_interfaces_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/python_scripts/split_internal_interface_process.py
  kratos/sources/kratos_application.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_split_internal_interfaces_process_2D.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_split_internal_interfaces_process_3D.mdpa
  kratos/tests/test_processes.py
Labels: Feature

#8510 [Core] Integration Info
  applications/IgaApplication/custom_modelers/iga_modeler.cpp
  applications/IgaApplication/custom_modelers/iga_modeler.h
  applications/IgaApplication/custom_utilities/director_utilities.cpp
  applications/IgaApplication/tests/cpp_tests/test_creation_utility.h
  applications/IgaApplication/tests/cpp_tests/test_creation_utility_Scordelis_roof.h
  kratos/geometries/brep_curve.h
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/brep_surface.h
  kratos/geometries/geometry.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/geometries/nurbs_volume_geometry.h
  kratos/integration/integration_info.cpp
  kratos/integration/integration_info.h
  kratos/python/add_geometries_to_python.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_curve.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_curve_on_surface_geometry.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_surface.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_volume.cpp
  kratos/tests/cpp_tests/integration/test_integration_info.cpp
Labels: CAD Integration, Kratos Core

#8999 [ContactStructuralMechanicsApplication] Fix normal check process
  applications/ContactStructuralMechanicsApplication/custom_processes/normal_check_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/self_contact_test_check_normal.json
  applications/ContactStructuralMechanicsApplication/tests/auxiliar_files_for_python_unittest/inverted_normals_s_shape.mdpa
  applications/ContactStructuralMechanicsApplication/tests/test_ContactStructuralMechanicsApplication.py
  applications/ContactStructuralMechanicsApplication/tests/test_check_normals_process.py
Labels: Applications, Bugfix, Cleanup, FastPR, Parallel-OMP, Refactor, Testing

#8490 [Core] SpansLocalSpace to geometry
  kratos/geometries/brep_curve.h
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/geometry.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_curve_on_surface_geometry.cpp
Labels: CAD Integration, Kratos Core

#9000 correcting columns width
  applications/DEMApplication/tests/test_inlet.py
Labels: Python

#9001 [ContactStructuralMechanics] Reverting previous solution, which was right
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/mesh_tying_validation_test_results.json
Labels: Applications, Cleanup, FastPR, Testing

#9002 [Core] Fix master - add integration info to new tests after merge
  applications/IgaApplication/custom_modelers/refinement_modeler.cpp
  kratos/tests/cpp_tests/geometries/test_nurbs_surface.cpp
Labels: Hotfix, Kratos Core

#8976 update pybind to 2.7.0
  external_libraries/pybind11/attr.h
  external_libraries/pybind11/buffer_info.h
  external_libraries/pybind11/cast.h
  external_libraries/pybind11/chrono.h
  external_libraries/pybind11/detail/class.h
  external_libraries/pybind11/detail/common.h
  external_libraries/pybind11/detail/descr.h
  external_libraries/pybind11/detail/init.h
  external_libraries/pybind11/detail/internals.h
  external_libraries/pybind11/detail/type_caster_base.h
  external_libraries/pybind11/eigen.h
  external_libraries/pybind11/eval.h
  external_libraries/pybind11/functional.h
  external_libraries/pybind11/gil.h
  external_libraries/pybind11/iostream.h
  external_libraries/pybind11/numpy.h
  external_libraries/pybind11/pybind11.h
  external_libraries/pybind11/pytypes.h
  external_libraries/pybind11/stl.h
  external_libraries/pybind11/stl/filesystem.h
  external_libraries/pybind11/stl_bind.h
Labels: External library, Python

#8979 [Core/Mapping] move Mapper interface to Core
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/MappingApplication/MappingApplication.py
  applications/MappingApplication/README.md
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_python/mapping_python_application.cpp
  applications/MappingApplication/custom_searching/interface_communicator.h
  applications/MappingApplication/custom_utilities/interface_vector_container.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/mapping_application.cpp
  applications/MappingApplication/mpi_extension/custom_python/mapping_mpi_extension.cpp
  applications/MappingApplication/mpi_extension/custom_utilities/mapper_factory_mpi.cpp
  kratos/CMakeLists.txt
  kratos/factories/mapper_factory.cpp
  kratos/factories/mapper_factory.h
  kratos/mappers/mapper.h
  kratos/mappers/mapper_define.h
  kratos/mappers/mapper_flags.cpp
  kratos/mappers/mapper_flags.h
  kratos/python/add_mapper_to_python.cpp
  kratos/python/add_mapper_to_python.h
  kratos/python/kratos_python.cpp
Labels: Applications, Kratos Core

#8998 [Core] Surface In Nurbs Volume Geometry
  kratos/geometries/quadrature_point_surface_in_volume_geometry.h
  kratos/geometries/surface_in_nurbs_volume_geometry.h
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_geometries_to_python.cpp
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/geometries/test_surface_in_nurbs_volume.cpp
  kratos/utilities/quadrature_points_utility.h
Labels: C++, Kratos Core

#9008 [Core] fix master with update of integration info
  kratos/geometries/surface_in_nurbs_volume_geometry.h
  kratos/tests/cpp_tests/geometries/test_surface_in_nurbs_volume.cpp
Labels: FastPR, Kratos Core

#9009 [Poro] Initializing elements in serial to avoid OMP error for certain non-linear CLs (temporary fix)
  applications/PoromechanicsApplication/custom_strategies/schemes/newmark_quasistatic_U_Pw_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/poro_explicit_cd_scheme.hpp
Labels: Applications, Parallel-OMP

#9011 [Fluid] Flow rate calculation with intersected meshes
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.h
  applications/FluidDynamicsApplication/tests/test_fluid_auxiliary_utilities.py
Labels: Applications, Enhancement

#9005 [Structural] Fixed stress postprocessing and added tests for membrane element
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/tests/test_patch_test_membrane.py
Labels: Bugfix

#8491 [Core][Geometry] ClosestPointLocalToLocalSpace to geometry, Edit: ClosestPointLocalSpace
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/geometry.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/utilities/nurbs_utilities/projection_nurbs_geometry_utilities.h
Labels: CAD Integration, Kratos Core

#9014 [CoSim] update CoSimIO to 2.0.1
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/connection.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/impl/info.hpp
  applications/CoSimulationApplication/custom_external_libraries/co_sim_io/python/info_to_python.hpp
  applications/CoSimulationApplication/custom_python/add_co_sim_io_to_python.cpp
Labels: Applications, External library, FastPR, Feature

#9016 [CoSim] adding test with remote control
  applications/CoSimulationApplication/README.md
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/external_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/remote_controlled_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos_co_sim_io.py
  applications/CoSimulationApplication/tests/structural_mechanics_analysis_remote_controlled.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_mok_fsi.py
Labels: Applications, Testing

#9017 [Core][Geometry] Projection and closest point: correct API and add new methods
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/geometry.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/utilities/nurbs_utilities/projection_nurbs_geometry_utilities.h
Labels: API Breaker, Kratos Core

#9018 [CI] Try to fix tests
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_adaptivefixednumberlevels_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/test_xmcAlgorithm.py
Labels: FastPR, Testing
