Repository KratosMultiphysics/Kratos, pull requests merged in 2021-04, with the labels that each got.

#8574 [Core] Update to AtomicUtilities the core
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_lagrange_multiplier.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/utilities/constraint_utilities.cpp
  kratos/utilities/deflation_utils.h
  kratos/utilities/mortar_utilities.cpp
  kratos/utilities/sparse_matrix_multiplication_utility.h
Labels: FastPR, Kratos Core, Parallel-OMP, Refactor, Transition

#8571 [CI] enable parallel build
  .github/workflows/configure.sh
  .github/workflows/nightly_build.yml
Labels: Continuous Integration, FastPR, Performance

#8522 [Trilinos] adding CreateEpetraCommunicator with DataCommunicator
  applications/TrilinosApplication/custom_python/add_trilinos_space_to_python.cpp
Labels: Applications, Deprecated, Parallel-MPI

#8584 [Apps] update usage of EpetraComm construction after #8522
  applications/FluidDynamicsApplication/python_scripts/trilinos_adjoint_vmsmonolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_fractionalstep.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_base.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
Labels: Applications, Deprecated, Parallel-MPI

#8581 [Core] removing old comments
  kratos/linear_solvers/amgcl_ns_solver.h
  kratos/linear_solvers/amgcl_solver.h
Labels: Cleanup, FastPR, Kratos Core, Leftover, Parallel-MPI

#8590 Shallow/aux developments
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/Mdpa.tcl
  applications/ShallowWaterApplication/custom_problemtype/ShallowWaterApplication.gid/ShallowWaterApplication.cnd
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/output/convergence_output_process.py
  applications/ShallowWaterApplication/python_scripts/set_topography_process.py
  applications/ShallowWaterApplication/tests/processes_tests/nodes_output_process_reference.dat
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
Labels: Applications

#8586 [Core][LockObject] deprecating move constructor
  .github/workflows/configure.cmd
  kratos/includes/lock_object.h
Labels: Deprecated, Kratos Core, Parallel-OMP, Transition

#8279 enabling spmm and many corrections
  external_libraries/span/span.hpp
  kratos/containers/csr_matrix.h
  kratos/containers/distributed_csr_matrix.h
  kratos/containers/distributed_sparse_graph.h
  kratos/containers/distributed_system_vector.h
  kratos/containers/sparse_contiguous_row_graph.h
  kratos/containers/sparse_graph.h
  kratos/mpi/tests/sources/test_distributed_sparse_graph.cpp
  kratos/mpi/utilities/amgcl_distributed_csr_conversion_utilities.h
  kratos/mpi/utilities/amgcl_distributed_csr_spmm_utilities.h
  kratos/tests/cpp_tests/spaces/test_kratos_space.cpp
  kratos/tests/cpp_tests/sparse_matrices/run_my_test.py
  kratos/tests/cpp_tests/sparse_matrices/test_sparse_graph_serial.cpp
  kratos/utilities/amgcl_csr_conversion_utilities.h
  kratos/utilities/amgcl_csr_spmm_utilities.h
Labels: External library, Kratos Core

#8573 [CI] add Core build without Unity
  .github/workflows/ci.yml
Labels: Compilation, Conflict Unity compilation, Continuous Integration

#8587 [MPI] fix skipping of tests if Metis is not available
  kratos/mpi/tests/test_mpi_model_part.py
  kratos/python_scripts/testing/utilities.py
Labels: FastPR, Parallel-MPI, Testing

#8578 [Core] missing initialization
  kratos/utilities/curve_axis_intersection.h
Labels: Compilation, Gcc, Kratos Core, Warning

#8582 [CI] ICC build V3
  .github/workflows/ci.yml
  .github/workflows/intel_configure.sh
Labels: Continuous Integration, Intel

#8561 [FSI] Two fields coupling and required refactoring
  applications/FSIApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FSIApplication/custom_utilities/partitioned_fsi_utilities.hpp
  applications/FSIApplication/python_scripts/fsi_coupling_interface.py
  applications/FSIApplication/python_scripts/partitioned_embedded_fsi_base_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_base_solver.py
  applications/FSIApplication/python_scripts/partitioned_fsi_dirichlet_neumann_solver.py
  applications/FSIApplication/python_scripts/python_solvers_wrapper_fsi.py
  applications/FSIApplication/python_scripts/trilinos_partitioned_fsi_base_solver.py
  applications/FSIApplication/python_scripts/trilinos_partitioned_fsi_dirichlet_neumann_solver.py
  applications/FSIApplication/tests/cpp_tests/test_partitioned_fsi_utilities.cpp
  applications/FSIApplication/tests/fsi_coupling_interface_test.py
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_accelerators_to_python.cpp
  kratos/includes/fsi_variables.h
  kratos/python/add_fsi_variables_to_python.cpp
  kratos/sources/fsi_variables.cpp
Labels: Cleanup, Enhancement, Feature, Refactor

#8597 [Shallow] update benchmark
  applications/ShallowWaterApplication/python_scripts/benchmarks/mac_donald_shock_benchmark.py
Labels: Applications, Usability

#8537 [HDF5] Add integration points output
  applications/HDF5Application/CMakeLists.txt
  applications/HDF5Application/README.md
  applications/HDF5Application/custom_io/hdf5_condition_gauss_point_output.h
  applications/HDF5Application/custom_io/hdf5_container_gauss_point_output.cpp
  applications/HDF5Application/custom_io/hdf5_container_gauss_point_output.h
  applications/HDF5Application/custom_io/hdf5_element_gauss_point_output.h
  applications/HDF5Application/custom_python/add_custom_io_to_python.cpp
  applications/HDF5Application/python_scripts/core/operations/model_part.py
  applications/HDF5Application/python_scripts/core/xdmf.py
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/xdmf_utils.py
  applications/HDF5Application/tests/test_hdf5_processes.py
Labels: Applications, C++, Feature, Python

#8585 [Trilinos] cleaning and updating tests
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
  applications/TrilinosApplication/tests/test_trilinos_linear_solvers.py
  applications/TrilinosApplication/tests/test_trilinos_matrix.py
  applications/TrilinosApplication/tests/test_trilinos_redistance.py
Labels: Applications, Cleanup, Parallel-MPI, Testing

#8602 [Trilinos] B&S - remove echo level in timers - unify with serial version
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
Labels: Cleanup

#8603 [Core][VTKOutput] fix race condition in folder creation
  kratos/input_output/vtk_output.cpp
Labels: FastPR, Hotfix, Kratos Core, Parallel-MPI, Post Process

#8605 [Trilinos] fixing race condition
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
Labels: Applications, FastPR, Hotfix, Parallel-MPI, Testing

#8607 [Structural][EigenPost] improve ordering in Paraview
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.h
Labels: Applications, Enhancement, ParaView, Usability

#8609 [Core][Kernel] this include should not be here
  kratos/includes/kernel.h
Labels: Cleanup, FastPR, Kratos Core

#8601 [CI] adding valgrind
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: Continuous Integration, Debug

#8615 [CI] make centos build parallel
  .github/workflows/centos_configure.sh
Labels: Continuous Integration, FastPR, Performance

#8616 [Structural] Fix path issues in tests' files
  applications/StructuralMechanicsApplication/tests/test_cook_membrane.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_different_dofs.py
Labels: FastPR, Testing

#7426 [Core] Transition #3185 with only explicit strategies
  kratos/CMakeLists.txt
  kratos/factories/factory.h
  kratos/factories/register_factories.cpp
  kratos/factories/register_factories.h
  kratos/python/add_factories_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/explicit_builder.cpp
  kratos/solving_strategies/builder_and_solvers/explicit_builder.h
  kratos/solving_strategies/strategies/explicit_solving_strategy.cpp
  kratos/solving_strategies/strategies/explicit_solving_strategy.h
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta_4.cpp
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta_4.h
  kratos/sources/kratos_components.cpp
  kratos/tests/cpp_tests/factories/test_factories.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_factories.py
Labels: Enhancement, Kratos Core, Transition

#8467 [Core][Geometry] adding Check
  kratos/geometries/geometry.h
  kratos/includes/condition.h
  kratos/includes/element.h
Labels: Enhancement, Kratos Core, TODO

#8622 [ShapeOpt] vtk logger update deprecated setting
  applications/ShapeOptimizationApplication/python_scripts/design_logger_vtk.py
Labels: FastPR

#8600 [CI][Intel] warnings to errors in Intel compiler
  .github/workflows/intel_configure.sh
  applications/PFEM2Application/custom_utilities/move_particle_utility_pfem2.h
  applications/PFEM2Application/custom_utilities/transfer_utility.h
  external_libraries/concurrentqueue/concurrentqueue.h
  external_libraries/json/json.hpp
  external_libraries/pybind11/pybind11.h
  kratos/containers/distributed_numbering.h
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/brep_surface.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/geometries/nurbs_volume_geometry.h
  kratos/includes/global_pointer.h
  kratos/input_output/cad_json_input.h
  kratos/linear_solvers/rayleigh_quotient_iteration_eigenvalue_solver.h
  kratos/processes/tetrahedral_mesh_orientation_check.cpp
  kratos/solving_strategies/schemes/residual_based_bdf_displacement_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/sources/code_location.cpp
  kratos/sources/kratos_parameters.cpp
  kratos/spatial_containers/bins_dynamic_objects.h
  kratos/tests/cpp_tests/input_output/test_logger.cpp
  kratos/tests/cpp_tests/strategies/schemes/test_residual_based_adjoint_bossak_scheme.cpp
  kratos/tests/cpp_tests/utilities/test_sensitivity_builder.cpp
  kratos/utilities/binbased_fast_point_locator.h
  kratos/utilities/geometrical_sensitivity_utility.h
Labels: Compilation, Continuous Integration, Intel, Warning

#8593 [Core] Move Array3Reduction to reduction utilities
  kratos/utilities/reduction_utilities.h
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Kratos Core

#8594 [Core] Extend AtomicAdd for array_1d
  kratos/utilities/atomic_utilities.h
Labels: Kratos Core, Parallel-OMP

#8629 [Mapping] cleanup for extension I
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.cpp
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.h
  applications/MappingApplication/custom_utilities/mpi/mapping_matrix_utilities_mpi.cpp
Labels: Applications, Cleanup, FastPR, Transition

#8632 [Mapping] cleanup for extension II
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.cpp
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_mappers/nearest_element_mapper.h
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.h
  applications/MappingApplication/custom_python/add_custom_mappers_to_python.h
  applications/MappingApplication/custom_python/add_mapper_to_python.h
  applications/MappingApplication/custom_python/mapping_python_application.cpp
  applications/MappingApplication/custom_utilities/mapper_backend.h
  applications/MappingApplication/custom_utilities/mpi/mapper_mpi_backend.h
  applications/MappingApplication/mapping_application.cpp
Labels: Applications, FastPR, Refactor, Transition

#8630 [ConstitutiveLaws] Solving plasticity tests error
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/StructuralMechanicsApplication/tests/cl_test/TensileTestStructural/TensileTestStructural_materials.json
  applications/StructuralMechanicsApplication/tests/cl_test/TensileTestStructural/TensileTestStructural_parameters.json
  applications/StructuralMechanicsApplication/tests/cl_test/TensileTestStructural/TensileTestStructural_results.json
Labels: Applications

#8633 [Core] Strategies (the cpp only contains the static variable definition for KratosComponents) should not be Unity compiled
  kratos/CMakeLists.txt
Labels: CMake, Conflict Unity compilation, FastPR, Hotfix, Kratos Core

#8634 [Mapping] creating MPIExtension
  applications/MappingApplication/CMakeLists.txt
  applications/MappingApplication/MappingApplication.py
  applications/MappingApplication/README.md
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_python/add_mapper_to_python.h
  applications/MappingApplication/custom_python/mapping_python_application.cpp
  applications/MappingApplication/custom_utilities/interface_vector_container.cpp
  applications/MappingApplication/custom_utilities/mapper_backend.h
  applications/MappingApplication/custom_utilities/mapper_define.h
  applications/MappingApplication/custom_utilities/mapper_factory.cpp
  applications/MappingApplication/custom_utilities/mapper_factory.h
  applications/MappingApplication/custom_utilities/mapper_typedefs.h
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/mapping_application.cpp
  applications/MappingApplication/mpi_extension/CMakeLists.txt
  applications/MappingApplication/mpi_extension/MPIExtension.py
  applications/MappingApplication/mpi_extension/cpp_tests/test_mapper_utilities_mpi.cpp
  applications/MappingApplication/mpi_extension/custom_python/mapping_mpi_extension.cpp
  applications/MappingApplication/mpi_extension/custom_searching/interface_communicator_mpi.cpp
  applications/MappingApplication/mpi_extension/custom_searching/interface_communicator_mpi.h
  applications/MappingApplication/mpi_extension/custom_utilities/interface_vector_container_mpi.cpp
  applications/MappingApplication/mpi_extension/custom_utilities/mapper_factory_mpi.cpp
  applications/MappingApplication/mpi_extension/custom_utilities/mapper_mpi_backend.h
  applications/MappingApplication/mpi_extension/custom_utilities/mapper_mpi_define.h
  applications/MappingApplication/mpi_extension/custom_utilities/mapping_matrix_utilities_mpi.cpp
Labels: Parallel-MPI, Refactor

#8625 [ShapeOpt] use core function for normals calculation
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
Labels: Cleanup

#8621 [ShapeOpt] face angle response
  applications/ShapeOptimizationApplication/CMakeLists.txt
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/face_angle_response_function_utility.cpp
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/face_angle_response_function_utility.h
  applications/ShapeOptimizationApplication/python_scripts/analyzer_internal.py
  applications/ShapeOptimizationApplication/python_scripts/response_functions/face_angle.py
  applications/ShapeOptimizationApplication/python_scripts/response_functions/response_function_factory.py
  applications/ShapeOptimizationApplication/tests/face_angle_response_test/test_face_angle_response.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Applications, Feature

#8638 [Core] Fix Intel, missing static_cast
  kratos/solving_strategies/schemes/residual_based_pseudo_static_displacement_scheme.h
Labels: Compilation, FastPR, Hotfix, Intel, Kratos Core, Transition

#8637 [Trilinos] refactor tests with utils from Core
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
  applications/TrilinosApplication/tests/test_trilinos_redistance.py
Labels: Applications, Parallel-MPI, Testing

#8606 [Core] improve neighbor processes
  kratos/processes/find_global_nodal_elemental_neighbours_process.h
  kratos/processes/find_global_nodal_neighbours_for_entities_process.h
  kratos/processes/find_global_nodal_neighbours_process.h
  kratos/processes/find_nodal_neighbours_process.cpp
  kratos/python/add_processes_to_python.cpp
Labels: Cleanup, Kratos Core, Parallel-MPI, Usability

#8642 [Trilinos]Testing] missing synchronization
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
Labels: Applications, FastPR, Parallel-MPI, Testing

#8589 [FastPR][MPI] Quaternion synchronization
  kratos/includes/communicator.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/sources/test_mpi_communicator.cpp
  kratos/sources/communicator.cpp
  kratos/utilities/variable_utils.h
Labels: Bugfix, FastPR, Parallel-MPI

#8628 [Core] Moving the NUMBER_OF_CYCLES variable to the core
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/sources/variables.cpp
Labels: API Breaker, Kratos Core

#8517 [MLMC] Update ExaQUte API
  applications/MultilevelMonteCarloApplication/README.md
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExaquteExamples.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExaquteExecutionConstraints.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExaquteParameter.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExaquteTask.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExaquteTaskLocal.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExaquteTaskPyCOMPSs.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExecutionCharacteristics.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/ExecutionConstraints.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/LICENSE
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/__init__.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/common/__init__.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/common/consts.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/common/exception.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/local/__init__.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/local/consts.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/local/decorators.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/local/functions.py
  applications/MultilevelMonteCarloApplication/external_libraries/PyCOMPSs/exaqute/local/internals.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/README.md
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/__init__.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/KratosSolverWrapper.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/methodDefs_KratosSolverWrapper/mpi_solve.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/methodDefs_KratosSolverWrapper/solve.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/methodDefs_KratosSolverWrapper/utilities.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/multiLevelRNGSolverWrapper.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/classDefs_solverWrapper/singleLevelRNGSolverWrapper.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/distributedEnvironmentFramework.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/hierarchyOptimiser.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/localEnvironment.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_errorEstimator/errorEstimation.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_estimationAssembler/assembleEstimation.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_modelEstimator/update.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_modelEstimator/valueForParameters.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/computeCentralMoments.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/computeErrorEstimation.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/hStatistics.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/powerSums.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/updateCombinedPowerSums.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/updatePowerSums.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_monteCarloIndex/updateEstimators.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_monteCarloSampler/asynchronousUpdateGlobalEstimators.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_multiCriterion/flag.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/momentEstimator.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monteCarloIndex.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monteCarloSampler.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/tools.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/xmcAlgorithm.py
  applications/MultilevelMonteCarloApplication/python_scripts/mc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/mlmc_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/statistical_variable_utilities.py
  applications/MultilevelMonteCarloApplication/tests/momentEstimatorTests.py
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_test_combinedMomentEstimator.json
  applications/MultilevelMonteCarloApplication/tests/parameters/parameters_test_momentEstimator.json
  applications/MultilevelMonteCarloApplication/tests/test_xmcAlgorithm.py
  applications/MultilevelMonteCarloApplication/tests/test_xmcAlgorithm_mpi.py
Labels: API Breaker, External library

#8661 adding hdf files to gitignore
  .gitignore
Labels: Cleanup

#8666 [CL] Missing variable change
  applications/ConstitutiveLawsApplication/tests/test_perfect_plasticity_implementation_verification.py
Labels: Applications, FastPR, Hotfix

#8670 [CL] Missing include
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/associative_plastic_damage_model.h
Labels: Applications, Conflict Unity compilation, FastPR

#8678 [CoSim] improve errors related to CoSimIO
  applications/CoSimulationApplication/custom_python/add_co_sim_io_to_python.cpp
Labels: Applications, FastPR, Usability

#8598 [Core][Utilities] Modify ProjectionNurbsGeometryUtilities namespace to class
  kratos/utilities/nurbs_utilities/projection_nurbs_geometry_utilities.h
Labels: Kratos Core, Refactor

#8595 [Core][Nurbs-Geometries] Refactor Curve Integration
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/integration/integration_point_utilities.cpp
  kratos/integration/integration_point_utilities.h
Labels: CAD Integration, FastPR, Kratos Core, Refactor

#8681 [Core][LevelSet] Porting non-sensitive changes from #8519
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  kratos/elements/levelset_convection_element_simplex_algebraic_stabilization.cpp
  kratos/elements/levelset_convection_element_simplex_algebraic_stabilization.h
  kratos/includes/convection_diffusion_settings.h
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/sources/variables.cpp
Labels: Applications, Feature, Kratos Core

#5608 [Core][Proposal] GetSpecifications method on Elements/Conditions
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  kratos/conditions/mesh_condition.cpp
  kratos/conditions/mesh_condition.h
  kratos/elements/mesh_element.cpp
  kratos/elements/mesh_element.h
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/python/add_mesh_to_python.cpp
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_specifications_utilities.py
  kratos/utilities/specifications_utilities.cpp
  kratos/utilities/specifications_utilities.h
Labels: Enhancement, Kratos Core, Proposal

#8612 [Core] deprecate access to default DataCommunicator
  kratos/includes/data_communicator.h
  kratos/python/add_data_communicator_to_python.cpp
  kratos/python/add_testing_to_python.cpp
Labels: Deprecated, Kratos Core, Parallel-MPI

#8373 [External] tinyexpr as a replace for python functions
  CMakeLists.txt
  applications/DEMApplication/custom_processes/apply_kinematic_constraints_process.cpp
  applications/DEMApplication/custom_processes/apply_kinematic_constraints_process.hpp
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_particle_dirichlet_condition_process.py
  applications/ParticleMechanicsApplication/python_scripts/apply_mpm_particle_neumann_condition_process.py
  external_libraries/tinyexpr/CMakeLists.txt
  external_libraries/tinyexpr/LICENSE
  external_libraries/tinyexpr/tinyexpr/tinyexpr.c
  external_libraries/tinyexpr/tinyexpr/tinyexpr.h
  kratos/CMakeLists.txt
  kratos/processes/assign_scalar_field_to_entities_process.cpp
  kratos/processes/assign_scalar_field_to_entities_process.h
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python/add_processes_to_python.cpp
  kratos/python_scripts/assign_scalar_variable_process.py
  kratos/python_scripts/set_initial_state_process.py
  kratos/tests/cpp_tests/utilities/test_apply_function_to_nodes_utilities.cpp
  kratos/tests/cpp_tests/utilities/test_function_parser_utility.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_function_parser_utility.py
  kratos/tests/test_processes.py
  kratos/tests/test_python_generic_function_utility.py
  kratos/utilities/apply_function_to_nodes_utility.cpp
  kratos/utilities/apply_function_to_nodes_utility.h
  kratos/utilities/function_parser_utility.cpp
  kratos/utilities/function_parser_utility.h
  kratos/utilities/python_function_callback_utility.h
Labels: Enhancement, External library, Kratos Core, Refactor

#8691 [CI] running tests in non-unity build
  .github/workflows/ci.yml
Labels: Continuous Integration, FastPR, Testing

#8692 [CI] adding backbone apps to non-unity build
  .github/workflows/ci.yml
Labels: Applications, Conflict Unity compilation, Continuous Integration

#8613 [Core/MPI] allow to use a different data comm for partitioning
  kratos/includes/fill_communicator.h
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/mpi/tests/test_distributed_import_model_part_utility.py
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.h
  kratos/python/add_other_utilities_to_python.cpp
  kratos/utilities/fill_communicator.cpp
Labels: FastPR, Parallel-MPI

#8651 [Metis] pass DataCommunicator to MetisDivideHeterogeneousInputInMemoryProcess
  applications/MetisApplication/CMakeLists.txt
  applications/MetisApplication/MetisApplication.py
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_in_memory_process.h
  applications/MetisApplication/custom_python/add_processes_to_python.cpp
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
  kratos/mpi/tests/test_distributed_import_model_part_utility.py
  kratos/python/add_testing_to_python.cpp
Labels: Applications, Parallel-MPI, Refactor

#8693 [CI] adding Win build without unity
  .github/workflows/ci.yml
Labels: Conflict Unity compilation, Continuous Integration, Windows

#8398 [CoSim] missing changes for multi coupling and FSCI example
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
  applications/CoSimulationApplication/python_scripts/co_simulation_analysis.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/existing_co_simulation.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver_wrapper.py
  applications/CoSimulationApplication/tests/fsi_sdof/cosim_sdof_fsci_parameters.json
  applications/CoSimulationApplication/tests/test_convergence_accelerators.py
  applications/CoSimulationApplication/tests/test_convergence_criteria.py
  applications/CoSimulationApplication/tests/test_coupling_interface_data.py
  applications/CoSimulationApplication/tests/test_coupling_operations.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
  applications/CoSimulationApplication/tests/test_kratos_co_sim_io.py
  applications/CoSimulationApplication/tests/test_processes.py
  applications/CoSimulationApplication/tests/test_sdof_solver.py
Labels: Applications, Feature, Refactor

#8694 [core] The ModelPartIO now checks NodalData with vectorial data
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_read.mdpa
  kratos/tests/test_function_parser_utility.py
  kratos/tests/test_gid_io.py
  kratos/tests/test_materials_input.py
  kratos/tests/test_model_part_io.py
  kratos/tests/test_object_printing.py
  kratos/tests/test_processes.py
  kratos/tests/test_restart.py
  kratos/tests/test_variable_utils.py
Labels: IO, Kratos Core, Testing
