Repository KratosMultiphysics/Kratos, pull requests merged in 2021-12, with the labels that each got.

#9414 [FastPR][Structural][Fluid][ConvDiff][Potential] Naming convention in solvers
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_static_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_analysis_rom.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_custom_scipy_base_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
Labels: Applications, FastPR, Convention

#9416 [Shallow] Wavemaker
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.cpp
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.h
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/python_scripts/boussinesq_solver.py
  applications/ShallowWaterApplication/python_scripts/utilities/wave_theory_utilities.py
  applications/ShallowWaterApplication/python_scripts/wave_generator_process.py
  applications/ShallowWaterApplication/python_scripts/wave_solver.py
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
Labels: Refactor

#9411 [Core] Adding KRATOS_WATCH_CERR
  kratos/includes/define.h
Labels: Kratos Core, Debug

#7545 [Core][Geometry] PointOnGeometry - edited from: Brep Point
  kratos/geometries/geometry_data.h
  kratos/geometries/geometry_shape_function_container.h
  kratos/geometries/point_on_geometry.h
  kratos/geometries/quadrature_point_geometry.h
  kratos/input_output/cad_json_input.h
  kratos/tests/auxiliar_files_for_python_unittest/cad_json_files/single_square.cad.json
  kratos/tests/cpp_tests/geometries/test_point_on_geometry.cpp
  kratos/tests/test_cad_json_input.py
Labels: CAD Integration

#9394 [PfemFluid] Add wave output process
  applications/PfemFluidDynamicsApplication/CMakeLists.txt
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/PfemFluidDynamicsApplication/custom_utilities/calculate_wave_height_utility.cpp
  applications/PfemFluidDynamicsApplication/custom_utilities/calculate_wave_height_utility.h
  applications/PfemFluidDynamicsApplication/python_scripts/wave_height_output_process.py
Labels: Enhancement, Post Process

#9365 [FSI][FastPR]FSI Core and Python interface separation
  applications/FSIApplication/CMakeLists.txt
  applications/FSIApplication/custom_utilities/AdvancedNMPointsMapper.hpp
  applications/FSIApplication/fsi_application.h
Labels: Applications, Compilation, FastPR

#9427 [Shallow] Add readme and license
  applications/ShallowWaterApplication/LICENSE.txt
  applications/ShallowWaterApplication/README.md
Labels: Documentation

#9417 [HDF5] Meaning full error for Invalid Path
  applications/HDF5Application/custom_io/hdf5_file.cpp
  applications/HDF5Application/tests/test_hdf5_file.cpp
Labels: Applications, C++, FastPR

#9315 [ShapeOpt] add possibility to use face_angle only on initially feasible nodes
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/face_angle_response_function_utility.cpp
  applications/ShapeOptimizationApplication/custom_utilities/response_functions/face_angle_response_function_utility.h
  applications/ShapeOptimizationApplication/python_scripts/response_functions/face_angle.py
  applications/ShapeOptimizationApplication/shape_optimization_application.cpp
  applications/ShapeOptimizationApplication/shape_optimization_application.h
Labels: Feature

#9294 [CoSim] FEM - PFEM coupling
  applications/CoSimulationApplication/python_scripts/coupling_operations/compute_boundary_force.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/print_iteration_number.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/reset_pfem_kinematics.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/pfem_fluid_dynamics_wrapper.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/PFEMFluidMaterials.json
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/ProjectParametersFEM.json
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/ProjectParametersPFEM.json
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/StructuralMaterials.json
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/cosim_pfem_fem_waterslide2d_parameters.json
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/pfem_fem_waterslide2d_test_results.json
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/test2d.mdpa
  applications/CoSimulationApplication/tests/pfem_fem_waterslide2d/truss_vertical.mdpa
  applications/PfemFluidDynamicsApplication/CMakeLists.txt
  applications/PfemFluidDynamicsApplication/custom_processes/fix_free_velocity_on_nodes_process.cpp
  applications/PfemFluidDynamicsApplication/custom_processes/fix_free_velocity_on_nodes_process.h
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/PfemFluidDynamicsApplication/custom_utilities/move_mesh_utility.cpp
  applications/PfemFluidDynamicsApplication/custom_utilities/move_mesh_utility.h
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
Labels: Enhancement, Applications

#9436 [ShapeOpt] refactor damping modelparts
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/damping/damping_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/model_part_controller_factory.py
Labels: FastPR, Refactor

#9423 [Core] Add bounding box to python
  kratos/python/add_bounding_box_to_python.cpp
  kratos/python/add_bounding_box_to_python.h
  kratos/python/kratos_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_bounding_box.py
Labels: Usability

#9444 [Core] Adding MPC build time
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Kratos Core, Incomplete, FastPR

#9447 [Shallow] [Boussinesq] Variable topography
  applications/ShallowWaterApplication/custom_elements/boussinesq_element.cpp
  applications/ShallowWaterApplication/custom_elements/boussinesq_element.h
  applications/ShallowWaterApplication/python_scripts/benchmarks/base_benchmark_process.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/dam_break_benchmark.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/dry_dam_break_benchmark.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/mac_donald_shock_benchmark.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/mac_donald_transition_benchmark.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/planar_surface_in_parabola_benchmark.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/solitary_wave_benchmark.py
Labels: Enhancement, Benchmarking

#9448 [Shallow] move python scripts to folders
  applications/ShallowWaterApplication/python_scripts/legacy/free_surface_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/legacy/multigrid_solver.py
  applications/ShallowWaterApplication/python_scripts/legacy/residual_based_refining_condition_process.py
  applications/ShallowWaterApplication/python_scripts/legacy/semi_lagrangian_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/legacy/shallow_water_multigrid_analysis.py
  applications/ShallowWaterApplication/python_scripts/postprocess/convergence_plotter.py
  applications/ShallowWaterApplication/python_scripts/utilities/benchmarking_utilities.py
  applications/ShallowWaterApplication/tests/elements_tests/semi_lagrangian_swe_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/swe_parameters.json
Labels: Cleanup, Legacy

#9451 Missing Kratos API
  applications/PfemFluidDynamicsApplication/custom_processes/fix_free_velocity_on_nodes_process.h
Labels: FastPR, Bugfix

#9450 [FastPR][All] Make python solver getters consistent
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_static_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_explicit_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_matrix_solver.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_structural_similarity.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_structural_similarity.py
  applications/RomApplication/python_scripts/convection_diffusion_stationary_rom_solver.py
  applications/RomApplication/python_scripts/convection_diffusion_transient_rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_implicit_dynamic_rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_static_rom_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_custom_scipy_base_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
Labels: Applications, FastPR, Inconsistent

#9452 Maintaining fem dem app
  applications/CoSimulationApplication/python_scripts/coupling_operations/reset_pfem_kinematics.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/pfem_fluid_dynamics_wrapper.py
  applications/FemToDemApplication/FemToDemApplication.py
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/ProjectParametersAuxProcs.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParametersAuxProcs.tcl
  applications/FemToDemApplication/python_scripts/FemDemDynamicSolver.py
  applications/PfemFluidDynamicsApplication/custom_processes/fix_free_velocity_on_nodes_process.cpp
  applications/PfemFluidDynamicsApplication/custom_processes/fix_free_velocity_on_nodes_process.h
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/PfemFluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/PfemFluidDynamicsApplication/custom_utilities/move_mesh_utility.cpp
  applications/PfemFluidDynamicsApplication/custom_utilities/move_mesh_utility.h
Labels: Applications, FastPR

#9439 [Rom] Unify analysis stage
  applications/RomApplication/python_scripts/convection_diffusion_analysis_rom.py
  applications/RomApplication/python_scripts/fluid_dynamics_analysis_rom.py
  applications/RomApplication/python_scripts/rom_analysis.py
  applications/RomApplication/python_scripts/rom_testing_utilities.py
  applications/RomApplication/python_scripts/structural_mechanics_analysis_rom.py
  applications/RomApplication/tests/fluid_dynamics_test_files/MainKratosROM.py
  applications/RomApplication/tests/fluid_dynamics_test_files/ProjectParameters.json
  applications/RomApplication/tests/fluid_dynamics_test_files/test_ROM.py
  applications/RomApplication/tests/structural_dynamic_test_files/MainKratosROM.py
  applications/RomApplication/tests/structural_dynamic_test_files/ProjectParameters.json
  applications/RomApplication/tests/structural_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/structural_static_test_files/MainKratosHROM.py
  applications/RomApplication/tests/structural_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/structural_static_test_files/ProjectParametersHROM.json
  applications/RomApplication/tests/structural_static_test_files/ProjectParametersROM.json
  applications/RomApplication/tests/structural_static_test_files/test_ROM.py
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/test_fluid_rom.py
  applications/RomApplication/tests/test_structural_rom.py
  applications/RomApplication/tests/test_thermal_rom.py
  applications/RomApplication/tests/thermal_dynamic_test_files/MainKratosROM.py
  applications/RomApplication/tests/thermal_dynamic_test_files/ProjectParameters.json
  applications/RomApplication/tests/thermal_dynamic_test_files/test_ROM.py
  applications/RomApplication/tests/thermal_static_test_files/MainKratosROM.py
  applications/RomApplication/tests/thermal_static_test_files/ProjectParameters.json
  applications/RomApplication/tests/thermal_static_test_files/test_ROM.py
Labels: Enhancement, Cleanup, Applications, After Release, Refactor, ROM

#9454 [ConstitutiveLawsApp] Update of the plastic-damage model
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_constitutive/associative_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/associative_plastic_damage_model.h
  applications/ConstitutiveLawsApplication/custom_constitutive/plastic_potentials/rankine_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/rankine_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.h
  applications/ConstitutiveLawsApplication/tests/PlasticDamageModel/plastic_damage_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/PlasticDamageModel/plastic_damage_test_results.json
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Applications

#9442 [ShapeOpt] direction damping
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/damping/direction_damping_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_bead_optimization.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_gradient_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_penalized_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_steepest_descent.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_trust_region.py
  applications/ShapeOptimizationApplication/python_scripts/model_part_controller_factory.py
  applications/ShapeOptimizationApplication/tests/direction_damping_test/parameters.json
  applications/ShapeOptimizationApplication/tests/direction_damping_test/run_test.py
  applications/ShapeOptimizationApplication/tests/direction_damping_test/small_plate.mdpa
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Feature

#9415 Fixed assign_vector_variable_process defaults
  kratos/python_scripts/assign_vector_by_direction_process.py
  kratos/python_scripts/assign_vector_by_direction_to_condition_process.py
  kratos/python_scripts/assign_vector_by_direction_to_element_process.py
  kratos/python_scripts/assign_vector_by_direction_to_entity_process.py
  kratos/python_scripts/assign_vector_by_direction_to_node_process.py
  kratos/python_scripts/assign_vector_variable_process.py
  kratos/python_scripts/assign_vector_variable_to_conditions_process.py
  kratos/python_scripts/assign_vector_variable_to_constraints_process.py
  kratos/python_scripts/assign_vector_variable_to_elements_process.py
  kratos/python_scripts/assign_vector_variable_to_entities_process.py
  kratos/python_scripts/assign_vector_variable_to_nodes_process.py
Labels: FastPR

#9459 [FastPR][All] Make solvers create functions consistent
  applications/CoSimulationApplication/python_scripts/coupled_solvers/feti_dynamic_coupled_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_explicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_structural_mechanics_static_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_explicit_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_semi_eulerian_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_matrix_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_transient_solver.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/mesh_solver_structural_similarity.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_base.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_laplacian.py
  applications/MeshMovingApplication/python_scripts/trilinos_mesh_solver_structural_similarity.py
  applications/RomApplication/python_scripts/convection_diffusion_stationary_rom_solver.py
  applications/RomApplication/python_scripts/convection_diffusion_transient_rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_implicit_dynamic_rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_static_rom_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_custom_scipy_base_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_formfinding_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_harmonic_analysis_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_prebuckling_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_static_solver.py
Labels: Applications, FastPR, Inconsistent

#9463 [CoSim] optionally change computation of residual for ConvAcc
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/convergence_accelerator_wrapper.py
Labels: Enhancement, Applications, Usability

#9464 [CoSim] missing sync
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
Labels: Applications, Parallel-MPI, FastPR

#9449 [Shape Opt] Sliding Morphing
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/loggers/design_logger_vtk.py
  applications/ShapeOptimizationApplication/python_scripts/mapper_factory.py
  applications/ShapeOptimizationApplication/python_scripts/mapping/sliding_vertex_morphing_mapper.py
  applications/ShapeOptimizationApplication/python_scripts/optimizer_factory.py
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
  applications/ShapeOptimizationApplication/tests/sliding_opt_test/3D_shell_51n.mdpa
  applications/ShapeOptimizationApplication/tests/sliding_opt_test/boundary_surface_35n.mdpa
  applications/ShapeOptimizationApplication/tests/sliding_opt_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/sliding_opt_test/run_test.py
  applications/ShapeOptimizationApplication/tests/sliding_opt_test/shape_update_results.json
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Feature

#9465 Sdem correcting periodic search
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/DEMApplication/custom_search/bins_dynamic_objects_periodic.h
  applications/DEMApplication/custom_utilities/node_configure.h
  applications/DEMApplication/custom_utilities/omp_dem_search.h
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_search_nodes.py
  applications/SwimmingDEMApplication/custom_utilities/binbased_DEM_fluid_coupled_mapping.cpp
  applications/SwimmingDEMApplication/tests/NightTests.py
  applications/SwimmingDEMApplication/tests/PeriodicBackwardCouplingTestFactory.py
  applications/SwimmingDEMApplication/tests/fluid_convergence_tests/cube_cavityDEM.mdpa
Labels: Help Wanted

#9475 [Core][IndexedObject] missing include
  kratos/includes/indexed_object.h
Labels: Kratos Core, Hotfix, Incomplete, FastPR

#9474 [Fluid] Adding GetSpecifications to some elements
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.h
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.h
  applications/FluidDynamicsApplication/custom_elements/fic.cpp
  applications/FluidDynamicsApplication/custom_elements/fic.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step.cpp
  applications/FluidDynamicsApplication/custom_elements/fractional_step.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.h
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/weakly_compressible_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/weakly_compressible_navier_stokes.h
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/weakly_compressible_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
Labels: Applications, Incomplete

#9473 [Structural] Add GetSpecifications to some elements
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/displacement_control_condition.h
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.h
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  kratos/tests/test_specifications_utilities.py
Labels: Applications, Incomplete

#9477 [Core][Point] making operator== const
  kratos/geometries/point.h
Labels: Kratos Core, Incomplete, FastPR

#9478 [Core][Serializer] adding support for std::set/std::unordered_set
  kratos/includes/serializer.h
  kratos/tests/cpp_tests/sources/test_serializer.cpp
Labels: Kratos Core, Feature

#9479 [ConstitutiveLaws] Minor changes
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/constitutive_laws_integrators/generic_constitutive_law_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_high_cycle_fatigue_law.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_isotropic_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/generic_small_strain_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/tests/InitialStateInelasticity/initial_state3_test_results.json
Labels: Applications, FastPR

#8576 [Core] Adding geometries to ModelPartIO
  kratos/CMakeLists.txt
  kratos/geometries/geometry.h
  kratos/includes/io.h
  kratos/includes/model_part_io.h
  kratos/python/add_io_to_python.cpp
  kratos/sources/model_part_io.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_read.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_write.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_write_mesh_only.mdpa
  kratos/tests/test_model_part_io.py
  kratos/tests/test_object_printing.py
  kratos/utilities/compare_elements_and_conditions_utility.cpp
  kratos/utilities/compare_elements_and_conditions_utility.h
Labels: Enhancement, Kratos Core, IO

#9481 [FastPR][Hotfix] Fix multiline json string
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/weakly_compressible_navier_stokes.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/weakly_compressible_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
Labels: Hotfix, FastPR

#8177 [Core] This messages should be removed, as all of the PR has been merged already
  CMakeLists.txt
Labels: Cleanup, Kratos Core

#9483 [StructuralMechanicsApplication] Better classification in header
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
Labels: Applications, FastPR

#7817 [Core] Transition refactor gidio #6675
  applications/FreeSurfaceApplication/custom_python/add_custom_io_to_python.cpp
  applications/FreeSurfaceApplication/custom_utilities/edgebased_gid_io.h
  kratos/includes/gid_gauss_point_container.h
  kratos/includes/gid_io.h
  kratos/includes/gid_mesh_container.h
  kratos/python/add_io_to_python.cpp
Labels: Cleanup, Kratos Core, Transition, Refactor

#8626 [Core] Adding Lobatto in Hexa
  kratos/geometries/hexahedra_3d_8.h
Labels: Enhancement, Kratos Core, FastPR

#9488 [ContactStructuralMechanicsApplication] Update includes
  applications/ContactStructuralMechanicsApplication/custom_processes/master_slave_process.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/line_search_contact_strategy.h
Labels: Applications, FastPR

#9487 [Core][VariableUtils] DOFs and DOFs-reaction list addition at once
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Kratos Core, Feature

#9484 [Core] SpecificationUtils addition of GetDofsListFromSpecifications
  kratos/elements/distance_calculation_element_simplex.h
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_specifications_utilities.py
  kratos/utilities/specifications_utilities.cpp
  kratos/utilities/specifications_utilities.h
Labels: Kratos Core, Feature

#8662 [Core] Update badge Release. Also adding cool badges related
  README.md
Labels: Kratos Core, Documentation, FastPR

#9486 [TwoFluid] fixes for mass_conservation in MPI
  applications/FluidDynamicsApplication/custom_processes/mass_conservation_check_process.cpp
Labels: Bugfix

#7734 [Core] Adding ProjectedIsInside to geometry_utils
  kratos/tests/cpp_tests/utilities/test_geometry_utils.cpp
  kratos/utilities/binbased_fast_point_locator.h
  kratos/utilities/geometry_utilities.cpp
  kratos/utilities/geometry_utilities.h
Labels: Kratos Core, Transition

#9467 [All] Python solvers GetDofsList method
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  kratos/python_scripts/auxiliary_solver_utilities.py
  kratos/python_scripts/python_solver.py
Labels: Discussion, Applications, Proposal

#7108 [Core][Model/ModelPart] recursive SubModelParts
  kratos/containers/model.cpp
  kratos/containers/model.h
  kratos/sources/model_part.cpp
  kratos/tests/cpp_tests/containers/test_model.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
  kratos/tests/test_model.py
Labels: Enhancement, Kratos Core, Proposal, Usability

#9496 [ConvectionDiffusion] Analysis main has a typo
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_analysis.py
Labels: Typo, FastPR, Bugfix

#9497 [CLApp] Minor corrections in Mohr Coulomb yield surfaces
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/yield_surfaces/mohr_coulomb_yield_surface.h
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_yield_surfaces_3d.cpp
Labels: FastPR

#9498 [Shallow] Boussinesq formulation
  applications/ShallowWaterApplication/README.md
  applications/ShallowWaterApplication/custom_conditions/boussinesq_condition.cpp
  applications/ShallowWaterApplication/custom_conditions/boussinesq_condition.h
  applications/ShallowWaterApplication/custom_conditions/conservative_condition.cpp
  applications/ShallowWaterApplication/custom_conditions/wave_condition.cpp
  applications/ShallowWaterApplication/custom_elements/boussinesq_element.cpp
  applications/ShallowWaterApplication/custom_elements/boussinesq_element.h
  applications/ShallowWaterApplication/custom_elements/wave_element.cpp
  applications/ShallowWaterApplication/custom_elements/wave_element.h
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_strategies/residual_based_adams_moulton_scheme.h
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.h
  applications/ShallowWaterApplication/python_scripts/benchmarks/solitary_wave_benchmark.py
  applications/ShallowWaterApplication/python_scripts/boussinesq_solver.py
  applications/ShallowWaterApplication/python_scripts/derivatives_recovery_process.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/utilities/solitary_wave_utilities.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/cpp_tests/test_derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/tests/processes_tests/test_derivatives_recovery_process.py
Labels: Feature
