Repository KratosMultiphysics/Kratos, pull requests merged in 2021-01, with the labels that each got.

#8037 [FastPR][Core] EdgeNumber Python exposure
  kratos/python/add_geometries_to_python.cpp
Labels: Enhancement, FastPR, Python

#8036 [core] Small addition to ModelPartIO test
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_read.mdpa
  kratos/tests/test_model_part_io.py
  kratos/tests/test_object_printing.py
Labels: Testing

#7973 [applications] Add CalculateLumpedMassVector method
  applications/CableNetApplication/custom_elements/empirical_spring.cpp
  applications/CableNetApplication/custom_elements/empirical_spring.hpp
  applications/CableNetApplication/custom_elements/ring_element_3D.cpp
  applications/CableNetApplication/custom_elements/ring_element_3D.hpp
  applications/CableNetApplication/custom_elements/sliding_cable_element_3D.cpp
  applications/CableNetApplication/custom_elements/sliding_cable_element_3D.hpp
  applications/ConvectionDiffusionApplication/custom_elements/qs_convection_diffusion_explicit.cpp
  applications/ConvectionDiffusionApplication/custom_elements/qs_convection_diffusion_explicit.h
  applications/ConvectionDiffusionApplication/symbolic_generation/convection_diffusion_explicit/qs_convection_diffusion_explicit_cpp_template.cpp
  applications/FemToDemApplication/custom_elements/base_solid_element.cpp
  applications/FemToDemApplication/custom_elements/base_solid_element.h
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.h
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
Labels: Applications, C++, Enhancement, Incomplete

#8046 [Core] Expose few condition calculate matrix methods to python
  kratos/python/add_mesh_to_python.cpp
Labels: C++, Kratos Core

#8045 [Core] ResidualBasedAdjointBossakScheme - Making methods virtual
  kratos/solving_strategies/schemes/residual_based_adjoint_bossak_scheme.h
Labels: API Breaker, C++, Kratos Core

#8047 [FEMDEM] Minor corrections in order to compile regarding LumpedMatrix
  applications/FemToDemApplication/custom_elements/base_solid_element.cpp
Labels: Applications, FastPR

#8044 [Iga] Nurbs Volume Test
  applications/IgaApplication/tests/test_IgaApplication.py
  applications/IgaApplication/tests/test_nurbs_volume_element.py
Labels: Applications, Testing

#7901 [Trilinos] adding Amesos2 support
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/custom_factories/trilinos_linear_solver_factory.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_linear_solvers_to_python.cpp
  applications/TrilinosApplication/external_includes/amesos2_solver.h
  applications/TrilinosApplication/external_includes/amesos_solver.h
  applications/TrilinosApplication/tests/test_trilinos_linear_solvers.py
  cmake_modules/FindTRILINOS.cmake
Labels: External library, Feature, Parallel-MPI

#8050 [Fluid][Core][Fast PR] move TEMPERATURE_GRADIENT to core
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/sources/variables.cpp
Labels: Bug, Kratos Core

#8033 [Core] Discontinuous distance elemental edge distances enhancement
  kratos/includes/variables.h
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_processes_to_python.cpp
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
Labels: Enhancement, Kratos Core

#8052 range based loops with copy not allowed
  .github/workflows/ci.yml
Labels: Clang, Continuous Integration, FastPR

#8048 [Core] Move CoordinateTransformationUtilities Methods to Public
  kratos/utilities/coordinate_transformation_utilities.h
Labels: API Breaker, C++, Kratos Core

#8058 [Metis] adding compilation instruction
  INSTALL.md
  applications/MetisApplication/README.md
Labels: Applications, Cleanup, Documentation, FastPR

#7934 [core] Compute lumped mass vector using CalculateLumpedMassVector
  kratos/solving_strategies/builder_and_solvers/explicit_builder.h
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_bar_element.cpp
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_bar_element.h
  kratos/tests/cpp_tests/strategies/strategies/test_explicit_strategies.cpp
Labels: C++, Enhancement

#8034 [FastPR][Core] Enabling += operator in automatic differentiation.
  applications/ContactStructuralMechanicsApplication/python_scripts/custom_sympy_fe_utilities.py
  kratos/python_scripts/sympy_fe_utilities.py
Labels: Enhancement, FastPR, Kratos Core

#7969 [Structural] clean and improve restart
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/isotropic_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/membrane_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thick_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D3N.cpp
  applications/StructuralMechanicsApplication/custom_elements/shell_thin_element_3D4N.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/z_strain_driven_2p5_small_displacement.cpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, Cleanup

#7832 [MPICore] adding DistributedModelPartInitializer
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/tests/sources/test_distributed_model_part_initializer.cpp
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/mpi/tests/test_distributed_model_part_initializer.py
  kratos/mpi/utilities/distributed_model_part_initializer.cpp
  kratos/mpi/utilities/distributed_model_part_initializer.h
Labels: Feature, Kratos Core, Parallel-MPI

#7243 [CoSim] specify num threads for Kratos solvers
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/kratos_base_wrapper.py
Labels: Applications, Discussion, Feature, Parallel-OMP

#8031 [Fluid][FastPR] Expected penalty constant definition
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element_discontinuous.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_embedded_fluid_element_discontinuous.cpp
Labels: Applications, Behaviour Change, FastPR

#8065 [Hotfix][FastPR][Fluid] Update tests accordingly
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/tests/EmbeddedReservoirDiscontinuousTest/EmbeddedReservoirDiscontinuous3DTestParameters.json
  applications/FluidDynamicsApplication/tests/embedded_couette_flow_test.py
Labels: Applications, FastPR, Hotfix

#8060 [Core] Parallel distance calculator clean up
  applications/ChimeraApplication/custom_processes/apply_chimera_process.cpp
  applications/TrilinosApplication/tests/test_TrilinosApplication_mpi.py
  applications/TrilinosApplication/tests/test_trilinos_redistance.py
  kratos/utilities/parallel_levelset_distance_calculator.h
Labels: Cleanup, Deprecated, Kratos Core

#8063 [Core] StructuredMeshGeneratorProcess. Generate conditions skin
  kratos/processes/structured_mesh_generator_process.cpp
  kratos/tests/cpp_tests/processes/test_structured_mesh_generator_process.cpp
Labels: Enhancement, Kratos Core

#8069 [Core] Adding missing Condition name to generation in StructuredMeshGeneratorProcess
  kratos/processes/structured_mesh_generator_process.cpp
Labels: Enhancement, FastPR, Kratos Core

#7809 [MetisApp] drop support for version 4
  applications/MetisApplication/CMakeLists.txt
Labels: After Release, Deprecated, External library, Parallel-MPI

#8071 [Shallow] Dynamic stab
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/tests/elements_tests/shallow_water_2d_3n_reference.json
Labels: FastPR

#8066 [Shallow] Reducing tests verbosity
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: FastPR, Testing

#8076 [core] Correct Python indentation
  kratos/python_scripts/sympy_fe_utilities.py
Labels: Bugfix, Python

#8067 [Core,FluidDyn] fix warnings in windows
  .github/workflows/configure.cmd
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_d_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_qs_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/trilinos_extension/custom_utilities/trilinos_fractional_step_settings_periodic.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_mpc_plate_tension.cpp
  applications/SwimmingDEMApplication/custom_processes/transient_spatial_dependant_porosity_solution_body_force_process.cpp
  applications/SwimmingDEMApplication/custom_python/swimming_DEM_python_application.cpp
  applications/SwimmingDEMApplication/custom_strategies/strategies/residualbased_derivative_recovery_strategy.h
  applications/SwimmingDEMApplication/python_scripts/variables_management.py
  applications/SwimmingDEMApplication/swimming_DEM_application.cpp
  kratos/includes/dem_variables.h
  kratos/python/add_dem_variables_to_python.cpp
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/sources/dem_variables.cpp
  kratos/utilities/communication_coloring_utilities.cpp
  kratos/utilities/global_pointer_utilities.h
Labels: Cleanup, Compilation, Warning, Windows

#8083 [ContactStructuralMechanicsApplication] Error in outcome fixed
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_residual_contact_criteria.h
Labels: Applications, FastPR, Hotfix

#8082 poromechanics warnings cleanup
  applications/PoromechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.cpp
  applications/PoromechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/exponential_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/history_linear_elastic_3D_law.hpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_newton_raphson_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_strategy.hpp
Labels: Cleanup, Warning

#8084 [ContactStructuralMechanicsApplication] Clean up leftovers previous PR. Remove return return
  applications/ContactStructuralMechanicsApplication/python_scripts/custom_sympy_fe_utilities.py
Labels: Applications, Cleanup, FastPR, Leftover

#7954 [Core] Extending Sensitivity builder to use Sensitivity Builder Schemes
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/schemes/sensitivity_builder_scheme.h
  kratos/tests/test_KratosCore.py
  kratos/tests/test_coordinate_transformation_utils.py
  kratos/tests/test_sensitivity_utilities.py
  kratos/utilities/sensitivity_builder.cpp
  kratos/utilities/sensitivity_builder.h
  kratos/utilities/sensitivity_utilities.cpp
  kratos/utilities/sensitivity_utilities.h
Labels: C++, Kratos Core

#8080 [ParMMG] Fix preserve_flags option
  applications/MeshingApplication/custom_utilities/parmmg/pmmg_utilities.cpp
  applications/MeshingApplication/tests/parmmg_eulerian_test/cond_ref_map.json
  applications/MeshingApplication/tests/parmmg_eulerian_test/elem_ref_map.json
  applications/MeshingApplication/tests/test_mpi_parmmg.py
Labels: Applications, Bugfix

#8094 [PotentialFlow] Removing no longer needed KRATOS_CHECK_VARIABLE_KEY
  applications/CompressiblePotentialFlowApplication/custom_conditions/potential_wall_condition.cpp
Labels: Applications, Deprecated, FastPR

#8095 [PotentialFlow] Using DRAG_COEFFICIENT variable from core
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application.cpp
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application_variables.cpp
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application_variables.h
  applications/CompressiblePotentialFlowApplication/custom_python/compressible_potential_flow_python_application.cpp
  applications/CompressiblePotentialFlowApplication/python_scripts/compute_embedded_lift_process.py
  applications/CompressiblePotentialFlowApplication/python_scripts/compute_lift_process.py
  applications/CompressiblePotentialFlowApplication/tests/potential_flow_test_factory.py
Labels: Applications, Compilation

#8099 [Exaqute] Pass const process info to element initialize
  applications/ExaquteSandboxApplication/tests/cpp_tests/test_weighted_divergence_calculation.cpp
Labels: Bugfix, Testing

#8091 [CI] adding PotentialFlow in Win-CI
  .github/workflows/configure.cmd
Labels: Applications, Continuous Integration, Incomplete

#8098 [MLMC] Pass const process info to element initialize
  applications/MultilevelMonteCarloApplication/tests/cpp_tests/test_power_sums_calculation.cpp
Labels: Bugfix, Testing

#8092 [CI] fix clang option
  .github/workflows/ci.yml
  applications/CompressiblePotentialFlowApplication/custom_elements/embedded_incompressible_potential_flow_element.cpp
  kratos/utilities/communication_coloring_utilities.cpp
Labels: Clang, Continuous Integration, FastPR, Warning

#8105 [dem] Hardcoded test conditions removed from code
  applications/DEMApplication/custom_elements/thermal_spheric_particle.cpp
  applications/DEMApplication/custom_elements/thermal_spheric_particle.h
Labels: Bugfix, C++, Cleanup

#8107 [MLMC] Skip test
  applications/MultilevelMonteCarloApplication/tests/test_multilevel_montecarlo.py
  applications/MultilevelMonteCarloApplication/tests/test_xmcAlgorithm.py
Labels: Bugfix

#8108 [Shallow] Flux-corrected scheme cleanup and testing
  applications/ShallowWaterApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ShallowWaterApplication/custom_strategies/flux_corrected_shallow_water_scheme.h
  applications/ShallowWaterApplication/custom_utilities/flux_limiter.h
  applications/ShallowWaterApplication/python_scripts/free_surface_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/tests/elements_tests/monotonic_shallow_water_2d_3n_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/monotonic_shallow_water_2d_3n_reference.json
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Cleanup, Testing

#7474 [Core] Adding ParallelHelpers
  kratos/includes/kernel.h
  kratos/python/add_other_utilities_to_python.cpp
  kratos/sources/kernel.cpp
  kratos/utilities/openmp_utils.h
  kratos/utilities/parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
Labels: Feature, Kratos Core, Parallel-OMP

#8110 [ConvDiff][Fluid] CFD-related new interfaces upgrade
  applications/ConvectionDiffusionApplication/custom_conditions/flux_condition.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/flux_condition.h
  applications/ConvectionDiffusionApplication/custom_conditions/thermal_face.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/thermal_face.h
  applications/ConvectionDiffusionApplication/custom_elements/eulerian_diff.h
  applications/FluidDynamicsApplication/custom_conditions/fs_generalized_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/fs_werner_wengle_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/fs_werner_wengle_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/monolithic_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/monolithic_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/wall_condition.h
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms.h
  applications/FluidDynamicsApplication/custom_elements/dpg_vms.h
  applications/FluidDynamicsApplication/custom_elements/dynamic_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/dynamic_vms.h
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/embedded_fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/fic.cpp
  applications/FluidDynamicsApplication/custom_elements/fic.h
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/fluid_element.h
  applications/FluidDynamicsApplication/custom_elements/fractional_step.cpp
  applications/FluidDynamicsApplication/custom_elements/fractional_step.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.h
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/vms.cpp
  applications/FluidDynamicsApplication/custom_elements/vms.h
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_template.cpp
Labels: Applications, Deprecated

#8115 [Core] Fix for segmentation fault in #8096
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: FastPR, Kratos Core

#8116 [RANS] Update element condition interfaces
  applications/RANSApplication/custom_conditions/fractional_step_k_based_wall_condition.h
  applications/RANSApplication/custom_elements/incompressible_potential_flow_velocity_element.cpp
  applications/RANSApplication/custom_elements/incompressible_potential_flow_velocity_element.h
Labels: Applications, C++

#8109 [DEM] updated elements
  applications/DEMApplication/custom_elements/discrete_element.h
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.h
Labels: Applications, Deprecated

#8113 [Shallow] [TLD] Mesh acceleration
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.h
  applications/ShallowWaterApplication/python_scripts/stabilized_shallow_water_solver.py
Labels: Feature

#8118 [Apps] removing some key-checks
  applications/CableNetApplication/custom_elements/empirical_spring.cpp
  applications/CableNetApplication/custom_elements/weak_coupling_slide.cpp
  applications/ContactStructuralMechanicsApplication/symbolic_generation/ALM_frictionless_components_mortar_condition/ALM_frictionless_components_mortar_contact_condition_template.cpp
  applications/MeshMovingApplication/custom_elements/laplacian_meshmoving_element.cpp
  applications/MeshMovingApplication/custom_elements/structural_meshmoving_element.cpp
  applications/ParticleMechanicsApplication/custom_strategies/schemes/mpm_explicit_scheme.hpp
  applications/RANSApplication/custom_conditions/fractional_step_k_based_wall_condition.h
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/residual_based_relaxation_scheme.hpp
Labels: Cleanup, Deprecated

#8123 [IGA] Bring some const to ProcessInfo
  .github/workflows/configure.cmd
  .github/workflows/configure.sh
  applications/IgaApplication/custom_conditions/load_condition.cpp
  applications/IgaApplication/custom_conditions/load_condition.h
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.cpp
  applications/IgaApplication/custom_conditions/penalty_coupling_condition.h
  applications/IgaApplication/custom_elements/shell_3p_element.cpp
  applications/IgaApplication/custom_elements/shell_3p_element.h
Labels: Tobis Branch

#8121 [dem][sdem] Towards compatibility with the updated core API's
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/custom_utilities/analytic_tools/analytic_particle_watcher.cpp
  applications/DEMApplication/custom_utilities/calculate_global_physical_properties.h
  applications/DEMApplication/custom_utilities/create_and_destroy.cpp
  applications/DEMApplication/custom_utilities/dem_fem_search.h
  applications/DEMApplication/custom_utilities/inlet.cpp
  applications/DEMApplication/custom_utilities/post_utilities.h
  applications/DEMApplication/custom_utilities/pre_utilities.h
  applications/DemStructuresCouplingApplication/custom_utilities/stress_failure_check_utilities.hpp
  applications/FluidDynamicsApplication/custom_strategies/schemes/residualbased_predictorcorrector_velocity_bossak_scheme_turbulent.h
  applications/SwimmingDEMApplication/custom_conditions/calculate_laplacian_simplex_condition.cpp
  applications/SwimmingDEMApplication/custom_conditions/calculate_laplacian_simplex_condition.h
  applications/SwimmingDEMApplication/custom_conditions/monolithic_dem_coupled_wall_condition.cpp
  applications/SwimmingDEMApplication/custom_conditions/monolithic_dem_coupled_wall_condition.h
  applications/SwimmingDEMApplication/custom_elements/calculate_component_gradient_simplex_element.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_component_gradient_simplex_element.h
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012.h
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012_edge.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_gradient_Pouliot_2012_edge.h
  applications/SwimmingDEMApplication/custom_elements/calculate_laplacian_simplex_element.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_laplacian_simplex_element.h
  applications/SwimmingDEMApplication/custom_elements/calculate_mat_deriv_simplex_element.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_mat_deriv_simplex_element.h
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian.h
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian_component.cpp
  applications/SwimmingDEMApplication/custom_elements/calculate_velocity_laplacian_component.h
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled.cpp
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled.h
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.cpp
  applications/SwimmingDEMApplication/custom_elements/monolithic_dem_coupled_weak.h
  applications/SwimmingDEMApplication/custom_elements/shell_rigid.cpp
  applications/SwimmingDEMApplication/custom_elements/shell_rigid.h
  applications/SwimmingDEMApplication/custom_strategies/strategies/residualbased_predictorcorrector_velocity_bossak_scheme_turbulentDEMCoupled.h
  applications/SwimmingDEMApplication/custom_utilities/binbased_DEM_fluid_coupled_mapping.cpp
  applications/SwimmingDEMApplication/custom_utilities/custom_functions.h
  applications/SwimmingDEMApplication/custom_utilities/derivative_recovery.cpp
  applications/SwimmingDEMApplication/custom_utilities/fields/cellular_flow_field.h
  applications/SwimmingDEMApplication/custom_utilities/fields/ethier_flow_field.h
  applications/SwimmingDEMApplication/custom_utilities/fields/pouliot_flow_field.h
  applications/SwimmingDEMApplication/custom_utilities/fields/pouliot_flow_field_2D.h
  applications/SwimmingDEMApplication/custom_utilities/fields/product_of_sines_field.h
Labels: C++, Cleanup

#8112 [Core] Adding new test looking for error in #8096
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Discussion, FastPR, Kratos Core, Testing

#8127 [CI] running small tests only for RANS
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
Labels: Applications, Continuous Integration, Testing

#8088 [MLMC] Cleanup and restyle of adaptive refinement class - towards MLMC-ParMmg
  applications/MultilevelMonteCarloApplication/python_scripts/adaptive_refinement_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/generator_utilities.py
  applications/MultilevelMonteCarloApplication/python_scripts/tools.py
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_refinement.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d_kratos/problem_settings/parameters_refinement.json
  applications/MultilevelMonteCarloApplication/tests/test_multilevel_montecarlo.py
  applications/MultilevelMonteCarloApplication/tests/test_xmcAlgorithm.py
Labels: Cleanup, Python

#8119 [Shallow] Flux corrected algorithm cleanup
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/custom_elements/monotonic_element_2d_3n.cpp
  applications/ShallowWaterApplication/custom_elements/monotonic_element_2d_3n.h
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.cpp
  applications/ShallowWaterApplication/custom_elements/shallow_water_2d_3.h
  applications/ShallowWaterApplication/python_scripts/flux_corrected_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/stabilized_shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
  applications/ShallowWaterApplication/tests/elements_tests/monotonic_shallow_water_2d_3n_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/monotonic_shallow_water_2d_3n_reference.json
Labels: Cleanup

#8129 [Shallow] Cleanup
  applications/ShallowWaterApplication/CMakeLists.txt
  applications/ShallowWaterApplication/ShallowWaterApplication.py
  applications/ShallowWaterApplication/custom_elements/swe.cpp
  applications/ShallowWaterApplication/custom_processes/compute_velocity_process.cpp
  applications/ShallowWaterApplication/custom_processes/compute_velocity_process.h
  applications/ShallowWaterApplication/custom_processes/id_renumbering_process.cpp
  applications/ShallowWaterApplication/custom_processes/id_renumbering_process.h
  applications/ShallowWaterApplication/custom_processes/move_shallow_particles_process.cpp
  applications/ShallowWaterApplication/custom_processes/move_shallow_particles_process.h
  applications/ShallowWaterApplication/custom_processes/negative_height_wetting_model.cpp
  applications/ShallowWaterApplication/custom_processes/negative_height_wetting_model.h
  applications/ShallowWaterApplication/custom_processes/rough_porous_layer_wetting_model.cpp
  applications/ShallowWaterApplication/custom_processes/rough_porous_layer_wetting_model.h
  applications/ShallowWaterApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ShallowWaterApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_strategies/schemes/residualbased_incrementalupdate_wetting_scheme.h
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
  applications/ShallowWaterApplication/python_scripts/free_surface_shallow_water_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/cpp_tests/test_shallow_element.cpp
  applications/ShallowWaterApplication/tests/elements_tests/swe_reference.json
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
Labels: Cleanup

#8086 [Core] Access PolynomialDegree() of QuadraturePointGeometry
  kratos/geometries/nurbs_curve_geometry.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/geometries/nurbs_surface_geometry.h
  kratos/geometries/nurbs_volume_geometry.h
  kratos/geometries/quadrature_point_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_surface.cpp
Labels: CAD Integration, FastPR

#7996 [RANS] QSVMS Expansion Step 3 - Update conditions to use Constitutive Laws
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/fractional_step_k_based_wall_condition.cpp
  applications/RANSApplication/custom_conditions/fractional_step_k_based_wall_condition.h
  applications/RANSApplication/custom_conditions/incompressible_potential_flow_velocity_inlet_condition.cpp
  applications/RANSApplication/custom_conditions/scalar_wall_flux_condition.cpp
  applications/RANSApplication/custom_conditions/scalar_wall_flux_condition_data.h
  applications/RANSApplication/custom_conditions/vms_monolithic_k_based_wall_condition.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/omega_element_data.cpp
  applications/RANSApplication/custom_processes/rans_epsilon_turbulent_mixing_length_inlet_process.cpp
  applications/RANSApplication/custom_processes/rans_epsilon_turbulent_mixing_length_inlet_process.h
  applications/RANSApplication/custom_processes/rans_nut_k_epsilon_update_process.cpp
  applications/RANSApplication/custom_processes/rans_nut_k_epsilon_update_process.h
  applications/RANSApplication/custom_processes/rans_nut_k_omega_sst_update_process.cpp
  applications/RANSApplication/custom_processes/rans_nut_k_omega_sst_update_process.h
  applications/RANSApplication/custom_processes/rans_nut_y_plus_wall_function_update_process.cpp
  applications/RANSApplication/custom_processes/rans_nut_y_plus_wall_function_update_process.h
  applications/RANSApplication/custom_processes/rans_omega_turbulent_mixing_length_inlet_process.cpp
  applications/RANSApplication/custom_processes/rans_omega_turbulent_mixing_length_inlet_process.h
  applications/RANSApplication/custom_processes/rans_wall_function_update_process.cpp
  applications/RANSApplication/custom_processes/rans_wall_function_update_process.h
  applications/RANSApplication/custom_python/add_custom_processes_to_python.cpp
  applications/RANSApplication/custom_python/rans_python_application.cpp
  applications/RANSApplication/python_scripts/formulations/fractional_step/fractional_step_velocity_pressure_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/monolithic_vms/monolithic_velocity_pressure_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/turbulence_models/k_epsilon_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/turbulence_models/k_omega_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/turbulence_models/k_omega_sst_rans_formulation.py
  applications/RANSApplication/python_scripts/formulations/utilities.py
  applications/RANSApplication/rans_application.cpp
  applications/RANSApplication/rans_application_variables.cpp
  applications/RANSApplication/rans_application_variables.h
  applications/RANSApplication/tests/BackwardFacingStepTest/backward_facing_step_material_properties.json
  applications/RANSApplication/tests/ChannelFlowTest/channel_flow_material_properties.json
  applications/RANSApplication/tests/cpp/k_epsilon/test_utilities.cpp
  applications/RANSApplication/tests/cpp/k_omega/test_utilities.cpp
  applications/RANSApplication/tests/cpp/k_omega_sst/test_utilities.cpp
  applications/RANSApplication/tests/cpp/test_vms_monolithic_k_based_condition.cpp
  applications/RANSApplication/tests/custom_process_tests.py
Labels: Applications, C++

#8131 [Apps] minor fixes in MPI tests
  applications/FSIApplication/tests/test_FSIApplication_mpi.py
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/mpi_cylinder_test_parameters.json
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication_mpi.py
  applications/HDF5Application/tests/test_HDF5Application_mpi.py
  applications/MappingApplication/tests/test_MappingApplication_mpi.py
  applications/MeshMovingApplication/tests/test_MeshMovingApplication_mpi.py
  applications/MeshingApplication/tests/test_MeshingApplication_mpi.py
  applications/RANSApplication/tests/custom_process_tests.py
  applications/RANSApplication/tests/incompressible_potential_flow_solver_formulation_tests.py
  applications/RANSApplication/tests/test_RANSApplication.py
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication_mpi.py
  applications/TrilinosApplication/tests/test_TrilinosApplication_mpi.py
  applications/TrilinosApplication/tests/test_trilinos_linear_solvers.py
  kratos/mpi/tests/test_neighbours.py
  kratos/mpi/tests/test_nodal_elemental_neighbours.py
Labels: FastPR, Parallel-MPI, Testing

#8144 [CI] Update to Parmmg v1.3.0 (5ffc6ad)
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: Compilation, Continuous Integration

#8139 [Core] Remove some deprecated compilation warnings
  kratos/linear_solvers/scaling_solver.h
  kratos/mpi/tests/sources/test_distributed_sparse_graph.cpp
  kratos/processes/apply_periodic_boundary_condition_process.cpp
  kratos/processes/calculate_embedded_signed_distance_to_3d_skin_process.h
  kratos/processes/levelset_convection_process.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_componentwise.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_slip.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/solving_strategies/schemes/residual_based_adjoint_bossak_scheme.h
  kratos/solving_strategies/schemes/residual_based_adjoint_static_scheme.h
  kratos/solving_strategies/schemes/residual_based_bdf_scheme.h
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/solving_strategies/schemes/residual_based_implicit_time_scheme.h
  kratos/solving_strategies/schemes/sensitivity_builder_scheme.h
  kratos/sources/model_part_io.cpp
  kratos/tests/cpp_tests/sources/test_chunk.cpp
  kratos/tests/cpp_tests/sources/test_memory_pool.cpp
  kratos/tests/cpp_tests/sparse_matrices/test_sparse_graph_serial.cpp
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/pointer_map_communicator.h
Labels: Cleanup, FastPR, Kratos Core, Refactor

#8130 [MPI/CI] adding proper runscript
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  applications/FSIApplication/tests/convergence_accelerator_spring_MPI_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication_mpi.py
  applications/RANSApplication/tests/test_RANSApplication_mpi.py
  applications/StatisticsApplication/tests/test_StatisticsApplication_mpi.py
  kratos/python_scripts/testing/run_python_mpi_tests.py
  kratos/python_scripts/testing/utilities.py
Labels: Continuous Integration, Parallel-MPI, Testing

#8137 [Core] Variable redistribution utility enhancements
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/two_dim_unstructured_square_quads.mdpa
  kratos/tests/test_variable_redistribution.py
  kratos/utilities/variable_redistribution_utility.cpp
  kratos/utilities/variable_redistribution_utility.h
Labels: Enhancement, Kratos Core

#8151 [StatApp] Activating MPI tests
  applications/StatisticsApplication/README.md
  applications/StatisticsApplication/python_scripts/spatial_statistics_process.py
  applications/StatisticsApplication/tests/spatial_statistics_test_case.py
  applications/StatisticsApplication/tests/statistics_test_case.py
  applications/StatisticsApplication/tests/test_StatisticsApplication_mpi.py
  applications/StatisticsApplication/tests/test_spatial_statistics_process.py
Labels: Parallel-MPI, Testing

#8154 [Core] separating LinearMasterSlaveConstraint into header/source
  kratos/constraints/linear_master_slave_constraint.cpp
  kratos/constraints/linear_master_slave_constraint.h
Labels: Kratos Core

#8150 error if OpenMP is not found
  CMakeLists.txt
  kratos/utilities/reduction_utilities.h
Labels: Parallel-OMP, Usability

#8153 [Core] using LockObject instead of critical
  kratos/sources/parallel_environment.cpp
Labels: FastPR, Kratos Core, Parallel-OMP, Refactor

#8158 [core] Actually removing new Python Path in Kratos Unit Test class
  kratos/python_scripts/KratosUnittest.py
Labels: Bugfix, Python, Testing

#8162 [Core] missing include
  kratos/utilities/parallel_utilities.cpp
Labels: Compilation, Hotfix, Kratos Core

#8160 [Core] [Python] points
  kratos/python/add_points_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_point.py
Labels: Incomplete, Kratos Core

#8157 [Shallow] [Benchmarking] Adding Mac Donald's solution type with shock
  applications/ShallowWaterApplication/python_scripts/benchmarks/base_benchmark_process.py
  applications/ShallowWaterApplication/python_scripts/benchmarks/mac_donald_shock_benchmark.py
Labels: Testing

#8164 [Core] Adding missing methods GP for bools
  kratos/python/add_mesh_to_python.cpp
Labels: FastPR, Inconsistent, Kratos Core, Python

#8166 [Exaqute] Add drag and moment utility
  applications/ExaquteSandboxApplication/CMakeLists.txt
  applications/ExaquteSandboxApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ExaquteSandboxApplication/custom_python/add_custom_utilities_to_python.h
  applications/ExaquteSandboxApplication/custom_python/exaqute_sandbox_python_application.cpp
  applications/ExaquteSandboxApplication/custom_utilities/drag_and_moment_utilities.cpp
  applications/ExaquteSandboxApplication/custom_utilities/drag_and_moment_utilities.h
  applications/ExaquteSandboxApplication/exaqute_sandbox_application.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.cpp
  applications/ExaquteSandboxApplication/exaqute_sandbox_application_variables.h
  applications/ExaquteSandboxApplication/python_scripts/compute_body_fitted_drag_and_moment_process.py
  applications/ExaquteSandboxApplication/python_scripts/compute_drag_and_moment_process.py
Labels: Feature

#8168 [Shallow] Update custom output processes
  applications/ShallowWaterApplication/python_scripts/output/convergence_output_process.py
  applications/ShallowWaterApplication/python_scripts/output/nodes_output_process.py
  applications/ShallowWaterApplication/tests/processes_tests/nodes_output_process_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/nodes_output_process_reference.dat
  applications/ShallowWaterApplication/tests/processes_tests/test_convergence_output_process.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Testing

#8169 [Shallow] remove warnings
  applications/ShallowWaterApplication/custom_strategies/flux_corrected_shallow_water_scheme.h
  applications/ShallowWaterApplication/custom_strategies/shallow_water_residual_based_bdf_scheme.h
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
Labels: Cleanup

#8008 adding custom exception hook to also add the source rank in MPI
  kratos/python_interface/__init__.py
Labels: Debug, Parallel-MPI

#8165 [Core] mpi unittest fixes
  kratos/python_scripts/KratosUnittest.py
  kratos/python_scripts/testing/run_python_mpi_tests.py
  kratos/python_scripts/testing/utilities.py
Labels: Hotfix, Kratos Core, Testing

#8056 deprecating officially the ExternalSolversApplication
  applications/ExternalSolversApplication/CMakeLists.txt
  applications/ExternalSolversApplication/ExternalSolversApplication.py
Labels: Applications, Deprecated

#8170 [StructuralMechanicsApplication] Adding INTEGRATION_COORDINATES to beam elements
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
Labels: Applications, Enhancement, FastPR

#8090 [Core] removing deprecated interface of Element, Condition & Scheme
  kratos/includes/condition.h
  kratos/includes/element.h
  kratos/solving_strategies/schemes/scheme.h
Labels: API Breaker, Cleanup, Deprecated, Kratos Core

#8104 [MPI] Fill communicator factory
  kratos/includes/fill_communicator.h
  kratos/includes/parallel_environment.h
  kratos/mpi/python/kratos_mpi_python.cpp
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.h
  kratos/sources/parallel_environment.cpp
  kratos/utilities/fill_communicator.cpp
Labels: Kratos Core, Parallel-MPI, Usability

#8178 [Shallow] Leftover
  applications/ShallowWaterApplication/custom_conditions/nothing_condition.cpp
  applications/ShallowWaterApplication/custom_conditions/nothing_condition.hpp
Labels: Hotfix, Leftover

#8179 [Core] parsing integers instead of bools in pybind lists because ... reasons
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  kratos/elements/mesh_element.cpp
  kratos/elements/mesh_element.h
  kratos/python/add_mesh_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_integration_points.py
Labels: Bug, Bugfix, Kratos Core, Python
