Repository KratosMultiphysics/Kratos, pull requests merged in 2021-06, with the labels that each got.

#8812 [DEM] Update variable check
  applications/DEMApplication/custom_utilities/inlet.cpp
Labels: FastPR

#8752 [DEM] Updated test to use KratosUnittest methods
  applications/DEMApplication/tests/test_DEM_3D_continuum.py
Labels: FastPR

#8836 [CoSim][SumDistributedToSingle] MPI bugfix
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/sum_distributed_to_single.py
Labels: Applications, Bugfix, FastPR, Parallel-MPI

#8821 [CI] adding CL application to centos configure
  .github/workflows/centos_configure.sh
  applications/ConstitutiveLawsApplication/custom_constitutive/associative_plastic_damage_model.h
  applications/ConstitutiveLawsApplication/custom_constitutive/rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/rule_of_mixtures_law.h
Labels: Continuous Integration

#8841 [Core][Nurbs] Add control_point_weights to NurbsCurve construction in input reader
  kratos/input_output/cad_json_input.h
Labels: CAD Integration

#8551 [RANS] Fix negative wall distance issue for some cases
  applications/RANSApplication/custom_processes/rans_wall_distance_calculation_process.cpp
Labels: Applications, Bugfix, C++, FastPR

#8839 [CFD] Adding default output file name for CFL
  applications/FluidDynamicsApplication/python_scripts/cfl_output_process.py
Labels: Bugfix

#8847 Dem new inlet introducing rv
  applications/DEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DEMApplication/custom_utilities/create_and_destroy.cpp
  applications/DEMApplication/custom_utilities/create_and_destroy.h
  applications/DEMApplication/custom_utilities/inlet.cpp
  applications/DEMApplication/custom_utilities/inlet.h
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/dem_default_input_parameters.py
  applications/DEMApplication/tests/piecewise_linear_inlet_tests_files/MaterialsDEM.json
  applications/DEMApplication/tests/piecewise_linear_inlet_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/piecewise_linear_inlet_tests_files/piecewise_linear_inletDEM_Inlet.mdpa
  applications/DEMApplication/tests/random_variable_tests_files/__init__.py
  applications/DEMApplication/tests/random_variable_tests_files/random_variable.py
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_inlet.py
  applications/SwimmingDEMApplication/python_scripts/swimming_DEM_analysis.py
Labels: Applications, Enhancement

#8846 [dem] Bugfix for restart tests, spoiling nightly runs
  applications/DEMApplication/tests/restart_files/ball_and_wallProjectParametersDEM.json
  applications/DEMApplication/tests/restart_files/ball_and_wall_MaterialsDEM.json
  applications/DEMApplication/tests/test_restart.py
Labels: Bugfix, FastPR, Testing

#8851 [StructuralMechanicsApplication] Fix postprocess in UL element
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.h
  applications/StructuralMechanicsApplication/tests/test_patch_test_large_strain.py
Labels: Applications, FastPR

#8767 [Core] Missing Has and const methods in ModelPart
  kratos/includes/mesh.h
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/tests/test_model_part.py
Labels: FastPR, Inconsistent, Kratos Core

#8857 [MLMC] Update XMC
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/README.md
Labels: External library

#8394 [Core][ParallelUtilities] adding GlobalLock
  kratos/utilities/parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
Labels: Kratos Core, Parallel-OMP

#8761 [Core] Adding Erase to python
  kratos/containers/variables_list_data_value_container.h
  kratos/includes/properties.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_properties_to_python.cpp
  kratos/tests/test_properties.py
Labels: FastPR, Kratos Core, Python

#8684 [Core] Geometry remove virtual from point access operators
  applications/IgaApplication/custom_modelers/iga_modeler.cpp
  applications/IgaApplication/custom_modelers/iga_modeler.h
  kratos/geometries/brep_surface.h
  kratos/geometries/geometry.h
Labels: CAD Integration, Cleanup, Kratos Core

#8768 [TwoFluids] Activating distance smoothing in MPI solver
  applications/FluidDynamicsApplication/custom_elements/distance_smoothing_element.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.cpp
  applications/FluidDynamicsApplication/custom_processes/distance_smoothing_process.h
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/trilinos_extension/custom_python/add_trilinos_processes_to_python.cpp
Labels: Feature, Parallel-MPI

#8853 Core/Porting OMP Parallel for loops to Parallel Utilities_15
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_slip.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
Labels: Kratos Core, Parallel-OMP, Refactor

#8861 [CoSim] major update of documentation
  applications/CoSimulationApplication/README.md
Labels: Applications, Documentation, FastPR

#8835 [HDF5App] Replace deprecated data comm calls GetDefault()
  applications/HDF5Application/python_scripts/core/__init__.py
  applications/HDF5Application/python_scripts/core/file_io.py
  applications/HDF5Application/python_scripts/initialization_from_hdf5_process.py
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_input_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_xdmf_output_process.py
  applications/HDF5Application/python_scripts/utils.py
  applications/HDF5Application/tests/test_hdf5_core.py
Labels: Applications, Deprecated, FastPR

#8837 [FastPR][Core] Add cbegin and cend to PointerVectorSet
  kratos/containers/pointer_vector_set.h
  kratos/tests/cpp_tests/containers/test_pointer_vector_set.cpp
Labels: Enhancement, FastPR, Incomplete, Kratos Core

#8862 [Core] Fix failing test with empty partitions MPI discontinuous distance
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/find_intersected_geometrical_objects_process.cpp
Labels: Parallel-MPI, Testing

#8833 [Core] Remove unused virtual in VariablesListDataValueContainer
  kratos/containers/variables_list_data_value_container.h
Labels: C++, FastPR, Kratos Core, Performance

#8864 [Core] Deprecate duplicated Initialize method in find intersected geometrical objects
  kratos/processes/apply_ray_casting_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/processes/find_intersected_geometrical_objects_process.cpp
  kratos/processes/find_intersected_geometrical_objects_process.h
Labels: Deprecated, Kratos Core

#8850 Extend SubModelPartSkinDetectionProcess
  kratos/processes/sub_model_part_skin_detection_process.cpp
  kratos/processes/sub_model_part_skin_detection_process.h
  kratos/tests/test_skin_detection_process.py
Labels: Enhancement, Kratos Core

#8870 [CoSim] improving docs further
  applications/CoSimulationApplication/README.md
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos_co_sim_io.py
Labels: Applications, Documentation, FastPR

#8871 [CoSim] minor bugfix related to echo level
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
Labels: Applications, Bugfix, FastPR

#8718 [Core][Geometry] Add GlobalSpaceDerivatives to BrepCurveOnSurface
  kratos/geometries/brep_curve_on_surface.h
Labels: CAD Integration

#8869 [Fluid] Update two-fluids levelset convection input
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  kratos/processes/levelset_convection_process.h
Labels: Applications, Bugfix, Usability

#8876 Deriving beam elements in GeoMechanics from StructuralMechanics
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_2D2N.cpp
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_2D2N.hpp
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_3D2N.cpp
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_3D2N.hpp
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_linear_2D2N.cpp
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_linear_2D2N.hpp
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_linear_3D2N.cpp
  applications/GeoMechanicsApplication/custom_elements/geo_cr_beam_element_linear_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_linear_2D2N.hpp
Labels: Applications, Refactor

#8874 LevelsetConvectionProcess/ComputeGradient
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
  kratos/elements/levelset_convection_element_simplex_algebraic_stabilization.cpp
  kratos/processes/levelset_convection_process.h
  kratos/tests/test_levelset_convection.py
Labels: Bugfix, Cleanup

#8885 [Core] exposing Properties::HasTable to python
  kratos/python/add_properties_to_python.cpp
  kratos/tests/test_properties.py
Labels: Python

#8893 Delete calculate_octree_signed_distance_to_3d_skin_process.h
  kratos/processes/calculate_octree_signed_distance_to_3d_skin_process.h
Labels: Cleanup, Kratos Core, Legacy

#8892 Delete residualbased_elimination_builder_and_solver_slip.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_slip.h
Labels: Cleanup, Kratos Core, Legacy

#8888 [MeshMoving] Update ImposeMeshMotionProcess
  applications/MeshMovingApplication/custom_processes/impose_mesh_motion_process.cpp
Labels: Applications, FastPR

#8830 [fluid] calculate shear heat, eq strain and effective viscosity
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/symbolic_stokes.h
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/symbolic_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_stokes_symbolic_element.cpp
Labels: Feature

#8896 [Core] Adding interface for Vector Slice
  kratos/python/add_vector_to_python.cpp
  kratos/tests/test_vector_interface.py
Labels: Kratos Core, Usability

#8902 [Hotfix][Fluid] Temperature calculation
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/compressible_navier_stokes_explicit_solving_strategy_runge_kutta_4.h
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
Labels: Applications, Hotfix

#8900 [DEM] Search tolerance test
  applications/DEMApplication/tests/auxiliary_functions_for_tests.py
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_DEM_search_tolerance.py
  applications/DEMApplication/tests/test_search_tolerance/MaterialsDEM.json
  applications/DEMApplication/tests/test_search_tolerance/ProjectParametersDEM.json
  applications/DEMApplication/tests/test_search_tolerance/test_searchtoleranceDEM.mdpa
  applications/DEMApplication/tests/test_search_tolerance/test_searchtoleranceDEM_FEM_boundary.mdpa
Labels: Testing

#8889 [dem] Test which compares unbonded spheres and bonded spheres in a case where they should behave equally
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_constitutive/DEM_D_Linear_viscous_Coulomb_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_Dempack_torque_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_CL.h
  applications/DEMApplication/custom_constitutive/DEM_KDEM_soft_torque_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_soft_torque_CL.h
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_CL.h
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_Hertz_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_KDEM_with_damage_parallel_bond_Hertz_CL.h
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_continuum.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/DEM_material_test_script.py
  applications/DEMApplication/python_scripts/DEM_material_test_script_mpi.py
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DEMApplication/python_scripts/dem_default_input_parameters.py
  applications/DEMApplication/python_scripts/sphere_strategy.py
  applications/DEMApplication/test_examples/basic_benchmarks/ProjectParametersDEMCONT.json
  applications/DEMApplication/test_examples/basic_benchmarks/ProjectParametersUCS.json
  applications/DEMApplication/tests/DEM2D_control_module_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/DEM2D_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/DEM3D_continuum_vs_discontinuum_tests_files/DEM3D_continuum_vs_discontinuumDEM.mdpa
  applications/DEMApplication/tests/DEM3D_continuum_vs_discontinuum_tests_files/DEM3D_continuum_vs_discontinuumDEM_FEM_boundary.mdpa
  applications/DEMApplication/tests/DEM3D_continuum_vs_discontinuum_tests_files/MaterialsDEM.json
  applications/DEMApplication/tests/DEM3D_continuum_vs_discontinuum_tests_files/ProjectParametersDEM.json
  applications/DEMApplication/tests/constitutive_laws_tests_files/ProjectParametersDEM1.json
  applications/DEMApplication/tests/constitutive_laws_tests_files/ProjectParametersDEM2.json
  applications/DEMApplication/tests/constitutive_laws_tests_files/ProjectParametersDEM3.json
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_DEM_3D_continuum.py
  applications/DEMApplication/tests/test_DEM_3D_continuum/ProjectParametersDEM.json
  applications/DEMApplication/tests/test_DEM_3D_continuum_vs_discontinuum.py
  applications/DEMApplication/tests/test_DEM_schemes.py
  applications/DEMApplication/tests/test_schemes/ProjectParametersDEM_ForwardEuler.json
  applications/DEMApplication/tests/test_schemes/ProjectParametersDEM_Symplectic.json
  applications/DEMApplication/tests/test_schemes/ProjectParametersDEM_Taylor.json
  applications/DEMApplication/tests/test_schemes/ProjectParametersDEM_Verlet.json
Labels: Bugfix, C++, Python, Testing

#8776 [Core] Adding ternary operator to function parser
  external_libraries/tinyexpr/tinyexpr/tinyexpr.c
  kratos/tests/cpp_tests/utilities/test_function_parser_utility.cpp
  kratos/tests/test_function_parser_utility.py
  kratos/utilities/function_parser_utility.cpp
  kratos/utilities/function_parser_utility.h
Labels: Bugfix, External library, Hotfix, Kratos Core

#8891 [PotentialFlow] Adding far field lift adjoint response function
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application.cpp
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application_variables.cpp
  applications/CompressiblePotentialFlowApplication/compressible_potential_flow_application_variables.h
  applications/CompressiblePotentialFlowApplication/custom_conditions/adjoint_potential_wall_condition.cpp
  applications/CompressiblePotentialFlowApplication/custom_conditions/adjoint_potential_wall_condition.h
  applications/CompressiblePotentialFlowApplication/custom_processes/apply_far_field_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/define_2d_wake_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/define_embedded_wake_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_python/add_custom_response_functions_to_python.cpp
  applications/CompressiblePotentialFlowApplication/custom_python/compressible_potential_flow_python_application.cpp
  applications/CompressiblePotentialFlowApplication/custom_response_functions/adjoint_far_field_lift_response_function.cpp
  applications/CompressiblePotentialFlowApplication/custom_response_functions/adjoint_far_field_lift_response_function.h
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_adjoint_solver.py
  applications/CompressiblePotentialFlowApplication/tests/embedded_test/embedded_circle_adjoint_farfield_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/embedded_test/normal_sensitivity_far_field_test_results.json
  applications/CompressiblePotentialFlowApplication/tests/naca0012_small_adjoint_test/naca0012_small_sensitivities_adjoint_far_field_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/naca0012_small_adjoint_test/shape_sensitivity_far_field_test_results.json
  applications/CompressiblePotentialFlowApplication/tests/potential_flow_test_factory.py
Labels: Applications, Feature

#8911 [Core][CLA] set_initial_state: fix for mixed-element mesh
  kratos/processes/set_initial_state_process.cpp
Labels: Bugfix, FastPR

#8913 [Core] Append small test suite
  kratos/tests/test_KratosCore.py
Labels: FastPR, Kratos Core, Testing

#8897 [Core][CoSim] Adding size check in Auxiliar Model Part Utilities
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: Applications, Enhancement, Kratos Core, Parallel-OMP

#8899 [Core]Create a Kratos.Matrix from Py-list of list
  kratos/python/add_matrix_to_python.cpp
  kratos/tests/test_matrix_interface.py
Labels: Enhancement, Kratos Core, Python, TODO

#8919 [PotentialFlow] Initialize condition in adjoint far field response
  applications/CompressiblePotentialFlowApplication/custom_response_functions/adjoint_far_field_lift_response_function.cpp
Labels: FastPR

#8920 [PotentialFlow] Minor update adjoint test
  applications/CompressiblePotentialFlowApplication/tests/stochastic_body_fitted_opt/adjoint_parameters.json
  applications/CompressiblePotentialFlowApplication/tests/stochastic_body_fitted_opt/run_test.py
Labels: FastPR

#8925 [MLMC] Add central moment order 2 dimension 1
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_momentEstimator/computeCentralMoments.py
Labels: External library

#8922 [Core] Adding a few methods to MathUtils
  kratos/tests/cpp_tests/utilities/test_math_utils.cpp
  kratos/utilities/math_utils.h
Labels: Applications, Enhancement

#8881 [FEMDEM] Minor improvement generating DEM
  applications/FemToDemApplication/custom_processes/generate_dem_process.cpp
  applications/FemToDemApplication/custom_processes/generate_dem_process.h
Labels: Applications, FastPR

#8926 [MLMC] Update xmc - fix continuation algorithm
  applications/CompressiblePotentialFlowApplication/tests/stochastic_body_fitted_opt/xmc_parameters.json
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/hierarchyOptimiser.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_multiCriterion/flag.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/methodDefs_multiCriterion/interpreter.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/momentEstimator.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monoCriterion.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/monteCarloIndex.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/multiCriterion.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/tools.py
  applications/MultilevelMonteCarloApplication/external_libraries/XMC/xmc/xmcAlgorithm.py
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/problem_settings/parameters_xmc_asynchronous_mc_DAR.json
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/problem_settings/parameters_xmc_asynchronous_mc_RFF.json
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/problem_settings/parameters_xmc_asynchronous_mc_SARMT.json
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/problem_settings/parameters_xmc_asynchronous_mc_SARTAAO.json
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/problem_settings/parameters_xmc_asynchronous_mlmc_DAR.json
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/problem_settings/parameters_xmc_asynchronous_mlmc_RFF.json
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/problem_settings/parameters_xmc_asynchronous_mlmc_SAR.json
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/simulation_definition.py
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_RFF.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_fixedsamples.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_10_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_poisson_2d_fixedsamples.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_DAR.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_fixedsamples.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums_multi.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_asynchronous_poisson_2d_with_combined_power_sums_multi_ensemble.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_poisson_2d.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/parameters_xmc_test_mlmc_Kratos_poisson_2d_with_combined_power_sums.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/poisson_multi-moment_mc.json
  applications/MultilevelMonteCarloApplication/tests/poisson_square_2d/problem_settings/poisson_multi-moment_mlmc.json
Labels: External library

#8907 [Structral][EigenSolver] using sprecta by default
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_eigensolver.py
  applications/StructuralMechanicsApplication/tests/test_eigen_solver_with_constraints.py
Labels: Applications, Performance, Usability
