Repository KratosMultiphysics/Kratos, pull requests merged in 2022-10, with the labels that each got.

#10336 [PfemFluid] set local size for large wall elements
  applications/DelaunayMeshingApplication/custom_utilities/mesher_utilities.cpp
  applications/PfemFluidDynamicsApplication/custom_processes/compute_average_pfem_mesh_parameters_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_nodes_before_meshing_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/remove_mesh_nodes_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/select_mesh_elements_for_fluids_process.hpp
Labels: Cleanup, Applications

#10304 [ParticleMechanicsApplication] Update README.md
  applications/ParticleMechanicsApplication/README.md
Labels: Applications, Documentation

#10335 [StructuralMechanicsApplication] Fixing `auxiliar`->`auxiliary` typo
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_shell_element_sprism_3D6N.h
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/shell_to_solid_shell_process.h
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/residual_displacement_and_other_dof_criteria.h
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_central_differences_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/explicit_multi_stage_kim_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/residual_based_relaxation_scheme.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/mechanical_explicit_strategy.hpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/explicit_integration_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/rayleigh_damping_coefficients_utilities.cpp
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/python_scripts/automatic_rayleigh_parameters_computation_process.py
  applications/StructuralMechanicsApplication/python_scripts/auxiliary_methods_adaptative_solvers.py
  applications/StructuralMechanicsApplication/python_scripts/auxiliary_methods_solvers.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/trilinos_structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_complex_orientation_mpc.cpp
Labels: Cleanup, Applications, Typo

#10330 [Cleaning] Remove duplicated (and old) README.md
  .gitignore
  CMakeLists.txt
  scripts/wheels/README.md
Labels: Cleanup, Kratos Core, FastPR, Leftover

#10337 [Core] MLS shape functions enhancements
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/tests/cpp_tests/utilities/test_mls_shape_functions_utility.cpp
  kratos/tests/test_mls_shape_functions_utility.py
  kratos/utilities/mls_shape_functions_utility.cpp
  kratos/utilities/mls_shape_functions_utility.h
Labels: Enhancement, Kratos Core, Feature

#10339 [Core][FindGlobalNodalEntityNeighboursProcess] fix race condition
  kratos/processes/find_global_nodal_entity_neighbours_process.cpp
  kratos/processes/find_global_nodal_entity_neighbours_process.h
Labels: Kratos Core, Parallel-SMP, Bugfix

#10047 [Core] Adding deep copy ModelPart to AuxiliarModelPartUtilities
  kratos/tests/cpp_tests/utilities/test_auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: Enhancement, Kratos Core

#10340 [Documentation][Configure scripts] Adding documentation to compile using MinGW in Windows
  INSTALL.md
  scripts/standard_configure.sh
  scripts/standard_configure_MINGW.bat
  scripts/standard_configure_MINGW.sh
Labels: Windows, Kratos Core, Gcc, Clang, Documentation, Compilation

#10341 [DEMApplication] New rolling friction model and adjustments in other models
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model.h
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_bounded.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_bounded.h
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_constant_torque.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_constant_torque.h
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_viscous_torque.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_viscous_torque.h
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
Labels: Enhancement, Applications

#10236 [Core] Adding GlobalCoordinates with custom integration method
  kratos/geometries/geometry.h
Labels: Enhancement, Kratos Core

#10351 [Doc] Fix README.md typo
  README.md
Labels: Documentation, FastPR

#10343 [CMake] Some minor tabulation missing
  CMakeLists.txt
Labels: FastPR, Inconsistent, CMake, Minor

#10325 [CoSimulationApplication] Improve generic Kratos wrapper
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/kratos_base_wrapper.py
Labels: Enhancement, Applications, Python

#10065 bugfix minimum element size calculator for quadrilaterals
  applications/FluidDynamicsApplication/tests/cpp_tests/test_alternative_d_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_alternative_qs_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_d_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_qs_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_qs_vms_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_stokes_symbolic_element.cpp
  kratos/utilities/element_size_calculator.cpp
Labels: Kratos Core, Bugfix

#10353 [DEMApplication] Energy dissipation and heat generation by rolling friction
  applications/DEMApplication/custom_constitutive/DEM_D_Hertz_viscous_Coulomb_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model.h
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_constant_torque.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_constant_torque.h
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_viscous_torque.cpp
  applications/DEMApplication/custom_constitutive/DEM_rolling_friction_model_viscous_torque.h
  applications/DEMApplication/custom_elements/cluster3D.cpp
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/custom_utilities/calculate_global_physical_properties.h
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/ThermalDEMApplication/custom_constitutive/generation/generation_dissipation.cpp
  applications/ThermalDEMApplication/custom_constitutive/sintering_continuum.cpp
  applications/ThermalDEMApplication/custom_constitutive/sintering_continuum.h
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.cpp
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.h
  applications/ThermalDEMApplication/custom_utilities/graph_utilities.cpp
  applications/ThermalDEMApplication/python_scripts/thermal_sphere_strategy.py
Labels: Enhancement, Applications

#10365 [Core] Adding utility to classify particles in elements
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_particles_utilities.py
  kratos/utilities/particles_utilities.h
Labels: Kratos Core, Feature

#10368 hotfix
  kratos/utilities/particles_utilities.h
Labels: Hotfix, FastPR

#10370 [Core] Remove pending `typedef` defined in a namespace
  kratos/tests/cpp_tests/utilities/test_auxiliar_model_part_utilities.cpp
Labels: Cleanup, Kratos Core, FastPR

#10361 [ThermalDEMApplication] Heat Map
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.h
  applications/ThermalDEMApplication/CMakeLists.txt
  applications/ThermalDEMApplication/README.md
  applications/ThermalDEMApplication/custom_constitutive/generation/generation_dissipation.cpp
  applications/ThermalDEMApplication/custom_constitutive/generation/generation_dissipation.h
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.cpp
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.h
  applications/ThermalDEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ThermalDEMApplication/custom_python/thermal_dem_python_application.cpp
  applications/ThermalDEMApplication/custom_utilities/graph_utilities.cpp
  applications/ThermalDEMApplication/custom_utilities/heat_map_utilities.cpp
  applications/ThermalDEMApplication/custom_utilities/heat_map_utilities.h
  applications/ThermalDEMApplication/custom_utilities/tesselation_utilities_2d.cpp
  applications/ThermalDEMApplication/custom_utilities/tesselation_utilities_3d.cpp
  applications/ThermalDEMApplication/python_scripts/default_input_settings.py
  applications/ThermalDEMApplication/python_scripts/thermal_dem_analysis.py
  applications/ThermalDEMApplication/python_scripts/thermal_sphere_strategy.py
  applications/ThermalDEMApplication/thermal_dem_application.cpp
  applications/ThermalDEMApplication/thermal_dem_application_variables.cpp
  applications/ThermalDEMApplication/thermal_dem_application_variables.h
Labels: Enhancement, Applications

#10373 [Several] Remove numpy check in several apps
  applications/CableNetApplication/tests/test_empirical_spring.py
  applications/CoSimulationApplication/tests/co_simulation_test_factory.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
  applications/CoSimulationApplication/tests/test_mok_fsi.py
  applications/RomApplication/tests/test_compressible_potiential_rom.py
  applications/RomApplication/tests/test_empirical_cubature_method.py
  applications/RomApplication/tests/test_fluid_rom.py
  applications/RomApplication/tests/test_randomized_singular_value_decomposition.py
  applications/RomApplication/tests/test_structural_rom.py
  applications/RomApplication/tests/test_thermal_rom.py
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
Labels: Cleanup, Applications, Python, External library

#10356 [Core] deprecating no longer needed functions in Kratos::filesystem
  kratos/includes/kratos_filesystem.h
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
Labels: Cleanup, Kratos Core, FastPR

#10374 [CoSimulationApplication] Replace `np.bool` (deprecated) with `bool`
  applications/CoSimulationApplication/python_scripts/coupling_interface_data.py
Labels: Applications, Python, Deprecated, FastPR

#10212 disable C++ non-standard compiler specific extensions
  CMakeLists.txt
Labels: Compilation, FastPR, CMake

#10379 [Docker 22] fix compilers
  scripts/docker_files/docker_file_ci_ubuntu_22_04/DockerFile
Labels: Hotfix, FastPR, Continuous Integration

#10378 [Core] Revert 9239d8d and fix Triangle3D6N
  kratos/geometries/triangle_3d_6.h
  kratos/tests/cpp_tests/geometries/test_triangle_3d_6.cpp
Labels: Bug, Kratos Core, Hotfix, Bugfix

#10382 [Core][LockObject] remove deprecated MoveConstructor
  kratos/containers/distributed_sparse_graph.h
  kratos/containers/sparse_contiguous_row_graph.h
  kratos/includes/lock_object.h
Labels: Kratos Core, Deprecated, FastPR

#10383 [Docker Ubuntu 22] adding gfortran
  scripts/docker_files/docker_file_ci_ubuntu_22_04/DockerFile
Labels: FastPR, Continuous Integration

#10384 [StructuralMechanicsApplication] Silence warning in python
  applications/StructuralMechanicsApplication/python_scripts/element_sensitivity_domain_integration_process.py
Labels: Warning, Applications, Python, FastPR

#10389 [Core][MPI] minor refactor test_mpi_coloring_utilities
  kratos/mpi/tests/cpp_tests/sources/test_mpi_coloring_utilities.cpp
Labels: Warning, Kratos Core, Testing, Compilation, FastPR

#10386 [PfemFluid] Multiple refining boxes in 2D and 3D
  applications/DelaunayMeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DelaunayMeshingApplication/custom_utilities/mesher_utilities.cpp
  applications/DelaunayMeshingApplication/custom_utilities/mesher_utilities.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/compute_average_pfem_mesh_parameters_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/generate_new_nodes_before_meshing_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/remove_mesh_nodes_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/select_mesh_elements_for_fluids_process.hpp
  applications/PfemFluidDynamicsApplication/python_scripts/fluid_meshing_domain.py
Labels: Enhancement, Cleanup, Applications

#10390 [AMGCL] add missing initialization
  external_libraries/amgcl/adapter/block_matrix.hpp
Labels: External library, FastPR

#10394 [Core] minor cleanup in py tests
  kratos/mpi/tests/test_neighbours.py
  kratos/tests/test_condition_number.py
  kratos/tests/test_generic_find_elemental_neighbours_process.py
  kratos/tests/test_time_discretization.py
Labels: Kratos Core, Testing, FastPR

#10393 updating some filesystem calls
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/formfinding_strategy.hpp
  kratos/tests/cpp_tests/sources/test_kratos_parameters.cpp
  kratos/utilities/read_materials_utility.cpp
Labels: Kratos Core, Applications, Deprecated, FastPR

#10298 [GeoMechanicsApplication] Progress reporting in geomechanics flow analysis
  applications/GeoMechanicsApplication/cpp_geomechanics_application.cpp
  applications/GeoMechanicsApplication/cpp_geomechanics_application.h
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/custom_workflows/GeoFlow.cpp
  applications/GeoMechanicsApplication/external_bindings/kratos_external_bindings.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_GeoMechanicsNewtonRaphsonErosionProcessStrategy.cpp
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_sellmeijers_rule.py
  applications/GeoMechanicsApplication/tests/test_sellmeijers_rule_validation.py
Labels: GeoMechanics

#10387 [DEM] compiler warnings fixed
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/SwimmingDEMApplication/custom_conditions/calculate_laplacian_simplex_condition.h
  applications/SwimmingDEMApplication/custom_conditions/monolithic_dem_coupled_wall_condition.h
  applications/SwimmingDEMApplication/custom_utilities/derivative_recovery.cpp
Labels: Warning, Applications, Compilation, FastPR

#8161 [Core][LockObject] making compatible with CXX parallelism
  kratos/containers/distributed_sparse_graph.h
  kratos/containers/sparse_contiguous_row_graph.h
  kratos/includes/lock_object.h
Labels: Kratos Core, Parallel-SMP

#10346 [Core] Shifted boundary meshless interface utility
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_other_utilities_to_python.cpp
  kratos/sources/variables.cpp
  kratos/tests/cpp_tests/utilities/test_shifted_boundary_meshless_interface_utility.cpp
  kratos/utilities/shifted_boundary_meshless_interface_utility.cpp
  kratos/utilities/shifted_boundary_meshless_interface_utility.h
Labels: Kratos Core, Feature

#10388 [Shallow] minor compiler fix
  applications/ShallowWaterApplication/custom_friction_laws/friction_laws_factory.cpp
Labels: Warning, Applications, Compilation, FastPR

#10406 [Core] Correcting typo in `Process`
  kratos/processes/process.h
Labels: Kratos Core, Typo, FastPR

#10170 [CI] use ubuntu 22
  .github/workflows/ci.yml
  .github/workflows/configure.sh
  .github/workflows/intel_configure.sh
  .github/workflows/nightly_build.yml
Labels: Continuous Integration

#10402 [Core] Run tests script - fix applications argument
  kratos/python_scripts/testing/run_python_mpi_tests.py
  kratos/python_scripts/testing/run_tests.py
Labels: Testing, Bugfix

#10409 [Core] Clean up code using C++17 `constexpr` instead of explicit template specialization
  kratos/processes/find_nodal_h_process.cpp
  kratos/processes/find_nodal_h_process.h
Labels: Cleanup, Kratos Core, C++, FastPR

#10410 [Core] Clean up code using C++17 constexpr instead of explicit template specialization (II)
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
Labels: Cleanup, Kratos Core, C++, FastPR

#10403 [Core] Minor `Point` clean up and adding tests
  kratos/geometries/point.h
  kratos/tests/cpp_tests/geometries/test_point.cpp
Labels: Cleanup, Kratos Core, Testing

#10411 [FastPR][Core] Operations addition
  kratos/operations/operation.h
  kratos/python/add_operations_to_python.cpp
  kratos/python/add_operations_to_python.h
  kratos/python/kratos_python.cpp
Labels: Kratos Core, FastPR

#10404 [Core] Adding `Distance` method to `Point`
  kratos/geometries/point.h
  kratos/tests/cpp_tests/geometries/test_point.cpp
Labels: Enhancement, Cleanup, Kratos Core, Testing
