Repository KratosMultiphysics/Kratos, pull requests merged in 2022-08, with the labels that each got.

#10089 [HDF5] Fix Forwarded Process Parameters
  applications/HDF5Application/python_scripts/point_set_output_process.py
  applications/HDF5Application/tests/test_point_set_output_process.py
Labels: Applications, Python, FastPR

#10087 [MeshingApplication] Add support to specify local entity parameters
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg/mmg_process.h
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.h
Labels: Applications, Feature

#9994 [Deprecation message] Remove MeshIndex from GetProperties
  CMakeLists.txt
Labels: Legacy

#10091 [Core] GenericFindElementsNeighbours using Execute
  applications/ConvectionDiffusionApplication/python_scripts/move_particle_utility_process.py
  applications/FemToDemApplication/custom_processes/extend_pressure_condition_process.cpp
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.cpp
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainFEM_for_coupling.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/tests/distance_smoothing_test.py
  applications/PFEM2Application/python_scripts/frac_step_solverQ.py
  applications/PFEM2Application/python_scripts/pfem_2_process.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_fractional_step_fluid.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_fsi.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_fsi_2resolutions.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_monolithic.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_monolithic_autoslip_fluid.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_monolithic_fluid.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_monolithic_fluid_2scales.py
  applications/PFEM2Application/python_scripts/pfem_2_solver_monolithic_fluid_prashanth.py
  applications/ShallowWaterApplication/python_scripts/stabilized_shallow_water_solver.py
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_nodal_displacement_response_function.cpp
  applications/ULFapplication/python_scripts/runge_kutta_frac_step_solver.py
  kratos/processes/generic_find_elements_neighbours_process.cpp
  kratos/processes/generic_find_elements_neighbours_process.h
  kratos/processes/split_internal_interfaces_process.cpp
  kratos/tests/cpp_tests/processes/test_generic_neighbour_elements.cpp
  kratos/tests/test_generic_find_elemental_neighbours_process.py
Labels: Kratos Core, Usability, Update API

#10104 [Core] Adding tests of HasIntersection for Tetrahedra3D4
  kratos/tests/cpp_tests/geometries/test_tetrahedra_3d_4.cpp
Labels: Kratos Core, Testing, FastPR

#10106 [CoSim] adding link to publication
  applications/CoSimulationApplication/README.md
Labels: Applications, Documentation, FastPR

#10097 [Fluid] Compute Y+ Process
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_processes/compute_y_plus_process.cpp
  applications/FluidDynamicsApplication/custom_processes/compute_y_plus_process.h
  applications/FluidDynamicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/y_plus_output_process.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
  applications/FluidDynamicsApplication/tests/test_compute_y_plus_process.py
Labels: Applications, Python, C++, Feature

#10098 [Core] Adding architecture to the Kratos version
  kratos/sources/kratos_version.cpp
Labels: Enhancement, Kratos Core, FastPR

#10094 [LinearSolversApplication] Update MKL installation instructions for Windows
  applications/LinearSolversApplication/README.md
Labels: Applications, Documentation, FastPR

#9982 9981 update the admin of the geomechanicsapplication ie codeownersconfigure files
  .github/workflows/configure.cmd
  .github/workflows/configure.sh
  applications/GeoMechanicsApplication/CMakeLists.txt
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.hpp
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.cpp
  applications/GeoMechanicsApplication/tests/MohrCoulombUMAT.so
  applications/GeoMechanicsApplication/tests/test_interface.py
  applications/GeoMechanicsApplication/tests/test_reset_displacement.py
Labels: GeoMechanics

#10064 improve nodes creation
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
Labels: Performance

#10101 [StructMech] Leftover setting removal "line_search"
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_implicit_dynamic_solver.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_structural_mechanics_static_solver.py
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/mesh_moving_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/pure_friction_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_2D/static_evolution_load_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/contact_patch_complex_geom_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hertz_sphere_plate_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_with_elimination_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_patch_test_with_elimination_with_constraints_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/hyper_simple_triangle_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/ironing_die_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/ironing_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/mesh_moving_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_notmatching_a_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_notmatching_b_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/simple_slope_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/taylor_patch_dynamic_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_2D/taylor_patch_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_complex_geom_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_nonmatching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_test_large_disp_hexa_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_patch_test_large_disp_tetra_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_adaptative_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_quadtri_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_triquad_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/ALM_frictionless_contact_test_3D/3D_multi_contact_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_patch_test_large_disp_hexa_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_quadtri_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/3D_contact_simplest_patch_matching_triquad_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/hyper_simple_slope_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_2D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mesh_tying_test/simple_patch_test_3D_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/2D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/2D_contact_simplest_with_friction_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_simplest_patch_matching_slope_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_simplest_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/3D_contact_simplest_with_friction_patch_matching_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/beam_contact_static_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/beam_contact_static_with_friction_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/beam_contact_static_with_tying_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_hexa_simple_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_hexa_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/contact_beams_axil_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/mpc_contact_tests/plate_test_parameters.json
  applications/ContactStructuralMechanicsApplication/tests/penalty_frictionless_contact_test_3D/3D_contact_simplest_patch_matching_test_parameters.json
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Cleanup

#10120 Fixing race condition in FluidBioApp
  applications/FluidDynamicsBiomedicalApplication/custom_utilities/parabolic_profile_utilities.cpp
  applications/FluidDynamicsBiomedicalApplication/custom_utilities/parabolic_profile_utilities.h
  applications/FluidDynamicsBiomedicalApplication/tests/test_FluidDynamicsBiomedicalApplication.py
Labels: Bugfix

#10125 [Core][MPI] Add Python String Broadcast
  kratos/mpi/tests/test_mpi_data_communicator_python.py
  kratos/python/add_data_communicator_to_python.cpp
Labels: Enhancement, Python, Parallel-MPI, FastPR

#10086 [Core] Fix split triangle class
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh.hpp
  applications/TrilinosApplication/custom_utilities/trilinos_refine_mesh.h
  kratos/utilities/divide_triangle_2d_3.cpp
  kratos/utilities/split_triangle.h
Labels: Kratos Core, FastPR, Minor

#10130 [Core][MPI] Adding SynchronizeCurrentDataToMax and SynchronizeNonHistoricalDataToMax to MPI communicator
  kratos/includes/communicator.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/cpp_tests/sources/test_mpi_communicator.cpp
  kratos/sources/communicator.cpp
Labels: Enhancement, Kratos Core, Parallel-MPI, FastPR, Inconsistent

#10135 [Doc] Add C++ standard badge in README
  README.md
Labels: Documentation, FastPR

#10134 [Core] use std filesystem
  external_libraries/ghc/filesystem.hpp
  kratos/CMakeLists.txt
  kratos/sources/kratos_filesystem.cpp
  kratos/sources/model_part_io.cpp
Labels: Cleanup, Kratos Core, C++

#10139 [FastPR][Documentation] Update INSTALL.md requirements
  INSTALL.md
Labels: Documentation, FastPR

#10121 [Core] Some improvement to allow vectorized operations in VariableUtils
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/test_variable_utils.py
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core

#10144 [Core] fix error in omp in monotonicity preserving in OMP
  kratos/linear_solvers/monotonicity_preserving_solver.h
Labels: Parallel-SMP, Bugfix

#10147 [StructuralMechanicsApp] Bugfix and some optimizations
  applications/ConstitutiveLawsApplication/tests/InitialStateInelasticity/initial_state2_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/InitialStateInelasticity/initial_state3_test_parameters.json
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_state_test_parameters.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test_parameters.json
  kratos/processes/set_initial_state_process.cpp
Labels: Bugfix

#10138 [Fluid] Changes the severity of FluidDynamicsApplication tests and add cpp tests run.
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Python, Testing, FastPR

#10153 [PfemFluidDynamicsApp] Solving minor copilation error
  applications/PfemFluidDynamicsApplication/custom_elements/two_step_updated_lagrangian_V_P_implicit_solid_element.cpp
Labels: Compilation, FastPR

#10157 [Core][MPI] Missing Flags in the partition of the ModelPartIO
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
  kratos/tests/cpp_tests/sources/test_model_part_io.cpp
Labels: Enhancement, Kratos Core, Parallel-MPI, FastPR, Inconsistent

#10156 [Core] Adding tests for hashers and comparors
  kratos/includes/key_hash.h
  kratos/tests/cpp_tests/sources/test_key_hash.cpp
Labels: Testing, FastPR

#10070 use the "advanced" version of the bin search
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
Labels: Performance, Bugfix

#10021 implement Lysmer Kuhlemeyer absorbing boundary condition
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/GeoMechanicsApplication/custom_processes/set_absorbing_boundary_parameters_process.hpp
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/custom_python/geo_mechanics_python_application.cpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_dynamic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_utilities/element_utilities.hpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.h
  applications/GeoMechanicsApplication/python_scripts/set_absorbing_boundary_parameters_process.py
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_absorbing_boundary.py
  applications/GeoMechanicsApplication/tests/test_helper.py
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column2d_quad.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column2d_quad.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column2d_quad.gid/test_lysmer_boundary_column2d_quad.mdpa
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column3d_tetra.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column3d_tetra.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column3d_tetra.gid/test_lysmer_boundary_column3d_tetra.mdpa
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column3d_tetra_hor.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column3d_tetra_hor.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_column3d_tetra_hor.gid/test_lysmer_boundary_column3d_tetra_hor.mdpa
  applications/GeoMechanicsApplication/tests/test_lysmer_column3d_hexa.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_column3d_hexa.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_column3d_hexa.gid/test_lysmer_column3d_hexa.mdpa
Labels: Python, C++, Feature, GeoMechanics

#10163 Fixing retrieve extension
  .github/workflows/nightly_build.yml
Labels: FastPR, Bugfix

#10159 [StructuralMechanicsApp] Axysimmetric small displ element WORKING
  applications/StructuralMechanicsApplication/custom_constitutive/axisym_elastic_isotropic.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/axisym_elastic_isotropic.h
  applications/StructuralMechanicsApplication/custom_elements/axisym_small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_axisymmetric_element.cpp
Labels: Bug

#10162 [CI] adding docker for Jammy (Ubuntu 22.04)
  .github/workflows/build_docker_images_for_ci.yml
  scripts/docker_files/docker_file_ci_ubuntu_22_04/DockerFile
Labels: Continuous Integration

#10164 [MeshingApplication] Dropping support MMG below 5.5
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.h
  scripts/docker_files/docker_file_ci_ubuntu_20_04/DockerFile
Labels: Cleanup, Kratos Core, Applications, External library, FastPR, Legacy, Leftover

#10171 [Docker Ubuntu 22] adding llvm OMP
  scripts/docker_files/docker_file_ci_ubuntu_22_04/DockerFile
Labels: Hotfix, Continuous Integration

#10172 Ubuntu 22 docker - add gcc-12
  scripts/docker_files/docker_file_ci_ubuntu_22_04/DockerFile
Labels: Continuous Integration

#10160 [Core][ModelPartIO] Fix flag writing
  kratos/sources/model_part_io.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_read.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_write.mdpa
  kratos/tests/test_model_part_io.py
Labels: Cleanup, Kratos Core, Bugfix, IO

#10165 [MeshMoving] FM-ALE custom variables projection
  applications/MeshMovingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshMovingApplication/custom_utilities/explicit_fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/explicit_fixed_mesh_ale_utilities.h
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.h
  applications/MeshMovingApplication/tests/cpp_tests/test_explicit_fixed_mesh_ale_utilities.cpp
  applications/MeshMovingApplication/tests/cpp_tests/test_fixed_mesh_ale_utilities.cpp
Labels: Cleanup, Applications, Usability

#10179 [FastPR][SwimmingDEM] Fix tolerance Chien drag test
  applications/SwimmingDEMApplication/tests/drag_tests/chien_law/chien_drag_test_analysis.py
Labels: Applications, Testing, FastPR

#10068 [Core] Minor clean up tetrahedra
  kratos/geometries/tetrahedra_3d_4.h
Labels: Cleanup, Kratos Core, FastPR, Leftover

#10182 [Stat] Update spatial statistics process
  applications/StatisticsApplication/python_scripts/method_utilities.py
  applications/StatisticsApplication/python_scripts/spatial_statistics_process.py
  applications/StatisticsApplication/python_scripts/spatial_utilities.py
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_max.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_median.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_min.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_magnitude_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_none_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_none_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_none_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_condition_non_historical_none_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_max.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_median.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_min.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_magnitude_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_none_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_none_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_none_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_element_non_historical_none_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_max.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_median.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_min.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_magnitude_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_none_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_none_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_none_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_historical_none_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_distribution.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_max.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_median.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_min.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_magnitude_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_none_mean.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_none_rootmeansquare.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_none_sum.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_process/test_model_part_nodal_non_historical_none_variance.ref.dat
  applications/StatisticsApplication/tests/spatial_statistics_test_case.py
Labels: Enhancement, Applications, Python

#10151 [Fluid] Remove statistics app dependency in python
  applications/FluidDynamicsApplication/python_scripts/cfl_output_process.py
  applications/FluidDynamicsApplication/python_scripts/compute_cfl_process.py
  applications/FluidDynamicsApplication/python_scripts/compute_y_plus_process.py
  applications/FluidDynamicsApplication/python_scripts/y_plus_output_process.py
  applications/FluidDynamicsApplication/tests/Cavity/cfl_output_process_ref.dat
  applications/FluidDynamicsApplication/tests/Cavity/cfl_output_test_parameters.json
  applications/FluidDynamicsApplication/tests/cfl_output_process_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
  applications/FluidDynamicsApplication/tests/test_compute_y_plus_process.py
  applications/FluidDynamicsApplication/tests/test_fluid_computation_processes.py
Labels: Applications, Python, Testing, Behaviour Change

#10152 [Fluid] Update fluid calculation utils to C++17
  applications/FluidDynamicsApplication/custom_utilities/fluid_calculation_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_calculation_utilities.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_fluid_calculation_utilities.cpp
Labels: Applications, C++, Feature

#10185 [LinearSolversApplication] Missing error if MKL not found
  applications/LinearSolversApplication/CMakeLists.txt
Labels: Applications, External library, FastPR

#10133 [Core] Adding possibility to have hints for cpp libraries in IDEs
  CMakeLists.txt
  scripts/docker_files/docker_file_wheelbuilder_windows/Dockerfile
  scripts/ninja_configure.bat
  scripts/post_install/CMakeLists.txt
  scripts/post_install/stub_generation.py
  scripts/standard_configure.bat
  scripts/standard_configure.sh
  scripts/standard_configure_MINGW.sh
  scripts/standard_configure_mac.sh
  scripts/wheels/linux/build.sh
  scripts/wheels/linux/build_mpi.sh
  scripts/wheels/linux/configure.sh
  scripts/wheels/linux/configure_mpi.sh
  scripts/wheels/windows/configure.bat
Labels: Kratos Core, Python, Feature

#10186 [LinearSolversApplication] Update the CMake to compile with MKL in MinGW
  applications/LinearSolversApplication/CMakeLists.txt
Labels: Applications, External library, FastPR, CMake

#10190 [Stat] Make not to write time stamp in SpatialStatisticsProcess
  applications/StatisticsApplication/python_scripts/spatial_statistics_process.py
  applications/StatisticsApplication/tests/spatial_statistics_test_case.py
Labels: Applications, Python

#10096 [Core] Adding Templated FindGlobalNodalEntityProcess
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_embedded_transonic_perturbation_potential_element.cpp
  kratos/CMakeLists.txt
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/mpi/tests/test_nodal_elemental_neighbours.py
  kratos/mpi/tests/test_nodal_entity_neighbours.py
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/find_global_nodal_elemental_neighbours_process.cpp
  kratos/processes/find_global_nodal_elemental_neighbours_process.h
  kratos/processes/find_global_nodal_entity_neighbours_process.cpp
  kratos/processes/find_global_nodal_entity_neighbours_process.h
  kratos/processes/find_nodal_neighbours_process.cpp
  kratos/processes/find_nodal_neighbours_process.h
  kratos/processes/generic_find_elements_neighbours_process.cpp
  kratos/processes/generic_find_elements_neighbours_process.h
  kratos/python/add_processes_to_python.cpp
Labels: Kratos Core, Python, C++, Parallel-MPI, Parallel-SMP, Feature

#10191 [ConstitutiveLawsApplication] Registering isotropic damage laws properly
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage_plane_stress.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage_plane_stress.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/fatigue/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/tests/AnisotropyCube/anisotropy_test_materials.json
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_materials.json
  applications/ConstitutiveLawsApplication/tests/InitialStateInelasticity/initial_state3_test_materials.json
  applications/ConstitutiveLawsApplication/tests/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_materials.json
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_high_cycle_fatigue_constitutive_law_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
Labels: Cleanup, Applications, C++

#10184 [Core] Clean up legacy code from FromJsonCheckResultProcess
  applications/ParticleMechanicsApplication/python_scripts/particle_from_json_check_result_process.py
  kratos/python_scripts/from_json_check_result_process.py
Labels: Cleanup, Kratos Core, Python, FastPR, Leftover

#10177 [StructuralMechanicsApplication] Minor fix on patch tests
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_displacement_mixed_volumetric_strain.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_strain.py
Labels: Applications, Testing, FastPR

#10173 [Core][VariableUtils] Variadic set to zero methods
  kratos/tests/cpp_tests/utilities/test_variable_utils.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Kratos Core, Feature

#10167 [Core][Serializer] using data
  kratos/includes/serializer.h
Labels: Kratos Core, FastPR

#10194 [Doc] Removed former dependency
  README.md
Labels: Documentation, FastPR

#10198 [Core] Fix filesystem include issue
  kratos/includes/kratos_filesystem.h
  kratos/sources/kratos_filesystem.cpp
  kratos/sources/model_part_io.cpp
Labels: Kratos Core, Compilation, FastPR

#10161 [Python] 3.6 is now minimum version
  CMakeLists.txt
  kratos/python_interface/__init__.py
Labels: Python, Deprecated

#10181 [External] Update pybind11 to 2.10
  external_libraries/pybind11/attr.h
  external_libraries/pybind11/buffer_info.h
  external_libraries/pybind11/cast.h
  external_libraries/pybind11/chrono.h
  external_libraries/pybind11/complex.h
  external_libraries/pybind11/detail/class.h
  external_libraries/pybind11/detail/common.h
  external_libraries/pybind11/detail/descr.h
  external_libraries/pybind11/detail/init.h
  external_libraries/pybind11/detail/internals.h
  external_libraries/pybind11/detail/type_caster_base.h
  external_libraries/pybind11/detail/typeid.h
  external_libraries/pybind11/eigen.h
  external_libraries/pybind11/embed.h
  external_libraries/pybind11/eval.h
  external_libraries/pybind11/functional.h
  external_libraries/pybind11/gil.h
  external_libraries/pybind11/iostream.h
  external_libraries/pybind11/numpy.h
  external_libraries/pybind11/operators.h
  external_libraries/pybind11/options.h
  external_libraries/pybind11/pybind11.h
  external_libraries/pybind11/pytypes.h
  external_libraries/pybind11/stl.h
  external_libraries/pybind11/stl/filesystem.h
  external_libraries/pybind11/stl_bind.h
Labels: Kratos Core, External library

#10202 [Doc] Update MKL doc for Ubuntu
  applications/LinearSolversApplication/README.md
Labels: Applications, Documentation, External library, FastPR

#10206 [Core] Adding custom time in tests scripts
  kratos/python_scripts/testing/run_python_mpi_tests.py
  kratos/python_scripts/testing/run_tests.py
Labels: Kratos Core, Python, Testing, FastPR
