Repository KratosMultiphysics/Kratos, pull requests merged in 2022-12, with the labels that each got.

#10501 [Core] Dimension() deprecation warnings
  CMakeLists.txt
  kratos/geometries/coupling_geometry.h
  kratos/input_output/unv_output.cpp
  kratos/modified_shape_functions/modified_shape_functions.cpp
  kratos/tests/cpp_tests/geometries/test_brep_curve_on_surface.cpp
  kratos/tests/cpp_tests/geometries/test_brep_surface.cpp
  kratos/tests/cpp_tests/geometries/test_coupling_geometry.cpp
  kratos/utilities/geometry_tester.cpp
Labels: Warning, Kratos Core, Deprecated

#10523 [Poro/Dam] Fix joint width calculation for interface element and cleanup
  applications/DamApplication/custom_elements/small_displacement_interface_element.cpp
  applications/PoromechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/PoromechanicsApplication/custom_utilities/fracture_propagation_2D_utilities.hpp
  applications/PoromechanicsApplication/custom_utilities/interface_element_utilities.hpp
  applications/PoromechanicsApplication/tests/element_tests/consolidation_interface_3D/consolidation_interface_3D_results.json
Labels: Cleanup, Bugfix

#10528 [FastPR][Fluid] Calculate in FluidElement-derived elements
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms.h
  applications/FluidDynamicsApplication/custom_elements/fic.cpp
  applications/FluidDynamicsApplication/custom_elements/fic.h
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.h
Labels: Applications, Hotfix, FastPR

#10532 [Core] Adding missing ShapeFunctionValues for Line3D3
  kratos/geometries/line_2d_2.h
  kratos/geometries/line_2d_3.h
  kratos/geometries/line_3d_2.h
  kratos/geometries/line_3d_3.h
Labels: Kratos Core, Incomplete

#10515 [Core] Consistent definition between InvertMatrix and GeneralizedInvertMatrix
  kratos/utilities/math_utils.h
Labels: Kratos Core, FastPR, Inconsistent

#10511 [MPM] Newtonian fluid irreducible
  applications/ParticleMechanicsApplication/custom_constitutive/displacement_newtonian_fluid_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/displacement_newtonian_fluid_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/displacement_newtonian_fluid_plane_strain_2D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/displacement_newtonian_fluid_plane_strain_2D_law.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
  applications/ParticleMechanicsApplication/tests/cl_tests/fluid_cl/newtonian_fluid_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/cl_tests/fluid_cl/newtonian_fluid_test_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/cl_tests/fluid_cl/newtonian_fluid_test_materials.json
  applications/ParticleMechanicsApplication/tests/cl_tests/fluid_cl/newtonian_fluid_test_parameters.json
  applications/ParticleMechanicsApplication/tests/cl_tests/fluid_cl/newtonian_fluid_test_results.json
  applications/ParticleMechanicsApplication/tests/particle_mechanics_test_factory.py
  applications/ParticleMechanicsApplication/tests/test_ParticleMechanicsApplication.py
Labels: Applications

#10533 [Core] Adding CopyValuesFromExistingParameters to Kratos Parameters
  kratos/includes/kratos_parameters.h
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/python/add_kratos_parameters_to_python.h
  kratos/sources/kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Enhancement, Cleanup, Kratos Core

#10489 [HDF5] Fix some random HDF5 deadlocks
  applications/HDF5Application/custom_io/hdf5_container_component_io.cpp
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_data_io.cpp
  applications/HDF5Application/tests/test_hdf5_condition_data_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_condition_flag_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_element_data_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_element_flag_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_nodal_data_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_nodal_flag_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_nodal_solution_step_data_io.cpp
Labels: Parallel-MPI, Bugfix

#10531 [MeshingApplication] Adding Mapper for serial MMGProcess
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg/mmg_process.h
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.h
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Enhancement, Applications

#10413 [Core] Adding ComputeClosestLineLineIntersection to IntersectionUtilities
  kratos/tests/cpp_tests/utilities/test_intersection_utilities.cpp
  kratos/utilities/intersection_utilities.h
Labels: Enhancement, Kratos Core, Testing

#10547 [CoSImulationApplication] Clean up Python extension headers
  applications/CoSimulationApplication/custom_python/add_co_sim_io_to_python.cpp
  applications/CoSimulationApplication/custom_python/add_co_sim_io_to_python.h
  applications/CoSimulationApplication/custom_python/add_custom_io_to_python.cpp
  applications/CoSimulationApplication/custom_python/add_custom_io_to_python.h
  applications/CoSimulationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/CoSimulationApplication/custom_python/add_custom_utilities_to_python.h
  applications/CoSimulationApplication/custom_python/co_simulation_python_application.cpp
Labels: Cleanup, Applications, FastPR

#10545 [Core] Minor clean up MathUtils
  kratos/utilities/math_utils.h
Labels: Cleanup, Kratos Core, FastPR

#10539 [Core] Adding RemoveValues to Kratos Parameters
  kratos/includes/kratos_parameters.h
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/sources/kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Enhancement, Cleanup, Kratos Core

#10549 [Core] Minor pragma once in DelaunatorUtilities
  kratos/utilities/tessellation_utilities/delaunator_utilities.h
Labels: Cleanup, Kratos Core, FastPR

#10555 [Core] Update Zenodo cite
  README.md
Labels: Kratos Core, Documentation, FastPR

#10551 [ContactStructuralMechanicsApplication] Unify Python and Testing namespaces
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_frictional_laws_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_frictional_laws_to_python.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_linear_solvers_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_linear_solvers_to_python.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_utilities_to_python.h
  applications/ContactStructuralMechanicsApplication/custom_python/contact_structural_mechanics_python_application.cpp
  applications/ContactStructuralMechanicsApplication/custom_python/process_factory_utility.h
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_integration.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_interface_preprocess_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_mixedulm_linear_solver.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_processes.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_search_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_selfcontact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_weighted_gap.cpp
Labels: Cleanup, Applications

#10556 [Core] Missing Flags derivation from Process when exposing to python
  kratos/python/add_processes_to_python.cpp
Labels: Kratos Core, Python, Incomplete, FastPR, Inconsistent

#10527 [Fluid] Spurious slip correction usage and enhancements
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/apply_slip_process.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_condition.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_two_fluid_navier_stokes_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_two_fluid_navier_stokes_element_alpha_method.cpp
  applications/FluidDynamicsApplication/tests/slip_spurious_tangential_correction_test.py
  applications/FluidDynamicsApplication/tests/slip_spurious_tangential_correction_test/FluidMaterials.json
  applications/FluidDynamicsApplication/tests/slip_spurious_tangential_correction_test/ProjectParameters.json
  applications/FluidDynamicsApplication/tests/slip_spurious_tangential_correction_test/reference_slip_spurious_tangential_correction.json
  applications/FluidDynamicsApplication/tests/slip_spurious_tangential_correction_test/slip_spurious_tangential_correction.mdpa
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Enhancement, Cleanup, Applications, Testing, Usability

#10548 [Core] Improve AuxiliarModelPartUtilities
  applications/CoSimulationApplication/custom_utilities/co_sim_io_conversion_utilities.cpp
  kratos/tests/cpp_tests/utilities/test_auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: Enhancement, Kratos Core

#10562 [Core] Improve JsonOutputProcess
  kratos/python_scripts/json_output_process.py
  kratos/python_scripts/json_utilities.py
Labels: Enhancement, Kratos Core, Python

#10557 [MeshingApplication] Update MMG scripts for MMG 5.7.0
  applications/MeshingApplication/custom_external_libraries/mmg/build/configure.bat
  applications/MeshingApplication/custom_external_libraries/mmg/build/configure.sh
Labels: Applications, External library

#10572 [CMake][MeshingApplication] Update MMG cmake modules (from MMG repository)
  applications/MeshingApplication/CMakeLists.txt
  cmake_modules/FindMMG.cmake
  cmake_modules/FindMMG2D.cmake
  cmake_modules/FindMMG3D.cmake
  cmake_modules/FindMMGS.cmake
Labels: Cleanup, Kratos Core, FastPR, CMake

#10568 [CoSimIO] update to CoSimIO 4.2.0
  applications/CoSimulationApplication/custom_external_libraries/CoSimIO/co_sim_io/sources/communication/pipe_communication.cpp
  applications/CoSimulationApplication/custom_external_libraries/CoSimIO/co_sim_io/sources/version.cpp
Labels: Enhancement, External library, FastPR

#10573 [Core][CMake] Only look for Trilinos if actually compiled
  applications/FluidDynamicsApplication/CMakeLists.txt
  cmake_modules/FindTRILINOS.cmake
Labels: Kratos Core, Applications, CMake

#10559 [ContactStructuralMechanicsApplication] Using RemoveValues for a minor clean up
  applications/ContactStructuralMechanicsApplication/python_scripts/basic_mapping_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/contact_remesh_mmg_process.py
Labels: Cleanup, Applications, FastPR

#10565 [Core][FastPR] Fix OMP issue in particles utilities
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python/add_vector_to_python.cpp
  kratos/utilities/particles_utilities.h
Labels: C++, FastPR, Bugfix

#10566 [Core] Adding copy constructor to `BinBasedFastPointLocator`
  kratos/utilities/binbased_fast_point_locator.h
Labels: Enhancement, Kratos Core

#10577 [IO] Simplify partitioning interfaces
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_in_memory_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.h
  kratos/includes/io.h
Labels: Enhancement, Kratos Core, Parallel-MPI

#10578 [Core] DomainSize is not needed for Metis
  kratos/mpi/python_scripts/distributed_import_model_part_utility.py
  kratos/python_scripts/testing/utilities.py
Labels: Kratos Core, FastPR, Legacy, Leftover

#10582 [CLApp] Using characteristic length on Reference configuration in small strain Damage/Plasticity
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/fatigue/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/generic_small_strain_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/tests/AnisotropyCube/anisotropy_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/AnisotropyCube/anisotropy_test_results.json
  applications/ConstitutiveLawsApplication/tests/AutomatedInitialDamageProcess/automated_initial_variable_process_test_results.json
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_results.json
  applications/ConstitutiveLawsApplication/tests/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_results.json
  applications/ConstitutiveLawsApplication/tests/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_DP_test_results.json
  applications/ConstitutiveLawsApplication/tests/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_MC_test_results.json
  applications/ConstitutiveLawsApplication/tests/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_T_test_results.json
  applications/ConstitutiveLawsApplication/tests/SimpleSmallDeformationPlasticity/simple_small_deformation_plasticity_VM_test_results.json
  applications/ConstitutiveLawsApplication/tests/SmallDeformationPlasticity/small_deformation_plasticity_test_results.json
Labels: Enhancement, Applications

#8172 [RANS] Update interfaces
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_epsilon/epsilon_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_k_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.cpp
  applications/RANSApplication/custom_conditions/data_containers/k_omega/omega_u_based_wall_condition_data.h
  applications/RANSApplication/custom_conditions/scalar_wall_flux_condition.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_cross_wind_stabilized_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_cross_wind_stabilized_element.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element_data.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_residual_based_flux_corrected_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_residual_based_flux_corrected_element.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_stabilization_utilities.h
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/element_data_utilities.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/element_data_utilities.h
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/epsilon_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/epsilon_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_epsilon/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega/omega_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega/omega_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/element_data_utilities.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/element_data_utilities.h
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/k_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/k_element_data.h
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/omega_element_data.cpp
  applications/RANSApplication/custom_elements/data_containers/k_omega_sst/omega_element_data.h
  applications/RANSApplication/custom_elements/incompressible_potential_flow_velocity_element.cpp
  applications/RANSApplication/custom_processes/rans_nut_k_omega_sst_update_process.cpp
  applications/RANSApplication/custom_utilities/rans_calculation_utilities.cpp
  applications/RANSApplication/custom_utilities/rans_calculation_utilities.h
  applications/RANSApplication/custom_utilities/test_utilities.cpp
  applications/RANSApplication/custom_utilities/test_utilities.h
  applications/RANSApplication/python_scripts/formulations/turbulence_models/k_omega_sst_rans_formulation.py
  applications/RANSApplication/tests/cpp/k_epsilon/test_afc_elements.cpp
  applications/RANSApplication/tests/cpp/k_epsilon/test_conditions.cpp
  applications/RANSApplication/tests/cpp/k_epsilon/test_cwd_elements.cpp
  applications/RANSApplication/tests/cpp/k_epsilon/test_rfc_elements.cpp
  applications/RANSApplication/tests/cpp/k_omega/test_afc_elements.cpp
  applications/RANSApplication/tests/cpp/k_omega/test_conditions.cpp
  applications/RANSApplication/tests/cpp/k_omega/test_cwd_elements.cpp
  applications/RANSApplication/tests/cpp/k_omega/test_rfc_elements.cpp
  applications/RANSApplication/tests/cpp/k_omega_sst/test_afc_elements.cpp
  applications/RANSApplication/tests/cpp/k_omega_sst/test_cwd_elements.cpp
  applications/RANSApplication/tests/cpp/k_omega_sst/test_rfc_elements.cpp
  applications/RANSApplication/tests/cpp/test_incompressible_potential_flow_conditions.cpp
  applications/RANSApplication/tests/cpp/test_incompressible_potential_flow_elements.cpp
  applications/RANSApplication/tests/cpp/test_vms_monolithic_k_based_condition.cpp
Labels: Applications, Python, C++

#10584 [Core] SkinDetectionProcess MPI - bugfix - communication gets stuck if processor is empty
  kratos/processes/skin_detection_process.cpp
Labels: Parallel-MPI, Bugfix

#10540 bug in finding line conditions in 3D
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.cpp
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D2N_hex.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D2N_hex.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D2N_hex.gid/line_load_3D2N_hex.mdpa
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D2N_tet.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D2N_tet.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D2N_tet.gid/line_load_3D2N_tet.mdpa
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D3N_hex.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D3N_hex.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D3N_hex.gid/line_load_3D3N_hex.mdpa
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D3N_tet.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D3N_tet.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/line_load_3D3N_tet.gid/line_load_3D3N_tet.mdpa
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_line_loads.py
Labels: Bugfix, GeoMechanics

#10583 [ConstitutiveLawsApplication] Improve AdvancedConstitutiveLawUtilities
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/rankine_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/anisotropy_orthotropy/generic_anisotropic_3d_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/anisotropy_orthotropy/generic_anisotropic_3d_law.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_orthotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.h
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
Labels: Enhancement, Cleanup, Applications, FastPR

#3737 [Core][Geometries] Missing or not well defined DomainSize functions
  kratos/geometries/geometry.h
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/geometries/quadrilateral_interface_3d_4.h
  kratos/geometries/sphere_3d_1.h
  kratos/geometries/triangle_2d_3.h
  kratos/geometries/triangle_2d_6.h
  kratos/geometries/triangle_3d_3.h
  kratos/geometries/triangle_3d_6.h
  kratos/tests/cpp_tests/geometries/test_geometry.h
  kratos/tests/cpp_tests/geometries/test_line_2d_3.cpp
  kratos/tests/cpp_tests/geometries/test_prism_3d_6.cpp
  kratos/tests/cpp_tests/geometries/test_quadrilateral_2d_8.cpp
  kratos/tests/cpp_tests/geometries/test_quadrilateral_3d_4.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_2d_3.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_2d_6.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_3d_3.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_3d_6.cpp
Labels: Enhancement, Kratos Core, Behaviour Change, Inconsistent

#10586 [MPM] Substituted deprecated newton raphson strategy
  applications/ParticleMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ParticleMechanicsApplication/custom_strategies/strategies/mpm_residual_based_newton_raphson_strategy.hpp
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
Labels: Applications

#10569 [Core][FastPR] New wall flag
  kratos/includes/kratos_flags.h
Labels: Kratos Core, FastPR

#10432 [Core] Multistage analysis
  kratos/python_scripts/multistage_analysis.py
Labels: Kratos Core, Multistage

#10587 [FSIApplication] Remove legacy mapper (replaced with new mappers)
  applications/FSIApplication/CMakeLists.txt
  applications/FSIApplication/custom_python/add_mappers_to_python.cpp
  applications/FSIApplication/custom_utilities/AdvancedNMPointsMapper.cpp
  applications/FSIApplication/custom_utilities/AdvancedNMPointsMapper.hpp
  applications/FSIApplication/custom_utilities/InterfacePreprocess.h
  applications/FSIApplication/python_scripts/NonConformant_OneSideMap.py
  applications/FSIApplication/tests/NonConformantOneSideMapTest/2D_fluid_mesh_test1.mdpa
  applications/FSIApplication/tests/NonConformantOneSideMapTest/2D_fluid_mesh_test2.mdpa
  applications/FSIApplication/tests/NonConformantOneSideMapTest/2D_solid_mesh_test1.mdpa
  applications/FSIApplication/tests/NonConformantOneSideMapTest/2D_solid_mesh_test2.mdpa
  applications/FSIApplication/tests/NonConformantOneSideMapTest/3D_fluid_mesh_test1.mdpa
  applications/FSIApplication/tests/NonConformantOneSideMapTest/3D_fluid_mesh_two_faces_test.mdpa
  applications/FSIApplication/tests/NonConformantOneSideMapTest/3D_solid_mesh_test1.mdpa
  applications/FSIApplication/tests/NonConformantOneSideMapTest/3D_solid_mesh_two_faces_test.mdpa
  applications/FSIApplication/tests/non_conformant_one_side_map_test.py
  applications/FSIApplication/tests/test_FSIApplication.py
Labels: Cleanup, Applications, API Breaker, Legacy

#10591 Add rebuild level to geomechanics
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_strategy.hpp
  applications/GeoMechanicsApplication/python_scripts/geomechanics_U_Pw_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_analysis.py
  applications/GeoMechanicsApplication/tests/test_elements.py
  applications/GeoMechanicsApplication/tests/test_triangle_3n_rebuild_0.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_triangle_3n_rebuild_0.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_triangle_3n_rebuild_0.gid/test_triangle_3n.mdpa
Labels: GeoMechanics

#10487 [MappingApplication] Adding 3D/2D metamapper
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_mappers/projection_3D_2D_mapper.h
  applications/MappingApplication/mapping_application.cpp
  applications/MappingApplication/mpi_extension/custom_python/mapping_mpi_extension.cpp
  applications/MappingApplication/tests/mapper_test_case.py
  applications/MappingApplication/tests/mdpa_files/3D_blocks_mesh1.mdpa
  applications/MappingApplication/tests/mdpa_files/3D_blocks_mesh2.mdpa
  applications/MappingApplication/tests/result_files/nearest_neighbor/CornerCaseNearestNeighbor_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/nearest_neighbor/CornerCaseNearestNeighbor_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementDestination2D_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementDestination2D_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementDestination2D_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementDestination2D_map_vector.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementOrigin2D_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementOrigin2D_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementOrigin2D_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestElementOrigin2D_map_vector.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborDestination2D_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborDestination2D_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborDestination2D_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborDestination2D_map_vector.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborOrigin2D_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborOrigin2D_inverse_map_vector.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborOrigin2D_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborOrigin2D_map_vector.json
  applications/MappingApplication/tests/runscript_test_MappingApplication.py
  applications/MappingApplication/tests/test_MappingApplication.py
  applications/MappingApplication/tests/test_MappingApplication_mpi.py
  applications/MappingApplication/tests/test_nearest_neighbor_mapper.py
  applications/MappingApplication/tests/test_projection_3d_2d_mapper.py
Labels: Enhancement, Applications, Testing

#10598 [StructuralMechanicsApplication] Minor python script clean up
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/ContactStructuralMechanicsApplication/python_scripts/explicit_penalty_contact_process.py
  applications/ContactStructuralMechanicsApplication/python_scripts/mpc_contact_process.py
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
  applications/StructuralMechanicsApplication/python_scripts/element_sensitivity_domain_integration_process.py
Labels: Cleanup, Applications, Python, FastPR

#10600 [Core] Minor python script clean up
  kratos/mpi/tests/test_distributed_sparse_matrices.py
  kratos/mpi/tests/test_mpi_serializer.py
  kratos/python_scripts/application_generator/laplacian_application_example.py
  kratos/python_scripts/python_solver.py
  kratos/python_scripts/unv_output_process.py
  kratos/tests/test_array_1d_interface.py
  kratos/tests/test_function_parser_utility.py
  kratos/tests/test_materials_input.py
  kratos/tests/test_matrix_interface.py
  kratos/tests/test_model_part.py
  kratos/tests/test_mortar_mapper.py
  kratos/tests/test_redistance.py
  kratos/tests/test_reorder.py
  kratos/tests/test_restart.py
  kratos/tests/test_variable_utils.py
Labels: Cleanup, Kratos Core, Python, FastPR

#10546 [Core][Geometry] Directly call internal methods for Inverse of Jacobian
  kratos/geometries/geometry.h
Labels: Duplicate, Cleanup, Kratos Core, Inconsistent

#10602 [FastPR][FSI] Missing include
  applications/FSIApplication/custom_utilities/shared_points_mapper.h
Labels: Applications, FastPR

#10571 [Fluid] Navier-Stokes wall modelling
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/two_fluid_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/two_fluid_navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/wall_laws/navier_slip_wall_law.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_wall_condition.cpp
Labels: Cleanup, Applications, Feature

#10601 [DropletDynamics] Separating the solver from the fluid solver
  applications/DropletDynamicsApplication/python_scripts/droplet_dynamics_analysis.py
  applications/DropletDynamicsApplication/python_scripts/droplet_dynamics_solver.py
Labels: Applications

#10585 [Fluid] Linear-log wall law refactor
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/wall_laws/linear_log_wall_law.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_wall_condition.cpp
Labels: Applications, Feature
