Repository KratosMultiphysics/Kratos, pull requests merged in 2022-09, with the labels that each got.

#10205 [Core][Performance] Adding missing reserve before push_back in vectors
  kratos/factories/mapper_factory.h
  kratos/mpi/tests/cpp_tests/sources/test_pointer_communicator.cpp
  kratos/utilities/assign_unique_model_part_collection_tag_utility.cpp
  kratos/utilities/file_name_data_collector.cpp
Labels: Kratos Core, Performance, FastPR

#10204 [Core][Performance] Using find with an individual character is faster than with a string of one character length
  kratos/containers/model.cpp
  kratos/factories/linear_solver_factory.h
  kratos/factories/preconditioner_factory.h
  kratos/sources/model_part.cpp
  kratos/sources/model_part_io.cpp
  kratos/utilities/read_materials_utility.cpp
Labels: Kratos Core, Performance, FastPR

#10208 [Several] Adding some missing references
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
  kratos/elements/levelset_convection_element_simplex.h
  kratos/elements/levelset_convection_element_simplex_algebraic_stabilization.cpp
  kratos/input_output/unv_output.h
  kratos/linear_solvers/tfqmr_solver.h
  kratos/utilities/geometrical_projection_utilities.h
  kratos/utilities/string_utilities.cpp
Labels: Kratos Core, Applications, Performance, FastPR

#10103 [Shallow] Cleanup
  applications/ShallowWaterApplication/custom_elements/swe.cpp
  applications/ShallowWaterApplication/custom_elements/swe.h
  applications/ShallowWaterApplication/custom_processes/elemental_refining_criteria_process.h
  applications/ShallowWaterApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_utilities/bfecc_convection_utility.h
  applications/ShallowWaterApplication/custom_utilities/convection_operator.h
  applications/ShallowWaterApplication/custom_utilities/element_framework.h
  applications/ShallowWaterApplication/custom_utilities/move_shallow_water_particle_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_particle.h
  applications/ShallowWaterApplication/python_scripts/legacy/free_surface_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/legacy/multigrid_solver.py
  applications/ShallowWaterApplication/python_scripts/legacy/residual_based_refining_condition_process.py
  applications/ShallowWaterApplication/python_scripts/legacy/semi_lagrangian_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/legacy/shallow_water_multigrid_analysis.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
  applications/ShallowWaterApplication/tests/cpp_tests/test_shallow_element.cpp
  applications/ShallowWaterApplication/tests/elements_tests/swe_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/swe_reference.json
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Cleanup

#10211 [FastPR][Fluid] Minors in two-fluid alpha element
  applications/FluidDynamicsApplication/custom_elements/two_fluid_navier_stokes_alpha_method.cpp
  applications/FluidDynamicsApplication/custom_utilities/two_fluid_navier_stokes_alpha_method_data.h
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/generate_two_fluid_navier_stokes.py
  applications/FluidDynamicsApplication/symbolic_generation/two_fluid_navier_stokes/two_fluid_navier_stokes_alpha_method_template.cpp
Labels: Applications, Hotfix, FastPR

#10158 [StructuralMechanicsApp] Automatizing the application of initial strain/stress variables
  applications/StructuralMechanicsApplication/custom_processes/set_automated_initial_variable_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/set_automated_initial_variable_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/python_scripts/set_automated_initial_variable_process.py
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/automated_initial_variable_process_test.mdpa
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/automated_initial_variable_process_test_materials.json
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/automated_initial_variable_process_test_parameters.json
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/automated_initial_variable_process_test_results.json
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer1_StressComp1.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer1_StressComp2.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer1_StressComp3.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer1_StressComp4.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer1_StressComp5.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer1_StressComp6.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer2_StressComp1.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer2_StressComp2.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer2_StressComp3.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer2_StressComp4.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer2_StressComp5.csv
  applications/StructuralMechanicsApplication/tests/automated_initial_variable_process_test/input_tables/Layer2_StressComp6.csv
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  kratos/python_scripts/read_csv_table_utility.py
  kratos/python_scripts/set_initial_state_process.py
Labels: Applications

#10220 [CMake] Unify MSVC version check
  CMakeLists.txt
Labels: Visual Studio, FastPR, CMake

#10221 [CMake] Fix bug with compiler flags
  CMakeLists.txt
Labels: Compilation, FastPR, CMake

#10218 Modernizing IO a bit
  kratos/includes/io.h
  kratos/includes/model_part_io.h
  kratos/includes/reorder_consecutive_model_part_io.h
  kratos/sources/model_part_io.cpp
  kratos/sources/reorder_consecutive_model_part_io.cpp
Labels: Kratos Core, FastPR

#10225 [CoSimulationApplication] Allowing direct parameters instead of input_file
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos/kratos_base_wrapper.py
Labels: Applications, Python, FastPR

#10226 [CI] Fixing excluded folders not being ignored.
  .github/workflows/ci-dummy.yml
  .github/workflows/ci.yml
Labels: FastPR, Bugfix, Continuous Integration

#9758 [Core] [ConnectivityPreserveModeler] copy of the properties container
  applications/ConvectionDiffusionApplication/python_scripts/coupled_structural_thermal_solver.py
  kratos/modeler/connectivity_preserve_modeler.cpp
  kratos/tests/test_connectivity_preserve_modeler.py
Labels: API Breaker, Bugfix

#10073 [PFEM] Wave height output
  applications/PfemFluidDynamicsApplication/python_scripts/wave_height_output_process.py
Labels: FastPR, Minor

#10223 [MeshingApplication] Update the reference MMG configure
  applications/MeshingApplication/custom_external_libraries/mmg/build/configure.sh
Labels: External library, Compilation, FastPR

#10230 [CLApp] Minor bug in Serial Parallel RoM CalculateValue
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.cpp
Labels: FastPR

#10227 [Core] using std::make_unique
  kratos/includes/shared_pointers.h
Labels: Cleanup, Kratos Core, FastPR

#10228 [Core][ReorderConsecutiveModelPartIO] inherit constructors
  kratos/includes/reorder_consecutive_model_part_io.h
  kratos/sources/reorder_consecutive_model_part_io.cpp
Labels: Cleanup, Kratos Core, Bugfix

#10239 [README] Adding GitHub stars + pypi links
  README.md
Labels: Documentation, FastPR

#9778 Radial Basis Functions Utility
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_rbf_shape_functions_utility.py
  kratos/utilities/rbf_shape_functions_utility.cpp
  kratos/utilities/rbf_shape_functions_utility.h
Labels: Kratos Core

#10237 [Core] Adding graph utilities
  kratos/containers/sparse_contiguous_row_graph.h
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python/add_vector_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_graph_utilities.py
  kratos/utilities/model_part_graph_utilities.cpp
  kratos/utilities/model_part_graph_utilities.h
Labels: Feature

#10244 [IntervalUtility] Add print and move to cpp
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/utilities/interval_utility.cpp
  kratos/utilities/interval_utility.h
Labels: Logging, Leftover

#10245 [CI] more exclusions
  .github/workflows/ci-dummy.yml
  .github/workflows/ci.yml
Labels: FastPR, Continuous Integration

#10251 [Core] Revert pure regex solution in kratos/utilities/function_parser_utility.cpp
  kratos/tests/cpp_tests/utilities/test_function_parser_utility.cpp
  kratos/utilities/function_parser_utility.cpp
Labels: Cleanup, Kratos Core, FastPR, Legacy, Leftover

#10252 [Poro] Fixed 2D interface element rotation matrix and other small changes
  applications/DamApplication/custom_elements/small_displacement_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.cpp
  applications/PoromechanicsApplication/custom_python/poromechanics_python_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
Labels: Enhancement, Bugfix

#10214 [Core] Simplified interface to BinBasedFastPointLocator
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_point_locator.py
Labels: Enhancement, Kratos Core

#10258 [Performance][CLApp] Adding missing references to CLApp
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliar_files/constitutive_laws_integrators/high_cycle_fatigue_law_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/plane_stress_d_plus_d_minus_damage_masonry_2d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/plane_stress_d_plus_d_minus_damage_masonry_2d.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/fatigue/generic_small_strain_high_cycle_fatigue_law.h
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_tangent_tensor_numerical_derivation_utility.cpp
Labels: Applications, Performance, FastPR

#10259 [Performance][ContactStructuralMechanicsApplication] Adding missing references to ContactApp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
Labels: Applications, Performance, FastPR

#10260 [Performance][FluidDynamicsApplication] Adding missing references to FluidApp
  applications/FluidDynamicsApplication/custom_elements/dpg_vms.h
  applications/FluidDynamicsApplication/custom_elements/spalart_allmaras.cpp
  applications/FluidDynamicsApplication/custom_elements/spalart_allmaras.h
  applications/FluidDynamicsApplication/custom_processes/mass_conservation_check_process.cpp
  applications/FluidDynamicsApplication/custom_processes/mass_conservation_check_process.h
Labels: Applications, Performance, FastPR

#10261 [Performance][StructuralMechanicsApplication] Adding missing references StructuralApp
  applications/StructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/residual_displacement_and_other_dof_criteria.h
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.hpp
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_math_utilities.hpp
Labels: Applications, Performance, FastPR

#10255 [Core][ModelPartIO] use std::filesystem to handle input file path
  kratos/includes/define_python.h
  kratos/includes/model_part_io.h
  kratos/python/add_io_to_python.cpp
  kratos/sources/model_part_io.cpp
  kratos/tests/test_model_part_io.py
Labels: Kratos Core, C++

#10254 Some cpp updates
  applications/HDF5Application/custom_io/hdf5_file.cpp
  kratos/includes/define.h
  kratos/testing/tester.cpp
Labels: C++, FastPR

#10273 [Core] Using constexpr with a template argument in MathUtils
  kratos/utilities/math_utils.h
Labels: Kratos Core, C++, Performance, FastPR

#10275 [ConstitutiveLawsApplication] Rename integrators to avoid Windows 10 256 character limit error
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliar_files/cl_integrators/d+d-cl_integrators/generic_compression_cl_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliar_files/cl_integrators/d+d-cl_integrators/generic_tension_cl_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliar_files/cl_integrators/generic_cl_integrator_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliar_files/cl_integrators/generic_cl_integrator_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliar_files/cl_integrators/generic_cl_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliar_files/cl_integrators/high_cycle_fatigue_law_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/finite_strains/plasticity/generic_finite_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/finite_strains/plasticity/generic_finite_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_d_plus_d_minus_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage_plane_stress.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_orthotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/fatigue/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/associative_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/generic_small_strain_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_high_cycle_fatigue_constitutive_law_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_kinematic_plasticity_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_orthotropic_damage_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_plastic_damage_constitutive_law_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
Labels: Windows, Applications, Compilation, FastPR, Refactor

#10276 [FastPR][Fluid] Update Sod tube test values
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/sod_shock_tube_explicit_ASGS_SC_results.json
  applications/FluidDynamicsApplication/tests/sod_shock_tube_test/sod_shock_tube_explicit_OSS_SC_results.json
Labels: Applications, Testing, FastPR

#10281 [Core] find nodal global elemental neighs - removing kratos api
  kratos/processes/find_global_nodal_elemental_neighbours_process.h
Labels: Kratos Core, Compilation

#10280 [CLApp] shortening cl name
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/finite_strains/hyperelasticity/hyper_elastic_isotropic_q_incomp_isoch_neo_hook_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/finite_strains/hyperelasticity/hyper_elastic_isotropic_q_incomp_isoch_neo_hook_3d.h
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
Labels: Windows, Compilation

#10282 [Core] Unify argument parsing between the MPI and regular tests
  kratos/python_scripts/testing/run_python_mpi_tests.py
  kratos/python_scripts/testing/run_tests.py
Labels: Kratos Core, Python, Testing, FastPR, Inconsistent

#10284 [MeshingApplication] Replace Data() (legacy) with GetData()
  applications/MeshingApplication/custom_processes/mmg/mmg_process.h
  applications/MeshingApplication/custom_processes/nodal_values_interpolation_process.cpp
  applications/MeshingApplication/custom_utilities/linear_to_quadratic_tetrahedra_mesh_converter_utility.cpp
  applications/MeshingApplication/custom_utilities/local_refine_prism_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh.hpp
Labels: Warning, Applications, Compilation, FastPR, Legacy

#10263 [thermal dem] Improvements in Energy Computation
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_elements/analytic_spheric_particle.cpp
  applications/DEMApplication/custom_elements/analytic_spheric_particle.h
  applications/DEMApplication/custom_elements/beam_particle.cpp
  applications/DEMApplication/custom_elements/beam_particle.h
  applications/DEMApplication/custom_elements/spheric_continuum_particle.cpp
  applications/DEMApplication/custom_elements/spheric_continuum_particle.h
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/ThermalDEMApplication/README.md
  applications/ThermalDEMApplication/custom_constitutive/generation/generation_dissipation.cpp
  applications/ThermalDEMApplication/custom_constitutive/generation/generation_dissipation.h
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.cpp
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.h
  applications/ThermalDEMApplication/custom_utilities/graph_utilities.cpp
  applications/ThermalDEMApplication/custom_utilities/graph_utilities.h
  applications/ThermalDEMApplication/python_scripts/thermal_dem_analysis.py
  applications/ThermalDEMApplication/python_scripts/thermal_sphere_strategy.py
Labels: Applications

#10285 [Core] Adding OS, python version and compiler to the banner
  cmake_modules/FindPythonLibsNew.cmake
  kratos/includes/kratos_version.h
  kratos/input_output/logger_output.cpp
  kratos/python/kratos_python.cpp
  kratos/sources/kernel.cpp
  kratos/sources/kratos_version.cpp
Labels: Enhancement, Kratos Core, FastPR

#10268 [Core] Recursive Symlink Resolution
  kratos/includes/kratos_filesystem.h
  kratos/sources/kratos_filesystem.cpp
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
Labels: Kratos Core, C++

#10274 [Core] Remove not required include from MathUtils
  kratos/utilities/math_utils.h
Labels: Cleanup, Kratos Core, FastPR, Leftover

#10266 [Core] Remove skip when no numpy
  kratos/mpi/tests/test_distributed_sparse_matrices.py
  kratos/tests/test_numpy_export_dense_matrix.py
  kratos/tests/test_scipy_conversion_tools.py
  kratos/tests/test_sparse_matrices.py
  kratos/tests/test_sparse_multiplication.py
Labels: Kratos Core, Testing, External library, FastPR, Inconsistent

#10246 [Core] cleaning some includes
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_solid_static_sensitivity.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_solid_transient_sensitivity.cpp
  kratos/factories/factory.h
  kratos/factories/linear_solver_factory.h
  kratos/factories/preconditioner_factory.h
  kratos/includes/cfd_variables.h
  kratos/includes/dem_variables.h
  kratos/includes/deprecated_variables.h
  kratos/includes/fsi_variables.h
  kratos/includes/kratos_application.h
  kratos/includes/mat_variables.h
  kratos/includes/mesh_moving_variables.h
  kratos/includes/table_stream.h
  kratos/modeler/cad_io_modeler.cpp
  kratos/modeler/cad_io_modeler.h
  kratos/sources/cfd_variables.cpp
  kratos/sources/dem_variables.cpp
  kratos/sources/deprecated_variables.cpp
  kratos/sources/fsi_variables.cpp
  kratos/sources/mat_variables.cpp
  kratos/sources/mesh_moving_variables.cpp
  kratos/tests/cpp_tests/strategies/schemes/test_residual_based_adjoint_bossak_scheme.cpp
  kratos/tests/cpp_tests/utilities/test_stl_io.cpp
Labels: Cleanup, C++

#10256 [CMake] Using option to simplify code
  CMakeLists.txt
Labels: FastPR, CMake

#10250 [Performance][Core] Adding missing references
  kratos/containers/data_value_container.cpp
  kratos/containers/data_value_container.h
  kratos/containers/flags.cpp
  kratos/containers/flags.h
  kratos/containers/model.cpp
  kratos/containers/model.h
  kratos/geometries/geometry.h
  kratos/geometries/oriented_bounding_box.cpp
  kratos/geometries/oriented_bounding_box.h
  kratos/geometries/quadrature_point_surface_in_volume_geometry.h
  kratos/includes/kernel.h
  kratos/includes/kratos_application.h
  kratos/includes/properties.h
  kratos/includes/serializer.h
  kratos/input_output/cad_json_output.cpp
  kratos/input_output/cad_json_output.h
  kratos/input_output/logger_output.h
  kratos/input_output/logger_table_output.cpp
  kratos/input_output/logger_table_output.h
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
  kratos/integration/integration_info.cpp
  kratos/integration/integration_info.h
  kratos/modeler/edge_swapping_2d_modeler.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/cpp_tests/sources/test_distributed_sparse_graph.cpp
  kratos/processes/apply_constant_scalarvalue_process.h
  kratos/processes/apply_constant_vectorvalue_process.h
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/processes/check_skin_process.h
  kratos/processes/entity_erase_process.cpp
  kratos/processes/entity_erase_process.h
  kratos/processes/process.h
  kratos/processes/tetrahedral_mesh_orientation_check.h
  kratos/sources/kernel.cpp
  kratos/sources/kratos_application.cpp
  kratos/tests/cpp_tests/external_libraries/test_delaunator.cpp
  kratos/tests/cpp_tests/sources/test_shape_function_derivatives.cpp
  kratos/tests/cpp_tests/utilities/test_split_tetrahedra.cpp
  kratos/utilities/auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.h
  kratos/utilities/beam_math_utilities.hpp
  kratos/utilities/constraint_utilities.cpp
  kratos/utilities/constraint_utilities.h
  kratos/utilities/cutting_utility.h
  kratos/utilities/embedded_skin_utility.h
  kratos/utilities/table_stream_utility.h
Labels: Kratos Core, Performance

#10288 [CI] Adding missing scipy to CI
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
Labels: Python, Testing, External library, Continuous Integration

#10287 update templates
  kratos/templates/classes/condition_template.cpp
  kratos/templates/classes/condition_template.h
  kratos/templates/classes/element_template.cpp
  kratos/templates/classes/element_template.h
  kratos/templates/classes/process_template.cpp
  kratos/templates/classes/process_template.h
  kratos/templates/geometry_template
  kratos/templates/header_template
  kratos/templates/headeronly_template
  kratos/templates/source_template
  kratos/templates/template_application/custom_python/add_custom_strategies_to_python.cpp.in
  kratos/templates/template_application/custom_python/add_custom_strategies_to_python.h.in
  kratos/templates/template_application/custom_python/add_custom_utilities_to_python.cpp.in
  kratos/templates/template_application/custom_python/add_custom_utilities_to_python.h.in
  kratos/templates/template_application/template_application.h.in
  kratos/templates/template_application/template_application_variables.h.in
  kratos/templates/testing_source_template
Labels: FastPR

#10286 [Core] shared_pointers.h -> smart_pointers.h
  kratos/includes/define.h
  kratos/includes/smart_pointers.h
Labels: Cleanup, Kratos Core, FastPR

#10294 [DEM] Remove unused includes
  applications/DEMApplication/custom_utilities/particle_data.h
  applications/SwimmingDEMApplication/custom_utilities/particle_data.h
Labels: Cleanup, Applications, FastPR

#9308 [Core] Add registry
  kratos/includes/registry.h
  kratos/includes/registry_item.h
  kratos/includes/registry_value_item.h
  kratos/sources/registry.cpp
  kratos/sources/registry_item.cpp
  kratos/tests/cpp_tests/sources/test_registry.cpp
Labels: C++, Feature

#10048 [Core] Remove unused AllVariablesDataValueContainer
  kratos/containers/all_variables_data_value_container.h
Labels: Cleanup, Legacy, Leftover

#10235 [GiDOutput] Cleanup SingleFile and Ascii
  applications/GeoMechanicsApplication/tests/test_absorbing_boundary.py
  applications/GeoMechanicsApplication/tests/test_absorbing_boundary_validation.py
  applications/GeoMechanicsApplication/tests/test_settlement.py
  applications/StructuralMechanicsApplication/tests/local_axis_visualization_ref_result_files/local_axis_CrBeamElement3D2N.post.res.ref
  applications/StructuralMechanicsApplication/tests/local_axis_visualization_ref_result_files/local_axis_CrLinearBeamElement3D2N.post.res.ref
  applications/StructuralMechanicsApplication/tests/local_axis_visualization_ref_result_files/local_axis_ShellThickElementCorotational3D3N.post.res.ref
  applications/StructuralMechanicsApplication/tests/local_axis_visualization_ref_result_files/local_axis_ShellThickElementCorotational3D4N.post.res.ref
  applications/StructuralMechanicsApplication/tests/local_axis_visualization_ref_result_files/local_axis_ShellThinElementCorotational3D3N.post.res.ref
  applications/StructuralMechanicsApplication/tests/local_axis_visualization_ref_result_files/local_axis_ShellThinElementCorotational3D4N.post.res.ref
  applications/StructuralMechanicsApplication/tests/test_local_axis_visualization.py
  applications/StructuralMechanicsApplication/tests/test_postprocess_eigenvalues_process.py
  kratos/includes/gid_io.h
  kratos/python_scripts/gid_output_process.py
  kratos/tests/auxiliar_files_for_python_unittest/gid_io/ref_gid_io_gp_active_only.post.msh.ref
  kratos/tests/auxiliar_files_for_python_unittest/gid_io/ref_gid_io_gp_active_only.post.res.ref
  kratos/tests/auxiliar_files_for_python_unittest/gid_io/ref_gid_io_gp_dynamic_deactivation.post.msh.ref
  kratos/tests/auxiliar_files_for_python_unittest/gid_io/ref_gid_io_gp_dynamic_deactivation.post.res.ref
  kratos/tests/test_gid_io.py
  kratos/tests/test_gid_io_gauss_points.py
Labels: Cleanup, FastPR, Post Process

#10307 Removed executable building from GeoMechanicsApplication
  applications/GeoMechanicsApplication/CMakeLists.txt
Labels: GeoMechanics

#10310 [FastPR][HDF5] HDF5 deprecation warnings
  applications/HDF5Application/tests/test_hdf5_condition_data_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_condition_flag_value_io.cpp
  applications/HDF5Application/tests/test_utils.cpp
Labels: Warning, Deprecated, FastPR

#10312 [Adjoint][Fluid] Adjoint advance in time minors
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_analysis.py
  applications/FluidDynamicsApplication/python_scripts/adjoint_fluid_solver.py
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_slip_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/one_element_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_slip_test_norm_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/steady_cylinder_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/two_elements_bossak_test_adjoint_parameters.json
  applications/FluidDynamicsApplication/tests/AdjointVMSSensitivity2DTest/two_elements_steady_test_adjoint_parameters.json
Labels: Applications, Usability

#10313 [Core] Remove legacy Properties reading process
  kratos/python_scripts/read_materials_process.py
  kratos/tests/test_materials_input.py
Labels: Cleanup, Kratos Core, API Breaker, Legacy, Leftover

#10314 [CoSimulationApplication] Minor clean up
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
Labels: Cleanup, Applications, FastPR

#10296 [CoSimulationApplication] Adding _GetSimulationName as in the AnalysisStage
  applications/CoSimulationApplication/python_scripts/co_simulation_analysis.py
Labels: Applications, Python, FastPR

#8039 [Core] Remove PythonProcess
  kratos/python_scripts/python_process.py
Labels: Cleanup, Kratos Core, Python

#10297 [Core] Adding additional information to the kernel
  kratos/includes/kernel.h
  kratos/python/add_kernel_to_python.cpp
  kratos/python_interface/__init__.py
  kratos/sources/kernel.cpp
Labels: Enhancement, Kratos Core, Python

#10213 [PfemFluid] [Proposal] Print GiD output into gid_output folder
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_dynamics_analysis.py
Labels: Post Process, Behaviour Change, Proposal

#10317 Correcting AMGCL Utility Type
  kratos/utilities/amgcl_csr_spmm_utilities.h
Labels: FastPR, Bugfix

#10113 [Core] Adding SetStiffnessMatrixIsBuilt and GetStiffnessMatrixIsBuilt to ImplicitSolvingStrategy
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/strategies/implicit_solving_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Enhancement, Kratos Core, Minor

#10318 [Core] Trying to fix KratosGlobals Windows random fail
  kratos/python_interface/__init__.py
Labels: Windows, Kratos Core, Python, Bugfix

#10316 [ConstitutiveLawsApplication] Fix typo
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/d+d-cl_integrators/generic_compression_cl_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/d+d-cl_integrators/generic_tension_cl_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/generic_cl_integrator_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/generic_cl_integrator_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/generic_cl_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/high_cycle_fatigue_law_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/plastic_potentials/drucker_prager_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/plastic_potentials/generic_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/plastic_potentials/modified_mohr_coulomb_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/plastic_potentials/mohr_coulomb_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/plastic_potentials/rankine_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/plastic_potentials/tresca_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/plastic_potentials/von_mises_plastic_potential.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/drucker_prager_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/generic_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/modified_mohr_coulomb_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/mohr_coulomb_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/rankine_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/simo_ju_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/tresca_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/yield_surfaces/von_mises_yield_surface.h
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/finite_strains/plasticity/generic_finite_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/finite_strains/plasticity/generic_finite_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/d_plus_d_minus_damage_masonry_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_d_plus_d_minus_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage_plane_stress.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_orthotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/fatigue/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/associative_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/generic_small_strain_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_kinematic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/viscous/viscous_generalized_kelvin.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/viscous/viscous_generalized_maxwell.cpp
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/tangent_operator_calculator_utility.h
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_damage_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_high_cycle_fatigue_constitutive_law_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_kinematic_plasticity_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_orthotropic_damage_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_plastic_damage_constitutive_law_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_plasticity_constitutive_laws_3d.cpp
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_yield_surfaces_3d.cpp
Labels: Typo, FastPR

#10319 [MLMC] Add new paper to documentation
  applications/MultilevelMonteCarloApplication/README.md
Labels: Documentation

#10321 proposal for adding a few new methods
  kratos/python/add_variable_utils_to_python.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Feature

#10323 [FastPR][Fsi] Minors in Randomized MVQN defaults and documentation
  applications/FSIApplication/custom_utilities/mvqn_randomized_svd_convergence_accelerator.h
Labels: Applications, FastPR
