Repository KratosMultiphysics/Kratos, pull requests merged in 2022-01, with the labels that each got.

#9499 [ShapeOpt] clean pybind dependency
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/response_functions/mesh_based_packaging.py
Labels: Cleanup

#9490 [ROM] Unify ROM solver
  applications/RomApplication/python_scripts/convection_diffusion_stationary_rom_solver.py
  applications/RomApplication/python_scripts/convection_diffusion_transient_rom_solver.py
  applications/RomApplication/python_scripts/navier_stokes_solver_vmsmonolithic_rom.py
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
  applications/RomApplication/python_scripts/python_solvers_wrapper_rom.py
  applications/RomApplication/python_scripts/rom_analysis.py
  applications/RomApplication/python_scripts/rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_implicit_dynamic_rom_solver.py
  applications/RomApplication/python_scripts/structural_mechanics_static_rom_solver.py
Labels: Duplicate, Enhancement, Cleanup, Applications, Refactor

#9503 [ROM] Calculate ROM basis output process
  applications/RomApplication/python_scripts/calculate_rom_basis_output_process.py
  applications/RomApplication/tests/calculate_rom_basis_output_process_test_files/RomParametersResults.json
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/test_calculate_rom_basis_output_process.py
Labels: Applications, Feature, Usability

#9494 [CoSim] pass DataCommunicator of CoupledSolver to helper classes
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupling_operation.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_data_transfer_operator.py
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/convergence_accelerator_wrapper.py
  applications/CoSimulationApplication/python_scripts/convergence_criteria/convergence_criteria_wrapper.py
  applications/CoSimulationApplication/python_scripts/coupled_solvers/gauss_seidel_strong.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/compute_boundary_force.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/compute_normals.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/coupling_output.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/create_point_load_model_part.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/elemental_data_to_nodal_data.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/print_iteration_number.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/reset_pfem_kinematics.py
  applications/CoSimulationApplication/python_scripts/coupling_operations/scaling.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/copy_single_to_distributed.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/sum_distributed_to_single.py
  applications/CoSimulationApplication/python_scripts/factories/convergence_accelerator_factory.py
  applications/CoSimulationApplication/python_scripts/factories/coupling_operation_factory.py
  applications/CoSimulationApplication/python_scripts/factories/data_transfer_operator_factory.py
  applications/CoSimulationApplication/python_scripts/factories/helpers.py
  applications/CoSimulationApplication/tests/test_convergence_accelerators.py
  applications/CoSimulationApplication/tests/test_coupling_operations.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
Labels: Enhancement, Applications, Parallel-MPI, FastPR

#9485 [Fluids] Exposing Forward Euler strategy for compressible fluids
  applications/FluidDynamicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FluidDynamicsApplication/custom_strategies/strategies/compressible_navier_stokes_explicit_solving_strategy_runge_kutta.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_compressible_explicit_solver.py
  applications/FluidDynamicsApplication/tests/test_navier_stokes_compressible_explicit_solver.py
  kratos/python/add_strategies_to_python.cpp
Labels: Python, FastPR

#9492 [ShapeOpt] Add total volume response function
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/response_functions/response_function_factory.py
  applications/ShapeOptimizationApplication/python_scripts/response_functions/total_volume.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
  applications/ShapeOptimizationApplication/tests/total_volume/test_total_volume_response.py
Labels: Applications, Python, C++, Feature

#9516 [ShapeOpt] split code into header source
  applications/ShapeOptimizationApplication/custom_utilities/damping/damping_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/damping/damping_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/damping/direction_damping_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/damping/direction_damping_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/filter_function.cpp
  applications/ShapeOptimizationApplication/custom_utilities/filter_function.h
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/input_output/universal_file_io.cpp
  applications/ShapeOptimizationApplication/custom_utilities/input_output/universal_file_io.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_improved_integration.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_improved_integration.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_matrix_free.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_matrix_free.h
  applications/ShapeOptimizationApplication/custom_utilities/optimization_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/optimization_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/search_based_functions.cpp
  applications/ShapeOptimizationApplication/custom_utilities/search_based_functions.h
Labels: Cleanup

#9510 [Core] FindNodalNeighboursForEntitiesProcess - Avoid error clearing neighbours
  kratos/processes/find_global_nodal_neighbours_for_entities_process.cpp
Labels: Bugfix

#9517 [FastPR] Typo in pointer hasher
  kratos/includes/key_hash.h
  kratos/utilities/auxiliar_model_part_utilities.cpp
Labels: Typo, FastPR

#9245 [FreeSurface] Interface update
  applications/FreeSurfaceApplication/python_scripts/edgebased_levelset_solver.py
  applications/FreeSurfaceApplication/python_scripts/free_surface_analysis.py
  applications/FreeSurfaceApplication/python_scripts/free_surface_solver.py
  applications/FreeSurfaceApplication/tests/Reservoir2D/ProjectParameters.json
  applications/FreeSurfaceApplication/tests/Reservoir3D/ProjectParameters.json
  applications/FreeSurfaceApplication/tests/generalTests.py
  applications/FreeSurfaceApplication/tests/test_FreeSurfaceApplication.py
Labels: Applications, Python, API Breaker

#9161 Hdf5/point output
  applications/HDF5Application/CMakeLists.txt
  applications/HDF5Application/custom_io/hdf5_container_component_io.cpp
  applications/HDF5Application/custom_io/hdf5_container_component_io.h
  applications/HDF5Application/custom_io/hdf5_vertex_container_io.cpp
  applications/HDF5Application/custom_io/hdf5_vertex_container_io.h
  applications/HDF5Application/custom_python/add_custom_io_to_python.cpp
  applications/HDF5Application/custom_python/add_custom_utilities_to_python.cpp
  applications/HDF5Application/custom_python/add_custom_utilities_to_python.h
  applications/HDF5Application/custom_python/hdf5_python_application.cpp
  applications/HDF5Application/custom_utilities/vertex.cpp
  applications/HDF5Application/custom_utilities/vertex.h
  applications/HDF5Application/custom_utilities/vertex_impl.h
  applications/HDF5Application/custom_utilities/vertex_utilities.cpp
  applications/HDF5Application/custom_utilities/vertex_utilities.h
  applications/HDF5Application/python_scripts/core/file_io.py
  applications/HDF5Application/python_scripts/line_output_process.py
  applications/HDF5Application/python_scripts/point_set_output_process.py
  applications/HDF5Application/tests/test_HDF5Application.py
  applications/HDF5Application/tests/test_HDF5Application_mpi.py
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_core_mpi.py
  applications/HDF5Application/tests/test_line_output_process.py
  applications/HDF5Application/tests/test_point_set_output_process.py
  applications/HDF5Application/tests/test_vertex.py
Labels: Applications, Post Process

#9160 [WindEngineering] New application
  applications/WindEngineeringApplication/CMakeLists.txt
  applications/WindEngineeringApplication/WindEngineeringApplication.py
  applications/WindEngineeringApplication/custom_python/add_custom_processes_to_python.cpp
  applications/WindEngineeringApplication/custom_python/add_custom_processes_to_python.h
  applications/WindEngineeringApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/WindEngineeringApplication/custom_python/add_custom_utilities_to_python.h
  applications/WindEngineeringApplication/custom_python/wind_engineering_python_application.cpp
  applications/WindEngineeringApplication/custom_utilities/model_subdivision_utilities.cpp
  applications/WindEngineeringApplication/custom_utilities/model_subdivision_utilities.h
  applications/WindEngineeringApplication/custom_utilities/model_subdivision_utilities_impl.h
  applications/WindEngineeringApplication/python_scripts/compute_level_force_process.py
  applications/WindEngineeringApplication/python_scripts/set_mesh_motion_and_get_forces_process.py
  applications/WindEngineeringApplication/python_scripts/test_case.py
  applications/WindEngineeringApplication/python_scripts/test_suite.py
  applications/WindEngineeringApplication/tests/cpp_tests/test_model_subdivision_utilities.cpp
  applications/WindEngineeringApplication/tests/run_cpp_tests.py
  applications/WindEngineeringApplication/tests/test_WindEngineeringApplication.py
  applications/WindEngineeringApplication/tests/test_WindEngineeringApplication_mpi.py
  applications/WindEngineeringApplication/tests/test_compute_level_force_process.py
  applications/WindEngineeringApplication/wind_engineering_application.cpp
  applications/WindEngineeringApplication/wind_engineering_application.h
Labels: Applications

#9121 [Core] SpecificationsUtilities with entities list
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_specifications_utilities.py
  kratos/utilities/specifications_utilities.cpp
  kratos/utilities/specifications_utilities.h
Labels: Enhancement, Kratos Core, Testing, FastPR

#9520 [Shallow] Finalize the Boussinesq formulation
  applications/ShallowWaterApplication/README.md
  applications/ShallowWaterApplication/custom_conditions/boussinesq_condition.cpp
  applications/ShallowWaterApplication/custom_conditions/wave_condition.cpp
  applications/ShallowWaterApplication/custom_conditions/wave_condition.h
  applications/ShallowWaterApplication/custom_elements/boussinesq_element.cpp
  applications/ShallowWaterApplication/custom_elements/boussinesq_element.h
  applications/ShallowWaterApplication/custom_elements/conservative_element.cpp
  applications/ShallowWaterApplication/custom_elements/conservative_element.h
  applications/ShallowWaterApplication/custom_elements/crank_nicolson_wave_element.cpp
  applications/ShallowWaterApplication/custom_elements/wave_element.cpp
  applications/ShallowWaterApplication/custom_elements/wave_element.h
  applications/ShallowWaterApplication/custom_processes/apply_sinusoidal_function_process.cpp
  applications/ShallowWaterApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/ShallowWaterApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShallowWaterApplication/custom_python/shallow_water_python_application.cpp
  applications/ShallowWaterApplication/custom_strategies/residual_based_adams_moulton_scheme.h
  applications/ShallowWaterApplication/custom_strategies/shallow_water_residual_based_bdf_scheme.h
  applications/ShallowWaterApplication/custom_strategies/velocity_height_residual_based_bdf_scheme.h
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/custom_utilities/derivatives_recovery_utility.h
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.cpp
  applications/ShallowWaterApplication/custom_utilities/shallow_water_utilities.h
  applications/ShallowWaterApplication/python_scripts/benchmarks/solitary_wave_benchmark.py
  applications/ShallowWaterApplication/python_scripts/boussinesq_solver.py
  applications/ShallowWaterApplication/python_scripts/derivatives_recovery_process.py
  applications/ShallowWaterApplication/python_scripts/shallow_water_base_solver.py
  applications/ShallowWaterApplication/python_scripts/testing/empty_solver_for_testing.py
  applications/ShallowWaterApplication/python_scripts/utilities/wave_factory.py
  applications/ShallowWaterApplication/python_scripts/utilities/wave_theory_utilities.py
  applications/ShallowWaterApplication/python_scripts/wave_generator_process.py
  applications/ShallowWaterApplication/python_scripts/wave_solver.py
  applications/ShallowWaterApplication/shallow_water_application.cpp
  applications/ShallowWaterApplication/shallow_water_application.h
  applications/ShallowWaterApplication/shallow_water_application_variables.cpp
  applications/ShallowWaterApplication/shallow_water_application_variables.h
  applications/ShallowWaterApplication/tests/cpp_tests/test_boussinesq_element.cpp
  applications/ShallowWaterApplication/tests/cpp_tests/test_derivatives_recovery_utility.cpp
  applications/ShallowWaterApplication/tests/cpp_tests/test_shallow_water_utilities.cpp
  applications/ShallowWaterApplication/tests/elements_tests/boussinesq_2d_3n_parameters.json
  applications/ShallowWaterApplication/tests/elements_tests/boussinesq_2d_3n_reference.json
  applications/ShallowWaterApplication/tests/processes_tests/solitary_wave_benchmark_parameters.json
  applications/ShallowWaterApplication/tests/processes_tests/solitary_wave_benchmark_reference.json
  applications/ShallowWaterApplication/tests/processes_tests/test_wave_generator_process.py
  applications/ShallowWaterApplication/tests/processes_tests/wave_generator_process_reference.json
  applications/ShallowWaterApplication/tests/shallow_water_test_factory.py
  applications/ShallowWaterApplication/tests/test_ShallowWaterApplication.py
Labels: Enhancement, Cleanup, Refactor

#9519 [ShapeOpt] fix depedency on StructMech
  applications/ShapeOptimizationApplication/python_scripts/mapping/sliding_vertex_morphing_mapper.py
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
Labels: FastPR

#9512 [ROM] HROM settings in rom basis output process
  applications/RomApplication/python_scripts/calculate_rom_basis_output_process.py
  applications/RomApplication/tests/test_calculate_rom_basis_output_process.py
Labels: Enhancement, Applications, Usability

#8677 [Structural] fix calculate value in elastic isotropic law
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
Labels: Bugfix, Behaviour Change

#9506 [Core][Wheel] Add missing module to Kratos Wheel
  kratos/KratosMultiphysics.json
Labels: Bug, Wheels

#9374 [Structural] Defining initial state in shell elements
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_shell_element.h
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.cpp
  applications/StructuralMechanicsApplication/custom_utilities/shell_cross_section.hpp
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test.mdpa
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test_materials.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test_parameters.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_shell_Q4_thick_test_results.json
  applications/StructuralMechanicsApplication/tests/structural_mechanics_test_factory.py
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  kratos/processes/set_initial_state_process.cpp
Labels: Enhancement, Kratos Core, Applications

#9528 [Shallow] [ustom output] update default settings
  applications/ShallowWaterApplication/python_scripts/postprocess/line_graph_output_process.py
  applications/ShallowWaterApplication/tests/processes_tests/test_line_graph_output_process.py
Labels: FastPR

#9524 [ConstitutiveLawsApp] Minor flag change in Parallel Rule of mixtures
  applications/ConstitutiveLawsApplication/custom_constitutive/rule_of_mixtures_law.cpp
Labels: Applications, FastPR

#9438 [PfemFluid] [WaveOutput] Update parameters
  applications/PfemFluidDynamicsApplication/python_scripts/wave_height_output_process.py
Labels: Post Process, Usability

#9529 [AnalysisStage] [OutputProcesses] Unify processes
  kratos/python_scripts/analysis_stage.py
  kratos/tests/test_KratosCore.py
  kratos/tests/test_output_process.py
Labels: Post Process, Proposal

#9491 [CORE] Adding ARC-LENGTH strategy
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/strategies/arc_length_strategy.h
  kratos/tests/cpp_tests/strategies/strategies/test_strategies.cpp
Labels: Kratos Core

#9546 Adding numpy to core non-unity and centos
  .github/workflows/ci.yml
  scripts/docker_files/docker_file_ci_centos_7_python35/DockerFile
Labels: Continuous Integration

#9537 Print info in file process updated
  kratos/python_scripts/print_info_in_file_process.py
  kratos/tests/test_KratosCore.py
  kratos/tests/test_print_info_in_file.py
Labels: Kratos Core, Hotfix

#9552 [Core] moving check to model part and removing processinfo from arguments
  kratos/includes/model_part.h
  kratos/solving_strategies/schemes/scheme.h
  kratos/solving_strategies/strategies/solving_strategy.h
  kratos/sources/model_part.cpp
Labels: Cleanup

#9426 [Fluid] Refactoring of compressible Navier-Stokes symbolic element generation
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes2D.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes3D.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit.h
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit_2D3N.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit_2D4N.cpp
  applications/FluidDynamicsApplication/custom_elements/compressible_navier_stokes_explicit_3D4N.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/python_scripts/check_and_prepare_model_process_fluid.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/__init__.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/__init__.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_symbolic_generator.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/generate_quadrilateral.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/generate_tetrahedron.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/generate_triangle.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/__init__.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/defines.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/generate_convective_flux.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/generate_diffusive_flux.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/generate_source_term.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/generate_stabilization_matrix.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/symbolic_geometry.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/src/symbolic_parameters.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/templates/compressible_navier_stokes_explicit_template_2D3N.cpp
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/templates/compressible_navier_stokes_explicit_template_2D4N.cpp
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/compressible_navier_stokes/templates/compressible_navier_stokes_explicit_template_3D4N.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/MainJupyter.ipynb
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_cpp_template2D.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_cpp_template3D.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/compressible_navier_stokes_explicit_cpp_template_with_integration.cpp
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_compressible_navier_stokes.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_compressible_navier_stokes_explicit_with_integration.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_convective_flux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_diffusive_flux.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_source_term.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/generate_stabilization_matrix.py
  applications/FluidDynamicsApplication/symbolic_generation/compressible_navier_stokes/params_dict.py
  applications/FluidDynamicsApplication/tests/CompressibleSymbolicGeneration/test_compressible_symbolic_quadrilateral.template
  applications/FluidDynamicsApplication/tests/CompressibleSymbolicGeneration/test_compressible_symbolic_tetrahedron.template
  applications/FluidDynamicsApplication/tests/CompressibleSymbolicGeneration/test_compressible_symbolic_triangle.template
  applications/FluidDynamicsApplication/tests/compressible_navier_stokes_symbolic_generator_test.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_compressible_navier_stokes_symbolic_element.cpp
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Python, C++, Feature

#9542 Sparse matrix python interface
  kratos/containers/system_vector.h
  kratos/python/add_matrix_to_python.cpp
  kratos/python/add_sparse_matrices_to_python.cpp
  kratos/python/add_sparse_matrices_to_python.h
  kratos/python/kratos_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_sparse_matrices.py
Labels: FastPR

#9558 [Fluid] Fixed error when modelpart is empty
  applications/FluidDynamicsApplication/python_scripts/check_and_prepare_model_process_fluid.py
Labels: Bug, Parallel-MPI, FastPR, Bugfix

#9566 [Fluid] Fixing nightly run of compressible NS symbolic generator
  .github/workflows/nightly_build.yml
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Testing, FastPR

#9565 Fix colored logger tests
  kratos/input_output/logger_output.cpp
  kratos/tests/cpp_tests/input_output/test_logger.cpp
Labels: Testing

#9551 [Core] Undeprecating bool serialization
  kratos/includes/data_communicator.h
Labels: Warning, Kratos Core, Compilation, Parallel-MPI

#9556 [ROM] Clean up ROM B&S
  applications/RomApplication/custom_strategies/rom_builder_and_solver.h
Labels: Cleanup, Applications, ROM

#9577 [Core] Fixed deprecated call to UnSetLock
  kratos/includes/fixed_size_memory_pool.h
Labels: C++, Compilation, Deprecated, Parallel-SMP, FastPR

#9567 [Core] Use parameters in distance processes
  kratos/mpi/tests/test_mpi_processes.py
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
  kratos/processes/calculate_distance_to_skin_process.cpp
  kratos/processes/calculate_distance_to_skin_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/cpp_tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
Labels: Kratos Core, Refactor

#9582 [Fluid] Fixed bug in estimate dt utilities
  applications/FluidDynamicsApplication/custom_utilities/estimate_dt_utilities.h
Labels: Bug, Applications, Bugfix

#9523 [Core] Turning Parallel Distance Calculator into a Process
  applications/ChimeraApplication/custom_utilities/distance_calcuation_utility.h
  applications/FSIApplication/python_scripts/partitioned_embedded_fsi_base_solver.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/FluidDynamicsApplication/python_scripts/trilinos_navier_stokes_two_fluids_solver.py
  applications/FreeSurfaceApplication/python_scripts/edgebased_levelset_solver.py
  applications/RANSApplication/custom_processes/rans_wall_distance_calculation_process.cpp
  applications/TrilinosApplication/tests/test_trilinos_redistance.py
  kratos/processes/parallel_distance_calculation_process.cpp
  kratos/processes/parallel_distance_calculation_process.h
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/python/add_processes_to_python.cpp
  kratos/tests/test_redistance.py
  kratos/utilities/parallel_levelset_distance_calculator.h
Labels: Cleanup, API Breaker

#9586 [Core] fix compilation with older versions of boost
  CMakeLists.txt
Labels: Error, Kratos Core, Hotfix, External library, Compilation

#9588 [FastPR][Core] Missing const in ModelPart Has methods
  kratos/includes/model_part.h
Labels: Kratos Core, FastPR

#9548 [Core] fix exposure of MemoryInfo
  kratos/includes/memory_info.h
  kratos/python/add_memory_info_to_python.cpp
  kratos/python/add_memory_info_to_python.h
  kratos/python/kratos_python.cpp
  kratos/sources/memory_info.cpp
Labels: Kratos Core, Hotfix, FastPR
