Repository KratosMultiphysics/Kratos, pull requests merged in 2022-11, with the labels that each got.

#10412 [GeoMechanicsApplication] Calculate hydraulic head level on nodes
  applications/GeoMechanicsApplication/CMakeLists.txt
  applications/GeoMechanicsApplication/custom_workflows/GeoFlow.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.h
  applications/GeoMechanicsApplication/external_bindings/kratos_external_bindings.h
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/cpp_tests/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/cpp_tests/flow_stubs.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/flow_stubs.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test.mdpa
  applications/GeoMechanicsApplication/tests/cpp_tests/test_GeoMechanicsNewtonRaphsonErosionProcessStrategy.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_head_extrapolation_flow_workflow.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/tests/run_cpp_unit_tests.py
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/ProjectParameters_1.json
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/ProjectParameters_2.json
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/ProjectParameters_3.json
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/ProjectParameters_4.json
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate.mdpa
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_1.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_2.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_3.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_4.orig.res
Labels: GeoMechanics

#10416 [Ci] some cleanups
  .github/workflows/build_docker_images_for_ci.yml
  .github/workflows/ci-dummy.yml
  .github/workflows/ci.yml
Labels: Cleanup, FastPR, Continuous Integration, Legacy

#10397 [CMake][TrilinosApplication] Improve Trilinos find
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/README.md
  cmake_modules/FindTRILINOS.cmake
Labels: Kratos Core, Applications, CMake

#10418 [FastPR][Core] Minor in kernel info formatting
  kratos/sources/kernel.cpp
Labels: Cleanup, Kratos Core, FastPR

#10422 [PfemFluid] MuIrheology and FrictionalViscoplastic models with nodal integration
  applications/PfemFluidDynamicsApplication/CMakeLists.txt
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/barker_bercovier_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/barker_bercovier_mu_I_rheology_3D_law.h
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/barker_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/barker_mu_I_rheology_3D_law.h
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/bercovier_mu_I_rheology_3D_law.h
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/frictional_viscoplastic_2D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/frictional_viscoplastic_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/mu_I_rheology_2D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/mu_I_rheology_2D_law.h
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/mu_I_rheology_3D_law.h
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/papanastasiou_mu_I_rheology_2D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/papanastasiou_mu_I_rheology_2D_law.h
  applications/PfemFluidDynamicsApplication/custom_constitutive/fluid_laws/papanastasiou_mu_I_rheology_3D_law.cpp
  applications/PfemFluidDynamicsApplication/custom_processes/set_material_properties_from_fluid_to_rigid_nodes_process.hpp
  applications/PfemFluidDynamicsApplication/custom_processes/set_material_properties_to_fluid_nodes_process.hpp
  applications/PfemFluidDynamicsApplication/custom_python/pfem_fluid_dynamics_python_application.cpp
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_block_builder_and_solver.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver_continuity.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver_continuity_for_FSI.h
  applications/PfemFluidDynamicsApplication/custom_strategies/builders_and_solvers/nodal_residualbased_elimination_builder_and_solver_for_FSI.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/nodal_two_step_v_p_strategy.h
  applications/PfemFluidDynamicsApplication/custom_strategies/strategies/nodal_two_step_v_p_strategy_for_FSI.h
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application.h
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.cpp
  applications/PfemFluidDynamicsApplication/pfem_fluid_dynamics_application_variables.h
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_dynamics_analysis.py
  applications/PfemFluidDynamicsApplication/python_scripts/pfem_fluid_thermally_coupled_solver.py
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/PfemFluidDynamicsMaterials.json
  applications/PfemFluidDynamicsApplication/tests/fluid_element_tests/Test_2D_muIrheology/ProjectParameters.json
Labels: Enhancement, Cleanup, Applications

#10414 [Meshing] Adding `invert_value` to isosurface meshing in MMGProcess
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/python_scripts/mmg_process.py
Labels: Enhancement, Applications

#10401 [StructuralMechanicsApp] Minor inconsistencies in rotations in Init and Fin solution step methods
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.h
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian_q1p0_mixed_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
Labels: Applications, Inconsistent

#10405 [Core] Adding FastMinimalDistanceOnLine to GeometricalProjectionUtilities
  kratos/tests/cpp_tests/utilities/test_geometrical_projection_utilities.cpp
  kratos/utilities/geometrical_projection_utilities.h
Labels: Enhancement, Kratos Core, Testing

#10400 [CMake] Remove old CMake module. Pastix is not longer compatible
  cmake_modules/FindPastix.cmake
Labels: Cleanup, Kratos Core, CMake

#10407 [Core] Remove node_erase_process.h, this is a 4 years old TODO
  applications/MeshingApplication/custom_python/add_meshers_to_python.cpp
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.cpp
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.hpp
  applications/MeshingApplication/custom_utilities/tetrahedra_reconnect_utility.h
  applications/MeshingApplication/external_includes/msuite_pfem_refine.h
  applications/MeshingApplication/external_includes/tetgen_cdt.h
  applications/MeshingApplication/external_includes/tetgen_pfem_contact.h
  applications/MeshingApplication/external_includes/tetgen_pfem_refine.h
  applications/MeshingApplication/external_includes/tetgen_pfem_refine_face.h
  applications/MeshingApplication/external_includes/tetgen_pfem_refine_vms.h
  applications/MeshingApplication/external_includes/trigen_droplet_refine.h
  applications/MeshingApplication/external_includes/trigen_glass_forming.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_segment.h
  applications/MeshingApplication/external_includes/trigen_pfem_refine_vms.h
  applications/PFEM2Application/custom_utilities/move_particle_utility_pfem2.h
  applications/PFEM2Application/custom_utilities/particle_utilities.h
  applications/PFEM2Application/custom_utilities/transfer_utility.h
  kratos/processes/node_erase_process.h
  kratos/python/add_processes_to_python.cpp
Labels: Cleanup, Kratos Core, Applications, TODO

#10428 [FastPR][All] Upgrade minimum Python version to 3.8
  CMakeLists.txt
  INSTALL.md
  kratos/python_interface/__init__.py
Labels: Python, FastPR

#10427 [Core][OpenMPUtils] declaring some functions deprecated
  kratos/utilities/openmp_utils.h
Labels: Kratos Core, Deprecated, Parallel-SMP, Legacy

#10425 [CI] dependencies are in docker file
  .github/workflows/ci.yml
Labels: Duplicate, Cleanup, FastPR, Continuous Integration

#10426 [Structural] port some loops to parUtils
  applications/StructuralMechanicsApplication/custom_processes/compute_center_of_gravity_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/compute_mass_moment_of_inertia_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/impose_z_strain_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/prism_neighbours_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/solid_shell_thickness_compute_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/spr_error_process.h
  applications/StructuralMechanicsApplication/custom_processes/total_structural_mass_process.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/adjoint_linear_strain_energy_response_function.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/response_utilities/finite_difference_utility.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
Labels: Applications, Parallel-SMP, Refactor

#10424 [CMake][TrilinosApplication][MPI] Allow to compile MPI without Trilinos
  cmake_modules/FindTRILINOS.cmake
Labels: Kratos Core, Parallel-MPI, FastPR, CMake

#10420 Python registry
  CMakeLists.txt
  applications/FluidDynamicsApplication/FluidDynamicsApplication.py
  kratos/CMakeLists.txt
  kratos/includes/kratos_application.h
  kratos/includes/registry.h
  kratos/includes/registry_auxiliaries.h
  kratos/includes/registry_item.h
  kratos/includes/registry_value_item.h
  kratos/operations/operation.h
  kratos/operations/register_operations.cpp
  kratos/processes/output_process.h
  kratos/processes/register_processes.cpp
  kratos/python/add_registry_to_python.cpp
  kratos/python/add_registry_to_python.h
  kratos/python/kratos_python.cpp
  kratos/python_interface/__init__.py
  kratos/python_interface/python_registry.py
  kratos/python_scripts/model_parameters_factory.py
  kratos/python_scripts/process_factory.py
  kratos/sources/kratos_application.cpp
  kratos/sources/registry.cpp
  kratos/sources/registry_item.cpp
  kratos/tests/cpp_tests/sources/test_registry.cpp
  kratos/tests/test_python_registry.py
Labels: Feature

#10431 [FastPR][Core] Registry testing leftover
  kratos/tests/cpp_tests/sources/test_registry.cpp
Labels: Kratos Core, Testing, FastPR, Leftover

#10434 [Core][MPI] Adding absolute min/max sync in communicators
  kratos/includes/communicator.h
  kratos/mpi/includes/mpi_communicator.h
  kratos/mpi/tests/cpp_tests/sources/test_mpi_communicator.cpp
  kratos/sources/communicator.cpp
Labels: Enhancement, Kratos Core, Parallel-MPI

#10430 [Core] Using Distance instead of manual calculation
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
  kratos/processes/find_nodal_h_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/tests/cpp_tests/geometries/test_coupling_geometry.cpp
  kratos/utilities/exact_mortar_segmentation_utility.h
  kratos/utilities/shifted_boundary_meshless_interface_utility.cpp
Labels: Duplicate, Cleanup, Kratos Core

#10105 [Core] Zero element contribution bug in elimination b&s fix
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_lagrange_multiplier.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/spaces/ublas_space.h
  kratos/tests/cpp_tests/spaces/test_ublas_space.cpp
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Kratos Core, Testing, Bugfix

#10435 [Core] Add AbsMinReduction/AbsMaxReduction
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/reduction_utilities.h
Labels: Enhancement, Kratos Core, Parallel-SMP

#10381 [Core] Make private copy constructor of Variable
  applications/FluidDynamicsApplication/custom_utilities/statistics_utilities.h
  applications/MeshingApplication/custom_processes/metrics_levelset_process.h
  applications/StatisticsApplication/custom_utilities/method_utilities.cpp
  applications/StructuralMechanicsApplication/custom_io/vtk_eigen_output.cpp
  applications/StructuralMechanicsApplication/custom_io/vtk_eigen_output.h
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.h
  kratos/containers/variable.h
  kratos/mpi/utilities/debug_utilities.h
  kratos/utilities/variable_utils.cpp
Labels: Kratos Core, Applications, API Breaker, Memory saving, Behaviour Change

#10440 [Core] removing no longer needed macros
  kratos/includes/checks.h
Labels: Cleanup, Kratos Core, Deprecated, FastPR

#10439 [Trilinos] removing deprecation warnings
  applications/TrilinosApplication/custom_utilities/trilinos_cutting_app.h
  applications/TrilinosApplication/custom_utilities/trilinos_cutting_iso_app.h
  applications/TrilinosApplication/custom_utilities/trilinos_refine_mesh.h
Labels: Cleanup, Applications, Deprecated, FastPR

#10438 [Core] update filesystem deprecation warnings
  kratos/includes/kratos_filesystem.h
  kratos/includes/model_part_io.h
  kratos/input_output/vtk_output.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_assign_unique_model_part_collection_tag_utility.cpp
  kratos/sources/kratos_filesystem.cpp
  kratos/sources/model_part_io.cpp
  kratos/tests/cpp_tests/sources/test_filesystem.cpp
  kratos/tests/cpp_tests/utilities/test_assign_unique_model_part_collection_tag_utility.cpp
  kratos/tests/test_file_name_data_collector.py
  kratos/utilities/file_name_data_collector.cpp
  kratos/utilities/single_import_model_part.cpp
Labels: Cleanup, Kratos Core, Deprecated, FastPR

#10449 [FastPR][Fluid] More robust gradient_penalty_coefficient default in FM-ALE settings
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
Labels: Applications, FastPR

#10455 [CI] Centos - treating warnings as errors
  .github/workflows/ci.yml
  kratos/includes/kratos_filesystem.h
Labels: Warning, Compilation

#10448 [CMake] Minor fix in some versions of CMake
  cmake_modules/FindTRILINOS.cmake
Labels: FastPR, CMake

#10457 [Metis] split header source
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_in_memory_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_in_memory_process.h
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.h
Labels: Cleanup, Applications, FastPR

#10456 [Metis] more cleanup
  applications/MetisApplication/CMakeLists.txt
  applications/MetisApplication/custom_processes/metis_divide_submodelparts_heterogeneous_input_process.h
  applications/MetisApplication/custom_utilities/legacy_partitioning_utilities.cpp
  applications/MetisApplication/custom_utilities/legacy_partitioning_utilities.h
  applications/MetisApplication/custom_utilities/metis_partitioning_utilities.cpp
  applications/MetisApplication/custom_utilities/metis_partitioning_utilities.h
  applications/MetisApplication/tests/cpp_tests/test_metis_partitioning_utilities.cpp
  applications/MetisApplication/tests/test_metis_submodelpart_list.py
Labels: Cleanup, Applications, FastPR

#10465 [CMAKE] Enable new lists policy
  CMakeLists.txt
Labels: FastPR, CMake

#10436 Particle/mixed formulation
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_python/particle_mechanics_python_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application_variables.h
  applications/ParticleMechanicsApplication/python_scripts/mpm_implicit_dynamic_solver.py
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_UP_hyperelastic_cantilever_test/cantilever_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_UP_hyperelastic_cantilever_test/cantilever_Grid.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_UP_hyperelastic_cantilever_test/dynamic_UP_hyperelastic_test_materials.json
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_UP_hyperelastic_cantilever_test/dynamic_UP_hyperelastic_test_parameters.json
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_UP_hyperelastic_cantilever_test/dynamic_UP_hyperelastic_test_results.json
  applications/ParticleMechanicsApplication/tests/particle_mechanics_test_factory.py
  applications/ParticleMechanicsApplication/tests/test_ParticleMechanicsApplication.py
Labels: Applications

#10458 [Metis] moving legacy utility functions
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_in_memory_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.h
  applications/MetisApplication/custom_processes/metis_divide_submodelparts_heterogeneous_input_process.cpp
  applications/MetisApplication/custom_utilities/legacy_partitioning_utilities.cpp
  applications/MetisApplication/custom_utilities/legacy_partitioning_utilities.h
Labels: Cleanup, Applications

#10474 [CI] Add mmg and parmmg stable versions to ubuntu dockerfiles
  scripts/docker_files/docker_file_ci_ubuntu_22_04/DockerFile
Labels: External library, Continuous Integration

#10166 [Core][MPI] Skin detection process in MPI
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/processes/skin_detection_process.cpp
  kratos/processes/skin_detection_process.h
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/coarse_sphere.mdpa
  kratos/tests/test_skin_detection_process.py
Labels: Enhancement, Kratos Core, Parallel-MPI

#10375 [CoSimulationApplication] Minor correction in README documentation
  applications/CoSimulationApplication/README.md
Labels: Applications, Documentation

#10479 [CI] Set omp_num_threads to 1 in mpi tests
  .github/workflows/nightly_build.yml
Labels: Parallel-MPI, Continuous Integration

#10483 [IGA][FastPR] Minor fix in tests domain_size
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_cantilever_refined_test/two_patch_cantilever_refined_test_penalty_project_parameters.json
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_cantilever_test/two_patch_cantilever_test_penalty_project_parameters.json
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_refined_test/two_patch_refined_test_lagrange_membrane_project_parameters.json
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_refined_test/two_patch_refined_test_nitsche_membrane_project_parameters.json
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_refined_test/two_patch_refined_test_penalty_membrane_project_parameters.json
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_test/two_patch_test_lagrange_shell_3p_project_parameters.json
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_test/two_patch_test_nitsche_shell_3p_project_parameters.json
  applications/IgaApplication/tests/coupling_condition_tests/two_patch_test/two_patch_test_penalty_shell_3p_project_parameters.json
  applications/IgaApplication/tests/linear_beam_shell_3p_test/linear_beam_shell_3p_additive_schwarz_project_parameters.json
  applications/IgaApplication/tests/linear_beam_shell_3p_test/linear_beam_shell_3p_project_parameters.json
  applications/IgaApplication/tests/linear_beam_thick_p4_nCP5/shell_5p_project_parameters.json
  applications/IgaApplication/tests/linear_scordelis_p4_nCP10/shell_5p_project_parameters.json
  applications/IgaApplication/tests/membrane_test/Membrane_single_patch_four_point_sail_implicit_dynamic_project_parameters.json
  applications/IgaApplication/tests/membrane_test/Membrane_single_patch_four_point_sail_linear_static_project_parameters.json
  applications/IgaApplication/tests/membrane_test/Membrane_single_patch_four_point_sail_non_linear_static_project_parameters.json
  applications/IgaApplication/tests/nonlinear_beam_thick_p2_nCP22/shell_5p_project_parameters.json
  applications/IgaApplication/tests/scordelis_roof_test/scordelis_roof_shell_3p_project_parameters.json
  applications/IgaApplication/tests/scordelis_roof_test/scordelis_roof_shell_5p_project_parameters.json
  applications/IgaApplication/tests/single_patch_test/single_patch_project_parameters.json
  applications/IgaApplication/tests/weak_support_tests/single_patch_refined_test/single_patch_refined_test_lagrange_project_parameters.json
  applications/IgaApplication/tests/weak_support_tests/single_patch_refined_test/single_patch_refined_test_nitsche_project_parameters.json
  applications/IgaApplication/tests/weak_support_tests/single_patch_refined_test/single_patch_refined_test_penalty_project_parameters.json
Labels: Testing, Hotfix, FastPR

#10472 [Core][ModelPartIO] unify DivideInputToPartitions
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
Labels: Duplicate, Cleanup, Kratos Core, FastPR

#10482 [Structural] Finite strains mixed displacement volumetric deformation element
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/python_scripts/symbolic_generation/total_lagrangian_mixed_volumetric_strain_element/generate_total_lagrangian_mixed_volumetric_strain_element.py
  applications/StructuralMechanicsApplication/python_scripts/symbolic_generation/total_lagrangian_mixed_volumetric_strain_element/total_lagrangian_mixed_volumetric_strain_element_template.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_total_lagrangian_mixed_volumetric_strain_element.cpp
Labels: Applications, Feature

#10471 [Fluid][Bugfix] Outlet inflow contribution enhancements
  applications/FluidDynamicsApplication/custom_conditions/embedded_ausas_navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/embedded_ausas_navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.h
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/apply_outlet_process.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_condition.cpp
Labels: Enhancement, Applications, Bugfix

#10473 [Metis] unify partitioning methods
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_in_memory_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.cpp
  applications/MetisApplication/custom_processes/metis_divide_heterogeneous_input_process.h
Labels: Duplicate, Cleanup, Applications

#10395 [Core][ParUtils] make atomic-utils compatible with C++ based parallelization
  CMakeLists.txt
  kratos/tests/cpp_tests/utilities/test_atomic_utilities.cpp
  kratos/utilities/atomic_utilities.h
Labels: Kratos Core, Parallel-SMP

#10376 [CLApp] Adding analytical tangent tensor estimation isotropic damage (sympy)
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.h
  applications/ConstitutiveLawsApplication/custom_utilities/automatic_differentiation_tangent_utilities.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/automatic_differentiation_tangent_utilities.h
  applications/ConstitutiveLawsApplication/python_scripts/symbolic_generation/iso_damage_tangent_tensor/isotropic_damage_automatic_differentiation.py
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_tangent_tensor_numerical_derivation_utility.cpp
Labels: Applications, C++

#10468 [Core] Adding combine model part modeler
  kratos/modeler/combine_model_part_modeler.cpp
  kratos/modeler/combine_model_part_modeler.h
  kratos/python/add_modeler_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/combine_model_part_modeler/combine_model_part_modeler.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/combine_model_part_modeler/material.json
  kratos/tests/test_KratosCore.py
  kratos/tests/test_combine_model_part_modeler.py
Labels: Feature

#10445 [All][KratosCore] Deprecate Dimension()
  kratos/geometries/geometry.h
  kratos/geometries/geometry_data.h
  kratos/geometries/geometry_dimension.h
Labels: Kratos Core, Deprecated

#10488 [Core] KRATOS_WATCH_LINE
  kratos/includes/debug_helpers.h
  kratos/sources/code_location.cpp
Labels: Debug

#10492 [CLApp] Adding the capability to add prestress loads in the Serial Parallel Rule of Mixtures
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.h
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
Labels: Enhancement, Applications

#10496 [Core][MPI] const_cast no longer needed with C++17
  kratos/mpi/includes/mpi_message.h
Labels: Cleanup, Parallel-MPI, FastPR, Legacy

#10502 [Mapping] Dimension() deprecation warnings
  applications/MappingApplication/custom_utilities/mapping_intersection_utilities.cpp
Labels: Warning, Applications, Deprecated, FastPR

#10508 [MappingApplication] Minor name correction in header
  applications/MappingApplication/custom_utilities/mapping_intersection_utilities.h
Labels: Applications, Typo, FastPR

#10311 [Core][GeometricalObject] Add IsActive
  kratos/includes/geometrical_object.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/sources/geometrical_object.cpp
  kratos/tests/cpp_tests/utilities/test_geometrical_object.cpp
Labels: Enhancement, Kratos Core, Proposal

#10500 [Core][IO] WriteModelPart - correcting const
  kratos/includes/define.h
  kratos/includes/io.h
  kratos/python/add_io_to_python.cpp
Labels: Kratos Core, Incomplete, Deprecated, FastPR

#10442 [Core] Making ModelPart final. Also adding some missing tests
  kratos/includes/model_part.h
  kratos/tests/cpp_tests/sources/test_model_part.cpp
  kratos/tests/test_model_part.py
Labels: Enhancement, Kratos Core, C++

#10509 [Core] Adding EraseNonHistoricalVariable to VariableUtils
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/cpp_tests/utilities/test_variable_utils.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Enhancement, Kratos Core, Testing

#10513 [Core] Minor split of C++ test
  kratos/tests/cpp_tests/sources/test_model_part.cpp
Labels: Kratos Core, Testing, FastPR

#10503 [Core] Curves on surface LocalSpaceDimension
  kratos/geometries/brep_curve_on_surface.h
  kratos/geometries/nurbs_curve_on_surface_geometry.h
  kratos/tests/cpp_tests/geometries/test_brep_curve_on_surface.cpp
Labels: Kratos Core

#10499 [Core] missing const in ModelPart
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/cpp_tests/containers/test_model.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
  kratos/tests/test_model.py
Labels: Kratos Core, Incomplete, FastPR
