Repository KratosMultiphysics/Kratos, pull requests merged in 2022-06, with the labels that each got.

#9948 [FluidTransport] Fix compilation errors
  applications/FluidTransportApplication/CMakeLists.txt
  applications/FluidTransportApplication/custom_elements/steady_convection_diffusion_FIC_element.cpp
  applications/FluidTransportApplication/custom_elements/steady_convection_diffusion_FIC_element.hpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_FIC_element.cpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_FIC_element.hpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_FIC_explicit_element.cpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_FIC_explicit_element.hpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_PFEM2_FIC_element.cpp
  applications/FluidTransportApplication/custom_elements/transient_convection_diffusion_PFEM2_FIC_element.hpp
  applications/FluidTransportApplication/custom_strategies/schemes/explicit_forward_euler_scheme.hpp
  applications/FluidTransportApplication/custom_strategies/schemes/generalized_newmark_GN11_scheme.hpp
  applications/FluidTransportApplication/fluid_transport_application.cpp
  applications/FluidTransportApplication/fluid_transport_application.h
  applications/FluidTransportApplication/fluid_transport_application_variables.h
  applications/FluidTransportApplication/tests/element_tests/Cavity_2D_test/Cavity_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/DAC_2D_test/DAC_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/Plume_PFEM2_2D_test/Plume_PFEM2_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/Q_source_2D_test/Q_source_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/Rot_2D_test/Rot_2D_test.json
  applications/FluidTransportApplication/tests/element_tests/SC_2D_test/SC_2D_test.json
  applications/FluidTransportApplication/tests/run_test.py
  applications/FluidTransportApplication/tests/test_FluidTransportApplication.py
Labels: Cleanup, Compilation

#9936 [DropletDynamics] New Application
  applications/DropletDynamicsApplication/CMakeLists.txt
  applications/DropletDynamicsApplication/DropletDynamicsApplication.py
  applications/DropletDynamicsApplication/custom_elements/droplet_dynamics_element.cpp
  applications/DropletDynamicsApplication/custom_elements/droplet_dynamics_element.h
  applications/DropletDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DropletDynamicsApplication/custom_python/add_custom_utilities_to_python.h
  applications/DropletDynamicsApplication/custom_python/droplet_dynamics_python_application.cpp
  applications/DropletDynamicsApplication/droplet_dynamics_application.cpp
  applications/DropletDynamicsApplication/droplet_dynamics_application.h
  applications/DropletDynamicsApplication/droplet_dynamics_application_variables.cpp
  applications/DropletDynamicsApplication/droplet_dynamics_application_variables.h
  applications/DropletDynamicsApplication/python_scripts/droplet_dynamics_analysis.py
  applications/DropletDynamicsApplication/python_scripts/droplet_dynamics_solver.py
  applications/DropletDynamicsApplication/symbolic_generation/droplet_dynamics_template.cpp
  applications/DropletDynamicsApplication/symbolic_generation/generate_droplet_dynamics.py
  applications/DropletDynamicsApplication/tests/generalTests.py
  applications/DropletDynamicsApplication/tests/test_DropletDynamicsApplication.py
Labels: Applications

#9951 [Shallow] Minor changes in post-processing tools
  applications/ShallowWaterApplication/README.md
  applications/ShallowWaterApplication/custom_modelers/mesh_moving_modeler.cpp
  applications/ShallowWaterApplication/custom_utilities/move_shallow_mesh_utility.cpp
  applications/ShallowWaterApplication/python_scripts/lagrangian_shallow_water_solver.py
  applications/ShallowWaterApplication/python_scripts/postprocess/convergence_output_process.py
  applications/ShallowWaterApplication/python_scripts/postprocess/line_envelope_output_process.py
  applications/ShallowWaterApplication/python_scripts/postprocess/line_graph_output_process.py
  applications/ShallowWaterApplication/python_scripts/postprocess/visualization_mesh_process.py
  applications/ShallowWaterApplication/tests/processes_tests/auxiliar_files_for_python_unittest/point_output_process_ref_files/line_graph_output_ref_1.dat
  applications/ShallowWaterApplication/tests/processes_tests/auxiliar_files_for_python_unittest/point_output_process_ref_files/line_graph_output_ref_2.dat
  applications/ShallowWaterApplication/tests/processes_tests/visualization_mesh_process_parameters.json
Labels: Post Process

#9953 for several inlets each number of valid elements must be zeroed indep…
  applications/DEMApplication/custom_utilities/inlet.cpp
Labels: C++, Bugfix

#9960 [Poro] Fixed compilation error in strategy
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_newton_raphson_nonlocal_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_nonlocal_strategy.hpp
  applications/PoromechanicsApplication/custom_strategies/strategies/poromechanics_ramm_arc_length_strategy.hpp
Labels: Compilation

#9964 [FastPR][CLaw]Fix Cauchy stress and det(F) in NeoHookean
  applications/ConstitutiveLawsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/hyper_elastic_isotropic_neo_hookean_3d.h
Labels: Applications, FastPR, Bugfix

#9968 [DropletDynamics] debug
  applications/DropletDynamicsApplication/custom_python/droplet_dynamics_python_application.cpp
  applications/DropletDynamicsApplication/droplet_dynamics_application.cpp
  applications/DropletDynamicsApplication/droplet_dynamics_application.h
  applications/DropletDynamicsApplication/python_scripts/droplet_dynamics_solver.py
Labels: Bugfix

#9970 [Core] Update version badge
  README.md
Labels: Kratos Core, FastPR

#9976 [Core] Missing float in VTK output
  applications/ShapeOptimizationApplication/tests/opt_process_vertex_morphing_test/ref_design_surface_0_5.vtk
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_0.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_1.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_2.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_3.vtk.ref
  applications/StructuralMechanicsApplication/tests/eigen_postprocess_ref_files/Structure_EigenResults_15_4.vtk.ref
  kratos/input_output/vtk_output.h
Labels: Kratos Core, FastPR

#9979 [FreeSurface] Assign BODY_FORCE and DENSITY as nodal values
  applications/FluidDynamicsApplication/python_scripts/apply_outlet_process.py
  applications/FreeSurfaceApplication/custom_python/add_custom_edgebased_levelset_solver_to_python.cpp
  applications/FreeSurfaceApplication/custom_python/add_custom_edgebased_levelset_solver_to_python.h
  applications/FreeSurfaceApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FreeSurfaceApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FreeSurfaceApplication/custom_python/add_custom_utilities_to_python.h
  applications/FreeSurfaceApplication/custom_utilities/edge_data.h
  applications/FreeSurfaceApplication/custom_utilities/edge_data_c2c.h
  applications/FreeSurfaceApplication/custom_utilities/edgebased_levelset.h
  applications/FreeSurfaceApplication/custom_utilities/edgebased_levelset_auxiliary_utils.h
  applications/FreeSurfaceApplication/custom_utilities/edgebased_levelset_substep.h
  applications/FreeSurfaceApplication/free_surface_application.h
  applications/FreeSurfaceApplication/python_scripts/edgebased_levelset_solver.py
  applications/FreeSurfaceApplication/python_scripts/free_surface_analysis.py
  applications/FreeSurfaceApplication/python_scripts/python_solvers_wrapper_free_surface.py
  applications/FreeSurfaceApplication/tests/Reservoir2D/reference_reservoir_2D.csv
  applications/FreeSurfaceApplication/tests/Reservoir3D/reference_reservoir_3D.csv
  applications/FreeSurfaceApplication/tests/generalTests.py
  applications/FreeSurfaceApplication/tests/reservoir_2d/reservoir_2d.mdpa
  applications/FreeSurfaceApplication/tests/reservoir_2d/reservoir_2d_parameters.json
  applications/FreeSurfaceApplication/tests/reservoir_2d/reservoir_2d_results.json
  applications/FreeSurfaceApplication/tests/reservoir_3d/reservoir_3d.mdpa
  applications/FreeSurfaceApplication/tests/reservoir_3d/reservoir_3d_parameters.json
  applications/FreeSurfaceApplication/tests/reservoir_3d/reservoir_3d_results.json
  applications/FreeSurfaceApplication/tests/test_FreeSurfaceApplication.py
Labels: Enhancement, Cleanup, Applications

#9984 [RANS] GCC 12 Bugfix
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_cross_wind_stabilized_element.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element.cpp
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_element.h
  applications/RANSApplication/custom_elements/convection_diffusion_reaction_residual_based_flux_corrected_element.h
  applications/RANSApplication/custom_elements/incompressible_potential_flow_velocity_element.h
  applications/RANSApplication/custom_elements/laplace_element.cpp
Labels: Applications, C++, Bugfix
