Repository KratosMultiphysics/Kratos, pull requests merged in 2023-01, with the labels that each got.

#10257 [Core] Remove unused Distance method from MathUtils
  kratos/utilities/math_utils.h
Labels: Cleanup, Kratos Core

#10606 [CLApp] Solving minor issues regarding printing values in post
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/associative_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_isotropic_plasticity.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plasticity/generic_small_strain_kinematic_plasticity.cpp
Labels: FastPR, Bugfix

#10608 [Core] register combine model part modeler
  kratos/includes/kratos_application.h
  kratos/sources/kratos_application.cpp
Labels: FastPR

#10579 [MappingApplication] Remove `ComputeDistance` when possible
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
  applications/MappingApplication/tests/cpp_tests/test_barycentric_mapper_aux_classes.cpp
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_neighbor_aux_classes.cpp
Labels: Cleanup, Applications, FastPR

#10607 [CMake] Improve Metis find
  cmake_modules/FindMETIS.cmake
Labels: Kratos Core, Applications, Incomplete, FastPR, Inconsistent, CMake

#10614 [Core] Extend Kratos Parameters to support @include_json in array items
  kratos/sources/kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Kratos Core, C++, Feature

#10615 [OptApp] Adds execution policy for analyses
  applications/OptimizationApplication/python_scripts/analyses_controller.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy_wrapper.py
  applications/OptimizationApplication/python_scripts/execution_policies/independent_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/stepping_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/utilities/logger_utilities.py
  applications/OptimizationApplication/tests/mat_opt_test/optimization_parameters.json
  applications/OptimizationApplication/tests/shell-shape-opt-test/optimization_parameters.json
  applications/OptimizationApplication/tests/shell-thickness-opt-test/optimization_parameters.json
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_execution_policies.py
  applications/OptimizationApplication/tests/top_opt_test/optimization_parameters.json
Labels: Applications, Python, Feature

#10618 [FastPR][Core] Missing registry macros for WALL flag
  kratos/python/add_containers_to_python.cpp
  kratos/sources/kratos_application.cpp
Labels: Kratos Core, FastPR

#10611 [Core][ModelPartIO] update deprecated interfaces
  kratos/includes/io.h
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
  kratos/tests/cpp_tests/sources/test_model_part_io.cpp
Labels: Kratos Core, Deprecated, FastPR, IO

#10613 [MetisApplication] Inconsistent libraries linking in CMake
  applications/MetisApplication/CMakeLists.txt
Labels: Applications, External library, Inconsistent, CMake

#10594 [ShapeOpt] Add green filter function
  applications/ShapeOptimizationApplication/custom_utilities/filter_function.cpp
Labels: Applications, C++, FastPR, Feature

#10627 [Docs] Add documentation local hosting guide lines
  docs/pages/Kratos/Documentation_Guide/How_Tos/Testing.md
  docs/scripts/build_site.sh
Labels: Documentation

#10535 [Core][CMake] Some fixes related with Trilinos and MPI finding
  CMakeLists.txt
  applications/TrilinosApplication/CMakeLists.txt
Labels: Enhancement, Cleanup, Kratos Core, CMake

#10596 [MeshingApplication][CMake] Add `mmg/common` when looking for header
  cmake_modules/FindMMG2D.cmake
  cmake_modules/FindMMG3D.cmake
  cmake_modules/FindMMGS.cmake
Labels: Applications, Hotfix, FastPR, CMake

#10219 [External] Update JSON to 3.11
  external_libraries/json/README.md
  external_libraries/json/json.hpp
  external_libraries/json/json_fwd.hpp
Labels: External library

#10631 [Core] using nodiscard in VariableUtils
  kratos/utilities/variable_utils.h
Labels: Enhancement, Warning, C++

#10570 [Core] Adding RemoveOrphanNodesFromSubModelParts
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/cpp_tests/utilities/test_auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: Enhancement, Kratos Core

#10149 [StructuralMechanicsApplication] Added moving load with rotational and translational DOF
  applications/StructuralMechanicsApplication/custom_conditions/moving_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/moving_load_condition.h
  applications/StructuralMechanicsApplication/custom_processes/set_moving_load_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/set_moving_load_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/python_scripts/set_moving_load_process.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_loading_conditions_moving.py
  applications/StructuralMechanicsApplication/tests/test_set_moving_load_process.py
Labels: Enhancement, Applications

#10620 [Fluid] Apply wall law process
  applications/FluidDynamicsApplication/python_scripts/apply_wall_law_process.py
  applications/FluidDynamicsApplication/tests/apply_wall_law_process_test.py
  applications/FluidDynamicsApplication/tests/test_FluidDynamicsApplication.py
Labels: Applications, Feature

#10642 [FastPR][Structural] More generic CalculateB
  applications/StructuralMechanicsApplication/custom_utilities/structural_mechanics_element_utilities.h
Labels: Applications, FastPR, Usability

#10643 [Structural] making IsElementRotated virtual
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
Labels: FastPR

#10476 [CI][Intel] using icx
  .github/workflows/ci.yml
  .github/workflows/intel_configure.sh
Labels: Deprecated, Intel, Continuous Integration

#10646 [Core] Pragma once Process
  kratos/processes/process.h
Labels: Cleanup, Kratos Core, FastPR

#10592 [Core][Geometries] Improve domain size computation in geometries
  kratos/geometries/geometry.h
  kratos/geometries/geometry_data.h
  kratos/geometries/hexahedra_3d_20.h
  kratos/geometries/hexahedra_3d_27.h
  kratos/geometries/hexahedra_3d_8.h
  kratos/geometries/line_2d_3.h
  kratos/geometries/line_3d_3.h
  kratos/geometries/prism_3d_15.h
  kratos/geometries/prism_3d_6.h
  kratos/geometries/pyramid_3d_13.h
  kratos/geometries/pyramid_3d_5.h
  kratos/geometries/quadrature_point_geometry.h
  kratos/geometries/quadrilateral_2d_4.h
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/geometries/tetrahedra_3d_10.h
  kratos/geometries/triangle_2d_6.h
  kratos/geometries/triangle_3d_6.h
  kratos/utilities/integration_utilities.h
Labels: Cleanup, Kratos Core, Performance, Refactor

#10052 [Core] Templatized IntervalUtility Parameters Setters/Getters
  kratos/includes/kratos_parameters.h
  kratos/sources/kratos_parameters.cpp
Labels: Enhancement, Kratos Core, C++

#10597 [GeomechanicsApplication] Correct geomechanics tests
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/geo_cable_element.cpp
  applications/GeoMechanicsApplication/custom_elements/geo_linear_truss_element.cpp
  applications/GeoMechanicsApplication/custom_elements/geo_linear_truss_element_base.cpp
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_cable_between_soils.gid/test_cable_between_soils.mdpa
  applications/GeoMechanicsApplication/tests/test_interface.py
  applications/GeoMechanicsApplication/tests/test_reset_displacement.py
  applications/GeoMechanicsApplication/tests/test_soil_structure_interactions.py
Labels: GeoMechanics

#10609 [CMake] More consistent FindTrilinos
  cmake_modules/FindTRILINOS.cmake
Labels: Kratos Core, External library, FastPR, Inconsistent, CMake

#10653 [HDF5] Add missing params instead of validation
  applications/HDF5Application/custom_io/hdf5_container_component_io.cpp
  applications/HDF5Application/custom_io/hdf5_file.cpp
  applications/HDF5Application/custom_io/hdf5_nodal_solution_step_data_io.cpp
  applications/HDF5Application/custom_io/hdf5_vertex_container_io.cpp
Labels: Applications, C++

#10612 [MappingApplication] Fixing corner case from Nearest Neighbour
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.cpp
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.h
  applications/MappingApplication/tests/basic_mapper_tests.py
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_neighbor_aux_classes.cpp
  applications/MappingApplication/tests/mapper_test_case.py
  applications/MappingApplication/tests/result_files/nearest_neighbor/CornerCaseNearestNeighbor_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborDestination2D_inverse_map_scalar.json
  applications/MappingApplication/tests/result_files/projection_3D_2D/Projection3D2DMapperNearestNeighborDestination2D_inverse_map_vector.json
  applications/MappingApplication/tests/test_nearest_neighbor_mapper.py
  applications/MappingApplication/tests/test_projection_3d_2d_mapper.py
Labels: Bug, Enhancement, Applications, Bugfix, Behaviour Change

#10657 [Meshing] Convert linear tets to quadratic - use root model part
  applications/MeshingApplication/custom_utilities/linear_to_quadratic_tetrahedra_mesh_converter_utility.cpp
Labels: Bugfix

#10141 [Core] Added high-order elements to Kratos core
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/test_patch_test_large_strain.py
  kratos/geometries/geometry.h
  kratos/geometries/geometry_data.h
  kratos/geometries/line_2d_4.h
  kratos/geometries/line_2d_5.h
  kratos/geometries/triangle_2d_10.h
  kratos/geometries/triangle_2d_15.h
  kratos/tests/cpp_tests/geometries/test_geometry.cpp
  kratos/tests/cpp_tests/geometries/test_line_2d_4.cpp
  kratos/tests/cpp_tests/geometries/test_line_2d_5.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_2d_10.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_2d_15.cpp
  kratos/utilities/geometry_tester.cpp
Labels: Kratos Core

#10656 [Core][VariableUtils] improve some fcts
  kratos/python/add_variable_utils_to_python.cpp
  kratos/tests/cpp_tests/utilities/test_variable_utils.cpp
  kratos/utilities/variable_utils.cpp
  kratos/utilities/variable_utils.h
Labels: Kratos Core, FastPR

#10666 [Core] Consistent `AddNode` and `AddElement` with `AddCondition`
  kratos/python/add_model_part_to_python.cpp
Labels: Kratos Core, Python, FastPR, Inconsistent

#10665 [Core] Adding GenerateEdges and GenerateFaces to Pyramid3D5N
  kratos/geometries/pyramid_3d_13.h
  kratos/geometries/pyramid_3d_5.h
Labels: Enhancement, Kratos Core

#10668 [Core] Fix generate edges in geometries
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.cpp
  kratos/geometries/hexahedra_3d_20.h
  kratos/geometries/hexahedra_3d_27.h
  kratos/geometries/prism_3d_15.h
  kratos/geometries/quadrilateral_2d_8.h
  kratos/geometries/quadrilateral_2d_9.h
  kratos/geometries/quadrilateral_3d_8.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/geometries/tetrahedra_3d_10.h
  kratos/geometries/triangle_2d_10.h
  kratos/geometries/triangle_2d_15.h
  kratos/geometries/triangle_2d_6.h
  kratos/geometries/triangle_3d_6.h
Labels: Bugfix

#10662 [Core] Adding average edge length to tet10
  kratos/geometries/tetrahedra_3d_10.h
  kratos/tests/cpp_tests/geometries/test_tetrahedra_3d_10.cpp
Labels: Bugfix

#10673 [TrilinosApplication] Some clean up
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.h
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_accelerators_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_accelerators_to_python.h
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_criterias_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_criterias_to_python.h
  applications/TrilinosApplication/custom_python/add_trilinos_linear_solvers_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_linear_solvers_to_python.h
  applications/TrilinosApplication/custom_python/add_trilinos_processes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_processes_to_python.h
  applications/TrilinosApplication/custom_python/add_trilinos_schemes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_schemes_to_python.h
  applications/TrilinosApplication/custom_python/add_trilinos_space_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_space_to_python.h
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.h
  applications/TrilinosApplication/custom_python/trilinos_pointer_wrapper.h
  applications/TrilinosApplication/custom_python/trilinos_python_application.cpp
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
Labels: Cleanup, Applications, FastPR

#10463 [Core] Adding intersection line-tetrahedra
  kratos/tests/cpp_tests/utilities/test_intersection_utilities.cpp
  kratos/utilities/intersection_utilities.h
Labels: Enhancement, Kratos Core

#10392 [Core][ParallelUtils] Adding KRATOS_CRITICAL_SECTION
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
  kratos/utilities/reduction_utilities.h
Labels: Kratos Core, Parallel-SMP, Feature

#10669 [Core] New tests for pyramids
  kratos/tests/cpp_tests/geometries/test_pyramid_3d_13.cpp
  kratos/tests/cpp_tests/geometries/test_pyramid_3d_5.cpp
Labels: Kratos Core, Testing, FastPR

#10679 [Meshing] Convert linear tets to quad -Using root model part to do replacement in conditions
  applications/MeshingApplication/custom_utilities/linear_to_quadratic_tetrahedra_mesh_converter_utility.cpp
Labels: Bugfix

#10683 [GeoMechanics] Eliminated two redundant checks and local variables
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_strategy.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_ramm_arc_length_strategy.hpp
Labels: GeoMechanics

#10688 [GeoMechanicsApplication] Fixed several cases where some piece of code was unreachable
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
Labels: GeoMechanics

#10690 [MappingApplication] Reduce code using built in DataCommunicator implementation
  applications/MappingApplication/custom_mappers/projection_3D_2D_mapper.h
Labels: Cleanup, Applications, Parallel-MPI, FastPR

#10687 [Core] Adding CheckSameModelPartUsingSkinDistanceProcess
  kratos/processes/check_same_modelpart_using_skin_distance_process.cpp
  kratos/processes/check_same_modelpart_using_skin_distance_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/coarse_sphere_skin.mdpa
  kratos/tests/test_KratosCore.py
  kratos/tests/test_check_same_modelpart_using_skin_distance.py
Labels: Enhancement, Kratos Core, Testing

#10694 [Core] Minor refactor with structured binding
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/check_same_modelpart_using_skin_distance_process.cpp
  kratos/utilities/variable_redistribution_utility.cpp
Labels: Kratos Core, C++, FastPR

#10689 [TrinilinosApplication] Cleaning up Trilinos includes
  applications/TrilinosApplication/custom_factories/trilinos_linear_solver_factory.h
  applications/TrilinosApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_accelerators_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_convergence_criterias_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_linear_solvers_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_processes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_schemes_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_space_to_python.cpp
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
  applications/TrilinosApplication/custom_python/trilinos_pointer_wrapper.h
  applications/TrilinosApplication/external_includes/amgcl_mpi_solver_impl.cpp
  applications/TrilinosApplication/trilinos_space.h
Labels: Cleanup, Applications, Parallel-MPI, FastPR

#10695 [Core] Add Snake to Camel Converter
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/cpp_tests/utilities/test_string_utilities.cpp
  kratos/utilities/string_utilities.cpp
  kratos/utilities/string_utilities.h
Labels: C++

#10702 [Dam] Use absolute water level, not relative to ground level
  applications/DamApplication/custom_processes/dam_added_mass_condition_process.hpp
  applications/DamApplication/custom_processes/dam_bofang_condition_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_hydro_condition_load_process.hpp
  applications/DamApplication/custom_processes/dam_nodal_reference_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_reservoir_constant_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_reservoir_monitoring_temperature_process.hpp
  applications/DamApplication/custom_processes/dam_uplift_circular_condition_load_process.hpp
  applications/DamApplication/custom_processes/dam_uplift_condition_load_process.hpp
  applications/DamApplication/custom_processes/dam_westergaard_condition_load_process.hpp
  applications/DamApplication/python_scripts/impose_nodal_reference_temperature_process.py
Labels: Enhancement, Applications, Bugfix

#10691 [TrilinosApplication] Extend TrilinosSpace in order to add some methods missing from UblasSpace
  applications/TrilinosApplication/CMakeLists.txt
  applications/TrilinosApplication/tests/cpp_tests/test_trilinos_space.cpp
  applications/TrilinosApplication/tests/run_cpp_mpi_unit_tests.py
  applications/TrilinosApplication/tests/test_TrilinosApplication_mpi.py
  applications/TrilinosApplication/trilinos_space.h
Labels: Enhancement, Applications, Testing, External library, Parallel-MPI

#10700 [Core] Cammel => Camel Typo
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/cpp_tests/utilities/test_string_utilities.cpp
  kratos/utilities/string_utilities.cpp
  kratos/utilities/string_utilities.h
Labels: Typo, FastPR

#10698 [TrilinosApplication] Adding tests for Builder and Solver
  applications/TrilinosApplication/tests/cpp_tests/test_builder_and_solver.cpp
Labels: Applications, Testing, External library, Parallel-MPI
