Repository KratosMultiphysics/Kratos, pull requests merged in 2023-07, with the labels that each got.

#11343 [ContactStructuralMechanicsApplication] Fix compilation issue related with matrices sizes
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
Labels: Applications, Compilation, FastPR, Bugfix

#11333 [OptApp] Adding generic atomic for utils
  applications/OptimizationApplication/custom_utilities/container_expression_utils.cpp
Labels: Applications, C++, Performance

#11320 [GeoMechanics] Adding dummy class "GeomechanicsAnalysis"
  applications/GeoMechanicsApplication/python_scripts/geo_mechanics_analysis.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_analysis.py
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
Labels: ROM, GeoMechanics

#11348 [ContactStructuralMechanicsApplication] Remove legacy AD for DALM
  applications/ContactStructuralMechanicsApplication/symbolic_generation/DALM_frictionless_mortar_condition/DALM_frictionless_mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/symbolic_generation/DALM_frictionless_mortar_condition/DALM_frictionless_mortar_contact_condition_template.cpp
  applications/ContactStructuralMechanicsApplication/symbolic_generation/DALM_frictionless_mortar_condition/generate_dlm_frictionless_mortar_condition.py
Labels: Cleanup, Applications, FastPR, Legacy, Leftover

#11353 [ContactStructuralMechanicsApplication] Definition of serializer for `MeshTyingCondition`
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/paired_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/paired_condition.h
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
Labels: Applications, Incomplete, FastPR

#11335 [FastPR][Core] Add GetAnalysisStageFinalData to AnalysisStage
  kratos/python_scripts/analysis_stage.py
Labels: Kratos Core, Usability, Multistage

#11357 [ContactStructuralMechanicsApplication] Remove AD from `MeshTyingCondition`
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.h
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/README.md
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/generate_mesh_tying_mortar_condition.py
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
Labels: Cleanup, Applications, FastPR, Transition

#11354 [Core] Clean up `mortar_classes`
  kratos/includes/mortar_classes.h
Labels: Cleanup, Kratos Core, FastPR

#11350 [GeoMechanicsApplication] Fixed several problems found by clang-tidy in DGeoFlow
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.h
  applications/GeoMechanicsApplication/external_bindings/kratos_external_bindings.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/flow_stubs.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/flow_stubs.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_GeoMechanicsNewtonRaphsonErosionProcessStrategy.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_head_extrapolation_flow_workflow.cpp
Labels: GeoMechanics

#11356 [FastPR][Core] ModelPartIO geometries submodelparts fix
  kratos/includes/model_part_io.h
  kratos/sources/model_part_io.cpp
Labels: Hotfix, FastPR, IO

#11297 [OptApp] Adding explicit vertex morphing
  applications/OptimizationApplication/custom_python/add_custom_filters_to_python.cpp
  applications/OptimizationApplication/custom_python/add_custom_filters_to_python.h
  applications/OptimizationApplication/custom_python/optimization_python_application.cpp
  applications/OptimizationApplication/custom_utilities/filtering/entity_point.cpp
  applications/OptimizationApplication/custom_utilities/filtering/entity_point.h
  applications/OptimizationApplication/custom_utilities/filtering/explicit_vertex_morphing_filter.cpp
  applications/OptimizationApplication/custom_utilities/filtering/explicit_vertex_morphing_filter.h
  applications/OptimizationApplication/custom_utilities/filtering/filter_function.cpp
  applications/OptimizationApplication/custom_utilities/filtering/filter_function.h
  applications/OptimizationApplication/tests/filtering/explicit_filters_tests.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, C++, Feature

#11362 [Core] Refactor nurbs volume quadrature point interface.
  applications/IgaApplication/custom_processes/assign_integration_points_to_background_elements_process.cpp
  applications/IgaApplication/custom_processes/map_nurbs_volume_results_to_embedded_geometry_process.cpp
  kratos/geometries/nurbs_volume_geometry.h
  kratos/tests/cpp_tests/geometries/test_nurbs_volume.cpp
Labels: Kratos Core, C++

#11368 [ContactStructuralMechanicsApplications] Adding scale factor to meshtying in order to improve conditioning
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.h
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_fast_init_process.h
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/alm_variables_calculation_process.h
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
Labels: Enhancement, Applications

#11364 [Core] Refactor and clean up `SimpleMortarMapper`
  kratos/processes/simple_mortar_mapper_process.cpp
  kratos/processes/simple_mortar_mapper_process.h
  kratos/processes/simple_mortar_mapper_wrapper_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/spatial_containers/specialized_spatial_search.cpp
  kratos/spatial_containers/specialized_spatial_search.h
Labels: Cleanup, Kratos Core, FastPR

#11367 [ContactStructuralMechanicsApplication] Cleaning convergence criterion
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_components_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/alm_frictionless_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/base_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/contact_error_mesh_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_mixed_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_lagrangemultiplier_residual_frictional_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/displacement_residual_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mesh_tying_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mortar_and_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/mpc_contact_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/penalty_frictional_mortar_criteria.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_convergencecriterias/penalty_frictionless_mortar_criteria.h
Labels: Cleanup, Applications, FastPR

#11334 [FastPR][Core] Butcher tableau usability
  kratos/solving_strategies/strategies/butcher_tableau.h
  kratos/solving_strategies/strategies/explicit_solving_strategy_runge_kutta.h
Labels: Kratos Core, FastPR, Usability

#11372 [Core] `pragma once` in function_parser_utility.h file
  kratos/utilities/function_parser_utility.h
Labels: Cleanup, Kratos Core, FastPR

#11373 [ContactStructuralMechanics] Remove `point_item.h` from `ContactStructuralMechanicsApplication`
  applications/ContactStructuralMechanicsApplication/custom_includes/point_item.h
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  kratos/spatial_containers/specialized_spatial_search.h
Labels: Cleanup, Applications, FastPR

#10738 [Core] Consistent diagonal setting for constraints in BlockBuilderAndSolver
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Kratos Core, Inconsistent

#11304 [Core] Clean up `mat_variables`. Refactor variable definitions and remove commented variables
  kratos/includes/mat_variables.h
  kratos/includes/matrix_market_interface.h
  kratos/sources/mat_variables.cpp
Labels: Cleanup, Kratos Core, FastPR

#11378 [FastPR][Core] Sequential orchestrator constructor argument minor
  kratos/python_scripts/orchestrators/sequential_orchestrator.py
Labels: Kratos Core, FastPR, Leftover, Multistage

#11273 [TrilinosApplication] Transition changes before supporting MPC in `TrilinosBlockBuilderAndSolver`
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
Labels: Applications, Parallel-MPI, Transition

#11383 [CoSim] Minor Performance Improvement for MVQN Accelerator
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/mvqn.py
Labels: Python, Performance

#11384 [ContactStructuralMechanicsApplication] Also consider `BUILD_SCALE_FACTOR` when no `SCALE_FACTOR` is defined
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
Labels: Enhancement, Applications, FastPR

#10437 [Core] Removing 32 bit compilation support
  kratos/includes/define.h
  kratos/includes/dof.h
Labels: Cleanup, Kratos Core, Compilation, Legacy

#11387 [Iga] Map gauss results to embedded geometry process.
  applications/IgaApplication/custom_processes/map_nurbs_volume_results_to_embedded_geometry_process.cpp
  applications/IgaApplication/custom_processes/map_nurbs_volume_results_to_embedded_geometry_process.h
  applications/IgaApplication/custom_python/add_custom_processes_to_python.cpp
  applications/IgaApplication/python_scripts/map_nurbs_volume_results_to_embedded_geometry_process.py
  applications/IgaApplication/python_scripts/vtk_embedded_geometry_output_process.py
  applications/IgaApplication/tests/solid_cantilever_circular_cross_section/cylinder_results.json
  applications/IgaApplication/tests/test_map_nurbs_volume_results_to_embedded_geometry_process.py
Labels: Applications

#11388 [Core] Add StlIO to Python.
  kratos/python/add_io_to_python.cpp
Labels: Kratos Core, FastPR

#11386 fix computation of the derivative of the equivalent strain
  applications/PoromechanicsApplication/custom_constitutive/isotropic_damage_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/isotropic_damage_cohesive_3D_law.hpp
Labels: C++, Bugfix

#11007 Geo/11003-ManageMultipleMovingPointLoads
  applications/GeoMechanicsApplication/custom_processes/set_multiple_moving_loads.cpp
  applications/GeoMechanicsApplication/custom_processes/set_multiple_moving_loads.h
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/python_scripts/set_multiple_moving_loads.py
  applications/GeoMechanicsApplication/tests/test_set_multiple_moving_load_process.py
Labels: GeoMechanics

#11331 [Core] Adding `GatherEntitiesFromOtherPartitions` to `GatherModelPartUtility`
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/tests/cpp_tests/utilities/test_gather_modelpart_utility.cpp
  kratos/mpi/utilities/gather_modelpart_utility.cpp
  kratos/mpi/utilities/gather_modelpart_utility.h
Labels: Enhancement, Kratos Core, Parallel-MPI

#10886 [TrilinosApplication] Adding support for MPC in `TrilinosBlockBuilderAndSolver`
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/TrilinosApplication/tests/cpp_tests/test_builder_and_solver.cpp
  applications/TrilinosApplication/tests/cpp_tests/test_trilinos_space.cpp
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Enhancement, Applications, Testing, External library, Parallel-MPI, Feature

#10985 Kratos rom reactions
  applications/RomApplication/custom_strategies/rom_builder_and_solver.h
Labels: ROM

#11391 [Core] Clean up `KratosComponents`
  kratos/includes/kratos_components.h
  kratos/sources/kratos_components.cpp
Labels: Cleanup, Kratos Core, FastPR

#11247 [Core][MPI] Add of `MPISearchUtilities`
  kratos/mpi/tests/cpp_tests/utilities/test_mpi_search_utilities.cpp
  kratos/mpi/utilities/mpi_search_utilities.h
Labels: Enhancement, Kratos Core, Parallel-MPI

#11366 [MPM] Erase particle elements and conditions not found
  applications/ParticleMechanicsApplication/custom_processes/particle_erase_process.h
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
  applications/ParticleMechanicsApplication/tests/test_particle_erase_process.py
Labels: Enhancement, Applications

#11398 [Core] Correct some typos in `Geometry`
  kratos/geometries/geometry.h
Labels: Cleanup, Kratos Core, Typo, FastPR

#11394 [CLApp] Adding total strain definition for by points hardening
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/generic_cl_integrator_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/generic_cl_integrator_plasticity.h
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
  applications/ConstitutiveLawsApplication/tests/CurveByPointsPlasticity/plastic_test.mdpa
  applications/ConstitutiveLawsApplication/tests/CurveByPointsPlasticity/plastic_test_materials.json
  applications/ConstitutiveLawsApplication/tests/CurveByPointsPlasticity/plastic_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/CurveByPointsPlasticity/plastic_test_results.json
  applications/ConstitutiveLawsApplication/tests/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/test_ConstitutiveLawsApplication.py
  applications/ConstitutiveLawsApplication/tests/test_factory.py
Labels: FastPR

#10726 [Core] Improve ReplaceElementsAndConditionsProcess
  kratos/processes/replace_elements_and_condition_process.cpp
  kratos/processes/replace_elements_and_condition_process.h
  kratos/tests/cpp_tests/processes/test_replace_elements_and_condition_process.cpp
  kratos/utilities/entities_utilities.cpp
  kratos/utilities/entities_utilities.h
Labels: Enhancement, Kratos Core

#11397 [ContactStructuralMechanicsApplication] Adding `PARENT_ELEMENT`
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.cpp
  applications/ContactStructuralMechanicsApplication/contact_structural_mechanics_application_variables.h
  applications/ContactStructuralMechanicsApplication/custom_processes/assign_parent_element_conditions_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/assign_parent_element_conditions_process.h
  applications/ContactStructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ContactStructuralMechanicsApplication/python_scripts/mesh_tying_process.py
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/processes/test_assign_parent_element_conditions_process.cpp
Labels: Applications, FastPR, Transition

#11400 [ContactStructuralMechanicsApplication] Minor change improving performance of search
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.cpp
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
Labels: Enhancement, Applications, Performance, FastPR

#11399 [ContactStruturalMechanicsApplication] Renaming tests files for better ordering
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/linear_solvers/test_mixedulm_linear_solver.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/processes/test_aalm_processes.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/processes/test_alm_variables_calculation_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/processes/test_search_process.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/processes/test_weighted_gap.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/utilities/test_active_set_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/utilities/test_contact_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/utilities/test_derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/utilities/test_integration_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/utilities/test_interface_preprocess_utilities.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/utilities/test_selfcontact_utilities.cpp
Labels: Cleanup, Applications, FastPR, Refactor

#11402 [Core][ContactStructuralMechanicsApplication] Variable definition conflict in C++ tests
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/processes/test_weighted_gap.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/utilities/test_selfcontact_utilities.cpp
  kratos/tests/cpp_tests/utilities/test_polynomial_utilities.cpp
Labels: Cleanup, Kratos Core, FastPR

#11406 [Core] Fix size in conductivity matrix in Laplacian test element
  kratos/tests/cpp_tests/auxiliar_files_for_cpp_unnitest/test_laplacian_element.cpp
Labels: Kratos Core, Testing, Hotfix, FastPR

#11404 [ContactSructuralMechanicsApplication] Adding C++ mesh tying tests
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/conditions/test_mesh_tying_condition.cpp
Labels: Applications, C++, Testing, FastPR

#11403 [GeoMechanicsApplication] Some minor improvements for the `dgeoflow` custom workflow
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
Labels: Cleanup, GeoMechanics

#11415 [Core] Wrong suite name in C++ tests
  kratos/tests/cpp_tests/spatial_containers/test_geometrical_objects_bins.cpp
Labels: Kratos Core, Typo, FastPR

#11413 [Poro] Corrected pressure drop calculation for interface elements
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/tests/NightTests.py
Labels: Bugfix

#11200 [Core] Apply suggestions from #11041
  kratos/sources/kratos_parameters.cpp
  kratos/tests/cpp_tests/sources/test_kratos_parameters.cpp
Labels: Kratos Core, FastPR

#11409 [Core] Improve combine model part modeler
  kratos/modeler/combine_model_part_modeler.cpp
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/tests/test_combine_model_part_modeler.py
Labels: Enhancement, Kratos Core, Parallel-MPI

#11420 [Meshing] do not renumber nodes when remeshing
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.cpp
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_prism_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh_only_on_boundaries.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh_parallel_to_boundaries.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh_conditions.hpp
Labels: C++

#11412 [OptApp] Allowing sub-model-parts to work with ModelPartUtils
  applications/OptimizationApplication/python_scripts/controls/material/material_properties_control.py
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_scalar_solver.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_solver_base.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_vector_solver.py
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/mass_response_function.py
  applications/OptimizationApplication/python_scripts/utilities/model_part_utilities.py
  applications/OptimizationApplication/tests/test_model_part_utils.py
Labels: Applications, Python, Feature

#11442 [FastPR][Fluid] Support outlet tables
  applications/FluidDynamicsApplication/python_scripts/apply_outlet_process.py
  applications/FluidDynamicsApplication/tests/apply_outlet_process_test.py
Labels: Applications, FastPR, Feature, Usability, IO

#11443 [Poro] Add Mohr-Coulomb with tension cut-off cohesive law
  applications/PoromechanicsApplication/CMakeLists.txt
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mod_mohr_coulomb_cohesive_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mod_mohr_coulomb_cohesive_2D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mod_mohr_coulomb_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mod_mohr_coulomb_cohesive_3D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mohr_coulomb_cohesive_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mohr_coulomb_cohesive_2D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mohr_coulomb_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/elastoplastic_mohr_coulomb_cohesive_3D_law.hpp
  applications/PoromechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.h
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/tests/SmallTests.py
  applications/PoromechanicsApplication/tests/constitutive_law_tests/interface_MC_tension_cutoff/PoroMaterials.json
  applications/PoromechanicsApplication/tests/constitutive_law_tests/interface_MC_tension_cutoff/ProjectParameters.json
  applications/PoromechanicsApplication/tests/constitutive_law_tests/interface_MC_tension_cutoff/Test_MixedMode3D.mdpa
  applications/PoromechanicsApplication/tests/constitutive_law_tests/interface_MC_tension_cutoff/Test_MixedMode3D_results.json
Labels: C++, Feature
