Repository KratosMultiphysics/Kratos, pull requests merged in 2023-08, with the labels that each got.

#11444 [Dam] Remove elastic joints
  applications/DamApplication/CMakeLists.txt
  applications/DamApplication/custom_constitutive/dam_joint_2D_law.cpp
  applications/DamApplication/custom_constitutive/dam_joint_2D_law.hpp
  applications/DamApplication/custom_constitutive/dam_joint_3D_law.cpp
  applications/DamApplication/custom_constitutive/dam_joint_3D_law.hpp
  applications/DamApplication/custom_elements/small_displacement_thermo_mechanic_element.cpp
  applications/DamApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/DamApplication/custom_python/dam_python_application.cpp
  applications/DamApplication/custom_utilities/mapping_variables_2D_utilities.hpp
  applications/DamApplication/custom_utilities/mapping_variables_3D_utilities.hpp
  applications/DamApplication/dam_application.cpp
  applications/DamApplication/dam_application.h
  applications/DamApplication/dam_application_variables.cpp
  applications/DamApplication/dam_application_variables.h
  applications/DamApplication/python_scripts/dam_analysis.py
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/save_variables_utility.py
Labels: Cleanup

#11407 Addition of AssignAverageMasterSlaveConstraintsProcess and Associated Unit Test
  kratos/python_scripts/assign_average_master_slave_constraints_process.py
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_assign_average_master_slave_constraints_process.mdpa
  kratos/tests/test_processes.py
Labels: Enhancement, Kratos Core

#11447 [FastPR][Core] Minors in entities utilities
  kratos/utilities/entities_utilities.cpp
  kratos/utilities/entities_utilities.h
Labels: Kratos Core, FastPR, Usability, Minor

#11433 [Core] Extend DataCommunicator to all the types including dynamic types
  kratos/includes/data_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/includes/mpi_message.h
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_data_communicator.cpp
  kratos/python/add_data_communicator_to_python.cpp
Labels: Kratos Core, C++, Parallel-MPI, Feature

#11441 [Meshing] Replace linear with quad elems only in flagged elems
  applications/MeshingApplication/custom_utilities/linear_to_quadratic_tetrahedra_mesh_converter_utility.cpp
  applications/MeshingApplication/tests/cpp_tests/test_linear_to_quadratic_tetrahedra_mesh_converter.cpp
Labels: C++, API Breaker

#11450 [OptApp] Adding geometric centroid deviation response function
  applications/OptimizationApplication/python_scripts/responses/geometric_centroid_deviation_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_geometric_centroid_deviation_response_function.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, Feature

#11217 [CORE] Adding the TableAccessor
  kratos/includes/accessor.h
  kratos/includes/table_accessor.h
  kratos/sources/table_accessor.cpp
  kratos/tests/cpp_tests/includes/test_property_accessor.cpp
  kratos/utilities/read_and_set_accessors_utilities.cpp
  kratos/utilities/read_and_set_accessors_utilities.h
  kratos/utilities/read_materials_utility.cpp
  kratos/utilities/read_materials_utility.h
Labels: Kratos Core

#11422 Gradual Variable Interpolation Process Implementation
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_utilities/gradual_variable_interpolation_utility.cpp
  applications/MeshingApplication/custom_utilities/gradual_variable_interpolation_utility.h
  applications/MeshingApplication/python_scripts/gradual_variable_interpolation_process.py
  applications/MeshingApplication/tests/gradual_variable_interpolation_test_files/ExpectedOutput.npy
  applications/MeshingApplication/tests/gradual_variable_interpolation_test_files/destination_model_part.mdpa
  applications/MeshingApplication/tests/gradual_variable_interpolation_test_files/origin_model_part.mdpa
  applications/MeshingApplication/tests/test_MeshingApplication.py
  applications/MeshingApplication/tests/test_gradual_variable_interpolation_process.py
Labels: Enhancement

#11458 [Core] Fix pycaster casting data to wrong types in data_communicator
  kratos/mpi/tests/test_mpi_data_communicator_python.py
  kratos/python/add_data_communicator_to_python.cpp
Labels: Kratos Core, C++, Hotfix

#11456 [MPI] Fix compilation warning due to unused variable
  kratos/mpi/sources/mpi_data_communicator.cpp
Labels: Warning, Hotfix, Parallel-MPI

#11459 [Core] Vtu output order
  applications/OptimizationApplication/tests/process_tests/test_1_orig.vtu
  applications/OptimizationApplication/tests/process_tests/test_2_orig.vtu
  kratos/input_output/vtu_output.cpp
  kratos/input_output/vtu_output.h
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/ascii2D/Main.vtu
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/ascii3D/Main.vtu
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binary2D/Main.vtu
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binary3D/Main.vtu
Labels: Kratos Core, C++

#11461 [StructuralMechanicsApplication] added rot DOFS to 3D base load condition
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.cpp
Labels: Applications, C++, Inconsistent

#11454 [OptApp] Making OptApp to compile in windows
  .github/workflows/configure.cmd
  applications/OptimizationApplication/custom_algorithms/algorithm_gradient_projection.h
  applications/OptimizationApplication/custom_conditions/helmholtz_surf_shape_condition.cpp
  applications/OptimizationApplication/custom_constitutive/helmholtz_jacobian_stiffened_3d.h
  applications/OptimizationApplication/custom_controls/control.h
  applications/OptimizationApplication/custom_controls/material_controls/helmholtz_material.h
  applications/OptimizationApplication/custom_controls/material_controls/helmholtz_partition.h
  applications/OptimizationApplication/custom_controls/material_controls/material_control.h
  applications/OptimizationApplication/custom_controls/shape_controls/shape_control.h
  applications/OptimizationApplication/custom_controls/shape_controls/vertex_morphing/implicit_vertex_morphing.h
  applications/OptimizationApplication/custom_controls/thickness_controls/helmholtz_thickness.h
  applications/OptimizationApplication/custom_controls/thickness_controls/thickness_control.h
  applications/OptimizationApplication/custom_elements/adjoint_small_displacement_element.h
  applications/OptimizationApplication/custom_elements/helmholtz_bulk_element.h
  applications/OptimizationApplication/custom_elements/helmholtz_bulk_shape_element.cpp
  applications/OptimizationApplication/custom_elements/helmholtz_bulk_shape_element.h
  applications/OptimizationApplication/custom_elements/helmholtz_element.cpp
  applications/OptimizationApplication/custom_elements/helmholtz_surf_shape_element.cpp
  applications/OptimizationApplication/custom_elements/helmholtz_surf_shape_element.h
  applications/OptimizationApplication/custom_elements/helmholtz_surf_thickness_element.cpp
  applications/OptimizationApplication/custom_elements/helmholtz_surf_thickness_element.h
  applications/OptimizationApplication/custom_responses/additive_manufacturing/interface_opt_response.h
  applications/OptimizationApplication/custom_responses/additive_manufacturing/partition_interface_stress_opt_response.h
  applications/OptimizationApplication/custom_responses/additive_manufacturing/partition_mass_opt_response.h
  applications/OptimizationApplication/custom_responses/general/mass_opt_response.h
  applications/OptimizationApplication/custom_responses/response.h
  applications/OptimizationApplication/custom_responses/structural/linear_strain_energy_opt_response.h
  applications/OptimizationApplication/custom_responses/structural/stress_opt_response.h
  applications/OptimizationApplication/custom_utilities/container_expression_utils.cpp
  applications/OptimizationApplication/custom_utilities/control/sigmoidal_projection_utils.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.h
  applications/OptimizationApplication/custom_utilities/geometrical/symmetry_utility.cpp
  applications/OptimizationApplication/custom_utilities/implicit_filter_utils.cpp
  applications/OptimizationApplication/custom_utilities/optimization_utils.cpp
  applications/OptimizationApplication/custom_utilities/properties_variable_expression_io.cpp
  applications/OptimizationApplication/custom_utilities/properties_variable_expression_io.h
  applications/OptimizationApplication/custom_utilities/response/mass_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/max_overhang_response_utils.cpp
  applications/OptimizationApplication/optimization_application_variables.h
  applications/OptimizationApplication/python_scripts/controls/material/material_properties_control.py
  applications/OptimizationApplication/python_scripts/responses/geometric_centroid_deviation_response_function.py
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/mass_response_function.py
  applications/OptimizationApplication/tests/process_tests/test_optimization_problem_ascii_output_process.py
  applications/OptimizationApplication/tests/process_tests/test_optimization_problem_vtu_output_process.py
  applications/OptimizationApplication/tests/test_component_data_view.py
  scripts/wheels/linux/configure.sh
  scripts/wheels/linux/configure_mpi.sh
  scripts/wheels/windows/configure.bat
Labels: Windows, Applications, Python, C++, Continuous Integration

#10564 [HDF5] Derive HDF5 IO Operations from Kratos::Operation
  applications/HDF5Application/python_scripts/core/__init__.py
  applications/HDF5Application/python_scripts/core/controllers.py
  applications/HDF5Application/python_scripts/core/file_io.py
  applications/HDF5Application/python_scripts/core/operations/model_part.py
  applications/HDF5Application/python_scripts/core/operations/system.py
  applications/HDF5Application/python_scripts/core/operations/xdmf.py
  applications/HDF5Application/python_scripts/core/processes.py
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_core_mpi.py
  applications/HDF5Application/tests/test_hdf5_processes.py
  applications/HDF5Application/tests/test_line_output_process.py
Labels: Applications, Python

#11299 [Core] Fix triangle division when one of the nodes has exactly zero distance
  kratos/tests/cpp_tests/modified_shape_functions/test_tetrahedra_3d_4_modified_shape_functions.cpp
  kratos/tests/cpp_tests/modified_shape_functions/test_triangle_2d_3_modified_shape_functions.cpp
  kratos/tests/cpp_tests/utilities/test_divide_tetrahedra_3d_4.cpp
  kratos/tests/cpp_tests/utilities/test_divide_triangle_2d_3.cpp
  kratos/tests/cpp_tests/utilities/test_divide_triangle_3d_3.cpp
  kratos/utilities/divide_geometry.cpp
  kratos/utilities/divide_tetrahedra_3d_4.cpp
  kratos/utilities/divide_tetrahedra_3d_4.h
  kratos/utilities/divide_triangle_2d_3.cpp
  kratos/utilities/divide_triangle_2d_3.h
Labels: Bug, Kratos Core, C++

#11462 [GeoMechanicsApplication] Reduced code smells in custom processes
  applications/GeoMechanicsApplication/custom_processes/apply_boundary_hydrostatic_pressure_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_boundary_phreatic_line_pressure_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_boundary_phreatic_surface_pressure_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_component_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_constant_hydrostatic_pressure_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_constant_interpolate_line_pressure_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_hydrostatic_pressure_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_phreatic_line_pressure_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_time_dependent_interpolate_line_pressure_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_write_result_scalar_process.hpp
  applications/GeoMechanicsApplication/custom_processes/deactivate_conditions_on_inactive_elements_process.hpp
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.cpp
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.hpp
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/python_scripts/apply_scalar_constraint_table_process.py
Labels: Cleanup, GeoMechanics

#11349 [OptApp] Integration of NLOPT libraray
  applications/OptimizationApplication/python_scripts/algorithms/NLOPT_algorithms.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_NLOPT_constraint.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_NLOPT_objective.py
  applications/OptimizationApplication/python_scripts/controls/master_control.py
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/python_scripts/responses/response_routine.py
  applications/OptimizationApplication/tests/NLOPT_tests/MMA_shell_thickness_opt/materials_2D.json
  applications/OptimizationApplication/tests/NLOPT_tests/MMA_shell_thickness_opt/optimization_parameters.json
  applications/OptimizationApplication/tests/NLOPT_tests/MMA_shell_thickness_opt/primal_parameters.json
  applications/OptimizationApplication/tests/NLOPT_tests/MMA_shell_thickness_opt/shell.mdpa
  applications/OptimizationApplication/tests/NLOPT_tests/MMA_shell_thickness_opt/test_NLOP_optimizers.py
  applications/OptimizationApplication/tests/responses_tests/test_standardized_responses.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, External library, Optimization

#11464 [GeoMechanicsApplication] Reduced code smells of custom strategies
  applications/GeoMechanicsApplication/custom_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_mass_and_damping.h
  applications/GeoMechanicsApplication/custom_strategies/schemes/backward_euler_quasistatic_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/backward_euler_quasistatic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_dynamic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_quasistatic_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_quasistatic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_quasistatic_damped_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_erosion_process_strategy.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_strategy.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_ramm_arc_length_strategy.hpp
Labels: Cleanup, GeoMechanics

#11463 [HDF5] Controller and XDMF Bugfixes
  applications/HDF5Application/python_scripts/core/__init__.py
  applications/HDF5Application/python_scripts/core/controllers.py
  applications/HDF5Application/python_scripts/core/xdmf.py
  applications/HDF5Application/python_scripts/create_xdmf_file.py
  applications/HDF5Application/python_scripts/multiple_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_primal_output_process.py
  applications/HDF5Application/python_scripts/single_mesh_temporal_output_process.py
  applications/HDF5Application/python_scripts/xdmf_utils.py
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_processes.py
Labels: Python, Bugfix

#11470 [GeoMechanicsApplication] Reduced code smells of custom constitutive laws
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_2D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_beam_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_beam_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_3D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_K0_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_K0_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.h
Labels: Cleanup, GeoMechanics

#11474 [GeoMechanicsApplication] Reduced code smells of custom elements
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.hpp
Labels: Cleanup, GeoMechanics

#11475 [GeoMechanicsApplication] Removed accidentally duplicated lines
  applications/GeoMechanicsApplication/tests/excavation_tests/excavation_test4.gid/ProjectParameters.json
Labels: Bugfix, GeoMechanics

#11469 [Core] Adding DataTypeTraits
  kratos/mpi/includes/mpi_message.h
  kratos/tests/cpp_tests/utilities/test_data_type_traits.cpp
  kratos/utilities/data_type_traits.h
Labels: Kratos Core, C++, Parallel-MPI, Feature

#11478 [CLApp] Including int for printing process
  kratos/python_scripts/print_info_in_file_process.py
Labels: Enhancement

#11479 [GeoMechanicsApplication] Fixed calls to `static` member functions
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
Labels: Bugfix, GeoMechanics

#11483 [GeoMechanicsApplication] Added a skeleton for our settlement workflow
  applications/GeoMechanicsApplication/custom_utilities/input_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/input_utilities.h
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.h
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.h
  applications/GeoMechanicsApplication/external_bindings/kratos_external_bindings.cpp
  applications/GeoMechanicsApplication/external_bindings/kratos_external_bindings.h
Labels: GeoMechanics

#11492 Kratos m30 deliverable eFlows4HPC (New Node-Neighbour Element Retrieval Function)
  applications/RomApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/RomApplication/custom_strategies/global_rom_builder_and_solver.h
  applications/RomApplication/custom_utilities/rom_auxiliary_utilities.cpp
  applications/RomApplication/custom_utilities/rom_auxiliary_utilities.h
  applications/RomApplication/python_scripts/hrom_training_utility.py
Labels: Enhancement, ROM

#11493 [Fem2Dem] Cleaning and updates
  applications/FemToDemApplication/custom_problemtype/FemDemKratos.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/FemDemKratos3D.cnd
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParameters.tcl
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.cpp
  applications/FemToDemApplication/custom_processes/compute_normalized_free_energy_on_nodes_process.h
  applications/FemToDemApplication/custom_processes/compute_sand_production.cpp
  applications/FemToDemApplication/custom_processes/compute_sand_production.h
  applications/FemToDemApplication/custom_processes/damage_to_nodes_process.hpp
  applications/FemToDemApplication/custom_processes/dem_after_remesh_identificator_process.hpp
  applications/FemToDemApplication/custom_processes/generate_dem_process.cpp
  applications/FemToDemApplication/custom_processes/generate_initial_skin_DEM_process.cpp
  applications/FemToDemApplication/custom_processes/generate_initial_skin_DEM_process.h
  applications/FemToDemApplication/custom_processes/initial_dem_skin_process.hpp
  applications/FemToDemApplication/custom_processes/regenerate_pfem_pressure_conditions_process.cpp
  applications/FemToDemApplication/custom_processes/stress_to_nodes_process.hpp
  applications/FemToDemApplication/custom_python/add_custom_processes_to_python.cpp
  applications/FemToDemApplication/python_scripts/MainCoupling2WayFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem_for_PFEM_coupling.py
  applications/FemToDemApplication/python_scripts/MainCouplingPfemFemDemAitken.py
Labels: Enhancement, Applications

#11473 [HDF5] Update - 1 - Refactor HDF5File
  applications/HDF5Application/CMakeLists.txt
  applications/HDF5Application/custom_io/hdf5_file.cpp
  applications/HDF5Application/custom_io/hdf5_file.h
  applications/HDF5Application/custom_io/hdf5_file_parallel.cpp
  applications/HDF5Application/custom_io/hdf5_file_parallel.h
  applications/HDF5Application/custom_io/hdf5_file_serial.cpp
  applications/HDF5Application/custom_io/hdf5_file_serial.h
  applications/HDF5Application/custom_processes/hdf5_xdmf_connectivities_writer_process.cpp
  applications/HDF5Application/custom_processes/hdf5_xdmf_connectivities_writer_process.h
  applications/HDF5Application/custom_python/add_custom_io_to_python.cpp
  applications/HDF5Application/custom_utilities/data_type_utilities.h
  applications/HDF5Application/python_scripts/core/file_io.py
  applications/HDF5Application/tests/test_hdf5_condition_data_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_condition_flag_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_core_mpi.py
  applications/HDF5Application/tests/test_hdf5_element_data_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_element_flag_value_io.cpp
  applications/HDF5Application/tests/test_hdf5_file.cpp
  applications/HDF5Application/tests/test_hdf5_file_serial.cpp
  applications/HDF5Application/tests/test_hdf5_model_part_io.py
  applications/HDF5Application/tests/test_hdf5_model_part_io_mpi.py
  applications/HDF5Application/tests/test_hdf5_nodal_solution_step_data_io.cpp
  applications/HDF5Application/tests/test_hdf5_processes.py
  applications/HDF5Application/tests/test_utils.cpp
  applications/HDF5Application/tests/test_utils.h
  applications/StructuralMechanicsApplication/python_scripts/eigen_solution_input_process.py
  applications/StructuralMechanicsApplication/python_scripts/eigen_solution_output_process.py
Labels: Applications, Python, C++, Refactor

#11499 [GeoMechanicsApplication] Some more cleanup in `custom_constitutive`
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_beam_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_3D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_K0_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.h
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_plane_strain_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_plane_strain_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_plane_strain_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_plane_strain_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.hpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
Labels: Cleanup, GeoMechanics

#11494 [CLApp] Implementing fatigue data container
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/hcf_data_container.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/hcf_data_container.h
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_hcf_data_container.cpp
Labels: Enhancement

#11500 [CLApplication] Missing includes
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/high_cycle_fatigue_law_integrator.h
Labels: Applications, Compilation, FastPR

#11408 [Core] Refactor `set_identity_function.h`
  kratos/containers/set_identity_function.h
Labels: Cleanup, Kratos Core, FastPR

#11312 [Core] Adding hash for `std::pair`
  kratos/includes/key_hash.h
  kratos/tests/cpp_tests/sources/test_key_hash.cpp
Labels: Enhancement, Kratos Core

#11501 [FEM2DEM] minor mistake in ptype
  applications/FemToDemApplication/custom_problemtype/FemDemKratos3D.gid/ProjectParameters.tcl
Labels: Applications, FastPR

#11504 [External] Update `Clipper2` library
  external_libraries/clipper/include/clipper2/clipper.core.h
  external_libraries/clipper/include/clipper2/clipper.engine.h
  external_libraries/clipper/include/clipper2/clipper.h
  external_libraries/clipper/include/clipper2/clipper.minkowski.h
  external_libraries/clipper/include/clipper2/clipper.offset.h
  external_libraries/clipper/include/clipper2/clipper.rectclip.h
  external_libraries/clipper/src/clipper.engine.cpp
  external_libraries/clipper/src/clipper.offset.cpp
  external_libraries/clipper/src/clipper.rectclip.cpp
Labels: External library

#11508 [ContactStructuralMechanicsApplication] Minor optimization in `mesh_tying_mortar_condition.cpp`
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
Labels: Applications, Performance, FastPR

#11514 [Poro] Add new joint constitutive laws to python
  applications/PoromechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
Labels: Bugfix

#11512 [CoSimulationApplication] Adding `AcuSolve` wrapper
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/acusolve_wrapper.py
Labels: Enhancement, Applications, CoSimulation

#11516 [GeoMechanicsApplication] More code smells resolved on custom_constitutive
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_plane_strain_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.hpp
  applications/GeoMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/constitutive_law_utilities.hpp
Labels: Cleanup, Refactor, GeoMechanics

#11525 Minor femdem corrections
  applications/FemToDemApplication/custom_elements/generic_total_lagrangian_femdem_element.h
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem.py
Labels: FastPR

#11524 [CoSimulationApplication] Minor refactor and typo correction in documentation and solver wrapper
  applications/CoSimulationApplication/README.md
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/acusolve_wrapper.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/sdof/sdof_solver_wrapper.py
Labels: Cleanup, Applications, FastPR

#9053 Thermally coupled Constitutive Laws
  applications/ConstitutiveLawsApplication/CMakeLists.txt
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage_plane_stress.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/thermal/small_strains/elastic/thermal_elastic_isotropic_3d.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/thermal/small_strains/elastic/thermal_elastic_isotropic_3d.h
  applications/ConstitutiveLawsApplication/custom_constitutive/thermal/small_strains/elastic/thermal_linear_plane_strain.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/thermal/small_strains/elastic/thermal_linear_plane_strain.h
  applications/ConstitutiveLawsApplication/custom_constitutive/thermal/small_strains/elastic/thermal_linear_plane_stress.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/thermal/small_strains/elastic/thermal_linear_plane_stress.h
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/ConstitutiveLawsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ConstitutiveLawsApplication/custom_python/add_custom_utilities_to_python.h
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.h
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_thermal_constitutive_laws.cpp
  applications/ConvectionDiffusionApplication/python_scripts/coupled_structural_thermal_solver.py
  applications/ConvectionDiffusionApplication/tests/convection_diffusion_test_factory.py
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical/ConvectionDiffusionMaterials.json
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical/StructuralMaterials.json
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical/coupled_problem_test.mdpa
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical/coupled_problem_test_parameters.json
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical/thermo_mechanical_test_results.json
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical_accessor/ConvectionDiffusionMaterials.json
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical_accessor/StructuralMaterials.json
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical_accessor/coupled_accessor_test.mdpa
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical_accessor/coupled_accessor_test_parameters.json
  applications/ConvectionDiffusionApplication/tests/thermo_mechanical_tests/thermo_mechanical_accessor/coupled_accessor_test_results.json
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_strain.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/linear_plane_stress.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/StructuralMechanicsApplication/custom_utilities/constitutive_law_utilities.h
Labels: Enhancement, Applications, Convention

#11530 [ConstitutiveLawsApplication] Fix macros tests after recent merge
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_thermal_constitutive_laws.cpp
Labels: Applications, Hotfix, FastPR
