Repository KratosMultiphysics/Kratos, pull requests merged in 2023-06, with the labels that each got.

#11207 [Core] Adding test for spatial search result
  kratos/spatial_containers/spatial_search_result.h
  kratos/tests/cpp_tests/spatial_containers/test_spatial_search_result.cpp
Labels: Kratos Core, Testing, FastPR

#11211 [GeoMechanicsApplication] Cleaned up class `ApplyExcavationProcess`
  applications/GeoMechanicsApplication/custom_processes/apply_excavation_process.hpp
Labels: GeoMechanics

#11216 [GeoMechanicsApplication] Minor enhancements for Python function `Factory`
  applications/GeoMechanicsApplication/python_scripts/apply_excavation_process.py
  applications/GeoMechanicsApplication/python_scripts/apply_normal_load_table_process.py
  applications/GeoMechanicsApplication/python_scripts/apply_scalar_constraint_table_process.py
  applications/GeoMechanicsApplication/python_scripts/apply_vector_constraint_table_process.py
  applications/GeoMechanicsApplication/python_scripts/apply_write_result_vector_process.py
  applications/GeoMechanicsApplication/python_scripts/check_and_prepare_model_process_geo.py
  applications/GeoMechanicsApplication/python_scripts/gap_closure_interface_activation_process.py
  applications/GeoMechanicsApplication/python_scripts/periodic_interface_activation_process.py
  applications/GeoMechanicsApplication/python_scripts/set_absorbing_boundary_parameters_process.py
  applications/GeoMechanicsApplication/python_scripts/set_parameter_field_process.py
Labels: GeoMechanics

#11206 [Core] Added equality operator overload to `GlobalPointer` class in global_pointer.h
  kratos/includes/global_pointer.h
Labels: Kratos Core, Parallel-MPI, FastPR

#11221 [Core] Activate check after recent merge in `== operator` in `SpatialSearchResult`
  kratos/tests/cpp_tests/spatial_containers/test_spatial_search_result.cpp
Labels: Kratos Core, Testing, FastPR

#11095 [OptApp] Restructuring 21 - Implement implicit/Helmholtz filtering using AnalysisStage
  applications/OptimizationApplication/CMakeLists.txt
  applications/OptimizationApplication/custom_conditions/helmholtz_surface_shape_condition.cpp
  applications/OptimizationApplication/custom_conditions/helmholtz_surface_shape_condition.h
  applications/OptimizationApplication/custom_constitutive/helmholtz_jacobian_stiffened_3d.cpp
  applications/OptimizationApplication/custom_constitutive/helmholtz_jacobian_stiffened_3d.h
  applications/OptimizationApplication/custom_elements/data_containers/helmholtz_solid_data_container.h
  applications/OptimizationApplication/custom_elements/data_containers/helmholtz_solid_shape_data_container.h
  applications/OptimizationApplication/custom_elements/data_containers/helmholtz_surface_data_container.h
  applications/OptimizationApplication/custom_elements/data_containers/helmholtz_variable_data.h
  applications/OptimizationApplication/custom_elements/helmholtz_element.cpp
  applications/OptimizationApplication/custom_elements/helmholtz_element.h
  applications/OptimizationApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/OptimizationApplication/custom_python/add_custom_constitutive_laws_to_python.h
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_python/optimization_python_application.cpp
  applications/OptimizationApplication/custom_utilities/entity_calculation_utils.cpp
  applications/OptimizationApplication/custom_utilities/entity_calculation_utils.h
  applications/OptimizationApplication/custom_utilities/implicit_filter_utils.cpp
  applications/OptimizationApplication/custom_utilities/implicit_filter_utils.h
  applications/OptimizationApplication/optimization_application.cpp
  applications/OptimizationApplication/optimization_application.h
  applications/OptimizationApplication/optimization_application_variables.cpp
  applications/OptimizationApplication/optimization_application_variables.h
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_analysis.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_scalar_solver.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_solver_base.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_vector_solver.py
  applications/OptimizationApplication/python_scripts/filtering/python_solvers_wrapper_implicit_filters.py
  applications/OptimizationApplication/tests/cpp_tests/test_helmholtz_elements.cpp
  applications/OptimizationApplication/tests/filtering/implicit_filters_tests.py
  applications/OptimizationApplication/tests/filtering/solid.mdpa
  applications/OptimizationApplication/tests/run_cpp_unit_tests.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, C++, Optimization

#11223 [Core] Minor refactor type of `number_of_entities` in `GlobalPointerUtilities`
  kratos/utilities/global_pointer_utilities.h
Labels: Cleanup, Kratos Core, FastPR

#11234 [FEMDEM] Minor maintenance PR
  applications/FemToDemApplication/python_scripts/MainCouplingFemDem_for_PFEM_coupling.py
Labels: FastPR

#11046 [Core][MappingApplication] Moving functions from `MappingUtilities` to new `SearchUtilities`
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/mpi_extension/custom_searching/interface_communicator_mpi.cpp
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
  kratos/tests/cpp_tests/utilities/test_search_utilities.cpp
  kratos/utilities/search_utilities.cpp
  kratos/utilities/search_utilities.h
Labels: Cleanup, Kratos Core, Applications, Parallel-MPI, Refactor

#11232 Bug fix detected in issue #11231
  applications/DEMApplication/tests/test_DEMApplication.py
  applications/DEMApplication/tests/test_history_dependent_CLs.py
Labels: Testing, Bugfix

#11150 [OptApp] Restructuring 22: Adding new Steepest Descent
  applications/OptimizationApplication/custom_algorithms/algorithm_steepest_descent.h
  applications/OptimizationApplication/custom_python/add_custom_optimization_algorithm_to_python.cpp
  applications/OptimizationApplication/python_scripts/algorithms/algorithm.py
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_steepest_descent.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_objective.py
  applications/OptimizationApplication/python_scripts/controls/master_control.py
  applications/OptimizationApplication/python_scripts/model_part_controllers/mdpa_model_part_controller.py
  applications/OptimizationApplication/python_scripts/optimization_analysis.py
  applications/OptimizationApplication/python_scripts/optimizations_controller.py
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/response_routine.py
  applications/OptimizationApplication/python_scripts/utilities/logger_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/opt_convergence.py
  applications/OptimizationApplication/python_scripts/utilities/opt_line_search.py
  applications/OptimizationApplication/python_scripts/utilities/optimization_problem.py
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/StructuralMaterials.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/Structure.mdpa
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/primal_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/test_steepest_descent_analysis.py
  applications/OptimizationApplication/tests/algorithm_tests/test_algorithm_steepest_descent.py
  applications/OptimizationApplication/tests/algorithm_tests/test_convergence.py
  applications/OptimizationApplication/tests/algorithm_tests/test_line_search.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, Feature

#9196 [Convdiff] Embedded MLS Constraint Process
  applications/ConvectionDiffusionApplication/CMakeLists.txt
  applications/ConvectionDiffusionApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ConvectionDiffusionApplication/custom_utilities/embedded_mls_constraint_process.cpp
  applications/ConvectionDiffusionApplication/custom_utilities/embedded_mls_constraint_process.h
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_embedded_solver.py
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_embedded_mls_constraint_process.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_embedded_mls_constraint_process/embedded_mls_constraints_test.mdpa
  applications/ConvectionDiffusionApplication/tests/test_ConvectionDiffusionApplication.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_embedded_solver.py
  applications/ConvectionDiffusionApplication/tests/test_convection_diffusion_embedded_solver/ProjectParameters.json
Labels: Applications

#11238 [Core] Assorted updates and fixes to high-order elements
  kratos/geometries/hexahedra_3d_27.h
  kratos/geometries/line_3d_3.h
  kratos/geometries/quadrilateral_3d_9.h
  kratos/input_output/vtk_definition.cpp
  kratos/input_output/vtk_output.cpp
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticHexahedra3D27N/Main_0_2.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticHexahedra3D27N/Main_0_4.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticHexahedra3D27N/Main_0_6.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticHexahedra3D27N/Main_0_2.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticHexahedra3D27N/Main_0_4.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticHexahedra3D27N/Main_0_6.vtk
  kratos/tests/cpp_tests/geometries/test_hexahedra_3d_27.cpp
  kratos/tests/cpp_tests/geometries/test_line_3d_3.cpp
  kratos/tests/cpp_tests/geometries/test_quadrilateral_3d_9.cpp
  kratos/tests/cpp_tests/utilities/test_polynomial_utilities.cpp
  kratos/tests/test_vtk_output_process.py
  kratos/utilities/brent_iteration.h
  kratos/utilities/polynomial_utilities.cpp
  kratos/utilities/polynomial_utilities.h
Labels: Enhancement, Kratos Core, Testing, Bugfix

#11240 [Core] Improved STL file parsing and formatting, fix issues with line ends and trailing spaces
  kratos/input_output/stl_io.cpp
  kratos/sources/model_part.cpp
  kratos/tests/cpp_tests/input_output/test_stl_io.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
Labels: Kratos Core, FastPR

#11249 Revert "[Structural] Remove UseGeometryIntegrationMethod from base solid"
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
Labels: Applications, Revert

#11251 [Core] Fixed typo in error message in `Geometry` class.
  kratos/geometries/geometry.h
Labels: Kratos Core, Typo, FastPR

#11250 [Core][MPI] Adding required files for `AddMPISearchStrategiesToPython`
  kratos/mpi/CMakeLists.txt
  kratos/mpi/python/add_mpi_search_strategies_to_python.cpp
  kratos/mpi/python/add_mpi_search_strategies_to_python.h
  kratos/mpi/python/kratos_mpi_python.cpp
Labels: Kratos Core, Python, Parallel-MPI, Transition

#11255 [CI][ICX] run tests
  .github/workflows/ci.yml
Labels: Intel, Continuous Integration

#11261 [Core[ Add maximimum and minimum edge calculation to hex3d8n geometry
  kratos/geometries/hexahedra_3d_8.h
  kratos/tests/cpp_tests/geometries/test_hexahedra_3d_8.cpp
Labels: Kratos Core, FastPR

#11259 [Poro] Add isotropic damage cohesive constitutive law
  applications/PoromechanicsApplication/CMakeLists.txt
  applications/PoromechanicsApplication/custom_constitutive/isotropic_damage_cohesive_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/isotropic_damage_cohesive_2D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/isotropic_damage_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/isotropic_damage_cohesive_3D_law.hpp
  applications/PoromechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.h
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/tests/SmallTests.py
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_isotropic_damage_linear/PoroMaterials.json
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_isotropic_damage_linear/ProjectParameters.json
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_isotropic_damage_linear/Test_UnixialTension.mdpa
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_isotropic_damage_linear/Test_UnixialTension_results.json
Labels: C++, Feature

#11156 [Core][VTKOutput] make type of entity selectable
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
Labels: Enhancement, Kratos Core, IO

#11254 [Core] move DataLocation to Globals
  applications/CoSimulationApplication/custom_python/add_co_sim_io_to_python.cpp
  applications/CoSimulationApplication/custom_utilities/co_sim_io_conversion_utilities.h
  applications/CoSimulationApplication/python_scripts/analysis_stage_with_co_sim_io.py
  applications/CoSimulationApplication/python_scripts/solver_wrappers/kratos_co_sim_io.py
  applications/CoSimulationApplication/tests/cpp_tests/test_co_sim_io_integration.cpp
  applications/CoSimulationApplication/tests/test_co_sim_io_py_exposure.py
  applications/ShapeOptimizationApplication/custom_utilities/optimization_utilities.cpp
  kratos/includes/global_variables.h
  kratos/python/add_globals_to_python.cpp
  kratos/python/add_globals_to_python.h
  kratos/python/kratos_python.cpp
  kratos/tests/cpp_tests/utilities/test_auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: Kratos Core, FastPR, Usability

#11120 [Core][Node] remove unused forward declaration
  kratos/includes/node.h
Labels: Cleanup, Kratos Core, Leftover

#11268 [Core] Test XML Utilities - fix test in MVSC 2019
  kratos/tests/cpp_tests/utilities/test_xml_utilities.cpp
Labels: Windows, IO

#11270 [Core] TestConditionContainerExpression - skip test with more than 7 cores
  kratos/tests/test_container_expression.py
Labels: Testing, Parallel-MPI

#11267 [TrilinosApplication] Transition changes from #10706
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
Labels: Applications, Parallel-MPI, FastPR, Transition

#10706 [TrilinosApplication] Unify behavior between the serial/MPI BlockBuilderandSolver
  applications/TrilinosApplication/custom_python/add_trilinos_strategies_to_python.cpp
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  applications/TrilinosApplication/tests/cpp_tests/test_builder_and_solver.cpp
Labels: Applications, Testing, External library, Parallel-MPI, Behaviour Change, Inconsistent

#11266 [MPM] Refactor mpm_boundary_rotation_utility.h to reduce code duplication
  applications/ParticleMechanicsApplication/custom_utilities/mpm_boundary_rotation_utility.h
Labels: Refactor

#11271 [Core] Bugfix for ContainerExpression segfaulting in MPI when some ranks are empty.
  kratos/expression/container_expression.cpp
  kratos/expression/expression_io_utils.h
  kratos/expression/variable_expression_io.cpp
  kratos/tests/test_container_expression.py
Labels: Kratos Core, C++, FastPR, Bugfix

#11274 [Core] Fix unity build conflict in test
  kratos/tests/cpp_tests/utilities/test_polynomial_utilities.cpp
Labels: Kratos Core, Testing, FastPR, Conflict Unity compilation

#11276 [Core] Bug fix for ContainerExpression hagging in large number of mpi ranks with lots of empty model parts
  kratos/expression/expression_io_utils.h
Labels: Kratos Core, C++, FastPR, Bugfix

#11269 [OptApp] Remove use cases of SpecializedContainerExpression in OptApp
  applications/OptimizationApplication/custom_python/add_custom_response_utilities_to_python.cpp
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_utilities/collective_expression.cpp
  applications/OptimizationApplication/custom_utilities/collective_expression.h
  applications/OptimizationApplication/custom_utilities/collective_expression_arithmetic_operators.h
  applications/OptimizationApplication/custom_utilities/collective_expression_io.cpp
  applications/OptimizationApplication/custom_utilities/collective_expression_io.h
  applications/OptimizationApplication/custom_utilities/collective_expressions.cpp
  applications/OptimizationApplication/custom_utilities/collective_expressions.h
  applications/OptimizationApplication/custom_utilities/container_expression_utils.cpp
  applications/OptimizationApplication/custom_utilities/container_expression_utils.h
  applications/OptimizationApplication/custom_utilities/properties_variable_expression_io.cpp
  applications/OptimizationApplication/custom_utilities/properties_variable_expression_io.h
  applications/OptimizationApplication/custom_utilities/response/linear_strain_energy_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/linear_strain_energy_response_utils.h
  applications/OptimizationApplication/custom_utilities/response/mass_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/mass_response_utils.h
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_steepest_descent.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_constraint.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_objective.py
  applications/OptimizationApplication/python_scripts/controls/master_control.py
  applications/OptimizationApplication/python_scripts/controls/material/material_properties_control.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_analysis.py
  applications/OptimizationApplication/python_scripts/processes/optimization_problem_vtu_output_process.py
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/mass_response_function.py
  applications/OptimizationApplication/python_scripts/responses/response_function.py
  applications/OptimizationApplication/python_scripts/responses/response_routine.py
  applications/OptimizationApplication/python_scripts/utilities/model_part_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/opt_convergence.py
  applications/OptimizationApplication/python_scripts/utilities/opt_line_search.py
  applications/OptimizationApplication/python_scripts/utilities/union_utilities.py
  applications/OptimizationApplication/tests/algorithm_tests/test_convergence.py
  applications/OptimizationApplication/tests/algorithm_tests/test_line_search.py
  applications/OptimizationApplication/tests/control/material/test_material_properties_control.py
  applications/OptimizationApplication/tests/control/test_master_control.py
  applications/OptimizationApplication/tests/filtering/implicit_filters_tests.py
  applications/OptimizationApplication/tests/process_tests/test_optimization_problem_ascii_output_process.py
  applications/OptimizationApplication/tests/process_tests/test_optimization_problem_vtu_output_process.py
  applications/OptimizationApplication/tests/responses_tests/test_linear_strain_energy_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_mass_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_response_routine.py
  applications/OptimizationApplication/tests/responses_tests/test_standardized_responses.py
  applications/OptimizationApplication/tests/test_collective_expressions.py
  applications/OptimizationApplication/tests/test_component_data_view.py
  applications/OptimizationApplication/tests/test_container_expression.py
  applications/OptimizationApplication/tests/test_container_expression_utils.py
Labels: Applications, Python, C++, Refactor

#11281 [Core] Remove SpecializedContainers
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  kratos/expression/specialized_container_expression.h
  kratos/expression/specialized_container_expression_impl.h
  kratos/input_output/vtu_output.cpp
  kratos/python/add_container_expression_to_python.cpp
  kratos/python/add_container_expression_to_python_utils.h
  kratos/python/numpy_utils.h
Labels: Kratos Core, C++

#11256 [Core] include ext libraries as SYSTEM
  CMakeLists.txt
Labels: Warning, Kratos Core, Compilation, Incomplete, FastPR

#11280 [Core] Change the signature of model part operation utilities
  applications/OptimizationApplication/python_scripts/utilities/model_part_utilities.py
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_model_part_operation_utilities.py
  kratos/utilities/model_part_operation_utilities.cpp
  kratos/utilities/model_part_operation_utilities.h
Labels: Kratos Core, Python, C++

#11287 [Structural] Adding Info() to ElasticIsotropic3D
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.cpp
  applications/StructuralMechanicsApplication/custom_constitutive/elastic_isotropic_3d.h
Labels: Applications, FastPR, Minor

#11284 [OptApp] Modify model part utilities
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.h
  applications/OptimizationApplication/optimization_application.cpp
  applications/OptimizationApplication/optimization_application_variables.cpp
  applications/OptimizationApplication/optimization_application_variables.h
  applications/OptimizationApplication/python_scripts/controls/material/material_properties_control.py
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/mass_response_function.py
  applications/OptimizationApplication/python_scripts/utilities/model_part_utilities.py
  applications/OptimizationApplication/tests/control/material/test_material_properties_control.py
  applications/OptimizationApplication/tests/control/test_master_control.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_model_part_utils.py
Labels: Applications, Python, Feature

#11278 [Core] Nearest point utilities
  kratos/tests/cpp_tests/utilities/test_nearest_point_utilities.cpp
  kratos/utilities/geometry_utilities/nearest_point_utilities.h
Labels: C++

#11272 [Core] Fixing `GeometricalObjectBins`
  kratos/spatial_containers/geometrical_objects_bins.cpp
Labels: Kratos Core, Hotfix, FastPR, Bugfix, Corner case

#11166 [GeoMechanicsApplication] Geo/k0procedure
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_k0_procedure_process.hpp
  applications/GeoMechanicsApplication/custom_processes/set_parameter_field_process.cpp
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/custom_python/geo_mechanics_python_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.h
  applications/GeoMechanicsApplication/python_scripts/apply_k0_procedure_process.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_helper.py
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process.py
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc/MaterialParameters1.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc/mesh_stage1.mdpa
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_layers/MaterialParameters1.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_layers/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_layers/mesh_stage1.mdpa
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_ocr/MaterialParameters1.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_ocr/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_ocr/mesh_stage1.mdpa
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_skew_layers/MaterialParameters1.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_skew_layers/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_skew_layers/mesh_stage1.mdpa
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_skew_layers_dam/MaterialParameters1.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_skew_layers_dam/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_nc_skew_layers_dam/mesh_stage1.mdpa
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_umat/MaterialParameters1.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_umat/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_k0_umat/mesh_stage1.mdpa
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_simple_dike/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_simple_dike/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_simple_dike/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_simple_dike/simple_dike_test_with_gravity_umat_stage1.mdpa
  applications/GeoMechanicsApplication/tests/test_k0_procedure_process/test_k0_procedure_simple_dike/simple_dike_test_with_gravity_umat_stage2.mdpa
  applications/GeoMechanicsApplication/tests/test_reset_displacement.py
  applications/GeoMechanicsApplication/tests/test_settlement.py
Labels: GeoMechanics

#11291 [OptApp] Updating Shell Thickness Control
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_analysis.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_solver_base.py
  applications/OptimizationApplication/tests/shell-thickness-opt-test-new/optimization_parameters.json
Labels: Applications, Python

#11294 [Core] Remove unused methods in ContainerExpression
  kratos/expression/container_expression.cpp
  kratos/expression/container_expression.h
  kratos/python/add_container_expression_to_python.cpp
Labels: Kratos Core, C++, FastPR

#11295 [Core] Reduce code duplication in python register
  kratos/python/add_search_strategies_to_python.cpp
Labels: Duplicate, Cleanup, Kratos Core, FastPR

#11290 [Core] Adding more BB methods to `SearchUtilities`
  kratos/utilities/search_utilities.cpp
  kratos/utilities/search_utilities.h
Labels: Enhancement, Kratos Core

#11296 [Core] Missing test (`test_spatial_search`) to be registered in `test_KratosCore`
  kratos/tests/test_KratosCore.py
Labels: Kratos Core, Python, Testing, FastPR

#11252 [Core] Enhancement of some geometries ( `Hexahedra3D8`, `Quadrilateral3D4`, `Prism3D6`, `Piramid3D5`, `Triangle3D6`, `Tetrahedra3D10` and `Tetrahedra3D4`) with `CalculateDistance`
  kratos/geometries/hexahedra_3d_8.h
  kratos/geometries/prism_3d_6.h
  kratos/geometries/pyramid_3d_5.h
  kratos/geometries/quadrilateral_3d_4.h
  kratos/geometries/tetrahedra_3d_10.h
  kratos/geometries/tetrahedra_3d_4.h
  kratos/geometries/triangle_3d_6.h
  kratos/tests/cpp_tests/geometries/test_hexahedra_3d_8.cpp
  kratos/tests/cpp_tests/geometries/test_prism_3d_6.cpp
  kratos/tests/cpp_tests/geometries/test_pyramid_3d_5.cpp
  kratos/tests/cpp_tests/geometries/test_quadrilateral_3d_4.cpp
  kratos/tests/cpp_tests/geometries/test_tetrahedra_3d_10.cpp
  kratos/tests/cpp_tests/geometries/test_tetrahedra_3d_4.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_3d_3.cpp
  kratos/tests/cpp_tests/geometries/test_triangle_3d_6.cpp
  kratos/utilities/geometry_utilities.cpp
  kratos/utilities/geometry_utilities.h
Labels: Enhancement, Kratos Core, Testing

#11301 [Core] Add Kratos Vector IO to Expressions
  kratos/expression/c_array_expression_io.cpp
  kratos/expression/c_array_expression_io.h
  kratos/python/add_expression_io_to_python.cpp
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Python, C++, Feature

#11244 [Core] Some clean up on `SpatialSearch`
  applications/DEMApplication/custom_utilities/discrete_particle_configure.h
  applications/DEMApplication/custom_utilities/geometrical_object_configure.h
  applications/DEMApplication/custom_utilities/rigid_face_geometrical_object_configure.h
  applications/DemStructuresCouplingApplication/custom_utilities/permeability_tensor_communicator_utility.hpp
  applications/SwimmingDEMApplication/custom_utilities/search/point_configure.h
  kratos/spatial_containers/dem_search.h
  kratos/spatial_containers/spatial_search.cpp
  kratos/spatial_containers/spatial_search.h
  kratos/spatial_containers/specialized_spatial_search.h
Labels: Cleanup, Kratos Core, FastPR

#11309 [Core] Remove sub model parts from model
  kratos/containers/model.cpp
  kratos/tests/cpp_tests/containers/test_model.cpp
Labels: Bug

#11308 [Core] Minor clean up `SkinDetectionProcess`
  kratos/processes/skin_detection_process.cpp
  kratos/processes/skin_detection_process.h
Labels: Cleanup, Kratos Core, FastPR

#11288 Let PrintInfo use Info() in process base class.
  kratos/processes/process.h
Labels: FastPR

#11318 [Core] Clean up `test_serializer`
  kratos/tests/cpp_tests/sources/test_serializer.cpp
Labels: Cleanup, Kratos Core, Testing, FastPR

#11313 [Core] Move C++ MPI tests to its corresponding folder (now everything is is in `sources`)
  kratos/mpi/tests/cpp_tests/containers/test_distributed_exporter.cpp
  kratos/mpi/tests/cpp_tests/containers/test_distributed_sparse_graph.cpp
  kratos/mpi/tests/cpp_tests/utilities/test_debug_utilities.cpp
  kratos/mpi/tests/cpp_tests/utilities/test_distributed_model_part_initializer.cpp
  kratos/mpi/tests/cpp_tests/utilities/test_mpi_assign_unique_model_part_collection_tag_utility.cpp
  kratos/mpi/tests/cpp_tests/utilities/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/cpp_tests/utilities/test_pointer_communicator.cpp
Labels: Kratos Core, Parallel-MPI, FastPR, Inconsistent

#11311 [Core] Small clean up of `ParallelFillCommunicator`. Also adding test
  kratos/includes/fill_communicator.h
  kratos/mpi/tests/cpp_tests/utilities/test_parallel_fill_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.h
  kratos/utilities/fill_communicator.cpp
Labels: Cleanup, Kratos Core, Parallel-MPI, FastPR

#11324 [CLApp] Adding vectorial properties in Traction-Separation CL
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/traction_separation_law.cpp
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
Labels: Applications

#11330 [Build] Minor MacOS Fix
  scripts/mac_build
Labels: Compilation, FastPR

#11293 Adding missing includes
  kratos/utilities/geometry_utilities/nearest_point_utilities.h
Labels: FastPR

#11162 RomApp Launch HROM simulations using HROM mdpa
  applications/RomApplication/python_scripts/rom_manager.py
Labels: ROM

#11178 RomApp Bug Fix HROM Modelpart creation
  applications/RomApplication/python_scripts/hrom_training_utility.py
Labels: FastPR, Bugfix

#11328 [Core] Adding echo level to the `FillCommunicator`
  kratos/includes/fill_communicator.h
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/python/add_other_utilities_to_python.cpp
Labels: Enhancement, Kratos Core

#11303 [Core] Adding initialization bounding box methods for spatial search that will be required in derived classes
  kratos/spatial_containers/spatial_search.cpp
  kratos/spatial_containers/spatial_search.h
Labels: Kratos Core, FastPR, Transition

#11337 [ContactStructuralMechanicsApplication] Missing `constexpr` in ternary operators
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mesh_tying_mortar_condition.h
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.cpp
  applications/ContactStructuralMechanicsApplication/custom_conditions/mortar_contact_condition.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/derivatives_utilities.h
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.h
  applications/ContactStructuralMechanicsApplication/symbolic_generation/mesh_tying_mortar_condition/mesh_tying_mortar_condition_template.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/test_derivatives.cpp
Labels: Applications, FastPR

#11336 [Core] Missing `const` in `GetEchoLevel()` in `FillCommunicator`
  kratos/includes/fill_communicator.h
Labels: Kratos Core, FastPR

#11327 [Core] Nodal position expression IO
  kratos/expression/expression_io_utils.h
  kratos/expression/nodal_position_expression_io.cpp
  kratos/expression/nodal_position_expression_io.h
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/python/add_expression_io_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Python, C++, Parallel-MPI

#11338 [Core][MPI] Minor clean up header `parallel_fill_communicator.h`
  kratos/mpi/utilities/parallel_fill_communicator.h
Labels: Cleanup, Kratos Core, Parallel-MPI, FastPR

#11317 [GeoMechanicsApplication] Migrated `ApplyVectorConstraintsTableProcess` class to C++
  applications/GeoMechanicsApplication/custom_processes/apply_vector_constraints_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_vector_constraints_table_process.hpp
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/python_scripts/apply_vector_constraint_table_process.py
  kratos/processes/apply_constant_scalarvalue_process.cpp
  kratos/processes/apply_constant_scalarvalue_process.h
Labels: GeoMechanics

#11339 [Core][MPI] Clean up `GatherModelPartUtility`
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/utilities/gather_modelpart_utility.cpp
  kratos/mpi/utilities/gather_modelpart_utility.h
Labels: Cleanup, Kratos Core, Parallel-MPI, FastPR

#11340 [Core][MPI] Adding `MPICppTestUtilities`
  kratos/mpi/tests/cpp_tests/utilities/test_parallel_fill_communicator.cpp
  kratos/mpi/utilities/mpi_cpp_test_utilities.cpp
  kratos/mpi/utilities/mpi_cpp_test_utilities.h
Labels: Kratos Core, Parallel-MPI, Transition

#11298 [GeomechanicsApplication] added validation for geomechanics solver settings
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_geomechanics_solver.py
Labels: GeoMechanics

#11332 [Core] Fix Comb Corner Case
  kratos/expression/unary_combine_expression.h
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Bugfix

#11342 [TrilinosApplication] Reduce code duplication on tests
  applications/TrilinosApplication/tests/cpp_tests/test_builder_and_solver.cpp
Labels: Cleanup, Applications, Parallel-MPI, FastPR

#11248 [OptApp] Restructuring 24: New shell thickness control using Helmholtz filter/analysiis
  applications/OptimizationApplication/custom_python/add_custom_control_utilities_to_python.cpp
  applications/OptimizationApplication/custom_python/add_custom_control_utilities_to_python.h
  applications/OptimizationApplication/custom_python/optimization_python_application.cpp
  applications/OptimizationApplication/custom_utilities/control/sigmoidal_projection_utils.cpp
  applications/OptimizationApplication/custom_utilities/control/sigmoidal_projection_utils.h
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_analysis.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_solver_base.py
  applications/OptimizationApplication/tests/control/thickness/Thick_2x2_Shell.mdpa
  applications/OptimizationApplication/tests/control/thickness/materials_2D.json
  applications/OptimizationApplication/tests/control/thickness/test_shell_thickness_control.py
  applications/OptimizationApplication/tests/filtering/implicit_filters_tests.py
  applications/OptimizationApplication/tests/run_cpp_unit_tests.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_sigmoidal_projection.py
Labels: Applications, Python, Feature
