Repository KratosMultiphysics/Kratos, pull requests merged in 2023-03, with the labels that each got.

#10812 [Docs] Add doxygen workflow to nightly
  .github/workflows/ci-dummy.yml
  .github/workflows/ci.yml
  .github/workflows/doxygen.yml
Labels: Documentation

#10813 [Docs] Remove doxygen branch push
  .github/workflows/doxygen.yml
Labels: Documentation

#10667 [MPM] Restart Application V2
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/borja_cam_clay_plastic_flow_rule.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_plastic_flow_rule.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_strain_softening_plastic_flow_rule.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/mc_strain_softening_plastic_flow_rule.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/flow_rules/particle_flow_rule.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/cam_clay_hardening_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/cam_clay_hardening_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/exponential_strain_softening_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/exponential_strain_softening_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hardening_laws/particle_hardening_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_UP_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/hencky_plastic_UP_3D_law.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/hyperelastic_3D_law.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/mc_yield_criterion.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/mc_yield_criterion.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/modified_cam_clay_yield_criterion.cpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/modified_cam_clay_yield_criterion.hpp
  applications/ParticleMechanicsApplication/custom_constitutive/yield_criteria/particle_yield_criterion.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_PQ.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_PQ.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
  applications/ParticleMechanicsApplication/python_scripts/assign_gravity_to_particle_process.py
  applications/ParticleMechanicsApplication/python_scripts/assign_initial_velocity_to_particle_process.py
  applications/ParticleMechanicsApplication/python_scripts/mpm_solver.py
  applications/ParticleMechanicsApplication/python_scripts/particle_gid_output_process.py
  applications/ParticleMechanicsApplication/python_scripts/particle_vtk_output_process.py
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_flow_rule_borja_cam_clay.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_flow_rule_mohr_coulomb.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_flow_rule_mohr_coulomb_strain_softening.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_hardening_laws.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_yield_criteria.cpp
  applications/ParticleMechanicsApplication/tests/restart_tests.py
  applications/ParticleMechanicsApplication/tests/test_ParticleMechanicsApplication.py
Labels: Enhancement

#10780 Remove unused functions in Geo custom_rentention
  applications/GeoMechanicsApplication/custom_retention/retention_law.cpp
  applications/GeoMechanicsApplication/custom_retention/retention_law.h
  applications/GeoMechanicsApplication/custom_retention/retention_law_factory.h
  applications/GeoMechanicsApplication/custom_retention/saturated_below_phreatic_level_law.cpp
  applications/GeoMechanicsApplication/custom_retention/saturated_below_phreatic_level_law.h
  applications/GeoMechanicsApplication/custom_retention/saturated_law.cpp
  applications/GeoMechanicsApplication/custom_retention/saturated_law.h
  applications/GeoMechanicsApplication/custom_retention/van_genuchten_law.h
Labels: GeoMechanics

#10818 [Docs] Add doxygen source documentation
  docs/pages/Kratos/menu_info.json
Labels: Documentation

#10769 [Docs] Add Support for Python Docs with Doxygen
  .github/workflows/ci-dummy.yml
  .github/workflows/ci.yml
  .github/workflows/doxygen.yml
  documents/.gitignore
  documents/doxygen-awesome.css
  documents/kratos_doxyfile
Labels: Documentation, Continuous Integration

#10811 [Core][MPI] Adding GlobalNumberOfMasterSlaveConstraints to communicator
  kratos/includes/communicator.h
  kratos/mpi/tests/test_mpi_communicator.py
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/python/add_communicator_to_python.cpp
  kratos/sources/communicator.cpp
Labels: Enhancement, Kratos Core, Testing, Parallel-MPI, Inconsistent

#10299 [Core] Removed unused class VectorMap
  kratos/containers/vector_map.h
  kratos/containers/vector_map_iterator.h
Labels: Discussion, Cleanup, Kratos Core

#10824 [MeshingApplication] Add refine tets on boundaries
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh_only_on_boundaries.hpp
  applications/MeshingApplication/tests/test_MeshingApplication.py
  applications/MeshingApplication/tests/test_local_refine_only_on_boundaries.py
Labels: Python, C++, FastPR

#10827 [Hotfix][KratosCore] ComputeNodalGradientProces DOMAIN_SIZE check.
  kratos/processes/compute_nodal_gradient_process.cpp
Labels: Kratos Core, Hotfix, FastPR

#10833 [Core] Consistent `IsActive` for `MasterSlaveConstraint`
  kratos/constraints/linear_master_slave_constraint.cpp
  kratos/constraints/linear_master_slave_constraint.h
  kratos/includes/master_slave_constraint.h
  kratos/sources/master_slave_constraint.cpp
Labels: Enhancement, Kratos Core, FastPR

#10792 [GeoMechanicsApplication] Geo/create parameter field
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_processes/set_parameter_field_process.cpp
  applications/GeoMechanicsApplication/custom_processes/set_parameter_field_process.hpp
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/python_scripts/set_parameter_field_process.py
  applications/GeoMechanicsApplication/python_scripts/user_defined_scripts/template_user_defined_parameter_field.py
  applications/GeoMechanicsApplication/python_scripts/user_defined_scripts/user_defined_parameter_field_base.py
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_helper.py
  applications/GeoMechanicsApplication/tests/test_parameter_field.py
  applications/GeoMechanicsApplication/tests/test_parameter_field/invalid_parameter_field_json/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/invalid_parameter_field_json/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/invalid_parameter_field_json/invalid_parameter_field.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/invalid_parameter_field_json/parameter_field.mdpa
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_input/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_input/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_input/parameter_field.mdpa
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_json/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_json/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_json/parameter_field.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_json/parameter_field.mdpa
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_python/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_python/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_python/custom_field.py
  applications/GeoMechanicsApplication/tests/test_parameter_field/parameter_field_python/parameter_field.mdpa
Labels: GeoMechanics

#10836 [Core] Update version in README.md
  README.md
Labels: Kratos Core, Documentation, FastPR

#10839 Bug fix. Snapshots matrix was being over-written inside the RomOutputProcess
  applications/RomApplication/python_scripts/calculate_rom_basis_output_process.py
Labels: FastPR

#10802 [Meshing] Fix error in father nodes in fulldebug
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.cpp
Labels: Debug, Bugfix

#10835 [Core] deprecate __iter__of parameters
  kratos/python_interface/__init__.py
Labels: Kratos Core, Deprecated

#10838 [Core] Minor refactor using `IsActive`
  kratos/includes/gid_gauss_point_container.h
  kratos/includes/gid_mesh_container.h
  kratos/includes/indexed_object.h
  kratos/includes/master_slave_constraint.h
  kratos/processes/integration_values_extrapolation_to_nodes_process.cpp
  kratos/processes/skin_detection_process.cpp
  kratos/solving_strategies/builder_and_solvers/explicit_builder.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_lagrange_multiplier.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver_with_constraints.h
  kratos/utilities/entities_utilities.h
Labels: Duplicate, Cleanup, Kratos Core, FastPR

#10844 [Core] Add MapReducer to core
  kratos/processes/find_global_nodal_entity_neighbours_process.cpp
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/reduction_utilities.h
Labels: Kratos Core, Python, C++, Feature

#10842 [Core] Fix potential bug in B&S with MPC
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Bug, Kratos Core, Bugfix

#10851 [Core] More `IsActive` clean up
  kratos/utilities/constraint_utilities.cpp
Labels: Cleanup, Kratos Core, FastPR

#10840 [CoSim] Minor readme updates
  applications/CoSimulationApplication/README.md
Labels: Applications, Documentation, FastPR, Minor

#10848 [Core] Adding `IsActive` to `Node`
  applications/ContactStructuralMechanicsApplication/custom_conditions/mpc_mortar_contact_condition.cpp
  kratos/includes/node.h
Labels: Enhancement, Kratos Core, Applications

#10797 [TrilinosApplication] Adding check in TrilinosSpace
  applications/TrilinosApplication/tests/cpp_tests/test_trilinos_space.cpp
  applications/TrilinosApplication/trilinos_space.h
Labels: Applications, External library, Parallel-MPI, Bugfix

#10823 [Core][Parameters] Trying to remove the python iterator for `Parameters`
  applications/CoSimulationApplication/python_scripts/factories/helpers.py
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_response.py
  applications/CompressiblePotentialFlowApplication/python_scripts/stochastic_potential_flow_response.py
  applications/DEMApplication/python_scripts/DEM_restart_utility.py
  applications/DEMApplication/python_scripts/DEM_save_restart_process.py
  applications/DEMApplication/python_scripts/materials_assignation_utility.py
  applications/FSIApplication/python_scripts/fsi_coupling_interface.py
  applications/FluidDynamicsApplication/python_scripts/flow_output_process.py
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_two_fluids_solver.py
  applications/HDF5Application/python_scripts/point_set_output_process.py
  applications/MultilevelMonteCarloApplication/tests/caarc_wind_mpi/FluidDynamicsAnalysisMC.py
  applications/ShallowWaterApplication/python_scripts/derivatives_recovery_process.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_gradient_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_relaxed_gradient_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_shape_fraction_optimization.py
  applications/ShapeOptimizationApplication/python_scripts/model_part_controller_factory.py
  applications/StatisticsApplication/python_scripts/spatial_statistics_process.py
  applications/StatisticsApplication/python_scripts/temporal_statistics_process.py
  applications/SwimmingDEMApplication/python_scripts/parameters_tools.py
  applications/SwimmingDEMApplication/tests/tests_python_scripts/interpolation_scripts/interpolation_test_solver.py
  kratos/python_scripts/modeler_factory.py
  kratos/python_scripts/set_initial_state_process.py
  kratos/tests/test_initial_time.py
  kratos/tests/test_kratos_parameters.py
Labels: API Breaker

#10082 [GeoMechanics] Added Triangular element 15 nodes, Line element 5 nodes
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_axisymmetric_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_axisymmetric_element.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/test_elements.py
  applications/GeoMechanicsApplication/tests/test_triangle_10n.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_triangle_10n.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_triangle_10n.gid/test_triangle_10n.mdpa
  applications/GeoMechanicsApplication/tests/test_triangle_15n.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_triangle_15n.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_triangle_15n.gid/test_triangle_15n.mdpa
Labels: Feature, GeoMechanics

#10854 [TrilinosApplication] Adding missing error checks in TrilinosSpace
  applications/TrilinosApplication/trilinos_space.h
Labels: Enhancement, Applications, Debug, External library, Parallel-MPI, FastPR

#10617 [Core] Adding output process with controller
  kratos/python_scripts/output_process_with_controller.py
Labels: IO

#10850 [TrilinosApplication] Adding new assembling methods for T and C vector
  applications/TrilinosApplication/custom_utilities/trilinos_assembling_utilities.h
  applications/TrilinosApplication/tests/cpp_tests/test_builder_and_solver.cpp
  applications/TrilinosApplication/trilinos_space.h
Labels: Applications, External library, Parallel-MPI, Transition

#10830 Fix warnings about initialization of member variables.
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.hpp
  applications/GeoMechanicsApplication/custom_retention/retention_law.h
  applications/GeoMechanicsApplication/custom_strategies/schemes/backward_euler_quasistatic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_quasistatic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_ramm_arc_length_strategy.hpp
Labels: GeoMechanics

#10863 [Core] Expose `EquationIdVector` from `Condition` to python
  kratos/python/add_mesh_to_python.cpp
Labels: Kratos Core, Python, Incomplete, FastPR, Inconsistent

#10869 [Core] exposed calculate rhs to python
  kratos/python/add_mesh_to_python.cpp
Labels: Kratos Core, Python, FastPR

#10872 [Core] Remove duplicated test
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Cleanup, Kratos Core, Testing, FastPR

#10826 [GeoMechanicsApplication] Geo/correct rhs lysmer condition
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.hpp
  applications/GeoMechanicsApplication/tests/test_absorbing_boundary.py
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_stiff_column2d_quad/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_stiff_column2d_quad/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_lysmer_boundary_stiff_column2d_quad/test_lysmer_boundary_stiff_column2d_quad.mdpa
Labels: GeoMechanics

#10852 [OptApp] Enabling sensitivity computation on sub model parts using Adjont/Direct approach.
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.h
  applications/OptimizationApplication/custom_utilities/optimization_utils.cpp
  applications/OptimizationApplication/custom_utilities/optimization_utils.h
  applications/OptimizationApplication/custom_utilities/response/linear_strain_energy_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/linear_strain_energy_response_utils.h
  applications/OptimizationApplication/custom_utilities/response/mass_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/mass_response_utils.h
  applications/OptimizationApplication/custom_utilities/response/response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/response_utils.h
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/independent_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/stepping_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/mass_response_function.py
  applications/OptimizationApplication/python_scripts/responses/response_function.py
  applications/OptimizationApplication/tests/model_part_utils_test/quads.mdpa
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_OptimizationApplication_mpi.py
  applications/OptimizationApplication/tests/test_linear_strain_energy_response_function.py
  applications/OptimizationApplication/tests/test_mass_response_function.py
  applications/OptimizationApplication/tests/test_model_part_utils.py
Labels: Applications, Python, C++, Feature

#10817 Geo/correct geomechanics tests
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_dynamic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/tests/test_1d_wave_prop_drained_soil.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_1d_wave_prop_drained_soil.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_1d_wave_prop_drained_soil.gid/expected_result.json
  applications/GeoMechanicsApplication/tests/test_1d_wave_prop_drained_soil.gid/test_1d_wave_prop_drained_soil.mdpa
  applications/GeoMechanicsApplication/tests/test_dynamics.py
Labels: GeoMechanics

#10871 [Core] Adding missing method `HasMasterSlaveConstraint` to `ModelPart`
  kratos/includes/model_part.h
  kratos/python/add_mesh_to_python.cpp
Labels: Kratos Core, Incomplete, FastPR, Inconsistent

#10878 [TrilinosApplication] More memory management improvement when doing BtDb and BDBt sparse multiplications
  applications/TrilinosApplication/tests/cpp_tests/test_trilinos_space.cpp
  applications/TrilinosApplication/tests/cpp_tests/trilinos_cpp_test_utilities.cpp
  applications/TrilinosApplication/trilinos_space.h
Labels: Enhancement, Applications, External library, Parallel-MPI

#10890 [Docs] Update Annotations in ResidualBasedBossakScheme
  applications/PfemSolidMechanicsApplication/custom_strategies/schemes/residual_based_bossak_scheme.hpp
Labels: Documentation

#10891 [Docs] Update Annotations in ResidualBasedBossakDisplacementScheme
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
Labels: Documentation

#10894 [ContactStructuralMechanicsApplication] Update README.md
  applications/ContactStructuralMechanicsApplication/README.md
Labels: Applications, Documentation, FastPR

#10892 [GeoMechanics] Made some protected data members private
  applications/GeoMechanicsApplication/custom_conditions/Pw_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_force_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_U_Pw_normal_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.hpp
Labels: GeoMechanics

#10902 [Core] Cleaning Valgrind of `ResidualCriteria`
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
Labels: Cleanup, Kratos Core, FastPR, Bugfix

#10883 [Core] Template BlockPartition on Iterators Instead of Containers
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/normal_calculation_utils.cpp
  kratos/utilities/parallel_utilities.h
  kratos/utilities/pointer_map_communicator.h
  kratos/utilities/variable_utils.h
Labels: Kratos Core, C++, Parallel-SMP

#10912 [GeoMechanicsApplication] Fixed another slicing issue reported by SonarCloud
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
Labels: GeoMechanics

#10881 [Structural] Eigenvalue postprocess avoid old results removal
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/postprocess_eigenvalues_process.h
  applications/StructuralMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/StructuralMechanicsApplication/python_scripts/postprocess_eigenvalues_process.py
Labels: Applications, Inconsistent, Usability

#10908 [MappingApplication] Minor clean up headers
  applications/MappingApplication/custom_mappers/barycentric_mapper.cpp
  applications/MappingApplication/custom_mappers/barycentric_mapper.h
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.cpp
  applications/MappingApplication/custom_mappers/coupling_geometry_mapper.h
  applications/MappingApplication/custom_mappers/nearest_element_mapper.cpp
  applications/MappingApplication/custom_mappers/nearest_element_mapper.h
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper.h
  applications/MappingApplication/custom_modelers/mapping_geometries_modeler.cpp
  applications/MappingApplication/custom_modelers/mapping_geometries_modeler.h
  applications/MappingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MappingApplication/custom_python/add_custom_utilities_to_python.h
  applications/MappingApplication/custom_python/mapping_python_application.cpp
  applications/MappingApplication/custom_searching/custom_configures/interface_object_configure.h
  applications/MappingApplication/custom_searching/interface_communicator.cpp
  applications/MappingApplication/custom_searching/interface_communicator.h
  applications/MappingApplication/custom_searching/interface_object.h
  applications/MappingApplication/custom_utilities/closest_points.cpp
  applications/MappingApplication/custom_utilities/closest_points.h
  applications/MappingApplication/custom_utilities/interface_vector_container.cpp
  applications/MappingApplication/custom_utilities/interface_vector_container.h
  applications/MappingApplication/custom_utilities/mapper_backend.h
  applications/MappingApplication/custom_utilities/mapper_interface_info.h
  applications/MappingApplication/custom_utilities/mapper_local_system.h
  applications/MappingApplication/custom_utilities/mapper_utilities.cpp
  applications/MappingApplication/custom_utilities/mapper_utilities.h
  applications/MappingApplication/custom_utilities/mapping_intersection_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.cpp
  applications/MappingApplication/custom_utilities/mapping_matrix_utilities.h
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
  applications/MappingApplication/custom_utilities/projection_utilities.h
  applications/MappingApplication/mapping_application.h
  applications/MappingApplication/mapping_application_variables.cpp
  applications/MappingApplication/mapping_application_variables.h
  applications/MappingApplication/mpi_extension/cpp_tests/test_mapper_utilities_mpi.cpp
  applications/MappingApplication/mpi_extension/custom_python/mapping_mpi_extension.cpp
  applications/MappingApplication/mpi_extension/custom_searching/interface_communicator_mpi.cpp
  applications/MappingApplication/mpi_extension/custom_searching/interface_communicator_mpi.h
  applications/MappingApplication/mpi_extension/custom_utilities/interface_vector_container_mpi.cpp
  applications/MappingApplication/mpi_extension/custom_utilities/mapper_mpi_backend.h
  applications/MappingApplication/mpi_extension/custom_utilities/mapper_mpi_define.h
  applications/MappingApplication/mpi_extension/custom_utilities/mapping_matrix_utilities_mpi.cpp
  applications/MappingApplication/tests/cpp_tests/test_barycentric_mapper_aux_classes.cpp
  applications/MappingApplication/tests/cpp_tests/test_closest_points.cpp
  applications/MappingApplication/tests/cpp_tests/test_interface_object.cpp
  applications/MappingApplication/tests/cpp_tests/test_mapper_utilities.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_element_aux_classes.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_neighbor_aux_classes.cpp
  applications/MappingApplication/tests/cpp_tests/test_projection_utilities.cpp
Labels: Cleanup, Applications, FastPR

#10915 [MappingApplication] Missing header corrections
  applications/MappingApplication/custom_modelers/mapping_geometries_modeler.h
  applications/MappingApplication/custom_python/add_custom_utilities_to_python.h
Labels: Cleanup, Applications, FastPR

#10913 [OptApp] Change block partition to blockforeach in Optimization Application
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.cpp
Labels: Applications, C++, Parallel-SMP, Bugfix

#10767 [OptApp] Restructure 4 - Add model part controller
  applications/OptimizationApplication/python_scripts/model_part_controllers/mdpa_model_part_controller.py
  applications/OptimizationApplication/python_scripts/model_part_controllers/model_part_controller.py
  applications/OptimizationApplication/python_scripts/model_parts_controller.py
  applications/OptimizationApplication/tests/model_part_utils_test/quads_with_nodal_values.mdpa
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_model_part_controllers.py
Labels: Applications, Python

#10917 [Core] Replace attributte name `aux_msg` with `aux_message` in `KratosUnittest.py`
  kratos/python_scripts/KratosUnittest.py
Labels: Kratos Core, FastPR, Bugfix

#10889 [Dam] Fix construction utility
  applications/DamApplication/custom_utilities/construction_utility.hpp
  applications/DamApplication/tests/construction/ambient.txt
  applications/DamApplication/tests/construction/construction.mdpa
  applications/DamApplication/tests/construction/construction.txt
  applications/DamApplication/tests/construction/construction_parameters.json
  applications/DamApplication/tests/construction/construction_results.json
  applications/DamApplication/tests/generalTests.py
  applications/DamApplication/tests/test_DamApplication.py
Labels: Bugfix

#10921 [Dam] Clean application
  applications/DamApplication/CMakeLists.txt
  applications/DamApplication/custom_constitutive/dam_joint_2D_law.cpp
  applications/DamApplication/custom_constitutive/dam_joint_2D_law.hpp
  applications/DamApplication/custom_constitutive/dam_joint_3D_law.cpp
  applications/DamApplication/custom_constitutive/dam_joint_3D_law.hpp
  applications/DamApplication/custom_constitutive/joint_cohesion_driven_2D_law.cpp
  applications/DamApplication/custom_constitutive/joint_cohesion_driven_2D_law.hpp
  applications/DamApplication/custom_constitutive/joint_cohesion_driven_3D_law.cpp
  applications/DamApplication/custom_constitutive/joint_cohesion_driven_3D_law.hpp
  applications/DamApplication/custom_constitutive/joint_stress_driven_2D_law.cpp
  applications/DamApplication/custom_constitutive/joint_stress_driven_3D_law.cpp
  applications/DamApplication/custom_elements/small_displacement_interface_element.cpp
  applications/DamApplication/custom_elements/small_displacement_interface_element.hpp
  applications/DamApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/DamApplication/custom_python/dam_mpi_python_application.cpp
  applications/DamApplication/custom_strategies/schemes/bossak_displacement_smoothing_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/dam_P_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/dam_UP_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/incrementalupdate_static_damped_smoothing_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/incrementalupdate_static_smoothing_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/trilinos_dam_UP_scheme.hpp
  applications/DamApplication/custom_strategies/schemes/trilinos_incrementalupdate_static_damped_scheme.hpp
  applications/DamApplication/dam_application.cpp
  applications/DamApplication/dam_application.h
  applications/DamApplication/dam_application_variables.cpp
  applications/DamApplication/dam_application_variables.h
  applications/DamApplication/python_scripts/dam_MPI_UP_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_MPI_UP_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_MPI_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_MPI_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/dam_analysis.py
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
Labels: Cleanup

#10920 [MPM] Fix wrong computation local coordinates in search utility
  applications/ParticleMechanicsApplication/custom_utilities/mpm_search_element_utility.h
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_search_element_utility.cpp
Labels: Cleanup, Applications, Bugfix

#10931 [Core] Bugfix - STL reader - fix new entitity ids
  kratos/input_output/stl_io.cpp
Labels: Bugfix

#10929 [Dam] New process to apply different Young Modulus along the structure using Random Fields
  applications/DamApplication/custom_constitutive/dam_joint_2D_law.cpp
  applications/DamApplication/custom_constitutive/dam_joint_3D_law.cpp
  applications/DamApplication/custom_elements/small_displacement_interface_element.hpp
  applications/DamApplication/custom_processes/dam_input_table_nodal_young_modulus_process.hpp
  applications/DamApplication/custom_processes/dam_random_fields_variable_process.hpp
  applications/DamApplication/custom_python/add_custom_processes_to_python.cpp
  applications/DamApplication/custom_python/dam_python_application.cpp
  applications/DamApplication/dam_application.cpp
  applications/DamApplication/dam_application_variables.cpp
  applications/DamApplication/dam_application_variables.h
  applications/DamApplication/python_scripts/dam_mechanical_solver.py
  applications/DamApplication/python_scripts/dam_selfweight_solver.py
  applications/DamApplication/python_scripts/dam_thermo_mechanic_solver.py
  applications/DamApplication/python_scripts/impose_2d_random_fields_variable_process.py
  applications/DamApplication/python_scripts/impose_3d_random_fields_variable_process.py
  applications/DamApplication/python_scripts/impose_input_table_nodal_young_modulus_process.py
Labels: Enhancement, Applications

#10935 [Core] Include cleanup
  kratos/containers/bucket.h
  kratos/containers/tree.h
  kratos/geometries/brep_curve.h
  kratos/includes/define_python.h
  kratos/includes/kratos_application.h
  kratos/includes/serializer.h
  kratos/python/add_constitutive_law_to_python.cpp
  kratos/python/add_containers_to_python.cpp
  kratos/python/add_containers_to_python.h
  kratos/python/add_controllers_to_python.cpp
  kratos/python/add_controllers_to_python.h
  kratos/python/add_global_pointers_to_python.cpp
  kratos/python/add_memory_info_to_python.cpp
  kratos/python/add_memory_info_to_python.h
  kratos/python/add_modeler_to_python.h
  kratos/python/add_operations_to_python.cpp
  kratos/python/add_operations_to_python.h
  kratos/python/add_processes_to_python.h
  kratos/python/add_sparse_matrices_to_python.h
  kratos/python/add_table_to_python.cpp
  kratos/python/add_testing_to_python.h
  kratos/python/add_variable_utils_to_python.cpp
  kratos/spatial_containers/configures/point_configure.h
Labels: Cleanup, Kratos Core, Leftover

#10926 [StructuralMechanicsApplication] Clarify MPC B&S creation
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
Labels: Applications, Documentation, Refactor

#10928 [Core] ContainerExpression
  kratos/containers/container_expression/container_data_io.h
  kratos/containers/container_expression/container_expression.cpp
  kratos/containers/container_expression/container_expression.h
  kratos/containers/container_expression/expressions/binary/binary_expression.cpp
  kratos/containers/container_expression/expressions/binary/binary_expression.h
  kratos/containers/container_expression/expressions/expression.cpp
  kratos/containers/container_expression/expressions/expression.h
  kratos/containers/container_expression/expressions/literal/literal_expression.cpp
  kratos/containers/container_expression/expressions/literal/literal_expression.h
  kratos/containers/container_expression/expressions/literal/literal_flat_expression.cpp
  kratos/containers/container_expression/expressions/literal/literal_flat_expression.h
  kratos/containers/container_expression/specialized_container_expression.h
  kratos/containers/container_expression/specialized_container_expression_impl.h
  kratos/containers/container_expression/variable_expression_data_io.cpp
  kratos/containers/container_expression/variable_expression_data_io.h
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/python/add_container_expression_to_python.cpp
  kratos/python/add_container_expression_to_python.h
  kratos/python/add_container_expression_to_python_utils.h
  kratos/python/kratos_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Python, C++

#10934 [Core] Using `VariableData` for sake of consistency instead of `Variable<TDataType>`
  kratos/containers/variables_list_data_value_container.h
  kratos/includes/node.h
Labels: Cleanup, Kratos Core, Inconsistent, Refactor

#10906 [MeshingApplication][StructuralMechanicsApplication] Resetting equations ids after remesh
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
  kratos/python/add_strategies_to_python.cpp
Labels: Applications, Bugfix

#10884 [OptApp] Adding optimization application to CI
  .github/workflows/configure.sh
  applications/OptimizationApplication/custom_algorithms/algorithm_gradient_projection.h
  applications/OptimizationApplication/custom_algorithms/algorithm_steepest_descent.h
  applications/OptimizationApplication/custom_conditions/helmholtz_surf_shape_condition.cpp
  applications/OptimizationApplication/custom_controls/material_controls/helmholtz_material.h
  applications/OptimizationApplication/custom_controls/material_controls/helmholtz_partition.h
  applications/OptimizationApplication/custom_controls/shape_controls/vertex_morphing/implicit_vertex_morphing.h
  applications/OptimizationApplication/custom_controls/thickness_controls/helmholtz_thickness.h
  applications/OptimizationApplication/custom_elements/helmholtz_bulk_shape_element.cpp
  applications/OptimizationApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/OptimizationApplication/custom_responses/additive_manufacturing/interface_opt_response.h
  applications/OptimizationApplication/custom_responses/additive_manufacturing/partition_interface_stress_opt_response.h
  applications/OptimizationApplication/custom_responses/additive_manufacturing/partition_mass_opt_response.h
  applications/OptimizationApplication/custom_responses/general/mass_opt_response.h
  applications/OptimizationApplication/custom_responses/response.h
  applications/OptimizationApplication/custom_responses/structural/linear_strain_energy_opt_response.h
  applications/OptimizationApplication/custom_responses/structural/stress_opt_response.h
  applications/OptimizationApplication/custom_utilities/geometrical/symmetry_utility.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/symmetry_utility.h
  applications/OptimizationApplication/tests/test_model_part_utils.py
Labels: Continuous Integration
