Repository KratosMultiphysics/Kratos, pull requests merged in 2023-02, with the labels that each got.

#10453 [Core] Distance to path process
  kratos/processes/calculate_distance_to_path_process.cpp
  kratos/processes/calculate_distance_to_path_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/circle1d.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/torus3d.mdpa
  kratos/tests/cpp_tests/processes/test_calculate_distance_to_path_process.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_calculate_distance_to_path_process.py
Labels: Enhancement, Kratos Core

#10705 [Core] Minor missing check in C++ test
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Kratos Core, Testing, FastPR

#10697 [Core] Read STL file
  kratos/input_output/stl_io.cpp
  kratos/input_output/stl_io.h
  kratos/python/add_io_to_python.cpp
  kratos/tests/cpp_tests/input_output/test_stl_io.cpp
Labels: Enhancement, Kratos Core, IO

#10704 [Core] Adding python script for CheckSameModelPartUsingSkinDistanceProcess
  kratos/processes/check_same_modelpart_using_skin_distance_process.cpp
  kratos/python_scripts/check_same_model_part_using_skin_process.py
Labels: Kratos Core, Python, FastPR

#10709 [TrilinosApplication] Cherry-pick of aesthetic commits in #10706
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
Labels: Cleanup, Applications, External library, Parallel-MPI, FastPR

#10716 [CoSimulationApplication] Using `CalculateNormals` instead of `CalculateOnSimplex` (more generic)
  applications/CoSimulationApplication/python_scripts/coupling_operations/compute_normals.py
Labels: Applications, FastPR, Refactor

#10526 [Shape Opt] Sensitivity Heatmap
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_python/shape_optimization_python_application.cpp
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/optimization_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/optimization_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_bead_optimization.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_gradient_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_penalized_projection.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_steepest_descent.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_trust_region.py
  applications/ShapeOptimizationApplication/python_scripts/loggers/data_logger_factory.py
  applications/ShapeOptimizationApplication/python_scripts/loggers/sensitivity_heatmap_logger.py
  applications/ShapeOptimizationApplication/python_scripts/optimizer_factory.py
  applications/ShapeOptimizationApplication/python_scripts/utilities/custom_sensitivity_heatmap.py
  applications/ShapeOptimizationApplication/python_scripts/utilities/custom_variable_utilities.py
  applications/ShapeOptimizationApplication/shape_optimization_application.cpp
  applications/ShapeOptimizationApplication/shape_optimization_application.h
  applications/ShapeOptimizationApplication/tests/sensitivity_heatmap_test/heatmap_results.json
  applications/ShapeOptimizationApplication/tests/sensitivity_heatmap_test/parameters.json
  applications/ShapeOptimizationApplication/tests/sensitivity_heatmap_test/run_test.py
  applications/ShapeOptimizationApplication/tests/sensitivity_heatmap_test/structure.mdpa
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Feature

#10713 [Core] Expose DataCommunicator Broadcast for Vector and Matrix
  kratos/mpi/tests/test_mpi_data_communicator_python.py
  kratos/python/add_data_communicator_to_python.cpp
Labels: Kratos Core, Parallel-MPI, FastPR

#10723 [TrilinosApplication] Create TrilinosCPPUtilities
  applications/TrilinosApplication/custom_utilities/trilinos_cpp_test_utilities.h
  applications/TrilinosApplication/tests/cpp_tests/test_builder_and_solver.cpp
  applications/TrilinosApplication/tests/cpp_tests/test_trilinos_space.cpp
Labels: Applications, Parallel-MPI, FastPR, Transition

#10724 [GeoMechanicsApplication] Fixed a minor mistake in a Python test
  applications/GeoMechanicsApplication/tests/test_consecutive_pipe_lines.py
Labels: GeoMechanics

#10708 [TrilinosApplication] Clean up files in tests
  applications/TrilinosApplication/tests/auxiliary_files/matrix_market_files/A.mm
  applications/TrilinosApplication/tests/auxiliary_files/mdpa_files/coarse_sphere.mdpa
  applications/TrilinosApplication/tests/auxiliary_files/mdpa_files/levelset_convection_process_mesh.mdpa
  applications/TrilinosApplication/tests/test_trilinos_levelset_convection.py
  applications/TrilinosApplication/tests/test_trilinos_linear_solvers.py
  applications/TrilinosApplication/tests/test_trilinos_matrix.py
  applications/TrilinosApplication/tests/test_trilinos_redistance.py
Labels: Cleanup, Applications, Testing

#10575 [Shape opt] Curvature based adaptive vertex morphing
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_python/shape_optimization_python_application.cpp
  applications/ShapeOptimizationApplication/custom_utilities/damping/damping_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/damping/damping_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/damping/direction_damping_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/damping/direction_damping_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/filter_function.cpp
  applications/ShapeOptimizationApplication/custom_utilities/filter_function.h
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.cpp
  applications/ShapeOptimizationApplication/custom_utilities/geometry_utilities.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_base.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_adaptive_radius.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_adaptive_radius.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_improved_integration.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_improved_integration.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_matrix_free.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_matrix_free.h
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_symmetric.cpp
  applications/ShapeOptimizationApplication/custom_utilities/mapping/mapper_vertex_morphing_symmetric.h
  applications/ShapeOptimizationApplication/python_scripts/mapper_factory.py
  applications/ShapeOptimizationApplication/python_scripts/optimizer_factory.py
  applications/ShapeOptimizationApplication/shape_optimization_application.cpp
  applications/ShapeOptimizationApplication/shape_optimization_application.h
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_3NTriangle_test/gaussian_curvature_results.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_3NTriangle_test/hyperbolic_paraboloid_3NTriangle_h0.5.mdpa
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_3NTriangle_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_3NTriangle_test/run_test.py
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_4NQuad_test/gaussian_curvature_results.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_4NQuad_test/hyperbolic_paraboloid_4NQuad_h0.5.mdpa
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_4NQuad_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_4NQuad_test/run_test.py
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_6NTriangle_test/gaussian_curvature_results.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_6NTriangle_test/hyperbolic_paraboloid_6NTriangle_h0.5.mdpa
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_6NTriangle_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_6NTriangle_test/run_test.py
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_8NQuad_test/gaussian_curvature_results.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_8NQuad_test/hyperbolic_paraboloid_8NQuad_h0.5.mdpa
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_8NQuad_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/geom_util_curvature_8NQuad_test/run_test.py
  applications/ShapeOptimizationApplication/tests/mapper_adaptive_filter_curvature_test/gaussian_curvature_results.json
  applications/ShapeOptimizationApplication/tests/mapper_adaptive_filter_curvature_test/hyperbolic_paraboloid_8NQuad_h0.5.mdpa
  applications/ShapeOptimizationApplication/tests/mapper_adaptive_filter_curvature_test/optimization_parameters.json
  applications/ShapeOptimizationApplication/tests/mapper_adaptive_filter_curvature_test/run_test.py
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Feature

#10731 [Meshing] Refine on conditions only
  applications/MeshingApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.cpp
  applications/MeshingApplication/custom_utilities/local_refine_geometry_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_tetrahedra_mesh_parallel_to_boundaries.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh_conditions.hpp
  applications/MeshingApplication/custom_utilities/local_refine_triangle_mesh_generic.hpp
  applications/MeshingApplication/tests/test_MeshingApplication.py
  applications/MeshingApplication/tests/test_local_refine_triangle_conditions.py
Labels: Enhancement, Applications

#10732 [Core] Minor clean up ResidualBasedBlockBuilderAndSolver
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Cleanup, Kratos Core, FastPR

#9950 Shapeopt/feature/qn bb rgp
  applications/ShapeOptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/ShapeOptimizationApplication/custom_python/shape_optimization_python_application.cpp
  applications/ShapeOptimizationApplication/custom_utilities/optimization_utilities.h
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_factory.py
  applications/ShapeOptimizationApplication/python_scripts/algorithms/algorithm_relaxed_gradient_projection.py
  applications/ShapeOptimizationApplication/python_scripts/loggers/data_logger_factory.py
  applications/ShapeOptimizationApplication/python_scripts/loggers/value_logger_relaxed_gradient_projection.py
  applications/ShapeOptimizationApplication/shape_optimization_application.cpp
  applications/ShapeOptimizationApplication/shape_optimization_application.h
  applications/ShapeOptimizationApplication/tests/algorithm_qn_bb_relaxed_gradient_projection_test/parameters.json
  applications/ShapeOptimizationApplication/tests/algorithm_qn_bb_relaxed_gradient_projection_test/run_test.py
  applications/ShapeOptimizationApplication/tests/algorithm_qn_bb_relaxed_gradient_projection_test/tent.mdpa
  applications/ShapeOptimizationApplication/tests/shape_optimization_test_factory.py
  applications/ShapeOptimizationApplication/tests/test_ShapeOptimizationApplication.py
Labels: Feature

#10737 [TrilinosApplication] Minor changes from #10734
  applications/TrilinosApplication/custom_utilities/trilinos_cpp_test_utilities.cpp
  applications/TrilinosApplication/custom_utilities/trilinos_cpp_test_utilities.h
  applications/TrilinosApplication/trilinos_space.h
Labels: Cleanup, Applications, External library, Parallel-MPI, FastPR

#10734 [TrilinosApplication] Extend `trilinos_space.h` with matrix multiplication and extensive testing
  applications/TrilinosApplication/custom_utilities/trilinos_cpp_test_utilities.cpp
  applications/TrilinosApplication/tests/cpp_tests/test_trilinos_space.cpp
  applications/TrilinosApplication/trilinos_space.h
Labels: Enhancement, Applications, Testing, External library, Parallel-MPI

#10733 [Core] Hexhedron3D8 - adding methods for metric computations
  kratos/geometries/hexahedra_3d_8.h
  kratos/tests/cpp_tests/geometries/test_hexahedra_3d_8.cpp
Labels: Enhancement

#10740 [Core] Fix error when properties exists in read STL io
  kratos/input_output/stl_io.cpp
Labels: FastPR, Bugfix

#10744 [Core] Minor clean up in StringUtilities
  kratos/utilities/string_utilities.cpp
  kratos/utilities/string_utilities.h
Labels: Cleanup, Kratos Core, FastPR

#10746 [Core] Cleaning python exposition
  kratos/python/add_amgcl_solver_to_python.h
  kratos/python/add_bounding_box_to_python.h
  kratos/python/add_cfd_variables_to_python.h
  kratos/python/add_communicator_to_python.h
  kratos/python/add_constitutive_law_to_python.h
  kratos/python/add_constraint_to_python.h
  kratos/python/add_containers_to_python.h
  kratos/python/add_convergence_accelerators_to_python.h
  kratos/python/add_data_communicator_to_python.h
  kratos/python/add_dem_variables_to_python.h
  kratos/python/add_deprecated_variables_to_python.h
  kratos/python/add_dofs_to_python.h
  kratos/python/add_factories_to_python.h
  kratos/python/add_fsi_variables_to_python.h
  kratos/python/add_geometrical_utilities_to_python.h
  kratos/python/add_geometries_to_python.h
  kratos/python/add_global_pointers_to_python.h
  kratos/python/add_io_to_python.h
  kratos/python/add_kernel_to_python.h
  kratos/python/add_kratos_application_to_python.h
  kratos/python/add_kratos_parameters_to_python.h
  kratos/python/add_linear_solvers_to_python.h
  kratos/python/add_logger_to_python.h
  kratos/python/add_mapper_to_python.h
  kratos/python/add_mapping_variables_to_python.h
  kratos/python/add_mat_variables_to_python.h
  kratos/python/add_matrix_market_interface_to_python.h
  kratos/python/add_matrix_to_python.h
  kratos/python/add_memory_info_to_python.h
  kratos/python/add_mesh_moving_variables_to_python.h
  kratos/python/add_mesh_to_python.h
  kratos/python/add_model_part_to_python.h
  kratos/python/add_model_to_python.h
  kratos/python/add_modeler_to_python.h
  kratos/python/add_operations_to_python.h
  kratos/python/add_other_utilities_to_python.h
  kratos/python/add_parallel_environment_to_python.h
  kratos/python/add_points_to_python.h
  kratos/python/add_process_info_to_python.h
  kratos/python/add_processes_to_python.h
  kratos/python/add_quaternion_to_python.cpp
  kratos/python/add_quaternion_to_python.h
  kratos/python/add_response_functions_to_python.h
  kratos/python/add_search_strategies_to_python.h
  kratos/python/add_serializer_to_python.h
  kratos/python/add_sparse_matrices_to_python.h
  kratos/python/add_strategies_to_python.h
  kratos/python/add_table_to_python.h
  kratos/python/add_testing_to_python.h
  kratos/python/add_variable_utils_to_python.h
  kratos/python/add_vector_to_python.h
  kratos/python/containers_interface.h
  kratos/python/variable_indexing_python.h
Labels: Cleanup, Kratos Core, Python

#10747 [Core] Adding `GetGeometryName` to `GeometryUtils`
  kratos/utilities/geometry_utilities.cpp
  kratos/utilities/geometry_utilities.h
Labels: Enhancement, Kratos Core

#10725 [Core] Python registry additions
  CMakeLists.txt
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/FluidDynamicsApplication.py
  applications/FluidDynamicsApplication/python_registry_lists.py
  kratos/python_interface/__init__.py
  kratos/python_interface/python_registry_lists.py
  kratos/python_interface/python_registry_utilities.py
  kratos/templates/template_application/TemplateApplication.py.in
  kratos/templates/template_application/python_registry_lists.py.in
Labels: Kratos Core, Applications

#10754 [Core] Adding KratosGlobals test
  kratos/python/add_kernel_to_python.cpp
  kratos/python_interface/kratos_globals.py
  kratos/tests/test_KratosCore.py
  kratos/tests/test_kratos_globals.py
Labels: Cleanup, Kratos Core, Testing, FastPR

#10745 [Core] Improve ModelPartIO writing performance
  kratos/sources/model_part_io.cpp
Labels: Performance, FastPR

#10750 [Core] Reduce code duplication using `GetGeometryName`
  kratos/conditions/mesh_condition.cpp
  kratos/conditions/mesh_condition.h
  kratos/elements/mesh_element.cpp
  kratos/elements/mesh_element.h
  kratos/utilities/geometry_tester.cpp
  kratos/utilities/geometry_utilities.cpp
  kratos/utilities/geometry_utilities.h
  kratos/utilities/specifications_utilities.cpp
  kratos/utilities/specifications_utilities.h
Labels: Duplicate, Cleanup, Kratos Core, FastPR

#10753 [Core] Comments from @rubenzorrilla from #10453
  kratos/processes/calculate_distance_to_path_process.cpp
  kratos/processes/calculate_distance_to_path_process.h
  kratos/tests/cpp_tests/processes/test_calculate_distance_to_path_process.cpp
  kratos/tests/cpp_tests/utilities/test_geometrical_projection_utilities.cpp
  kratos/utilities/geometrical_projection_utilities.cpp
  kratos/utilities/geometrical_projection_utilities.h
Labels: Cleanup, Kratos Core, FastPR

#10758 [StructuralMechApp] Adding include to make it to compile
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_line_load_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/small_displacement_surface_load_condition_3d.cpp
  applications/StructuralMechanicsApplication/custom_conditions/surface_load_condition_3d.cpp
Labels: Compilation, FastPR

#10727 [Core] Check cmake version in stub generation
  scripts/post_install/CMakeLists.txt
  scripts/post_install/stub_generation.py
Labels: Kratos Core, Documentation, FastPR, Bugfix

#10762 [FastPR][KratosCore] Remove Dimension() warning
  kratos/processes/calculate_embedded_nodal_variable_from_skin_process.h
Labels: Warning, Deprecated, FastPR

#10751 [Core] Use all constraints to construct structure in BlockBuilderAndSolver
  kratos/solving_strategies/builder_and_solvers/builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Enhancement

#10721 Moved functionality to element utilities
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_utilities/element_utilities.hpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
Labels: GeoMechanics

#10749 [TrilinosApplication] Simplify TrilinosSpace using communicator inside the Matrix/Vector
  applications/TrilinosApplication/tests/cpp_tests/test_trilinos_space.cpp
  applications/TrilinosApplication/trilinos_space.h
Labels: Cleanup, Applications, External library, Parallel-MPI

#10782 [FastPR][Core] Structured mesh generator usability
  kratos/processes/structured_mesh_generator_process.cpp
  kratos/processes/structured_mesh_generator_process.h
  kratos/tests/cpp_tests/processes/test_structured_mesh_generator_process.cpp
Labels: Kratos Core, FastPR, Usability

#10790 [Core] Minor Parallel improvement in Block B&S
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
Labels: Cleanup, Kratos Core, Parallel-SMP, FastPR

#10787 [Core] Extend B&S test with MPC
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Kratos Core, Testing, FastPR

#10764 [OptApp] Restructure 1 - Adding Optimization Info
  applications/OptimizationApplication/python_scripts/analyses_controller.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy_decorator.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy_wrapper.py
  applications/OptimizationApplication/python_scripts/execution_policies/independent_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/stepping_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/optimization_info.py
  applications/OptimizationApplication/tests/mat_opt_test/optimization_parameters.json
  applications/OptimizationApplication/tests/shell-shape-opt-test/optimization_parameters.json
  applications/OptimizationApplication/tests/shell-thickness-opt-test/optimization_parameters.json
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_execution_policies.py
  applications/OptimizationApplication/tests/test_optimization_info.py
  applications/OptimizationApplication/tests/top_opt_test/optimization_parameters.json
Labels: Applications, Python

#10796 [GeoMechanicsApplication] Revert "Fixed a few slicing issues reported by SonarQube"
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
Labels: GeoMechanics

#10794 [FluidBio] WSS calculation minor fixes
  applications/FluidDynamicsBiomedicalApplication/custom_utilities/wss_statistics_utilities.cpp
  applications/FluidDynamicsBiomedicalApplication/tests/cpp_tests/test_wss_statistics_utilities.cpp
Labels: Applications, FastPR, Bugfix

#10784 [TrilinosApplication] Minor clean up TrilinosSpace
  applications/TrilinosApplication/trilinos_space.h
Labels: Cleanup, Applications, External library, Parallel-MPI

#10433 [Core] Cpp registry enhancement
  kratos/includes/registry.h
  kratos/includes/registry_auxiliaries.h
  kratos/includes/registry_item.h
  kratos/includes/registry_value_item.h
  kratos/processes/process.h
  kratos/python/add_registry_to_python.cpp
  kratos/sources/registry_item.cpp
  kratos/tests/cpp_tests/sources/test_registry.cpp
Labels: Enhancement, Kratos Core, C++

#10785 [TrilinosApplication] Consistent local conditions with local elements in B&S
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
Labels: Applications, External library, Parallel-MPI, Bugfix, Inconsistent

#10810 [Poro] Corrected linking error
  applications/PoromechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
Labels: Compilation, Bugfix

#10798 [Core] Write STL - ignore triangles with area equal to zero
  kratos/input_output/stl_io.cpp
  kratos/input_output/stl_io.h
  kratos/tests/cpp_tests/input_output/test_stl_io.cpp
Labels: Bugfix
