Repository KratosMultiphysics/Kratos, pull requests merged in 2023-05, with the labels that each got.

#11055 Mpi/fix communicator test case
  kratos/mpi/tests/cpp_tests/sources/test_mpi_communicator.cpp
  kratos/python_scripts/testing/run_cpp_mpi_tests.py
Labels: Testing, Parallel-MPI, FastPR

#11066 [OptApp] Change OptimizationInfo to OptimzationProblem
  applications/OptimizationApplication/python_scripts/analyses_controller.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy_decorator.py
  applications/OptimizationApplication/python_scripts/execution_policies/independent_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/stepping_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/standardization_utilities.py
  applications/OptimizationApplication/python_scripts/responses/standardized_constraint.py
  applications/OptimizationApplication/python_scripts/responses/standardized_objective.py
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/optimization_problem.py
  applications/OptimizationApplication/tests/test_execution_policies.py
  applications/OptimizationApplication/tests/test_linear_strain_energy_response_function.py
  applications/OptimizationApplication/tests/test_model_part_controllers.py
  applications/OptimizationApplication/tests/test_optimization_info.py
  applications/OptimizationApplication/tests/test_standardized_responses.py
Labels: Applications, Python

#11047 [Core] Model part io add conditions to base model part
  kratos/sources/model_part_io.cpp
  kratos/tests/test_model_part_io.py
Labels: Bug, Kratos Core, Bugfix, Inconsistent, IO

#11000 [Core] Add SpecializedSpatialSearch class and implement search methods
  kratos/python/add_search_strategies_to_python.cpp
  kratos/spatial_containers/specialized_spatial_search.cpp
  kratos/spatial_containers/specialized_spatial_search.h
  kratos/spatial_containers/specialized_spatial_search_factory.h
  kratos/tests/test_spatial_search.py
Labels: Enhancement, Applications, Testing

#11065 [Core] Adding `Serialization` to `SpatialSearchResult`
  kratos/spatial_containers/spatial_search_result.h
Labels: Kratos Core, FastPR, Serialization

#11068 [Core] Extend AccumReduction to be used with std::set
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/reduction_utilities.h
Labels: Kratos Core, FastPR, Feature

#11076 [Core][MPI] Clean up MPI tests
  kratos/mpi/tests/cpp_tests/sources/test_data_communicator.cpp
  kratos/mpi/tests/cpp_tests/sources/test_data_communicator_manipulation.cpp
  kratos/mpi/tests/cpp_tests/sources/test_debug_utilities.cpp
  kratos/mpi/tests/cpp_tests/sources/test_distributed_exporter.cpp
  kratos/mpi/tests/cpp_tests/sources/test_distributed_model_part_initializer.cpp
  kratos/mpi/tests/cpp_tests/sources/test_distributed_sparse_graph.cpp
  kratos/mpi/tests/cpp_tests/sources/test_flag_synchronization.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_assign_unique_model_part_collection_tag_utility.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_coloring_utilities.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_communicator.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_environment.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_serialized_communication.cpp
Labels: Cleanup, Kratos Core, Testing, FastPR

#11011 OptApp/Boundary slope control in shape optimization for additive manufacturing: for self-support
  applications/OptimizationApplication/custom_python/add_custom_response_utilities_to_python.cpp
  applications/OptimizationApplication/custom_python/optimization_python_application.cpp
  applications/OptimizationApplication/custom_utilities/response/max_overhang_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/max_overhang_response_utils.h
  applications/OptimizationApplication/optimization_application.cpp
  applications/OptimizationApplication/optimization_application_variables.cpp
  applications/OptimizationApplication/optimization_application_variables.h
  applications/OptimizationApplication/python_scripts/responses/additive_manufacturing_responses.py
  applications/OptimizationApplication/python_scripts/responses/analysis_based_response_function_factory.py
  applications/OptimizationApplication/python_scripts/responses/analysis_free_response_function_factory.py
  applications/OptimizationApplication/python_scripts/responses_controller.py
  applications/OptimizationApplication/tests/responses_tests/linear_strain_energy_test/StructuralMaterials.json
  applications/OptimizationApplication/tests/responses_tests/linear_strain_energy_test/Structure.mdpa
  applications/OptimizationApplication/tests/responses_tests/linear_strain_energy_test/primal_parameters.json
  applications/OptimizationApplication/tests/responses_tests/test_linear_strain_energy_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_mass_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_overhang_response_function.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Feature

#11061 Setting minimum clang version
  CMakeLists.txt
Labels: Clang, Compilation

#11081 [GeoMechanicsApplication] Minor cleanup of a Python script
  applications/GeoMechanicsApplication/python_scripts/geomechanics_analysis.py
Labels: GeoMechanics

#10825 [TrilinosApplication] More consistent and rigorous checks
  applications/TrilinosApplication/tests/cpp_tests/trilinos_cpp_test_utilities.cpp
  applications/TrilinosApplication/tests/cpp_tests/trilinos_cpp_test_utilities.h
Labels: Applications, Testing, External library, Parallel-MPI, FastPR

#11063 Kratos global galerkin
  applications/LinearSolversApplication/CMakeLists.txt
  applications/RomApplication/CMakeLists.txt
  applications/RomApplication/RomApplication.py
  applications/RomApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/RomApplication/custom_strategies/global_rom_builder_and_solver.h
  applications/RomApplication/python_scripts/calculate_rom_basis_output_process.py
  applications/RomApplication/python_scripts/new_python_solvers_wrapper_rom.py
  applications/RomApplication/python_scripts/rom_analysis.py
  applications/RomApplication/python_scripts/rom_manager.py
  applications/RomApplication/python_scripts/rom_solver.py
  applications/RomApplication/tests/compressible_potential_test_files/RomParameters.json
  applications/RomApplication/tests/thermal_dynamic_test_files/ROM/RomParameters.json
  applications/RomApplication/tests/thermal_static_test_files/ROM/RomParameters.json
Labels: ROM

#11090 [TrilinosApplication] Cleaning trailing whitespaces
  applications/TrilinosApplication/tests/cpp_tests/trilinos_cpp_test_utilities.h
Labels: Cleanup, Applications, Parallel-MPI, FastPR

#11089 [GeoMechanicsApplication] Replaced redundant Voigt indices
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_beam_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_2D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_3D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_K0_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_K0_law.h
Labels: GeoMechanics

#11093 Small change, getting rid of .keys(). ROM.
  applications/RomApplication/python_scripts/rom_solver.py
Labels: FastPR

#11070 [Core] Add ModelPart Union/Substract/Intersect operators
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/model_part_operations.mdpa
  kratos/tests/test_KratosCore.py
  kratos/tests/test_model_part_operation_utilities.py
  kratos/utilities/model_part_operation_utilities.cpp
  kratos/utilities/model_part_operation_utilities.h
  kratos/utilities/model_part_operator_utilities.h
Labels: Kratos Core, Python, C++, Feature

#11040 [Core] Use NoConvert in ContainerExpressions
  kratos/containers/container_expression/container_expression.h
  kratos/python/add_container_expression_to_python_utils.h
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Python, C++

#11096 [Core] Bugfix - leave one empty mesh when calling clear Model Part
  kratos/sources/model_part.cpp
Labels: Kratos Core, Bugfix

#11073 [OptApp] Resructure 15 - Updated control interface.
  applications/OptimizationApplication/custom_utilities/optimization_utils.cpp
  applications/OptimizationApplication/python_scripts/controls/__init__.py
  applications/OptimizationApplication/python_scripts/controls/control.py
  applications/OptimizationApplication/python_scripts/controls/material/material_properties_control.py
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/model_part_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/optimization_problem.py
  applications/OptimizationApplication/python_scripts/utilities/union_utilities.py
  applications/OptimizationApplication/tests/control/material/test_material_properties_control.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, C++

#11083 [Core] Neighbor MPC Assigner: A process and utility for assigning MPCs to neighbouring nodes
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/python_scripts/assign_mpcs_to_neighbours_process.py
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_assign_mpcs_to_neighbours_process.mdpa
  kratos/tests/test_processes.py
  kratos/utilities/assign_mpcs_to_neighbours_utility.cpp
  kratos/utilities/assign_mpcs_to_neighbours_utility.h
Labels: Enhancement, Kratos Core

#11074 [OptApp] Restructure 16 - Add master control
  applications/OptimizationApplication/python_scripts/controls/master_control.py
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/tests/control/test_master_control.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python

#11042 RomApp Easily Storing Matrices as Numpy Arrays in the RomManager
  applications/RomApplication/python_scripts/rom_manager.py
Labels: FastPR, ROM

#11105 [Hotfix][Core]Integration info hotfix
  kratos/integration/integration_info.h
Labels: Kratos Core, Hotfix, FastPR

#11111 [StructuralMechanicsApplication] Fix distributed load and added parallel utilities in the `distribute_load_on_surface_process`
  applications/StructuralMechanicsApplication/custom_processes/distribute_load_on_surface_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/distribute_load_on_surface_process.h
  applications/StructuralMechanicsApplication/tests/test_distribute_load_on_surface_process.py
Labels: Bug, Applications, Testing, Parallel-SMP, Bugfix

#10919 [Fluid][FSI] Embedded velocity from RBF interpolation
  applications/FSIApplication/python_scripts/fsi_coupling_interface.py
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_embedded_solver.py
  applications/FluidDynamicsApplication/tests/test_fluid_auxiliary_utilities.py
Labels: Applications, Feature

#11114 [FreeSurface] Remove useless files
  applications/FreeSurfaceApplication/custom_processes/custom_test_process_alpha.cpp
  applications/FreeSurfaceApplication/custom_processes/custom_test_process_alpha.h
  applications/FreeSurfaceApplication/custom_processes/custom_test_process_delta.cpp
  applications/FreeSurfaceApplication/custom_processes/custom_test_process_delta.h
  applications/FreeSurfaceApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/FreeSurfaceApplication/custom_python/add_custom_strategies_to_python.h
  applications/FreeSurfaceApplication/custom_python/free_surface_python_application.cpp
Labels: Cleanup, Applications, FastPR

#11010 [Core] Separate `GeometricalObjectsBins` into source and header files and exposing it to python
  kratos/python/add_search_strategies_to_python.cpp
  kratos/spatial_containers/geometrical_objects_bins.cpp
  kratos/spatial_containers/geometrical_objects_bins.h
  kratos/tests/test_geometrical_object_bins.py
Labels: Enhancement, Cleanup, Kratos Core, Python, Documentation, Refactor

#11104 [GeoMechanicsApplication] Reuse Kratos' .mdpa file parser in DGeoFlow
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.h
Labels: GeoMechanics

#11092 [FluidBio] Average value support in parabolic inlet
  applications/FluidDynamicsBiomedicalApplication/python_scripts/apply_parabolic_inlet_process.py
  applications/FluidDynamicsBiomedicalApplication/tests/apply_parabolic_inlet_process_test.py
Labels: Enhancement, Applications, Usability

#11100 [Core] Adding `AllGatherv` methods to `DataCommunicator`/`MPIDataCommunicator`
  kratos/includes/data_communicator.h
  kratos/mpi/includes/mpi_data_communicator.h
  kratos/mpi/sources/mpi_data_communicator.cpp
  kratos/mpi/tests/cpp_tests/sources/test_data_communicator.cpp
  kratos/mpi/tests/cpp_tests/sources/test_mpi_data_communicator.cpp
  kratos/mpi/tests/test_mpi_data_communicator_python.py
  kratos/python/add_data_communicator_to_python.cpp
Labels: Enhancement, Kratos Core, C++, Testing, Parallel-MPI

#11121 [Mapping] optionally allow to not compute approximation
  applications/MappingApplication/README.md
  applications/MappingApplication/custom_mappers/nearest_element_mapper.cpp
  applications/MappingApplication/custom_mappers/nearest_element_mapper.h
  applications/MappingApplication/tests/cpp_tests/test_nearest_element_aux_classes.cpp
Labels: Applications, Hotfix, Usability

#11131 [Core] Remove methods duplicate STL methods from `MathUtils`
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/ExaquteSandboxApplication/custom_processes/metrics_divergencefree_process.cpp
  applications/MeshingApplication/custom_processes/metrics_hessian_process.cpp
  applications/MeshingApplication/custom_utilities/metrics_math_utils.h
  applications/PoromechanicsApplication/custom_utilities/solid_mechanics_math_utilities.hpp
  applications/SolidMechanicsApplication/custom_utilities/solid_mechanics_math_utilities.hpp
  docs/pages/Kratos/For_Developers/General/How-to-create-unitary-tests.md
  kratos/tests/cpp_tests/utilities/test_math_utils.cpp
  kratos/utilities/math_utils.h
Labels: Cleanup, Kratos Core, Transition, Refactor

#11127 [GeoMechanicsApplication] Inheritance for geomechanics solvers are changed
  applications/GeoMechanicsApplication/python_scripts/geomechanics_Pw_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_U_Pw_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
Labels: Refactor

#11132 [CLApp] Minor mistake in automatic diff tangent for damage
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/damage/generic_small_strain_isotropic_damage.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/automatic_differentiation_tangent_utilities.cpp
Labels: FastPR

#11136 [Poro] Fixing interface element exponential cohesive constitutive law
  applications/PoromechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/exponential_cohesive_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/exponential_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_python/poromechanics_python_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/tests/element_tests/consolidation_interface_3D/PoroMaterials.json
Labels: Cleanup, Applications, Bugfix

#11133 [Core] Extend ContainerExpression to Ghost/Interface meshes
  kratos/containers/container_expression/container_expression.cpp
  kratos/containers/container_expression/container_expression.h
  kratos/containers/container_expression/specialized_container_expression.h
  kratos/containers/container_expression/specialized_container_expression_impl.h
  kratos/python/add_container_expression_to_python_utils.h
Labels: Kratos Core, C++, Feature

#11118 [Core] Improve `PrintData` in `Properties`
  kratos/includes/properties.h
  kratos/sources/model_part_io.cpp
  kratos/tests/test_object_printing.py
  kratos/tests/test_properties.py
  kratos/utilities/string_utilities.h
Labels: Enhancement, Cleanup, Kratos Core

#11075 [OptApp] Restructure 17 - New response function interface
  applications/OptimizationApplication/custom_python/add_custom_response_utilities_to_python.cpp
  applications/OptimizationApplication/custom_python/optimization_python_application.cpp
  applications/OptimizationApplication/custom_utilities/response/linear_strain_energy_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/linear_strain_energy_response_utils.h
  applications/OptimizationApplication/custom_utilities/response/mass_response_utils.cpp
  applications/OptimizationApplication/custom_utilities/response/mass_response_utils.h
  applications/OptimizationApplication/optimization_application.cpp
  applications/OptimizationApplication/optimization_application_variables.cpp
  applications/OptimizationApplication/optimization_application_variables.h
  applications/OptimizationApplication/python_scripts/responses/linear_strain_energy_response_function.py
  applications/OptimizationApplication/python_scripts/responses/mass_response_function.py
  applications/OptimizationApplication/python_scripts/responses/response_function.py
  applications/OptimizationApplication/python_scripts/utilities/model_part_utilities.py
  applications/OptimizationApplication/tests/responses_tests/test_linear_strain_energy_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_mass_response_function.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_optimization_info.py
Labels: Applications, Python, C++

#11106 Adding Run() methods to RomManager
  applications/RomApplication/python_scripts/rom_manager.py
Labels: FastPR

#11077 [OptApp] Restructure 18 - Add Response routine
  applications/OptimizationApplication/python_scripts/responses/response_routine.py
  applications/OptimizationApplication/tests/responses_tests/test_response_routine.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python

#11151 [Structural][Hotfix] Integration order base solid element correction
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
Labels: Bug, Applications, Hotfix

#11138 [Core] Change default diagonal value in block B&S, unify with Parameters constructor
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/tests/cpp_tests/strategies/builder_and_solvers/test_builder_and_solver.cpp
Labels: Discussion, Kratos Core, Inconsistent

#11154 RomApp Bugfix HROM Modelpart Part Creation
  applications/RomApplication/python_scripts/hrom_training_utility.py
Labels: Bugfix, ROM

#11078 [OptApp] Restructure 19 - Standardized response routines
  applications/OptimizationApplication/python_scripts/algorithms/standardized_constraint.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_objective.py
  applications/OptimizationApplication/python_scripts/responses/standardization_utilities.py
  applications/OptimizationApplication/python_scripts/responses/standardized_constraint.py
  applications/OptimizationApplication/python_scripts/responses/standardized_objective.py
  applications/OptimizationApplication/python_scripts/utilities/buffered_dict.py
  applications/OptimizationApplication/python_scripts/utilities/component_data_view.py
  applications/OptimizationApplication/tests/responses_tests/test_response_routine.py
  applications/OptimizationApplication/tests/responses_tests/test_standardized_responses.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_component_data_view.py
Labels: Applications, Python

#11087 [OptApp] Restructuring 20 - Analysis
  applications/OptimizationApplication/python_scripts/algorithms/algorithm.py
  applications/OptimizationApplication/python_scripts/analyses_controller.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/execution_policy_decorator.py
  applications/OptimizationApplication/python_scripts/execution_policies/independent_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/execution_policies/stepping_analysis_execution_policy.py
  applications/OptimizationApplication/python_scripts/model_part_controllers/mdpa_model_part_controller.py
  applications/OptimizationApplication/python_scripts/model_parts_controller.py
  applications/OptimizationApplication/python_scripts/optimization_analysis.py
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/optimization_problem.py
  applications/OptimizationApplication/tests/mat_opt_test/optimization_parameters.json
  applications/OptimizationApplication/tests/responses_tests/test_linear_strain_energy_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_standardized_responses.py
  applications/OptimizationApplication/tests/shell-shape-opt-test/optimization_parameters.json
  applications/OptimizationApplication/tests/shell-thickness-opt-test/optimization_parameters.json
  applications/OptimizationApplication/tests/test_component_data_view.py
  applications/OptimizationApplication/tests/test_execution_policies.py
  applications/OptimizationApplication/tests/test_model_part_controllers.py
  applications/OptimizationApplication/tests/test_optimization_info.py
  applications/OptimizationApplication/tests/top_opt_test/optimization_parameters.json
Labels: Applications, Python

#11155 [Structural] Remove UseGeometryIntegrationMethod from base solid
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
Labels: Cleanup, Applications

#11124 [GeoMechanicsApplication] Remove duplicated function body and change CalculateIntegrationCoefficient function to use return value
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.hpp
Labels: GeoMechanics

#11147 [GeoMechanicsApplication] Removed apply_double_table_process, because it only contained a copy …
  applications/GeoMechanicsApplication/custom_processes/apply_double_table_process.hpp
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/python_scripts/apply_normal_load_table_process.py
  applications/GeoMechanicsApplication/python_scripts/apply_scalar_constraint_table_process.py
Labels: Cleanup, GeoMechanics

#11128 [StructuralMechanicsApplication] Damping parameters fix for explicit simulations
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_explicit_dynamic_solver.py
Labels: Bug, Cleanup, Applications, Bugfix, Explicit

#11163 [Core] Missing `Rank` in constructor of `SpatialSearchResult`, required by `GlobalPointer`
  kratos/spatial_containers/spatial_search_result.h
Labels: Kratos Core

#11160 [OptApp] Add ascii output mechanism for OptimizationProblem
  applications/OptimizationApplication/python_scripts/processes/optimization_problem_ascii_output_process.py
  applications/OptimizationApplication/python_scripts/utilities/buffered_dict.py
  applications/OptimizationApplication/python_scripts/utilities/component_data_view.py
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/optimization_problem.py
  applications/OptimizationApplication/tests/process_tests/dummy_output_test_orig.csv
  applications/OptimizationApplication/tests/process_tests/test_optimization_problem_ascii_output_process.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_OptimizationApplication_mpi.py
Labels: Applications, Python, Feature

#11134 [Core] Rename GetFlattenedSize to GetFlattenedShapeSize
  applications/OptimizationApplication/custom_utilities/collective_expressions.cpp
  applications/OptimizationApplication/custom_utilities/container_expression_utils.cpp
  kratos/containers/container_expression/container_expression.cpp
  kratos/containers/container_expression/container_expression.h
  kratos/containers/container_expression/expressions/binary/binary_expression.cpp
  kratos/containers/container_expression/expressions/binary/binary_expression.h
  kratos/containers/container_expression/expressions/expression.cpp
  kratos/containers/container_expression/expressions/expression.h
  kratos/containers/container_expression/expressions/literal/literal_expression.cpp
  kratos/containers/container_expression/expressions/literal/literal_expression.h
  kratos/containers/container_expression/expressions/literal/literal_flat_expression.cpp
  kratos/containers/container_expression/expressions/literal/literal_flat_expression.h
  kratos/containers/container_expression/specialized_container_expression_impl.h
  kratos/containers/container_expression/variable_expression_data_io.cpp
  kratos/containers/container_expression/variable_expression_data_io.h
  kratos/python/add_container_expression_to_python_utils.h
Labels: Kratos Core, C++, FastPR

#11159 Rom app add materials parametrisation to rom manager
  applications/RomApplication/python_scripts/rom_manager.py
Labels: ROM

#11050 [Core] Remove unused `line_searches_utils.h`
  kratos/utilities/line_searches_utils.h
Labels: Cleanup, Kratos Core, FastPR, Legacy, Leftover

#11115 [Core] Clean up `Scheme`
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/residual_based_relaxation_scheme.hpp
  kratos/solving_strategies/schemes/scheme.h
Labels: Cleanup, Kratos Core, FastPR, Legacy, Leftover

#11137 [Core] Expression Iterators
  applications/OptimizationApplication/custom_utilities/collective_expressions.cpp
  kratos/containers/container_expression/container_expression.cpp
  kratos/containers/container_expression/expressions/binary/binary_expression.cpp
  kratos/containers/container_expression/expressions/expression.cpp
  kratos/containers/container_expression/expressions/expression.h
  kratos/containers/container_expression/expressions/literal/literal_expression.cpp
  kratos/containers/container_expression/expressions/literal/literal_expression.h
  kratos/containers/container_expression/expressions/literal/literal_flat_expression.cpp
  kratos/containers/container_expression/expressions/literal/literal_flat_expression.h
  kratos/containers/container_expression/specialized_container_expression_impl.h
  kratos/tests/cpp_tests/containers/test_expression_iterators.cpp
Labels: Kratos Core, C++

#11170 [GeoMechanicsApplication] Refactored Python class ApplyVectorConstraintTableProcess
  applications/GeoMechanicsApplication/python_scripts/apply_vector_constraint_table_process.py
Labels: GeoMechanics

#11171 [Doc] Removal of outdated developer documentation files and some clean up
  docs/pages/Kratos/For_Developers/General/How-to-use-Cotire.md
  docs/pages/Kratos/For_Developers/General/How-to-use-PointerCommunicator.md
  docs/pages/Kratos/For_Developers/General/How-to-use-PointerMapCommunicator.md
  docs/pages/Kratos/For_Developers/General/How-to-use-the-Geometry.md
  docs/pages/Kratos/For_Developers/General/Kratos-input-files-and-I-O.md
  docs/pages/Kratos/For_Developers/General/Porting-to-PyBind11-common-steps.md
  docs/pages/Kratos/For_Developers/General/Style-Guide.md
Labels: Kratos Core, Documentation, FastPR

#11176 [Core][MPI] Extend and document GlobalPointerUtilities
  kratos/mpi/tests/cpp_tests/sources/test_pointer_communicator.cpp
  kratos/utilities/global_pointer_utilities.h
Labels: Enhancement, Kratos Core, Testing, Documentation, Parallel-MPI

#11177 [Core][MPI] Add exit code to run_cpp_mpi_tests for use in CI
  kratos/python_scripts/testing/run_cpp_mpi_tests.py
Labels: Testing, Parallel-MPI, Continuous Integration

#11167 [Core] Check Container Template Arguments
  kratos/utilities/parallel_utilities.h
Labels: Kratos Core, C++, Feature

#11169 [Core] Adding Hasher and Comparor for `array_1d<doube, 3>`
  kratos/containers/array_1d.h
  kratos/includes/geometrical_object.h
  kratos/includes/key_hash.h
  kratos/processes/integration_values_extrapolation_to_nodes_process.h
  kratos/sources/key_hash.cpp
  kratos/tests/cpp_tests/containers/test_array_1d.cpp
  kratos/tests/cpp_tests/sources/test_key_hash.cpp
Labels: Enhancement, Kratos Core

#11148 [Core][MPI] Enhanced testing framework for distributed test cases
  .github/workflows/ci.yml
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication_mpi.py
  kratos/mpi/tests/cpp_tests/sources/test_distributed_exporter.cpp
  kratos/python/add_testing_to_python.cpp
  kratos/python_scripts/KratosUnittest.py
  kratos/python_scripts/testing/run_cpp_mpi_tests.py
  kratos/python_scripts/testing/run_python_mpi_tests.py
  kratos/testing/distributed_test_case.cpp
  kratos/testing/distributed_test_case.h
  kratos/testing/test_case.cpp
  kratos/testing/test_case.h
  kratos/testing/tester.cpp
  kratos/testing/tester.h
Labels: Enhancement, Kratos Core, Testing, Parallel-MPI

#11180 [Core] Remove unused includes in DoF
  kratos/includes/dof.h
Labels: Cleanup, Kratos Core, FastPR, Leftover

#11172 [GeoMechanicsApplication] Add DLL version info to GeoMechanics applications
  applications/GeoMechanicsApplication/CMakeLists.txt
  applications/GeoMechanicsApplication/version.rc.in
Labels: GeoMechanics

#11139 [Core] VTU Output
  kratos/containers/container_expression/expressions/expression.h
  kratos/input_output/base_64_encoded_output.cpp
  kratos/input_output/base_64_encoded_output.h
  kratos/input_output/vtk_definition.cpp
  kratos/input_output/vtk_definitions.h
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtu_output.cpp
  kratos/input_output/vtu_output.h
  kratos/python/add_io_to_python.cpp
  kratos/python_scripts/vtu_output_process.py
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/ascii2D/Main.vtu
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/ascii3D/Main.vtu
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binary2D/Main.vtu
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binary3D/Main.vtu
  kratos/tests/cpp_tests/input_output/test_base_64_encoded_output.cpp
  kratos/tests/cpp_tests/utilities/test_xml_utilities.cpp
  kratos/tests/test_vtu_output.py
  kratos/utilities/xml_utilities/xml_expression_element.cpp
  kratos/utilities/xml_utilities/xml_expression_element.h
  kratos/utilities/xml_utilities/xml_ostream_ascii_writer.cpp
  kratos/utilities/xml_utilities/xml_ostream_ascii_writer.h
  kratos/utilities/xml_utilities/xml_ostream_base64_binary_writer.cpp
  kratos/utilities/xml_utilities/xml_ostream_base64_binary_writer.h
  kratos/utilities/xml_utilities/xml_ostream_writer.cpp
  kratos/utilities/xml_utilities/xml_ostream_writer.h
Labels: Kratos Core, C++, Feature, IO

#11189 [Core] Refactor `GlobalPointerUtilities`: Add required includes to `global_pointer_utilities.h`
  kratos/utilities/global_pointer_utilities.h
Labels: Cleanup, Kratos Core, FastPR, Refactor

#11185 [Core] BugFix - ModelPartOperationUtilities - Sorting based on ids
  kratos/tests/test_model_part_operation_utilities.py
  kratos/utilities/model_part_operation_utilities.cpp
Labels: Kratos Core, C++, FastPR, Bugfix

#11194 [ExternalLib][Clipper2] Add `#include <stdint.h>` to clipper.engine.h
  external_libraries/clipper/include/clipper2/clipper.engine.h
Labels: External library, Compilation, FastPR

#11192 [Poro] Add linear elastic cohesive constitutive law
  applications/PoromechanicsApplication/CMakeLists.txt
  applications/PoromechanicsApplication/custom_constitutive/elastic_cohesive_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/elastic_cohesive_2D_law.hpp
  applications/PoromechanicsApplication/custom_constitutive/elastic_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/elastic_cohesive_3D_law.hpp
  applications/PoromechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application.h
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/tests/SmallTests.py
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_elastic_linear/PoroMaterials.json
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_elastic_linear/ProjectParameters.json
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_elastic_linear/interface_elastic_linear.mdpa
  applications/PoromechanicsApplication/tests/constitutiveModel_tests/interface_elastic_linear/interface_elastic_linear_results.json
Labels: Applications, C++, Feature

#11196 Remove debug output.
  kratos/tests/cpp_tests/geometries/test_prism_3d_15.cpp
Labels: Testing, Hotfix, FastPR

#11041 [Core] Add `IsStringArray` to Kratos `Parameters`
  kratos/includes/kratos_parameters.h
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/python_scripts/deprecation_management.py
  kratos/sources/kratos_parameters.cpp
  kratos/tests/cpp_tests/sources/test_kratos_parameters.cpp
  kratos/tests/test_kratos_parameters.py
Labels: Enhancement, Kratos Core

#11187 [Core] Container expressions slice, comb, reshape capabilities
  kratos/containers/container_expression/expressions/unary/unary_combine_expression.h
  kratos/containers/container_expression/expressions/unary/unary_reshape_expression.h
  kratos/containers/container_expression/expressions/unary/unary_slice_expression.cpp
  kratos/containers/container_expression/expressions/unary/unary_slice_expression.h
  kratos/containers/container_expression/specialized_container_expression.h
  kratos/containers/container_expression/specialized_container_expression_impl.h
  kratos/python/add_container_expression_to_python_utils.h
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Python, C++, Feature

#11197 [CI] Update mpi test level name.
  .github/workflows/nightly_build.yml
Labels: Hotfix, Parallel-MPI, Continuous Integration

#11112 [GeoMechanicsApplication] Added a helper function that converts an angle in degrees to one in radians
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  kratos/tests/cpp_tests/utilities/test_math_utils.cpp
  kratos/utilities/math_utils.h
Labels: GeoMechanics

#11201 [GeoMechanicsApplication] Removed an unused data member
  applications/GeoMechanicsApplication/custom_processes/apply_excavation_process.hpp
Labels: GeoMechanics

#11203 [Core] Base64 encoder bugfix for data arrays of size 1 byte.
  kratos/input_output/base_64_encoded_output.h
  kratos/tests/cpp_tests/input_output/test_base_64_encoded_output.cpp
Labels: Kratos Core, C++, FastPR, Bugfix
