Repository KratosMultiphysics/Kratos, pull requests merged in 2023-10, with the labels that each got.

#11528 Keep the names of the variables with the table
  kratos/includes/table.h
  kratos/sources/model_part_io.cpp
  kratos/tests/cpp_tests/sources/test_table.cpp
Labels: Enhancement, Kratos Core, Behaviour Change

#11633 [Fluid] Axisymmetric Navier-Stokes
  applications/FluidDynamicsApplication/CMakeLists.txt
  applications/FluidDynamicsApplication/README.md
  applications/FluidDynamicsApplication/custom_elements/axisymmetric_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_elements/axisymmetric_navier_stokes.h
  applications/FluidDynamicsApplication/custom_elements/data_containers/axisymmetric_navier_stokes/axisymmetric_navier_stokes_data.h
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_solver_vmsmonolithic.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/axisymmetric_navier_stokes/README.md
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/axisymmetric_navier_stokes/axisymmetric_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/axisymmetric_navier_stokes/axisymmetric_navier_stokes_element_derivation.ipynb
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/axisymmetric_navier_stokes/generate_axisymmetric_navier_stokes_element.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_axisymmetric_navier_stokes_element.cpp
Labels: Applications, Feature

#11634 [CMake] More robust Trilinos find
  cmake_modules/FindTRILINOS.cmake
Labels: Kratos Core, Applications, External library, CMake

#11640 [Core][Apps] better time prints
  applications/LinearSolversApplication/custom_solvers/eigen_dense_eigenvalue_solver.h
  applications/LinearSolversApplication/custom_solvers/eigensystem_solver.h
  applications/LinearSolversApplication/custom_solvers/spectra_sym_g_eigs_shift_solver.h
  applications/MappingApplication/custom_searching/interface_communicator.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/eigensolver_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/harmonic_analysis_strategy.hpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_strategies/prebuckling_strategy.hpp
  applications/TrilinosApplication/custom_strategies/builder_and_solvers/trilinos_block_builder_and_solver.h
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: FastPR, Usability

#11630 Kratos rom neighbouring elements candidates
  applications/RomApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/RomApplication/custom_utilities/rom_auxiliary_utilities.cpp
  applications/RomApplication/custom_utilities/rom_auxiliary_utilities.h
  applications/RomApplication/python_scripts/hrom_training_utility.py
Labels: Enhancement, ROM

#11628 [Core][MPI] Support for STL output operations in MPI
  kratos/input_output/stl_io.cpp
  kratos/input_output/stl_io.h
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/tests/test_KratosCore.py
  kratos/tests/test_stl_io.py
Labels: Kratos Core, Testing, Documentation, Parallel-MPI, IO

#11639 [GeoMechanicsApplication] Add an adaptive time incrementor
  applications/GeoMechanicsApplication/custom_workflows/adaptive_time_incrementor.cpp
  applications/GeoMechanicsApplication/custom_workflows/adaptive_time_incrementor.h
  applications/GeoMechanicsApplication/custom_workflows/time_incrementor.h
  applications/GeoMechanicsApplication/custom_workflows/time_step_end_state.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_time_incrementor.cpp
Labels: Feature, GeoMechanics

#11370 [Core] Geometries to entities modeler
  kratos/modeler/create_entities_from_geometries_modeler.cpp
  kratos/modeler/create_entities_from_geometries_modeler.h
  kratos/python/add_modeler_to_python.cpp
  kratos/python/add_registry_to_python.cpp
  kratos/python_interface/python_registry.py
  kratos/python_scripts/analysis_stage.py
  kratos/python_scripts/modeler_factory.py
  kratos/tests/cpp_tests/modeler/test_create_entities_from_geometries_modeler.cpp
Labels: Kratos Core, Feature, IO, Multistage

#11641 [Core][GeomContainer] Allow existing geometries
  kratos/containers/geometry_container.h
  kratos/tests/cpp_tests/containers/test_geometry_container.cpp
  kratos/tests/cpp_tests/containers/test_model_part_geometry_container.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
Labels: Kratos Core, FastPR, Bugfix, Inconsistent

#11653 [Core][Model] remove flatmap
  applications/CoSimulationApplication/tests/test_coupling_interface_data.py
  kratos/containers/model.cpp
  kratos/tests/cpp_tests/containers/test_model.cpp
  kratos/tests/test_model.py
Labels: Cleanup, Kratos Core, Deprecated, FastPR, Legacy

#11655 [Core] Document `pointer_vector_set.h`
  kratos/containers/pointer_vector_set.h
Labels: Cleanup, Kratos Core, Documentation, FastPR

#11646 [Fluid] Weakly-compressible automatic differentiation enhancements
  applications/FluidDynamicsApplication/custom_elements/weakly_compressible_navier_stokes.cpp
  applications/FluidDynamicsApplication/custom_python/fluid_dynamics_python_application.cpp
  applications/FluidDynamicsApplication/custom_utilities/weakly_compressible_navier_stokes_data.h
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application_variables.h
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/weakly_compressible_navier_stokes/README.md
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/weakly_compressible_navier_stokes/generate_weakly_compressible_navier_stokes_element.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/weakly_compressible_navier_stokes/symbolic_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/weakly_compressible_navier_stokes/weakly_compressible_navier_stokes_cpp_template.cpp
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/weakly_compressible_navier_stokes/weakly_compressible_navier_stokes_element_derivation.ipynb
  applications/FluidDynamicsApplication/symbolic_generation/navier_stokes/weakly_compressible_navier_stokes_element_derivation.ipynb
  applications/FluidDynamicsApplication/tests/cpp_tests/test_weakly_compressible_navier_stokes_element.cpp
Labels: Cleanup, Applications, Feature

#11659 [ConvDiff] ConvectionDiffusionApplication testing utilities
  applications/ConvectionDiffusionApplication/CMakeLists.txt
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_d_convection_diffusion_explicit_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_embedded_laplacian_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_conv_diff.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_eulerian_diff.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_laplacian_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_mixed_laplacian_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_qs_convection_diffusion_explicit_element.cpp
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_thermal_face.cpp
  applications/ConvectionDiffusionApplication/tests/test_utilities/convection_diffusion_testing_utilities.cpp
  applications/ConvectionDiffusionApplication/tests/test_utilities/convection_diffusion_testing_utilities.h
Labels: Cleanup, Applications, Testing, FastPR

#11649 Geo/add time step executor
  applications/GeoMechanicsApplication/custom_workflows/strategy_wrapper.hpp
  applications/GeoMechanicsApplication/custom_workflows/time_step_executor.cpp
  applications/GeoMechanicsApplication/custom_workflows/time_step_executor.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_time_stepping.cpp
Labels: GeoMechanics

#11656 [Core][MPI] Minor fix in STL IO in MPI write
  kratos/input_output/stl_io.cpp
Labels: Kratos Core, Parallel-MPI, FastPR, Bugfix, IO

#11661 [Core][Documentation] Adding documentation to `DataValueContainer`
  kratos/containers/data_value_container.cpp
  kratos/containers/data_value_container.h
Labels: Cleanup, Kratos Core, Documentation, FastPR

#11660 [ConvDiff] Axisymmetric convection-diffusion element and thermal face
  applications/ConvectionDiffusionApplication/CMakeLists.txt
  applications/ConvectionDiffusionApplication/convection_diffusion_application.cpp
  applications/ConvectionDiffusionApplication/convection_diffusion_application.h
  applications/ConvectionDiffusionApplication/custom_conditions/axisymmetric_thermal_face.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/axisymmetric_thermal_face.h
  applications/ConvectionDiffusionApplication/custom_conditions/thermal_face.cpp
  applications/ConvectionDiffusionApplication/custom_conditions/thermal_face.h
  applications/ConvectionDiffusionApplication/custom_elements/axisymmetric_eulerian_convection_diffusion.cpp
  applications/ConvectionDiffusionApplication/custom_elements/axisymmetric_eulerian_convection_diffusion.h
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_stationary_solver.py
  applications/ConvectionDiffusionApplication/tests/cpp_tests/test_axisymmetric_eulerian_convection_diffusion.cpp
Labels: Applications, Feature

#11658 [GeoMechanicsApplication] Add support for non-uniform line loads
  applications/GeoMechanicsApplication/custom_processes/apply_component_table_process.hpp
  applications/GeoMechanicsApplication/tests/line_load_tests/non-uniform_line_load/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/non-uniform_line_load/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/line_load_tests/non-uniform_line_load/README.md
  applications/GeoMechanicsApplication/tests/line_load_tests/non-uniform_line_load/test.mdpa
  applications/GeoMechanicsApplication/tests/test_helper.py
  applications/GeoMechanicsApplication/tests/test_line_loads.py
Labels: Feature, GeoMechanics

#11667 [GeoMechanicsApplication] Isolated Hencky strain computation, such that it appears once.
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_utilities/stress_strain_utilities.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_Hencky_strain.cpp
Labels: GeoMechanics

#11669 [GeoMechanicsApplication] Moved logic of `ApplyScalarConstraintsTableProcess` to C++
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraints_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraints_table_process.h
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/python_scripts/apply_scalar_constraint_table_process.py
Labels: GeoMechanics

#11671 [GeoMechanicsApplication] Send logging output of Settlement workflow to logging delegate
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.h
Labels: GeoMechanics

#11665 [GeoMechanicsApplication] Geo/11626 initialize solving strategies settlement
  applications/GeoMechanicsApplication/custom_strategies/schemes/backward_euler_quasistatic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_strategy.hpp
  applications/GeoMechanicsApplication/custom_utilities/builder_and_solver_factory.hpp
  applications/GeoMechanicsApplication/custom_utilities/convergence_criteria_factory.hpp
  applications/GeoMechanicsApplication/custom_utilities/scheme_factory.hpp
  applications/GeoMechanicsApplication/custom_utilities/solving_strategy_factory.hpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_builder_and_solver_factory.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_convergence_criteria_factory.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_scheme_factory.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_solving_strategy_factory.cpp
  applications/GeoMechanicsApplication/tests/run_cpp_unit_tests.py
Labels: GeoMechanics

#11674 [GeoMechanicsApplication] Renamed a few files and classes as suggested by @carloslubbers
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraint_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraint_table_process.h
  applications/GeoMechanicsApplication/custom_processes/apply_vector_constraint_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_vector_constraint_table_process.h
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/python_scripts/apply_scalar_constraint_table_process.py
  applications/GeoMechanicsApplication/python_scripts/apply_vector_constraint_table_process.py
  applications/GeoMechanicsApplication/tests/cpp_tests/stub_process_info_parser.cpp
Labels: GeoMechanics

#11680 [GeoMechanicsApplication] Moved logic of ApplyExcavationProcess to C++
  applications/GeoMechanicsApplication/custom_processes/apply_excavation_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_excavation_process.h
  applications/GeoMechanicsApplication/custom_processes/apply_excavation_process.hpp
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/python_scripts/apply_excavation_process.py
Labels: GeoMechanics

#11683 [MEDApp] some fixes in tests
  applications/MedApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MedApplication/custom_utilities/med_testing_utilities.cpp
  applications/MedApplication/custom_utilities/med_testing_utilities.h
  applications/MedApplication/tests/cpp_tests/test_med_io_write_read_model_part.cpp
  applications/MedApplication/tests/test_med_model_part_io.py
Labels: Applications

#11677 [GeoMechanicsApplication] Geo/time step loop
  applications/GeoMechanicsApplication/custom_workflows/custom_workflow_factory.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.h
  applications/GeoMechanicsApplication/custom_workflows/strategy_wrapper.hpp
  applications/GeoMechanicsApplication/custom_workflows/time_loop_executor.h
  applications/GeoMechanicsApplication/custom_workflows/time_loop_executor.hpp
  applications/GeoMechanicsApplication/custom_workflows/time_loop_executor_interface.h
  applications/GeoMechanicsApplication/custom_workflows/time_step_end_state.hpp
  applications/GeoMechanicsApplication/custom_workflows/time_step_executor.cpp
  applications/GeoMechanicsApplication/custom_workflows/time_step_executor.h
  applications/GeoMechanicsApplication/tests/cpp_tests/stub_time_loop_executor.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/stub_time_loop_executor.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_time_loop_executor.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_time_stepping.cpp
Labels: GeoMechanics

#11686 [Core] Clean up `mesh.h` file
  kratos/includes/mesh.h
Labels: Cleanup, Kratos Core, FastPR

#11687 [Core] AMGCL NS - Allow using different var for pressure
  kratos/linear_solvers/amgcl_ns_solver.h
Labels: Enhancement, Kratos Core

#11684 [MedApp] more geom types and other minor improvements
  applications/MedApplication/custom_io/med_model_part_io.cpp
  applications/MedApplication/custom_utilities/med_testing_utilities.cpp
  applications/MedApplication/med_application.cpp
  applications/MedApplication/tests/med_files/hexahedral_20N/mesh.med
  applications/MedApplication/tests/med_files/hexahedral_27N/mesh.med
  applications/MedApplication/tests/med_files/hexahedral_8N/create_mesh.py
  applications/MedApplication/tests/med_files/hexahedral_8N/mesh.med
  applications/MedApplication/tests/med_files/tetrahedral_10N/mesh.med
  applications/MedApplication/tests/med_files/tetrahedral_4N/create_mesh.py
  applications/MedApplication/tests/med_files/tetrahedral_4N/mesh.med
  applications/MedApplication/tests/test_med_model_part_io.py
  applications/MedApplication/tests/testing_utilities.py
Labels: Enhancement, Applications

#11697 [Core] Extend `CppTestsUtilities` with `CreateCubeSkinModelPart` and `CreateCubeModelPart`
  kratos/tests/cpp_tests/spatial_containers/test_geometrical_objects_bins.cpp
  kratos/utilities/cpp_tests_utilities.cpp
  kratos/utilities/cpp_tests_utilities.h
Labels: Kratos Core, C++, Testing, FastPR, Transition

#11693 [GeoMechanicsApplication] Added reading missing parameters for the solving strategy
  applications/GeoMechanicsApplication/custom_utilities/solving_strategy_factory.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_solving_strategy_factory.cpp
Labels: GeoMechanics

#11236 Extend porous navier stokes
  applications/FluidDynamicsApplication/custom_elements/alternative_d_vms_dem_coupled.cpp
  applications/FluidDynamicsApplication/custom_elements/alternative_d_vms_dem_coupled.h
  applications/FluidDynamicsApplication/custom_elements/alternative_qs_vms_dem_coupled.cpp
  applications/FluidDynamicsApplication/custom_elements/alternative_qs_vms_dem_coupled.h
  applications/FluidDynamicsApplication/custom_elements/d_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms_dem_coupled.cpp
  applications/FluidDynamicsApplication/custom_elements/d_vms_dem_coupled.h
  applications/FluidDynamicsApplication/custom_elements/fluid_element.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms_dem_coupled.cpp
  applications/FluidDynamicsApplication/custom_elements/qs_vms_dem_coupled.h
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_data.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_element_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/qsvms_dem_coupled_data.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/tests/cpp_tests/test_alternative_d_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_alternative_qs_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_d_vms_dem_coupled_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_qs_vms_dem_coupled_element.cpp
  applications/SwimmingDEMApplication/custom_strategies/strategies/bdf2_turbulent_schemeDEMCoupled.h
  applications/SwimmingDEMApplication/tests/drag_tests/chien_law/FluidMaterials.json
  applications/SwimmingDEMApplication/tests/porosity_tests/porosity_conservation/ProjectParameters.json
Labels: Applications, Feature

#11688 [Core] Mixed Generic Criterion - fixing error when dofs and input variables mismatch
  applications/TrilinosApplication/custom_strategies/convergencecriterias/trilinos_mixed_generic_criteria.h
  kratos/solving_strategies/convergencecriterias/mixed_generic_criteria.h
Labels: Enhancement, C++

#11569 Kratos lspg hrom
  applications/RomApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/RomApplication/custom_strategies/lspg_rom_builder_and_solver.h
  applications/RomApplication/custom_utilities/rom_auxiliary_utilities.cpp
  applications/RomApplication/custom_utilities/rom_auxiliary_utilities.h
  applications/RomApplication/custom_utilities/rom_residuals_utility.h
  applications/RomApplication/python_scripts/hrom_training_utility.py
  applications/RomApplication/python_scripts/petrov_galerkin_training_utility.py
  applications/RomApplication/python_scripts/rom_manager.py
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/ExpectedOutputLSPGHROM.npy
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/ProjectParametersHROM.json
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/couette_flow_testHROM.mdpa
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/rom_data/HROM_ConditionIds.npy
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/rom_data/HROM_ConditionWeights.npy
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/rom_data/HROM_ElementIds.npy
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/rom_data/HROM_ElementWeights.npy
  applications/RomApplication/tests/fluid_dynamics_test_files/LSPGHROM/rom_data/RomParameters.json
  applications/RomApplication/tests/test_fluid_lspg_rom.py
Labels: Enhancement, ROM

#11695 [FastPR][ConvDiff] Enhance element substitution
  applications/ConvectionDiffusionApplication/convection_diffusion_application.cpp
  applications/ConvectionDiffusionApplication/convection_diffusion_application.h
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
  applications/ConvectionDiffusionApplication/python_scripts/coupled_fluid_thermal_solver.py
Labels: Cleanup, Applications, FastPR

#11698 [FluidBio][Bugfix] OSI-related indicators bugfix
  applications/FluidDynamicsBiomedicalApplication/custom_utilities/wss_statistics_utilities.cpp
  applications/FluidDynamicsBiomedicalApplication/tests/cpp_tests/test_wss_statistics_utilities.cpp
Labels: Applications, Bugfix

#11184 [GeoMechanicsApplication] Phreatic multi line
  applications/GeoMechanicsApplication/custom_processes/apply_constant_phreatic_multi_line_pressure_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_constant_phreatic_multi_line_pressure_process.h
  applications/GeoMechanicsApplication/custom_processes/apply_phreatic_multi_line_pressure_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_phreatic_multi_line_pressure_table_process.h
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraint_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraint_table_process.h
  applications/GeoMechanicsApplication/custom_python/add_custom_processes_to_python.cpp
  applications/GeoMechanicsApplication/tests/test_absorbing_boundary.py
  applications/GeoMechanicsApplication/tests/test_absorbing_boundary_validation.py
  applications/GeoMechanicsApplication/tests/test_helper.py
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_line.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_line.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_line.gid/test_inclined_phreatic_line.mdpa
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_line_time_dependent.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_line_time_dependent.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_line_time_dependent.gid/test_inclined_phreatic_line_time_dependent.mdpa
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line.gid/test_inclined_phreatic_multi_line.mdpa
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_3_points.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_3_points.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_3_points.gid/test_inclined_phreatic_multi_line.mdpa
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_time_dependent_centre.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_time_dependent_centre.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_time_dependent_centre.gid/test_inclined_phreatic_multi_line_time_dependent_centre.mdpa
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_time_dependent_edges.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_time_dependent_edges.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_inclined_phreatic_multi_line_time_dependent_edges.gid/test_inclined_phreatic_multi_line_time_dependent_edges.mdpa
  applications/GeoMechanicsApplication/tests/test_water_pressure.py
Labels: GeoMechanics

#11700 [Med] minor cleanup in tests
  applications/MedApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/MedApplication/custom_utilities/med_testing_utilities.cpp
  applications/MedApplication/custom_utilities/med_testing_utilities.h
  applications/MedApplication/tests/med_files/empty.med
  applications/MedApplication/tests/med_files/hexahedral_20N.med
  applications/MedApplication/tests/med_files/hexahedral_27N.med
  applications/MedApplication/tests/med_files/hexahedral_8N.med
  applications/MedApplication/tests/med_files/only_nodes.med
  applications/MedApplication/tests/med_files/quadrilateral_4N_2d/create_mesh.py
  applications/MedApplication/tests/med_files/quadrilateral_4N_2d/mesh.med
  applications/MedApplication/tests/med_files/tetrahedral_10N.med
  applications/MedApplication/tests/med_files/tetrahedral_4N.med
  applications/MedApplication/tests/med_files/triangle_3N_2d/create_mesh.py
  applications/MedApplication/tests/med_files/triangle_3N_2d/mesh.med
  applications/MedApplication/tests/med_files/triangle_3N_3d/create_mesh.py
  applications/MedApplication/tests/med_files/triangle_3N_3d/mesh.med
  applications/MedApplication/tests/test_med_model_part_io.py
  applications/MedApplication/tests/testing_utilities.py
Labels: Cleanup, Applications, FastPR

#11706 [GeoMechanicsApplication] Added the missing keyword `raise`
  applications/GeoMechanicsApplication/tests/test_helper.py
Labels: Bugfix, GeoMechanics

#11685 [MedApp] add ImportMedModeler
  applications/MedApplication/python_scripts/modelers/import_med_modeler.py
  applications/MedApplication/tests/run_cpp_unit_tests.py
  applications/MedApplication/tests/test_MedApplication.py
  applications/MedApplication/tests/test_import_med_modeler.py
  applications/MedApplication/tests/test_med_model_part_io.py
Labels: Enhancement, Applications

#11699 [StructuralMechanicsApplication] bugfix jumping moving load
  applications/StructuralMechanicsApplication/custom_conditions/moving_load_condition.h
  applications/StructuralMechanicsApplication/custom_processes/set_moving_load_process.cpp
  applications/StructuralMechanicsApplication/tests/test_set_moving_load_process.py
Labels: Applications, Bugfix

#11705 [Hotfix][Core] Project serialization fix
  kratos/python/add_serializer_to_python.cpp
  kratos/python_scripts/project.py
Labels: Kratos Core, Hotfix, Multistage

#11715 [Docker] only new intel compiler
  scripts/docker_files/docker_file_ci_ubuntu_22_04/DockerFile
Labels: Intel, Continuous Integration

#11605 [MedApplication] Add support for reading SubModelParts
  applications/MedApplication/README.md
  applications/MedApplication/custom_io/med_model_part_io.cpp
  applications/MedApplication/tests/med_files/cube_sub_subgroups.med
  applications/MedApplication/tests/med_files/cube_with_adjacent_groups.med
  applications/MedApplication/tests/med_files/cube_with_groups.med
  applications/MedApplication/tests/test_MedApplication.py
  applications/MedApplication/tests/test_med_model_part_io_read_smp.py
Labels: Enhancement, Applications, Usability

#11664 [Core][Documentation] Even more documentation for `pointer_vector_set.h`
  kratos/containers/pointer_vector_set.h
Labels: Cleanup, Kratos Core, Documentation, FastPR

#11708 [MedApp] add python registry
  applications/MedApplication/CMakeLists.txt
  applications/MedApplication/MedApplication.py
  applications/MedApplication/python_registry_lists.py
Labels: Applications, Python

#11716 [Core][MPI] Partially adapt `CppTestsUtilities` for MPI
  kratos/utilities/cpp_tests_utilities.cpp
  kratos/utilities/cpp_tests_utilities.h
Labels: Kratos Core, Testing, Parallel-MPI, FastPR, Transition

#11480 [OptApp] Integration of NLOPT library
  applications/OptimizationApplication/python_scripts/algorithms/NLOPT_algorithms.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_NLOPT_constraint.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_NLOPT_objective.py
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/materials_2D.json
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/primal_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/shell.mdpa
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/test_mma_optimizer.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, Feature

#11701 [GeoMechanicsApplycation] Settlement API
  applications/GeoMechanicsApplication/CMakeLists.txt
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_k0_procedure_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraint_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_scalar_constraint_table_process.h
  applications/GeoMechanicsApplication/custom_processes/apply_vector_constraint_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_vector_constraint_table_process.h
  applications/GeoMechanicsApplication/custom_strategies/schemes/backward_euler_quasistatic_U_Pw_scheme.hpp
  applications/GeoMechanicsApplication/custom_utilities/element_utilities.hpp
  applications/GeoMechanicsApplication/custom_utilities/solving_strategy_factory.hpp
  applications/GeoMechanicsApplication/custom_workflows/custom_workflow_factory.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.h
  applications/GeoMechanicsApplication/custom_workflows/solving_strategy_wrapper.hpp
  applications/GeoMechanicsApplication/custom_workflows/time_step_executor.cpp
  applications/GeoMechanicsApplication/custom_workflows/write_output.cpp
  applications/GeoMechanicsApplication/custom_workflows/write_output.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_dgeosettlement.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_head_extrapolation_flow_workflow.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_settlement_workflow.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_solving_strategy_factory.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_solving_strategy_wrapper.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities.h
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_1.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_2.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_3.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_4.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/Kratos_stages.py
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/ProjectParameters_stage3.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/ProjectParameters_stage4.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model.mdpa
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage1.post.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage2.post.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage3.post.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage4.post.orig.res
Labels: GeoMechanics

#11725 [Core] Separate `PointObject` in different file
  applications/ContactStructuralMechanicsApplication/custom_processes/base_contact_search_process.h
  kratos/processes/simple_mortar_mapper_process.h
  kratos/spatial_containers/point_object.cpp
  kratos/spatial_containers/point_object.h
  kratos/spatial_containers/specialized_spatial_search.cpp
  kratos/spatial_containers/specialized_spatial_search.h
Labels: Kratos Core, Applications, FastPR, Refactor

#11704 Add vtk Biquadratic element
  kratos/input_output/vtk_definition.cpp
Labels: Enhancement

#10715 [Core] Adding deprecation message to CheckSameModelPartUsingSkinDistanceProcess + check dimension
  kratos/processes/check_same_modelpart_using_skin_distance_process.cpp
  kratos/processes/check_same_modelpart_using_skin_distance_process.h
  kratos/python_scripts/check_same_model_part_using_skin_process.py
Labels: Warning, Kratos Core, Python, Deprecated, Refactor

#11731 [Core] Defines `ObjectType` and `PointType` in `GeometricalObjectsBins`
  kratos/spatial_containers/geometrical_objects_bins.cpp
  kratos/spatial_containers/geometrical_objects_bins.h
Labels: Kratos Core, Typo, FastPR, Transition

#11696 Geo/tests strain measures
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_strain_measures.py
  applications/GeoMechanicsApplication/tests/test_strain_measures/README.md
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_large_deformation_logarithmic_strain/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_large_deformation_logarithmic_strain/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_large_deformation_logarithmic_strain/README.md
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_large_deformation_logarithmic_strain/column_large_displacement_logarithmic_strain.mdpa
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_linear_strain/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_linear_strain/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_linear_strain/README.md
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_linear_strain/column_small_displacement_linear_strain.mdpa
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_logarithmic_strain/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_logarithmic_strain/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_logarithmic_strain/README.md
  applications/GeoMechanicsApplication/tests/test_strain_measures/diff_order_elements/column_small_deformation_logarithmic_strain/column_small_displacement_logarithmic_strain.mdpa
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_large_deformation_logarithmic_strain/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_large_deformation_logarithmic_strain/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_large_deformation_logarithmic_strain/README.md
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_large_deformation_logarithmic_strain/column_large_displacement_logarithmic_strain.mdpa
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_linear_strain/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_linear_strain/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_linear_strain/README.md
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_linear_strain/column_small_displacement_linear_strain.mdpa
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_logarithmic_strain/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_logarithmic_strain/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_logarithmic_strain/README.md
  applications/GeoMechanicsApplication/tests/test_strain_measures/same_order_elements/column_small_deformation_logarithmic_strain/column_small_displacement_logarithmic_strain.mdpa
Labels: Testing, GeoMechanics

#11735 [Core] Adding minor definition for `ObjectType` for `PointObject`
  kratos/spatial_containers/point_object.h
Labels: Kratos Core, FastPR, Transition

#11730 [Core] Defining `GetBoundingBox` in `Tree` class. Plus adding documentation
  kratos/geometries/bounding_box.h
  kratos/spatial_containers/tree.h
Labels: Enhancement, Cleanup, Kratos Core, Documentation, FastPR

#11736 [GeoMechanicsApplication] Define, add, and register variables for thermal analysis
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_geo_mechanics_application.cpp
Labels: GeoMechanics

#11737 [Core] Adding `GetObjectType` and define `ObjectType` in `Tree`
  kratos/spatial_containers/tree.h
Labels: Kratos Core, FastPR, Transition

#11738 [Core] Specialize `PointObject` for `Geometry<Node>`
  kratos/processes/calculate_distance_to_path_process.cpp
  kratos/processes/calculate_distance_to_path_process.h
  kratos/spatial_containers/point_object.cpp
Labels: Duplicate, Cleanup, Kratos Core, FastPR, Refactor

#11723 [GeoMechanicsApplication] Enable line load in settlement workflow
  applications/GeoMechanicsApplication/custom_processes/apply_component_table_process.hpp
  applications/GeoMechanicsApplication/custom_utilities/math_utilities.hpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.h
  applications/GeoMechanicsApplication/custom_workflows/write_output.cpp
Labels: GeoMechanics
