Repository KratosMultiphysics/Kratos, pull requests merged in 2023-04, with the labels that each got.

#10936 [MPM] Element classes renamed
  applications/CoSimulationApplication/tests/mpm_dem/beam_Body.mdpa
  applications/CoSimulationApplication/tests/mpm_fem_beam/particle_Body.mdpa
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_PQ.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_PQ.hpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.cpp
  applications/ParticleMechanicsApplication/custom_elements/updated_lagrangian_UP.hpp
  applications/ParticleMechanicsApplication/custom_utilities/mpm_particle_generator_utility.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.cpp
  applications/ParticleMechanicsApplication/particle_mechanics_application.h
  applications/ParticleMechanicsApplication/tests/axisym_tests/circular_plate_axisym_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_line_load_2D_quad_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_point_load_2D_tri_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/cantilever_beam/static_surface_load_3D_hexa_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_UP_hyperelastic_cantilever_test/cantilever_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/beam_tests/hyperelastic_cantilever_beam/self_weight_load_2D_quad_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/cl_tests/fluid_cl/newtonian_fluid_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/cl_tests/solid_cl/linear_elastic_3D_hexa_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/cooks_membrane_tests/cook_membrane_2D_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_energy_calculation_utility.cpp
  applications/ParticleMechanicsApplication/tests/cpp_tests/test_search_element_utility.cpp
  applications/ParticleMechanicsApplication/tests/explicit_tests/axisymmetric_disk/quad_compressible_explicit_axisym_disk_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/explicit_tests/axisymmetric_disk/tri_compressible_explicit_axisym_disk_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/explicit_tests/oscillating_point/explicit_oscillating_point_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/explicit_tests/oscillating_point/tri_explicit_oscillating_point_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/explicit_tests/oscillating_point_3d/3dhex_compressible_explicit_oscillating_point_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/explicit_tests/oscillating_point_3d/3dtet_compressible_explicit_oscillating_point_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/gravity_tests/dynamic_gravity_application_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_2D_test_body.mdpa
  applications/ParticleMechanicsApplication/tests/pqmpm_tests/pqmpm_explicit_3D_test_body.mdpa
  applications/ParticleMechanicsApplication/tests/slip_tests/slip_boundary_test_Body.mdpa
  applications/ParticleMechanicsApplication/tests/test_generate_mpm_particle_condition.py
  applications/ParticleMechanicsApplication/tests/test_particle_erase_process.py
Labels: Bugfix

#9433 [Structural] Defining initial strains in beams
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_2D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/cr_beam_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam2D2N_test.mdpa
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam2D2N_test_materials.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam2D2N_test_parameters.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam2D2N_test_results.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam3D2N_test.mdpa
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam3D2N_test_materials.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam3D2N_test_parameters.json
  applications/StructuralMechanicsApplication/tests/InitialStateElasticity/initial_strain_cr_beam3D2N_test_results.json
Labels: Enhancement, Applications

#10942 [Core] Cleaning up spatial containers
  kratos/spatial_containers/bins_dynamic.h
  kratos/spatial_containers/bins_dynamic_objects.h
  kratos/spatial_containers/bins_static.h
  kratos/spatial_containers/bins_static_objects.h
  kratos/spatial_containers/bounding_volume_tree.h
  kratos/spatial_containers/bucket.h
  kratos/spatial_containers/cell.h
  kratos/spatial_containers/dem_search.h
  kratos/spatial_containers/geometrical_objects_bins.h
  kratos/spatial_containers/kd_tree.h
  kratos/spatial_containers/octree.h
  kratos/spatial_containers/octree_binary.h
  kratos/spatial_containers/octree_binary_cell.h
  kratos/spatial_containers/point_search.h
  kratos/spatial_containers/search_structure.h
  kratos/spatial_containers/spatial_containers.h
  kratos/spatial_containers/spatial_search.h
  kratos/spatial_containers/spatial_search_result.h
  kratos/spatial_containers/tree.h
  kratos/tests/cpp_tests/spatial_containers/test_bins_dynamic.cpp
  kratos/tests/cpp_tests/spatial_containers/test_bins_static.cpp
  kratos/tests/cpp_tests/spatial_containers/test_geometrical_objects_bins.cpp
Labels: Cleanup, Kratos Core, FastPR

#10958 [Core] removing & in process parameters
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/processes/calculate_discontinuous_distance_to_skin_process.h
  kratos/processes/calculate_distance_to_skin_process.cpp
  kratos/processes/calculate_distance_to_skin_process.h
  kratos/processes/structured_mesh_generator_process.cpp
  kratos/processes/structured_mesh_generator_process.h
  kratos/python/add_processes_to_python.cpp
Labels: Cleanup

#10960 [Core] Adding C++ test to `KDTree`
  kratos/spatial_containers/kd_tree.h
  kratos/spatial_containers/tree.h
  kratos/tests/cpp_tests/spatial_containers/test_kde_tree.cpp
Labels: Cleanup, Kratos Core, Documentation, Transition

#10962 [StructuralMechanicsApplication] correctly resized equationidvector
  applications/StructuralMechanicsApplication/custom_conditions/base_load_condition.cpp
Labels: Applications

#10963 [Core] Rename test with wrong name
  kratos/tests/cpp_tests/spatial_containers/test_kd_tree.cpp
Labels: Kratos Core, Testing, FastPR, Refactor

#10964 [Core] Separate `SpatialSearch` into header and source and register methods
  kratos/python/add_search_strategies_to_python.cpp
  kratos/python/kratos_python.cpp
  kratos/spatial_containers/dem_search.h
  kratos/spatial_containers/spatial_search.cpp
  kratos/spatial_containers/spatial_search.h
Labels: Cleanup, Kratos Core, Python

#10967 [Core] Replace enums with static constexpr in octree objects
  kratos/spatial_containers/octree_binary.h
  kratos/spatial_containers/octree_binary_cell.h
Labels: Cleanup, Kratos Core, FastPR, Legacy, Refactor, Leftover

#10768 [OptApp] Restructure 5 - Add container data
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_utilities/container_expression_utils.cpp
  applications/OptimizationApplication/custom_utilities/container_expression_utils.h
  applications/OptimizationApplication/custom_utilities/container_properties_data_io.h
  applications/OptimizationApplication/optimization_application.cpp
  applications/OptimizationApplication/optimization_application_variables.cpp
  applications/OptimizationApplication/optimization_application_variables.h
  applications/OptimizationApplication/tests/model_part_utils_test/quads.mdpa
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_OptimizationApplication_mpi.py
  applications/OptimizationApplication/tests/test_container_expression.py
  applications/OptimizationApplication/tests/test_container_expression_utils.py
Labels: Applications, Python, C++

#10966 [Core] Remove unused `point_search.h`
  kratos/spatial_containers/point_search.h
Labels: Cleanup, Kratos Core, FastPR

#10971 [Core] Remove legacy `contact_pair.h`
  applications/DEMApplication/custom_search/bins_dynamic_objects_periodic.h
  applications/DEMApplication/custom_utilities/discrete_particle_configure.h
  applications/DEMApplication/custom_utilities/geometrical_object_configure.h
  applications/DEMApplication/custom_utilities/node_configure.h
  applications/DEMApplication/custom_utilities/rigid_face_geometrical_object_configure.h
  applications/MappingApplication/custom_searching/custom_configures/interface_object_configure.h
  applications/StructuralMechanicsApplication/custom_utilities/node_configure_for_node_search.h
  applications/StructuralMechanicsApplication/custom_utilities/node_search_utility.cpp
  applications/StructuralMechanicsApplication/custom_utilities/node_search_utility.h
  applications/SwimmingDEMApplication/custom_utilities/search/discrete_particle_configure.h
  applications/SwimmingDEMApplication/custom_utilities/search/mpi_discrete_particle_configure.h
  applications/SwimmingDEMApplication/custom_utilities/search/point_configure.h
  kratos/spatial_containers/bins_dynamic_objects.h
  kratos/spatial_containers/cell.h
  kratos/spatial_containers/configures/node_configure.h
  kratos/spatial_containers/spatial_search.h
  kratos/utilities/contact_pair.h
  kratos/utilities/spatial_containers_configure.h
Labels: Cleanup, Kratos Core, Applications, Legacy, Leftover

#10770 [OptApp] Restructure 6 - Collective data container
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_utilities/collective_expressions.cpp
  applications/OptimizationApplication/custom_utilities/collective_expressions.h
  applications/OptimizationApplication/custom_utilities/container_expression_utils.cpp
  applications/OptimizationApplication/custom_utilities/container_expression_utils.h
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_OptimizationApplication_mpi.py
  applications/OptimizationApplication/tests/test_collective_expressions.py
  applications/OptimizationApplication/tests/test_container_expression_utils.py
Labels: Applications, Python, C++

#10951 [GeoMechanicsApplication] Geo/10805 normal load
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.cpp
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.hpp
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_normal_load_on_1d_element.py
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam.gid/test_normal_load_on_beam.mdpa
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam_and_soil.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam_and_soil.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam_and_soil.gid/test_normal_load_on_beam_and_soil.mdpa
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam_higher_order.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam_higher_order.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_on_beam_higher_order.gid/test_normal_load_on_beam_higher_order.mdpa
Labels: GeoMechanics

#10968 [Core] pass settings to apply ray casting process
  kratos/processes/apply_ray_casting_process.cpp
  kratos/processes/apply_ray_casting_process.h
  kratos/processes/calculate_distance_to_skin_process.cpp
  kratos/processes/calculate_distance_to_skin_process.h
  kratos/python/add_processes_to_python.cpp
Labels: Enhancement

#10984 [Core] Correct name for applications in CodeLocation
  kratos/sources/code_location.cpp
Labels: FastPR

#10987 [Core] Add Octree tests for KratosCoreFastSuite
  kratos/spatial_containers/octree.h
  kratos/tests/cpp_tests/spatial_containers/test_kd_tree.cpp
  kratos/tests/cpp_tests/spatial_containers/test_octree.cpp
Labels: Kratos Core, Testing, FastPR

#10969 [StructuralMechanicsApplication] adding 2D2N spring damper element
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element.hpp
  applications/StructuralMechanicsApplication/custom_elements/spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_spring_damper_element_3D2N.cpp
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_adjoint_static_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/adjoint_sensitivity_analysis_tests/adjoint_spring_damper_element_3d2n/Spring_structure.mdpa
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_spring_damper_element.cpp
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
  applications/StructuralMechanicsApplication/tests/test_spring_damper_element.py
Labels: Applications, Feature

#10993 [ThermalDEM] Small fixes for disk particles
  applications/ThermalDEMApplication/custom_constitutive/conduction/direct_conduction_pipe.cpp
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.cpp
  applications/ThermalDEMApplication/custom_elements/thermal_spheric_particle.h
Labels: Applications, FastPR

#11004 [GeoMechanicsApplication] Removed a duplicated line of test code
  applications/GeoMechanicsApplication/python_scripts/geomechanics_U_Pw_solver.py
Labels: GeoMechanics

#10911 [Core] Automatic prototypes registry
  kratos/controllers/register_controllers.cpp
  kratos/includes/define_registry.h
  kratos/includes/kratos_application.h
  kratos/includes/registry_item.h
  kratos/operations/operation.h
  kratos/operations/register_operations.cpp
  kratos/processes/output_process.h
  kratos/processes/process.h
  kratos/processes/register_processes.cpp
  kratos/sources/kratos_application.cpp
  kratos/tests/cpp_tests/sources/test_registry.cpp
  kratos/tests/test_python_registry.py
Labels: Enhancement, Kratos Core, Feature

#10991 Core/export unique dofs array type
  kratos/python/add_dofs_to_python.cpp
  kratos/tests/test_dofs.py
Labels: Kratos Core, FastPR

#11009 [Core] Move some methods to source file in `geometry_utilities.h`
  kratos/utilities/geometry_utilities.cpp
  kratos/utilities/geometry_utilities.h
Labels: Cleanup, Kratos Core, FastPR, Refactor

#10924 [DEM] Improve Stress Dependent Cohesive CL
  applications/DEMApplication/custom_constitutive/DEM_D_Stress_dependent_cohesive_CL.cpp
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/mesh_to_mdpa_converter.py
  applications/DEMApplication/python_scripts/sphere_strategy.py
Labels: Enhancement

#11015 [GeoMechanicsApplication] backward-euler is a scheme_type i.s.o. a solution_type
  applications/GeoMechanicsApplication/python_scripts/geomechanics_U_Pw_solver.py
Labels: GeoMechanics

#11014 [Core] Convection process usability fixes
  kratos/processes/levelset_convection_process.h
Labels: Kratos Core, Bugfix

#10132 [Core] Calculate qef utility
  kratos/tests/cpp_tests/utilities/test_qef_utility.cpp
  kratos/utilities/qef_utility.cpp
  kratos/utilities/qef_utility.h
Labels: Kratos Core, C++

#11018 [GeoMechanicsApplication] Removed the unreachable twophase condition
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solvers_wrapper.py
Labels: GeoMechanics

#11021 [StructuralMechanicsApplication] Clean up and minor refactoring in StructuralMechanicsApplication
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/structural_mechanics_application_variables.h
  applications/StructuralMechanicsApplication/tests/test_patch_test_large_strain.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_strain.py
Labels: Cleanup, Applications, FastPR

#11017 [Dam] Update uplift process
  applications/DamApplication/custom_constitutive/dam_joint_2D_law.cpp
  applications/DamApplication/custom_constitutive/dam_joint_2D_law.hpp
  applications/DamApplication/custom_constitutive/dam_joint_3D_law.cpp
  applications/DamApplication/custom_constitutive/dam_joint_3D_law.hpp
  applications/DamApplication/custom_elements/small_displacement_interface_element.cpp
  applications/DamApplication/custom_elements/small_displacement_interface_element.hpp
  applications/DamApplication/custom_processes/dam_uplift_circular_condition_load_process.hpp
  applications/DamApplication/custom_processes/dam_uplift_condition_load_process.hpp
  applications/DamApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/DamApplication/custom_python/add_custom_processes_to_python.cpp
  applications/DamApplication/python_scripts/impose_water_loads_condition_process.py
Labels: Enhancement

#10999 Assign Neighbour Elements to Conditions - Convection Diffusion
  applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py
Labels: FastPR, ConvectionDiffusion

#11022 [StructuralMechanicsApplication] Adding test for quadratic triangles
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_strain.py
Labels: Applications, Testing, FastPR

#11016 [Core] Add support for `Pyramid3D13`, `Hexahedra3D20` and `Prism3D15` in `VtkOutput`, adding reorder function
  kratos/input_output/vtk_output.cpp
  kratos/input_output/vtk_output.h
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticHexahedra3D/Main_0_2.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticHexahedra3D/Main_0_4.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticHexahedra3D/Main_0_6.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticPrism3D/Main_0_2.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticPrism3D/Main_0_4.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/asciiQuadraticPrism3D/Main_0_6.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticHexahedra3D/Main_0_2.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticHexahedra3D/Main_0_4.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticHexahedra3D/Main_0_6.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticPrism3D/Main_0_2.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticPrism3D/Main_0_4.vtk
  kratos/tests/auxiliar_files_for_python_unittest/vtk_output_process_ref_files/binaryQuadraticPrism3D/Main_0_6.vtk
  kratos/tests/test_vtk_output_process.py
Labels: Enhancement, Documentation

#11030 [Core] Minor clean up spatial search result
  kratos/spatial_containers/spatial_search_result.h
Labels: Cleanup, Kratos Core, FastPR

#10834 [DEMApplication] Some minor modifications to the parallel bond model
  applications/DEMApplication/CMakeLists.txt
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_constitutive/DEM_D_Linear_classic_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_D_Linear_viscous_Coulomb_CL.h
  applications/DEMApplication/custom_constitutive/DEM_D_Quadratic_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_parallel_bond_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_parallel_bond_for_membrane_CL.cpp
  applications/DEMApplication/custom_constitutive/DEM_parallel_bond_for_membrane_CL.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/DEMApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/DEMApplication/custom_strategies/strategies/explicit_solver_strategy.cpp
  applications/DEMApplication/custom_utilities/pre_utilities.h
  applications/DEMApplication/python_scripts/DEM_analysis_stage.py
  applications/DEMApplication/python_scripts/DEM_procedures.py
  applications/DEMApplication/tests/dem_3d_parallel_bond_model_tests_files/MaterialsDEM.json
  applications/DemStructuresCouplingApplication/python_scripts/dem_fem_coupling_algorithm.py
  applications/DemStructuresCouplingApplication/python_scripts/sp_dem_fem_coupling_algorithm.py
Labels: Enhancement, Applications

#11019 [Core] Adding test for `Hexahedra3D20` and cleaning tests for `Hexahedra3D8`
  kratos/tests/cpp_tests/geometries/test_hexahedra_3d_20.cpp
  kratos/tests/cpp_tests/geometries/test_hexahedra_3d_8.cpp
Labels: Kratos Core, C++, Testing, FastPR

#11036 [Core][MPI] Refactor MPI Python bindings and update header guards
  kratos/mpi/python/add_distributed_sparse_matrices_to_python.cpp
  kratos/mpi/python/add_distributed_sparse_matrices_to_python.h
  kratos/mpi/python/add_mpi_communicator_to_python.cpp
  kratos/mpi/python/add_mpi_communicator_to_python.h
  kratos/mpi/python/add_mpi_data_communicator_to_python.cpp
  kratos/mpi/python/add_mpi_data_communicator_to_python.h
  kratos/mpi/python/add_mpi_debug_utilities_to_python.h
  kratos/mpi/python/add_mpi_utilities_to_python.cpp
  kratos/mpi/python/add_mpi_utilities_to_python.h
  kratos/mpi/python/kratos_mpi_python.cpp
Labels: Cleanup, Kratos Core, Python, Parallel-MPI, FastPR

#10976 [MeshingApplication][StructualMechanicsApplication] Update legacy configuration
  applications/ContactStructuralMechanicsApplication/python_scripts/adaptative_remeshing_contact_structural_mechanics_analysis.py
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/test_remesh_shell_parameters.json
  applications/StructuralMechanicsApplication/python_scripts/adaptative_remeshing_structural_mechanics_analysis.py
Labels: Applications, Legacy

#11008 [Core] Define `CalculateDistance` for `Triangle3D3` and `Line3D2`
  kratos/geometries/line_3d_2.h
  kratos/geometries/triangle_3d_3.h
Labels: Enhancement, Kratos Core

#11023 [Core] Refactor Prism3D15 tests and improve readability
  kratos/tests/cpp_tests/geometries/test_prism_3d_15.cpp
Labels: Cleanup, Kratos Core, FastPR

#11029 [Core] Cleaning `bounding_box.h`
  kratos/geometries/bounding_box.h
Labels: Cleanup, Kratos Core, FastPR

#11038 [OptApp] Extend CollectiveExpressions to support continuous double vectors
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_utilities/collective_expressions.cpp
  applications/OptimizationApplication/custom_utilities/collective_expressions.h
  applications/OptimizationApplication/tests/test_collective_expressions.py
Labels: Applications, Python, C++, Feature

#11033 [GeoMechanics] Cleanup solver selection tree. Remove selection of solvers that do not exist.
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solvers_wrapper.py
Labels: GeoMechanics

#11044 [Core][Python] Some cleaning in Python bindings for Kratos strategies, serializers, and matrices
  kratos/python/add_serializer_to_python.cpp
  kratos/python/add_sparse_matrices_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/python/add_table_to_python.cpp
  kratos/python/add_testing_to_python.cpp
Labels: Cleanup, Kratos Core, Python, FastPR

#11049 [Core] Add branch name to Kratos version information
  CMakeLists.txt
  kratos/CMakeLists.txt
  kratos/includes/kratos_version.h
  kratos/sources/kratos_version.cpp
Labels: Enhancement, Kratos Core, Documentation

#11001 [Core] Add missing radius array validation and creation to search strategies in Python bindings
  kratos/python/add_search_strategies_to_python.cpp
Labels: Error, Kratos Core, FastPR

#11052 [Core] Documenting `Tester`
  kratos/testing/tester.cpp
  kratos/testing/tester.h
Labels: Kratos Core, Documentation, FastPR

#11057 [Core] Missing `Pointer` definition for `TreeNode`
  kratos/spatial_containers/tree.h
Labels: Kratos Core, FastPR

#10916 [CORE] Adding Accessor and Properties extension (virtual version)
  kratos/includes/accessor.h
  kratos/includes/initial_state.h
  kratos/includes/properties.h
  kratos/sources/accessor.cpp
  kratos/tests/cpp_tests/includes/test_property_accessor.cpp
Labels: Enhancement, Kratos Core

#11064 [Core] Minor clean up `GlobalPointer` tests
  kratos/includes/global_pointer.h
  kratos/mpi/tests/cpp_tests/sources/test_pointer_communicator.cpp
  kratos/tests/cpp_tests/global_pointers/test_global_pointer.cpp
  kratos/tests/cpp_tests/global_pointers/test_global_pointers_container.cpp
  kratos/tests/cpp_tests/global_pointers/test_global_pointers_vector.cpp
  kratos/utilities/pointer_communicator.h
Labels: Cleanup, Kratos Core, Testing, FastPR
