Repository KratosMultiphysics/Kratos, pull requests merged in 2024-03, with the labels that each got.

#12129 [Doc] Update `README.md` adding YouTube channel
  README.md
Labels: Documentation, FastPR

#12132 [Doc] Update version number in `README.md`
  README.md
Labels: Documentation, FastPR

#12139 Remove EigenSolversApplication
  applications/DamApplication/python_scripts/dam_eigen_solver.py
  applications/EigenSolversApplication/CMakeLists.txt
  applications/EigenSolversApplication/EigenSolversApplication.py
  docs/pages/Kratos/For_Users/How_To_Get_Kratos/Binaries.md
  scripts/wheels/linux/configure.sh
  scripts/wheels/windows/configure.bat
Labels: Cleanup, Applications, Deprecated, FastPR, Leftover

#12134 [Core] Separate source/header in `CheckSkinProcess`
  kratos/processes/check_skin_process.cpp
  kratos/processes/check_skin_process.h
Labels: Cleanup, Kratos Core, FastPR, Refactor, Header/source refactor

#12137 [Core] Separate header/source `ApplyConstantVectorValueProcess`
  kratos/processes/apply_constant_vectorvalue_process.cpp
  kratos/processes/apply_constant_vectorvalue_process.h
Labels: Cleanup, Kratos Core, FastPR, Refactor, Header/source refactor

#12119 [Core] Improve `ComputeNodalGradientProcess`, adding python test and missing documentation
  docs/pages/Kratos/Processes/Calculation/calculate_distance_to_skin_process.md
  docs/pages/Kratos/Processes/Calculation/compute_nodal_gradient_process.md
  docs/pages/Kratos/Processes/Calculation/figures/compute_nodal_gradient_process.png
  kratos/mpi/tests/test_KratosMPICore.py
  kratos/processes/compute_nodal_gradient_process.cpp
  kratos/processes/compute_nodal_gradient_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_compute_nodal_gradient_process.py
Labels: Enhancement, Kratos Core, Python, Testing, Documentation, Parallel-MPI

#12156 [DEMStructuresApp] Soving minor compilation error
  applications/DemStructuresCouplingApplication/custom_utilities/pore_pressure_communicator_utility.hpp
  applications/DemStructuresCouplingApplication/python_scripts/dem_poromechanics_coupling_analysis_stage.py
Labels: FastPR

#12161 [FastPR][Core] Newton-Raphson convergence criteria echo level
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: FastPR, Inconsistent

#12140 [RomApp] Fixing Ids issues in ROM files.
  applications/RomApplication/python_scripts/calculate_rom_basis_output_process.py
  applications/RomApplication/python_scripts/hrom_training_utility.py
  applications/RomApplication/tests/calculate_rom_basis_output_process_test_files/NodeIds_Results.npy
  applications/RomApplication/tests/calculate_rom_basis_output_process_test_files/RightBasisMatrix_Results.npy
  applications/RomApplication/tests/calculate_rom_basis_output_process_test_files/RomParameters_test_Results.json
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/test_calculate_rom_basis_output_process_json.py
  applications/RomApplication/tests/test_calculate_rom_basis_output_process_numpy.py
Labels: Bugfix, ROM

#12157 [OptApp] Implement filter base class
  applications/OptimizationApplication/python_scripts/filtering/filter.py
Labels: Applications, Python, FastPR, Optimization

#12164 [Expressions] Fixes the test failure
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Python, Parallel-MPI, FastPR, Bugfix

#12120 [Structural] Adding SBM based on extension operators
  applications/StructuralMechanicsApplication/custom_conditions/displacement_shifted_boundary_condition.cpp
  applications/StructuralMechanicsApplication/custom_conditions/displacement_shifted_boundary_condition.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_shifted_boundary_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_shifted_boundary_element.h
  applications/StructuralMechanicsApplication/python_scripts/python_solvers_wrapper_structural.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_shifted_boundary_solver.py
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp_shifted_boundary/patch_test_2D_tension_tri_shifted_boundary.mdpa
  applications/StructuralMechanicsApplication/tests/patch_test/small_disp_shifted_boundary/patch_test_2D_tension_tri_shifted_boundary_parameters.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_displacement_shifted_boundary.py
Labels: Applications, Feature

#12165 [OptApp] Fixing ProjectForward in Sigmoidal Projection
  applications/OptimizationApplication/custom_utilities/control/sigmoidal_projection_utils.cpp
  applications/OptimizationApplication/tests/test_sigmoidal_projection.py
Labels: Applications, C++, Hotfix, FastPR, Optimization

#12146 [Core] Refactor and clean up `CalculateNodalAreaProcess`
  docs/pages/Kratos/Processes/Calculation/calculate_nodal_area_process.md
  docs/pages/Kratos/Processes/Calculation/calculate_nodal_distance_to_skin_process.md
  kratos/processes/calculate_nodal_area_process.cpp
  kratos/processes/calculate_nodal_area_process.h
  kratos/python/add_processes_to_python.cpp
  kratos/tests/cpp_tests/processes/test_calculate_nodal_area_process.cpp
Labels: Cleanup, Kratos Core, FastPR, Refactor

#12171 [GeoMechanicsApplication] Reorder DOFs of non-diff order U-Pw elements and conditions (#12061)
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_microclimate_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.hpp
  applications/GeoMechanicsApplication/custom_elements/README.md
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/geo_curved_beam_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_utilities/condition_utilities.hpp
  applications/GeoMechanicsApplication/custom_utilities/dof_utilities.h
  applications/GeoMechanicsApplication/custom_utilities/element_utilities.hpp
  applications/GeoMechanicsApplication/custom_utilities/interface_element_utilities.hpp
  applications/GeoMechanicsApplication/geo_aliases.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_dof_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities/model_setup_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities/model_setup_utilities.h
Labels: GeoMechanics

#12179 [StructuralMechanicsApplication] Fix `reponse` typo ➡️ `response`
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/base_solid_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_bbar.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian_mixed_volumetric_strain_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/total_lagrangian_q1p0_mixed_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/updated_lagrangian.cpp
  applications/StructuralMechanicsApplication/python_scripts/symbolic_generation/total_lagrangian_mixed_volumetric_strain_element/total_lagrangian_mixed_volumetric_strain_element_template.cpp
Labels: Applications, Typo, FastPR

#12172 [Doc][ContactStructuralMechanicsApplication] Point to reference in `README.md`
  applications/ContactStructuralMechanicsApplication/README.md
Labels: Applications, Documentation, FastPR

#12182 [GeoMechanicsApplication] Fixed several code smells
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
Labels: GeoMechanics

#12187 [ContactStructuralMechanicsApplication] Fix typos `README.md`
  applications/ContactStructuralMechanicsApplication/README.md
Labels: Applications, Typo, FastPR

#12166 [OptApp] Update filter interfaces
  applications/OptimizationApplication/python_scripts/filtering/filter.py
Labels: Applications, Python, FastPR, Optimization

#12188 [Core] Add TContainerType templated GetContainer
  kratos/utilities/model_part_utils.h
Labels: Kratos Core, C++, FastPR, Feature

#12177 ROM: Enabling Numpy Format for Including Phi into Psi
  applications/RomApplication/python_scripts/petrov_galerkin_training_utility.py
  applications/RomApplication/python_scripts/rom_analysis.py
Labels: FastPR, ROM

#12193 [GeoMechanicsApplication] Addressed several code smells related to custom processes
  applications/GeoMechanicsApplication/custom_processes/apply_boundary_hydrostatic_pressure_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_boundary_phreatic_line_pressure_table_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_constant_boundary_hydrostatic_pressure_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_constant_boundary_phreatic_line_pressure_process.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_constant_interpolate_line_pressure_process.hpp
Labels: GeoMechanics

#11854 [Core] Improve Master-Slave Constraint Insertion
  kratos/includes/mesh.h
  kratos/sources/model_part.cpp
Labels: Kratos Core, C++, Performance

#12186 [OptApp] Refactoring Implicit Filters
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_python/optimization_python_application.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/model_part_utils.h
  applications/OptimizationApplication/custom_utilities/implicit_filter_utils.cpp
  applications/OptimizationApplication/custom_utilities/implicit_filter_utils.h
  applications/OptimizationApplication/optimization_application.cpp
  applications/OptimizationApplication/optimization_application_variables.cpp
  applications/OptimizationApplication/optimization_application_variables.h
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_analysis.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_scalar_solver.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_shape_solver.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_solver_base.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_vector_solver.py
  applications/OptimizationApplication/python_scripts/filtering/python_solvers_wrapper_implicit_filters.py
  applications/OptimizationApplication/tests/filtering/implicit_filters_tests.py
Labels: Applications, Python, C++, Refactor, Optimization

#12214 [Core] Add standard JSON interface to ConnectivityPreserveModeler
  kratos/includes/kratos_application.h
  kratos/modeler/connectivity_preserve_modeler.cpp
  kratos/modeler/connectivity_preserve_modeler.h
  kratos/sources/kratos_application.cpp
  kratos/tests/test_connectivity_preserve_modeler.py
Labels: Kratos Core

#7577 [Core] Extend modelpart utilities
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/cpp_tests/sources/test_model_part.cpp
  kratos/utilities/auxiliar_model_part_utilities.cpp
  kratos/utilities/auxiliar_model_part_utilities.h
Labels: Enhancement, Kratos Core

#12205 [Fluid] Amend check and prepare
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_mesh_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_mesh_utilities.h
  applications/FluidDynamicsApplication/python_scripts/check_and_prepare_model_process_fluid.py
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
  applications/FluidDynamicsApplication/tests/cpp_tests/test_fluid_mesh_utilities.cpp
Labels: Applications, Bugfix, Inconsistent, IO

#12218 [OptApp] Rename OptApp/ModelPartUtils to OptAppModelPartUtils
  applications/OptimizationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/opt_app_model_part_utils.cpp
  applications/OptimizationApplication/custom_utilities/geometrical/opt_app_model_part_utils.h
  applications/OptimizationApplication/custom_utilities/response/max_overhang_response_utils.cpp
  applications/OptimizationApplication/python_scripts/controls/material/material_properties_control.py
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_scalar_solver.py
  applications/OptimizationApplication/python_scripts/filtering/helmholtz_vector_solver.py
  applications/OptimizationApplication/python_scripts/utilities/model_part_utilities.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_OptimizationApplication_mpi.py
  applications/OptimizationApplication/tests/test_model_part_utils.py
Labels: Applications, C++, FastPR, Bugfix

#12223 [MeshingApplication] Minor clean up `MMGProcess`
  applications/MeshingApplication/custom_processes/mmg/mmg_process.cpp
  applications/MeshingApplication/custom_processes/mmg/mmg_process.h
Labels: Cleanup, Applications, FastPR

#12220 [GeoMechanicsApplication] Made several member function signatures consistent
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.hpp
Labels: FastPR, GeoMechanics

#12143 [Core] In `SparseMatrixMultiplicationUtility` some modernization + plus `SortRows` minor optimization + replace `omp` simple loops with `IndexPartition<IndexType>`
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_sparse_matrix_multiplication.py
  kratos/utilities/sparse_matrix_multiplication_utility.h
Labels: Cleanup, Kratos Core, C++, Performance, Parallel-SMP, Refactor

#12228 [Poro] Fixing bug in explicit solver
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pl_explicit_dynamic_solver.py
Labels: Applications, Python, FastPR, Bugfix

#12227 [GeoMechanicsApplication] Remove swapping faces in condition process
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_load_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_processes/find_neighbour_elements_of_conditions_process.cpp
  applications/GeoMechanicsApplication/tests/hexa_8n_normal_load/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/hexa_8n_normal_load/MeshStructure.svg
  applications/GeoMechanicsApplication/tests/hexa_8n_normal_load/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/hexa_8n_normal_load/README.md
  applications/GeoMechanicsApplication/tests/hexa_8n_normal_load/hexa_8n_normal_load.mdpa
  applications/GeoMechanicsApplication/tests/lysmer_boundary_column3D/hexa_mesh_in_Z/hexa_mesh_in_Z.mdpa
  applications/GeoMechanicsApplication/tests/lysmer_boundary_column3D/tetra_mesh_in_Y/tetra_mesh_in_Y.mdpa
  applications/GeoMechanicsApplication/tests/lysmer_boundary_column3D/tetra_mesh_in_Z/tetra_mesh_in_Z.mdpa
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_normal_load_on_hexa_element.py
  applications/GeoMechanicsApplication/tests/test_normal_load_tetra_10n.gid/test_normal_load_tetra_10n.mdpa
  applications/GeoMechanicsApplication/tests/test_tetra_10n.gid/test_tetra_10n.mdpa
  applications/GeoMechanicsApplication/tests/test_tetra_4n.gid/test_tetra_4n.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/README.md
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D10N/test_thermal_heat_flux_3D10N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D20N/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D20N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D20N/test_thermal_heat_flux_3D20N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D4N/test_thermal_heat_flux_3D4N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D8N/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D8N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux/test_thermal_heat_flux_3D8N/test_thermal_heat_flux_3D8N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_transient_thermal_heat_flux/test_transient_thermal_heat_flux_3D10N/test_transient_thermal_heat_flux_3D10N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_transient_thermal_heat_flux/test_transient_thermal_heat_flux_3D4N/test_transient_thermal_heat_flux_3D4N.mdpa
  applications/GeoMechanicsApplication/tests/test_transient_thermal.py
Labels: GeoMechanics

#12231 [Core] Minor typos in `linear_solver.h` doxygen
  kratos/linear_solvers/linear_solver.h
Labels: Kratos Core, Documentation, FastPR

#12236 [HDF5] Instantiate `HDF5::File::HasDataType`
  applications/HDF5Application/custom_io/hdf5_file.cpp
Labels: Bug, C++, FastPR

#12226 [Core][ModelPartIO/CodeLocation] clean whitespace function
  kratos/includes/code_location.h
  kratos/includes/model_part_io.h
  kratos/sources/code_location.cpp
  kratos/sources/model_part_io.cpp
Labels: Cleanup, Kratos Core, Legacy
