Repository KratosMultiphysics/Kratos, pull requests merged in 2024-09, with the labels that each got.

#12655 [Geo] Remove compilation warning
  applications/GeoMechanicsApplication/custom_elements/stress_state_policy.cpp
Labels: Warning, FastPR

#12615 [RomApp] Add docs. Part 1
  docs/pages/Applications/Reduced_Order_Modelling_Application/General/API-for-RomApplication-(draft-to-be-moved-elsewhere).md
  docs/pages/Applications/Reduced_Order_Modelling_Application/General/API-for-RomApplication-(draft-to-be-moved-elsewhere.md
  docs/pages/Applications/Reduced_Order_Modelling_Application/General/Overview.md
  docs/pages/Applications/Reduced_Order_Modelling_Application/ROM_Tutorial_with_RomManager/RomTutorial1.md
  docs/pages/Applications/Reduced_Order_Modelling_Application/menu_info.json
Labels: Documentation, ROM

#12654 [GeoMechanicsApplication] Add a linear elastic constitutive law for line interfaces
  applications/GeoMechanicsApplication/custom_constitutive/README.md
  applications/GeoMechanicsApplication/custom_constitutive/incremental_linear_elastic_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/incremental_linear_elastic_interface_law.h
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_incremental_linear_elastic_interface_law.cpp
Labels: GeoMechanics

#12586 [Core] Optimize `LineNearestPoint` and `TriangleNearestPoint`
  kratos/tests/cpp_tests/utilities/test_nearest_point_utilities.cpp
  kratos/utilities/geometry_utilities/nearest_point_utilities.cpp
  kratos/utilities/geometry_utilities/nearest_point_utilities.h
Labels: Kratos Core, Performance, FastPR

#12636 [Core] Allow structured mesh generation to use different mesh size in each direction
  kratos/processes/structured_mesh_generator_process.cpp
  kratos/processes/structured_mesh_generator_process.h
  kratos/tests/cpp_tests/processes/test_structured_mesh_generator_process.cpp
Labels: FastPR

#12659 [Core] Fix header not being printed at import
  kratos/sources/kernel.cpp
Labels: Kratos Core, FastPR, Bugfix

#12596 [Core] Optimize distance calculation in `GeometricalObjectBins`
  kratos/spatial_containers/geometrical_objects_bins.cpp
  kratos/spatial_containers/geometrical_objects_bins.h
Labels: Kratos Core, Performance, Refactor

#12658 [FastPR][Structural] Hotfixes in u-eps vol elements RHS
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_oss_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_oss_element.h
  applications/StructuralMechanicsApplication/custom_elements/small_displacement_mixed_volumetric_strain_oss_non_linear_element.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_oss_element.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_oss_non_linear_element.cpp
Labels: Hotfix, FastPR

#12665 [GeoMechanicsApplication] Calculate the constitutive matrix of the incremental linear elastic law for interface elements
  applications/GeoMechanicsApplication/custom_constitutive/incremental_linear_elastic_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/incremental_linear_elastic_interface_law.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_incremental_linear_elastic_interface_law.cpp
Labels: GeoMechanics

#12669 [GeoMechanicsApplication] Add a utility function for calculating the internal force vector
  applications/GeoMechanicsApplication/custom_utilities/equation_of_motion_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/equation_of_motion_utilities.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_equation_of_motion.cpp
Labels: GeoMechanics

#12670 [GeoMechanicsApplication] Moved two `#include`s
  applications/GeoMechanicsApplication/custom_elements/integration_scheme.h
  applications/GeoMechanicsApplication/custom_elements/lobatto_integration_scheme.h
Labels: Cleanup, FastPR, GeoMechanics

#12671 [GeoMechanicsApplication] Towards application-wide tolerance values for C++ unit tests
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_incremental_linear_elastic_interface_law.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_equation_of_motion.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities.h
Labels: FastPR, GeoMechanics

#12625 [GeoMechanicsApplication] default lhs upw condition is now a zero matrix
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_U_Pw_condition.cpp
Labels: C++, GeoMechanics

#12677 [Core] Adding `ObjIO`in order to read `obj` files
  kratos/input_output/obj_io.cpp
  kratos/input_output/obj_io.h
  kratos/python/add_io_to_python.cpp
  kratos/python_scripts/modelers/import_obj_modeler.py
  kratos/tests/auxiliar_files_for_python_unittest/obj_files/cube.obj
  kratos/tests/test_KratosCore.py
  kratos/tests/test_import_obj_modeler.py
  kratos/tests/test_obj_io.py
Labels: Enhancement, Kratos Core, IO

#12678 [SI App] Fix the sensor weight
  applications/SystemIdentificationApplication/custom_sensors/displacement_sensor.cpp
  applications/SystemIdentificationApplication/custom_sensors/strain_sensor.cpp
  applications/SystemIdentificationApplication/tests/responses/test_damage_response.py
Labels: Applications, C++, Bugfix

#12679 [GeoMechanicsApplication] Fixed occasional crash when constructing `LineInterfaceGeometry` instances
  applications/GeoMechanicsApplication/custom_geometries/line_interface_geometry.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_geometries/test_interface_geometry.cpp
Labels: GeoMechanics

#12682 [FastPR][Fluid] Register EmbeddedSkinVisualizationProcess
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.cpp
  applications/FluidDynamicsApplication/custom_processes/embedded_skin_visualization_process.h
  applications/FluidDynamicsApplication/python_scripts/apply_embedded_skin_visualization_process.py
Labels: Applications, FastPR, Usability

#12683 [Hotfix][Core] Amend ProcessFactory according to ModelParametersFactory
  kratos/python_scripts/process_factory.py
Labels: Kratos Core, Hotfix, FastPR

#12674 [GeoMechanicsApplication] Add a minimal 3+3 line interface element
  applications/GeoMechanicsApplication/custom_elements/line_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/line_interface_element.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_line_interface_element.cpp
Labels: GeoMechanics

#12688 [MeshingApplication] Minor clean up in `MMGUtilities`
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.cpp
  applications/MeshingApplication/custom_utilities/mmg/mmg_utilities.h
Labels: Cleanup, Applications, FastPR

#12684 [GeoMechanicsApplication] Line interface geometry can now generate edges
  applications/GeoMechanicsApplication/custom_geometries/README.md
  applications/GeoMechanicsApplication/custom_geometries/line_interface_geometry.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_geometries/test_interface_geometry.cpp
Labels: GeoMechanics

#12687 [GeoMechanicsApplication] Fixed three clang-tidy issues
  applications/GeoMechanicsApplication/tests/cpp_tests/test_U_Pw_normal_lysmer_absorbing_condition.cpp
Labels: FastPR, GeoMechanics

#12686 [GeoMechanicsApplication] Register two new elements and one new constitutive law
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_geo_mechanics_application.cpp
Labels: GeoMechanics

#12690 [PotentialFlow] Set elemental wake distances signs according to wake normal
  applications/CompressiblePotentialFlowApplication/custom_processes/define_embedded_wake_process.cpp
  applications/CompressiblePotentialFlowApplication/custom_processes/define_embedded_wake_process.h
Labels: Applications

#12681 [Hotfix][Core] Fix 2D discontinuous distance orientation
  applications/FSIApplication/tests/test_FSIApplication.py
  kratos/mpi/tests/test_mpi_processes.py
  kratos/processes/calculate_discontinuous_distance_to_skin_process.cpp
  kratos/tests/cpp_tests/processes/test_calculate_discontinuous_distance_to_skin_process.cpp
Labels: Kratos Core, Hotfix, Inconsistent

#12696 [Core][MeshingApplication] Refactor `Timer` class to fix typos and deprecate old methods
  applications/MeshingApplication/custom_io/mmg/mmg_io.cpp
  kratos/python/add_other_utilities_to_python.cpp
  kratos/python_scripts/timer_process.py
  kratos/sources/model_part_io.cpp
  kratos/tests/cpp_tests/external_libraries/test_delaunator.cpp
  kratos/utilities/timer.cpp
  kratos/utilities/timer.h
Labels: Kratos Core, Applications, Typo, Deprecated, FastPR, Refactor

#12697 [SIApp] Sensor grid generation
  applications/SystemIdentificationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/SystemIdentificationApplication/custom_utilities/sensor_generator_utils.cpp
  applications/SystemIdentificationApplication/custom_utilities/sensor_generator_utils.h
  applications/SystemIdentificationApplication/python_scripts/sensor_generator_analysis.py
  applications/SystemIdentificationApplication/tests/auxiliary_files/sensor_data_bb_based_ref.csv
  applications/SystemIdentificationApplication/tests/auxiliary_files/sensor_data_bb_based_ref.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/sensor_data_mesh_based_ref.csv
  applications/SystemIdentificationApplication/tests/auxiliary_files/sensor_data_mesh_based_ref.json
  applications/SystemIdentificationApplication/tests/test_sensor_generator_analysis.py
Labels: Applications, Python, C++

#12680 [Core] Extend `ObjIO` with new functionality
  kratos/input_output/obj_io.cpp
  kratos/input_output/obj_io.h
  kratos/python/add_io_to_python.cpp
  kratos/python_scripts/modelers/import_obj_modeler.py
  kratos/tests/auxiliar_files_for_python_unittest/obj_files/cube.obj
  kratos/tests/auxiliar_files_for_python_unittest/obj_files/cube_degenerated.obj
  kratos/tests/test_obj_io.py
Labels: Enhancement, Kratos Core

#12699 [GeoMechanicsApplication] Add integration tests for the new line interface elements
  applications/GeoMechanicsApplication/tests/line_interface_elements/Dirichlet_single_stage/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/line_interface_elements/Dirichlet_single_stage/line_interface_3_plus_3N.mdpa
  applications/GeoMechanicsApplication/tests/line_interface_elements/Neumann_single_stage/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/line_interface_elements/Neumann_single_stage/line_interface_3_plus_3N.mdpa
  applications/GeoMechanicsApplication/tests/line_interface_elements/README.md
  applications/GeoMechanicsApplication/tests/line_interface_elements/Schematic.svg
  applications/GeoMechanicsApplication/tests/line_interface_elements/common/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_line_interface_elements.py
Labels: Testing, GeoMechanics
