Repository KratosMultiphysics/Kratos, pull requests merged in 2024-10, with the labels that each got.

#12703 [Core] Identical geometries in model part and geometry container
  kratos/containers/geometry_container.h
  kratos/includes/model_part.h
  kratos/sources/model_part.cpp
  kratos/tests/cpp_tests/containers/test_geometry_container.cpp
  kratos/tests/cpp_tests/containers/test_model_part_geometry_container.cpp
Labels: Kratos Core, Behaviour Change, Inconsistent, IO

#12707 [OptApp] Make control beta update consistent
  applications/OptimizationApplication/python_scripts/controls/material/simp_control.py
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_gradient_projection/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_relaxed_gradient_projection/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_relaxed_gradient_projection/test_relaxed_gradient_projection.py
  applications/OptimizationApplication/tests/control/thickness/test_shell_thickness_control.py
Labels: Applications, Python, Bugfix

#12706 [SIApp] Add distance matrix
  applications/SystemIdentificationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/SystemIdentificationApplication/custom_utilities/distance_matrix.cpp
  applications/SystemIdentificationApplication/custom_utilities/distance_matrix.h
  applications/SystemIdentificationApplication/tests/test_SystemIdentificationApplication.py
  applications/SystemIdentificationApplication/tests/test_distance_matrix.py
Labels: Applications, Python, C++, Feature

#12705 [GeoMechanicsApplication] Add multi-stage tests for the new line interface elements
  applications/GeoMechanicsApplication/tests/line_interface_elements/Dirichlet_multi_stage/3+3_line.mdpa
  applications/GeoMechanicsApplication/tests/line_interface_elements/Dirichlet_multi_stage/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/line_interface_elements/Dirichlet_multi_stage/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/line_interface_elements/Neumann_multi_stage/3+3_line.mdpa
  applications/GeoMechanicsApplication/tests/line_interface_elements/Neumann_multi_stage/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/line_interface_elements/Neumann_multi_stage/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/line_interface_elements/README.md
  applications/GeoMechanicsApplication/tests/test_helper.py
  applications/GeoMechanicsApplication/tests/test_line_interface_elements.py
Labels: GeoMechanics

#12713 [GeoMechanicsApplication] Fixed a few issues found by Coverity
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.hpp
  applications/GeoMechanicsApplication/custom_elements/geo_structural_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/geo_structural_base_element.hpp
  applications/GeoMechanicsApplication/python_scripts/piping_analysis.py
  applications/GeoMechanicsApplication/tests/cpp_tests/test_settlement_workflow.cpp
Labels: GeoMechanics

#12704 [SiApp] Add mask utils
  applications/SystemIdentificationApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/SystemIdentificationApplication/custom_utilities/mask_utils.cpp
  applications/SystemIdentificationApplication/custom_utilities/mask_utils.h
  applications/SystemIdentificationApplication/tests/test_SystemIdentificationApplication.py
  applications/SystemIdentificationApplication/tests/test_mask_utils.py
Labels: Applications, Python, C++, Feature

#12716 [Core] Adding new mesh elements definitions
  kratos/includes/kratos_application.h
  kratos/sources/kratos_application.cpp
Labels: Enhancement, Kratos Core, FastPR

#12719 [GeoMechanicsApplication] Removed the strain calculation from geo constitutive laws
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/elastic_isotropic_K0_3d_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_K0_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_K0_law.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_stress_2D_law.h
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_plane_strain_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_plane_strain_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_plane_strain_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_2D_plane_strain_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/stub_linear_elastic_law.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/stub_linear_elastic_law.h
Labels: GeoMechanics

#12616 [Core] Adding new test for `ParallelFillCommunicator`
  kratos/mpi/tests/cpp_tests/utilities/test_parallel_fill_communicator.cpp
  kratos/mpi/tests/test_utilities/mpi_cpp_test_utilities.cpp
  kratos/mpi/tests/test_utilities/mpi_cpp_test_utilities.h
Labels: Kratos Core, Testing, Parallel-MPI, Transition

#12600 [Core] Add `IsInside` method to `BoundingBox` class
  kratos/geometries/bounding_box.h
  kratos/python/add_bounding_box_to_python.cpp
  kratos/tests/cpp_tests/geometries/test_bounding_box.cpp
  kratos/tests/test_bounding_box.py
Labels: Enhancement, Kratos Core, Testing

#12511 [CoSimulationApplication] Adding VTK debugging option for Kratos Mapping
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping.py
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/kratos_mapping_with_debug.py
  applications/CoSimulationApplication/tests/test_data_transfer_operators.py
Labels: Enhancement, Applications, Debug, Feature, CoSimulation

#12733 [Hotfix][Geo] Fixing minor segfaults
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.hpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_elements/undrained_U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.hpp
Labels: Applications, Hotfix, GeoMechanics

#12715 [GeoMechanicsApplication] Refactor linear elastic law
  applications/GeoMechanicsApplication/custom_constitutive/constitutive_law_dimension.h
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.h
  applications/GeoMechanicsApplication/custom_constitutive/plane_strain.cpp
  applications/GeoMechanicsApplication/custom_constitutive/plane_strain.h
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_linear_elastic_plane_strain_2D_law.cpp
Labels: Refactor, GeoMechanics

#12749 [Hotfix][FSI] Add modelers to analysis stage
  applications/FSIApplication/python_scripts/fsi_analysis.py
Labels: Applications, Hotfix, FastPR

#12748 [FastPR][Meshing] Amending some tests
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_line_load_test_step=10.ref
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam2D_test_step=10.ref
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/beam3D_test_step=3.ref
  applications/MeshingApplication/tests/mmg_lagrangian_test/test_remesh_shell_parameters.json
  applications/MeshingApplication/tests/mmg_lagrangian_test/test_remesh_shell_step=2.ref
  applications/MeshingApplication/tests/mmg_rectangle_test/rectangle_distance_values.json
  applications/MeshingApplication/tests/mmg_rectangle_test/rectangle_pre_metric_result.json
  applications/MeshingApplication/tests/mmg_rectangle_test/remesh_rectangle.mdpa
  applications/MeshingApplication/tests/mmg_rectangle_test/remesh_rectangle_post_metric.json
  applications/MeshingApplication/tests/mmg_rectangle_test/remesh_rectangle_step=0.ref
  applications/MeshingApplication/tests/structural_mechanics_remeshing_test.py
  applications/MeshingApplication/tests/test_MeshingApplication.py
  applications/MeshingApplication/tests/test_mpi_metrics.py
  applications/MeshingApplication/tests/test_remesh_rectangle.py
Labels: Cleanup, Applications, FastPR

#12745 [Core] Vectorized search python interface
  kratos/python/add_geometrical_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_vectorized_interpolation.py
Labels: Feature

#12750 [GeoMechanicsApplication] Fixed a typo: 'PlainStrain' => 'PlaneStrain'
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/tests/line_interface_elements/Dirichlet_multi_stage/3+3_line.mdpa
  applications/GeoMechanicsApplication/tests/line_interface_elements/Dirichlet_single_stage/line_interface_3_plus_3N.mdpa
  applications/GeoMechanicsApplication/tests/line_interface_elements/Neumann_multi_stage/3+3_line.mdpa
  applications/GeoMechanicsApplication/tests/line_interface_elements/Neumann_single_stage/line_interface_3_plus_3N.mdpa
Labels: GeoMechanics

#12700 [Core] Migrating block build DOF array set up to utility
  kratos/python/add_dofs_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h
  kratos/tests/test_dofs.py
  kratos/utilities/dof_utilities/block_build_dof_array_utility.h
Labels: Kratos Core, Refactor

#12606 [OptApp] Making the control projection modular
  applications/OptimizationApplication/python_scripts/controls/material/simp_control.py
  applications/OptimizationApplication/python_scripts/controls/thickness/shell_thickness_control.py
  applications/OptimizationApplication/python_scripts/utilities/opt_projection.py
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_gradient_projection/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_relaxed_gradient_projection/optimization_parameters.json
  applications/OptimizationApplication/tests/control/material/test_simp_control.py
  applications/OptimizationApplication/tests/control/thickness/test_shell_thickness_control.py
  applications/OptimizationApplication/tests/responses_tests/test_combined_response_function.py
Labels: Applications, Python, Optimization

#12758 [CORE] Removed redundant export which breaks the windows build
  kratos/utilities/dof_utilities/block_build_dof_array_utility.h
Labels: Hotfix, FastPR

#12712 [SIApp] Allow displacement sensors on nodes and edges of elements.
  applications/SystemIdentificationApplication/custom_sensors/displacement_sensor.cpp
  applications/SystemIdentificationApplication/custom_sensors/displacement_sensor.h
  applications/SystemIdentificationApplication/tests/test_adjoint_sensors.py
Labels: Applications, C++, Feature

#12759 Error fix in ThermalDEM
  applications/ThermalDEMApplication/custom_constitutive/sintering_continuum.cpp
  applications/ThermalDEMApplication/custom_constitutive/sintering_continuum.h
Labels: Bugfix

#12761 [CORE] Fix memory issue in ublas_space.h
  kratos/spaces/ublas_space.h
Labels: Hotfix

#11624 [TrilinosApplication] Adding `CreateFastestAvailableDirectLinearSolver` to `trilinos_linear_solver_factory`, plus documentation
  applications/TrilinosApplication/python_scripts/trilinos_linear_solver_factory.py
Labels: Cleanup, Applications, Python, Documentation, External library, Incomplete, Parallel-MPI, Inconsistent

#12487 [StructApp] Bushing element
  applications/StructuralMechanicsApplication/custom_elements/bushing_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/bushing_element.h
  applications/StructuralMechanicsApplication/structural_mechanics_application.cpp
  applications/StructuralMechanicsApplication/structural_mechanics_application.h
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_bushing_element.cpp
Labels: Applications, C++, Feature

#6734 [Core] Adding Newton-Cotes integration points for line
  kratos/integration/line_newton_cotes_integration_points.h
  kratos/tests/cpp_tests/integration/test_line_newton_cotes_integration_points.cpp
Labels: Enhancement, Kratos Core, Implementation Committee Consensus

#12772 [StructApp] ** Urgent ** Fix tests
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_bushing_element.cpp
Labels: Applications, C++, Testing, FastPR, Bugfix

#12773 [CORE] Remove redundant KRATOS_API from header-only classes to fix linking errors on windows
  kratos/integration/line_newton_cotes_integration_points.h
Labels: Hotfix, FastPR

#12734 [Core][IO] Refactor triangle clean up into `CleanUpProblematicTrianglesModeler` and adjust the area tolerance in OBJ files after real geometries experience
  kratos/includes/kratos_application.h
  kratos/input_output/obj_io.cpp
  kratos/input_output/obj_io.h
  kratos/modeler/clean_up_problematic_triangles_modeler.cpp
  kratos/modeler/clean_up_problematic_triangles_modeler.h
  kratos/python/add_io_to_python.cpp
  kratos/python/add_modeler_to_python.cpp
  kratos/python_scripts/modelers/import_obj_modeler.py
  kratos/sources/kratos_application.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_clean_up_problematic_triangles_modeler.py
  kratos/tests/test_obj_io.py
Labels: Kratos Core, FastPR, IO

#12740 [Core] Improve PointerVectorSet insert method
  kratos/containers/pointer_vector_set.h
  kratos/tests/cpp_tests/containers/test_pointer_vector_set.cpp
Labels: Kratos Core, C++

#12509 [Core] Introduce PointerComparor and remove DofPointerComparor
  kratos/includes/key_hash.h
  kratos/tests/cpp_tests/sources/test_key_hash.cpp
Labels: Kratos Core, C++, Feature

#12767 [Core] Remove unused members from containers
  kratos/containers/global_pointers_vector.h
  kratos/containers/pointer_vector.h
Labels: Cleanup, C++, Compilation

#12786 [GeoMechanicsApplication] Replaced a raw loop by using `std::transform`
  applications/GeoMechanicsApplication/custom_geometries/line_interface_geometry.h
Labels: Cleanup, GeoMechanics

#12783 [OptApp] Update deprecated `Parameters` iterations
  applications/OptimizationApplication/python_scripts/optimization_analysis.py
Labels: Cleanup, Applications, Python

#12790 [FastPR] AddGeometries export to Python
  kratos/python/add_model_part_to_python.cpp
Labels: Kratos Core, Incomplete, FastPR

#12792 [GeoMechanicsApplication] Clean up strategies
  applications/GeoMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_erosion_process_strategy.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_strategy.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_ramm_arc_length_strategy.hpp
  applications/GeoMechanicsApplication/custom_utilities/solving_strategy_factory.hpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
Labels: Cleanup, GeoMechanics

#12801 [GeoMechanicsApplication] Replace two images with matrix equations by proper math blocks
  applications/GeoMechanicsApplication/custom_processes/README.md
  applications/GeoMechanicsApplication/custom_processes/initial_effective_stress_tensor.png
  applications/GeoMechanicsApplication/custom_processes/initial_effective_stress_tensor_with_POP.png
Labels: Documentation, GeoMechanics

#12800 [SysIdApp] Temporary losen tolerances of a test
  applications/SystemIdentificationApplication/tests/test_system_identification.py
Labels: Bug, Applications

#12785 [GeoMechanicsApplication] Clean up piping strategy and piping interface element
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_erosion_process_strategy.hpp
  applications/GeoMechanicsApplication/custom_utilities/transport_equation_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/transport_equation_utilities.hpp
Labels: Cleanup, GeoMechanics

#10634 [CoSimulationApplication] 3D domain (volume) - 1D domain (line) data transfer operator
  applications/CoSimulationApplication/custom_processes/data_transfer_3D_1D_process.cpp
  applications/CoSimulationApplication/custom_processes/data_transfer_3D_1D_process.h
  applications/CoSimulationApplication/custom_python/add_custom_processes_to_python.cpp
  applications/CoSimulationApplication/custom_python/add_custom_processes_to_python.h
  applications/CoSimulationApplication/custom_python/co_simulation_python_application.cpp
  applications/CoSimulationApplication/python_scripts/data_transfer_operators/3d_1d_data_transfer.py
  applications/CoSimulationApplication/tests/3d_1d_data_transfer/3d_1d_data_transfer_mdpa/block.mdpa
  applications/CoSimulationApplication/tests/3d_1d_data_transfer/3d_1d_data_transfer_mdpa/torus3d.mdpa
  applications/CoSimulationApplication/tests/3d_1d_data_transfer/3d_1d_data_transfer_solutions/block_from_1d_to_3d_data_transfer.json
  applications/CoSimulationApplication/tests/3d_1d_data_transfer/3d_1d_data_transfer_solutions/block_from_3d_to_1d_data_transfer.json
  applications/CoSimulationApplication/tests/3d_1d_data_transfer/3d_1d_data_transfer_solutions/torus_from_1d_to_3d_data_transfer.json
  applications/CoSimulationApplication/tests/3d_1d_data_transfer/3d_1d_data_transfer_solutions/torus_from_3d_to_1d_data_transfer.json
  applications/CoSimulationApplication/tests/test_3d_1d_data_transfer_process.py
  applications/CoSimulationApplication/tests/test_CoSimulationApplication.py
Labels: Enhancement, Applications, Testing, Feature

#12788 [External] Update pybind11 to last version
  external_libraries/pybind11/LICENSE
  external_libraries/pybind11/README.rst
  external_libraries/pybind11/attr.h
  external_libraries/pybind11/buffer_info.h
  external_libraries/pybind11/cast.h
  external_libraries/pybind11/detail/class.h
  external_libraries/pybind11/detail/common.h
  external_libraries/pybind11/detail/cpp_conduit.h
  external_libraries/pybind11/detail/descr.h
  external_libraries/pybind11/detail/exception_translation.h
  external_libraries/pybind11/detail/init.h
  external_libraries/pybind11/detail/internals.h
  external_libraries/pybind11/detail/type_caster_base.h
  external_libraries/pybind11/detail/value_and_holder.h
  external_libraries/pybind11/eigen.h
  external_libraries/pybind11/eigen/common.h
  external_libraries/pybind11/eigen/matrix.h
  external_libraries/pybind11/eigen/tensor.h
  external_libraries/pybind11/embed.h
  external_libraries/pybind11/eval.h
  external_libraries/pybind11/functional.h
  external_libraries/pybind11/gil.h
  external_libraries/pybind11/gil_safe_call_once.h
  external_libraries/pybind11/numpy.h
  external_libraries/pybind11/operators.h
  external_libraries/pybind11/options.h
  external_libraries/pybind11/pybind11.h
  external_libraries/pybind11/pytypes.h
  external_libraries/pybind11/stl.h
  external_libraries/pybind11/stl/filesystem.h
  external_libraries/pybind11/stl_bind.h
  external_libraries/pybind11/type_caster_pyobject_ptr.h
  external_libraries/pybind11/typing.h
  external_libraries/pybind11/warnings.h
  kratos/python/add_model_part_to_python.cpp
  kratos/python/add_variable_utils_to_python.cpp
Labels: External library

#12804 [OptApp] adding QNBB shape vector support
  applications/OptimizationApplication/python_scripts/utilities/opt_line_search.py
Labels: Bug
