Repository KratosMultiphysics/Kratos, pull requests merged in 2024-05, with the labels that each got.

#12334 [GeoMechanicsApplication] Extract computation of integration coefficients
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
Labels: Refactor, GeoMechanics

#12321 [GeoMechanicsApplication] Fix standard k0 procedure for C++ workflow
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_settlement_workflow.cpp
  applications/GeoMechanicsApplication/tests/settlement_workflow.py
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/Kratos_stages.py
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage1.post.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage2.post.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage3.post.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage4.post.orig.res
Labels: Bugfix, GeoMechanics

#12285 [RomApp] Testing (with) RomManager
  applications/RomApplication/python_scripts/rom_manager.py
  applications/RomApplication/tests/structural_static_test_files/HROM/rom_data/RomParameters.json
  applications/RomApplication/tests/structural_static_test_files/ROM/rom_data/RomParameters.json
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/test_rom_manager.py
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/galerkin/HROM_ConditionIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/galerkin/HROM_ConditionWeights.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/galerkin/HROM_ElementIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/galerkin/HROM_ElementWeights.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/galerkin/NodeIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/galerkin/RightBasisMatrix.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/lspg/HROM_ConditionIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/lspg/HROM_ConditionWeights.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/lspg/HROM_ElementIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/lspg/HROM_ElementWeights.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/lspg/NodeIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/lspg/RightBasisMatrix.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/petrov_galerkin/HROM_ConditionIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/petrov_galerkin/HROM_ConditionWeights.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/petrov_galerkin/HROM_ElementIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/petrov_galerkin/HROM_ElementWeights.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/petrov_galerkin/LeftBasisMatrix.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/petrov_galerkin/NodeIds.npy
  applications/RomApplication/tests/test_rom_manager/ExpectedOutputs/petrov_galerkin/RightBasisMatrix.npy
  applications/RomApplication/tests/test_rom_manager/ProjectParameters.json
  applications/RomApplication/tests/test_rom_manager/StructuralMaterials.json
  applications/RomApplication/tests/test_rom_manager/rom_data/RomParameters_test.json
  applications/RomApplication/tests/test_rom_manager/simple_structure_multiple_parameters.mdpa
  applications/RomApplication/tests/test_structural_rom.py
  applications/RomApplication/tests/test_thermal_lspg_rom.py
  applications/RomApplication/tests/thermal_static_test_files/LSPGROM/rom_data/RomParameters.json
Labels: Testing, ROM

#12328 [OptApp] SIMP control for Topology Optimization
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_momentum_relaxed_gradient_projection.py
  applications/OptimizationApplication/python_scripts/controls/material/simp_control.py
  applications/OptimizationApplication/tests/control/material/test_simp_control.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, Feature

#12329 [OptApp] Clean material controls
  applications/OptimizationApplication/custom_controls/control.h
  applications/OptimizationApplication/custom_controls/material_controls/helmholtz_material.h
  applications/OptimizationApplication/custom_controls/material_controls/helmholtz_partition.h
  applications/OptimizationApplication/custom_controls/material_controls/material_control.h
  applications/OptimizationApplication/custom_python/add_custom_controls_to_python.cpp
  applications/OptimizationApplication/custom_python/add_custom_controls_to_python.h
  applications/OptimizationApplication/custom_python/add_custom_responses_to_python.cpp
  applications/OptimizationApplication/custom_python/optimization_python_application.cpp
  applications/OptimizationApplication/python_scripts/controls/material/__init__.py
  applications/OptimizationApplication/python_scripts/controls/material/helmholtz_material.py
  applications/OptimizationApplication/python_scripts/controls/material/helmholtz_partition.py
  applications/OptimizationApplication/python_scripts/controls/material/material_control.py
Labels: Cleanup, Applications, Python, C++, Optimization

#12339 [RomApp] Skipping LSPG B&S cpp test
  applications/RomApplication/tests/cpp_tests/test_lspg_rom_builder_and_solver.cpp
Labels: Bug, Testing, ROM

#12341 [GeoMechanicsApplication] Clean up and extract calculation of deformation gradients
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
Labels: GeoMechanics

#12335 [FastPR][Hotfix][Fluid] Navier-Stokes wall condition DOF position hotfix
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_wall_condition.cpp
Labels: Applications, Hotfix, FastPR

#12338 [GeoMechanicsApplication] Simplified fluid flux for pw element
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
Labels: Refactor, GeoMechanics

#12337 [GeoMechanicsApplication] Extract B matrix calculations
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/axisymmetric_stress_state.cpp
  applications/GeoMechanicsApplication/custom_elements/axisymmetric_stress_state.h
  applications/GeoMechanicsApplication/custom_elements/plane_strain_stress_state.cpp
  applications/GeoMechanicsApplication/custom_elements/plane_strain_stress_state.h
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/stress_state_policy.h
  applications/GeoMechanicsApplication/custom_elements/three_dimensional_stress_state.cpp
  applications/GeoMechanicsApplication/custom_elements/three_dimensional_stress_state.h
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
Labels: Refactor, GeoMechanics

#12342 Fix Memory Leak in LSPG ROM Builder and Solver by Ensuring Vector Zeroing
  applications/RomApplication/custom_strategies/global_rom_builder_and_solver.h
  applications/RomApplication/tests/cpp_tests/test_lspg_rom_builder_and_solver.cpp
Labels: Enhancement, ROM

#12349 [GeoMechanicsApplication] Add cross-sectional area to the thermal line element
  applications/GeoMechanicsApplication/custom_elements/transient_thermal_element.h
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/Common/MaterialParameters2D.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/Common/MaterialParameters3D.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_2D2N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_2D3N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_2D4N/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_2D4N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_2D5N/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_2D5N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_3D2N/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_3D2N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_3D3N/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_line_element/test_thermal_line_element_3D3N/ProjectParameters.json
Labels: Enhancement

#11988 [RomApp] Adding training routine for neural networks to be used in ANN-PROM
  applications/RomApplication/python_scripts/calculate_rom_basis_output_process.py
  applications/RomApplication/python_scripts/rom_manager.py
  applications/RomApplication/python_scripts/rom_nn_trainer.py
  applications/RomApplication/tests/nn_trainer_class_test_files/ProjectParameters.json
  applications/RomApplication/tests/nn_trainer_class_test_files/SmallTestCantilever.mdpa
  applications/RomApplication/tests/nn_trainer_class_test_files/StructuralMaterials.json
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_RightBasisMatrix.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_SingularValuesVector.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_fom_snapshots.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_fom_snapshots_val.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/saved_nn_models/reference_neural_network/history.json
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/saved_nn_models/reference_neural_network/train_config.json
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/test_nn_trainer_class.py
Labels: Feature, ROM

#12350 [Core][TrilinosApplication] Defining list of fastest direct linear solvers.
  applications/TrilinosApplication/custom_python/add_trilinos_space_to_python.cpp
  applications/TrilinosApplication/trilinos_space.h
  kratos/python/add_sparse_matrices_to_python.cpp
  kratos/python/add_strategies_to_python.cpp
  kratos/python_scripts/python_linear_solver_factory.py
  kratos/spaces/ublas_space.h
Labels: Kratos Core, Applications, Parallel-MPI, FastPR, Transition

#12347 [GeoMechanicsApplication] Fixed the bug related to shape-function-gradients for thermal line el…
  applications/GeoMechanicsApplication/custom_elements/transient_thermal_element.h
Labels: Bug, GeoMechanics

#12354 [GeoMechanicsApplication] Fixed a bug where the maximum number of iterations was not properly read
  applications/GeoMechanicsApplication/custom_utilities/solving_strategy_factory.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_solving_strategy_factory.cpp
Labels: Bugfix, GeoMechanics

#12358 [GeoMechanicsApplication] Add cross-sectional area to the Pw line element
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_line_element.h
  applications/GeoMechanicsApplication/tests/test_pressure_line_element/Common/MaterialParameters2D.json
  applications/GeoMechanicsApplication/tests/test_pressure_line_element/Common/MaterialParameters3D.json
Labels: Enhancement

#12340 [GeoMechanicsApplication] Add point heat flux (source) condition for heat
  applications/GeoMechanicsApplication/custom_conditions/T_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/thermal_point_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/thermal_point_flux_condition.h
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/test_thermal_element/documentation_data/test_thermal_point_flux_condition.svg
  applications/GeoMechanicsApplication/tests/test_thermal_element/documentation_data/test_thermal_point_flux_condition_2D3N_result.png
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/Common/MaterialParameters2D.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/Common/MaterialParameters3D.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/README.md
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D2N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D2N/test_thermal_point_flux_2D2N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D3N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D3N/test_thermal_point_flux_2D3N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D4N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D4N/test_thermal_point_flux_2D4N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D5N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_2D5N/test_thermal_point_flux_2D5N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_3D2N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_3D2N/test_thermal_point_flux_3D2N.mdpa
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_3D3N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_thermal_element/test_thermal_heat_flux_line_element/test_thermal_point_flux_3D3N/test_thermal_point_flux_3D3N.mdpa
  applications/GeoMechanicsApplication/tests/test_transient_thermal.py
Labels: Feature

#12357 [GeoMechanicsApplication] Fix bug in calculation of shape-function-gradients in Pw line element
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_line_element.h
  applications/GeoMechanicsApplication/tests/test_pressure_line_element/test_oblique_line_element2D2N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_pressure_line_element/test_oblique_line_element3D2N/ProjectParameters.json
Labels: Bug

#12298 [SIApp] Add a SI Unit test
  applications/SystemIdentificationApplication/CMakeLists.txt
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification/optimization_parameters.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification/primal_material_properties.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_summary_ref.csv
  applications/SystemIdentificationApplication/tests/test_SystemIdentificationApplication.py
  applications/SystemIdentificationApplication/tests/test_system_identification.py
Labels: Applications, Python, C++

#12365 [Core] Minor clean up `GeometricalProjectionUtilities`
  kratos/utilities/geometrical_projection_utilities.h
Labels: Cleanup, Kratos Core, FastPR

#12348 [Core] Improve performance in `GenerateEntitiesFromConnectivities`
  kratos/tests/cpp_tests/utilities/test_model_part_utils.cpp
  kratos/utilities/model_part_utils.h
Labels: Kratos Core, Performance, FastPR

#12372 [GeoMechanicsApplication] Clean up / simplify the calculation of the permeability update factor
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
Labels: Cleanup, GeoMechanics

#11051 [Core] Clean up test `Triangle3D3`, update `ProjectPointLocalCoordinates` definition
  kratos/geometries/triangle_3d_3.h
  kratos/tests/cpp_tests/geometries/test_triangle_3d_3.cpp
Labels: Cleanup, Kratos Core, Testing, FastPR

#12363 [GeoMechanicsApplication] Extract pre-calculated lists for strain vectors and (determinants of) deformation gradients
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_load_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_utilities/math_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/math_utilities.h
  applications/GeoMechanicsApplication/custom_utilities/stress_strain_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_Hencky_strain.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_math_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_stress_strain_utitlities.cpp
Labels: Refactor, GeoMechanics

#12377 [GeoMechanicsApplication] Added a missing `#include` in a unit test file
  applications/GeoMechanicsApplication/tests/cpp_tests/test_math_utilities.cpp
Labels: FastPR, GeoMechanics

#12374 [GeoMechanicsApplication] Inlined member functions `SetRetentionParameters`
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
Labels: Cleanup, GeoMechanics

#12383 [GeoMechanicsApplication] Removed all unused math utilities
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_load_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_utilities/math_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/math_utilities.h
  applications/GeoMechanicsApplication/custom_utilities/stress_strain_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_stress_strain_utitlities.cpp
Labels: Cleanup, GeoMechanics

#12376 [GeoMechanicsApplication] Add point flux (source) condition for Pw
  applications/GeoMechanicsApplication/custom_conditions/Pw_point_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_point_flux_condition.hpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_math_utilities.cpp
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux.py
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/Common/MaterialParameters2D.json
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/Common/MaterialParameters3D.json
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/README.md
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/documentation_data/test_pressure_point_flux_line_element.svg
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/documentation_data/test_pressure_point_flux_line_element_2d2n_result.svg
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/test_pressure_point_flux_line_element2D2N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/test_pressure_point_flux_line_element2D2N/test_pressure_point_flux_line_element2D2N.mdpa
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/test_pressure_point_flux_line_element3D2N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_pressure_point_flux/test_pressure_point_flux_line_element3D2N/test_pressure_point_flux_line_element3D2N.mdpa
Labels: Feature

#12384 [GeoMechanicsApplication] Removed a redundant `override`
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.hpp
Labels: Cleanup, GeoMechanics

#12387 Add missing KRATOS_API
  kratos/modeler/coloring/voxel_mesher_coloring.h
  kratos/modeler/entity_generation/voxel_mesher_entity_generation.h
  kratos/modeler/key_plane_generation/key_plane_generation.h
  kratos/modeler/operation/voxel_mesher_operation.h
Labels: Hotfix

#12390 [GeoMechanicsApplication] Removed three empty statements
  applications/GeoMechanicsApplication/tests/cpp_tests/test_stress_strain_utitlities.cpp
Labels: Cleanup, FastPR, GeoMechanics

#12393 [Poro] Add new post-processing variables
  applications/PoromechanicsApplication/custom_constitutive/interface_element_laws/elastoplastic_mohr_coulomb_cohesive_2D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/interface_element_laws/elastoplastic_mohr_coulomb_cohesive_3D_law.cpp
  applications/PoromechanicsApplication/custom_constitutive/interface_element_laws/elastoplastic_mohr_coulomb_cohesive_3D_law.hpp
  applications/PoromechanicsApplication/custom_elements/one-phase_flow/U_Pl_small_strain_interface_element.cpp
  applications/PoromechanicsApplication/custom_elements/one-phase_flow/U_Pl_small_strain_interface_element.hpp
  applications/PoromechanicsApplication/custom_python/poromechanics_python_application.cpp
  applications/PoromechanicsApplication/custom_strategies/schemes/one-phase_flow/poro_explicit_cd_scheme.hpp
  applications/PoromechanicsApplication/custom_strategies/schemes/one-phase_flow/poro_newmark_quasistatic_U_Pl_scheme.hpp
  applications/PoromechanicsApplication/poromechanics_application.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.cpp
  applications/PoromechanicsApplication/poromechanics_application_variables.h
  applications/PoromechanicsApplication/python_scripts/poromechanics_U_Pl_solver.py
Labels: Applications, Feature, Post Process

#12395 [Doc] Update cite links + adding activity/star activity
  docs/pages/index.md
Labels: Documentation, FastPR

#12391 [Doc][MappingApplication] Documentation for the 3D/2D metamapper
  applications/MappingApplication/README.md
Labels: Applications, Documentation, FastPR

#12398 [GeoMechanicsApplication] Extract biot coefficient calculation
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.hpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_utilities/transport_equation_utilities.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_transport_equation_utilities.cpp
Labels: Refactor, GeoMechanics

#12404 [Core] Fix Python stub generation
  scripts/post_install/stub_generation.py
Labels: Kratos Core, Python, Hotfix, FastPR

#12331 [Fluid] Div-stable P2P1 element
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_p2_p1_continuous_wall_condition.cpp
  applications/FluidDynamicsApplication/custom_conditions/navier_stokes_p2_p1_continuous_wall_condition.h
  applications/FluidDynamicsApplication/custom_elements/incompressible_navier_stokes_p2_p1_continuous.cpp
  applications/FluidDynamicsApplication/custom_elements/incompressible_navier_stokes_p2_p1_continuous.h
  applications/FluidDynamicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.cpp
  applications/FluidDynamicsApplication/custom_utilities/fluid_auxiliary_utilities.h
  applications/FluidDynamicsApplication/fluid_dynamics_application.cpp
  applications/FluidDynamicsApplication/fluid_dynamics_application.h
  applications/FluidDynamicsApplication/python_scripts/navier_stokes_monolithic_solver.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/incompressible_navier_stokes_p2_p1_continuous/README.md
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/incompressible_navier_stokes_p2_p1_continuous/generate_incompressible_navier_stokes_p2_p1_continuous_element.py
  applications/FluidDynamicsApplication/python_scripts/symbolic_generation/incompressible_navier_stokes_p2_p1_continuous/incompressible_navier_stokes_p2_p1_continuous_cpp_template.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_incompressible_navier_stokes_p2_p1_continuous_element.cpp
  applications/FluidDynamicsApplication/tests/cpp_tests/test_navier_stokes_p2_p1_continuous_wall_condition.cpp
Labels: Applications, Feature

#11602 [Core] Remove Incorrect Members from PointerHashMapSet
  kratos/containers/pointer_hash_map_set.h
Labels: Bug, Kratos Core, C++

#12408 [GeoMechanicsApplication] Towards element permeability matrices
  applications/GeoMechanicsApplication/custom_constitutive/thermal_dispersion_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/thermal_dispersion_law.h
  applications/GeoMechanicsApplication/custom_constitutive/thermal_filter_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/thermal_filter_law.h
  applications/GeoMechanicsApplication/custom_constitutive/thermal_law.h
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_interface_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_line_element.h
  applications/GeoMechanicsApplication/custom_elements/transient_thermal_element.h
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_retention/retention_law.h
  applications/GeoMechanicsApplication/custom_utilities/transport_equation_utilities.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_permeability_matrix.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_thermal_dispersion_law.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_thermal_filter_law.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_transport_equation_utilities.cpp
Labels: GeoMechanics

#12402 [GeoMechanicsApplication] Extract biot modulus inverse list
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_FIC_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_updated_lagrangian_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/updated_lagrangian_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_utilities/equation_of_motion_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/equation_of_motion_utilities.h
  applications/GeoMechanicsApplication/custom_utilities/transport_equation_utilities.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_transport_equation_utilities.cpp
Labels: Refactor, GeoMechanics

#12411 [GeoMechanicsApplication] Fixed a few code smells in the diff order U-Pw element
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
Labels: FastPR, GeoMechanics
