Repository KratosMultiphysics/Kratos, pull requests merged in 2024-08, with the labels that each got.

#12585 [Structural] Schemes for OSS and testing
  applications/StructuralMechanicsApplication/custom_python/add_custom_strategies_to_python.cpp
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/structural_mechanics_bossak_scheme.h
  applications/StructuralMechanicsApplication/custom_strategies/custom_schemes/structural_mechanics_static_scheme.h
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_implicit_dynamic_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_solver.py
  applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_static_solver.py
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane.mdpa
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_compressible_asgs_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_compressible_materials.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_asgs_dynamic_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_asgs_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_oss_dynamic_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_oss_non_linear_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_oss_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_incompressible_results.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_parameters.json
  applications/StructuralMechanicsApplication/tests/cook_membrane_test/cook_membrane_results.json
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_oss_element.cpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_small_displacement_mixed_volumetric_strain_oss_non_linear_element.cpp
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_cook_membrane.py
  applications/StructuralMechanicsApplication/tests/test_patch_test_small_displacement_mixed_volumetric_strain.py
  kratos/includes/variables.h
  kratos/python/add_containers_to_python.cpp
  kratos/solving_strategies/schemes/residual_based_bossak_displacement_scheme.hpp
  kratos/sources/variables.cpp
Labels: Applications, Feature

#12578 [GeoMechanicsApplication] ApplyConstantPhreaticMultiLinePressureProcess checks size of coordinates
  applications/GeoMechanicsApplication/custom_processes/apply_constant_phreatic_multi_line_pressure_process.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_apply_constant_phreatic_multi_line_pressure_process.cpp
Labels: GeoMechanics

#12580 [OptApp] Adding the ability to have arithmetic operators for responses
  applications/OptimizationApplication/python_scripts/responses/binary_operator_response_function.py
  applications/OptimizationApplication/python_scripts/responses/discrete_value_residual_response_function.py
  applications/OptimizationApplication/python_scripts/responses/evaluation_response_function.py
  applications/OptimizationApplication/python_scripts/responses/literal_value_response_function.py
  applications/OptimizationApplication/python_scripts/responses/log_response_function.py
  applications/OptimizationApplication/python_scripts/responses/response_function.py
  applications/OptimizationApplication/python_scripts/utilities/response_utilities.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
  applications/OptimizationApplication/tests/test_response_utilities.py
Labels: Applications, Python, Feature, Optimization

#12609 [Core][TrilinosApplication] Remove `IsDistributedSpace` as duplicated with `IsDistributed`
  applications/TrilinosApplication/trilinos_space.h
  kratos/solving_strategies/convergencecriterias/displacement_criteria.h
  kratos/solving_strategies/convergencecriterias/residual_criteria.h
  kratos/spaces/ublas_space.h
Labels: Duplicate, Kratos Core, Applications, Parallel-MPI

#12611 [Core][MPI] Adding new test for `ParallelFillCommunicator`
  kratos/mpi/tests/cpp_tests/utilities/test_parallel_fill_communicator.cpp
  kratos/mpi/tests/test_utilities/mpi_cpp_test_utilities.cpp
  kratos/mpi/tests/test_utilities/mpi_cpp_test_utilities.h
  kratos/mpi/utilities/parallel_fill_communicator.cpp
Labels: Kratos Core, Testing, Parallel-MPI, FastPR

#12617 [Core] Missing hanging nodes in corresponding model parts to be added in `SkinDetectionProcess`
  kratos/processes/skin_detection_process.cpp
  kratos/tests/test_skin_detection_process.py
Labels: Kratos Core, Testing, Parallel-MPI, Inconsistent, Refactor

#12618 [Core] Extra space in `skin_detection_process.cpp`
  kratos/processes/skin_detection_process.cpp
Labels: Kratos Core, Typo, FastPR

#12018 [MPM] Moving enforcement of nonconforming SLIP from MPMBoundaryRotationUtility to to the relevant Condition
  applications/MPMApplication/custom_conditions/particle_based_conditions/mpm_particle_base_condition.cpp
  applications/MPMApplication/custom_conditions/particle_based_conditions/mpm_particle_base_condition.h
  applications/MPMApplication/custom_conditions/particle_based_conditions/mpm_particle_penalty_dirichlet_condition.cpp
  applications/MPMApplication/custom_python/mpm_python_application.cpp
  applications/MPMApplication/custom_strategies/schemes/mpm_residual_based_bossak_scheme.hpp
  applications/MPMApplication/custom_utilities/mpm_boundary_rotation_utility.h
  applications/MPMApplication/mpm_application.cpp
  applications/MPMApplication/mpm_application_variables.cpp
  applications/MPMApplication/mpm_application_variables.h
  applications/MPMApplication/python_scripts/apply_mpm_slip_boundary_process.py
  applications/MPMApplication/tests/mpm_test_factory.py
  applications/MPMApplication/tests/slip_tests/conforming/slip_boundary_test_Body.mdpa
  applications/MPMApplication/tests/slip_tests/conforming/slip_boundary_test_Grid.mdpa
  applications/MPMApplication/tests/slip_tests/conforming/slip_boundary_test_materials.json
  applications/MPMApplication/tests/slip_tests/conforming/slip_boundary_test_parameters.json
  applications/MPMApplication/tests/slip_tests/conforming/slip_boundary_test_results.json
  applications/MPMApplication/tests/slip_tests/conforming/slip_boundary_test_results2.json
  applications/MPMApplication/tests/slip_tests/particle_based/particle_based_slip_test_Body.mdpa
  applications/MPMApplication/tests/slip_tests/particle_based/particle_based_slip_test_Grid.mdpa
  applications/MPMApplication/tests/slip_tests/particle_based/particle_based_slip_test_materials.json
  applications/MPMApplication/tests/slip_tests/particle_based/particle_based_slip_test_parameters.json
  applications/MPMApplication/tests/slip_tests/particle_based/particle_based_slip_test_results.json
  applications/MPMApplication/tests/test_MPMApplication.py
Labels: Discussion, Proposal, Refactor

#11748 Major fixes to the MacOS build script
  scripts/mac_build
Labels: MacOS, Bugfix

#12582 [OptApp] Use Response Expressions in the opt app
  applications/OptimizationApplication/python_scripts/algorithms/standardized_NLOPT_constraint.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_NLOPT_objective.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_constraint.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_objective.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_rgp_constraint.py
Labels: Applications, Python, Feature, Optimization

#12602 [GeoMechanicsApplication] auto to array_1d for updated_first_derivative and updated_second_time…
  applications/GeoMechanicsApplication/custom_strategies/schemes/generalized_newmark_scheme.hpp
Labels: Bug, FastPR, GeoMechanics

#12624 [OptApp] Fix clearing of sub items in BufferedDict
  applications/OptimizationApplication/python_scripts/utilities/buffered_dict.py
  applications/OptimizationApplication/tests/test_buffered_dict.py
Labels: Applications, Python, FastPR, Bugfix, Optimization

#12631 [SIApp] Fix damage response after renaming.
  applications/SystemIdentificationApplication/python_scripts/responses/damage_detection_response.py
Labels: Applications, Python, FastPR, Bugfix

#12622 [OptApp] Fix response function evaluation
  applications/OptimizationApplication/python_scripts/processes/optimization_problem_ascii_output_process.py
  applications/OptimizationApplication/python_scripts/responses/evaluation_response_function.py
  applications/OptimizationApplication/python_scripts/utilities/helper_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/response_utilities.py
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_nesterov_accelerated_gradient/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent_qnbb/summary_orig.csv
  applications/OptimizationApplication/tests/test_response_utilities.py
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_summary_ref.csv
Labels: Applications, Python, Optimization

#12373 [SiApp] p-norm damage resp
  applications/SystemIdentificationApplication/custom_python/add_custom_sensors_to_python.cpp
  applications/SystemIdentificationApplication/custom_sensors/measurement_residual_response_function.cpp
  applications/SystemIdentificationApplication/custom_sensors/measurement_residual_response_function.h
  applications/SystemIdentificationApplication/python_scripts/controls/material_properties_control.py
  applications/SystemIdentificationApplication/python_scripts/responses/damage_detection_response.py
  applications/SystemIdentificationApplication/python_scripts/sensor_sensitivity_solvers/system_identification_static_analysis.py
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm/adjoint_material_parameters.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm/adjoint_project_parameters.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm/optimization_parameters.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm/sensor_data.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm_summary_ref.csv
  applications/SystemIdentificationApplication/tests/test_system_identification.py
Labels: Applications, Python, C++, Feature

#12629 [GeoMechanicsApplication] Added `override`s for member function `Info`
  applications/GeoMechanicsApplication/custom_conditions/Pw_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_point_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_point_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/T_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_condition.h
  applications/GeoMechanicsApplication/custom_conditions/T_microclimate_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_microclimate_flux_condition.h
  applications/GeoMechanicsApplication/custom_conditions/T_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_normal_flux_condition.h
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_force_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_force_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_FIC_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_U_Pw_normal_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_U_Pw_normal_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_fluid_flux_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_fluid_flux_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_load_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_load_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/line_load_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/line_load_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_fluid_flux_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_fluid_flux_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_load_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_load_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/surface_load_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/surface_load_3D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_fluid_flux_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_fluid_flux_3D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_load_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_load_3D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/thermal_point_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/thermal_point_flux_condition.h
Labels: GeoMechanics

#12635 [GeoMechanicsApplication] Added new geometry for line interfaces
  applications/GeoMechanicsApplication/custom_geometries/line_interface_geometry.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_geometries/test_interface_geometry.cpp
Labels: GeoMechanics

#12648 [GeoMechanicsApplication] Add `IntegrationScheme` interface plus two concrete implementations for Lobatto
  applications/GeoMechanicsApplication/custom_elements/integration_scheme.h
  applications/GeoMechanicsApplication/custom_elements/lobatto_integration_scheme.cpp
  applications/GeoMechanicsApplication/custom_elements/lobatto_integration_scheme.h
  applications/GeoMechanicsApplication/geo_aliases.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_integration_schemes.cpp
Labels: GeoMechanics
