Repository KratosMultiphysics/Kratos, pull requests merged in 2024-06, with the labels that each got.

#12414 [ContitutiveLawsApp] Minor PR on iso/kin hardening plasticity integrators
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/generic_cl_integrator_kinematic_plasticity.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/generic_cl_integrator_plasticity.h
Labels: Error, Cleanup, Applications

#12421 [Hotfix][Fluid] Elements and conditions replace minor
  applications/FluidDynamicsApplication/python_scripts/fluid_solver.py
Labels: Applications, Hotfix, FastPR

#12419 [Core] Fix BB check
  kratos/tests/cpp_tests/utilities/test_search_utilities.cpp
  kratos/utilities/search_utilities.h
Labels: Kratos Core, Hotfix, FastPR

#12429 [Trilinos] Fix TrilinosMVQNRecursiveJacobianConvergenceAccelerator
  applications/TrilinosApplication/custom_utilities/trilinos_mvqn_recursive_convergence_accelerator.hpp
Labels: Applications, C++, Hotfix, Parallel-MPI, FastPR

#12423 [GeoMechanicsApplication] Make U-Pw elements more similar
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
Labels: Cleanup, GeoMechanics

#12430 [Core] Refactor search_utilities.h to handle negative tolerance values. Actual fix from 12419
  kratos/utilities/search_utilities.h
Labels: Kratos Core, Hotfix

#10443 [Core] Adding DataValueContainer to Model
  kratos/containers/model.cpp
  kratos/containers/model.h
  kratos/python/add_model_to_python.cpp
  kratos/tests/cpp_tests/containers/test_model.cpp
  kratos/tests/test_model.py
Labels: Enhancement, Kratos Core, C++

#12406 [OptApp] Fix connectivity preserve modelpart controller
  applications/OptimizationApplication/python_scripts/model_part_controllers/connectivity_preserving_model_part_controller.py
Labels: Applications, Python, FastPR, Optimization

#12434 [GeoMechanicsApplication] Precalculate fluid pressures and Bishop coefficients
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
Labels: FastPR, GeoMechanics

#12433 [GeoMechanicsApplication] Reformat directory `custom_conditions` using clang-format
  applications/GeoMechanicsApplication/.git-blame-ignore-revs
  applications/GeoMechanicsApplication/custom_conditions/Pw_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/Pw_normal_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/T_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_condition.h
  applications/GeoMechanicsApplication/custom_conditions/T_microclimate_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_microclimate_flux_condition.h
  applications/GeoMechanicsApplication/custom_conditions/T_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/T_normal_flux_condition.h
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_face_load_interface_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_force_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_force_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_flux_interface_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/U_Pw_normal_lysmer_absorbing_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_U_Pw_normal_face_load_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_U_Pw_normal_face_load_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_fluid_flux_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_fluid_flux_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_load_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/axisymmetric_line_normal_load_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/general_U_Pw_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/line_load_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/line_load_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_fluid_flux_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_fluid_flux_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_load_2D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/line_normal_load_2D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/micro_climate_constants.h
  applications/GeoMechanicsApplication/custom_conditions/surface_load_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/surface_load_3D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_fluid_flux_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_fluid_flux_3D_diff_order_condition.hpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_load_3D_diff_order_condition.cpp
  applications/GeoMechanicsApplication/custom_conditions/surface_normal_load_3D_diff_order_condition.hpp
Labels: GeoMechanics

#12435 Geo/consolidation test
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_plane_strain_2D_law.cpp
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage10.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage11.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage3.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage4.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage5.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage6.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage7.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage8.json
  applications/GeoMechanicsApplication/tests/1D-Consolidation_all_stages/ProjectParameters_stage9.json
  applications/GeoMechanicsApplication/tests/1d_consolidation.py
  applications/GeoMechanicsApplication/tests/test_dirichlet_u.py
Labels: Behaviour Change, GeoMechanics

#12399 Add SetTime method for cosimulation solver_wrapper
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_coupled_solver.py
  applications/CoSimulationApplication/python_scripts/base_classes/co_simulation_solver_wrapper.py
Labels: Enhancement, Applications

#12432 [OptApp] Adding combined response function
  applications/OptimizationApplication/python_scripts/responses/combined_response_function.py
  applications/OptimizationApplication/tests/model_part_utils_test/quads_surface.mdpa
  applications/OptimizationApplication/tests/responses_tests/test_combined_response_function.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, Feature, Optimization

#12449 [SIApp] bugfix for damage response
  applications/SystemIdentificationApplication/custom_utilities/control_utils.cpp
  applications/SystemIdentificationApplication/python_scripts/responses/damage_detection_response.py
Labels: Python, FastPR, Bugfix

#12448 [Exp] Add Log Expression
  docs/pages/Kratos/Expressions/Utilities/Log.md
  kratos/expression/expression_utils.cpp
  kratos/expression/expression_utils.h
  kratos/expression/unary_abs_expression.cpp
  kratos/expression/unary_expression.cpp
  kratos/expression/unary_expression.h
  kratos/python/add_container_expression_to_python.cpp
  kratos/tests/test_container_expression.py
Labels: Kratos Core, Python, C++, Feature

#12459 [OptApp] Fix the segmentation fault of shape opt
  applications/OptimizationApplication/python_scripts/controls/shape/vertex_morphing_shape_control.py
Labels: Applications, Python, FastPR, Bugfix, Optimization

#12456 [CL App] By-Points Curve Associative Plastic-Damge isotropic hardening curve
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/associative_plastic_damage_model.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/plastic_damage/associative_plastic_damage_model.h
Labels: Enhancement, Applications, Minor

#12461 [Doc] Initial search documentation
  docs/pages/Kratos/Spatial_Containers/Search_Containers/spatial_search_result.md
  docs/pages/Kratos/Spatial_Containers/Trees_And_Searches/bins_dynamic.md
  docs/pages/Kratos/Spatial_Containers/Trees_And_Searches/bins_static.md
  docs/pages/Kratos/Spatial_Containers/Trees_And_Searches/geometrical_objects_bins.md
  docs/pages/Kratos/Spatial_Containers/Trees_And_Searches/kd_tree.md
  docs/pages/Kratos/Spatial_Containers/Trees_And_Searches/octree.md
  docs/pages/Kratos/Spatial_Containers/Trees_And_Searches/tree.md
  docs/pages/Kratos/Spatial_Containers/menu_info.json
  kratos/spatial_containers/geometrical_objects_bins.cpp
  kratos/tests/test_geometrical_object_bins.py
Labels: Documentation, FastPR

#12464 [StructuralMechanicsApplication] Custom tangent modulus for linear truss 3D2N
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_3D2N.hpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_linear_3D2N.cpp
  applications/StructuralMechanicsApplication/custom_elements/truss_element_linear_3D2N.hpp
  applications/StructuralMechanicsApplication/tests/cpp_tests/test_truss.cpp
Labels: FastPR, Bugfix, Behaviour Change

#12313 [RomApp] Adding a database with SQLite
  applications/RomApplication/python_scripts/rom_database.py
  applications/RomApplication/python_scripts/rom_manager.py
  applications/RomApplication/python_scripts/rom_nn_trainer.py
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_RightBasisMatrix.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_SingularValuesVector.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_fom_snapshots.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/reference_fom_snapshots_val.npy
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/saved_nn_models/reference_neural_network/history.json
  applications/RomApplication/tests/nn_trainer_class_test_files/rom_data/saved_nn_models/reference_neural_network/train_config.json
  applications/RomApplication/tests/test_RomApplication.py
  applications/RomApplication/tests/test_nn_trainer_class.py
  applications/RomApplication/tests/test_rom_database.py
  applications/RomApplication/tests/test_rom_manager.py
  applications/RomApplication/tests/test_structural_rom.py
  applications/RomApplication/tests/test_thermal_lspg_rom.py
Labels: Enhancement, ROM

#12484 [Hotfix][Compressible Potential Flow] Elements and conditions replace minor change in potential flow solver
  applications/CompressiblePotentialFlowApplication/python_scripts/potential_flow_solver.py
Labels: Hotfix, FastPR, Bugfix

#12481 [CoSimulationApplication] Reverting `acusolve_wrapper.py` to its debug phase
  applications/CoSimulationApplication/python_scripts/solver_wrappers/external/acusolve_wrapper.py
Labels: Refactor, CoSimulation, Revert

#12452 [OptApp] Add a response to convert discrete value optimization problems to continuous optimization problems
  applications/OptimizationApplication/python_scripts/responses/discrete_value_residual_response_function.py
  applications/OptimizationApplication/tests/responses_tests/test_discrete_value_residual_response_function.py
  applications/OptimizationApplication/tests/test_OptimizationApplication.py
Labels: Applications, Python, Feature, Optimization

#12473 [GeoMechanicsApplication] Added nodal extrapolation to settlement test and c++ workflow
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/geo_output_writer.cpp
  applications/GeoMechanicsApplication/tests/settlement_workflow.py
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/ProjectParameters_stage3.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/ProjectParameters_stage4.json
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage3.post.orig.res
  applications/GeoMechanicsApplication/tests/test_settlement_workflow/test_model_stage4.post.orig.res
Labels: GeoMechanics

#12460 [OptApp] Simp Control Allow not removing materials
  applications/OptimizationApplication/python_scripts/controls/material/simp_control.py
  applications/OptimizationApplication/tests/control/material/test_simp_control.py
Labels: Applications, Python, FastPR, Optimization

#12477 [Core] Fixed the calculation of the table's derivative outside its domain
  kratos/includes/table.h
  kratos/tests/cpp_tests/sources/test_table.cpp
Labels: Kratos Core, Bugfix, Behaviour Change

#12492 [GeoMechanicsApplication] Fix hydraulic head time writing
  applications/GeoMechanicsApplication/custom_workflows/geo_output_writer.cpp
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_1.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_2.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_3.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_4.orig.res
Labels: Bugfix

#12181 [MPM] Introduce Columb friction for grid-based Dirichlet BC
  applications/MPMApplication/custom_python/mpm_python_application.cpp
  applications/MPMApplication/custom_strategies/schemes/mpm_residual_based_bossak_scheme.hpp
  applications/MPMApplication/custom_strategies/strategies/mpm_residual_based_newton_raphson_strategy.hpp
  applications/MPMApplication/custom_utilities/material_point_generator_utility.cpp
  applications/MPMApplication/custom_utilities/mpm_boundary_rotation_utility.h
  applications/MPMApplication/mpm_application.cpp
  applications/MPMApplication/mpm_application_variables.cpp
  applications/MPMApplication/mpm_application_variables.h
  applications/MPMApplication/python_scripts/apply_mpm_slip_boundary_process.py
  applications/MPMApplication/python_scripts/mpm_analysis.py
  applications/MPMApplication/tests/friction_tests/conforming/friction_conforming_test_Body.mdpa
  applications/MPMApplication/tests/friction_tests/conforming/friction_conforming_test_Grid.mdpa
  applications/MPMApplication/tests/friction_tests/conforming/friction_conforming_test_materials.json
  applications/MPMApplication/tests/friction_tests/conforming/friction_conforming_test_parameters.json
  applications/MPMApplication/tests/friction_tests/conforming/friction_conforming_test_results.json
  applications/MPMApplication/tests/friction_tests/conforming/friction_conforming_test_results2.json
  applications/MPMApplication/tests/mpm_test_factory.py
  applications/MPMApplication/tests/test_MPMApplication.py
Labels: Feature
