Repository KratosMultiphysics/Kratos, pull requests merged in 2025-10, with the labels that each got.

#13834 [Core][MPI] Cleaning MPI search to avoid potential bottlenecks in `SpatialSearchResultContainer`. Adding `SpatialSearchResultContainer`/`SpatialSearchResultContainerVector` and `SearchWrapper` (v.4.0)
  kratos/mpi/tests/cpp_tests/spatial_containers/test_search_wrapper_mpi.cpp
  kratos/mpi/tests/cpp_tests/spatial_containers/test_spatial_search_result_container_mpi.cpp
  kratos/mpi/tests/cpp_tests/spatial_containers/test_spatial_search_result_container_vector_mpi.cpp
  kratos/python/add_search_strategies_to_python.cpp
  kratos/spatial_containers/search_wrapper.cpp
  kratos/spatial_containers/search_wrapper.h
  kratos/spatial_containers/spatial_search_result_container.cpp
  kratos/spatial_containers/spatial_search_result_container.h
  kratos/spatial_containers/spatial_search_result_container_vector.cpp
  kratos/spatial_containers/spatial_search_result_container_vector.h
  kratos/tests/cpp_tests/spatial_containers/test_search_wrapper.cpp
  kratos/tests/cpp_tests/spatial_containers/test_spatial_search_result_container.cpp
  kratos/tests/cpp_tests/spatial_containers/test_spatial_search_result_container_vector.cpp
  kratos/tests/test_search_wrapper.py
  kratos/utilities/search_utilities.h
Labels: Cleanup, Kratos Core, Parallel-MPI, Transition

#13850 [Doc] Update `VTKOutputProcess` documentation
  docs/pages/Kratos/Processes/Output_Process/VTK_Output_Process.md
  docs/pages/Kratos/Processes/Output_Process/images/vtk_output.png
Labels: Documentation, FastPR, IO

#13862 [GeoMechanicsApplication] Fix C++ settlement workflow inconsistencies
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/time_loop_executor.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_pw_element.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_workflows/test_time_loop_executor.cpp
Labels: Bugfix, GeoMechanics

#13859 [ContactStructuralMechanicsApplication] Improve handling of DOF initialization in `ResidualBasedNewtonRaphsonMPCContactStrategy`
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_contact_strategy.h
  applications/ContactStructuralMechanicsApplication/custom_strategies/custom_strategies/residualbased_newton_raphson_mpc_contact_strategy.h
Labels: Applications, Hotfix, FastPR, Transition

#13857 [FluidDynamicsApplication] Refactor `FluidAnalysisWithoutSolution` to fix `IntegrationPointStatisticsTest` with new analysis structure
  applications/FluidDynamicsApplication/tests/fluid_analysis_without_solution.py
  applications/FluidDynamicsApplication/tests/test_statistics_process.py
Labels: Testing, FastPR, Transition, FluidDynamics

#13718 [Core/TensorAdaptors] Add CombinedTensorAdaptor
  kratos/python/add_tensor_adaptors_to_python.cpp
  kratos/tensor_adaptors/combined_tensor_adaptor.cpp
  kratos/tensor_adaptors/combined_tensor_adaptor.h
  kratos/tests/test_tensor_adaptors.py
Labels: Kratos Core, Python, C++, Feature
