Repository KratosMultiphysics/Kratos, pull requests merged in 2025-09, with the labels that each got.

#13776 [Core] Add missing overloads for condition and element IntegrationPoint methods
  kratos/conditions/mesh_condition.cpp
  kratos/conditions/mesh_condition.h
  kratos/elements/mesh_element.cpp
  kratos/elements/mesh_element.h
Labels: Kratos Core, C++, FastPR, Inconsistent

#11507 [HDF5] Update - 9 - python ModelPart script
  applications/HDF5Application/custom_python/add_custom_io_to_python.cpp
  applications/HDF5Application/python_scripts/core/operations/model_part.py
  applications/HDF5Application/python_scripts/core/utils.py
  applications/HDF5Application/python_scripts/point_set_output_process.py
  applications/HDF5Application/tests/test_hdf5_core.py
  applications/HDF5Application/tests/test_hdf5_core_mpi.py
  applications/HDF5Application/tests/test_hdf5_processes.py
Labels: Applications, Python

#13797 [Core] Improve `TetrahedralMeshOrientationCheck` logging
  kratos/processes/tetrahedral_mesh_orientation_check.cpp
  kratos/processes/tetrahedral_mesh_orientation_check.h
  kratos/python/add_processes_to_python.cpp
Labels: Cleanup, Kratos Core, FastPR, Logging

#13785 [GeoMechanicsApplication] Add settlement test case 3
  applications/GeoMechanicsApplication/custom_processes/fix_water_pressures_above_phreatic_line.cpp
  applications/GeoMechanicsApplication/python_scripts/geo_plot_utilities.py
  applications/GeoMechanicsApplication/python_scripts/run_geo_settlement.py
  applications/GeoMechanicsApplication/python_scripts/unit_conversions.py
  applications/GeoMechanicsApplication/tests/README.md
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_processes/test_fix_water_pressures_above_phreatic_line.cpp
  applications/GeoMechanicsApplication/tests/dsettlement/dry_column_uniform_load/ref_settlement_data.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/README.md
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ProjectParameters_stage4.json
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ProjectParameters_stage5.json
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ref_effective_vertical_stresses_after_100.1_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ref_effective_vertical_stresses_after_10000_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ref_effective_vertical_stresses_after_100_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ref_settlement_data.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ref_water_pressures_after_100.1_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ref_water_pressures_after_10000_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/high_permeability/ref_water_pressures_after_100_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ProjectParameters_stage4.json
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ProjectParameters_stage5.json
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ref_effective_vertical_stresses_after_100.1_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ref_effective_vertical_stresses_after_10000_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ref_effective_vertical_stresses_after_100_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ref_settlement_data.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ref_water_pressures_after_100.1_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ref_water_pressures_after_10000_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/fully_saturated_column_uniform_load/low_permeability/ref_water_pressures_after_100_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/MaterialParameters_abc.json
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/MaterialParameters_linear.json
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ProjectParameters_stage3.json
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ProjectParameters_stage4.json
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ProjectParameters_stage5.json
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/README.md
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/column_partially_saturated.svg
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/mesh.mdpa
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ref_effective_vertical_stresses_after_100.1_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ref_effective_vertical_stresses_after_10000_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ref_effective_vertical_stresses_after_100_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ref_settlement_data.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ref_water_pressures_after_100.1_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ref_water_pressures_after_10000_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/ref_water_pressures_after_100_days.txt
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/test_case_3_settlement_plot.svg
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/test_case_3_stress_plot_after_100.1_days.svg
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/test_case_3_stress_plot_after_10000_days.svg
  applications/GeoMechanicsApplication/tests/dsettlement/phreatic_line_below_soil_surface/test_case_3_stress_plot_after_100_days.svg
  applications/GeoMechanicsApplication/tests/moving_column_with_fixed_pressure_above_phreatic_line.py
  applications/GeoMechanicsApplication/tests/moving_column_with_fixed_pressure_above_phreatic_line/README.md
  applications/GeoMechanicsApplication/tests/test_dsettlement_validation.py
  applications/GeoMechanicsApplication/tests/test_helper.py
Labels: GeoMechanics

#13376 change set process info to recursively set all sub model part
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/MeshMovingApplication/custom_utilities/fixed_mesh_ale_utilities.cpp
  kratos/includes/model_part.h
  kratos/python/add_model_part_to_python.cpp
  kratos/sources/model_part.cpp
  kratos/tests/test_model_part.py
Labels: Kratos Core, C++, Behaviour Change

#13802 [Core] Missing counter check in `TetrahedralMeshOrientationCheck`
  kratos/processes/tetrahedral_mesh_orientation_check.cpp
  kratos/processes/tetrahedral_mesh_orientation_check.h
Labels: Kratos Core, FastPR

#13799 [GeoMechanicsApplication] Remove variable `NODAL_CAUCHY_STRESS_TENSOR`
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_python/geo_mechanics_python_application.cpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/generalized_newmark_scheme.hpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.h
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
  applications/GeoMechanicsApplication/tests/test_normal_load_quad_8n.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_tetra_10n.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_triangle_3n_fic.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_normal_load_triangle_6n.gid/ProjectParameters.json
Labels: Cleanup, GeoMechanics

#13803 [CompressiblePotentialFlowApplication] Change the use of vacuum velocity limiter
  applications/CompressiblePotentialFlowApplication/custom_utilities/potential_flow_utilities.cpp
  applications/CompressiblePotentialFlowApplication/tests/cpp_tests/test_potential_flow_utilities.cpp
Labels: Enhancement, FastPR, CompressiblePotentialFlow

#13807 [GeoMechanicsApplication] Remove the legacy piping (interface) element
  applications/GeoMechanicsApplication/custom_elements/element_hierarchy.puml
  applications/GeoMechanicsApplication/custom_elements/element_hierarchy.svg
  applications/GeoMechanicsApplication/custom_elements/interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.hpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/README.md
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_erosion_process_strategy.hpp
  applications/GeoMechanicsApplication/custom_utilities/check_utilities.h
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_strategies/test_geo_mechanics_newton_rapson_erosion_processs_strategy.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_utilities/test_constitutive_law_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_workflows/test_GeoMechanicsNewtonRaphsonErosionProcessStrategy.cpp
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L30.gid/HeightAquiferD10L30.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L30.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L30.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L60.gid/HeightAquiferD10L60.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L60.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L60.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L90.gid/HeightAquiferD10L90.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L90.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD10L90.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L30.gid/HeightAquiferD20L30.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L30.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L30.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L60.gid/HeightAquiferD20L60.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L60.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L60.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L90.gid/HeightAquiferD20L90.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L90.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD20L90.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L30.gid/HeightAquiferD30L30.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L30.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L30.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L60.gid/HeightAquiferD30L60.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L60.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L60.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L90.gid/HeightAquiferD30L90.mdpa
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L90.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_compare_sellmeijer/HeightAquiferD30L90.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_sellmeijers_rule_validation.py
Labels: Cleanup, GeoMechanics

#13810 [CompressiblePotentialFlowApplication] Cleanup define_wake_process_2d.py
  applications/CompressiblePotentialFlowApplication/python_scripts/define_wake_process_2d.py
Labels: Cleanup, CompressiblePotentialFlow

#13811 [CompressiblePotentialFlowApplication] Removed unsused kutta_condition_process.h
  applications/CompressiblePotentialFlowApplication/custom_processes/kutta_condition_process.h
  applications/CompressiblePotentialFlowApplication/custom_python/add_custom_processes_to_python.cpp
Labels: Cleanup, CompressiblePotentialFlow

#13817 [FastPR][Core] Add IsThreadSafe to sparse graphs
  kratos/containers/sparse_contiguous_row_graph.h
  kratos/containers/sparse_graph.h
Labels: Kratos Core, FastPR

#13804 [CompressiblePotentialFlowApplication] Update compute_lift_process
  applications/CompressiblePotentialFlowApplication/python_scripts/compute_embedded_lift_process.py
  applications/CompressiblePotentialFlowApplication/python_scripts/compute_lift_process.py
Labels: Enhancement, FastPR, CompressiblePotentialFlow

#13829 [Hotfix][Structural] Minor fix in mixed volumetric strain element
  applications/StructuralMechanicsApplication/custom_elements/solid_elements/small_displacement_mixed_volumetric_strain_element.cpp
Labels: Applications, Hotfix
