Repository KratosMultiphysics/Kratos, pull requests merged in 2025-04, with the labels that each got.

#13287 [GeoMechanicsApplication] Avoid Derived `LinearSolver` as Template Parameter
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_strategies/test_geo_mechanics_newton_rapson_erosion_processs_strategy.cpp
Labels: Compilation, GeoMechanics

#13292 [MarkDown] Remove nigtly badge until it is fixed
  README.md
Labels: Documentation

#13290 [GeoMechanicsApplication] Add output item for the shear capacity
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_umat_3D_law.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_link_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_c_phi_reduction_process.cpp
  applications/GeoMechanicsApplication/custom_processes/apply_k0_procedure_process.cpp
  applications/GeoMechanicsApplication/custom_utilities/constitutive_law_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/constitutive_law_utilities.h
  applications/GeoMechanicsApplication/custom_utilities/output_utilities.hpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application_variables.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_small_strain_u_pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_u_pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_processes/test_apply_c_phi_reduction_process.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_utilities/test_constitutive_law_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/stub_constitutive_law.h
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities/element_setup_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities/element_setup_utilities.h
  applications/GeoMechanicsApplication/tests/single_element_with_Mohr_Coulomb/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/single_element_with_Mohr_Coulomb/MeshStructure.svg
  applications/GeoMechanicsApplication/tests/single_element_with_Mohr_Coulomb/README.md
  applications/GeoMechanicsApplication/tests/single_element_with_Mohr_Coulomb/SmallStrainUPwDiffOrderElement2D8N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/single_element_with_Mohr_Coulomb/SmallStrainUPwDiffOrderElement2D8N/mesh.mdpa
  applications/GeoMechanicsApplication/tests/single_element_with_Mohr_Coulomb/UPwSmallStrainElement2D4N/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/single_element_with_Mohr_Coulomb/UPwSmallStrainElement2D4N/mesh.mdpa
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_single_element_with_Mohr_Coulomb.py
Labels: GeoMechanics

#13296 [Core] Fix tolerance use in intersection utilities
  kratos/utilities/intersection_utilities.h
Labels: Kratos Core, Hotfix, FastPR

#13294 [GeoMechanicsApplication] Add (de)serialization of constitutive law dimensions
  applications/GeoMechanicsApplication/custom_constitutive/constitutive_law_dimension.h
  applications/GeoMechanicsApplication/custom_constitutive/plane_strain.cpp
  applications/GeoMechanicsApplication/custom_constitutive/plane_strain.h
  applications/GeoMechanicsApplication/custom_constitutive/three_dimensional.cpp
  applications/GeoMechanicsApplication/custom_constitutive/three_dimensional.h
  applications/GeoMechanicsApplication/custom_utilities/registration_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/registration_utilities.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_constitutive_law_dimensions.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_yield_surface.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_axisymmetric_stress_state.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_interface_stress_state_policy.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_plane_strain_stress_state.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_three_dimensional_stress_state.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_strategies/test_geo_mechanics_newton_rapson_erosion_processs_strategy.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/test_utilities.h
Labels: GeoMechanics

#13298 [Core] Fixed issue with uninitialized boolean member of Scheme
  kratos/solving_strategies/schemes/scheme.h
Labels: C++, FastPR, Bugfix

#13309 [FastPR][Core] Remove reorderer from future linear solvers
  kratos/future/linear_solvers/amgcl_solver.h
  kratos/future/linear_solvers/direct_solver.h
  kratos/future/linear_solvers/iterative_solver.h
  kratos/future/linear_solvers/linear_solver.h
  kratos/future/linear_solvers/reorderer.h
  kratos/future/linear_solvers/skyline_lu_factorization_solver.h
Labels: Kratos Core, FastPR

#13308 [FastPR][Core] IsEmpty in SparseContiguousRowGraph
  kratos/containers/sparse_contiguous_row_graph.h
Labels: Kratos Core, FastPR

#13301 [GeoMechanicsApplication] Added a Python script for running a settlement calculation
  applications/GeoMechanicsApplication/python_scripts/run_geo_settlement.py
Labels: GeoMechanics

#13087 Register Single Precision Linear Solvers
  kratos/factories/linear_solver_factory.h
  kratos/factories/standard_linear_solver_factory.cpp
  kratos/includes/serializer.h
  kratos/linear_solvers/amgcl_solver.h
  kratos/linear_solvers/amgcl_solver_impl.cpp
  kratos/linear_solvers/monotonicity_preserving_solver.h
  kratos/linear_solvers/scaling_solver.h
  kratos/sources/kratos_components.cpp
  kratos/sources/matrix_market_interface.cpp
Labels: Kratos Core, C++

#13297 [Benchmark] Fix failing compilation due to unused variables
  kratos/benchmarks/parallel_utilities_benchmark.cpp
Labels: Benchmarking, Compilation, FastPR

#13269 [Core] Correct order shape functions hex3d20n
  applications/GeoMechanicsApplication/tests/test_compressibility.py
  kratos/geometries/hexahedra_3d_20.h
  kratos/tests/cpp_tests/geometries/test_hexahedra_3d_20.cpp
Labels: Kratos Core, C++, Bugfix

#13168 [HDF5] Extend Error Tracebacks to the HDF5 lib
  applications/HDF5Application/custom_io/hdf5_file.cpp
  applications/HDF5Application/tests/test_hdf5_file.cpp
Labels: Applications, C++

#13315 [Core] Remove deprecated iteration over `Parameters`
  applications/CoSimulationApplication/python_scripts/convergence_criteria/absolute_norm_energy_conjugate.py
  applications/DEMApplication/python_scripts/materials_assignation_utility.py
  applications/FluidDynamicsHydraulicsApplication/python_scripts/navier_stokes_two_fluid_hydraulic_fractional_solver.py
  applications/FluidDynamicsHydraulicsApplication/python_scripts/navier_stokes_two_fluid_hydraulic_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
  applications/MPMApplication/python_scripts/mpm_analysis.py
  applications/RomApplication/python_scripts/rom_analysis.py
  applications/SwimmingDEMApplication/python_scripts/swimming_sphere_strategy.py
  applications/SystemIdentificationApplication/python_scripts/responses/damage_detection_response.py
  kratos/python/add_kratos_parameters_to_python.cpp
  kratos/python_interface/__init__.py
  kratos/python_scripts/analysis_stage.py
  kratos/python_scripts/model_parameters_factory.py
Labels: Kratos Core, Python, Deprecated

#13319 [CI] Fix Rocky
  .github/workflows/ci.yml
  scripts/docker_files/docker_file_ci_rockylinux8/DockerFile
Labels: Bugfix, Continuous Integration

#13320 [Core, MPI] - Bugfix gather utility after #12903
  kratos/mpi/utilities/gather_modelpart_utility.cpp
Labels: Parallel-MPI, Bugfix

#13326 [Tests] Bugfix in SparseContainersTestUtilities
  kratos/tests/test_utilities/sparse_containers_test_utilities.cpp
Labels: Testing, Bugfix

#13321 [GeoMechanicsApplication] Avoid slicing of class `StressStatePolicy`
  applications/GeoMechanicsApplication/custom_elements/axisymmetric_stress_state.h
  applications/GeoMechanicsApplication/custom_elements/interface_stress_state.h
  applications/GeoMechanicsApplication/custom_elements/plane_strain_stress_state.h
  applications/GeoMechanicsApplication/custom_elements/stress_state_policy.h
  applications/GeoMechanicsApplication/custom_elements/three_dimensional_stress_state.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_axisymmetric_stress_state.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_interface_stress_state_policy.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_plane_strain_stress_state.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_three_dimensional_stress_state.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_workflows/test_GeoMechanicsNewtonRaphsonErosionProcessStrategy.cpp
Labels: GeoMechanics

#13328 [GeoMechanicsApplication] Removed an unused alias
  applications/GeoMechanicsApplication/custom_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_mass_and_damping.h
Labels: FastPR, GeoMechanics

#13339 [GeoMechanicsApplication] Marked a few member functions `[[noreturn]]`
  applications/GeoMechanicsApplication/custom_elements/axisymmetric_stress_state.h
  applications/GeoMechanicsApplication/custom_elements/interface_stress_state.h
  applications/GeoMechanicsApplication/custom_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_mass_and_damping.h
Labels: FastPR, GeoMechanics

#13341 [GeoMechanicsApplication] Settlement workflow - Fix uninitialized value issue
  applications/GeoMechanicsApplication/custom_processes/apply_component_table_process.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
Labels: FastPR, Bugfix, GeoMechanics

#13349 [Docs] Minor Improvements
  documents/doxyfile
  documents/mkdocs.sh
Labels: Documentation, FastPR

#13358 [GeoMechanicsApplication] Fixed two cases of invalid pointers
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
Labels: FastPR, Bugfix, GeoMechanics

#13360 [Hotfix][Core] Documentation minor fix
  kratos/containers/csr_matrix.h
Labels: Kratos Core, Documentation, Hotfix

#13340 [ConstitutiveLawsApp] High cycle fatigue law update
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application_variables.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/cl_integrators/high_cycle_fatigue_law_integrator.h
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/hcf_data_container.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/auxiliary_files/hcf_data_container.h
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/fatigue/generic_small_strain_high_cycle_fatigue_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/small_strains/fatigue/generic_small_strain_high_cycle_fatigue_law.h
  applications/ConstitutiveLawsApplication/custom_processes/advance_in_time_high_cycle_fatigue_process.cpp
  applications/ConstitutiveLawsApplication/custom_processes/advance_in_time_high_cycle_fatigue_process.h
  applications/ConstitutiveLawsApplication/custom_python/constitutive_laws_python_application.cpp
  applications/ConstitutiveLawsApplication/python_scripts/high_cycle_fatigue_analysis.py
  applications/ConstitutiveLawsApplication/tests/AutomatedInitialDamageProcess/automated_initial_damage_process_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/HighCycleFatigue/high_cycle_fatigue_test_results.json
  applications/ConstitutiveLawsApplication/tests/TractionSeparationLaw/traction_separation_law_test_parameters.json
  applications/ConstitutiveLawsApplication/tests/cpp_tests/test_hcf_data_container.cpp
  applications/ConstitutiveLawsApplication/tests/test_factory.py
Labels: Enhancement, Applications

#13348 [Structural] Add `LinkConstraint`
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constraints/link_constraint.cpp
  applications/StructuralMechanicsApplication/custom_constraints/link_constraint.hpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_constraints_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_constraints_to_python.hpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/python_scripts/link_constraint_process.py
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_2d.json
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_2d.mdpa
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_2d_materials.json
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_3d.json
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_3d.mdpa
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_3d_materials.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_link_constraint.py
Labels: Feature, StructuralMechanicsApplication

#13345 [Core] Add Support for Constraint Hessians
  applications/StructuralMechanicsApplication/CMakeLists.txt
  applications/StructuralMechanicsApplication/custom_constraints/link_constraint.cpp
  applications/StructuralMechanicsApplication/custom_constraints/link_constraint.hpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_constraints_to_python.cpp
  applications/StructuralMechanicsApplication/custom_python/add_custom_constraints_to_python.hpp
  applications/StructuralMechanicsApplication/custom_python/structural_mechanics_python_application.cpp
  applications/StructuralMechanicsApplication/python_scripts/link_constraint_process.py
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_2d.json
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_2d.mdpa
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_2d_materials.json
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_3d.json
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_3d.mdpa
  applications/StructuralMechanicsApplication/tests/constraints/link_constraint_3d_materials.json
  applications/StructuralMechanicsApplication/tests/test_StructuralMechanicsApplication.py
  applications/StructuralMechanicsApplication/tests/test_link_constraint.py
  kratos/python/add_strategies_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/augmented_lagrange_constraint_assembler.cpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/constraint_assembler.hpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/constraint_utilities.hpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/multifreedom_constraint.cpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/multifreedom_constraint.hpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/p_grid.cpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/p_multigrid_builder_and_solver.cpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/p_multigrid_builder_and_solver.hpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/sparse_utilities.hpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/status_stream.cpp
  kratos/solving_strategies/builder_and_solvers/p_multigrid/status_stream.hpp
Labels: Kratos Core, C++, Feature

#13362 [Hotfix][Core] Sparse arrays move constructors
  kratos/containers/csr_matrix.h
  kratos/containers/system_vector.h
Labels: Kratos Core, Hotfix, Incomplete

#13363 [FastPR][Core] Missing const in transpose CSR
  kratos/utilities/amgcl_csr_conversion_utilities.h
Labels: Kratos Core, FastPR

#13150 [Core] Refactor `Dot` function in `math_utils.h` to support template types
  kratos/utilities/math_utils.h
Labels: Kratos Core, FastPR, Refactor

#13382 [GeoMechanicsApplication] Remove unused arc-length control parameters
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_strategy.hpp
  applications/GeoMechanicsApplication/custom_utilities/solving_strategy_factory.hpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
  applications/GeoMechanicsApplication/python_scripts/check_and_prepare_model_process_geo.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_Pw_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_T_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_U_Pw_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
Labels: Cleanup, GeoMechanics
