Repository KratosMultiphysics/Kratos, pull requests merged in 2025-01, with the labels that each got.

#12974 Geo/check linear elastic parameters
  applications/GeoMechanicsApplication/custom_constitutive/linear_elastic_law.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_linear_elastic_plane_strain_2D_law.cpp
Labels: GeoMechanics

#12985 [SIApp] Adding Strain Sensor test for solids
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_conditions/adjoint_semi_analytic_base_condition.h
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.cpp
  applications/StructuralMechanicsApplication/custom_response_functions/adjoint_elements/adjoint_finite_difference_base_element.h
  applications/SystemIdentificationApplication/custom_sensors/strain_sensor.cpp
  applications/SystemIdentificationApplication/custom_sensors/strain_sensor.h
  applications/SystemIdentificationApplication/tests/auxiliary_files/solid_material_properties.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/StructuralMaterials.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/Structure.mdpa
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/adjoint_material_parameters.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/adjoint_project_parameters_p_norm.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/damaged_system/MainKratos.py
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/damaged_system/StructuralMaterials.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/damaged_system/primal_project_parameters.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/measured_data.csv
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/optimization_parameters_p_norm.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/primal_project_parameters.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/sensor_data.json
  applications/SystemIdentificationApplication/tests/responses/test_damage_response.py
  applications/SystemIdentificationApplication/tests/test_SystemIdentificationApplication.py
  applications/SystemIdentificationApplication/tests/test_adjoint_sensors.py
Labels: Applications, Python, C++, Bugfix

#12989 [OptApp] Add integration point output
  applications/OptimizationApplication/python_scripts/execution_policies/kratos_analysis_execution_policy.py
Labels: Applications, Python

#12992 [Core] Fix Clang warning when `discard-qualifier` on line 133 of `registry.h`
  kratos/includes/registry.h
Labels: Warning, Kratos Core, Clang, Compilation, FastPR

#12981 [GeoMechanicsApplication] Fixed setting "DOMAIN_SIZE" by the `GeoMechanicalSolver`
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/python_scripts/geomechanics_solver.py
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_master_slave_constraints.py
  applications/GeoMechanicsApplication/tests/test_master_slave_constraints/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_master_slave_constraints/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_master_slave_constraints/README.md
  applications/GeoMechanicsApplication/tests/test_master_slave_constraints/mesh.svg
  applications/GeoMechanicsApplication/tests/test_master_slave_constraints/model.mdpa
Labels: Bugfix, GeoMechanics

#12983 [CLApp] Generalizing the Serial Parallel Rule of Mixtures to perform 2d simulations
  applications/ConstitutiveLawsApplication/constitutive_laws_application.cpp
  applications/ConstitutiveLawsApplication/constitutive_laws_application.h
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.cpp
  applications/ConstitutiveLawsApplication/custom_constitutive/composites/serial_parallel_rule_of_mixtures_law.h
  applications/ConstitutiveLawsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.cpp
  applications/ConstitutiveLawsApplication/custom_utilities/advanced_constitutive_law_utilities.h
  applications/ConstitutiveLawsApplication/tests/SerialParallelRuleOfMixturesCube/serial_parallel_damage_test_materials.json
Labels: Applications

#12980 [GeoMechanicsApplication] Create exit criterion for c phi process
  applications/GeoMechanicsApplication/custom_processes/apply_c_phi_reduction_process.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_processes/test_apply_c_phi_reduction_process.cpp
Labels: GeoMechanics

#13005 [GeoMechanicsApplication] Fix some minor issues
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_processes/apply_c_phi_reduction_process.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_processes/test_apply_c_phi_reduction_process.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_processes/test_reset_displacement_process.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_strategies/test_newmark_quasistatic_U_Pw_scheme.cpp
Labels: Cleanup, GeoMechanics

#12928 [Documentation] Adding `Registry` class documentation
  docs/pages/Kratos/For_Developers/General/Registry.md
  kratos/includes/registry.h
  kratos/includes/registry_item.h
Labels: Kratos Core, Documentation, FastPR

#12959 [Core] Refactor `load` serialization of the `Model` to avoid potential memory issues
  kratos/containers/model.cpp
Labels: Kratos Core, Serialization, Bugfix

#13015 [SMApp] Minor hotfixes in the Base solid element
  applications/StructuralMechanicsApplication/custom_elements/solid_elements/base_solid_element.cpp
Labels: FastPR

#13016 Fix Empty Array Checks in IQN-ILS
  applications/CoSimulationApplication/python_scripts/convergence_accelerators/iqnils.py
Labels: Python, Bugfix, CoSimulation

#12854 [Core] Add SIApp to Linux CI
  .github/workflows/configure_research_applications.sh
  applications/SystemIdentificationApplication/custom_sensors/sensor_view.cpp
  applications/SystemIdentificationApplication/custom_utilities/smooth_clamper.cpp
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification/optimization_parameters.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm/optimization_parameters.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm_summary_ref.csv
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_summary_ref.csv
  applications/SystemIdentificationApplication/tests/test_system_identification.py
Labels: Continuous Integration

#13025 [Mapping] Fix UpdateFunctionNonHist to use SetValue for setting node value
  applications/MappingApplication/custom_utilities/mapper_utilities.h
Labels: Bugfix

#13023 [DEMApplication][Fast] Clean up "global viscous damping"
  applications/DEMApplication/DEM_application.cpp
  applications/DEMApplication/DEM_application_variables.h
  applications/DEMApplication/custom_elements/spheric_particle.cpp
  applications/DEMApplication/custom_elements/spheric_particle.h
  applications/DEMApplication/custom_python/DEM_python_application.cpp
  applications/DEMApplication/python_scripts/dem_default_input_parameters.py
  applications/DEMApplication/python_scripts/sphere_strategy.py
  applications/DEMApplication/tests/servo_control_tests_files/ProjectParametersDEM.json
Labels: Cleanup

#13028 [GeoMechanicsApplication] Removed two redundant default values for "reset_displacements"
  applications/GeoMechanicsApplication/python_scripts/geomechanics_Pw_solver.py
  applications/GeoMechanicsApplication/python_scripts/geomechanics_U_Pw_solver.py
Labels: Cleanup, GeoMechanics

#13027 [GeoMechanicsApplication] Removed initialization of material response from `InitializeSolutionStep`
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.hpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.hpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.hpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.hpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_transient_Pw_element.cpp
Labels: Cleanup, GeoMechanics

#13038 [Docs][FastPR] Update links output processes
  docs/pages/Kratos/Processes/Output_Process/GiD_Output_Process.md
  docs/pages/Kratos/Processes/Output_Process/Output_Process.md
  docs/pages/Kratos/Processes/Output_Process/Point_output_process.md
  docs/pages/Kratos/Processes/Output_Process/VTK_Output_Process.md
Labels: Documentation, FastPR

#13040 [Core] Unify profiler into one single file (header only)
  kratos/sources/profiler.cpp
  kratos/utilities/profiler.h
Labels: Windows, Clang, Compilation, Refactor

#13046 [Core] Remove leftover verbosity in `OctreeBinary`
  kratos/spatial_containers/octree_binary.h
Labels: Cleanup, Kratos Core, Leftover

#13047 [IGA][FastPR] Modify iga output process
  applications/IgaApplication/python_scripts/iga_output_process.py
Labels: FastPR, CAD Integration

#13048 [Core] `Constrain2To1` and `Constrain2To1New`not compiling in `OctreeBinary` to signed/unisgned comparison
  kratos/spatial_containers/octree_binary.h
Labels: Kratos Core, FastPR, Inconsistent

#13045 [Core] Fix Curve Axis Intersection
  kratos/tests/cpp_tests/utilities/test_curve_axis_intersection.cpp
  kratos/utilities/curve_axis_intersection.h
Labels: Bugfix, CAD Integration

#13058 [Core] Fix Matrix Market Output
  kratos/sources/matrix_market_interface.cpp
Labels: C++, Bugfix

#13035 [GeoMechanicsApplication] Improve performance in DGeoFlow
  applications/GeoMechanicsApplication/custom_elements/U_Pw_base_element.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/line_interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/small_strain_U_Pw_diff_order_element.cpp
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_element.cpp
  applications/GeoMechanicsApplication/custom_geometries/line_interface_geometry.h
  applications/GeoMechanicsApplication/custom_processes/apply_phreatic_multi_line_pressure_table_process.cpp
  applications/GeoMechanicsApplication/custom_processes/set_parameter_field_process.cpp
  applications/GeoMechanicsApplication/custom_strategies/strategies/geo_mechanics_newton_raphson_erosion_process_strategy.hpp
  applications/GeoMechanicsApplication/custom_utilities/dof_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/dof_utilities.h
  applications/GeoMechanicsApplication/custom_utilities/element_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/stress_strain_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/transport_equation_utilities.cpp
  applications/GeoMechanicsApplication/custom_utilities/transport_equation_utilities.hpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_conditions/test_T_micro_climate_flux_condition.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_integration_schemes.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_transient_Pw_element.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_geometries/test_interface_geometry.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_processes/test_geo_extrapolate_integration_point_values_to_nodes_process.cpp
Labels: Performance, GeoMechanics

#12844 [OptApp] Small fixes to RGP, Conv Crit, NLOPT test
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_gradient_projection.py
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_relaxed_gradient_projection.py
  applications/OptimizationApplication/python_scripts/controls/master_control.py
  applications/OptimizationApplication/python_scripts/controls/shape/vertex_morphing_shape_control.py
  applications/OptimizationApplication/python_scripts/utilities/opt_convergence.py
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/materials_2D.json
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/primal_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/nlopt_tests/mma_shell_thickness_opt/test_mma_optimizer.py
Labels: Applications, Python, Optimization

#13053 [Scripts] Update `INSTALL.md` to clarify UCRT compatibility with Windows 10/11 and add new scripts
  INSTALL.md
  scripts/standard_configure_MINGW_UCRT64.bat
  scripts/standard_configure_MINGW_UCRT64.sh
Labels: Windows, Clang, Documentation, Compilation

#13059 [GeoMechanicsApplication] Remove some unused stuff
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_2D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_2D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/bilinear_cohesive_3D_law.hpp
  applications/GeoMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.cpp
  applications/GeoMechanicsApplication/custom_python/add_custom_constitutive_laws_to_python.h
  applications/GeoMechanicsApplication/custom_python/geo_mechanics_python_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
  applications/GeoMechanicsApplication/tests/test_interface.gid/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_interface.gid/ProjectParameters.json
  applications/GeoMechanicsApplication/tests/test_interface.gid/ProjectParametersOutput.json
  applications/GeoMechanicsApplication/tests/test_interface.gid/run.txt
  applications/GeoMechanicsApplication/tests/test_interface.gid/test_interface.mdpa
  applications/GeoMechanicsApplication/tests/test_water_pressure.py
Labels: Cleanup, GeoMechanics

#13063 Fix Some Ublas Space Const Correctness Issues
  kratos/spaces/ublas_space.h
Labels: Kratos Core, C++, Inconsistent

#13075 [GeoMechanicsApplication] Fix DGeoFlow logging
  applications/GeoMechanicsApplication/custom_constitutive/incremental_linear_elastic_law.cpp
  applications/GeoMechanicsApplication/custom_elements/U_Pw_small_strain_element.cpp
  applications/GeoMechanicsApplication/custom_elements/filter_compressibility_calculator.cpp
  applications/GeoMechanicsApplication/custom_elements/transient_Pw_line_element.h
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.cpp
  applications/GeoMechanicsApplication/custom_workflows/dgeoflow.h
Labels: Hotfix, GeoMechanics

#13076 [Core] Some header refactor for consistency and modern C++ standards (`pragma`)
  kratos/includes/table.h
  kratos/includes/table_stream.h
  kratos/includes/thread_fixed_size_memory_pool.h
  kratos/includes/ublas_complex_interface.h
  kratos/includes/ublas_interface.h
  kratos/includes/variables.h
Labels: Cleanup, Kratos Core, FastPR

#13073 [Core] Migrating block build DOF array set up to utility
  kratos/python/add_dofs_to_python.cpp
  kratos/solving_strategies/builder_and_solvers/residualbased_elimination_builder_and_solver.h
  kratos/utilities/dof_utilities/elimination_build_dof_array_utility.h
Labels: Kratos Core, Refactor

#13062 Fix `block_for_each` Template Requirements
  kratos/tests/cpp_tests/utilities/test_parallel_utilities.cpp
  kratos/utilities/parallel_utilities.h
Labels: Kratos Core, C++, Parallel-SMP, Bugfix
