Repository KratosMultiphysics/Kratos, pull requests merged in 2025-06, with the labels that each got.

#13466 [GeoMechanicsApplication] Activate and improve 1D consolidation test
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.cpp
  applications/GeoMechanicsApplication/custom_utilities/scheme_factory.hpp
  applications/GeoMechanicsApplication/custom_workflows/dgeosettlement.cpp
  applications/GeoMechanicsApplication/custom_workflows/solving_strategy_wrapper.hpp
  applications/GeoMechanicsApplication/custom_workflows/strategy_wrapper.hpp
  applications/GeoMechanicsApplication/custom_workflows/time_loop_executor.hpp
  applications/GeoMechanicsApplication/python_scripts/geomechanics_analysis.py
  applications/GeoMechanicsApplication/python_scripts/run_geo_settlement.py
  applications/GeoMechanicsApplication/tests/1d_consolidation.py
  applications/GeoMechanicsApplication/tests/analytical_solutions.py
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_utilities/test_scheme_factory.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_workflows/test_solving_strategy_wrapper.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_workflows/test_time_loop_executor.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_workflows/test_time_stepping.cpp
  applications/GeoMechanicsApplication/tests/dirichlet_u/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/dirichlet_u/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation.py
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/1D-Consolidationtest.mdpa
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/MeshStructure.svg
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage1.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage10.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage11.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage2.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage3.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage4.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage5.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage6.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage7.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage8.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/ProjectParameters_stage9.json
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/README.md
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/displacement.svg
  applications/GeoMechanicsApplication/tests/one_dimensional_consolidation/water_pressure.svg
  applications/GeoMechanicsApplication/tests/settlement_workflow.py
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_helper.py
Labels: GeoMechanics

#13210 [Core] Add `ComputeTwoPlaneIntersection` and `ComputeThreePlaneIntersection` methods for plane intersection calculations in `IntersectionUtilities`
  kratos/tests/cpp_tests/utilities/test_intersection_utilities.cpp
  kratos/utilities/intersection_utilities.cpp
  kratos/utilities/intersection_utilities.h
Labels: Enhancement, Kratos Core, Testing

#13468 [StructuralMechanicsApplication] Initialize elements in nodal concentrated elements tests
  applications/StructuralMechanicsApplication/tests/test_compute_center_of_gravity.py
  applications/StructuralMechanicsApplication/tests/test_compute_mass_moment_of_inertia.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_eigenvalue_analysis.py
  applications/StructuralMechanicsApplication/tests/test_dynamic_schemes.py
  applications/StructuralMechanicsApplication/tests/test_harmonic_analysis.py
  applications/StructuralMechanicsApplication/tests/test_mass_calculation.py
  applications/StructuralMechanicsApplication/tests/test_nodal_damping.py
Labels: Applications, Testing, FastPR

#13480 [GeoMechanicsApplication] Fixed shadowing of variables
  applications/GeoMechanicsApplication/custom_strategies/schemes/generalized_newmark_scheme.hpp
  applications/GeoMechanicsApplication/custom_strategies/schemes/newmark_dynamic_U_Pw_scheme.hpp
Labels: FastPR, GeoMechanics

#11487 [HDF5] Update - 5 - PointDataIO
  applications/HDF5Application/CMakeLists.txt
  applications/HDF5Application/custom_io/hdf5_container_component_io.cpp
  applications/HDF5Application/custom_io/hdf5_model_part_io.cpp
  applications/HDF5Application/custom_io/hdf5_partitioned_model_part_io.cpp
  applications/HDF5Application/custom_io/hdf5_points_data.cpp
  applications/HDF5Application/custom_io/hdf5_points_data.h
  applications/HDF5Application/custom_io/hdf5_vertex_container_io.cpp
  applications/HDF5Application/custom_io/hdf5_vertex_container_io.h
  applications/HDF5Application/custom_python/add_custom_io_to_python.cpp
  applications/HDF5Application/custom_python/add_custom_utilities_to_python.cpp
  applications/HDF5Application/custom_utilities/container_io_utils.h
  applications/HDF5Application/custom_utilities/vertex.cpp
  applications/HDF5Application/custom_utilities/vertex.h
  applications/HDF5Application/custom_utilities/vertex_impl.h
  applications/HDF5Application/python_scripts/point_set_output_process.py
  applications/HDF5Application/tests/test_HDF5Application.py
  applications/HDF5Application/tests/test_hdf5_points_data.cpp
  applications/HDF5Application/tests/test_line_output_process.py
  applications/HDF5Application/tests/test_point_set_output_process.py
  applications/HDF5Application/tests/test_vertex.py
Labels: Applications, Python, C++

#13304 [IO] Enhance IO class by adding support for reading master-slave constraints and geometries from sub-model parts (transition to extend Metis geometries/constraint support))
  kratos/includes/io.h
Labels: Cleanup, Kratos Core, Transition, Refactor

#13446 [StructuralMechanicsApplication] changed serialization set_moving_load_process
  applications/StructuralMechanicsApplication/custom_processes/set_moving_load_process.cpp
  applications/StructuralMechanicsApplication/custom_processes/set_moving_load_process.h
  applications/StructuralMechanicsApplication/tests/test_set_moving_load_process.py
Labels: Serialization, StructuralMechanicsApplication

#13489 [Core] Adding `CountValuesUntilCharacter` to `StringUtilities`
  kratos/tests/cpp_tests/utilities/test_string_utilities.cpp
  kratos/utilities/string_utilities.cpp
  kratos/utilities/string_utilities.h
Labels: Enhancement, Kratos Core, Testing, FastPR

#13495 [Core] fixed issue with compilation ( added function definition)
  kratos/utilities/geometry_utilities/brep_sbm_utilities.cpp
Labels: FastPR

#13490 [Core] Adding sensitivity variable name function in sensitivity variable utility.
  applications/SystemIdentificationApplication/python_scripts/responses/damage_detection_response.py
  applications/SystemIdentificationApplication/python_scripts/sensor_sensitivity_solvers/sensor_sensitivity_adjoint_static_solver.py
  kratos/python/add_other_utilities_to_python.cpp
  kratos/tests/test_KratosCore.py
  kratos/tests/test_sensitivity_utilities.py
  kratos/utilities/sensitivity_builder.h
  kratos/utilities/sensitivity_utilities.h
Labels: Enhancement, Kratos Core

#13487 [GeoMechanicsApplication] Clean up UDSM-based constitutive laws
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_plane_strain_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_2D_plane_strain_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.h
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_interface_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_3D_law.hpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_law.h
  applications/GeoMechanicsApplication/geo_mechanics_application.h
Labels: Cleanup, GeoMechanics

#13283 [Core][IO] Refactor IO class and related functions for master-slave constraints, specially `ModelPartIO`
  kratos/includes/model_part_io.h
  kratos/python/add_io_to_python.cpp
  kratos/sources/model_part_io.cpp
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_read.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_write.mdpa
  kratos/tests/auxiliar_files_for_python_unittest/mdpa_files/test_model_part_io_write_mesh_only.mdpa
  kratos/tests/test_model_part_io.py
  kratos/tests/test_object_printing.py
Labels: Enhancement, Kratos Core, Incomplete, IO

#13325 [External] Update VexCL
  external_libraries/vexcl/CMakeLists.txt
  external_libraries/vexcl/cmake/VexCLConfig.cmake.in
  external_libraries/vexcl/cmake/VexCLOpenCLTarget.cmake
  external_libraries/vexcl/docs/CMakeLists.txt
  external_libraries/vexcl/docs/cmake.rst
  external_libraries/vexcl/examples/simple/CMakeLists.txt
Labels: External library, Compilation, CMake

#13504 [Doc] Porting and updating `Input data` from old wiki to new wiki
  docs/pages/Kratos/For_Developers/IO/Input-data.md
Labels: Documentation, FastPR, IO

#13505 [Core][MPI] Missing `DenseVector` in `vector` definition may the compiler fail
  kratos/mpi/utilities/parallel_fill_communicator.cpp
Labels: Kratos Core, Compilation, Parallel-MPI, FastPR

#13443 [Stuctural] Fix mixed u-epsilon integration
  applications/StructuralMechanicsApplication/custom_elements/solid_elements/small_displacement_mixed_strain_displacement_element.cpp
  applications/StructuralMechanicsApplication/custom_elements/solid_elements/small_displacement_mixed_strain_displacement_element.h
Labels: Applications, Usability, StructuralMechanicsApplication

#13503 [Core] Fix `Prism3D15` no resize in `ShapeFunctionValue`
  kratos/geometries/prism_3d_15.h
Labels: Kratos Core, Hotfix, FastPR, Bugfix

#13529 [Several] Fix `warning: ‘static std::string Kratos::FilesystemExtensions::CurrentWorkingDirectory()’ is deprecated: Please use std::filesystem directly [-Wdeprecated-declarations]`
  applications/CSharpWrapperApplication/tests/cpp_tests/test_calculate.cpp
  applications/ContactStructuralMechanicsApplication/tests/cpp_tests/linear_solvers/test_mixedulm_linear_solver.cpp
  applications/MeshingApplication/tests/cpp_tests/mmg/test_mmg_io.cpp
Labels: Warning, Applications, Compilation, FastPR

#13407 Soil element test - Triaxial
  applications/GeoMechanicsApplication/python_scripts/element_test/main.py
  applications/GeoMechanicsApplication/python_scripts/element_test/material_editor.py
  applications/GeoMechanicsApplication/python_scripts/element_test/mdpa_editor.py
  applications/GeoMechanicsApplication/python_scripts/element_test/project_parameter_editor.py
  applications/GeoMechanicsApplication/python_scripts/element_test/run_triaxial_simulation.py
  applications/GeoMechanicsApplication/python_scripts/element_test/test_triaxial/MaterialParameters.json
  applications/GeoMechanicsApplication/python_scripts/element_test/test_triaxial/ProjectParameters.json
  applications/GeoMechanicsApplication/python_scripts/element_test/test_triaxial/triaxial.mdpa
  applications/GeoMechanicsApplication/python_scripts/element_test/triaxial.py
  applications/GeoMechanicsApplication/python_scripts/element_test/triaxial_plots.py
  applications/GeoMechanicsApplication/python_scripts/element_test/ui_builder.py
  applications/GeoMechanicsApplication/python_scripts/element_test/ui_logger.py
  applications/GeoMechanicsApplication/python_scripts/element_test/ui_menu.py
  applications/GeoMechanicsApplication/python_scripts/element_test/ui_udsm_parser.py
Labels: GeoMechanics

#13530 [GeoMechanicsApplication] Attempt several variants of function name 'User_Mod' when loading a UDSM
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_law.cpp
  applications/GeoMechanicsApplication/custom_constitutive/small_strain_udsm_law.h
Labels: GeoMechanics

#13539 [GeoMechanicsApplication] Cleaned up script `run_multiple_stage.py`
  applications/GeoMechanicsApplication/python_scripts/run_multiple_stages.py
Labels: GeoMechanics

#13214 [Core] Refactor QEF Utility (`QuadraticErrorFunction` ). Replace eigenvalue computation with SVD
  kratos/tests/cpp_tests/utilities/test_qef_utility.cpp
  kratos/utilities/qef_utility.cpp
  kratos/utilities/qef_utility.h
Labels: Enhancement, Cleanup, Kratos Core, Refactor

#12620 [Core][MPI] `ParallelFillcommunicator` computing submodelpart information from main model part
  kratos/mpi/utilities/parallel_fill_communicator.cpp
  kratos/mpi/utilities/parallel_fill_communicator.h
Labels: Kratos Core, Performance, Parallel-MPI, Behaviour Change, HPC

#13506 [Core] Clean up and replace ParallelUtilities in `deflation_utils.h`
  kratos/utilities/deflation_utils.h
Labels: Cleanup, Kratos Core, Parallel-SMP, FastPR

#13564 [Core] Fix projection direction in `NewtonRaphsonCurve` to improve robustness
  kratos/tests/cpp_tests/geometries/test_projection_nurbs_geometry.cpp
  kratos/utilities/nurbs_utilities/projection_nurbs_geometry_utilities.h
Labels: Kratos Core, CAD Integration
