Repository KratosMultiphysics/Kratos, pull requests merged in 2025-07, with the labels that each got.

#13579 [GeoMechanicsApplication] Made two Python tests more tolerant when comparing results
  applications/GeoMechanicsApplication/tests/test_dirichlet_u.py
  applications/GeoMechanicsApplication/tests/test_integration_node_extrapolation.py
Labels: Testing, FastPR, GeoMechanics

#13576 [GeoMechanicsApplication] Improved robustness of nodal hydraulic head tests
  applications/GeoMechanicsApplication/custom_python/add_custom_utilities_to_python.cpp
  applications/GeoMechanicsApplication/custom_workflows/custom_workflow_factory.cpp
  applications/GeoMechanicsApplication/custom_workflows/custom_workflow_factory.h
  applications/GeoMechanicsApplication/python_scripts/run_geo_flow.py
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_workflows/test_head_extrapolation_flow_workflow.cpp
  applications/GeoMechanicsApplication/tests/test_GeoMechanicsApplication.py
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_1.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_2.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_3.orig.res
  applications/GeoMechanicsApplication/tests/test_head_extrapolation_custom_workflow_flow/test_head_extrapolate_4.orig.res
  applications/GeoMechanicsApplication/tests/test_nodal_hydraulic_head.py
  applications/GeoMechanicsApplication/tests/test_nodal_hydraulic_head/MaterialParameters.json
  applications/GeoMechanicsApplication/tests/test_nodal_hydraulic_head/ProjectParameters_1.json
  applications/GeoMechanicsApplication/tests/test_nodal_hydraulic_head/ProjectParameters_2.json
  applications/GeoMechanicsApplication/tests/test_nodal_hydraulic_head/ProjectParameters_3.json
  applications/GeoMechanicsApplication/tests/test_nodal_hydraulic_head/ProjectParameters_4.json
  applications/GeoMechanicsApplication/tests/test_nodal_hydraulic_head/test_nodal_hydraulic_head.mdpa
Labels: Testing, GeoMechanics

#13527 [Mapping] Creation of Nearest Neigbor Mapper for IGA/FEM Partitioned Simulations
  applications/MappingApplication/custom_mappers/interpolative_mapper_base.h
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper_iga.cpp
  applications/MappingApplication/custom_mappers/nearest_neighbor_mapper_iga.h
  applications/MappingApplication/mapping_application.cpp
  applications/MappingApplication/tests/cpp_tests/test_nearest_neighbor_iga_aux_classes.cpp
  applications/MappingApplication/tests/mdpa_files/destination_line_interface_fem.mdpa
  applications/MappingApplication/tests/mdpa_files/destination_surface_fem.mdpa
  applications/MappingApplication/tests/mdpa_files/origin_line_interface_iga.cad.json
  applications/MappingApplication/tests/mdpa_files/origin_surface_iga.cad.json
  applications/MappingApplication/tests/test_nearest_neighbor_mapper_iga.py
Labels: Applications, CAD Integration, CoSimulation

#13594 [Mapping] Updating the README for the MappingApplication
  applications/MappingApplication/README.md
Labels: FastPR, CoSimulation

#13596 [CI] Removed intel legacy CI
  .github/workflows/ci.yml
Labels: FastPR, Explicit, Fun

#13565 [CMake] Improve `Boost` detection when manually setting `BOOST_ROOT`
  cmake_modules/KratosBoost.cmake
Labels: FastPR, CMake

#13600 [Core] BugFix for Matrix DataTypeTraits
  kratos/tests/cpp_tests/utilities/test_data_type_traits.cpp
  kratos/utilities/data_type_traits.h
Labels: Kratos Core, C++, FastPR, Bugfix

#13601 [CI] Disable MPMRestartTestDynamicCantilever2D
  applications/MPMApplication/tests/restart_tests.py
Labels: Error, FastPR

#12880 [Core] Adding support for Intel LLVM compiler (aka ICX, aka DPC++)
  CMakeLists.txt
  kratos/expression/container_expression.cpp
  kratos/includes/kratos_export_api.h
  kratos/utilities/profiler.h
  scripts/standard_configure_intel_llvm.bat
Labels: Kratos Core, Compilation, Intel, Intel LLVM

#13583 [Mapping] Adding IBRA Projection to the ProjectionUtilities
  applications/MappingApplication/README.md
  applications/MappingApplication/custom_utilities/projection_utilities.cpp
  applications/MappingApplication/custom_utilities/projection_utilities.h
  applications/MappingApplication/tests/cpp_tests/test_projection_utilities.cpp
  applications/MappingApplication/tests/mdpa_files/destination_line_interface_fem.mdpa
  applications/MappingApplication/tests/mdpa_files/destination_surface_fem.mdpa
  applications/MappingApplication/tests/test_MappingApplication.py
  applications/MappingApplication/tests/test_nearest_element_mapper.py
  applications/MappingApplication/tests/test_nearest_neighbor_mapper_iga.py
Labels: CAD Integration, CoSimulation

#13595 [GeoMechanicsApplication] Convert the reordering of Mohr-Coulomb principal stresses to averaging
  applications/GeoMechanicsApplication/custom_constitutive/README.md
  applications/GeoMechanicsApplication/custom_constitutive/coulomb_with_tension_cut_off_impl.cpp
  applications/GeoMechanicsApplication/custom_constitutive/coulomb_with_tension_cut_off_impl.h
  applications/GeoMechanicsApplication/custom_constitutive/coulomb_yield_surface.cpp
  applications/GeoMechanicsApplication/custom_constitutive/coulomb_yield_surface.h
  applications/GeoMechanicsApplication/custom_constitutive/documentation_data/Mohr-Coulomb-with-tension_cutoff-formulations.pdf
  applications/GeoMechanicsApplication/custom_constitutive/interface_coulomb_with_tension_cut_off.cpp
  applications/GeoMechanicsApplication/custom_constitutive/mohr_coulomb_with_tension_cutoff.cpp
  applications/GeoMechanicsApplication/custom_constitutive/mohr_coulomb_with_tension_cutoff.h
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_mohr_coulomb_with_tension_cutoff.cpp
  applications/GeoMechanicsApplication/tests/test_mohr_coulomb_with_tension_cutoff.py
Labels: Feature

#13628 [GeoMechanicsApplication] Remove two unused piping interface elements
  applications/GeoMechanicsApplication/custom_elements/steady_state_Pw_piping_element.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.cpp
  applications/GeoMechanicsApplication/geo_mechanics_application.h
Labels: GeoMechanics

#13622 [CI] Adding `ContactStructuralMechanicsApplications` to Windows CI
  .github/workflows/ci_apps_windows.json
  .github/workflows/configure.cmd
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.cpp
  applications/ContactStructuralMechanicsApplication/custom_utilities/mortar_explicit_contribution_utilities.h
Labels: Applications, FastPR, Continuous Integration

#13649 [External] Purge unused features from `gidpost`
  CMakeLists.txt
  external_libraries/gidpost/source/CMakeLists.txt
Labels: Windows, External library, Compilation, FastPR

#13654 [Core] Minor clean up strategies
  kratos/solving_strategies/strategies/line_search_strategy.h
  kratos/solving_strategies/strategies/residualbased_linear_strategy.h
  kratos/solving_strategies/strategies/residualbased_newton_raphson_strategy.h
Labels: Cleanup, Kratos Core, FastPR

#13508 [Core] Avoid Ublas namespace polluting with explicit call in `ModelartIO`
  kratos/sources/model_part_io.cpp
Labels: Cleanup, Kratos Core, External library, FastPR

#13507 [Core] Avoid Ublas namespace polluting with explicit call in `BrepUtilities`
  kratos/utilities/geometry_utilities/brep_trimming_utilities.h
Labels: Cleanup, External library, FastPR

#13461 [External][JSON] Update JSON library to 3.12
  external_libraries/json/README.md
  external_libraries/json/json.hpp
  external_libraries/json/json_fwd.hpp
Labels: External library

#13491 [Core] Replace `OpenMP` pragmas with `parallel_utilities` in `model_part.cpp`
  kratos/sources/model_part.cpp
Labels: Kratos Core, Parallel-SMP, FastPR

#13632 [MPM] fix calculation of incremental deformation gradient
  applications/MPMApplication/custom_elements/mpm_updated_lagrangian.cpp
  applications/MPMApplication/python_scripts/mpm_json_output_process.py
  applications/MPMApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_Body.mdpa
  applications/MPMApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_Grid.mdpa
  applications/MPMApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_materials.json
  applications/MPMApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_parameters.json
  applications/MPMApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_reaction_results.json
  applications/MPMApplication/tests/beam_tests/dynamic_cantilever/dynamic_cantilever_consistent_mass_test_results.json
  applications/MPMApplication/tests/beam_tests/hyperelastic_cantilever_beam/penalty_self_weight_load_2D_quad_test_parameters.json
  applications/MPMApplication/tests/beam_tests/hyperelastic_cantilever_beam/self_weight_load_2D_quad_test_parameters.json
  applications/MPMApplication/tests/beam_tests/hyperelastic_cantilever_beam/self_weight_load_2D_quad_test_results.json
  applications/MPMApplication/tests/cooks_membrane_tests/compressible_cook_membrane_2D_test_results.json
Labels: FastPR, Bugfix

#13665 [GeoMechanicsApplication] Fix rotations and add missing area factor for integration of surface interfaces
  applications/GeoMechanicsApplication/custom_elements/interface_element.cpp
  applications/GeoMechanicsApplication/custom_elements/interface_element.h
  applications/GeoMechanicsApplication/custom_elements/lumped_integration_scheme.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_integration_schemes.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_elements/test_interface_element.cpp
Labels: GeoMechanics

#13667 [OptApp] Making the Convergence Criteria to be modular.
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_gradient_projection.py
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_relaxed_gradient_projection.py
  applications/OptimizationApplication/python_scripts/algorithms/algorithm_steepest_descent.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_constraint.py
  applications/OptimizationApplication/python_scripts/algorithms/standardized_rgp_constraint.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/avg_abs_improvement_conv_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/combined_conv_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/constraint_conv_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/convergence_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/l2_conv_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/magnitude_reduction_conv_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/max_iter_conv_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/patience_conv_criterion.py
  applications/OptimizationApplication/python_scripts/convergence_criteria/target_value_conv_criterion.py
  applications/OptimizationApplication/python_scripts/utilities/logger_utilities.py
  applications/OptimizationApplication/python_scripts/utilities/opt_convergence.py
  applications/OptimizationApplication/python_scripts/utilities/optimization_problem_utilities.py
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_gradient_projection/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_gradient_projection/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_nesterov_accelerated_gradient/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_relaxed_gradient_projection/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_relaxed_gradient_projection/summary_orig.csv
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/analysis_based_tests/algorithm_steepest_descent_qnbb/optimization_parameters.json
  applications/OptimizationApplication/tests/algorithm_tests/test_algorithm_steepest_descent.py
  applications/OptimizationApplication/tests/algorithm_tests/test_convergence.py
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification/optimization_parameters.json
  applications/SystemIdentificationApplication/tests/auxiliary_files/system_identification_p_norm/optimization_parameters.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files/optimization_parameters_p_norm.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_2/optimization_parameters_p_norm.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_3/optimization_parameters_p_norm.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_4/optimization_parameters_p_norm.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_5/optimization_parameters_p_norm.json
  applications/SystemIdentificationApplication/tests/responses/auxiliary_files_6/optimization_parameters_p_norm.json
Labels: Applications, Python, Refactor

#13655 [Core] Add EffectiveEquationId to dof.h
  kratos/includes/dof.h
  kratos/python/add_dofs_to_python.cpp
  kratos/tests/cpp_tests/sources/test_dof.cpp
  kratos/tests/test_dofs.py
Labels: Enhancement, Kratos Core

#13677 [GeoMechanicsApplication] Improved handling of unit tests that need to run conditionally
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_incremental_linear_elastic_3D_law.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_constitutive/test_incremental_linear_elastic_plane_strain_2D_law.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_utilities/test_constitutive_law_utilities.cpp
  applications/GeoMechanicsApplication/tests/cpp_tests/custom_utilities/test_equation_of_motion.cpp
Labels: GeoMechanics

#13687 SBM: Fix bug on snake process
  applications/IgaApplication/custom_processes/snake_sbm_process.cpp
  applications/IgaApplication/tests/cpp_tests/test_snake_sbm_process.cpp
  applications/IgaApplication/tests/test_modelers_sbm.py
Labels: FastPR, Bugfix

#13691 [SIApp] Adding SENSOR_COMPUTED_VALUE variable
  applications/SystemIdentificationApplication/custom_python/system_identification_python_application.cpp
  applications/SystemIdentificationApplication/system_identification_application.cpp
  applications/SystemIdentificationApplication/system_identification_application_variables.cpp
  applications/SystemIdentificationApplication/system_identification_application_variables.h
Labels: FastPR
